<div class="contentsection">
    <div class="row mb-0 mr-0 pt-2">
      <div class="col-6 pl-0">
        <div class="outer" style="min-height: 300px;">
          <h6 style="text-align:center"><b class="charthead"> Maintenance Work Trends (Last 6 Months) </b></h6>
          <p style="text-align: right; margin-top: -25px;" class="link"
            (click)="getDetials('Tmgreport/GetMaintainanceworktrend',{totalrecord: 3,stepno: 2},180,'days')"><i
              title="More Details" class="fa fa-list"></i>
          </p>
          <!-- <chart [type]="chart.type" [data]="chart.data" style="margin-right:5px;min-height: 350px;max-height: 350px;"
            [options]="chart.options"></chart> -->
          <!-- <chart *ngIf="chart.type" [type]="chart.type" [data]="chart.dataSet"
            style="margin-right:5px;min-height: 300px;max-height: 300px;" [options]="chart.options">
          </chart> -->
          <chart [type]="chart5.type" [data]="chart5.data" style="margin-right:5px;min-height: 350px;max-height: 350px;"
          [options]="chart5.options" (clickElement)="chart5Clicked($event)"></chart>
        </div>
        <div class="row mt-3 mr-0">
          <div class="col-6 p-1">
            <div class="outer" style="min-height: 130px;">
              <h6 style="text-align:center"><b class="charthead">Vehicle with Maint. Delay (Most Aged)</b></h6>
              <p style="text-align: right; margin-top: -25px;" class="link"
                (click)="getDetials('Tmgreport/GetMaintainancevehicledelay',{totalrecord: 3,stepno: 2},90,'days')"><i
                  title="More Details" class="fa fa-list"></i>
              </p>
              <table class="table">
                <thead class="thead">
                  <th>Reg No.</th>
                  <th>Due Date</th>
                  <th>Maint Type</th>
                </thead>
                <tbody class="tbody">
                  <tr *ngFor="let cma of challansMostAged">
                    <td  class="link"
                    (click)="getDetials('Tmgreport/GetMaintainancevehicledelay',{totalrecord: 3,stepno:3,xid:cma['_vid']},90,'days')">{{cma['Reg No']}}</td>
                    <td>{{cma['Due date']}}</td>
                    <td>{{cma['Maint Type']}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-6 p-1">
            <div class="outer" style="min-height:130px;">
              <h6 style="text-align:center"><b class="charthead">Vehicles in Maintenance (Max. Dur.)</b></h6>
              <p style="text-align: right; margin-top: -25px;" class="link"
                (click)="getDetials('Tmgreport/GetVehicleMaintainancelongperiod',{totalrecord: 3,stepno: 2},180,'days')"><i
                  title="More Details" class="fa fa-list"></i>
              </p>
              <table class="table">
                <thead class="thead">
                  <th>Reg No</th>
                  <th>Start Date</th>
                  <th>Location</th>
                </thead>
                <tbody class="tbody">
                  <tr *ngFor="let cl of challansLatest">
                    <td class="link"
                    (click)="getDetials('Tmgreport/GetVehicleMaintainancelongperiod',{totalrecord: 3,stepno:3,xid:cl['_vid']},180,'days')">{{cl['Reg No']}}</td>
                    <td>{{cl['Start Date']}}</td>
                    <td>{{cl['Location']}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
  
        </div>
      </div>
      <div class="col-6 pl-0 pr-0">
        <div class="outer" style="min-height: 195px;">
          <h6 style="text-align:center"><b class="charthead">Vehicle With Highest Maintenance Cost (Last 90 Days)</b></h6>
          <p style="text-align: right; margin-top: -25px;" class="link"
            (click)="getDetials('Tmgreport/GetVehicleMaintainancereportcost',{totalrecord: 3,stepno: 2},90,'days')"><i
              title="More Details" class="fa fa-list"></i>
          </p>
          <table class="table">
            <thead class="thead">
              <th>Reg NO</th>
              <th>Cost</th>
              
            </thead>
            <tbody class="tbody">
              <tr *ngFor="let csw of challanStateWise">
                <td class="link"
                (click)="getDetials('Tmgreport/GetVehicleMaintainancereportcost',{totalrecord: 3,stepno: 3,xid:csw['_vid']},90,'days')"><b>{{csw['Reg No']}}</b></td>
                <td><b>{{csw['Cost']}}</b></td>
                
              </tr>
            </tbody>
          </table>
        </div>
        <div class="mt-3 outer" style="min-height: 130px;">
          <h6 style="text-align:center"><b class="charthead">Vehicle With Highest Maintenance Count (Last 90 Days)</b></h6>
          <p style="text-align: right; margin-top: -25px;" class="link"
            (click)="getDetials('Tmgreport/GetVehicleMaintainancereportcount',{totalrecord: 3,stepno: 2},90,'days')"><i
              title="More Details" class="fa fa-list"></i>
          </p>
          <table class="table">
            <thead class="thead">
              <th>Reg No</th>
              <th> Count</th>
            </thead>
            <tbody class="tbody">
              <tr *ngFor="let cdc of challansdrivarcount">
                <td class="link"
                (click)="getDetials('Tmgreport/GetVehicleMaintainancereportcount',{totalrecord: 3,stepno: 3,xid:cdc['_vid']},90,'days')">{{cdc['Reg No']}}</td>
                <td>{{cdc['count']}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="mt-3 outer" style="min-height: 130px;">
          <h6 style="text-align:center"><b class="charthead">Top Workshops (Last 90 Days)</b></h6>
          <p style="text-align: right; margin-top: -25px;" class="link"
            (click)="getDetials('Tmgreport/GetVehicleMaintainancereportworkshopcost',{totalrecord: 3,stepno: 2},90,'days')"><i
              title="More Details" class="fa fa-list"></i>
          </p>
          <table class="table">
            <thead class="thead">
              <th>Work Shop</th>
              <th>Vehicle Serviced</th>
              <th>Service Amount</th>
            </thead>
            <tbody class="tbody">
              <tr *ngFor="let cda of challansdrivaramount">
                <td class="link"
                (click)="getDetials('Tmgreport/GetVehicleMaintainancereportworkshopcost',{totalrecord: 3,stepno: 3,xid:cda['Workshop']},90,'days')">{{cda['Workshop']}}</td>
                <td>{{cda['Vehicle Serviced']}}</td>
                <td>{{cda['Cost']}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>