<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">PrintMainfest</h5>
  <span (click)="onPrint()" class="doNotPrint print-icon"><i class="fa fa-print"></i></span>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="printMainfest">
    <div class="row">
      <div class="col-4" style="border: 1px solid black">
        <label>{{printDetails.logo}}</label>
      </div>
      <div class="col-8">
        <h3>{{printDetails.companyName}}</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <label>Challan No:</label>
        <label>{{printDetails.challanNo}}</label>
      </div>
      <div class="col-6">
        <p>{{printDetails.address}}
        </p>
      </div>
      <div class="col-3">
        <label>Date:</label>
        <label class="infoData">{{printDetails.date}}</label>
      </div>
    </div>

    <div class="details">
      <div class="row">
        <div class="col-4">
          <label>Truck No.</label>
          <label class="infoData">{{printDetails.truckNo}}</label>
        </div>
        <div class="col-4">
          <label>From</label>
          <label class="infoData">{{printDetails.from}}</label>
        </div>
        <div class="col-4">
          <label>To</label>
          <label class="infoData">{{printDetails.to}}</label>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label>Owner</label>
          <label class="infoData">{{printDetails.owner}}</label>
        </div>
        <div class="col-4">
          <label>Mobile</label>
          <label class="infoData">{{printDetails.ownerMobile}}</label>
        </div>
        <div class="col-4">
          <label>Owner Pan</label>
          <label class="infoData">{{printDetails.ownerPan}}</label>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <label>Driver</label>
          <label class="infoData">{{printDetails.driver}}</label>
        </div>
        <div class="col-3">
          <label>Mobile</label>
          <label class="infoData">{{printDetails.driverMobile}}</label>
        </div>
        <div class="col-3">
          <label>Broker</label>
          <label class="infoData">{{printDetails.broker}}</label>
        </div>
        <div class="col-3">
          <label>Mobile</label>
          <label class="infoData">{{printDetails.brokerMobile}}</label>
        </div>
      </div>


      <div class="table">
        <table class="table-bordered table-hover table-scroll" id="printMainfest">
          <thead class="thead">
            <tr>
              <th>#</th>
              <th>Date</th>
              <th>Consignor</th>
              <th>Consingee</th>
              <th>Bilty No.</th>
              <th>Station</th>
              <th>Pkg.</th>
              <th>Weight Kg.</th>
              <th>TBB</th>
            </tr>
          </thead>
          <tbody>

            <!-- <tr *ngFor="let usage of cardUsage; let i = index"> -->
            <tr>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>



            </tr>

          </tbody>

          <tbody>
            <tr>

              <td> Total Freight</td>
              <td>Advance</td>
              <td>Other</td>
              <td>Balance</td>

            </tr>
          </tbody>

          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>

      </div>




    </div>


  </div>


</div>
<div class="modal-footer">
  <div class="footer" style="text-align:right;"><button class="btn btn-primary" (click)="print()">Print</button>
  </div>
</div>