<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">Get Voucher Type</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="col-sm-6">
    <div class="container">
      <app-image-viewer [images]="images" [idContainer]="'idOnHTML'" [loadOnInit]="true">
      </app-image-viewer>
    </div>
  </div>
  <div class="row" style="margin-bottom: 15px">
    <div class="col-4">
      <label>Fo Name</label>
    </div>
    <div class="col-4">
      <label>{{FoName}}</label>
    </div>
  </div>
  <div class="row" style="margin-bottom: 15px">
    <div class="col-4">
      <label>Vehicles</label>
    </div>
    <div class="col-4">
      <auto-suggestion (onSelected)="getvehicleData($event)" url="Suggestion/getVehicleList"
        [preSelected]="{regno:vehRegistrationNo}" display="regno" placeholder="Enter Reg Number">
      </auto-suggestion>
    </div>
  </div>
  <div class="row" style="margin-bottom: 15px">
    <div class="col-4">
      <label>Voucher Type</label>
    </div>
    <div class="col-4">

      <auto-suggestion [data]="voucherList" display="name" (onSelected)="changeRefernceType($event)"
        [preSelected]="voucherType" inputId="itemId">
      </auto-suggestion>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="UpdateVoucher()">UPDATE</button>
    </div>
  </div>
</div>