<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">Get Voucher Type</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="!modaltype">
  <div class="col-sm-6" *ngIf="images && images.length">
    <div class="container">
      <jrx-image-viewer [images]="images" [idContainer]="'idOnHTML'" [loadOnInit]="true" *ngIf="images.length">
      </jrx-image-viewer>
    </div>
  </div>
  <div class="row" style="margin-bottom: 15px">
    <div class="col-4">
      <label>Fo Name</label>
    </div>
    <div class="col-4">
      <label>{{voucher.FoName}}</label>
    </div>
  </div>
  <div class="row" style="margin-bottom: 15px">
    <div class="col-4">
      <label>Vehicles Type</label>
    </div>
    <div class="col-4">
      <select class="form-control" name="dropDown" id="dropDown" [(ngModel)]="voucher.vehicleTypes"
        (change)="handleVehicleTypeChange()">
        <option *ngFor="let type of vehicleType" [value]="type.id">
          {{type.name}}
        </option>
      </select>
    </div>
  </div>
  <div class="row" style="margin-bottom: 15px">
    <div class="col-4">
      <label>Vehicles</label>
    </div>
    <div class="col-4" *ngIf="voucher.vehicleTypes==0; else marketType">
      <auto-suggestion (onSelected)="selectedVehicle($event)" url="Suggestion/getVehicleList"
        [preSelected]="{regno:voucher.vehRegistrationNo}" inputId="vehicleId" display="regno"
        placeholder="Enter Reg Number">
      </auto-suggestion>
    </div>
    <ng-template #marketType>
      <div class="col-4">
        <input type="text" class="form-control" placeholder="Enter Regno" [(ngModel)]="voucher.vehRegistrationNo">
      </div>
    </ng-template>
  </div>
  <div class="row" style="margin-bottom: 15px">
    <div class="col-4">
      <label>Voucher Type</label>
    </div>
    <div class="col-4">

      <auto-suggestion [data]="voucherList" display="name" (onSelected)="changeRefernceType($event)"
        [preSelected]="{name:voucher.voucherType}" inputId="itemId">
      </auto-suggestion>
    </div>
  </div>
</div>
<div class="modal-footer" *ngIf="!modaltype">
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="UpdateVoucher()">UPDATE</button>
    </div>
  </div>
</div>
<div class="modal-body" *ngIf="modaltype">
  <div class="col-sm-6" *ngIf="images && images.length">
    <div class="container">
      <jrx-image-viewer [images]="images" [idContainer]="'idOnHTML'" [loadOnInit]="true" *ngIf="images.length">
      </jrx-image-viewer>
    </div>
  </div>
  <div class="row" style="margin-bottom: 15px">
    <div class="col-4">
      <label>Reg No</label>
    </div>
    <div class="col-4">
      <label>{{voucher.vehRegistrationNo}}</label>
    </div>
  </div>
  <div class="row" style="margin-bottom: 15px">
    <div class="col-4">
      <label>Voucher Type</label>
    </div>
    <div class="col-4">
      {{voucher.voucherType}}
    </div>
  </div>
  <div class="row" style="margin-bottom: 15px" *ngIf="voucher.voucherID!=-7">
    <div class="col-4">
      <label>RefType</label>
    </div>
    <div class="col-4">
      <select class="form-control" (change)="getReferenceTypeSelection()" [(ngModel)]="refId">
        <option *ngFor="let status of refDetails" [value]="status.id">
          {{status.name}}

        </option>
      </select>
    </div>
  </div>
  <div class="row" style="margin-bottom: 15px" *ngIf="voucher.voucherID!=-7 && refId">
    <div class="col-4">
      <label>Ref Name</label>
    </div>
    <div class="col-6 auto" *ngIf="refId==11">
      <auto-suggestion [data]="refdata" display="source_dest" (onSelected)="onSelectedRefernce($event)"
        inputId="itemId">
      </auto-suggestion>
    </div>
    <div class="col-6 auto" *ngIf="refId==12">
      <auto-suggestion [data]="refdata" display="source_dest" (onSelected)="onSelectedRefernce($event)"
        inputId="itemId">
      </auto-suggestion>
    </div>
    <div class="col-6 auto" *ngIf="refId==14">
      <auto-suggestion [data]="refdata" display="source_dest" (onSelected)="onSelectedRefernce($event)"
        inputId="itemId">
      </auto-suggestion>
    </div>
  </div>
</div>
<div class="modal-footer" *ngIf="modaltype">
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="uploadVoucher()">MAP</button>
    </div>
  </div>
</div>