<nb-card style="border:0px;">
  <nb-card-header>
    <div class="row">
      <div class="col-8">
        <h5>Call Suggestion</h5>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-4" style="cursor:pointer;" (click)=" dis_all = '51';  getReportdata(dis_all)">
        <div class="col-sm-12 divstyleOnboarding">
          <label style="font-size:22px;text-align:center;font-weight:500;color:black;width:100%;padding-top:5px;">Onward</label>
          <div class="row" style="padding-bottom:15px;">
          <table class="tablestyle">
            <tr><td style="color:black;font-size:18px;font-weight:500">Total</td><td style="color:black;font-size:18px;font-weight:500">{{onwardTotal}}</td></tr>
            <tr><td style="color:black;font-size:18px;font-weight:500">Delay</td><td style="color:black;font-size:18px;font-weight:500">{{onwardDelay}}</td></tr>
          </table>
        </div>
        </div>
      </div>
      <div class="col-sm-4" style="cursor:pointer;" (click)=" dis_all = '11';getReportdata(dis_all)">
        <div class="col-sm-12 divstyleLoading">
          <label style="font-size:22px;text-align:center;font-weight:500;color:black;width:100%;padding-top:5px;">Loading</label>
          <div class="row" style="padding-bottom:15px;">
            <table class="tablestyle">
              <tr><td style="color:black;font-size:18px;font-weight:500">Total</td><td style="color:black;font-size:18px;font-weight:500">{{loadingTotal}}</td></tr>
              <tr><td style="color:black;font-size:18px;font-weight:500">Delay</td><td style="color:black;font-size:18px;font-weight:500">{{loadingDelay}}</td></tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-4" style="cursor:pointer;" (click)=" dis_all = '21';  getReportdata(dis_all)">
        <div class="col-sm-12 divstyleUnloading">
          <label style="font-size:22px;text-align:center;font-weight:500;color:black;width:100%;padding-top:5px;">Unloading</label>
          <div class="row" style="padding-bottom:15px;">
            <table class="tablestyle">
              <tr><td style="color:black;font-size:18px;font-weight:500">Total</td><td style="color:black;font-size:18px;font-weight:500">{{unloadingTotal}}</td></tr>
              <tr><td style="color:black;font-size:18px;font-weight:500">Delay</td><td style="color:black;font-size:18px;font-weight:500">{{unloadingDelay}}</td></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <ul class="tabs_style">
          <li [ngClass]="dis_all == 'dcs' ? 'active' : '' " id="dis-all"
            (click)=" dis_all = 'dcs'; getReportdata(dis_all); ">
            Driver Call Suggestion
          </li>
          <li [ngClass]="dis_all == '11' ? 'active' : '' " (click)=" dis_all = '11';  getReportdata(dis_all)">
            Long Loading
          </li>
          <li [ngClass]="dis_all == '51' ? 'active' : '' " (click)=" dis_all = '51';  getReportdata(dis_all)">
            Onward Trip Delay
          </li>
          <li [ngClass]="dis_all == '21' ? 'active' : '' " (click)=" dis_all = '21'; getReportdata(dis_all)">
            Long UnLoading
          </li>
          <li [ngClass]="dis_all == 'pdf' ? 'active' : '' " (click)=" dis_all = 'pdf'; getReportdata(dis_all)">
            Placement Delay Faults
          </li>
          <li [ngClass]="dis_all == 'st' ? 'active' : '' " (click)=" dis_all = 'st'; getReportdata(dis_all)">
            Short Target
          </li>
          <li [ngClass]="dis_all == 'es' ? 'active' : '' " (click)=" dis_all = 'es'; getReportdata(dis_all)">
            Empty Stoppage
          </li>

        </ul>
      </div>
      <div class="col-md-3" *ngIf="dis_all == 'dcs'">
        <div class="row">
          <div class="col-md-3 pr-0">
            <label style="margin-top:8px">KM/Day:</label>
          </div>
          <div class="col-md-5">
            <input type="text" class="form-control" id="txtkmpd" name="txtkmpd" placeholder="Kmpd" [(ngModel)]="kmpdval"
              value="this.kmpdval" maxlength=3 />
          </div>
          <div class="col-md-4 pl-0">
            <button type="submit" class="btn btn-primary " style="cursor: pointer;"
              (click)=" getReportdata(dis_all)">Submit</button>
          </div>
        </div>
      </div>
      <div class="col-md-3" *ngIf="dis_all == '11' || dis_all == '21' || dis_all == '51' || dis_all == 'es' ">
        <div class="row">
          <div class="col-md-4 pr-0">
            <select class="w-100" [(ngModel)]="hoursType">
              <option value='hrs'>Hours</option>
              <option value='days'>Days</option>
            </select>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" id="txthrs" name="txthrs" placeholder="Hours" [(ngModel)]="hours"
              value="this.hours" maxlength=2 />
          </div>
          <div class="col-md-4 pl-0">
            <button type="submit" class="btn btn-primary " style="cursor: pointer;"
              (click)=" getReportdata(dis_all)">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="dis_all == 'dcs'">
      <smart-table *ngIf="driverData.length" [data]="table.data" [settings]="table.settings" id="tblsuggestions">
      </smart-table>
    </div>

    <div *ngIf="dis_all == '51'">
      <smart-table *ngIf="onwardDelayData.length" [data]="table2.data" [settings]="table2.settings"
        id="tblsuggestions2">
      </smart-table>
    </div>

    <div *ngIf="dis_all == 'pdf'">
      <smart-table *ngIf="delayFaults.length" [data]="table3.data" [settings]="table3.settings" id="tblsuggestions3">
      </smart-table>
    </div>

    <div *ngIf="dis_all == 'st'">
      <smart-table *ngIf="shortTarget.length" [data]="table4.data" [settings]="table4.settings" id="tblsuggestions4">
      </smart-table>
    </div>

    <div *ngIf="dis_all == '11'">
      <smart-table *ngIf="longUnLoading && longLoading.length" [data]="table5.data" [settings]="table5.settings"
        id="tblsuggestions5">
      </smart-table>
    </div>

    <div *ngIf="dis_all == '21'">
      <smart-table *ngIf="longUnLoading && longUnLoading.length" [data]="table6.data" [settings]="table6.settings"
        id="tblsuggestions6">
      </smart-table>
    </div>

    <div *ngIf="dis_all == 'es'">
      <smart-table *ngIf="emptyStoppageData && emptyStoppageData.length" [data]="tableES.data" [settings]="tableES.settings"
        id="tblsuggestions7">
      </smart-table>
    </div>
  </nb-card-body>
</nb-card>