:host ::ng-deep.blue {
    color: blue;
    font-weight: 700;
}
nb-card-header{
    padding: 10px 15px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}
.btn.btn-primary {
    padding: 8px 15px;
    text-transform: capitalize;
    border-radius: 5px;
    border: 0px;
    width: 100%;
}
:host ::ng-deep .tableFixHead{
    max-height: calc(100vh - 198px);
    height: auto !important;
}
.tabs_style{
    width: 100%;
    margin: 0px;
    border-bottom: 2px solid #26A69A;
    margin-bottom: 10px;
    padding-left: 5px !important;
    li.active{
    background-color: #fff;
    color: #26A69A;
    position: relative;
    }
    li.active:after{
        content: '';
        display: block;
        background-color: #fff;
        height: 10px;
        width: 100%;
        position: absolute;
        left: 0px;
    }
    li{
        padding: 5px 6px;
        list-style: none;
        margin-right: 5px;
        background-color: #26A69A;
        border: 2px solid #26A69A;
        color: #fff;
        border-bottom: 0px;
        display: inline-block;
        border-radius: 5px 5px 0px 0px;
        font-size: 12px;
        font-weight: normal;
        cursor: pointer;
    }
}
.icon{
    padding: 4px;
    margin-left: 2px;
}
:host ::ng-deep .tableFixHead table td i{
    margin-right: 5px;
}

.divstyleOnboarding{
    height:auto;
    margin-bottom: 10px;
    // box-shadow: inset 0px 0px 5px 6px lightgreen;
    padding-bottom:10px;
    border-radius:10px;
    background: #E3DAFF;
    border-style: double;
    border-color: white;
    border-width: 9px;
    
}

.divstyleLoading{
    height:auto;
    margin-bottom: 10px;
    // box-shadow: inset 0px 0px 5px 6px lightsalmon;
    padding-bottom:10px;
    border-radius:10px;
    background: #FCCCA9;
    border-style: double;
    border-color: white;
    border-width: 9px;
}

.divstyleUnloading{
    height:auto;
    margin-bottom: 10px;
    // box-shadow: inset 0px 0px 5px 6px lightblue;
    padding-bottom:10px;
    border-radius:10px;
    background:#DBF3FA;
    border-style: double;
    border-color: white;
    border-width: 9px;
}

.tablestyle{
    width: 86%;
    margin-left: 7%;
    // box-shadow: 2px 2px 2px cyan;
    // box-shadow: inset 0px 0px 4px 3px lightgrey;
    // box-shadow: 2px 2px 10px 1px;
    border-radius:5px;
}

.tablestyle tr td{
    padding:6px!important;
}