<nb-card>
  <nb-card-header>
    ADD CUSTOMER
  </nb-card-header>
  <nb-card-body>
    <div class="container">
      <div class="row">
        <div class="col-3">
          <button class="btn btn-primary" id="button" (click)="open()">Add Vehicle</button>
        </div>
        <div class="col-3">
          <button class="btn btn-primary" id="button" (click)="addFoAdminUser()">FoAdminUser</button>
        </div>
        <div class="col-3">
          <auto-suggestion (onSelected)="selectLocation($event)" url="Location/getPlaceFromRedis?input=kota"
            display="location" id="name" placeholder="Location" [preSelected]="location"></auto-suggestion>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <button type="button" class="btn btn-primary" (click)="locationSelection()" name="button">i</button>
        </div>
      </div>
    </div>