<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">{{title}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <form enctype="multipart/form-data" #myForm="ngForm" id="site-form" name="site-form">
      <div class="row">
        <div class="col-md-6">
          <label>Fo User<span>*</span></label>
        </div>
        <div class="col-md-6" *ngIf="status!=1">
          <auto-suggestion (onSelected)="selectFoUser($event)" url="Suggestion/getFoUsersList" display="name"
            placeholder="Fo User" [preSelected]="null"></auto-suggestion>
          <div class="suggestions ng-star-inserted">
          </div>
        </div>
        <div class="col-md-6" *ngIf="status==1">
          <label *ngIf="status==1">{{addSite.foname}}</label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label>PreSit Name</label>
        </div>
        <div class="col-md-6" *ngIf="status!=1">
          <select name="list" class="form-control mb-2" (change)="selectList($event.target.value)"
            [(ngModel)]="refTypePre">
            <option class="form-control" [value]="1">Site</option>
            <option class="form-control" [value]="2">TransArea</option>
          </select>

          <div *ngIf="refTypePre==1; else TransArea">
            <auto-suggestion (onSelected)="addSite.preSiteId = $event.id" url="Suggestion/getSites?typeId=1"
              seperator="-" [display]="['name','sd_loc_name']" placeholder="Search Presite" [preSelected]="null">
            </auto-suggestion>
            <div class="suggestions ng-star-inserted">
            </div>
          </div>
          <ng-template #TransArea>
            <auto-suggestion (onSelected)="addSite.preSiteId = $event.id" url="Suggestion/getTransArea?typeId=1"
              display="loc_name" placeholder="Search Presite" [preSelected]="null">
            </auto-suggestion>
            <div class="suggestions ng-star-inserted">
            </div>
          </ng-template>

        </div>
        <div class="col-md-6" *ngIf="status==1">
          <div *ngIf="refTypePre==1;">
            <label>Site</label>
            <auto-suggestion (onSelected)="addSite.preSiteId = $event.id" url="Suggestion/getSites?typeId=1"
              seperator="-" [display]="['name','sd_loc_name']" placeholder="Search pre..."
              [preSelected]="{name:preSite.preSiteName,sd_loc_name:preSite.preStieLocName}"></auto-suggestion>
            <div class="suggestions ng-star-inserted">
            </div>
          </div>

          <div *ngIf="refTypePre==2;">
            <label>TransArea</label>
            <auto-suggestion (onSelected)="addSite.preSiteId = $event.id" url="Suggestion/getTransArea?typeId=1"
              display="loc_name" placeholder="Search 123" [preSelected]="{loc_name:preSite.preSiteName}">
            </auto-suggestion>
            <div class="suggestions ng-star-inserted">
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label>CurrentSite Name<span>*</span></label>
        </div>
        <div class="col-md-6" *ngIf="status!=1">
          <select name="listType" class="form-control mb-2" (change)="selectListType($event.target.value)"
            [(ngModel)]="refTypeCur">
            <option class="form-control" [value]="1">Site</option>
            <option class="form-control" [value]="2">TransArea</option>
          </select>

          <div *ngIf="refTypeCur==1; else CurrentTransArea">
            <auto-suggestion (onSelected)="addSite.currSiteId = $event.id" url="Suggestion/getSites?typeId=1"
              seperator="-" [display]="['name','sd_loc_name']" placeholder="Search CurrentSite" [preSelected]="">
            </auto-suggestion>
            <div class="suggestions ng-star-inserted">
            </div>
          </div>

          <ng-template #CurrentTransArea>
            <auto-suggestion (onSelected)="addSite.currSiteId = $event.id" url="Suggestion/getTransArea?typeId=1"
              display="loc_name" placeholder="Search CurrentSite" [preSelected]="null">
            </auto-suggestion>
            <div class="suggestions ng-star-inserted">
            </div>
          </ng-template>

        </div>
        <div class="col-md-6" *ngIf="status==1">
          <div *ngIf="refTypeCur==1;">
            <label>Site</label>
            <auto-suggestion (onSelected)="addSite.currSiteId = $event.id" url="Suggestion/getSites?typeId=1"
              seperator="-" [display]="['name','sd_loc_name']" placeholder="Search ."
              [preSelected]="{name:currSite.currSiteName,sd_loc_name:currSite.currStieLocName}">
            </auto-suggestion>
            <div class="suggestions ng-star-inserted">
            </div>
          </div>

          <div *ngIf="refTypeCur==2;">
            <label>TransArea</label>
            <auto-suggestion (onSelected)="addSite.currSiteId = $event.id" url="Suggestion/getTransArea?typeId=1"
              display="loc_name" placeholder="Search .." [preSelected]="{loc_name:currSite.currSiteName}">
            </auto-suggestion>
            <div class="suggestions ng-star-inserted">
            </div>
          </div>


        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label>Material Name</label>
        </div>
        <div class="col-md-6">
          <auto-suggestion (onSelected)="searchMaterialType($event)" url="Suggestion/GetMaterialTypes" display="name"
            placeholder="Material Name" [preSelected]="{name:addSite.materialName}"></auto-suggestion>
          <div class="suggestions ng-star-inserted">
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <label>Body Type</label>
        </div>
        <div class="col-md-6">
          <select name="body" class="form-control " [(ngModel)]="addSite.selectedBodyTypeId" (ngModel)="selectBody()">
            <option class="form-control" *ngFor="let body of bodyType" [value]="body.id">{{body.name}}</option>

          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label>Rule Type<span>*</span></label>
        </div>
        <div class="col-md-6">
          <select name="rule" class="form-control " [(ngModel)]="addSite.ruleTypeId" (ngModel)="selectRule()">
            <option class="form-control" *ngFor="let rule of ruleType" [value]="rule.id">{{rule.name}}</option>

          </select>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col">
      <button class="btn btn-danger" type="button" outline (click)="closeModal(false)" id="cancel"
        style="cursor: pointer;">close</button>
    </div>

    <div class="col text-right">
      <button class="btn btn-primary" form="site-form" type="submit" outline (click)="submit()" id="submit"
        style="cursor: pointer;">Submit</button>
    </div>

  </div>
</div>