<nb-card>
  <nb-card-header>
    <h2>Vehicle Documentation-details</h2>
    <hr>
  </nb-card-header>

  <nb-card-body>

    <div class="container">
      <form>
        <div class="row">
          <div class="col-md-6 offset-md-1">
            <label>Vehicle No:</label>
            <div class="col-md-6">
            <auto-suggestion (onSelected)="getvehicleData($event)" url="Suggestion/getVehicleList" display="regno"
              placeholder="Enter Vehicle Number" style="width:20%;"></auto-suggestion>
              </div>
          </div>
          <div class="col-md-6 offset-md-2">
            <button type="submit" class="btn btn-primary" (click)="getDocumentsData()" *ngIf="this.selectedVehicle">Add Document</button>
          </div>
        </div>
      </form>
    </div>
    <div class="table" *ngIf="this.selectedVehicle">
      <table class="table table-bordered table-hover">
        <thead class="thead">
          <tr>
            <th>Sr No</th>
            <th>Vehicle No</th>
            <th>Doucument_Type</th>
            <th>Agent_Name </th>
            <th>Issue_Date </th>
            <th>Wef_Date </th>
            <th>Expiry_Date </th>
            <th>Doument_Number </th>
            <th>Remark </th>
          </tr>
        </thead>
        <tbody>
           <tr *ngFor="let doc of data; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{doc.regno}}</td>
            <td>{{doc.document_type}}</td>
            <td>{{doc.agent}}</td>
           <td>{{doc.issue_date}}</td>
            <td>{{doc.wef_date}}</td> 
            <td>{{doc.expiry_date}}</td>
            <td>{{doc.document_number}}</td> 
            <td>{{doc.remarks}}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </nb-card-body>


</nb-card>