<nb-card style=" height: 100%; margin:0px; padding-top: 0px; border: 0px;">
  <nb-card-body style="padding-bottom: 0px;">
    <div class=" container">
      <div class="row">
        <form class="w-100">
          <div class="row">
            <div class="col-md-2 pr-0">
              <auto-suggestion (onSelected)="getvehicleData($event)" url="Vehicles/getVehicleListForFoid"
                display="regno" placeholder="Enter Vehicle Number" style="width:60%;"></auto-suggestion>
            </div>
            <div class="col-md-2 offset-md-08">
              <button type="submit" class="btn btn-primary" *ngIf="user.permission.add" (click)="addDocument()">
                Add Document
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <smart-table class="document-details" *ngIf="data.length" [data]="table.data" [settings]="table.settings"
      id="tblVehDocs"></smart-table>
  </nb-card-body>
</nb-card>