<div class="col-md-12" class="vehicleTrip" id="vehicleTrip" style="display: none">
    <form method="get" id="vehicleTripForm">
    <input type="hidden" id="vehicleTripId" name="vehicleStatusChangeId" />
    <input type="hidden" id="vehTripId" name="vehTripId" />
  
    <div class="col-md-12" style="margin-top:5px">
    vehicle Regno
      <input id="vehicleTripRegNo" name="vehRegNo"  type="text"  placeholder="Vehicle Reg No" autocomplete="off" class="form-control" readonly>
      <input id="vehicleTripVehId" name="vehicleId" type="hidden" class="form-control"
             style="text-align: left" placeholder="vehicleId" style="display:none">
    </div>
  
   <div class="col-md-12" style="margin-top:5px" >
   Start Time
     <input type="text" id="vehicleTripstarttime" class="form-control" name="startTime" placeholder = "Entry Time" autocomplete="off" readonly >
   </div>
   <div class="col-md-12" style="margin-top:5px">
          <input type="text" class="form-control" id="vehicleTrip_starttrip" name="startTrip" placeholder="Start Name">
          <input id="vehicleTrip_start_lat" name="startLat"  class="form-control"
                style="text-align: left" placeholder="Start lat" type="hidden" readonly>
          <input id="vehicleTrip_start_long" name="startLong" class="form-control"
                style="text-align: left" placeholder="Start lng" type="hidden" readonly>
   </div>
   <div class="col-md-12" style="margin-top:5px">
   End Time
     <input type="text" id="vehicleTripendtime" class="form-control" name="endTime" placeholder = "Exit Time" autocomplete="off" readonly >
   </div>
   <div class="col-md-12" style="margin-top:5px"> 
          <input type="text" class="form-control" id="vehicleTrip_endtrip" name="endTrip" placeholder="End Name">
          <input id="vehicleTrip_end_lat" name="endLat"  class="form-control"
                style="text-align: left" placeholder="End lat" type="hidden" readonly>
          <input id="vehicleTrip_end_long" name="endLong" class="form-control"
                style="text-align: left" placeholder="End lng" type="hidden" readonly>
   </div>
      <div class="col-sm-12" style="margin-top:5px">
        <input type = "submit" class="btn btn-info waves-effect waves-light" name = "submit" id = "Okay" value = "Update" style="margin-left:0px;width:47%;text-align:center">
    </div>
    </form>
  </div>
  