<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">Update Placements</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="tabel_one">
    <table class="table table-bordered">
      <thead class="thead">
        <tr>
          <th>Vehicle No.</th>
          <th>Trip Details</th>
          <th>Last Location Time</th>
          <!-- <th>Placement</th>
            <th>Placement Type</th> -->
        </tr>

      </thead>
      <tbody>
        <tr>
          <td><span *ngIf="vehicleStatus && vehicleStatus.regno">{{vehicleStatus.regno}}</span></td>
          <td [innerHTML]="getTripHtml(vehicleStatus.r_trip)"></td>
          <!-- <td><span><span style="color:rgb(25, 97, 25)"
                *ngIf="vehicleStatus && vehicleStatus.loading_point">{{vehicleStatus.loading_point}}</span><span
                style="color:red" *ngIf="vehicleStatus && vehicleStatus.unloading_point"> -
                {{vehicleStatus.unloading_point}}</span></span></td> -->
          <td><span
              *ngIf="vehicleStatus && vehicleStatus.last_loc_time">{{vehicleStatus.last_loc_time | date : 'dd-MMM-yyyy hh:mm a'}}</span>
          </td>
          <!-- <td>{{vehicleStatus.placement}}</td>
            <td>{{vehicleStatus.placement_type}}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tabel_two" *ngIf="placements && placements.length>0">
    <table class="table table-bordered table-hover">
      <thead class="thead">
        <tr>
          <th>#</th>
          <th>Location</th>
          <th>Purpose</th>
          <th>Target Time</th>
          <th>Allowed_Halt (Hr)</th>
          <th>Source</th>
          <th>Add Time</th>
          <th>Delete</th>
        </tr>

      </thead>
      <tbody>
        <tr *ngFor="let placement of placements" style="text-align:center">
          <td>{{placement.id}}</td>
          <td>{{placement.location}}</td>
          <td><span *ngIf="placement.placement_type==11" style="color:green">{{placement.purpose}}</span>
            <span *ngIf="(placement.placement_type!=11)&&(placement.placement_type!=21)">{{placement.purpose}}</span>
            <span *ngIf="placement.placement_type==21" style="color:red">{{placement.purpose}}</span></td>
          <td>{{placement.target_time | date : 'dd-MMM-yyyy hh:mm a'}}</td>
          <td>{{placement.allowed_halt_hours}}</td>
          <td>{{placement.source}}</td>
          <td>{{placement.addtime | date : 'dd-MMM-yyyy hh:mm a'}}</td>
          <td><i class="fa fa-window-close remove" (click)="delete(placement)" aria-hidden="true"></i></td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="tabel_three">
    <!-- <input type="hidden" id="vehTripId" name="vehTripId" [(ngModel)]="vehicleTrip.id" /> -->


    <div class="row" style="margin-top:5px">
      <div class="col-md-4">
        <label>Choose Location</label>
      </div>
      <div style="margin-left:15px">
        <label>
          <input type="radio" [(ngModel)]="vehicleTrip.locationType" value="site" name="locationType"> Site
        </label>
        <label class="radio2">
          <input type="radio" [(ngModel)]="vehicleTrip.locationType" (change)="selecteCity()" value="city"
            name="locationType"> City
        </label>
      </div>
    </div>
    <div class="row" style="margin-top:5px" *ngIf="vehicleTrip.locationType=='site'">
      <div class="col-md-4">
        <label>Enter Site</label>
      </div>
      <div class="col-md-8">
        <auto-suggestion (onSelected)="selectSite($event)" url="Site/getSitesFromRedis?search=" display="name"
          placeholder="Search site"></auto-suggestion>
      </div>
    </div>

    <div class="row" style="margin-top:5px" *ngIf="vehicleTrip.locationType!='site'">
      <div class="col-md-4">
      </div>
      <div class="col-md-8" *ngIf="placementSuggestion.length>0">
        <span *ngFor="let placementSuggestion of placementSuggestion; let i = index">
          <button class="btn btn-primary" (click)="setPlacementDetail(placementSuggestion)" style="margin-bottom:5px"
            *ngIf="placementSuggestion.y_loc_name">
            {{placementSuggestion.y_loc_name}}
          </button>
        </span>
      </div>
      <div class="col-md-4" *ngIf="placementSuggestion.length>0">
        <label>Enter City</label>
      </div>
      <div class="col-md-6">
        <auto-suggestion (onChange)="onChangeAuto($event)" (onSelected)="selectLocation($event)"
          (noDataFound)="takeAction($event)" [isNoDataFoundEmit]="true" url="Location/getPlaceFromRedis"
          display="location" inputId="endname" placeholder="Location" [value]="vehicleTrip.endName"
          [preSelected]='{location:vehicleTrip.endName}'>
        </auto-suggestion>
        <!-- <input type="text" class="form-control" id="vehicleTrip_endtrip" name="endTrip" placeholder="End City"
          [(ngModel)]="vehicleTrip.endName"> -->
        <input id="vehicleTrip_end_lat" name="endLat" class="form-control" style="text-align: left"
          placeholder="End lat" type="hidden" readonly [(ngModel)]="vehicleTrip.endLat">
        <input id="vehicleTrip_end_long" name="endLong" class="form-control" style="text-align: left"
          placeholder="End lng" type="hidden" readonly [(ngModel)]="vehicleTrip.endLng">
      </div>

      <div class="col-md-2">
        <label class="btn btn-primary info_btn" (click)="searchString='----'; takeAction(null);"><i
            class="fa fa-plus"></i></label>
      </div>

    </div>

    <div class="row" style="margin-top:5px">
      <div class="col-md-4"></div>

    </div>


    <div class="row" style="margin-top:5px">
      <div class="col-md-4">
        <label>Purpose </label>
      </div>
      <div class="col-md-8">
        <select [(ngModel)]="vehicleTrip.placementType" class="form-control" style="height:44px">
          <option value="11" selected>Loading</option>
          <option value="21" *ngIf="ref_page!='placements'">UnLoading</option>
          <option value="0" *ngIf="ref_page!='placements'">Others</option>
        </select>
      </div>
    </div>

    <div class="row" style="margin-top:5px">
      <div class="col-md-4">
        <label>Target Time</label>
      </div>

      <div class="col-md-8">

        <input type="text" id="vehicleTripTargetTime" class="form-control" name="targetTime"
          [(ngModel)]="vehicleTrip.targetTime" placeholder="Exit Time" autocomplete="off" (click)="openReminderModal()">
      </div>
    </div>

    <div class="row" style="margin-top:5px">
      <div class="col-md-4">
        <label>Allowed Halts</label>
      </div>

      <div class="col-md-8">

        <input type="text" id="allowedHaltHours" class="form-control" name="allowedHaltHours"
          [(ngModel)]="vehicleTrip.allowedHaltHours" placeholder="Allowed Halt Hours" autocomplete="off"
          (click)="openTimePeriodModal()">
      </div>
    </div>
    <div class="row" style="margin-top:5px">
      <div class="col-md-4">
      </div>

      <div class="col-md-8" *ngIf="this.ref_page == 'kpi'">
        <span>
          <input type="checkbox" id="isnotified" name="isnotified" [(ngModel)]="isNotified">
          Notified Driver
        </span>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="row">
    <div class="col">
      <button class="btn btn-danger m-0" (click)="closeModal()" style="cursor:pointer;">Cancel</button>
    </div>
    <div class="col text-right">
      <button class="btn btn-primary m-0" (click)="updateTrip()" style="cursor:pointer;">Update</button>
    </div>
  </div>
</div>