<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">{{title}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body" style="min-height:500px;">
  <div class="row">
    <div class="col-md-2">
      <!-- <div class="form-group">
        <select class="form-control" [(ngModel)]="typeId">
          <option *ngFor="let typeIdx of typeIds;" [value]="typeIdx.id">{{typeIdx.description}}</option>
        </select>
      </div> -->

      <div class="form-group">
        <button (click)="loadMarkers()" class="btn btn-primary" style="display: inline-block; margin-right: 5px;  ">Load
          Marker</button>
      </div>
      <div class="form-group">
        <label class="fill-elt">Pump Name:</label>
        <input name="name" id="name" [(ngModel)]="name" class="fill-elt form-control" autocomplete="off" />
      </div>
      <div class="form-group">
        <label class="fill-elt">Pump Location:</label>
        <input name="location" id="location" [(ngModel)]="location" [value]="location" class="fill-elt form-control" />
      </div>
      <div class="form-group">
        <label class="fill-elt">Fuel Company:</label>
        <select name="list" class="form-control " (change)="selectCompany($event.target.value)">
          <option class="form-control" [value]="0">None</option>
          <option class="form-control" [value]="1">IOCL</option>
          <option class="form-control" [value]="2">BPCL</option>
          <option class="form-control" [value]="5">HPCL</option>
          <option class="form-control" [value]="6">Reliance</option>
          <option class="form-control" [value]="7">Essar</option>

        </select>
      </div>

      <div class="mb-3">
        <input (keydown.enter)="gotoSingle()" name="name" id="name" [(ngModel)]="position" class="fill-elt form-control"
          autocomplete="off" />
      </div>
      <div *ngIf="pumpname !== null">
        <input name="name" id="name" [value]="pumpname" class="fill-elt form-control" autocomplete="off" readonly />
      </div>


    </div>

    <div class="map col-md-10">
      <div id="map" style="min-height:500px;"></div>
    </div>
  </div>
</div>



<div class="modal-footer">
  <div class="row">
    <div class="col">
      <button class="btn btn-danger" type="button" outline (click)="closeModal(false)" id="cancel"
        style="cursor: pointer;">close</button>
    </div>

    <div class="col text-right">
      <button class="btn btn-primary" type="submit" outline (click)="submitPumpData()" id="submit"
        style="cursor: pointer;">Submit</button>
    </div>

  </div>
</div>