<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">{{title}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body" style="min-height: 250px; ">
  <div class="row">
    <div class="col-sm-6">

      <div class="col-sm-1">
        <label class="fill-elt form-control">Pump Name:</label>
      </div>
      <div class="col-sm-5">
        <input name="name" id="name" [(ngModel)]="name" class="fill-elt form-control" />
      </div>

      <div class="col-sm-1">
        <label class="fill-elt form-control">Pump Location:</label>
      </div>
      <div class="col-sm-5">
        <input name="location" id="location" [(ngModel)]="location" [value]="location" class="fill-elt form-control" />
      </div>

      <div class="col-sm-1">
        <label class="fill-elt">Fuel Company:</label>
      </div>
      <div class="col-sm-5">
        <select name="list" class="form-control " (change)="selectCompany($event.target.value)">
          <option class="form-control" [value]="0">None</option>
          <option class="form-control" [value]="1">IOCL</option>
          <option class="form-control" [value]="2">BPCL</option>
          <option class="form-control" [value]="3">HPCL</option>
        </select>
      </div>


    </div>

    <div class="col-sm-6">


    </div>

  </div>
</div>



<div class="modal-footer">
  <div class="row">
    <div class="col">
      <button class="btn btn-danger" type="button" outline (click)="closeModal(false)" id="cancel"
        style="cursor: pointer;">close</button>
    </div>

    <div class="col text-right">
      <button class="btn btn-primary" type="submit" outline (click)="submitPumpData()" id="submit"
        style="cursor: pointer;">Submit</button>
    </div>

  </div>
</div>