<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">{{title}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="container">
    <form enctype="multipart/form-data" #myForm="ngForm" id="dropDown-form" name="dropDown-form">      
      <div class="row">
        <div class="col-md-4">
          <label>Reason<span></span></label>
        </div>
        <div class="col-md-8">
          <select name="reason" class="form-control" [(ngModel)]="reason.id">
            <option class="form-control" *ngFor="let rule of reason" [value]="rule.id">{{rule.name}}</option>
            
          </select>
        </div>
      </div>
    </form>
  </div>

</div>

<div class="modal-footer">
  <div class="row">
    <div class="col">
      <button class="btn btn-danger" type="button" (click)="closeModal(false)" id="cancel"
        style="cursor: pointer;">{{btn2}}</button>
    </div>
    <div class="col text-right">
      <button class="btn btn-primary" type="submit"  id="submit" (click)="closeModal(true)"
        style="cursor: pointer;">{{btn1}}</button>
    </div>
  </div>
</div>