<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">{{title}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="container">
    <form enctype="multipart/form-data" #myForm="ngForm" id="dropDown-form" name="dropDown-form">
      <div class="form-group">
        <label>Reason<span></span></label>
        <select name="reason" class="form-control" [(ngModel)]="reasonName">
          <option class="form-control" *ngFor="let rule of rules" [value]="rule.name">{{rule.name}}</option>
        </select>
      </div>
    </form>
  </div>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col">
      <button class="btn btn-danger" type="button" (click)="dismiss()" id="cancel"
        style="cursor: pointer;">{{btn2}}</button>
    </div>
    <div class="col text-right">
      <button class="btn btn-primary" type="submit" id="submit" (click)="closeModal(true)"
        style="cursor: pointer;">{{btn1}}</button>
    </div>
  </div>
</div>