<nb-card>
    <nb-card-header>
      <h2>Driver Status Change</h2>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </nb-card-header>
      <nb-card-body>
     <form [formGroup]="driverStatusForm" name="addDriver-form" id="addDriver-form"  (submit)="driverStatusForm.valid && addNewStatus()"> 
        
          <div class="row">
            <div class="col-3">
              <label>{{Regno}}</label>
              </div>
            </div>
            <div class="row mrg-margin-top">
              <div class="col-3">
                <label>Driver Name</label>
              </div>
              <div class="col-3">
                <input type="text" class="form-control" id="name" formControlName="name" autocomplete="off" minlength="3" maxlength="64" placeholder="Driver Name">

              </div>
            </div>
            <div class="row mrg-margin-top">
              <div class="col-3">
                <label>Driver Mobile Number</label>

              </div>
              <div class="col-3">
                  <input type="text" class="form-control" id="mobile-number" autocomplete="off" placeholder="Mobile NO."
                  formControlName="mobileno" minlength="10" required maxlength="10"
                  [ngClass]="{ 'is-invalid': submitted && f.mobileno.errors }">
                <div *ngIf="submitted && f.mobileno.errors" class="invalid-feedback">
                  <div *ngIf="f.mobileno.errors.required">mobileNumber is required</div>
                  <div *ngIf="f.mobileno.errors.minlength ">mobile Number minlength 10</div>
                  <div *ngIf="f.mobileno.errors.maxlength ">mobile Number maxlength 10</div>
                </div>
              </div>
            </div>
            <div class="row mrg-margin-top">
              <div class="col-3">
                  <select class="form-control" formControlName="Status" required [ngClass]="{ 'is-invalid': submitted && f.Status.errors }">
                      <option *ngFor = "let mapping of driverStatus" [value]="mapping.id" >
                        {{mapping.description}}
        
                      </option>
                    </select>
                    <div *ngIf="submitted && f.Status.errors" class="invalid-feedback">
                        <div *ngIf="f.Status.errors.required">Driver Status is required</div>
                      </div>
               </div> 
            </div>
            <div class="row mrg-margin-top">
              <div class="col-3">
                <button class="btn btn-primary" form="addDriver-form" name="submit">ADD</button>
              </div>

              </div>
            
            </form>
            </nb-card-body>
            </nb-card>
          