<nb-card>
    <nb-card-header>
      <h2>Driver Status Change</h2>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </nb-card-header>
    <nb-card-body>
      <form #driverForm="ngForm"id="driver-Form" name="driver-Form" > 
        <div class="row">
          <div class="col-3">
            <label>{{Regno}}</label>
          </div>
        </div>
        <div class="row margin-top-15">
            <div class="col-2">
              <label> Driver Name</label>
            </div>
            <div class="col-3">
              <auto-suggestion (onSelected)="getvehicleData($event)" url="Drivers/getFoDrivers" 
                   display="empname" placeholder="Enter Driver Name"  style="width:60%;"></auto-suggestion>
    
            </div>
            </div>
     
             </form> 
            </nb-card-body>
            </nb-card>
          