<div class="suggestion-container" [formGroup]="searchForm" (keydown)="handleKeyDown($event)">
    <input type="text" autocomplete="off" [formControlName]="controlName || 'search'" name="suggestion-input"
        class="form-control" (input)="getSuggestions()" [ngClass]="className || 'custom-input-1'"
        [(ngModel)]="searchText" [placeholder]="placeholder || 'Enter search text'" [id]="inputId || 'suggestion'"
        [name]="name || 'suggestion'" required>
    <div class="suggestions" *ngIf="showSuggestions && suggestions.length && searchText">
        <p *ngFor="let suggestion of suggestions; let i = index;" class="suggestion"
            [ngClass]="activeSuggestion == i ? 'active-suggestion' : ''" (click)="selectSuggestion(suggestion)">
            {{generateString(suggestion)}}
        </p>
    </div>

    <!-- <div *ngIf="parentForm && f.search.errors" class="invalid-feedback">
        <div *ngIf="f.search.errors.required">Last Name is required</div>
    </div> -->
</div>

<!-- How To Use -->

<!-- <auto-suggestion (onSelected)="selectedUser = $event" url=" Suggestion/getFoAdminList" display="employeename"
placeholder="Enter User Name" [preSelected]="null"></auto-suggestion> -->