.suggestions {
    position: relative;
    height: auto;
    z-index: 9999;
    background: #fff;
    width: 95%;
    margin: 1px 0px 0px 5px;
    padding: 0px 8px 1px 8px;
    font-size: 12px;
    letter-spacing: .5px;
    -webkit-box-shadow: 1px 1px 3px grey;
    box-shadow: 1px 1px 3px grey;
}

.suggestion {
    padding: 5px 0px 1px 0px;
    margin: 1px 0px 3px 1px;
    font-size: 12px;
    list-style: none;
    border-bottom: 1px solid #e2e2e2;
    cursor: pointer;
}

