<div class="suggestion-container">
    <input type="text" autocomplete="off" name="suggestion-input" class="form-control" [(ngModel)]="searchText" (input)="getSuggestions()"
        [ngClass]="className || 'custom-input-1'" [placeholder]="placeholder || 'Enter search text'" [id]="displayId || 'suggestion-id'" required>
    <div class="suggestions" *ngIf="showSuggestions && suggestions.length && searchText">
        <p *ngFor="let suggestion of suggestions" class="suggestion" (click)="selectSuggestion(suggestion)">
            {{generateString(suggestion)}}
        </p>
    </div>
</div>

<!-- How To Use -->

<!-- <auto-suggestion (onSelected)="selectedUser = $event" url=" Suggestion/getFoAdminList" display="employeename"
placeholder="Enter User Name" [preSelected]="null"></auto-suggestion> -->