tr:nth-child(even) {
    background-color:  #d7dee4;
}

.thead{
    color: white;
    font-size: 12px;
    background-color: #263238;
  }
td{
    font-size: 12px;
    font-weight: 500;
    padding:8px;
    
}
.thead-dark{
    color: white;
    font-size: 18px;
    background-color: #263238;
  }
  .arrow{
    font-size: 18px;
    margin: 8px;
}
/* button Css */
.btn{
        background: #f2f2f2;
        font-weight: bold;
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 5px;
        display: inline-block;
        font-size: 14px;
        text-align: center;
        height: 30px;
        line-height: 5px;
        border-radius: 4px;
        font-family: Exo;
        color: #000;
        cursor: pointer;
 }
/*  Cancel button css */
.btn.btn-danger{
    background-color: #da2240;
    color: white;
    background-color: #f05e77;
}
.btn.btn-danger:hover,
.btn.btn-danger:active,
.btn.btn-danger:focus{
    background-color: #e22242;
}
/* submit Button Css */
.btn.btn-primary{
    background-color: #3c6ac7;
     color: #fff;
     background-color: #73a1ff;
}
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus{
    background-color: #0054ff;
}
 /* Default Button css */
.btn.btn-default.btn-sm{
    float: right;
    margin-right: 50%;
    background: #dcd9d9;
    color: black;
    font-size: 12px;
}
 .nb-theme-corporate .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 4em;
    height: 2em
 }
 
 ::-webkit-scrollbar-track-piece {
    background: #ccc
 }
 
 nb-card-body ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
 }
 .nb-theme-corporate nb-card ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
 }
 nb-card-body ::-webkit-scrollbar-thumb {
    background: #888;
    cursor: pointer;
    border-radius: 2.5px;
 }
 ::-webkit-scrollbar-button:vertical:start:decrement {
    background:
        linear-gradient(120deg, #696969 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(240deg, #696969 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(0deg, #696969 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #b6b6b6;
 }
 
 ::-webkit-scrollbar-button:vertical:end:increment {
    background:
        linear-gradient(300deg, #696969 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(60deg, #696969 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, #696969 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #b6b6b6;
 }
 
 ::-webkit-scrollbar-button:horizontal:end:increment {
    background:
        linear-gradient(210deg, #696969 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(330deg, #696969 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(90deg, #696969 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #b6b6b6;
 }
 
 ::-webkit-scrollbar-button:horizontal:start:decrement {
    background:
        linear-gradient(30deg, #696969 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(150deg, #696969 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(270deg, #696969 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #b6b6b6;
 }

::-webkit-scrollbar-button:vertical:end:increment {
    background:
        linear-gradient(300deg, #696969 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(60deg, #696969 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, #696969 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #b6b6b6;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background:
        linear-gradient(210deg, #696969 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(330deg, #696969 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(90deg, #696969 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #b6b6b6;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background:
        linear-gradient(30deg, #696969 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(150deg, #696969 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(270deg, #696969 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #b6b6b6;
}
.no-data {
    font-size: 18px;
    color: #f73c3c;
    font-weight: 600;
    text-align: center;
}
:host ::ng-deep .nb-home::before{
    content: '\f015';
}
:host ::ng-deep .nb-notifications::before{
    content: '\f145';
}
:host ::ng-deep .nb-title::before{
    content: '\f02d';
}
:host ::ng-deep .nb-list::before{
    content: '\f016';
}
:host ::ng-deep .fa-book::before{
    content: '\f0d6';
}
:host ::ng-deep .fa-signal::before{
    content: '\f043';
}
:host ::ng-deep .fa-truck::before{
    content: '\f0d1';
}
:host ::ng-deep .fa-cog::before{
    content: '\f013';
}
:host ::ng-deep .fa-cog::before{
    content: '\f013';
}
:host ::ng-deep .fa-database::before{
    content: '\f15c';
    font-size: 14px;
} 
:host ::ng-deep .fa-money::before{
    content: '\f283';
    font-size: 14px;
}  
:host ::ng-deep .control-icon.nb-notifications::before{
    content: '\f0f3';
    display: block;
    font-family: 'FontAwesome';
    font-size: 22px;
    margin-right: 8px;
    margin-top: 8px;
}

:host ::ng-deep nb-base-calendar.medium nb-card{
    width: 100%;
}
:host ::ng-deep nb-base-calendar.medium nb-card-header{
    padding: 10px 20px;
    border-bottom: 1px solid #eaeaea;
}