<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">{{title}}
  </h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="min-height: 250px; ">
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label class="fill-elt">Date:</label>
        <input name="date" id="date" [value]="filldate | date: 'dd MMM yyyy'" autocomplete="off"
          class="form-control fill-elt" (click)="getDate()" />
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="fill-elt">Litres:</label>
        <input name="litres" id="litres" [(ngModel)]="litres" class="fill-elt form-control" (blur)="updateAmount()" />
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="fill-elt">Regno:</label>
        <auto-suggestion (onSelected)="getVehData($event)" url="Suggestion/GetVehicleList" display="regno"
          placeholder="Enter Vehicle Number" [preSelected]="{regno: regno}" class="fstn-name w-100" style="width:60%;">
        </auto-suggestion>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="fill-elt">Rate:</label>
        <input class="fill-elt form-control" name="rate" id="rate" [(ngModel)]="rate" (blur)="updateAmount()" />
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="fill-elt">Amount:</label>
        <input class="fill-elt form-control" name="amount" id="amount" [(ngModel)]="amount"
          style="background-color: #cecece;" readonly />
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="fill-elt">Pump:</label>
        <auto-suggestion (onSelected)="getPumpData($event)" url="Suggestion/GetFuelStation" display="name"
          placeholder="Enter Pump Name" [preSelected]="{name: pump}" class="fstn-name" style="width:60%;">
        </auto-suggestion>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="fill-elt">Is Fuel Tank Full?</label>
        <input *ngIf="isfull" class="fill-elt chkbx" type="checkbox" name="isFull" id="isFull" [value]="isfull"
          [(ngModel)]="isfull" checked />
        <input *ngIf="!isfull" class="fill-elt chkbx" type="checkbox" name="isFull" id="isFull" [value]="isfull"
          [(ngModel)]="isfull" />
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <div class="blue add-pp-lnk" (click)="showAddPump()">
          Add Pump
        </div>
      </div>
    </div>
  </div>

</div>







<div class="modal-footer">
  <button class="btn btn-primary" (click)="submitFillingData()" style="cursor: pointer;">Submit</button>
</div>