nb-card-header{
    padding: 10px 15px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}
:host ::ng-deep.blue {
    color: blue;
    font-weight: 700;
}
:host ::ng-deep.black {
    color: black;
    // display: none;
}

:host ::ng-deep.green {
    color: green;
    font-weight: 700;
}
:host ::ng-deep.red {
    color: red;
    // display: none;
}