<div class="">
    <div class="outer alertload-8" style="min-height: 100px;">
      <h6 style="text-align:center"><b class="charthead">Worst Call TAT in Last 7 Days</b></h6>
      <p style="text-align: right; margin-top: -25px;" class="link"
      (click)="getDetials('Tmgreport/GetAlertWorstCallTat',{totalrecord: 3,stepno: -1},7,'days')"><i title="More Details" class="fa fa-list"></i>
    </p>
      <table class="table">
        <thead class="thead">
          <th>Executive</th>
          <!-- <th>Alert Name</th> -->
          <th>TAT (HH:MM)</th>
        </thead>
        <tbody class="tbody">
          <tr *ngFor="let awc of alertWorstCallTat">
            <td class="link" (click)="getDetials('Tmgreport/GetAlertWorstCallTat',{totalrecord: 3,isfo: awc['_adminusers_id'],stepno: 1},7,'days')">{{awc['Executive']}}</td>
            <!-- <td>{{awc['Alert Name']}}</td> -->
            <td>{{awc['duration']}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>