<nb-card style="border:0px;">
  <!-- <nb-card-header>
    <h4>Invoice</h4>
  </nb-card-header> -->
  <nb-card-body>
    <div class="row mb-4 mt-4">
      <div class="col-9">
        <div class="row">
          <!-- <div class="col-4">
            <div class="form-group">
              <label class="ref-label">Invoice Type</label>
              <input type="text" autocomplete="off" class="form-control ref-input" id="ordertype" name="ordertype"
                [(ngModel)]="order.ordertype.name" placeholder="Please Select Invoice Type" required>
            </div>
          </div> -->

          <!-- <div class="col-4">
            <div class="form-group">
              <label class="ref-label">Invoice</label>
              <input type="text" autocomplete="off" class="form-control ref-input" id="invocelist" name="invocelist"
                placeholder="Please Select Invoice" required>

            </div>
          </div> -->
        </div>

        <!-- Purchase Start -->
        <div
          *ngIf="order.ordertype.name.toLowerCase().includes('purchase') || order.ordertype.name.toLowerCase().includes('debit note') || order.ordertype.name.toLowerCase().includes('wastage') ">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="ref-label" *ngIf="order.ordertype.name.toLowerCase().includes('purchase')">PI No.</label>
                <label class="ref-label" *ngIf="order.ordertype.name.toLowerCase().includes('debit')"> Debit Note No.</label>
                <input autocomplete="off" autocomplete="off" type="text" class="form-control ref-input" id="custcode"
                  name="account-custcode" [(ngModel)]="order.custcode" placeholder="Please Enter Invoice Number">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Invoice Date</label>
                <input type="text" autocomplete="off" style="cursor: pointer;" class="form-control ref-input"
                  autocomplete="off" id="date" name="account-date" [(ngModel)]="order.date" maxlength="10"
                  (click)="lastActiveId = 'account-date'; allowBackspace = false;" (input)="allowBackspace = false;">

              </div>
            </div>
            <div class="col"  *ngIf="order.ordertype.name.toLowerCase().includes('purchase') || order.ordertype.name.toLowerCase().includes('debit')">
              <div class="form-group">
                <label class="ref-label"  *ngIf="order.ordertype.name.toLowerCase().includes('purchase')" >Po Date</label>
                <label class="ref-label"  *ngIf="order.ordertype.name.toLowerCase().includes('debit')" >Ref Date</label>
                <input type="text" autocomplete="off" style="cursor: pointer;" class="form-control ref-input"
                  autocomplete="off" id="podate" name="po-date" [(ngModel)]="order.podate" maxlength="10"
                  (click)="lastActiveId = 'po-date'; allowBackspace = false;" (input)="allowBackspace = false;">

              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Purchase Ledger</label>
                <input type="text" autocomplete="off" class="form-control  ref-input" id="purchaseledger"
                  name="purchaseledger" [(ngModel)]="order.purchaseledger.name"
                  placeholder="Please Select Purchase Ledger"
                 
                  (click)="lastActiveId = 'ledger-' + i; allowBackspace = false;" (input)="allowBackspace = false;">
              </div>
            </div>
          </div>
          <div class="row" *ngIf="(order.ordertype.id != -108)">
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Supplier Ledger</label>
                <input autocomplete="off" type="text" class="form-control ref-input" id="ledger" name="ledger"
                  [(ngModel)]="order.ledger.name" placeholder="Please Select Supplier Ledger" require>
                <!-- <auto-suggestion (onSelected)="onSelectedaddress($event, 'ledger', 'name')"
                  url="Suggestion/GetPurchaseLedger" display="name" placeholder="Enter Ledger" inputId="ledger"
                  [data]="supplier" [preSelected]="null"></auto-suggestion> -->
                  <span *ngIf="(ledgerbalance)">(<i>Ledger balance is </i>{{ ledgerbalance }})</span>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Supplier Ref.No</label>
                <input autocomplete="off" type="text" class="form-control ref-input" name="account-vendorbidref"
                  id="vendorbidref" [(ngModel)]="order.vendorbidref" placeholder="Supplier Reference No.">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="ref-label">P.O.No.</label>
                <input autocomplete="off" type="text" class="form-control ref-input" name="account-qutationrefrence"
                  id="qutationrefrence" [(ngModel)]="order.qutationrefrence" placeholder="P.O.No.">
              </div>
            </div>


            <div class="col">
              <div class="form-group">
                <label class="ref-label">Shipment Location</label>
                <input autocomplete="off" type="text" class="form-control ref-input"name="account-shipmentlocation"
                  id="shipmentlocation" [(ngModel)]="order.shipmentlocation" placeholder="Shipment Location">
              </div>
            </div>
          </div>

          <div class="row" *ngIf="(order.ordertype.id != -108)">
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Payment Terms</label>
                <input autocomplete="off" type="text" class="form-control ref-input"name="account-paymentterms"
                  id="paymentterms" [(ngModel)]="order.paymentterms" placeholder="Payment Terms">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Bilty Number</label>
                <input autocomplete="off" type="text" class="form-control ref-input" name="account-biltynumber"
                  id="biltynumber" [(ngModel)]="order.biltynumber" placeholder="Bilty Number">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Bilty Date</label>

                <input type="text" style="cursor: pointer;" class="form-control ref-input" autocomplete="off" id="biltydate"
                  name="account-biltydate" [(ngModel)]="order.biltydate" maxlength="10"
                  (click)="lastActiveId = 'account-biltydate'; allowBackspace = false;"
                  (input)="allowBackspace = false;">

              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Dilivery Terms</label>
                <input autocomplete="off" type="text" class="form-control ref-input" name="account-deliveryterms"
                  id="deliveryterms" [(ngModel)]="order.deliveryterms" placeholder="Delivery Terms">
              </div>
            </div>
          </div>
          <div class="row" *ngIf="(order.ordertype.id != -108)">
            <div class="col">
              <div class="form-group">
                  <label class="ref-label">Vender Billing Address</label>
                <textarea class="form-control ref-input" name="account-billingaddress" id="billingaddress"
                  [(ngModel)]="order.billingaddress" placeholder="Vender Billing Address"></textarea>
              </div>
            </div>



            <div class="col">
              <div class="form-group">
                  <label class="ref-label">Invoice Remarks</label>
                <textarea class="form-control ref-input" name="account-orderremarks" id="orderremarks"[(ngModel)]="order.orderremarks"
                  placeholder="Invoice Remarks"></textarea>
              </div>
            </div>
          </div>
        </div>
        <!-- Purchase End -->

        <!--sales-->
        <div
          *ngIf="order.ordertype.name.toLowerCase().includes('sales') || order.ordertype.name.toLowerCase().includes('credit note') ">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="ref-label" *ngIf="order.ordertype.name.toLowerCase().includes('sales')">Invoice No.</label>
                <label class="ref-label" *ngIf="order.ordertype.name.toLowerCase().includes('credit')">Credit Note No.</label>
                <input type="text" autocomplete="off" class="form-control ref-input" name="account-custcode"
                  id="custcode" [(ngModel)]="order.custcode" placeholder="Please Enter Invoice No.">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Invoice Date</label>
                <input type="text" style="cursor: pointer;" class="form-control ref-input" autocomplete="off" id="date"
                  name="account-date" [(ngModel)]="order.date" maxlength="10"
                  (click)="lastActiveId = 'account-date'; allowBackspace = false;" (input)="allowBackspace = false;">

              </div>
            </div>
            <div class="col"  *ngIf="order.ordertype.name.toLowerCase().includes('credit')">
              <div class="form-group">
                <label class="ref-label">Ref Date</label>
                <input type="text" autocomplete="off" style="cursor: pointer;" class="form-control ref-input"
                  autocomplete="off" id="podate" name="po-date" [(ngModel)]="order.podate" maxlength="10"
                  (click)="lastActiveId = 'po-date'; allowBackspace = false;" (input)="allowBackspace = false;">

              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Sales Ledger</label>
                <!-- <auto-suggestion (onSelected)="onSelected($event, 'purchaseledger', 'name')"
                  url="Suggestion/GetPurchaseLedger" display="name" inputId="purchaseledger"
                  placeholder="Enter Sales Ledger" [preSelected]="null">
                </auto-suggestion> -->
                <input type="text" autocomplete="off" class="form-control ref-input" id="salesledger"
                  name="purchaseledger" [(ngModel)]="order.purchaseledger.name"
                  placeholder="Please Select Purchase Ledger"
                  (click)="lastActiveId = 'ledger-' + i; allowBackspace = false;" (input)="allowBackspace = false;">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Party Name</label>
                <!-- <auto-suggestion (onSelected)="onSelected($event, 'ledger', 'name')" url="Suggestion/GetPurchaseLedger"
                  display="name" inputId="ledger" placeholder="Party Name" [preSelected]="null"></auto-suggestion> -->
                <input type="text" autocomplete="off" class="form-control ref-input" id="ledger" name="ledger" [(ngModel)]="order.ledger.name"
                  placeholder="Please Enter Party Name" require>
                  <span *ngIf="(ledgerbalance)">(<i>Ledger balance is </i>{{ ledgerbalance }})</span>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Order No</label>
                <input type="text" autocomplete="off" class="form-control ref-input" id="vendorbidref"name="account-vendorbidref"
                  [(ngModel)]="order.vendorbidref" placeholder="Order No">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Other Reference</label>
                <input type="text" autocomplete="off" class="form-control ref-input" id="qutationrefrence"name="account-qutationrefrence"
                  [(ngModel)]="order.qutationrefrence" placeholder="Other Reference">
              </div>
            </div>


            <div class="col">
              <div class="form-group">
                <label class="ref-label">Shipment Location</label>
                <input type="text" autocomplete="off" class="form-control ref-input" id="shipmentlocation"name="account-shipmentlocation"
                  [(ngModel)]="order.shipmentlocation" placeholder="Shipment Location">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Payment Terms</label>
                <input type="text" autocomplete="off" class="form-control ref-input" id="paymentterms" name="account-paymentterms"
                  [(ngModel)]="order.paymentterms" placeholder="Payment Terms">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Eway Bill Number</label>
                <input type="text" autocomplete="off" class="form-control ref-input" id="biltynumber" name="account-biltynumber"
                  [(ngModel)]="order.biltynumber" placeholder="Eway Bill Number">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Eway Bill Date</label>
                <input type="text" style="cursor: pointer;" class="form-control ref-input" autocomplete="off" id="biltydate"
                  name="account-biltydate" [(ngModel)]="order.biltydate" maxlength="10"
                  (click)="lastActiveId = 'account-biltydate'; allowBackspace = false;"
                  (input)="allowBackspace = false;">

              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Delivery Terms</label>
                <input type="text" autocomplete="off" class="form-control ref-input" id="deliveryterms" name="account-deliveryterms"
                  [(ngModel)]="order.deliveryterms" placeholder="Delivery Terms">
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                  <label class="ref-label">Party Billing Address</label>
                <textarea class="form-control ref-input" autocomplete="off" name="account-billingaddress" id="billingaddress"
                  [(ngModel)]="order.billingaddress" placeholder="Party Billing Address"></textarea>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                  <label class="ref-label">Consignee Address</label>
                <textarea class="form-control ref-input" autocomplete="off" name="account-grnremarks" id="grnremarks"
                   [(ngModel)]="order.grnremarks" placeholder="Consignee Address"></textarea>
              </div>
            </div>


            <div class="col">
              <div class="form-group">
                  <label class="ref-label">Invoice Remarks</label>
                <textarea class="form-control ref-input" autocomplete="off" name="account-orderremarks" id="orderremarks"
                  [(ngModel)]="order.orderremarks" placeholder="Invoice Remarks"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-3" id="ledger-container">
        <div class="auto-sugg">
          <auto-suggetion-in-side [data]="autoSuggestion.data" [targetId]="autoSuggestion.targetId"
            [display]="autoSuggestion.display" (select)="onSelect($event, autoSuggestion.targetId)">
          </auto-suggetion-in-side>
        </div>
        <!-- <div class="ledger-container">
          
          <div *ngFor="let suggestion of getSuggestions(); let i = index;" class="ledger-option"
            [ngClass]="suggestionIndex == i ? 'active-ledger' : ''" (click)='selectSuggestion(suggestion)'>
            <span>{{suggestion.name}}</span>
          </div>
        </div> -->
      </div>
    </div>
    <!--sales end-->
    <div class="row"></div>
    <table class="invoice_tabel table table-bordered">
      <thead style="background-color: #263238; color:#fff;">
        <tr>
          <th>Warehouse</th>
          <th>Stock Item</th>
          <th>Unit</th>
          <th>Qty</th>
          <th *ngIf="(order.ordertype.id != -108)">Rate</th>
          <th *ngIf="(order.ordertype.id != -108)">Amount</th>
          <!-- <th>Dis Ledger</th>
          <th>Dis Amount</th> -->
          <th *ngIf="(order.ordertype.id != -108)">Line Amount</th>

          <th *ngIf="(order.ordertype.id != -108)">remarks</th>
          
          <th *ngIf="(order.ordertype.id != -108)"></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let amountDetail of order.amountDetails; let i = index;">
          <td>
            <input type="text" [id]="'warehouse-' + i" autocomplete="off" class="form-control ref-input"
              [name]="'warehouse-' + i" [(ngModel)]="amountDetail.warehouse.name" placeholder="Please Select Warehouse"
              >
            <!-- <auto-suggestion (onSelected)="amountDetail.warehouse = $event.id" url="Suggestion/GetWareHouse"
                      display="name" placeholder="Enter Warehouse" [preSelected]="null" [inputId]="'warehouse-' + i">
                    </auto-suggestion> -->
          </td>
          <td>
            <input type="text" [id]="'stockitem-' + i" autocomplete="off" class="form-control ref-input"
              name="'stockitem-' + i" [(ngModel)]="amountDetail.stockitem.name" placeholder="Please Select Stock Item"
              required>
            <span
              *ngIf="((order.ordertype.name.toLowerCase().includes('sales')) && (order.amountDetails[i].warehouse.id)) ">(<i>Available Qty is </i>{{ this.totalitem }})</span>
            <!-- <auto-suggestion
                  (onSelected)="amountDetail.stockitem = $event.id;amountDetail.stockunit.id = $event.stockunit_id; amountDetail.stockunit.name = $event.stockname"
                  url="Suggestion/GetStockItem" display="name" [inputId]="'stockitem-' + i" placeholder="Enter Stock Item"
                  [preSelected]="null">
                </auto-suggestion> -->
          </td>
          <td>

            <input type="text" class="form-control ref-input" autocomplete="off" name="account-stockunit"
              placeholder="Enter Stock Unit" [(ngModel)]="amountDetail.stockunit.name" readonly
              style="background-color: #eeeeee;">
          </td>
          <td>
            <input type="number" class=" ref-input" autocomplete="off" name="account-qty" [id]="'qty-' + i"
              (input)="amountDetail.lineamount = amountDetail.amount = (amountDetail.qty * amountDetail.rate).toFixed(2)"
            [(ngModel)]="amountDetail.qty"   placeholder="Please Enter Quantity">

            <!-- {{findStockitem(order.amountDetails[i].stockitem.id)}} -->
          </td>
          <td *ngIf="(order.ordertype.id != -108)">
            <input type="number" class="form-control ref-input" autocomplete="off" name="account-rate"
              [id]="'rate-' + i" [(ngModel)]="amountDetail.rate" placeholder="Please Enter Rate"
              (input)="amountDetail.lineamount = amountDetail.amount = (amountDetail.qty * amountDetail.rate).toFixed(2)">
          </td>
          <td *ngIf="(order.ordertype.id != -108)">
            <input type="number" class="form-control ref-input" autocomplete="off" name="account-amount"
              [(ngModel)]="amountDetail.amount" readonly style="background-color: #eeeeee;">
          </td>
          <!-- <td>
            <input type="text" [id]="'discountledger-' + i" class="form-control" [name]="'discountledger-' + i"
              [(ngModel)]="amountDetail.discountledger.name">
            
          </td> -->

          <!-- <td> <input type="number" class="form-control" autocomplete="off" name="account-discountate"
              [(ngModel)]="amountDetail.discountate" [id]="'discountate-' + i"
              (input)="amountDetail.lineamount = amountDetail.amount - amountDetail.discountate;" [value]="0"></td> -->
          <td *ngIf="(order.ordertype.id != -108)">
            <input type="number" class="form-control" autocomplete="off" name="account-lineamount"
              [(ngModel)]="amountDetail.lineamount" readonly style="background-color: #eeeeee;">
          </td>


          <td *ngIf="(order.ordertype.id != -108)">
            <input type="text" class="form-control ref-input" autocomplete="off" name="account-remarks" [id]="'remarks-' + i"
              [(ngModel)]="amountDetail.remarks" placeholder="Please Enter Remarks">
          </td>
         
          <td *ngIf="(order.ordertype.id != -108)">
            <button (click)="TaxDetails(i)" [id]="'taxDetail-'+i" class="btn btn-taxdet">Tax</button>
          </td>
         
          <td *ngIf="i == 0 && (order.ordertype.id != -108)">
            <button class="plustransparent btn btn-plus" id="plustransparent" (click)="addAmountDetails()"><i
                class="fa fa-plus"></i></button></td>
          <td *ngIf="i !== 0">
            <button (click)="order.amountDetails.splice(i,1)" class="btn btn-danger"><i
                class="fa fa-trash"></i></button>
          </td>
        </tr>
        <tr style="background: #576c77 !important; color:#fff;" *ngIf="(order.ordertype.id != -108)">
          <td colspan="3">&nbsp;</td>
          <!-- <td><b>Total Qty : </b></td> -->
          <td>
            <label class="ref-label">Total Qty:</label>
            <input type="text" class="form-control ref-input" autocomplete="off" name="account-totalamount"
            [(ngModel)]="totalqty" [value]="calculateTotalQty()" readonly style="background-color: #eeeeee;">
        </td>
          <!-- <td><b>Total Amount : </b></td> -->
          <td>&nbsp;</td>
          <td>
            <label class="ref-label">Total Amount:</label><input type="text" class="form-control ref-input" autocomplete="off" name="account-totalamount"
              [(ngModel)]="totalamount" [value]="calculateTotal()" readonly style="background-color: #eeeeee;">
          </td>
          <td>
            <label class="ref-label">Total Tax Amount:</label>
            <input type="text" class="form-control ref-input" autocomplete="off" name="account-totalamount"
            [(ngModel)]="totalTaxamount" readonly style="background-color: #eeeeee;">
        </td>
          <td>
            <label class="ref-label">Total Line Amount:</label>
            <input type="text" class="form-control ref-input" autocomplete="off" name="account-totalamount"
            [(ngModel)]="order.totalamount" [value]="calculateTotalLineAmount()" readonly style="background-color: #eeeeee;">
        </td>
        <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>


    <div class="modal-footer">
      <div class="row w-100">
        <div class="col-11">
            <input type="checkbox" name="print" id="print" [(ngModel)]="order.print">Print After Save
            <span *ngIf="mannual">
            <input type="checkbox" name="mannual" id="mannual"  [(ngModel)]="order.ismanual"> Is Mannual Approval
          </span>
          </div>
        <!-- <div class="col">
          <button class="btn btn-danger" type="button" outline (click)="dismiss(false)" id="cancel"
            style="cursor: pointer;">Cancel</button>
        </div> -->
        <div class="col-1 text-right">
          <button class="btn btn-primary" type="button" outline (click)="callconfirm()" id="submit"
            style="cursor: pointer;">Submit
          </button>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>


<div class="date-modal" *ngIf="showConfirm">
  <div class="date-modal-body data_model_save">
    <div>
      <p>Are you want to save ?</p>
      <button (click)="dismiss(true)">Yes</button> <span>&nbsp;&nbsp;&nbsp;</span> <button
        (click)="modelCondition()">No</button>
    </div>
  </div>
</div>

<div class="date-modal" *ngIf="showDateModal">
  <div class="date-modal-body">
    <div>
      <input type="text" class="form-control" name="voucher-date-f2" id="voucher-date-f2" [(ngModel)]="f2Date"
        maxlength="10">
    </div>
  </div>
</div>