<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Update Ticket</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row" style=" margin-left: 10px">
    <!-- <div class="col-sm-6"> -->
    <label>Name: {{ticket.name}}</label>
  </div>
  <!-- <div class="col-sm-3">
    <input type="text" class="form-control" [(ngModel)]="ticket.name" name="name" placeholder="" readonly
      autocomplete="off">
  </div> -->
  <!-- <div class="col-sm-3" style="height:20px"> -->
  <div class="row" style="margin-top: 10px; margin-left: 10px">
    <input type="checkbox" name="isnotify" [(ngModel)]="ticket.isActive" value="check">
    isActive
  </div>
  <div class="row" style="margin-top: 10px; margin-left: 10px">
    <input type="checkbox" name="isold" [(ngModel)]="ticket.isOld" value="check">isOld
  </div>

</div>
<!-- </div> -->
<div class="modal-footer" style="text-align: left">
  <div class="row">
    <div class="col-sm-2">
      <button class="btn btn-primary" (click)="UpdateTicketSubscribe()">Update</button>
    </div>
  </div>
</div>