<nb-card>
  <nb-card-header>
    <div class="row" style="margin-left:10px">
      <div class="col-sm-6">
        Consolidate Fuel Average
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row" style="margin-top:10px">
      <div class="col-sm-2">
        <uj-date-time-picker (onChanged)="startTime = $event" [dateTimeValue]="startTime">
        </uj-date-time-picker>
      </div>
      <div class="col-sm-2">
        <uj-date-time-picker (onChanged)="endTime = $event" [dateTimeValue]="endTime">
        </uj-date-time-picker>
      </div>
      <div class="col-sm-3">
        <button class="btn btn-primary" (click)="getConsolidateFuelAvg()">submit</button>
      </div>
    </div>
    <div style="margin-top: 15px">
      <smart-table *ngIf="showTable" [data]="table.data" [settings]="table.settings"></smart-table>
      <div class="no-data alert alert-danger" role="alert" *ngIf="consolFuelAvg==null">
        No Data available !
      </div>
    </div>
  </nb-card-body>
</nb-card>