<nb-card>
    <nb-card-header>
        <h5>Consolidate Fuel Average</h5>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-sm-4">
                <uj-date-time-picker (onChanged)="startTime = $event" [dateTimeValue]="startTime">
                </uj-date-time-picker>
            </div>
            <div class="col-sm-4">
                <uj-date-time-picker (onChanged)="endTime = $event" [dateTimeValue]="endTime" [isStart]="false">
                </uj-date-time-picker>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary w-100 pt-1 pb-1" style="border-radius: 3px;" (click)="getConsolidateFuelAvg()">submit</button>
            </div>
        </div>
        <div style="margin-top: 15px">
            <smart-table *ngIf="consolFuelAvg.length" [data]="table.data" [settings]="table.settings"></smart-table>
            <div class="no-data alert alert-danger" role="alert" *ngIf="consolFuelAvg.length==0">
                No Data available !
            </div>
        </div>
    </nb-card-body>
</nb-card>