:host ::ng-deep.blue {
    color: blue;
    font-weight: 700;
}
nb-card-header{
    padding: 10px 15px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}
:host ::ng-deep .lightcoral{
    color: #721c24 !important;
    background: lightcoral !important;
}

.alert-danger{
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 12px !important;
    font-size: 18px !important;
}

:host ::ng-deep smart-table{
    max-height: calc(100vh - 220px);
}
:host ::ng-deep .tableFixHead{
    height: auto !important;
    max-height: calc(100vh - 230px) !important;
}

.pdf-icon{
    font-size: 30px;
    color: #9F0001;
}
.exel-icon{
    font-size: 30px;
    color: #217346;
}