<!-- Author By Lalit Singh -->
<nb-card style="border:0px;">
  <nb-card-header>
    <div class="row">
      <div class="col-9">
        <h5>Fo User Role</h5>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body style="min-height: 360px;">
    <div class="search mt-2">
      <label> Select Employee Name</label>
      <auto-suggestion (onSelected)="getUserDetails($event)" [data]="getUsersList" display="name" placeholder="Employee"
        [preSelected]="null" inputId="name" (unSelected)="UnCheck"></auto-suggestion>
    </div>

  </nb-card-body>
</nb-card>