<!-- goutam -->
<div class="modal-header">
    <h5>Add Gps Api Url</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
    <div>
        <div class="row mt-2">
            <div class="col-4">
                <label>Url</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" placeholder="Enter Url" [(ngModel)]="gpsDetails.url">
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-4">
                <label>User Name</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" placeholder="Enter User Name" [(ngModel)]="gpsDetails.userName">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <label>Password</label>
            </div>
            <div class="col-8">
                <input type="password" class="form-control" placeholder="Enter password" [(ngModel)]="gpsDetails.passWord">
            </div>
        </div>


    </div>
</div>
<div class="modal-footer mt-2">
    <button class="btn btn-primary" type="button" (click)="saveMvGpsDetails()">Submit</button>
</div>