<nb-card style="border:0px;">
    <nb-card-header>
        <div class="row">
            <div class="col-6">
                <h5>Business Dashboard</h5>
            </div>
            <div class="col-3 text-right">
                <input type="text" [(ngModel)]=tabname class="form-control" placeholder="Enter Tab Name" [readonly]="backtabname">
            </div>
            <div class="col-3 text-right">
                <button class="btn btn-primary" (click)="saveReport()">Save</button>
            </div>
        </div>

    </nb-card-header>

    <nb-card-body class="p-0">

        <div class="row" style="margin-top: 5px;">
            <div class="col-2 topholdreport">
                <div class="holdContainer">
                    <div class="dataelements" *ngFor="let report of reports;let i = index" [hidden]="report.isUsed"
                        draggable="true" [id]="'option-' + report._id" (dragstart)="selectDraggable(report)">
                        <span>{{report.name}}</span>
                    </div>
                </div>
                <div class="holdContainer" *ngIf="challanReports.length">
                    <p class="head">Challan Reports</p>
                    <div class="dataelements" *ngFor="let challanReport of challanReports; let i = index" [hidden]="challanReport.isUsed"
                        draggable="true" [id]="'challan-option-' + challanReport.id"
                        (dragstart)="selectDraggable(challanReport, 'challan')">
                        <span>{{challanReport.rpt_title}}</span>
                    </div>
                </div>
                <div class="holdContainer" *ngIf="tripReports.length">
                    <p class="head">Trip Reports</p>
                    <div class="dataelements" *ngFor="let challanReport of tripReports; let i = index" [hidden]="challanReport.isUsed"
                        draggable="true" [id]="'trip-option-' + challanReport.id"
                        (dragstart)="selectDraggable(challanReport, 'trip')">
                        <span>{{challanReport.rpt_title}}</span>
                    </div>
                </div>
            </div>

            <div class="col-10 reports-container" (drop)="handleDropped($event)" (dragover)="handleDragOver($event)">
                <div class="report draggable" *ngFor="let report of reports;let i = index" [hidden]="!report.isUsed" [style.width]="report.rpt_width + 'px'"
                [style.height]="report.rpt_height + 'px'"
                [style.top]="report.y_pos + 'px'" [style.left]="report.x_pos + 'px'" 
                    [id]="'report-' + report._id">
                    <div class="report-container">
                        <dynamic-report [savedReportSelect]="report"></dynamic-report>
                        <i class="fa fa-window-close report-close" (click)="deleteReport(report)"></i>
                    </div>
                </div>
                <div class="report draggable" *ngFor="let challanReport of challanReports; let i = index"
                    [hidden]="!challanReport.isUsed" [id]="'challan-report-' + challanReport.id"  [style.width]="challanReport.rpt_width + 'px'"
                    [style.height]="challanReport.rpt_height + 'px'"
                    [style.top]="challanReport.y_pos + 'px'" [style.left]="challanReport.x_pos + 'px'" >
                    <div class="report-container">
                        <challan-trends *ngIf="challanReport.id == 1"></challan-trends>
                        <i class="fa fa-window-close report-close" (click)="deleteChallanReport(challanReport)"></i>
                        <state-wise *ngIf="challanReport.id == 2"></state-wise>
                        <i class="fa fa-window-close report-close" (click)="deleteChallanReport(challanReport)"></i>
                        <worst-drivers *ngIf="challanReport.id == 3"></worst-drivers>
                        <i class="fa fa-window-close report-close" (click)="deleteChallanReport(challanReport)"></i>
                        <most-aged *ngIf="challanReport.id == 4"></most-aged>
                        <i class="fa fa-window-close report-close" (click)="deleteChallanReport(challanReport)"></i>
                        <latest *ngIf="challanReport.id == 5"></latest>
                        <i class="fa fa-window-close report-close" (click)="deleteChallanReport(challanReport)"></i>
                        <worst-drivers-years *ngIf="challanReport.id == 6"></worst-drivers-years>
                        <i class="fa fa-window-close report-close" (click)="deleteChallanReport(challanReport)"></i>
                    </div>
                </div>
                <div class="report draggable" *ngFor="let trreport of tripReports;let i = index" [hidden]="!trreport.isUsed" [style.width]="trreport.rpt_width + 'px'"
                [style.height]="trreport.rpt_height + 'px'"
                [style.top]="trreport.y_pos + 'px'" [style.left]="trreport.x_pos + 'px'" 
                    [id]="'trip-report-' + trreport._id">
                    <div class="trreport-container">
                        <dynamic-report [savedReportSelect]="report"></dynamic-report>
                        <i class="fa fa-window-close report-close" (click)="deleteReport(trreport)"></i>
                    </div>
                </div>
                <div class="report draggable" *ngFor="let singletripReport of tripReports; let i = index"
                [hidden]="!singletripReport.isUsed" [id]="'trip-report-' + singletripReport.id"  [style.width]="singletripReport.rpt_width + 'px'"
                [style.height]="singletripReport.rpt_height + 'px'"
                [style.top]="singletripReport.y_pos + 'px'" [style.left]="singletripReport.x_pos + 'px'" >
                <div class="report-container">
                    <trip-onward-kmpd *ngIf="singletripReport.id == 1"></trip-onward-kmpd>
                    <i class="fa fa-window-close report-close" (click)="deleteChallanReport(singletripReport)"></i>
                    <avg-loading *ngIf="singletripReport.id == 2"></avg-loading>
                        <i class="fa fa-window-close report-close" (click)="deleteChallanReport(singletripReport)"></i>
                        <avg-unloading *ngIf="singletripReport.id == 3"></avg-unloading>
                            <i class="fa fa-window-close report-close" (click)="deleteChallanReport(singletripReport)"></i>
                            <worst-vehicles *ngIf="singletripReport.id == 4"></worst-vehicles>
                                <i class="fa fa-window-close report-close" (click)="deleteChallanReport(singletripReport)"></i>
                                <longest-loading *ngIf="singletripReport.id == 5"></longest-loading>
                                <i class="fa fa-window-close report-close" (click)="deleteChallanReport(singletripReport)"></i>
                                <longest-unloading *ngIf="singletripReport.id == 6"></longest-unloading>
                                    <i class="fa fa-window-close report-close" (click)="deleteChallanReport(singletripReport)"></i>
                                    <slowest-onward *ngIf="singletripReport.id == 7"></slowest-onward>
                                    <i class="fa fa-window-close report-close" (click)="deleteChallanReport(singletripReport)"></i>
                                    <longest-unloading-sites *ngIf="singletripReport.id == 8"></longest-unloading-sites>
                                    <i class="fa fa-window-close report-close" (click)="deleteChallanReport(singletripReport)"></i>
                                    <gps-performance *ngIf="singletripReport.id == 8"></gps-performance>
                                        <i class="fa fa-window-close report-close" (click)="deleteChallanReport(singletripReport)"></i>
                </div>
            </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>