button { background-color:darkcyan;
         border: 2px solid blanchedalmond;
         color: white;
         font-size: 12px;
         border-radius: 4px;
}
input[type=text] {
    width: 100%;
    height: 30px;
    padding-left: 5px;
    font-size: 13px;
    margin-top: 10px;
    border: 2px solid darkcyan;
    border-radius: 4px;
}
.close{
    background-color: white;
    color: black;
    border: none
}
.suggestion{
    width: 100%;
    height: 30px;
    padding-left: 5px;
    font-size: 12px;
    margin-top: 10px;
    border: 2px solid darkcyan;
    border-radius: 4px;   
}
.select option{
padding:10px 5px;
border-bottom: 1px solid #cccccc
}
.iv-large-image{
    max-width: 1000px !important;
    max-height: 1000px !important;
}