.card {

  border-radius: 7px;
  width: 90;
  margin: 10px;
  height: 350px;
  padding: 10px;
}

.row {
  margin-top: 10px;
}

.btn-wrapper{
  float: right;
}

.misMatch{
  font-size: 15px;
    align-items: center;
    margin-top: 5px;
    font-weight: bold;
    color: blue;
}

.map{
  width: 100%;
  height: 50vh;
}

::ng-deep .mat-pseudo-checkbox{
  display: none !important;
}

::ng-deep .mat-select-panel, .mat-form-field-wrapper{
  width: 100%;
}
.route-list{
  z-index: 1;
  height: 50px;
}
.route-list ul{
  list-style-type: none;
  padding: 5px;
  // border: 1px solid black;
}

.route-check{
  margin-left: 25px;
}

.route-span{
  margin-left: 8px;
}

.strength-span{
  margin-left: 30px;
}

.toll-check{
 float: right;
}

.toll-check button{
  // margin: 1rem;
  border-radius: 20px;
  // background: white;
  border-style: solid;
  border-color: var(--light-grey);
  padding: 0.5rem 1rem;
  transition: 0.5s;
}

.btn__accept {
  background: greenyellow;
  color: white;
}
.btn__accept:hover {
  background: white;
  color: greenyellow;
  border-color: greenyellow;
}

