<!-- <div class="card shadow-lg">
  <h3></h3>
  <form class="example-form" (ngSubmit)="getdata()">
    <table>
      <tr>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Origin</mat-label>
            <input matInput matGoogleMapsAutocomplete (onLocationSelected)="onLocationSelectedOrigin($event)"
              (onAutocompleteSelected)="onAutocompleteSelectedOrigin($event)" required>

          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Destination</mat-label>
            <input matInput matGoogleMapsAutocomplete (onLocationSelected)="onLocationSelectedDestination($event)"
              (onAutocompleteSelected)="onAutocompleteSelectedDestination($event)" required>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td>
          <mat-form-field [(ngModel)]="aerial" class="example-full-width" appearance="fill">
            <mat-label>Aerial Distance Multiplier</mat-label>
            <input matInput required>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field [(ngModel)]="frechet" class="example-full-width" appearance="fill">
            <mat-label>Frechet</mat-label>
            <input matInput required>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <label>Mis-match Index</label>
    <mat-slider (change)="mismatchvalue($event.value)" thumbLabel [displayWith]="formatLabel" tickInterval="0.3"
      step="0.1" min="0" max="1" aria-label="mismatchIndex" aria-labelledby="mismatchIndex"></mat-slider> :
    {{mismatchIndex*100}}%
    <div *ngIf="mismatchIndex>0.2">
      <p style="font-size: smaller;color: crimson;">Value upto 20% will give Best Result.</p>
    </div>

    <table>
      <tr>

        <button mat-flat-button color="accent" *ngIf="getButtonVisible">Get</button> <button mat-stroked-button
          *ngIf="!getButtonVisible" color='primary' (click)="clearAll()">Clear All</button>
        <div *ngIf="loading">
          <h3></h3>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </tr>
    </table>
    <div *ngIf="routeList.length!=0">
      <h5 style="font-style: italic;" *ngIf="totalRoutes!=0"> Total Routes found : {{totalRoutes}}</h5>

      <mat-form-field appearance="fill">
        <mat-label>Routes</mat-label>
        <mat-select [formControl]="routeListForm" multiple>
          <mat-option *ngFor="let routeListData of routeList;let i = index" [value]="routeListData"
            (click)="getdataRoute($event.target.innerText)">{{routeListData}} <mat-icon
              [ngStyle]="{color: colourful[i]}">timeline</mat-icon>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
<div id="map">
</div> -->

<div class="card shadow-lg">
  <form  class="form-horizontal" role="form">
    <div class="row">
      <div class="col-5">
        <label for="firstName" class="col-sm-2 control-label">Origin:</label>
        <div class="col-sm-5">
          <auto-suggestion (onSelected)="selectLocation($event,'origin')" (noDataFound)="takeAction($event, 'origin')"
            [isNoDataFoundEmit]="true" url="Location/getPlaceFromRedis" display="location" inputId="endname"
            placeholder="Location" [preSelected]='{location:origin}'>
          </auto-suggestion>
        </div>

      </div>

      <div class="col-7">
        <label for="lastName" class="col-sm-3 control-label">Destination:</label>
        <div class="col-sm-5">
          <auto-suggestion (onSelected)="selectLocation($event, 'destination')"
            (noDataFound)="takeAction($event, 'destination')" [isNoDataFoundEmit]="true"
            url="Location/getPlaceFromRedis" display="location" inputId="endname" placeholder="Location"
            [preSelected]='{location:destination}'>
          </auto-suggestion>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-6">
        <label for="dob" class="col-sm-4 control-label">Aerial Distance Multiplier</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" [value]="aerial" />
        </div>

      </div>
      <div class="col-6">
        <label for="firstName" class="col-sm-2 control-label">Frechet:</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" [value]="frechet" />
        </div>

      </div>
    </div>
    <div class="row">

      <div class="col-6">
        <label for="firstName" class="col-sm-3 control-label">Mis-Match Index:</label>
        <div class="col-sm-6">
          <input type="range" min="0" max="100" [value]="mismatchIndex" (change)="misMatchChanges($event)">
        </div>
        <span class="col-sm-2 misMatch">{{mismatchIndex}} %</span>
      </div>
    </div>
    <div class="row">
      <div class="btn-wrapper">
        <button class="btn btn-primary" id="get-btn" (click)="getButtonVisible ? getData() : clearData()">Get</button>
      </div>
    </div>
    <div class="row" *ngIf="totalRoutes!=0">
      <div class="col-3">
        <div>
          <label>Total Routes Found: </label>
          <span>{{totalRoutes}}</span>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="routeList.length!=0">
      <div class="col-8">
        <label class="col-sm-2">Routes</label>
        <div class="col-sm-8">
          <mat-form-field appearance="fill">
            <mat-select [formControl]="routeListForm" multiple>
              <mat-option  (click)="getdataRoute($event.target.innerText)" *ngFor="let routeListData of routeList;let i = index" [value]="i+1">{{routeListData}} 
               
                <mat-icon
                  [ngStyle]="{color: colourful[i]}">timeline</mat-icon>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</div>
<div id="map" class=" map">

</div>
