.add {
    content: '\f040';
    display: block;
    font-family: "FontAwesome";
    font-size: 14px;
    color: blue;
}

.fuel-indent .btn {
    border-radius: 3px;
    padding: 5px;
    text-transform: capitalize;
}