<nb-card style="border: 0px; padding-top: 25px;">
  <!-- <nb-card-header>
    <h4>Day Book</h4>
  </nb-card-header> -->
  <nb-card-body style="min-height: 450px;" (keydown)="keyHandler($event)">
    <div class="row">
      <div class="col-9">
        <span class="pdf-icon" title="PDF Export" (click)="pdfFunction()"
          style="cursor: pointer;"><i class="fa fa-file-pdf"></i></span>
        <span class="exel-icon" title="CSV Export" (click)="csvFunction()"
          style="cursor: pointer;margin-left: 10px;"><i class="fas fa-file-excel"></i></span>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="tjr-label">Stock Type</label>
              <input autocomplete="off" type="text" id="stocktype" class="form-control tjr-input" name="stocktype"
                [(ngModel)]="stockAvailable.stocktype.name">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="tjr-label">Stock Sub Type</label>
              <input autocomplete="off" type="text" id="stocksubtype" class="form-control tjr-input" name="stocksubtype"
                [(ngModel)]="stockAvailable.stocksubtype.name">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="tjr-label">Stock Item</label>
              <input autocomplete="off" type="text" id="stockitem" class="form-control tjr-input" name="stockitem"
                [(ngModel)]="stockAvailable.stockitem.name">
            </div>
          </div>
        </div>
        <div class="row">
        
          <div class="col-4">
            <div class="form-group">
              <label class="tjr-label">Date</label>
              <input type="text" style="cursor: pointer;" class="form-control tjr-input" autocomplete="off" id="date"
                placeholder="Select Date" name="date" [(ngModel)]="stockAvailable.date" maxlength="10">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <button class="btn btn-primary btn-block tjr-button" type="button" outline (click)="dismiss(true)"
                id="submit" style="cursor: pointer;margin-top: 18px;">Submit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="auto-sugg">
          <auto-suggetion-in-side [data]="autoSuggestion.data" [targetId]="autoSuggestion.targetId"
            [display]="autoSuggestion.display" (select)="onSelect($event, autoSuggestion.targetId)">
          </auto-suggetion-in-side>
        </div>
      </div>
    </div>


    <table class="table table-bordered" id="table">

      <thead style="background-color:#263238; color:#fff;">
        <tr>
          <th>S.No</th>
          <th>Stock Item Type</th>
          <th>Stock Item Sub Type</th>
          <th>Stock Item</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tr *ngFor=" let dataItem of stockAvailableData; let i = index;" (click)="selectedRow = i"
        [ngClass]="{'highlight' : selectedRow == i}">
        <td>{{ i+1 }}</td>
        <td>{{dataItem.y_stockitemtype}}</td>
        <td>{{dataItem.y_stockitemsubtype}}</td>
        <td>{{dataItem.y_stockitem}}</td>
        <td>{{dataItem.available_qty}}</td>
      </tr>
    </table>
  </nb-card-body>
</nb-card>

<div class="date-modal" *ngIf="showDateModal" (keydown)="keyHandler($event)">
  <div class="date-modal-body">
    <div>
      <input type="text" class="form-control" name="voucher-date-f2" id="voucher-date-f2"
        [(ngModel)]="stockAvailable[f2Date]" maxlength="10">
    </div>
  </div>
</div>