<nb-card style="border:0px;">

  <nb-card-body (keydown)="keyHandler($event)">
    <!-- View Expand -->
    <div class="expand-div">
      <input type="radio" name="view" [(ngModel)]="viewType" value="main" (change)="changeViewType()">
      <label> Expand Group</label>
      <input type="radio" name="view" [(ngModel)]="viewType" value="sub" (change)="changeViewType()">
      <label> Expand All</label>

    </div>
    <!-- View Expand End -->

    <span class="pdf-icon" title="PDF Export" (click)="pdfService.htmlToPdf('balance-sheet')"
      style="cursor: pointer;"><i class="fa fa-file-pdf"></i></span>
    <span class="exel-icon" title="CSV Export" (click)="generateCsvData()" style="cursor: pointer;margin-left: 10px;"><i
        class="fas fa-file-excel"></i></span>
    <div class="row">
      <div class="col pl-0">
        <div class="form-group">
          <label class="tjr-label">Starting Date</label>
          <input type="text" style="cursor: pointer;" class="form-control tjr-input " autocomplete="off"
            placeholder="Select Date" name="account-date" [(ngModel)]="accountService.fromdate" id="startdate"
            maxlength="10">
        </div>
      </div>
      <div class="col pl-0">
        <div class="form-group">
          <label class="tjr-label">End Date</label>
          <input type="text" style="cursor: pointer;" class="form-control tjr-input" id="enddate" autocomplete="off"
            placeholder="Select Date" name="account-enddate" [(ngModel)]="accountService.todate" maxlength="10">
        </div>
      </div>
      <div class="col pl-0 pr-0">
        <div class="form-group">
          <button class="btn btn-primary tjr-button " type="button" outline (click)="getStaticsSheet()" id="submit"
            style="cursor: pointer; margin-top: 14px; padding: 5px 10px !important;">Submit</button>
        </div>
      </div>
    </div>
    <!-- Balance Sheet -->
    <div id="balance-sheet">

      <div class="row balance-shit m-0 p-0">
        <div class="col-6 p-0">
          <div class="row heading m-0 p-0">
            <div class="col-6">Types</div>
            <div class="col-3 text-right">Approved</div>
            <div class="col-3 text-right">Pending</div>
          </div>
          <div class="middlebody">
          <div *ngFor="let liability of liabilities;  let i = index;"
            (click)="handleExpandation($event, i, 'liabilities', 'mainGroup', 0)">
            <div class="th-mini row m-0 pl-0 pr-0">
              <div class="col-6">{{liability.name}}</div>
              <div class="col-3 text-right">{{liability.name == 'Vouchers' ? approved1: approved2}}</div>
              <div class="col-3 text-right">{{liability.name == 'Vouchers' ? pending1:pending2}}</div>
            </div>

            <div *ngFor="let subGroup of liability.balanceSheets; let k = index;"
              [hidden]="active.liabilities.mainGroup.indexOf('mainGroup' + i + 0) == -1"
              (click)="$event.stopPropagation(); selectedRow =  'a' + i + k"
              [ngClass]="{'highlight' : selectedRow == 'a' + i + k }" style="background: #dadfe6;">
              <div class="tb-mini row m-0 pl-0 pr-0">
                <div class="col-6">{{subGroup.y_name}}</div>
                <div class="col-3 text-right" [ngClass]="{'handHighLight' : subGroup.y_total_approved !=0 }"
                  (click)="(subGroup.y_total_approved !=0) ? opendaybookmodel(subGroup.y_id,0) :''">
                  {{subGroup.y_total_approved}}</div>
                <div class="col-3 text-right" [ngClass]="{'handHighLight' : subGroup.y_total_pending !=0 }"
                  (click)="(subGroup.y_total_pending !=0) ? opendaybookmodel(subGroup.y_id,1) :''">
                  {{subGroup.y_total_pending}}</div>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="col-6 p-0">
          <div class="row heading m-0 p-0">
            <div class="col-6">Master Name</div>
            <div class="col-3 text-right">System</div>
            <div class="col-3 text-right">User Defined</div>
          </div>
          <div class="middlebody">
          <div *ngFor="let liability of assets;  let i = index;"
            (click)="handleExpandation($event, i, 'asset', 'mainGroup', 0)">
            <div class="th-mini row m-0 pl-0 pr-0">
              <div class="col-6">{{liability.name}}</div>
              <div class="col-3" style="padding-left:100px;">{{assetApproved}}</div>
              <div class="col-3" style="padding-left:105px;">{{assetPending}}</div>
            </div>

            <div *ngFor="let subGroup of liability.balanceSheets; let k = index"
              [hidden]="active.asset.mainGroup.indexOf('mainGroup' + i + 0) == -1"
              (click)="$event.stopPropagation(); selectedRow =  'b' + i + k"
              [ngClass]="{'highlight' : selectedRow == 'b' + i + k }" style="background: #dadfe6;">
              <div class="tb-mini row m-0 pl-0 pr-0">
                <div class="col-6">{{subGroup.y_name}}</div>
                <div class="col-3 text-right">{{subGroup.y_total_approved}}</div>
                <div class="col-3 text-right" [ngClass]="{'handHighLight' : subGroup.y_total_pending !=0 }"
                  (click)="(subGroup.y_total_pending !=0) ? openPageModel(subGroup.y_name) : ''">
                  {{subGroup.y_total_pending}}</div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 pr-0">
          <div *ngIf="liabilities.length" class="tanding_total clearfix">
            <div class="total_name">Total</div>
            <div class="total_amount" style="text-align: right; padding-right:5px;">
              <p style="margin: 0px; width: 100px; text-align: right;">
                {{liabilities[liabilities.length-1]['pending']}}</p>
            </div>
            <div class="total_amount" style="text-align: right;padding-right:42px;">
              <p style="margin: 0px; width: 100px; text-align: right;">
                {{liabilities[liabilities.length-1]['approve']}}</p>
            </div>
          </div>
        </div>
        <div class="col-6 pl-0">
          <div class="tanding_total clearfix" *ngIf="assets.length">
            <div class="total_name">Total</div>
            <div class="total_amount" style="text-align: right; padding-right:5px;">
              <p style="margin: 0px; width: 100px; text-align: right;">
                {{assets[assets.length-1]['pending']}}</p>
            </div>
            <div class="total_amount" style="text-align: right; padding-right:42px;">
              <p style="margin: 0px; width: 100px; text-align: right;">
                {{assets[assets.length-1]['approve']}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Balance Sheet -->
  </nb-card-body>
</nb-card>

<div class="date-modal" *ngIf="showDateModal" (keydown)="keyHandler($event)">
  <div class="date-modal-body">
    <div>
      <input type="text" class="form-control" name="voucher-date-f2" id="voucher-date-f2"
        [(ngModel)]="staticsData[f2Date]" maxlength="10">
    </div>
  </div>
</div>