button { 
    background-color: #73a1ff;
    border-radius: 3px !important;
    text-transform: capitalize !important;
    padding: 5px !important;
}

nb-card-header{
    padding: 15px 20px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}

.pdf-icon{
  //  font-size: 30px;
    color: #9F0001;
}
.exel-icon{
  //  font-size: 30px;
    color: #217346;
}
table{
    thead{
        display: table;
        width: 100%;
        table-layout: fixed;
       
    }
    tr{
        th{
            padding: 5px 10px;
            font-weight: normal;
            width: auto;
        }
        th:nth-child(1){
            width: 5%;
        }
        th:last-child{
            width: 10%;
        }
        td{
            padding: 5px 10px !important;
            font-size: 12px;
            width: auto;
            button{
                padding: 0 !important;
                font-size: 11px;
                border-radius: 0px !important;
                margin: 0px;
                background-color: transparent;
                color: #263238;
                outline: none;
                box-shadow: none;
            }
        }
        td:first-child{
            width: 5%;
        }
        td:last-child{
            width: 10%;
        }
    }
    tbody{
        overflow-y: auto;
        display: block;
        width: 100%;
        table-layout: fixed;
        overflow: auto;
        max-height: calc(100vh - 312px);
        tr{
            display: table;
            table-layout: fixed;
            width: 100%;
          
        }
        tr:nth-child(odd){
            background-color: #fff;
        }
        tr:nth-child(even){
            background-color: #e4e4e4;
        }
    }
} 
.btn-primary{
    background-color: #263238 !important;
}
auto-suggestion :host ::ng-deep .form-control {
    border: 1px solid #263238 !important;
    border-radius: 0px 2px 2px 2px !important;
    padding: 3px 5px !important;
    height: auto !important;
    font-size: 12px !important;
}

.selected {
    background-color: #576c77
}
table tr.highlight {
    background-color: #FFEE75 !important;
}

.pdf-exel-icon{
    margin-left: 8px;
}