.row{
    margin-top: 4px;
}
label{
    font-size: 14px;
    padding-top: 10px;
    font-weight: 600;
}
.dropdown{
    position: relative;

}

.modal-body{
    padding-top: 0px;
    
}
.agent{
    width: 100%;
    margin-left: 28%;
}
a{
    margin-left: 34%;
}
textarea{
    height: 80px;
}
.suggestions ng-star-inserted{
    overflow: auto !important;
    max-height: 150px !important;
}
auto-suggestion{
    overflow: auto !important;
    max-height: 150px !important;
}
.documentType{
    overflow: auto !important;
    max-height: 150px !important;
}
.calender{
    font-size: 25px !important;
    margin-left: -3% !important;
}
.model_left_section{
    border-right: 1px solid #ccc;
}