.main {
  width: 350px;
  margin: auto;
  background: rgba(0, 0, 0, 0.25);
  padding: 20px;
  height: auto;
  border-radius: 5px;
}
.logo {
  width: 100px;
  height: auto;
  padding-left: 30%;
  margin-bottom: 4%;
}
img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: -50px;
  left: calc(50% - 50px);
}
.title {
  color: #ff5722;
}
.sub-title {
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: cursive;
  line-height: 20px;
}

.sub-title1 {
  color: #111010;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: cursive;
  line-height: 20px;
}

input {
  background: transparent !important;
  color: #fff !important;
  padding: 4px 14px !important;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #ff5722 !important;
  border-radius: 4px;
  font-family: sans-serif;
  width: 85%;
  margin: auto;
  margin-top: -4%;
  letter-spacing: 0.8px;
}

.btn {
  border-radius: 3px;
  background: #ff5722 !important;
  padding: 7px;
  width: 60%;
  margin: auto;
  margin-top: 25px;
}
.back-icon {
  position: absolute;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.error {
  font-size: 14px;
  color: #fff;
  // color: #FF5722;
  margin-top: 3px;
  margin-left: 25px;
}
.resendOtp {
  color: #fff;
  margin-left: 25px;
  font-size: 14px;
}
.blink {
  background-color: transparent;
  text-align: center;
}
span {
  font-size: 25px;
  font-family: cursive;
  color: white;
  animation: blink 5s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
    color: white;
  }
  0% {
    opacity: 0.25;
    color: white;
  }
  50% {
    opacity: 0.5;
    color: white;
  }
  0% {
    opacity: 0.75;
    color: #ff5722;
  }
  100% {
    opacity: 1;
    color: #ff5722;
  }
}
.qrClass {
  text-align: center;
  cursor: none;
}

:host ::ng-deep .tabset li a {
  border: none !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  background-color: #ff5722 !important;
  border: 2px solid #ff5722 !important;
  // border:none!important;
  margin-top: -25px !important;
  margin-right: -3px !important;
}

:host ::ng-deep .tabset .active a:after {
  bottom: -1px !important;
  // border:2px solid white!important;
}

:host ::ng-deep .tabset {
  padding: 0 !important;
  padding-left: 29px !important;
  // border-bottom: 2px solid #FF5722 !important;
  border-bottom: none !important;
}

:host ::ng-deep .tabset .active a {
  background-color: #fff !important;
  color: #ff5722 !important;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.jrx-loader {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 44vh;
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
