.thead{
    background-color: #363232;
    color: #ffffff;
    font-size: 12px;
}
:host::ng-deep.table{
    font-size : 12px;
    font-weight: 600;
}
:host::ng-deep.table tr td{
    padding : 2px !important
}
:host::ng-deep.table thead th{
    padding : 2px !important;
    font-size : 11px !important;
}
.outer{
    padding: 5px 5px;
    border: 1px solid #efe8e8;
}
.outer:hover{
    box-shadow: 0 0.66875rem 2.3875rem rgba(31,10,6,0.03), 0 1.1375rem 1.60625rem rgba(31,10,6,0.03), 0 0.45rem 0.73125rem rgba(31,10,6,0.05), 0 0.325rem 0.3875rem rgba(31,10,6,0.03);
    padding: 5px 5px;
    border: 1px solid #efe8e8;
}
.charthead{
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    text-shadow: 1px 1px 4px #cac1c1;
}
.table{
    margin-bottom: 0rem!important;
    .thead{
        background-color: #e9ebf5;
        color: #000000;
        font-size: 12px;
        text-align: center;
        th{
            padding: 10px 2px !important;

        }
        
}
}
.table tr td {
    text-align: center !important;
    background-color: #e9ebf5 !important;
}
.table-bordered th, .table-bordered td {
    border: 1px solid #ffffff!important;
}

.contentsection{
    max-height: calc(100vh - 100px);
    overflow: auto;
}