<nb-card>
  <nb-card-body>
    <div class="row">

      <div class="col-3">


        <chart *ngIf="chart.type" [type]="chart.type" [data]="chart.data" style="margin-right:5px;min-height: 200px;"
          [options]="chart.options"></chart>

        <table class="chart-table table table-bordered table-hover table-scroll">
          <thead class="thead">
            <tr>
              <th>#</th>
              <th>StateName</th>
              <th>StateCount</th>
            </tr>
          </thead>
          <tbody>
            <tr (click)="filterPODs('all')">
              <td scope="row"></td>
              <td>All</td>
              <td>{{allPendingPODs.length}}</td>
            </tr>
            <tr *ngFor="let state of states; let i = index" (click)="filterPODs(state)">
              <td scope="row">{{i+1}}</td>
              <td>{{state['State Name']}}</td>
              <td>{{state.count}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-9">
        <smart-table *ngIf="pendingPODs.length" [data]="table.data" [settings]="table.settings"></smart-table>
      </div>
    </div>
  </nb-card-body>
</nb-card>