:host ::ng-deep .tableFixHead {
  table {
    tbody {
      tr {
        td:last-child {
          div {
            div + div {
              margin-left: 10px;
            }
            .fa-tasks {
              color: #04a9f5;
              &:hover span {
                display: block;
              }
              span {
                position: absolute;
                display: none;
                padding: 10px 40px;
                font-size: 12px;
                font-weight: 400;
                left: -33px;
                top: -24px;
                box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
                z-index: 9999;
                &::before {
                  content: "Pod Images";
                  display: block;
                  position: absolute;
                  top: 0px;
                  left: 0px;
                  background-color: #04a9f5;
                  border-radius: 3px;
                  padding: 5px 10px;
                  color: #fff;
                  width: 100%;
                }
                &::after {
                  content: "";
                  width: 0;
                  height: 0;
                  border-left: 5px solid transparent;
                  border-right: 5px solid transparent;
                  border-top: 5px solid #04a9f5;
                  position: absolute;
                  bottom: -5px;
                  left: 50%;
                  -webkit-transform: translate(-50%);
                  transform: translate(-50%);
                }
              }
            }

            .fa-user {
              color: #5cd050;
              &:hover span {
                display: block;
              }
              span {
                position: absolute;
                display: none;
                padding: 10px 40px;
                font-size: 11px;
                font-weight: normal;
                left: -33px;
                top: -28px;
                box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
                z-index: 9999;
                &::before {
                  content: "State Change";
                  display: block;
                  position: absolute;
                  top: 0px;
                  left: 0px;
                  background-color: #5cd050;
                  border-radius: 3px;
                  padding: 5px 10px;
                  color: #fff;
                  width: 100%;
                }
                &::after {
                  content: "";
                  width: 0;
                  height: 0;
                  border-left: 5px solid transparent;
                  border-right: 5px solid transparent;
                  border-top: 5px solid #04a9f5;
                  position: absolute;
                  bottom: -5px;
                  left: 50%;
                  -webkit-transform: translate(-50%);
                  transform: translate(-50%);
                }
              }
            }
            .fa-picture-o {
              color: #6c0fff;
              &:hover span {
                display: block;
              }
              span {
                position: absolute;
                display: none;
                padding: 10px 33px;
                font-size: 11px;
                font-weight: normal;
                left: -28px;
                top: -28px;
                box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
                z-index: 9999;
                &::before {
                  content: "LR Image";
                  display: block;
                  position: absolute;
                  top: 0px;
                  left: 0px;
                  background-color: #04a9f5;
                  border-radius: 3px;
                  padding: 5px 10px;
                  color: #fff;
                  width: 100%;
                }
                &::after {
                  content: "";
                  width: 0;
                  height: 0;
                  border-left: 5px solid transparent;
                  border-right: 5px solid transparent;
                  border-top: 5px solid #04a9f5;
                  position: absolute;
                  bottom: -5px;
                  left: 50%;
                  -webkit-transform: translate(-50%);
                  transform: translate(-50%);
                }
              }
            }
          }
        }
      }
    }
  }
}
.chart-table {
  border: 0px;
  tr {
    th,
    td {
      border: 0px;
    }
  }
  tbody {
    tr:nth-child(1) {
      td:nth-child(1) {
        font-size: 0px;
        &::before {
          content: "";
          font-size: 0px;
          background-color: #ff4500;
          border-radius: 100%;
          height: 20px;
          width: 20px;
          padding: 0px;
          display: block;
        }
      }
    }
    tr:nth-child(2) {
      td:nth-child(1) {
        font-size: 0px;
        &::before {
          content: "";
          font-size: 0px;
          background-color: #0074d9;
          border-radius: 100%;
          height: 20px;
          width: 20px;
          padding: 0px;
          display: block;
        }
      }
    }
    tr:nth-child(3) {
      td:nth-child(1) {
        font-size: 0px;
        &::before {
          content: "";
          font-size: 0px;
          background-color: #ff4136;
          border-radius: 100%;
          height: 20px;
          width: 20px;
          padding: 0px;
          display: block;
        }
      }
    }
    tr:nth-child(4) {
      td:nth-child(1) {
        font-size: 0px;
        &::before {
          content: "";
          font-size: 0px;
          background-color: #2ecc40;
          border-radius: 100%;
          height: 20px;
          width: 20px;
          padding: 0px;
          display: block;
        }
      }
    }
    tr:nth-child(5) {
      td:nth-child(1) {
        font-size: 0px;
        &::before {
          content: "";
          font-size: 0px;
          background-color: #39cccc;
          border-radius: 100%;
          height: 20px;
          width: 20px;
          padding: 0px;
          display: block;
        }
      }
    }
    tr:nth-child(6) {
      td:nth-child(1) {
        font-size: 0px;
        &::before {
          content: "";
          font-size: 0px;
          background-color: #01ff70;
          border-radius: 100%;
          height: 20px;
          width: 20px;
          padding: 0px;
          display: block;
        }
      }
    }
    tr:nth-child(7) {
      td:nth-child(1) {
        font-size: 0px;
        &::before {
          content: "";
          font-size: 0px;
          background-color: #85144b;
          border-radius: 100%;
          height: 20px;
          width: 20px;
          padding: 0px;
          display: block;
        }
      }
    }
    tr:nth-child(8) {
      td:nth-child(1) {
        font-size: 0px;
        &::before {
          content: "";
          font-size: 0px;
          background-color: #f012be;
          border-radius: 100%;
          height: 20px;
          width: 20px;
          padding: 0px;
          display: block;
        }
      }
    }
    tr:nth-child(9) {
      td:nth-child(1) {
        font-size: 0px;
        &::before {
          content: "";
          font-size: 0px;
          background-color: #3d9970;
          border-radius: 100%;
          height: 20px;
          width: 20px;
          padding: 0px;
          display: block;
        }
      }
    }
    tr:nth-child(10) {
      td:nth-child(1) {
        font-size: 0px;
        &::before {
          content: "";
          font-size: 0px;
          background-color: #111111;
          border-radius: 100%;
          height: 20px;
          width: 20px;
          padding: 0px;
          display: block;
        }
      }
    }
    tr {
      td:last-child {
        color: blue;
      }
    }
  }
}
