<div class="modal-header">
    <h5>Company Contacts</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class="company-establish">
        <div class="row mt-2">
            <div class="col-4">
                <label>Name:</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" placeholder="Enter name" [(ngModel)]="name">
            </div>
        </div>

        <div class="row  mt-2">
            <div class="col-4">
                <label>Company:</label>
            </div>
            <div class="col-8">
                <auto-suggestion (onSelected)="CompanyId=($event.id)" id="company" url="Suggestion/GetCompanies" display="name" placeholder="Enter Company name" style="width:60%;">
                </auto-suggestion>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-4">
                <label>Branch Name:</label>
            </div>
            <div class="col-8">
                <select class="form-control" name="dropdown" id="dropdown" [(ngModel)]="branchId">
                      <option *ngFor="let branch of branchs" [value]="branch.id">
                        {{branch.name}}
                     </option>
                  </select>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-4">
                <label>Establishment Type:</label>
            </div>
            <div class="col-8">
                <select class="form-control" name="dropdown" id="dropdown" [(ngModel)]="establishmentType">
                          <option *ngFor="let type of companyEstablishmentType" [value]="type.id">
                            {{type.description}}
                         </option>
                      </select>
            </div>
        </div>


        <div class="row mt-2">
            <div class="col-4">
                <label>Department Name:</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" placeholder="Enter Department" [(ngModel)]="deptName">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <label>Designation</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" placeholder="Enter Designation" [(ngModel)]="designation">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <label>Phone No:</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" placeholder="Enter phone No" [(ngModel)]="phoneNo">
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-4">
                <label>Mobile No:</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" placeholder="Enter Mobile NO" [(ngModel)]="MobileNo">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <label>Email:</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" placeholder="Enter email Id" [(ngModel)]="email">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <label>Remark</label>
            </div>
            <div class="col-8">
                <textarea name="comment" class="form-control" form="usrform" [(ngModel)]="remark"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer mt-2">
    <button type="button" class="btn btn-primary" (click)="addCompanyContacts()">Submit</button>
</div>