.map{
    height: 450px;
}
.time-line-event{
    position: absolute;
    width: 100%;
}
.time-line-event .time-line-scale{
    position: relative;
    width: 98%;
    margin-top:10px;
    border-bottom: 1px solid black;
    top: 4px;
}
.time-line-event .time-line-circle{
    position: absolute;
    height: 10px;
    top:50%;
    background-color: aqua;
}
.zoom_btn_box{
    position: absolute;
    bottom: 10px;
    right: 20px;
    z-index: 999;
}
.zoom_btn_box span{
    display: block;
}
input[type=text] {
    width: 100%;
    height: 30px;
    padding-left: 5px;
    font-size: 13px;
    margin-top: 10px;
    border: 2px solid darkcyan;
    border-radius: 4px;
}
.pac-container{
    z-index: 9999999;
}
.modal-header{
    padding: 10px 15px;
}
.modal-footer button{
    margin: 0px;
    padding: 5px 20px;
    border-radius: 5px;
    display: block;
    height: auto;
    width: auto;
    outline: none;
    text-transform: capitalize;    
}

table{
    margin: 0px;
}
.tbl{
    overflow: auto;
    height: 450px;
    display: block;
    border: 0px;
    margin: 0px;
}
.table table tbody tr {
    height: 100%;
    width: 100%;
    max-width: 160px;
}

table {
    thead {
      background-color: #263238;
      color: #fff;
      display: table;
      width: 100%;
    }
    tr {
     
      th {
        font-weight: normal;
        width: 52px;
        word-break: break-all;
      }
    
      td {
        font-size: 12px;
        width: 52px;
        word-break: break-all;
      }
      .go_btn{
        width: 50px !important;
      }
    }
    tbody {
      display: table;
      width: 100%;
    }
  }
// table{
//     tr{
//         th{
//             font-weight: 500;
//         }
//     }
// }