<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">Vehicle States - {{vehicle[0].vregno}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row" style="margin-bottom:20px">
    <div class="col-sm-2">
      <label>Trip States:</label>
    </div>
    <div class="col-sm-4">
      <!-- Any change will need to change in fn_getvehicelstatename -->
      <select [(ngModel)]="stateType" class="form-control" (change)="changeStateType()"
        style=" border: 1px solid #324148; font-size: 10px">
        <option value="0">Select State</option>
        <option value="1">Loading</option>
        <option value="2">Onward</option>
        <option value="3">Unloading</option>
        <option value="4">Available</option>
        <option value="301">Accident</option>
        <option value="311">Break Down</option>
        <option value="321">Maintenance</option>
        <option value="331">Waiting for Load</option>
        <option value="341">Driver Unavailable</option>
        <option value="401">RTO Issue</option>
        <option value="411">Driver Related Issue</option>
        <option value="421">Traffic Issue</option>
        <option value="431">Documents Issue</option>
      </select>
      <!-- Any change will need to change in fn_getvehicelstatename -->

    </div>
  </div>
  <div class="row" style="margin-bottom:20px">
    <!-- <div class="col-sm-6" id="foo"> -->
    <!-- <div class="row"> -->
    <div class="col-sm-4">
      <input type="radio" name="halt" value="halts" [(ngModel)]="changeCategory" (change)="getCategory()">
      Halts
    </div>
    <div class="col-sm-4">
      <input type="radio" name="sites" value="sites" [(ngModel)]="changeCategory" (change)="getCategory()">
      Sites
    </div>
    <div class="col-sm-4">
      <input type="radio" name="location" value="location" [(ngModel)]="changeCategory" (change)="getCategory()">
      Location
    </div>
  </div>
  <div class="row mt-3" *ngIf="changeCategory=='halts'">
    <div class="col-sm-2" style="margin-top:15px">
      <label>Location Name:</label>
    </div>
    <div class="col-sm-2">
      <input type="text" class="form-control" [(ngModel)]="halt.location" name="haltLocation"
        placeholder="Location Name">
    </div>
  </div>
  <div class="row mt-4" *ngIf="changeCategory=='sites'">
    <div class="col-sm-2 mt-2">
      <label>Site: </label>
    </div>
    <div class="col-sm-4">
      <auto-suggestion (onSelected)="getSite($event)" url="Suggestion/getSites?typeId=1" display="name"
        placeholder="Search site" [preSelected]="null"></auto-suggestion>
    </div>

    <div class="col-sm-2 mt-2">
      <label>Date:</label>
    </div>
    <div class="col-sm-4">
      <input [(ngModel)]="site.site_date" [owlDateTime]="date " [owlDateTimeTrigger]="date " placeholder="Date Time"
        class="form-control" autocomplete="off" name="date">
      <owl-date-time #date></owl-date-time>
      <!-- <input type="text" class="form-control" [value]="site.site_date | date : 'dd MMM yyyy'" name="date" placeholder="Date" (click)="getDate('site')"> -->
    </div>
  </div>
  <div class="row mt-4" [hidden]="changeCategory != 'location'">
    <div class="col-sm-2 mt-2">
      <label>Location: </label>
    </div>
    <div class="col-sm-4">
      <input type="text" placeholder="place.." id="location" name="location" [(ngModel)]="location.loc"
        class="form-control mt-0">
    </div>

    <div class="col-sm-2 mt-2">
      <label>Date:</label>
    </div>
    <div class="col-sm-4">
      <input [(ngModel)]="location.loc_date" [owlDateTime]="date1 " [owlDateTimeTrigger]="date1" placeholder="Date Time"
        class="form-control" autocomplete="off" name="date1">
      <owl-date-time #date1></owl-date-time>
      <!-- <input type="text" class="form-control" [value]="location.loc_date | date : 'dd MMM yyyy'" name="date1" placeholder="Date" (click)="getDate('loc')"> -->
    </div>
  </div>
  <!-- </div> -->
  <!-- <div class="col-sm-6" *ngIf="changeCategory=='halts'">
      <table class="table table-bordered">
        <thead class="thead" style="background-color:#d4d4d4">
          <tr>
            <th>Select Halt</th>
            <th>Last 10 Halt</th>
            <th>Time</th>
          </tr>

        </thead>
        <tbody>
          <tr *ngIf="!vehicleEvent.length">
            <td colspan="3">Record not found</td>
          </tr>
          <tr *ngFor="let data of vehicleEvent; let i=index;">
            <td> <input type="radio" name="select" value="select" (change)="selectHalt(data)"></td>
            <td>{{data.halt_reason}}</td>
            <td>{{data.addtime | date : 'dd MMM HH:mm'}}</td>
          </tr>
        </tbody>
      </table>
    </div> -->
  <!-- </div> -->
  <div class="row" style="margin-top:10px; height: 450px ">
    <div class="col-sm-6" *ngIf="changeCategory=='halts'" style="height: 450px ">
      <table class="tbl table table-bordered table-hover">
        <thead class="thead">
          <tr>
            <th>Select Halt</th>
            <th>place</th>
            <th>Location</th>
            <th>Start</th>
            <th>End</th>
            <th>Duration</th>
          </tr>

        </thead>
        <tbody>
          <tr *ngIf="!vehicleEvent.length">
            <td colspan="3">Record not found</td>
          </tr>
          <tr *ngFor="let Event of vehicleEvent; let i=index;"
            [ngStyle]="{'background-color' : (Event.halt_reason=='Loading') || (Event.halt_reason=='Unloading')  ? '#'+Event.rc:'#fff'}">
            <td> <input type="radio" name="select" value="select" (change)="selectHalt(Event)"></td>
            <td (click)="openSmartTool(i,Event)" (mouseover)="mapService.toggleBounceMF(i)"
              (mouseout)="mapService.toggleBounceMF(i,2)">
              {{getPlace[i]}}</td>
            <!-- <td (click)="openSmartTool(i,Event)" (mouseover)="mapService.toggleBounceMF(i)"
              (mouseout)="mapService.toggleBounceMF(i,2)">
              {{Event.addtime | date : 'dd MMM HH:mm'}}</td> -->
            <td (click)="openSmartTool(i,Event)" (mouseover)="mapService.toggleBounceMF(i)"
              (mouseout)="mapService.toggleBounceMF(i,2)">
              {{Event.loc_name}}</td>
            <td (click)="openSmartTool(i,Event)" (mouseover)="mapService.toggleBounceMF(i)"
              (mouseout)="mapService.toggleBounceMF(i,2)">
              {{commonService.changeDateformat2(Event.start_time)}}</td>
            <td (click)="openSmartTool(i,Event)" (mouseover)="mapService.toggleBounceMF(i)"
              (mouseout)="mapService.toggleBounceMF(i,2)">
              {{commonService.changeDateformat2(Event.end_time)}}</td>
            <td (click)="openSmartTool(i,Event)" (mouseover)="mapService.toggleBounceMF(i)"
              (mouseout)="mapService.toggleBounceMF(i,2)">
              {{Event.duration}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-6" style="position:relative;" id="foo">
      <div class="zoom_btn_box">
        <span class="zoom-btn" (click)="mapService.zoomMap(6)">1</span>
        <span class="zoom-btn" (click)="mapService.zoomMap(9)">2</span>
        <span class="zoom-btn" (click)="mapService.zoomMap(12)">3</span>
        <span class="zoom-btn" (click)="mapService.zoomMap(15)">4</span>
        <span class="zoom-btn" (click)="mapService.zoomMap(18)">5</span>
      </div>
      <div class="map" id="map"></div>
      <div class="time-line-event" *ngIf="changeCategory=='halts'">
        <div class="time-line-scale"></div>
        <!-- <span class="clock" style="margin-top:5px;margin-right:5px"><i class="fa fa-clock"></i></span> -->
        <div *ngFor="let event of vehicleEvent; let i = index;" class="time-line-circle"
          [ngStyle]="{background: '#'+event.color, left: event.position + '%', width:event.width+'%'} "
          (click)="selectHalt(event)" (mouseover)="setEventInfo(event)" (mouseout)="unsetEventInfo()">
        </div>
      </div>
    </div>


  </div>

  <div class="row" style="margin-top:10px">
    <div class="col-sm-2 mt-2">
      <label>Remark:</label>
    </div>
    <div class="col-sm-4">
      <input type="text" placeholder="" name="remark" [(ngModel)]="remark" class="form-control mt-0">
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="footer" style="text-align:right;"><button class="btn btn-primary" (click)="checkVehicle()">Save</button>
  </div>
</div>