input[type=text] {
    width: 100%;
    height: 30px;
    padding-left: 5px;
    font-size: 13px;
    margin-top: 10px;
    border: 2px solid darkcyan;
    border-radius: 4px;
}
.radio2{
    margin-left: 20px;
}