<nb-card>
  <nb-card-body>
    <!-- <div class="container"> -->
    <!-- <div class="row"> -->
    <!-- <form class="w-100"> -->
    <!-- <div class="row"> -->
    <!-- style="padding-bottom: 0px; height:calc(100vh - 70px);" -->
    <!-- <div class="col-md-1 pt-3">
              <label>Brand</label>
            </div>
            <div class="col-md-2">
              <auto-suggestion (onSelected)="brandId = $event.id;vehicleModelTypes();" display="name"
                placeholder="Enter Brand" [data]="brands" [preSelected]="null"></auto-suggestion>
            </div>
            <div class="col-md-1 pt-3">
              <label>Model</label>
            </div>
            <div class="col-md-2">
              <auto-suggestion (onSelected)="modelId = $event.id;" display="name" placeholder="Enter Model"
                [data]="models" (change)="resetData($event)" [preSelected]="null"></auto-suggestion>
            </div>
            <div class="col-md-1">
              <button class="btn btn-primary" (click)="getSubModelService()">
                View
              </button>
            </div> -->
    <!-- </div>
        </form>
      </div>
    </div> -->
    <div *ngIf="data && data.length">
      <smart-table [data]="table.data" [settings]="table.settings"></smart-table>
    </div>
    <div class="alert alert-danger text-center mt-3" *ngIf="!data || !data.length">
      <h4 class="no-record">No Record Found</h4>
    </div>
  </nb-card-body>
</nb-card>