<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-10">
        <h5>Vehicle Status Changes</h5>
      </div>
      <div class="col-2">
        <span class="anlytics_btn" (click)="openAnalyticsModal()"
          ><img height="50px" width="50px" src="assets/images/analytics.png" />
        </span>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body style="padding:10px 15px;">
    <div class="vehicle_status_tabs clearfix mb-3">
      <ul class="tabset">
        <li [ngClass]="dis=='all'?'tab active':'tab'" >
          <input
            type="button"
            id="viewall"
            (click)="getVehicleStatusAlerts('all');dis='all'"
            value="View All"
          />
        </li>
        <li [ngClass]="dis=='new'?'tab active':'tab'">
          <input
            type="button"
            id="viewnew"
            (click)="getVehicleStatusAlerts('view new');dis='new'"
            value="View New"
          />
        </li>
        <li [ngClass]="dis=='old'?'tab active':'tab'">
          <input
            type="button"
            id="viewold"
            (click)="getVehicleStatusAlerts('view old');dis='old'"
            value="View old"
          />
        </li>
        <li [ngClass]="dis=='refresh'?'tab active':'tab'" >
          <input
            type="button"
            id="refresh"
            (click)="getVehicleStatusAlerts('pending');dis='refresh'"
            value="Refresh"
          />
        </li>
        <li [ngClass]="dis=='adrw'?'tab active':'tab'">
          <input
            type="button"
            id="advancereview"
            (click)="getVehicleStatusAlerts('advance review');dis='adrw'"
            value="Advance Review"
          />
        </li>
      </ul>
      <input
        type="button"
        id="statusPending"
        (click)="getHaltsDetails()"
        value="Verify Halts"
      />
      <input
        type="button"
        id="statusPending"
        (click)="getPendingStatusDetails()"
        value="Pending Alerts"
      />
    </div>
    <div class="tableFixHead">
      <table class="table table-bordered table-hover ">
        <thead class="thead">
          <tr>
            <th>Fo Name</th>
            <th>Vehicle RegNo</th>
            <th>Vehicle Id</th>
            <th>Primary Status</th>
            <th>Secondry Status</th>
            <th>Suggestion</th>
            <th>Alert Time</th>
            <th>Hold User</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let VehicleStatusAlert of VehicleStatusAlerts">
            <td>{{ VehicleStatusAlert.fo_name }}</td>
            <td>{{ VehicleStatusAlert.regno }}</td>
            <td>{{ VehicleStatusAlert.vehicle_id }}</td>
            <td>{{ VehicleStatusAlert.prim_status }}</td>
            <td>{{ VehicleStatusAlert.sec_status }}</td>
            <td>{{ VehicleStatusAlert.suggest }}</td>
            <td>{{ VehicleStatusAlert.alert_time }}</td>
            <td>{{ VehicleStatusAlert.hold_by }}</td>
            <td>
              <button (click)="enterTicket(VehicleStatusAlert)">
                Take Action
              </button>
             
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="no-data" *ngIf="!VehicleStatusAlerts.length">
      No Data available !
    </div>
    <div style="margin-top:10px">
      <b>Number Of Alerts : {{ VehicleStatusAlerts.length }}</b>
    </div>
  </nb-card-body>
</nb-card>
