<nb-card style="border:0px;">
  <nb-card-header>
    <h5>MVS Freight Statement</h5>
  </nb-card-header>
  <nb-card-body>
    <div class="row" style="margin-top:10px; margin-bottom:10px;">
      <div class="col-md-2 pr-0">
        <uj-date-time-picker [isTime]="false" (onChanged)="startTime = $event" [dateTimeValue]="startTime">
        </uj-date-time-picker>
      </div>
      <div class="col-md-2 pr-0">
        <uj-date-time-picker [isTime]="false" [isStart]="false" (onChanged)="endTime = $event"
          [dateTimeValue]="endTime">
        </uj-date-time-picker>
      </div>
      <div class="col-md-2 ">
        <button type="submit" class="btn btn-primary m-0" (click)="viewMvcFreightStaement()">Search</button>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary m-0" (click)="openMvcFreightModal('Add',null)">Add</button>
      </div>


    </div>
    <div>
      <smart-table *ngIf="data && data.length" [data]="table.data" [settings]="table.settings" id="mvsStatement">
      </smart-table>

      <div class="no-data alert alert-danger" role="alert" *ngIf="data.length==0">
        No Data available !
      </div>
    </div>

  </nb-card-body>
</nb-card>