<nb-card style="padding: 0px; border: 0px;">
  <nb-card-header style="padding: 0px; border: 0px;">
    <div class="modal-header mb-3">
      <h5 class="modal-title" id="modal-basic-title">{{ ledgername}}</h5>
      <button type="button" class="close" aria- label="Close" (click)=" modelCondition()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> 
  </nb-card-header>
  <nb-card-body (keydown)="keyHandler($event)">
    <span class="pdf-icon" title="PDF Export" (click)="pdfFunction()" style="cursor: pointer;"><i
      class="fa fa-file-pdf"></i></span>
  <span class="exel-icon" title="CSV Export" (click)="csvFunction()" style="cursor: pointer;margin-left: 10px;"><i
      class="fas fa-file-excel"></i></span>

    <table class="table table-bordered" id="table">
      <thead style="background-color:#263238; color:#fff;">
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Code</th>
          <th>Ref No.</th>
          <th>Voucher Type</th>
          <th>Ledger</th>
          <th>Amount(DR)</th>
          <th>Amount(CR)</th>
          <th *ngIf="accountService.selected.branch.id ==0">Branch</th>
        </tr>
      </thead>
    <tbody>
      <tr *ngFor="let dataItem of ledgerData; let i = index;" (click)="selectedRow = i"
        (dblclick)="(dataItem.y_type.toLowerCase().includes('freight')) ?(dataItem.y_type.toLowerCase().includes('expence'))?openfreight(dataItem['y_refid']):openRevenue(dataItem['y_refid']): (dataItem.y_type.toLowerCase().includes('lr')) ? editTransfer(dataItem['y_refid']): (dataItem.y_type.length != '') ? getBookDetail(dataItem.y_voucherid,dataItem.y_code,dataItem.y_type,dataItem) : '' "
        (enter)="getBookDetail(dataItem.y_voucherid) " [ngClass]="{'highlight' : selectedRow == i,'radclass':(dataItem.y_type == null)}">
        <td>{{i + 1}}</td>
        <td>{{dataItem.y_date | date : 'dd-MMM-yy'}}</td>
        <td>{{dataItem.y_code}}</td>
        <td>{{dataItem.y_cust_code}}</td>
        <td>{{dataItem.y_type}}</td>
        <td>{{dataItem.y_ledger}}</td>
        <td *ngIf="dataItem.y_dramunt != 0">{{dataItem.y_dramunt}}</td>
        <td *ngIf="dataItem.y_dramunt == 0"></td>
        <td *ngIf="dataItem.y_cramunt != 0">{{dataItem.y_cramunt}}</td>
        <td *ngIf="dataItem.y_cramunt ==0"></td>
        <td *ngIf="accountService.selected.branch.id ==0"> {{dataItem.y_company_branch}}</td>
      </tr>
    </tbody>
    </table>
  </nb-card-body>
</nb-card>

<div class="date-modal" *ngIf="showDateModal" (keydown)="keyHandler($event)">
  <div class="date-modal-body">
    <div>
      <input type="text" class="form-control" name="voucher-date-f2" id="voucher-date-f2" [(ngModel)]="ledger[f2Date]"
        maxlength="10">
    </div>
  </div>
</div>