<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title"> Filling Entries</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <table class="table table-bordered table-hover">
    <thead class="thead">
      <tr>
        <th>#</th>
        <th>Station Name</th>
        <th>Location</th>
        <th>Litres</th>
        <th>Entry Time</th>
        <th>Is Full</th>

      </tr>
    </thead>
    <tbody>
      <!-- <div *ngFor="let fueldetail of fuelDetails; let i = index" > -->
      <tr *ngFor="let fueldetail of fuelDetails; let i = index">
        <!-- <tr *ngIf="fuelDetails.is_last_filling" [style.color]="'red'"> -->
        <th scope="row">{{i + 1}}</th>
        <td *ngIf="i==0" style="background-color:burlywood">{{fueldetail.name}}</td>
        <td *ngIf="i!=0">{{fueldetail.name}}</td>
        <td>{{fueldetail.location}}</td>
        <td>{{fueldetail.litres}}</td>
        <td>{{fueldetail.entry_time | date : 'dd-MMM hh:mm a'}}</td>
        <td>
          <input type="checkbox" [(ngModel)]="fueldetail.is_full" name="isFull" (change)="changeFullDetail(fueldetail)">
        </td>
      </tr>
    </tbody>

  </table>

</div>