.modal-body button {
  text-transform: capitalize;
  padding: 8px 20px;
  border: 0px;
  border-radius: 5px;
}
.close {
  padding: 6px 15px;
}
.modal-footer {
  button {
    text-transform: capitalize;
    padding: 8px 20px;
    border: 0px;
    border-radius: 5px;
  }
}
