.zoom_btn_box{
    position: absolute;
    bottom: 10px;
    right: 20px;
    z-index: 999;
}
.zoom_btn_box span{
    display: block;
}
.map{
    height: 400px;
}

.radio-type{
    padding-bottom: 10px;
    font-size: 14px;
    input{
        margin: 0px;
        margin-right: 5px;
        vertical-align: middle;
        width: 20px;
        height: 20px !important;
        margin-left: 8px;
    }
}

.fill-elt {
    padding: 3px; font-size: 14px;
}
.row{
    margin-top: 2px;
}