.add {
  font-size: 14px;
  color: #fff;
  background: #000;
  width: 28px;
  padding: 6px 0px;
  text-align: center;
  border-radius: 3px;
  float: right;
  margin-left: 10px;
}
.remove {
  font-size: 12px;
  background-color: #f44236;
  color: #fff;
  padding: 7px 8px;
  border-radius: 3px;
  float: right;
}
.refresh{
  font-size: 12px;
  background-color: green;
  color: #fff;
  padding: 7px 8px;
  border-radius: 3px;
  float: right;
}
