<nb-card style="border:0px;">
  <nb-card-header>
    <h4>Fuel Fillings</h4>
  </nb-card-header>

  <nb-card-body style="padding-top:0px; ">

    <button id="add-fuel" name="add-fuel" class="btn btn-primary" (click)="addFuel()"
      style="margin-bottom:15px; margin-right: 10px; cursor: pointer;">Add Fuel</button>
    <button id="import-csv" name="import-csv" class="btn btn-primary" (click)="addCsv()"
      style="margin-bottom:15px; margin-right: 10px; cursor: pointer;">Import CSV</button>

    <div class="col-sm-2">
      <input style="cursor: pointer;" type="text" class="form-control" autocomplete="off" (click)="getDate('start')"
        placeholder="Select Start Date" [value]="dates.start | date: 'dd MMM yyyy'" name="start-date" readonly>
    </div>
    <div class="col-sm-2">
      <input type="text" style="cursor: pointer;" class="form-control" autocomplete="off" (click)="getDate('end')"
        placeholder="Select End Date" [value]="dates.end | date: 'dd MMM yyyy'" name="end-date" readonly>
    </div>

    <smart-table *ngIf="fillingData.length" [data]="table.data" [settings]="table.settings" id="tblfillings">
    </smart-table>
    <br>

    <!-- <div 8*ngIf="">


    </div> -->
  </nb-card-body>
</nb-card>