button { 
    padding: 7px 10px !important;
    background-color: #263238;
    border-radius: 5px !important;
    text-transform: capitalize !important;
    cursor: pointer;
    outline: none;
    box-shadow: none;
}

nb-card-header{
    padding: 15px 20px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}
.selected {
    background-color: #576c77
}



.tjr-button {
    cursor: pointer;
    margin-top: 18px;
    background: #263238 !important;
    height: auto;
    border-radius: 3px !important;
    padding: 3px 8px !important;
}
.auto-sugg{
    max-height: 128px;
    min-height: 128px;
}
table{
    border: 0px;
    thead{
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    tr{
        th{
            padding: 5px 10px;
            font-weight: normal;
            width:192px;
        }
        th:first-child{
            width: 250px;
        }
        th:last-child{
            width: auto;
        }
        td{
            padding: 5px 10px !important;
            font-size: 12px;
            width: 192px;
            border: 1px solid #C7C7C7;
            border-bottom: 0px;
            b{
                font-weight: normal !important;
                width: 120px;
                text-align: right;
                display: inline-block;
            }
            button{
                padding: 0 !important;
                font-size: 11px;
                border-radius: 0px !important;
                margin: 0px;
                background-color: transparent;
                color: #263238;
                outline: none;
                box-shadow: none;
            }
        }
        td:first-child{
            width:250px;
        }
    }
    tbody{
        overflow-y: auto;
        display: block;
        width: 100%;
        table-layout: fixed;
        overflow: auto;
        border:0px;
        tr{
            display: table;
            table-layout: fixed;
            width: 100%;
            td:last-child{
                width: auto;
            }
        }
        tr:nth-child(odd){
            background-color: #fff;
        }
        tr:nth-child(even){
            background-color: #e4e4e4;
        }
    }
} 

.date-modal{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999999;
    top: 0;
    left: 0;
}
.date-modal-body{
    background: #fff;
    width: 152px;
    margin: 15% auto auto auto;
}
.selected {
    background-color: #576c77
}

.pdf-icon{
    font-size: 30px;
    color: #9F0001;
}
.exel-icon{
    font-size: 30px;
    color: #217346;
}


.heading {
    background-color: #263238;
    color: #fff;
    border: 1px solid #c7c7c7
}
.heading div{
    padding: 6px 15px !important;
    border-right: 1px solid #ddd;
}
.heading div:last-child{
    border-right: 0px;
}
.th-mini {
    background: #184154;
    color: #fff;
    border-bottom: 1px solid #c7c7c7;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
}
.th-mini div,
.tb-mini div{
    padding: 6px 15px;
    border-right: 1px solid #ddd;
}
.tb-mini div:last-child{
    border-right: 0px;
}
.th-mini .col-8,
.th-mini .col-4 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.th-mini .col-8 {
    border-right: 1px solid #c7c7c7;
}

.tb-mini {
    border-bottom: 1px solid #c7c7c7;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    font-size: 11px;
    color: #fff;
}

.tb-mini .col-8,
.tb-mini .col-4 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.td-mini .col-8 {
    border-right: 1px solid #c7c7c7;
}
.x-data {
    width: 100%;
    background: #dadfe6;
    overflow: scroll;
    overflow: auto;
    z-index: 1;
    .row {
        margin: 0; 
        border-bottom: 1px solid #FFF;
        // .x-col {
        //     // border-right: 1px solid #c2c2c2;
        // }
        
    }
    .x-stocktype {
        background: #184154;
        color: #fff;
        font-size: 14px;
        .x-col:first-child {
            max-width: 25.7%;
        }
    }
    
}
.x-col{
    color: #fff;
}
.x-col:first-child {
    max-width: 25.7%;
}
.expand-div {
    position: absolute;
    right: 20px;

    label {
        font-weight: 500;
        margin-right: 10px;
        margin-left: 5px;
        vertical-align: middle;
    }
}

.lastrowcolor{
    background-color: #bfcfd9 !important;
    font-size: 11px;
    div{
        color:#000 !important;
    }
}
.highlight {
    background-color: #FFEE75 !important;
    color: #000 !important;
}



//kavita singh css
.heading{
    width: 100%;
    // position: fixed;
    // left: 241px;
    z-index: 2;
    border: 1px solid #263238;
}
.heading div{
    border-right: 1px solid #263238;
}
.x-col{
    border-right: 1px solid #f2f2f2;
    padding: 6px 4px;
}
.lastrowcolor .x-col{
    color: #000;
}
.jrx-dtbody{
     height: calc(100vh - 218px);
    overflow: auto;
    width: 100%;
}
.th-mini div, .tb-mini div{
    padding: 6px 4px;
}
.highlight[_ngcontent-cdj-c13] {
    background-color: #e2ca1f !important;

}