<nb-card style=" border: 0px;">
  <!-- <nb-card-header>
    <h4>Ledger View</h4>
  </nb-card-header> -->
  <nb-card-body (keydown)="keyHandler($event)">
    <!-- View Expand -->
    <div class="expand-div" style="z-index:99">
      <input type="radio" name="view" [(ngModel)]="viewType" value="main" (change)="changeViewType()">
      <label>Expand Group</label>
      <input type="radio" name="view" [(ngModel)]="viewType" value="sub" (change)="changeViewType()">
      <label>Expand Sub Group</label>
      <input type="radio" name="view" [(ngModel)]="viewType" value="all" (change)="changeViewType()">
      <label>Expand All</label>
    </div>
    <!-- View Expand End -->
    <div class="row">
      <div class="col-9">
        <span class="pdf-icon" title="PDF Export" (click)="pdfService.htmlToPdf('table')"
          style="cursor: pointer;"><i class="fa fa-file-pdf"></i></span>
        <span class="exel-icon" title="CSV Export" (click)="generateCsvData()"
          style="cursor: pointer;margin-left: 10px;"><i class="fas fa-file-excel"></i></span>
        <div class="row">
          <div class="col-3">
            <div class="form-group">
              <label class="tjr-label">Starting Date</label>
              <input type="text" style="cursor: pointer;" class="form-control tjr-input" id="startDate"
                autocomplete="off" maxlength="10" name="account-startDate" [(ngModel)]="accountService.fromdate">
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label class="tjr-label">End Date</label>
              <input type="text" style="cursor: pointer;" class="form-control tjr-input" id="endDate" autocomplete="off"
                maxlength="10" name="account-endDate" [(ngModel)]="accountService.todate">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <button class="btn btn-primary btn-block tjr-button" type="button" outline (click)="getTrial()"
                id="submit" style="cursor: pointer;margin-top: 18px;">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="table">
    <div class="row heading m-0 p-0">
        <div class="col-3">Ledger</div>
        <div class="col-3">Opening Balance</div>
        <div class="col-2">Amount(Debit)</div>
        <div class="col-2">Amount(Credit)</div>
        <div class="col-2">Closing Balance</div>
    </div>
    <div *ngFor="let traildata of trialBalanceData;  let i = index;"
    (click)="handleExpandation($event, i, 'trialBalanceData', 'mainGroup', 0)">
      <div class="th-mini row m-0 pl-0 pr-0" [ngStyle]="{'display':  i == trialBalanceData.length -1 ? 'none' : ''}">
        <div class="col-3">{{traildata.name}}</div>
        <div class="col-3" *ngIf="traildata.openingamount != 0">{{ traildata.openingamount | number : '1.2-2'}}<span>{{traildata.openingType}}</span></div>
        <div class="col-3" *ngIf="traildata.openingamount == 0"></div>
        <div class="col-2" *ngIf="traildata.dramount != 0">{{ traildata.dramount | number : '1.2-2'}}</div>
        <div class="col-2" *ngIf="traildata.dramount == 0"></div>
        <div class="col-2" *ngIf="traildata.cramount != 0">{{ traildata.cramount | number : '1.2-2'}}</div>
        <div class="col-2" *ngIf="traildata.cramount == 0"></div>
        <div class="col-2" *ngIf="traildata.amount != 0">{{ traildata.amount | number : '1.2-2'}}<span>{{traildata.closingType}}</span></div>
        <div class="col-2" *ngIf="traildata.amount == 0"></div>
        <!-- <div class="col-4 text-right">{{traildata.amount | number : '1.2-2'}}</div> -->
      </div>

      <div *ngFor="let subGroup of traildata.subGroups; let k = index;"
      [hidden]="active.trialBalanceData.mainGroup.indexOf('mainGroup' + i + 0) == -1"
            (click)="handleExpandation($event, i, 'trialBalanceData', 'subGroup', k)">
        <div class="tb-mini row m-0 pl-0 pr-0" style="background-color: #5d6e75;color: #fff;">
          <div class="col-3">{{subGroup.name}}</div>
          <div class="col-3" *ngIf="subGroup.openingamount != 0">{{ subGroup.openingamount | number : '1.2-2'}} <span>{{subGroup.openingType}}</span></div>
        <div class="col-3" *ngIf="subGroup.openingamount == 0"></div>
          <div class="col-2" *ngIf="subGroup.dramount != 0">{{ subGroup.dramount | number : '1.2-2'}}</div>
        <div class="col-2" *ngIf="subGroup.dramount == 0"></div>

          <div class="col-2" *ngIf="subGroup.cramount != 0">{{ subGroup.cramount | number : '1.2-2'}}</div>
        <div class="col-2" *ngIf="subGroup.cramount == 0"></div>

          <div class="col-2" *ngIf="subGroup.amount != 0">{{ subGroup.amount | number : '1.2-2'}} <span>{{subGroup.closingType}}</span></div>
        <div class="col-2" *ngIf="subGroup.amount == 0"></div>

  
          <!-- <div class="col-4 text-right">{{subGroup.total | number : '1.2-2'}}</div> -->
        </div>

        <div *ngFor="let trialBalance of subGroup.trialBalances; let j = index" 
        (click)="selectedRow =  'A' + i  + k + j; $event.stopPropagation(); " class="tb-mini row m-0 pl-0 pr-0" [hidden]="active.trialBalanceData.subGroup.indexOf('subGroup' + i + k) == -1"
        (dblclick)="(trialBalance.groupname.includes('Profit & Loss A/c')) ? getProfitLoss() :getBookDetail(trialBalance.y_ledgerid,trialBalance.y_ledger_name)"
          [ngClass]="{'highlight' : selectedRow == 'A' + i + k + j }" style="background: #dadfe6;">
          <div class="col-3">{{trialBalance.y_ledger_name}}</div>
          <div style="text-align: left;" class="col-3 text-right" *ngIf="trialBalance.y_openbal != 0">
            <p style="margin: 0px; width: 50px; text-align: right;">{{trialBalance.y_openbal | number : '1.2-2' }}<span>{{ trialBalance.y_openbaltype}}</span></p>
          </div>
          <div class="col-3" *ngIf="trialBalance.y_openbal == 0"></div>
          <div class="col-2" *ngIf="trialBalance.y_dr_bal != 0">{{trialBalance.y_dr_bal | number : '1.2-2'}}</div>
        <div class="col-2" *ngIf="trialBalance.y_dr_bal == 0"></div>
          <div class="col-2" *ngIf="trialBalance.y_cr_bal != 0">{{trialBalance.y_cr_bal | number : '1.2-2'}}</div>
        <div class="col-2" *ngIf="trialBalance.y_cr_bal == 0"></div>
          <div class="col-2"  *ngIf="trialBalance.y_closebal != 0">{{trialBalance.y_closebal | number : '1.2-2' }}<span>{{trialBalance.y_closebaltype}}</span></div>
          <div class="col-2" *ngIf="trialBalance.y_closebal == 0"></div>

        </div>

      </div>
    </div>
  </div>
    <!-- <table class="table table-bordered" id="table">
      <thead style="background-color:#263238; color:#fff;">
        <tr>
          <th>Ledger</th>
          <th>Opening Balance</th>
          <th>Amount(Debit)</th>
          <th>Amount(Credit)</th>
          <th>Closing Balance</th>
        </tr>
      </thead>
     

      <tbody *ngFor="let dataItem of trialBalanceData; let i = index;">
        <tr style="background: #184154; color: #fff">
          <td>{{dataItem.name}}</td>

          <td *ngIf="dataItem.totalopening == 0"></td>
          <td style="text-align:right;" *ngIf="dataItem.totalopening != 0">{{dataItem.totalopening}} <span>
              {{dataItem.y_openbaltype}}</span></td>

          <td *ngIf="dataItem.totaldr != 0">{{dataItem.totaldr  | number : '1.2-2'}}</td>
          <td *ngIf="dataItem.totaldr == 0"></td>

          <td *ngIf="dataItem.totalcr != 0">{{dataItem.totalcr  | number : '1.2-2'}}</td>
          <td *ngIf="dataItem.totalcr == 0"></td>

          <td style="text-align:right;" *ngIf="dataItem.totalclosing != 0">
            <b>{{dataItem.totalclosing  | number : '1.2-2'}}</b>
            <span>{{dataItem.y_closebaltype}}</span></td>
          <td *ngIf="dataItem.totalclosing == 0"></td>
        </tr>
        <tr *ngFor="let trialdata of dataItem.traildatas; let j = index" (click)="selectedRow =  '' + i + j"
          (dblclick)="(trialdata.groupname.includes('Profit & Loss A/c')) ? getProfitLoss() :getBookDetail(trialdata.y_ledgerid,trialdata.y_ledger_name)"
          [ngClass]="{'highlight' : selectedRow == '' + i + j }" style="background: #dadfe6;">

          <td>{{trialdata.y_ledger_name}}</td>

          <td *ngIf="trialdata.y_openbal == 0"></td>
          <td *ngIf="trialdata.y_openbal != 0"><span
              style="display: block; text-align: right; margin-right: 62px; white-space: nowrap;">{{trialdata.y_openbal}}
              {{trialdata.y_openbaltype}}</span></td>
          <td *ngIf="trialdata.y_dr_bal != 0">{{trialdata.y_dr_bal}}</td>
          <td *ngIf="trialdata.y_dr_bal == 0"></td>
          <td *ngIf="trialdata.y_cr_bal != 0">{{trialdata.y_cr_bal}}</td>
          <td *ngIf="trialdata.y_cr_bal == 0"></td>
          <td *ngIf="trialdata.y_closebal != 0">
            <span
              style="display: block; text-align: right; margin-right: 62px; white-space: nowrap;"><b>{{trialdata.y_closebal}}</b>{{trialdata.y_closebaltype}}</span>
          </td>
          <td *ngIf="trialdata.y_closebal == 0"></td>
        </tr>
      </tbody>
    </table> -->
  </nb-card-body>
</nb-card>

<div class="date-modal" *ngIf="showDateModal" (keydown)="keyHandler($event)">
  <div class="date-modal-body">
    <div>
      <input type="text" class="form-control" name="voucher-date-f2" id="voucher-date-f2" [(ngModel)]="trial[f2Date]"
        maxlength="10">
    </div>
  </div>
</div>