.remove{
    font-size: 20px;
    color: red;
}
.missingIndustry:focus{
    background: coral;
    border-radius:5px;
}
.backLogs:focus{
    background: coral;
    border-radius:5px;
}
.backLogs{
    padding: 11px;
     border-radius:15px;
}
.missingIndustry{
     padding: 11px;
      border-radius:15px;
}

.tableFixHead {
    overflow-y: auto;
    height: 100vh;
}

.tableFixHead th {
    position: sticky;
    top: 0;
    background: #677078;
}
.btn-design{
    border-radius: 5px;
    background-color: #1a8bbf;
    border: 0px;
    color: #fff;
    margin-left: 5px;
}