<nb-card>
  <nb-card-header>
    <div class="col-sm-4">
      <h5>Alert Related Issues</h5>
    </div>
    <div class="col-sm-8 text-right">
      <label>{{ticketsData.length}} Records</label>
    </div>

  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-2">
        <uj-date-time-picker (onChanged)="startDate = $event " [dateTimeValue]="startDate" [isTime]="false">
        </uj-date-time-picker>
      </div>
      <div class="col-2">
        <uj-date-time-picker (onChanged)="endDate = $event" [isStart]="false" [dateTimeValue]="endDate"
          [isTime]="false">
        </uj-date-time-picker>
      </div>
      <div class="col-2">
        <button class="btn btn-dark" (click)="isFo='true';ticket()">Fo Issue</button>
      </div>
      <div class="col-2">
        <button class="btn btn-dark" (click)="isFo='false';ticket()">All Issue</button>
      </div>
    </div>
    <div class="mt-2">
      <smart-table *ngIf="ticketsData && ticketsData.length" [data]="table.data" [settings]="table.settings">
      </smart-table>
    </div>
  </nb-card-body>
</nb-card>