<nb-card>
  <nb-card-header>
    <h5>Upload Driving Licence</h5>
  </nb-card-header>
  <nb-card-body>
    <div class="container">
      <div class="row">
        <form class="w-100">
          <div class="row">
            <div class="col-md-8">
              <div class="col-md-4">
                <label>Driver Name:</label>
                <auto-suggestion (onSelected)="getDriverInfo($event)" url="Suggestion/getDriverName" display="empname"
                  placeholder="Enter Driver Name" style="width:60%;"></auto-suggestion>
              </div>
              <div class="col-md-4">
                <label>Upload Licence Image:</label>
                <input type="file" id="file_licence" name="file_licence" style="line-height: 1.7;"
                  (change)="processImageUpload($event)" />
              </div>
              <div class="col-md-4" style='display: inline;'>
                <button type="submit" class="btn btn-primary " style="margin-top: 15px; cursor: pointer;"
                  (click)="uploadDLImage()">Upload</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nb-card-body>
</nb-card>