:host ::ng-deep .tableFixHead {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
    height: auto !important;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 20px;
}

.tabs_style {
    width: 100%;
    margin: 0px;
    border-bottom: 2px solid #26A69A;
    margin-bottom: 10px;
    padding-left: 5px !important;
    li {
        padding: 5px 6px;
        list-style: none;
        margin-right: 5px;
        background-color: #26A69A;
        border: 2px solid #26A69A;
        color: #fff;
        border-bottom: 0px;
        display: inline-block;
        border-radius: 5px 5px 0px 0px;
        font-size: 12px;
        font-weight: normal;
        cursor: pointer;
        &.active {
            background-color: #fff;
            color: #26A69A;
            position: relative;
            &::after {
                content: '';
                display: block;
                background-color: #fff;
                height: 10px;
                width: 100%;
                position: absolute;
                left: 0px;
            }
        }
    }
}

:host ::ng-deep .tableFixHead {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
    height: auto !important;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 20px;
}

.tabs_style {
    width: 100%;
    margin: 0px;
    border-bottom: 2px solid #26A69A;
    margin-bottom: 10px;
    padding-left: 5px !important;
    li {
        padding: 5px 20px;
        list-style: none;
        margin-right: 5px;
        background-color: #26A69A;
        border: 2px solid #26A69A;
        color: #fff;
        border-bottom: 0px;
        display: inline-block;
        border-radius: 5px 5px 0px 0px;
        font-size: 14px;
        font-weight: normal;
        cursor: pointer;
        &.active {
            background-color: #fff;
            color: #26A69A;
            position: relative;
            &::after {
                content: '';
                display: block;
                background-color: #fff;
                height: 10px;
                width: 100%;
                position: absolute;
                left: 0px;
            }
        }
    }
}

.error {
    font: 200;
    font-size: 14px;
}

.ex-pen {
    color: red;
    display: block;
    font-weight: normal;
    margin-top: 5px;
}

.text-red {
    color: red
}

.model-handler {
    position: absolute;
    left: 5px;
    color: #ccc;
    cursor: move;
    width: 24px;
    height: 24px;
  }