.modal-header{
    padding: 10px 15px !important;
}
.close{
    font-size: 36px;
    padding: 8px 16px;
}
.map-container {
    width: 100%;
    height: 340px;
    position: relative;
}
#map {
    height: 100%;
    width: 100%;
    z-index: 1;
}
.input-container {
    z-index: 2;
    width: 100%;
}
.input-container input {
    background: #f8f8f8;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    /* border: 1px solid; */
    box-shadow: 0px 2px 6px 0px grey;
    letter-spacing: .5px;
}
.done-button {
    position: absolute;
    bottom: 0;
    border-radius: 5px;
    margin: 5%;
    width: 90%;
    height: 7%;
    background: rgba(0, 0, 0, .8);
    z-index: 2;
}
.zoom-container {
    position: absolute;
    z-index: 999;
    right: 15px;
    bottom: 100px;
    width: 30px;
}
.zoom-btn {
    display: block;
    background:black;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    margin: auto;
    line-height: 30px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgb(143, 136, 155);
    margin-bottom: 10px;
    cursor: pointer;
}
.zoom-btn:active{
    background: #fff;
    color: orange;
}
.tracker_img {
    position: absolute;
    bottom: 10px;
    z-index: 999;
    width: 40px;
    left: 12px;

    img {
        width: 100%;
    }
}