td {
    background-color:  #ffffff;
    text-align: -webkit-center;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    line-height: 1.42857143;
    vertical-align: inherit;
    border-top: 1px solid #ddd;
    padding:6px;
}
.tyres{
    margin-left: 5%
}

th{
    text-align: center;
}


[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 3px solid #f00;
    padding: 3px;
  }
  img{
      width:20px;
  }
  .seclected{
      opacity: 0.5;
  }
  .vehicle-container{
      position: relative;
  }
  
  .tyre-rod-left{
    width: 60%;
    position: absolute;
    left: calc(40% + 10px);
    top: 32px;
    z-index: 10;
    height: 11px;

  }
  .tyre-rod-right{
    width: 65%;
    position: absolute;
    right: calc(40% + 4px);
    top: 32px;
    z-index: 10;
    height: 11px;
  }
  .tyre-container{
    z-index: 99999;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .stepheniee{
    width:50px;
  }
  .vehicle-container .hover_label{
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 5px;
    left: 18px;
    top: 18px;
    display: none;
  }
  .vehicle-container .hover_label:after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #020202;
    position: absolute;
    top: 8px;
    right: -5px;
  }
  .vehicle-container span:hover .hover_label{
    display: block;
  }
nb-card-header{
  padding: 20px;  
  border: 1px solid #efefef;
}
.tabset{
    padding: 0px !important;
    margin-bottom: 20px!important;
}
nb-card-body{
    padding: 0px 20px 15px;
}
.alert-danger{
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 12px !important;
    font-size: 18px !important;
}