<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-sm-5">
        <h5>Fuel Mileage</h5>
      </div>

      <div class="col-sm-1">
        <span>
          <span class="pdf-icon" title="PDF Export" (click)="printPDF('fuelMileage')" style="cursor: pointer;"><i
              class="fa fa-file-pdf"></i></span>
          <span class="exel-icon" title="CSV Export" (click)="printCsv('fuelMileage')"
            style="cursor: pointer;margin-left: 10px;"><i class="fas fa-file-excel"></i></span>
        </span>
      </div>
      <div class="col-sm-2">
        <input style="cursor: pointer;" type="text" class="form-control" autocomplete="off" (click)="getDate('start')"
          placeholder="Select Start Date" [value]="dates.start | date: 'dd MMM yyyy'" name="start-date" readonly>
      </div>
      <div class="col-sm-2">
        <input type="text" style="cursor: pointer;" class="form-control" autocomplete="off" (click)="getDate('end')"
          placeholder="Select End Date" [value]="dates.end | date: 'dd MMM yyyy'" name="end-date" readonly>
      </div>
      <div class="col-sm-2">
        <select class="form-control" name="Status" [(ngModel)]="id" (change)="selectType()">
          <option *ngFor="let mapping of Status" [value]="mapping.id">
            {{mapping.name}}

          </option>
        </select>
      </div>

      <div class="col-sm-2">
        <button id="submit" name="submit" class="btn btn-primary w-100" (click)="getfuelAverageDetails()"
          style="margin:0px;  cursor: pointer;">Submit</button>
      </div>


    </div>
  </nb-card-header>
  <nb-card-body>
    <!-- <div>
      <table class="table table-bordered table-hover">
        <thead class="thead">
          <tr>
            <th>#</th>
            <th>Regno</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Liters</th>
            <th>Amounts</th>
            <th>Average</th>
            <th>Total Distance</th>
            <th>Loading Distance</th>
            <th>Unloading Distance</th>
            <th>Location Trail</th>

          </tr>
        </thead>

        <tbody *ngIf="fuelAvgDetails.length!=0">
          <tr *ngFor="let fuelAvgDetail of fuelAvgDetails; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{fuelAvgDetail.reg_number}}</td>
            <td>{{fuelAvgDetail.startdate | date : 'dd-MMM hh:mm a'}}</td>
            <td *ngIf="fuelAvgDetail.enddate!=null">{{fuelAvgDetail.enddate | date : 'dd-MMM hh:mm a'}}</td>
            <td *ngIf="fuelAvgDetail.enddate==null">----</td>
            <td (click)="getDetails(fuelAvgDetail)" style="cursor:pointer; color: blue">{{fuelAvgDetail.liters}}</td>
            <td>{{fuelAvgDetail.amounts}}</td>
            <td>{{fuelAvgDetail.avg}}</td>
            <td (click)="openRouteMapper(fuelAvgDetail)">{{fuelAvgDetail.total_distance}}</td>
            <td>{{fuelAvgDetail.loading_distance}}</td>
            <td>{{fuelAvgDetail.umloading_distance}}</td>
            <td>{{fuelAvgDetail.location_trail}}</td>


          </tr>
        </tbody>
      </table>
      <div class="no-data alert alert-danger" role="alert" *ngIf="fuelAvgDetails.length==0">
        No Data available !
      </div>
    </div> -->
    <!-- <ng-template *ngIf="fuelAvgDetails.length>0; then showTable; else showDiv"></ng-template>
    <ng-template #showTable> -->
    <smart-table *ngIf="fuelAvgDetails &&fuelAvgDetails.length" [data]="table.data" [settings]="table.settings"
      id="fuelMileage">
    </smart-table>
    <!-- </ng-template> -->
    <!-- <ng-template #showDiv> -->
    <div class="no-data alert alert-danger" role="alert" *ngIf="fuelAvgDetails==null">
      No Data available !
    </div>
  </nb-card-body>
</nb-card>