<tmg *ngIf="user._customer.foid==20632 || user._details.foid==20632"></tmg>
<div *ngIf="user._customer.foid != 20632 && user._details.foid!=20632 " class="position-relative">
  <div>
    <div class="status-print-view pt-0" id="page-1">
      <div class="row">
        <div class="col-2 x-hide">
          <i class="fa fa-bars x-hide" [ngClass]="{'active': isHidePie}" (click)="setIsHidePie()"></i>
        </div>
        <div class="col-8 status-print-title text-center">
          <h4>Trip dashboard</h4>
        </div>
        <div class="col-2 right-status" *ngIf="allKpis && allKpis.length">
          <div *ngFor="let gs of gpsStatusKeys" style="float:left" [title]="gs">
            <div [class]="gs=='Offline'?'ball red':gs=='Online'?'ball bgreen': gs=='SIM'? 'ball bgblue' :'ball byellow'"
              style="margin-left: 8px;">
            </div>
            <u (click)="filterByGpsData(gs)">
              {{gpsStatus[gs].length}}
            </u>
          </div>
        </div>
        <!-- <div class="col-2">
                    <button class="btn btn-primary" (click)="prefrenceModalOpen()">Prefrences & Order</button>
                </div> -->
      </div>
      <div class="row" *ngIf="pdfData.primary.list.length">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
          <div style="overflow: hidden;" [hidden]="isMapView">
            <div
              style="font-size:16px;margin:0px;text-align: center;padding:8px 0px;background: linear-gradient(45deg,#30ccff 0,#5a9cff 100%); color: #fff; border-radius: 5px; margin-bottom: 10px; "
              class="row">
              <div class="col-sm-12">
                <span>{{ pdfData.primary.name }}</span>
              </div>
            </div>

            <div class="chartbox">
              <chart class="dashboard_chart" type="pie" [data]="pdfData.primary.chartData"
                [options]="pdfData.primary.chartOptions" id="chart"></chart>
            </div>
            <div class="status_box">
              <div class="graph-data">
                <nb-card *ngFor="let status of pdfData.primary.list; let i = index">
                  <nb-card-body (click)="choosePrimarySubStatus(status)" style="cursor: pointer;">
                    <div class="col-sm-1 p-0">
                      <div
                        style="width: 20px;height: 20px;border-radius: 100%; box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);"
                        [ngStyle]="{ 'background-color': status.bgColor }"></div>
                    </div>
                    <div class="col-sm-9">
                      {{ status.name }} ({{ status.length }})
                    </div>
                  </nb-card-body>
                </nb-card>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
        </div>
      </div>
      <div class="truck-route" *ngIf="allKpis && allKpis.length">
        <div class="truck_road">
          <i class="fas fa-truck-moving left-truck"></i>
          <i class="fas fa-truck-moving right-truck"></i>
          <hr>
        </div>
      </div>
      <div class="row" id="page-2" *ngIf="allKpis && allKpis.length">
        <div class="col-sm-3 pl-5">
          <div class="" style="overflow: hidden;" [hidden]="isMapView">
            <div
              style="font-size:16px;margin:0px;text-align: center;padding:8px 0px;background: linear-gradient(45deg,#30ccff 0,#5a9cff 100%); color: #fff; border-radius: 5px; margin-bottom: 10px; "
              class="row">
              <div class="col-sm-12">
                <span>Top 5 Trip Start</span>
              </div>
            </div>
            <div class="status_box">
              <div class="">
                <nb-card *ngFor="let group of pdfData.tripStart.list; let i = index">
                  <nb-card-body (click)="filterData(group.name)" style="cursor: pointer;">
                    <div class="col-sm-1 p-0">
                      <div
                        style="width: 20px;height: 20px;border-radius: 100%; box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);"
                        [ngStyle]="{ 'background-color': group.bgColor }"></div>
                    </div>
                    <div class="col-sm-11 pr-0">
                      {{ group.name | titlecase }}
                      ({{ pdfData.tripStart.kpiGroups[group.name].length }})
                    </div>
                  </nb-card-body>
                </nb-card>
              </div>
            </div>

          </div>
        </div>
        <div class="col-6"></div>
        <div class="col-sm-3 pr-5">
          <div class="" style="overflow: hidden;" [hidden]="isMapView">
            <div
              style="font-size:16px;margin:0px;text-align: center;padding:8px 0px;background: linear-gradient(45deg,#30ccff 0,#5a9cff 100%); color: #fff; border-radius: 5px; margin-bottom: 10px; "
              class="row">
              <div class="col-sm-12">
                <span>Top 5 Trip End</span>
              </div>
            </div>
            <div class="status_box">
              <div class="">
                <nb-card *ngFor="let group of pdfData.tripEnd.list; let i = index">
                  <nb-card-body (click)="filterData(group.name)" style="cursor: pointer;">
                    <div class="col-sm-1 p-0">
                      <div
                        style="width: 20px;height: 20px;border-radius: 100%; box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);"
                        [ngStyle]="{ 'background-color': group.bgColor }"></div>
                    </div>
                    <div class="col-sm-11 pr-0">
                      {{ group.name | titlecase }}
                      ({{ pdfData.tripEnd.kpiGroups[group.name].length }})
                    </div>
                  </nb-card-body>
                </nb-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div mwlResizable [enableGhostResize]="true" class="map-table-container"
      [ngStyle]="{ width: isMapView ? widths.smartTable : '100%' }" [resizeEdges]="{
                        bottom: false,
                        right: true,
                        top: false,
                        left: false
                      }" (resizeEnd)="onResizeEnd($event, 'smartTable')">
      <nb-card *ngFor="let table of pdfData.tables; let i = index">
        <nb-card-body>
          <div [id]="'print-table-' + i">
            <smart-table class="home-page-tabel" style="width:100%;" [data]="table.data" [settings]="table.settings">
            </smart-table>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <nb-card class="nb_card_box" style="border: 0px; height: 100%;">
    <nb-card-body style="padding:5px 5px 0px;">
      <div class="row m-0">
        <div class="col-sm-3 pl-0 pr-2" style="height: 90vh; overflow: hidden;" [hidden]="isMapView || isHidePie">
          <div
            style="font-size:16px;margin:0px;text-align: center;padding:8px 0px;background: linear-gradient(45deg,#30ccff 0,#5a9cff 100%); color: #fff; border-radius: 5px; margin-bottom: 10px; "
            class="row">
            <div class="col-sm-2">
              <span (click)="changeOptions('reverse')">
                <i class="icon ion-ios-rewind"></i></span>
            </div>

            <div class="col-sm-8">
              <span>{{ viewName }}</span>
            </div>
            <div class="col-sm-2">
              <span (click)="changeOptions('forward')"><i class="icon ion-ios-fastforward"></i></span>
            </div>

          </div>
          <ng-container *ngIf="allKpis && allKpis.length">

            <div>
              <chart class="dashboard_chart" type="pie" [data]="chartData" [options]="chartOptions" id="chart">
              </chart>
            </div>
            <div class="status_box" style="overflow: auto; height: calc(90vh - 250px); max-height: calc(90vh - 250px);">
              <nb-card>
                <nb-card-body (click)="allData()" style="cursor: pointer;">
                  <div class="col-sm-1 p-0">
                    <div
                      style="background-color:grey;color: white; box-shadow: 0 5px 10px 0 rgba(0,0,0,.2); width: 20px;height: 20px;border-radius: 100%;">
                    </div>
                  </div>
                  <div class="col-sm-8">
                    All Data
                  </div>
                  <div class="col-sm-3">
                    {{ allKpis.length }}
                  </div>
                </nb-card-body>
              </nb-card>
              <div *ngIf="viewType == 'showprim_status'">
                <nb-card *ngFor="let status of primaryStatus; let i = index">
                  <nb-card-body (click)="choosePrimarySubStatus(status)" style="cursor: pointer;">
                    <div class="col-sm-1 p-0">
                      <div
                        style="width: 20px;height: 20px;border-radius: 100%; box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);"
                        [ngStyle]="{ 'background-color': status.bgColor }"></div>
                    </div>
                    <div class="col-sm-8">
                      {{ status.name | titlecase }}
                    </div>
                    <div class="col-sm-3">
                      {{ status.length }}
                    </div>
                  </nb-card-body>
                  <div class="select_option" *ngIf="activePrimaryStatus == status.name">
                    <ul>
                      <li *ngFor="let option of primarySubStatus" (click)="selectSubStatus(option.kpis)">
                        <span></span> {{ option.name }}
                      </li>
                    </ul>
                  </div>
                </nb-card>
              </div>
              <div *ngIf="viewType !== 'showprim_status'">
                <!-- <nb-card *ngFor="let group of kpiGroupsKeys; let i = index">
                            <nb-card-body (click)="filterData(group.name)" style="cursor: pointer;">
                                <div class="col-sm-1 p-0">
                                    <div style="width: 20px;height: 20px;border-radius: 100%; box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);"
                                        [ngStyle]="{ 'background-color': group.bgColor }"></div>
                                </div>
                                <div class="col-sm-8">
                                    {{ group.name | titlecase }}
                                </div>
                                <div class="col-sm-3">
                                    {{ kpiGroups[group.name].length }}
                                </div>
                            </nb-card-body>
                        </nb-card> -->
                <nb-card *ngFor="let group of kpiGroupsKeys; let i = index">
                  <nb-card-body (click)="filterSubStatus(group.name)" style="cursor: pointer;">
                    <div class="col-sm-1 p-0">
                      <div
                        style="width: 20px;height: 20px;border-radius: 100%; box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);"
                        [ngStyle]="{ 'background-color': group.bgColor }"></div>
                    </div>
                    <div class="col-sm-8">
                      {{ group.name | titlecase }}
                    </div>
                    <div class="col-sm-3">
                      {{ kpiGroups[group.name].length }}
                    </div>
                  </nb-card-body>
                  <div class="select_option" *ngIf="subGroup.name === group.name">
                    <ul>
                      <li *ngFor="let subGroup of subGroup.data" (click)="selectSubStatus(subGroup.kpi)">
                        <span></span> {{ subGroup.name }} : {{subGroup.kpi.length}}
                      </li>
                    </ul>
                  </div>
                </nb-card>
              </div>
            </div>
            <button class="btn btn-primary pdf-print" type="button" pdf (click)="generatePDF()"><i
                class="fa fa-file-pdf"></i></button>
            <span class="exel-icon" title="CSV Export" (click)="exportCsv('print-section')" style="cursor: pointer;"><i
                class="fas fa-file-excel"></i></span>
          </ng-container>
        </div>
        <div  *ngIf="table" [ngClass]="isMapView || isHidePie ? 'col-sm-12 p-0 ' : 'col-sm-9 p-0'">

          <!-- ============================= SMART TABLE VIEW ============================= -->
          <div mwlResizable [enableGhostResize]="true" class="map-table-container"
            [ngStyle]="{ width: isMapView ? widths.smartTable : '100%' }" [resizeEdges]="{
              bottom: false,
              right: true,
              top: false,
              left: false
            }" (resizeEnd)="onResizeEnd($event, 'smartTable')">
            <div id="print-section">
              <smart-table class="home-page-tabel" style="width:100%;" [data]="table.data" [settings]="table.settings"
                (action)="jrxActionHandler($event)" [returnFilteredData]="true" (filtered)="jrxFiltered($event)">
              </smart-table>
            </div>
            <div class="dataCount">
              <span><label>Total Data: </label></span>
              <span class="count">{{dataCount}}</span>
            </div>
          </div>
          <!-- ============================= SMART TABLE END ============================= -->

          <!-- ============================= MAP VIEW ============================= -->
          <div [hidden]="!isMapView" style="padding: 0px; min-width:300px; display:inline-block; position: relative;"
            [ngStyle]="{ width: 'calc(100% - ' + widths.smartTable + ')' }">
            <div id="concise-view-map" style="width: 100%; height: 87vh;"></div>
            <div class="tracker_img" [ngStyle]="{ transform: rotate }">
              <img src="./assets/images/arrow-top.png" alt="image" />
            </div>
            <div class="cluster-view">
              <input type="checkbox" style="vertical-align: middle; margin-top: 0;" [(ngModel)]='isCluster'
                (change)='createCluster()' />
              <span style="vertical-align: middle;margin-left: 5px;">
                <b>Cluster View?</b>
              </span>

            </div>
          </div>
          <!-- ============================== MAP VIEW END =============================== -->

        </div>
        <div *ngIf="allKpis.length == 0"
          [ngClass]="isMapView || isHidePie ? 'col-sm-12 p-0 full' : 'col-sm-9 p-0 less'" class="noDataFound">
          <div style="display: flex;align-items: center;">
            <h1>No Data Found <span>🚛 </span></h1>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
