<nb-card >
  <nb-card-header>
    <h2>Concise View</h2>
    <hr>
  </nb-card-header>

  <nb-card-body>
    <div class="row" style="margin-top:-15px" >
      <div class="col-sm-3" [@slideToUp]>
        <!-- <div class="form-group" class="col-sm-9">
         <select class="form-control" (change)="getViewType()" name="viewType" [(ngModel)]="viewType">
            <option value="showprim_status">Primary Status</option>
            <option value="showsec_status">Secondary Status</option>
            <option value="x_showtripstart">Trip Start</option>
            <option value="x_showtripend">Trip End</option>
          </select>
        </div> -->
        <div style="font-size:25px;text-align: center " class="row">
          <div class="col-sm-2">
            <span (click)="changeOptions('reverse')"> <i class="icon ion-ios-rewind"></i></span>
          </div>
          <div class="col-sm-8">
            <span>{{viewName}}</span>
          </div>
          <div class="col-sm-2">
          <span (click)="changeOptions('forward')"><i class="icon ion-ios-fastforward"></i></span>
        </div>
        </div>
        <div style="height: 230px;margin-top:0px">
          <chart type="pie" [data]="common.chartData" [options]="common.chartOptions" id="chart"></chart>
        </div>
        <div style="height:350px;overflow:auto"> 
        <nb-card *ngFor="let group of groupList; let i = index;">
          <nb-card-body (click)="filterData(group)" [ngStyle]="{'background-color':chartsColors[i]}">
            <div class="row" [ngStyle]="{'color':textColor[i]}" >
              <div class="col-sm-9">
                {{group | titlecase}}
              </div>
              <div class="col-sm-3">
                {{statusGroup[group].length}}
              </div>
            </div>

          </nb-card-body>
        </nb-card>
      </div>
      </div>
      <div class="col-sm-9" >
        <div  style ="height: 610px; overflow: auto; width: 100%;">
        <table class="table table-bordered table-hover" [@routerTransition]>
          <thead class="thead">
            <tr>
              <th># </th>
              <th>Vehicle </th>
              <th>Status </th>
              <th>Hrs </th>
              <th>Trip </th>
              <th>Kmp </th>
              <th>Location</th>
              <!-- <th>View LR</th> -->
            </tr>

          </thead>
            <tr *ngFor="let kpi of kpis; let i = index;">
              <td scope="row">{{i + 1}}</td>
              <td (click)="showDetails(kpi)">{{kpi.x_showveh}}</td>
              <td (click)="showDetails(kpi)">{{kpi.showprim_status }} {{ kpi.showsec_status ? ',' +
                kpi.showsec_status : ''}}</td>
              <td (click)="showDetails(kpi)" [ngClass]="(kpi.x_hrssince >= 24) ? 'red' : ''">{{kpi.x_hrssince}}</td>
              <td (click)="showDetails(kpi)">
                <i name="exit" class="fas fa-sign-out-alt"></i>

                <!-- Heading -->
                <div col-4 (click)="showDetails(kpi)" *ngIf="kpi.trip_status_type == 0">
                  <i name="exit" class="fa fa-sign-out-alt"></i>
                  <span class="circle">{{kpi.x_showtripstart}}</span>
                  <span class="arrow" *ngIf="kpi.x_showtripend"> -></span>
                  <i class="route-arrow" name="ios-arrow-round-forward"></i>
                  <span>{{kpi.x_showtripend}}</span>
                </div>

                <!-- Loading -->
                <div col-4 (click)="showDetails(kpi)" *ngIf="kpi.trip_status_type == 1">
                  <span class="circle">{{kpi.x_showtripstart}}</span>
                  <span class="arrow" *ngIf="kpi.x_showtripend"> -></span>
                  <i class="route-arrow" name="ios-arrow-round-forward"></i>
                  <span>{{kpi.x_showtripend}}</span>
                </div>

                <!-- Onward -->
                <div col-4 (click)="showDetails(kpi)"  *ngIf="kpi.trip_status_type == 2">
                  <span>{{kpi.x_showtripstart}}</span>
                  <span class="arrow" *ngIf="kpi.x_showtripend">-></span>
                  <i class="route-arrow" name="ios-arrow-round-forward"></i>
                  <span>{{kpi.x_showtripend}}</span>
                </div>

                <!-- Unloading -->
                <div col-4 (click)="showDetails(kpi)" *ngIf="kpi.trip_status_type == 3">
                  <span>{{kpi.x_showtripstart}}</span>
                  <span class="arrow" *ngIf="kpi.x_showtripend">-></span>
                  <i class="route-arrow" name="ios-arrow-round-forward"></i>
                  <span class="circle">{{kpi.x_showtripend}}</span>
                </div>

                <!-- Complete -->
                <div col-4 (click)="showDetails(kpi)" *ngIf="kpi.trip_status_type == 4">
                  <span>{{kpi.x_showtripstart}}</span>
                  <span class="arrow" *ngIf="kpi.x_showtripend" >-></span>
                  <i class="route-arrow" name="ios-arrow-round-forward"></i>
                  <span>{{kpi.x_showtripend}}</span>
                  <!-- <i class="complete" name="checkmark-circle-outline"></i> -->
                </div>

                <!-- Ambigous -->
                <div col-4 (click)="showDetails(kpi)" *ngIf="kpi.trip_status_type == 5">
                  <span>{{kpi.x_showtripstart}}</span>
                  <span class="arrow" *ngIf="kpi.x_showtripend">-></span>
                  <span>{{kpi.x_showtripend}}</span>
                </div>


              </td>
              <td (click)="showDetails(kpi)" [ngClass]="kpi.x_kmph < 20 ? 'pink' : ''">{{kpi.x_kmph}}</td>
              <td (click)="showLocation(kpi)">{{kpi.Address}}
                <!-- <i class="icon ion-ios-pin" style="margin-left:20px; font-size:20px;"></i> -->
              </td>
              <!-- <td>
                <span (click)="getLR(kpi)" *ngIf="kpi.x_lr_id">View</span>
              </td> -->
            </tr>
          </tbody>

        </table>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>