<nb-card>
  <nb-card-body>
    <div class="row" style="margin-top:-15px">
      <div class="col-sm-3" [@slideToUp]>
        <!-- <div class="form-group" class="col-sm-9">
         <select class="form-control" (change)="getViewType()" name="viewType" [(ngModel)]="viewType">
            <option value="showprim_status">Primary Status</option>
            <option value="showsec_status">Secondary Status</option>
            <option value="x_showtripstart">Trip Start</option>
            <option value="x_showtripend">Trip End</option>
          </select>
        </div> -->
        <div style="font-size:25px;text-align: center " class="row">
          <div class="col-sm-2">
            <span (click)="changeOptions('reverse')"> <i class="icon ion-ios-rewind"></i></span>
          </div>
          <div class="col-sm-8">
            <span>{{viewName}}</span>
          </div>
          <div class="col-sm-2">
            <span (click)="changeOptions('forward')"><i class="icon ion-ios-fastforward"></i></span>
          </div>
        </div>
        <div style="height: 200px;margin-top:0px">
          <chart type="pie" [data]="chartData" [options]="chartOptions" id="chart"></chart>
        </div>

        <div style="height:300px;overflow:auto">
          <nb-card>
            <nb-card-body (click)="allData()" style="background-color:grey;color: white">
              <div class="col-sm-9">
                All Data
              </div>
              <div class="col-sm-3">
                {{allKpis.length}}
              </div>
             </nb-card-body>
          </nb-card>
          <nb-card *ngFor="let group of kpiGroupsKeys; let i = index;">
            <nb-card-body (click)="filterData(group.name)" [ngStyle]="{'background-color':group.bgColor}">
              <div class="row" [ngStyle]="{'color': group.textColor}">
                <div class="col-sm-9">
                  {{group.name | titlecase}}
                </div>
                <div class="col-sm-3">
                  {{kpiGroups[group.name].length}}
                </div>
              </div>

            </nb-card-body>
          </nb-card>
        </div>
        <!-- <button class="btn btn-primary" style="margin-left:50px; margin-top:10px" (click)="openVehicleOnMapModel()">Show Map</button> -->
      </div>
      <div class="col-sm-9" *ngIf="table">
        <smart-table [data]="table.data" [settings]="table.settings"></smart-table>
      </div>
    </div>
  </nb-card-body>
</nb-card>