.headings {
    background: #e2e2e2;
    font-size: 11px;
    font-weight: 500;
}

.data {
    font-size: 10px;
    border-bottom: 1px solid #e2e2e2;
    min-height: 20%;
}

.data ion-col,
.headings ion-col {
    padding: 3px;
    border-left: 1px solid #f2f2f2;
}

:host ::ng-deep.icon {
    margin-right: 5px;
    cursor: pointer;
}

:host ::ng-deep.blue {
    color: blue;
    font-weight: 700;
}

:host ::ng-deep.black {
    color: black; // display: none;
}

:host ::ng-deep.red {
    background: red;
    color: #fff;
}

:host ::ng-deep.pink {
    background: pink;
    color: black;
}

:host ::ng-deep.green {
    background: #96ec11;
    color: black;
}

.loc-icon {
    text-align: center;
    font-size: 10px;
    color: orange;
}

:host ::ng-deep .circle {
    border: 1px solid gray;
    border-radius: 50%;
    padding: 3px 4px;
}

.route-arrow {
    font-size: 20px;
    vertical-align: middle;
    margin: 0px 5px;
}

:host ::ng-deep .complete {
    vertical-align: middle;
    color: green;
}

.exit {
    vertical-align: middle;
    margin-right: 3px;
}

.loaded {
    font-weight: bold;
}

.search-box {
    background: #fff;
    font-size: 13px;
    padding: 6px 8px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    vertical-align: middle;
    margin-left: 10px;
    width: 60%;
    letter-spacing: .3px;
    color: #000;
}


table {
    cursor: pointer; // background: aliceblue;
}

.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.status_box {
    nb-card {
        margin: 0px;
        border: none;
        border-top: 1px solid #d7dee4;
        nb-card-body{
            padding: 12px 10px;
        }
    }

}

.select_option {
    background-color: #f5f5f5;
    padding: 10px;
    margin-left: 15px;
    margin-bottom: 10px;

    h5 {
        font-size: 14px;
    }

    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;

        li span {
            width: 16px;
            height: 16px;
            border-radius: 5px;
            margin-right: 5px;
            display: inline-block;
            vertical-align: middle;
        }

        li:nth-child(1) span {
            background-color: #96ec11;
        }

        li:nth-child(2) span {
            background-color: #dc3545;
        }

        li:nth-child(3) span {
            background-color: #ff5200;
        }

        li:nth-child(4) span {
            background-color: #2196F3;
        }

        li:nth-child(5) span {
            background-color: #009688;
        }

        li:nth-child(6) span {
            background-color: #607D8B;
        }

        li:nth-child(7) span {
            background-color: #9C27B0;
        }

        li+li {
            margin-top: 10px;
        }

        li {
            cursor: pointer;
        }
    }
}

mwlResizable {
    box-sizing: border-box; // required for the enableGhostResize option to work
}


.map-table-container {
    display: inline-block;
    vertical-align: top;
    border-right: 5px solid #fff;
}

:host ::ng-deep {
    th:nth-child(2) {
        width: 85px;
    }

    th:nth-child(3) {
        width: 80px;
    }

    th:nth-child(4) {
        width: 65px;
    }

    th:nth-child(5) {
        width: 65px;
    }

    th:nth-child(6) {
        width: 100px;
    }

    th:nth-child(7) {
        width: 70px;
    }

    th:nth-child(8) {
        width: 95px;
    }

    th:nth-child(9) {
        width: 100px;
    }
}

.tracker_img{
    position: absolute;
    bottom: 10px;
    z-index: 999;
    width: 40px;
    left: 12px;
    img{
        width: 100%;
    }
}
:host ::ng-deep.tableFixHead{
    height: auto !important;
    max-height: calc(100vh - 80px);
}
:host ::ng-deep .no-search{
    color: #000;
}