.nb_card_box {
    position: absolute;
    top: 48px;
    z-index: 998;
    width: 100%;
    height: calc(100vh - 90px);
}

.status-print-view2 {
    width: 210mm;
    height: 297mm;
    margin: auto;
}

.graph-data nb-card {
    width: 33%;
    display: inline-block;
    padding: 0px;
    font-size: 14px;
    font-weight: bold;
}

.graph-data nb-card nb-card-body {
    padding: 15px 6px;
    display: block;
}

.status-print-view {
    padding: 15px;
    //height: 310mm;
    font-size: 24px;
}

.all_data {
    font-size: 12px;
}

.status-print-view .dashboard_chart {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 16px;
}

.truck-route {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 20px;
}

.truck_road {
    display: block;
    width: 100%;
}

.truck_road:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 100%;
    position: absolute;
    bottom: -3px;
}

.truck_road:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 100%;
    position: absolute;
    right: 0px;
    bottom: -3px;
}

.truck_road hr {
    background-color: #000;
    height: 2px;
    margin: 0px;
}

.left-truck {
    margin-left: 15px;
}

.right-truck {
    float: right;
    margin-right: 15px;
}

.truck_road svg {
    font-size: 40px;
    color: #f87003;
}

#page-2 .status_box nb-card:nth-child(1) {
    border-top: 0px !important;
}

.status-print-title h4 {
    color: #000;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
}

.status_box {
    margin-right: -90px !important;
}