<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">Vehicle Service Schedular</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <table class="table table-bordered table-hover m-0" id="tbldocs">
    <thead class="thead">
      <tr style="text-align:center">
        <th>#</th>
        <th>Vehicle No</th>
        <th>Service After Km</th>
        <th>Service After Months</th>
      </tr>
    </thead>

    <tbody *ngIf="serviceDatas.length!=0">
      <tr *ngFor="let serviceData of serviceDatas; let i = index">
        <td>{{i + 1}}</td>
        <td>{{serviceData.r_regno}}</td>
        <td><input type="number" [(ngModel)]="serviceData.r_kms" max="99999" style="width:150px"></td>
        <td><input type="number" [(ngModel)]="serviceData.r_months" max="99" style="width:100px"></td>
      </tr>
    </tbody>
  </table>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" outline (click)="saveData()"
    style="cursor: pointer;">{{btntxt}}</button>
</div>