<nb-card style="padding-top: 26px;">
  <!-- <nb-card-header>
    <div class="row">
      <div class="col-sm-4 pr-0">
        <h5> Vehicle Cost Center List</h5>
      </div>
    </div>
  </nb-card-header> -->
  <nb-card-body>
    <div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>SN</th>
            <th> <input type="checkbox" name="vlist" [(ngModel)]="selectedAll" (ngModelChange)="selectAll()"></th>
            <th>Vehicle Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of vehCostList;let i=index;">
            <td>{{i+1}}</td>
            <td>
              <input type="checkbox" [name]="'list-' + i" [(ngModel)]="list.selected"
                (ngModelChange)="changeStatus(list.y_vehicle_name)">
            </td>
            <td>{{list.y_vehicle_name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="text-align: right">
      <button class="btn btn-primary" style="width: 150px" type="button" outline (click)="saveCostCenterList()"
        id="submit" style="cursor: pointer;">Submit</button>
    </div>
  </nb-card-body>
</nb-card>