.row{
    width: 100%;
}
.map{
    width: 90%;
}
.table table tbody tr > td,input,button  {
    height: 100%;
    width: 100%;
    max-width: 160px;
}
.tbl{
    overflow: auto;
    height: 350px;
}
table.buffer{
    tr{
        td{
            input, select{
                padding: 4px 5px;
                width: 100%;
                height: auto;
                margin: 0px;
                max-width: 100%;
                font-size: 12px;
            }
            button{
                padding: 0px 10px;
                margin: 0px;
                text-transform: capitalize;
                width: auto;
            }
        }
        td:nth-child(1){
            width: 200px !important;
            max-width: inherit !important;
        }
        td:nth-child(2){
            width: 150px !important;
            max-width: inherit !important;
        }
        td:nth-child(3){
            width: 150px !important;
            max-width: inherit !important;
        }
        td:nth-child(4){
            width: 150px !important;
            max-width: inherit !important;
        }
    }
}