<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-6 table">
        <table class="buffer">
          <tbody>
            <tr>
              <td>
                <input (keydown.enter)="search()" name="name" id="name" [(ngModel)]="position"
                  class="fill-elt form-control  w-100" autocomplete="off" placeholder="Lat&Long" />
              </td>
              <td>
                <input (keydown.enter)="gotoSingle()" placeholder="Route Id" [(ngModel)]="routeId"
                  class="form-control  w-100">
              </td>
              <td>
                <input type="text" placeholder="Move to.." id="moveLoc" class="form-control w-100">
              </td>

              <td><input type="number" name="meterRadius" class="form-control" id="meterRadius"
                  [(ngModel)]="meterRadius">Meter
              </td>

            </tr>

            <tr>
              <td>
                <button (click)="clearAll()" class="btn btn-primary w-100">Clear</button>
              </td>
              <td>
                <button (click)="undo()" class="btn btn-primary w-60" name="undo" id="undo">Undo</button>
              </td>
              <td>
                <button (click)="loadMarkers()" class="btn btn-primary">Load Marker</button>
              </td>
              <td>
                <button (click)="enterTicket();"
                  class="btn btn-primary">{{mapService.isDrawAllow ? 'Finish Polyline' :'Create Polyline'}}</button>
              </td>

            </tr>

            <tr>
              <td><button (click)="refresh()" class="btn btn-primary">Refresh</button></td>
              <td>
                <button (click)="ignoreSite()" class="btn btn-primary w-60" id="ignore" name="ignore">Ignore</button>
              </td>
              <td>
                <button (click)="boundSearch()" class="btn btn-primary"
                  style="display: inline-block; margin-right: 5px;">Load P</button>
                <button (click)="showHeat();" class="btn btn-primary">{{isHeatAble?'HH':'SH'}}</button>
              </td>
              <td>
                <input type="text" readonly [(ngModel)]="kmsShow" class="form-control">KiloMeters
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <div>
                  <span>
                    <span class="zoom-btn" (click)="mapService.zoomMap(6)">1</span>
                    <span class="zoom-btn" (click)="mapService.zoomMap(9)">2</span>
                    <span class="zoom-btn" (click)="mapService.zoomMap(12)">3</span>
                    <span class="zoom-btn" (click)="mapService.zoomMap(15)">4</span>
                    <span class="zoom-btn" (click)="mapService.zoomMap(18)">5</span>
                  </span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="tbl">
          <table class=" table table-bordered table-hover">
            <thead class="thead">
              <tr>
                <th style="width:40px;">S.No</th>
                <th style="width:40px;">Id</th>
                <th>Lat</th>
                <th>Long</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let remainingElement of remainingList;let i = index;">
                <td style="width:40px;">{{i+1}}</td>
                <td style="width:40px;">{{remainingElement.id}}</td>
                <td>{{remainingElement.lat}}</td>
                <td>{{remainingElement.long}}</td>

                <!-- <td>{{remainingElement.hotcnt || '0'}}</td> -->
                <td (click)="routeId = remainingElement.id;gotoSingle();">Action</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div id="buffer-polyline-map" class="map col-6">
      </div>
    </div>

  </nb-card-body>
</nb-card>