<div class="modal-header">
  <div class="col-md-6"><h5>View Transfer</h5></div>
  
  
      <div class="col-md-6 text-right">
      <span (click)="printHandler()" class="print-icon"><i class="fa fa-print"></i></span>
      <span class="pdf-icon" title="PDF Export" (click)="printPDF('viewTransferPdf')" style="cursor: pointer;"><i
        class="fa fa-file-pdf"></i></span>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
      </button>
</div>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-4">
      <h5 style="color:darkgreen;">{{ledgerType}}</h5>
    </div>
    <div class="col-2">
      <uj-date-time-picker [isTime]="false" (onChanged)="startTime = $event" [dateTimeValue]="startTime">
      </uj-date-time-picker>
    </div>
    <div class="col-2">
      <uj-date-time-picker [isTime]="false" [isStart]="false" (onChanged)="endTime = $event" [dateTimeValue]="endTime">
      </uj-date-time-picker>
    </div>
    <div class="col-2">
      <label>Type</label>
      <div style="display:inline-block">
        <select class="form-control" [(ngModel)]="transferType" style="width:120px;margin-left:8px;">
          <option [value]="1">Transfer</option>
          <option [value]="0">Receipt</option>
          <option [value]="-1">All</option>
        </select>
      </div>
    </div>

    <div class="col-2">
      <button class="btn btn-primary" (click)="viewTransfer()">Search</button>
    </div>
  </div>
</div>

<div>
  <smart-table *ngIf="data && data.length" [data]="table.data" [settings]="table.settings" id="viewTransferPdf">
  </smart-table>
  <div class="no-data alert alert-danger" role="alert" *ngIf="data.length==0">
    No Data available !
  </div>
</div>

<!-- <div class="modal-footer">
  </div> -->