<nb-card style="border:0px;">
    <nb-card-header style="padding-bottom:0px;">
      <div class="row">
        <div class="col-sm-6">
          <h4>Placements DashBoard</h4>
        </div>
        <div class="col-sm-6">
            <ul class="tabs_style">
                <li [ngClass]="dis_all==0?'active':''" id = "dis-all" (click)="displayList(0);dis_all=0;">All</li>
                <li [ngClass]="dis_all==1?'active':''" (click)="displayList(1);dis_all=1;">Placements Assigned</li>
                <li [ngClass]="dis_all==-1?'active':''" (click)="displayList(-1);dis_all=-1;" id = "dis-pen" >Placement Pending</li>
              </ul>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body style="padding-bottom: 0px; padding-top: 10px;">
      <div class="row">
        <div class="col-sm-6 pr-0">
          <smart-table  *ngIf="placements.length" [data]="table.placements" [settings]="table.settings" id="tblVehDocs"></smart-table>
          <br>
        <!-- <table class="table table-bordered table-hover">
          <thead class="thead">
            <tr>
              <th>#</th>
              <th>Site Name</th>
              <th>Today Onwards</th>
              <th>At Loading</th>
              <th>At Intransit</th>
              <th>Waiting Time</th>
            </tr>
          </thead>
  
          <tbody *ngIf="placements.length!=0">
            <tr *ngFor="let placement of placements; let i = index">
              <th scope="row" >{{i + 1}}</th>
              <td>{{placement.r_sitename}}</td>
              <td>{{placement.r_todayonwards}}</td>
              <td>{{placement.r_loadings}}</td>
              <td>{{placement.r_intransits}}</td>
              <td>{{placement.r_waitingtime}}</td>  
            </tr>
          </tbody>
        </table>
        <div class="no-data alert alert-danger" role="alert" *ngIf="placements.length==0">
          No Data available !
      </div> -->
      </div>
      <div class="col-sm-6">
          <smart-table  *ngIf="filteredVehiclePlacements.length" [data]="table1.filteredVehiclePlacements" [settings]="table1.settings1" ></smart-table>
          <br>
          <!-- <table class="table table-bordered table-hover">
              <thead class="thead">
                <tr>
                  <th>#</th>
                  <th>Vehicle No</th>
                  <th>Source</th>
                  <th>Destination</th>
                  <th>Status</th>
                  <th>Placements</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let vehiclePlacement of filteredVehiclePlacements; let i = index" >   
                  <td>{{i + 1}}</td>
                  <td>{{vehiclePlacement.r_regno}}</td>
                  <td>{{vehiclePlacement.r_source}}</td>
                  <td>{{vehiclePlacement.r_destination}}</td>
                  <td>{{vehiclePlacement.r_status}}</td>
                  <td>{{vehiclePlacement.r_placement_name}}</td>  
                  <td style="text-align:center"><button (click)="openPlacementModal(vehiclePlacement)" class="btn btn-danger" style="border-radius: 8px;" >ADD</button></td>
                </tr>
                </tbody>
            </table>
            <div class="no-data alert alert-danger" role="alert" *ngIf="vehiclePlacements.length==0">
              No Data available !
          </div> -->
        </div>
      </div>
      
    </nb-card-body>
  </nb-card>