<div class="">
    <div class="outer" style="min-height: 150px;">
    <h6 style="text-align:center"><b class="charthead">Worst Transporter (6 Month)</b></h6>
    <p style="text-align: right; margin-top: -25px;" class="link"
    (click)="getDetials('Tmgreport/getUnLoadingWorstTransportar',{groupdays: 7,totalrecord: 3,stepno: -1},180,'days')"><i title="More Details" title="More Details"
      class="fa fa-list"></i></p>
    <table class="table table-bordered">
      <thead class="thead">
        <th>Transporter</th>
        <th>Trips Count</th>
        <th>Duration (Hrs)</th>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let uwt of unLoadingWorstTransportar">
          <td (click)="getDetials(uwt._url,{ts:'tst',fromdate:uwt._fromdate,todate:uwt._todate,stepno:'1',totalrecord:'3',jsonparam:uwt.transporter})">{{uwt['transporter']}}</td>
          <td>{{uwt['tripcount']}}</td>
          <td>{{uwt['duration_Hrs']}}</td>
        </tr>
      </tbody>
    </table>
</div>
</div>