<nb-card style="border: 0px;">
    <nb-card-header>
        <div class="row">
            <div class="col-6">
                <h5> FO Model Fuel Mileage</h5>
            </div>
            <div class="col-6 text-right">
                <button type="submit" class="btn btn-primary m-0" name="add" (click)="addFuelAvg()"
                    style="border-radius:3px">Add Model Fuel Mileage</button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="no-data alert alert-danger" role="alert" *ngIf=" fuelAvg.length==0">
            No Data Available On That Time Period !
        </div>

        <div>
            <smart-table *ngIf=" fuelAvg.length>0" [data]="table.data" [settings]="table.settings"></smart-table>
        </div>
        <!-- <div>

            <smart-table *ngIf="fuelAvg && fuelAvg.length" [data]="table.data" [settings]="table.settings"></smart-table>
            <div class="no-data alert alert-danger" role="alert" *ngIf="fuelAvg.length==0">
                No Data available !
            </div>
        </div> -->
    </nb-card-body>
</nb-card>