<nb-card style="margin:0px; border:0px;">
  <nb-card-body style="padding:0px;">
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">Voucher Detail - {{ voucherCode}}</h5>
      <button type="button" class="close" aria- label="Close" (click)="dismiss(false)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="table table-bordered">
        <thead style="background-color:#263238; color:#fff;">
          <tr>
            <th>Particular</th>
            <!--th>Vch Type</th>
        <th>Vch No.</th-->
            <th>Amount(DR)</th>
            <th>Amount(CR)</th>
            <!-- <th>Naration</th> -->
            <th>Cost Center</th>

          </tr>
        </thead>
      <tbody>
        <tr *ngFor=" let dataItem of Detail; let j = index" (click)="selectedRow =  '' + i + j"
          [ngClass]="{'highlight' : selectedRow == '' + i + j }">
          <td>{{dataItem.y_particulars}}</td>
          <!--td>{{dataItem.y_type}}</td>
          <td >{{dataItem.y_code +'/'+ dataItem.y_cust_code}}</td-->
          <td>{{dataItem.y_dramunt}}</td>
          <td>{{dataItem.y_cramunt}}</td>
          <!-- <td>{{dataItem.y_naration}}</td> -->
          <td>
            <div *ngFor="let costDetail of filterCostDetails(dataItem.y_ccdetails)">
              {{costDetail}}
            </div>
          </td>
        </tr>
       <tr>
         <td><label>Narration</label></td>
        <td colspan="3" *ngIf="Detail">{{ Detail[0]['y_naration'] }}</td>
      </tr>
    </tbody>
      </table>
    </div>
    <!-- <div class="modal-footer">
      <div class="row">
        <div class="col">
          <button class="btn btn-danger" type="button" outline (click)="dismiss(false)" id="cancel"
            style="cursor: pointer;">Cancel</button>
        </div>
      </div>
    </div> -->
  </nb-card-body>
</nb-card>