ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
    position: absolute;
    color: black;
    background: #ffff;
    list-style: none;
    line-height: 1.6em;
    position: relative;
  }
  .row-width{
    margin-top: 12px;
  }
  label{
    margin-top: 13px;
  }
  .label1{
    margin-left: 30px;
  }
  .suggestions {
    position: relative;
    height: auto;
    z-index: 999;
    background: #fff;
    width: 90%;
    margin: 3px 12px;
    padding: 0px 8px;
    font-size: 12px;
    letter-spacing: .5px;
    box-shadow: 1px 1px 3px grey;
}
.suggestion {
    padding: 8px 0px 1px 0px;
    margin:1px 0px 3px 1px;
    font-size:14px; 
    list-style: none;
}
ul{
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
}