ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
    position: absolute;
    color: black;
    background: #ffff;
    list-style: none;
    line-height: 1.6em;
    position: relative;
  }
  .row-width{
    margin-top: 12px;
  }
  label{
    margin-top: 13px;
  }
  .suggestions {
    position: relative;
    height: auto;
    z-index: 999;
    background: #fff;
    width: 90%;
    margin: 3px 12px;
    padding: 0px 8px;
    font-size: 12px;
    letter-spacing: .5px;
    box-shadow: 1px 1px 3px grey;
}
.suggestion {
    padding: 8px 0px 1px 0px;
    margin:1px 0px 3px 1px;
    font-size:14px; 
    list-style: none;
}
ul{
  position: absolute;
  box-shadow: 2px 3px 10px #ccc;
  border: 0px;
  border-radius: 5px;
  padding: 6px 15px;
  z-index: 999;
}

