<nb-card>
    <nb-card-header>
        <h5>Manage Party</h5>
    </nb-card-header>
    <nb-card-body>
        <div class="company-association">
            <div class="row ">
                <div class="col-2">
                    <label>Association Type</label>
                    <select class="form-control" name="dropdown" id="dropdown" [(ngModel)]="assType">
                       <option *ngFor="let type of associationType" [value]="type.y_id">
                          {{type.y_groupname}}
                       </option>
                   </select>
                </div>
                <div class="col-sm-2 ml-2" >
                    <label>Search String</label>
                    <select class="form-control"
                    style=" border: 2px solid darkcyan; font-size: 13px" [(ngModel)]="searchString">
                    <option value="name">Name</option>
                    <option value="gst">GST No.</option>
                    <option value="pan ">PAN No.</option>
                    <option value="ledgername">Ledger</option>
                    
                  </select>
                  </div>
                  <div class="col-sm-2 ml-2">
                    <label>Search Value</label>
                    <input type="text" class="form-control" [(ngModel)]="searchValue" autocomplete="off" name="searchValue">
                  </div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary" (click)="getCmpAssocWrtType()">Submit</button>
                </div>
                <div class="col-2 text-right">
                    <button type="button" class="btn btn-primary" (click)="addNewParty('Add')">ADD NEW PARTY</button>
                </div>
            </div>
            <div class="row mt-2">
                <smart-table *ngIf="data && data.length" [data]="table.data" [settings]="table.settings" id="companyBranch">
                </smart-table>
            </div>
        </div>

    </nb-card-body>
</nb-card>