<nb-card style="padding-top: 26px;" (keydown)="keyHandler($event)">
  <nb-card-body>
    <div class="row">
        <span class="pdf-icon" title="PDF Export" (click)="pdfFunction()"
        style="cursor: pointer;"><i class="fa fa-file-pdf"></i></span>
      <span class="exel-icon" title="CSV Export" (click)="csvFunction()"
        style="cursor: pointer;margin-left: 10px;"><i class="fas fa-file-excel"></i></span>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="left-box">
          <div class="row">
            <div class="col-sm-8 pr-0">
              <label class="tjr-label">Vehicle No</label>
              <div class="vehicle_no_input">
                <auto-suggestion (onSelected)="getVehicle($event)" url="Suggestion/getFoVehicleList" display="regno"
                  placeholder="Enter Reg No" [preSelected]="null"></auto-suggestion>
              </div>
            </div>
            <div class="col-sm-4">
              <button (click)="getPendingTrips()" class="btn btn-primary mt-3"><i class="fa fa-plus"></i></button>
            </div>
          </div>
        </div>

      </div>
      <div class="col-9">
        <div class="left-box">
          <div class="row">
            <div class="col-sm-3 pr-0">
              <div class="form-group m-0">
                <label class="tjr-label">Filter Date</label>
                <select class="tjr_select" [(ngModel)]="vchdt">
                  <option value="1">Voucher Date</option>
                  <option value="0">Entry Date</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3 pr-0">
              <div class="form-group m-0">
                <label class="tjr-label">Starting Date</label>
                <input type="text" style="cursor: pointer;" class="form-control tjr-input " autocomplete="off"
                  placeholder="Select Date" name="date" [(ngModel)]="startdate" id="startdate" maxlength="10">
              </div>
            </div>
            <div class="col-sm-3 pr-0">
              <div class="form-group m-0">
                <label class="tjr-label">End Date</label>
                <input type="text" style="cursor: pointer;" class="form-control tjr-input" id="enddate"
                  autocomplete="off" placeholder="Select Date" name="enddate" [(ngModel)]="enddate" maxlength="10">
              </div>
            </div>
            <div class="col-sm-2">
              <button (click)="getSearchTripExpences()" class="btn btn-primary mt-3">Submit</button>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="mt-3">
      <table class="table table-bordered m-0" id="table">
        <thead style="background-color:#263238; color:#fff;">
          <tr>
            <th>SN</th>
            <th>Date</th>
            <th>Vehicle Name</th>
            <th>Code</th>
            <th>Ref No</th>
            <th>Trip Start</th>
            <th>Trip End</th>
            <th>Amount</th>
            <th> Is Approved</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tripVoucher of showtripvoucher;let i = index;" (click)="selectedRow = i"
            (dblclick)="getVoucherSummary(tripVoucher)" [ngClass]="{'highlight' : selectedRow == i}">
            <td>{{i+1}}</td>
            <td>{{tripVoucher.y_date}}</td>
            <td>{{tripVoucher.y_vehicle_name}}</td>
            <td>{{tripVoucher.y_code }}</td>
            <td>{{tripVoucher.y_ref_no }}</td>
            <td>{{tripVoucher.y_start_name }}</td>
            <td>{{tripVoucher.y_end_name }}</td>
            <td>{{tripVoucher.y_amount }}</td>

            <td *ngIf="tripVoucher.y_for_approved">Yes</td>
            <td *ngIf="!tripVoucher.y_for_approved">No</td>

            <!-- <td><i class="fa fa-trash remove" style="width:50px; height:40px; color: red; margin-left: 30px"
                    (click)="deleteVoucherEntry(tripVoucher)"></i></td> -->
          </tr>
        </tbody>
      </table>
      <!-- <table class="table table-bordered" id="table">
        <thead style="background-color:#263238; color:#fff;">
          <th>SN</th>
          <th>End Location</th>
          <th>Start Location</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Action</th>
        </thead>
        <tbody>
          <tr *ngFor="let tripVoucher of tripVouchers;let i=index;">
            <td (click)="getVoucherSummary(tripVoucher)">{{i+1}}</td>
            <td>{{tripVoucher.startloc}}</td>
            <td>{{tripVoucher.endloc || '--'}}</td>
            <td>{{tripVoucher.startdate | date : 'dd MMM'}}</td>
            <td>{{tripVoucher.enddate | date : 'dd MMM'}}</td>
            <td><i class="fa fa-trash remove" style="width:50px; height:40px; color: red; margin-left: 30px"
                (click)="deleteVoucherEntry(tripVoucher)"></i></td>
          </tr>
        </tbody>
      </table> -->
    </div>
    <!-- <div>
      <table class="table table-bordered">
        <thead>
          <th>SN</th>
          <th> </th>
          <th>Start Location</th>
          <th>End Location</th>
          <th>Start Date</th>
          <th>End Date</th>
        </thead>
        <tbody>
          <tr *ngFor="let trip of trips;let i=index;">
            <td>{{i+1}}</td>
            <td>
              <input type="checkbox" [name]="'trip-' + i" [(ngModel)]="trip.isChecked"
                (ngModelChange)="checkedAllSelected()">
            </td>
            <td>{{trip.start_name}}</td>
            <td>{{trip.end_name || '--'}}</td>
            <td>{{trip.start_time | date : 'dd MMM'}}</td>
            <td>{{trip.end_time | date : 'dd MMM' || '--'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <button (click)="getFuelFillings()">Show Fuel Entries</button>
    </div>
    <div>
      <table class="table table-bordered">
        <thead>
          <th>SN</th>
          <th> </th>
          <th>Station name</th>
          <th>Quantity</th>
          <th>Rate</th>
          <th>Amount</th>
          <th>Date</th>
        </thead>
        <tbody>
          <tr *ngFor="let fuelFiling of fuelFilings;let i=index;">
            <td>{{i+1}}</td>
            <td>
              <input type="checkbox" [name]="'fuelFiling-' + i" [(ngModel)]="fuelFiling.isChecked">
            </td>
            <td>{{fuelFiling.name}}</td>
            <td>{{fuelFiling.litres}}</td>
            <td>{{fuelFiling.rate}}</td>
            <td>{{fuelFiling.amount}}</td>
            <td>{{fuelFiling.date | date : 'dd MMM'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <button (click)="getHeads()">Show Head</button>
    </div>

    <div>
      <table class="table table-bordered">
        <thead>
          <th>SN</th>
          <th>Head</th>
          <th>Total</th>
          <th *ngFor="let trip of checkedTrips;">{{trip.start_name}} - {{trip.end_name}}</th>
        </thead>
        <tbody>
          <tr *ngFor="let tripHead of tripHeads;let i = index;">
            <td>{{i+1}}</td>
            <td>{{tripHead.name}}</td>
            <td>
              <input type="number" [name]="tripHead.name" [(ngModel)]="tripHead.total">
            </td>
            <td *ngFor="let trip of tripHead.trips; let j = index;">
              <input type="number" [name]="'trip-amount-' + tripHead.name + j" [(ngModel)]="trip.amount" (input)="calculateTripHeadTotal(i)">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <button (click)="addVoucher()">Submit</button>
    </div> -->
  </nb-card-body>
</nb-card>