button { 
    background-color: #73a1ff;
    border-radius: 3px !important;
    text-transform: capitalize !important;
    padding: 5px !important;
}
.pdf-icon{
    font-size: 30px;
    color: #9F0001;
}
.exel-icon{
    font-size: 30px;
    color: #217346;
}
nb-card-header{
    padding: 15px 20px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}
.tjr_select{
    border: 1px solid #263238 !important;
    border-radius: 0px 2px 2px 2px !important;
    padding: 3px 5px !important;
    height: auto !important;
    font-size: 12px !important;
    display: block;
    width: 100%;
}
table{
    thead{
        display: table;
        width: 100%;
        table-layout: fixed;
        tr{ 
            th:last-child{
                width: auto;
            }
        }
    }
    tr{
        th{
            padding: 5px 10px;
            font-weight: normal;
            width: 143px;
        }
        th:first-child{
            width: 40px;
        }
        th:last-child{
            width: auto;
        }
        td{
            padding: 5px 10px !important;
            font-size: 12px;
            width: 143px;
            button{
                padding: 0 !important;
                font-size: 11px;
                border-radius: 0px !important;
                margin: 0px;
                background-color: transparent;
                color: #263238;
                outline: none;
                box-shadow: none;
            }
        }
        td:first-child{
            width: 40px;
        }
        td:last-child{
            width: auto;
        }
    }
    tbody{
        overflow-y: auto;
        display: block;
        width: 100%;
        table-layout: fixed;
        overflow: auto;
        max-height: calc(100vh - 230px);
        tr{
            display: table;
            table-layout: fixed;
            width: 100%;
            td:last-child{
                width: auto;
            }
        }
        tr:nth-child(odd){
            background-color: #fff;
        }
        tr:nth-child(even){
            background-color: #e4e4e4;
        }
    }
} 
.btn-primary{
    background-color: #263238 !important;
}
:host ::ng-deep .vehicle_no_input auto-suggestion .tagsinput{
    border: 0px;
}
:host ::ng-deep .vehicle_no_input auto-suggestion .tagsinput input{
    width: 100%;
}
.left-box{
    padding: 10px;
    background-color: #efefef;
    border-radius: 3px;
}
.selected {
    background-color: #576c77
}
table tr.highlight {
    background-color: #FFEE75 !important;
}

.pdf-exel-icon{
    margin-left: 4px;
}