.day{
    display: inline-block;
    width: 40px;
    padding: 4px !important;
}
.day-time{
    display: inline-block;
    width: calc(100% - 42px);
    vertical-align: middle;
}
.time-type{
    span{
        margin-right: 5px;
    }
    label{
        vertical-align: middle;
        margin-left: 4px;
    }
}