<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body vert-mdl-pdg">
  <form #documentForm="ngForm" id="document-form" name="document-form" (submit)="documentForm.valid && updateDocument()">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-field clear">
          <label for="document_id" class="col-sm-4 mgn-vert">Document ID</label>
          <div class="col-sm-8 read-lbl" *ngIf="!canUpdate">{{document.id}}</div>
          <input *ngIf="canUpdate" id="document_id" name="document_id" type="text" class="col-sm-8 form-control frm-fld mgn-vert" [value]="document.id" readonly/>
        </div>
        <div class="form-field clear">
            <label for="veh_no" class="col-sm-4 mgn-vert">Vehicle No.<span class="mandatory">*</span></label>
            <div *ngIf="!canUpdate" class="col-sm-8 read-lbl" > {{document.regno}}</div>
            <div *ngIf="canUpdate" class="col-sm-8 frm-fld mgn-vert sug-fld"><auto-suggestion (onSelected)="getvehicleData($event)" url="Suggestion/getVehicleList" display="regno"
              placeholder="Enter Vehicle Number" [preSelected]="{regno: document.regno}" style="width:60%;" (keyup)="isValidVehicle($event)" ></auto-suggestion></div>            
        </div>
        <div class="form-field clear">
            <label for="doc_type" class="col-sm-4 mgn-vert">Document Type<span class="mandatory">*</span></label>
            <div *ngIf="!canUpdate" class="col-sm-8 read-lbl" >{{document.document_type}}</div>
            <div *ngIf="canUpdate" class="col-sm-8 frm-fld mgn-vert sug-fld">
              <auto-suggestion *ngIf="docTypes.length" (onSelected)="selectDocType($event)" url="" display="document_type"
           [data]="docTypes" placeholder="Enter Document Type" [preSelected]="{document_type: document.document_type}" class="documentType " style='width: 60% !important;'   (keyup)="isValidDocument($event)" ></auto-suggestion>
          </div>
        </div>
        <div class="form-field clear">
            <label for="doc_no" class="col-sm-4 mgn-vert">Document No.</label>
            <div *ngIf="!canUpdate" class="col-sm-8 read-lbl">{{document.doc_no}}</div>
            <input *ngIf="canUpdate" id="doc_no" name="doc_no" type="text" class="col-sm-8 form-control frm-fld mgn-vert" maxlength="25" [(ngModel)]="document.doc_no" [readonly]="!canUpdate" />
        </div>        
        <div class="form-field clear">
            <label for="issue_date" class="col-sm-4 mgn-vert">Issue Date:</label>
            <div *ngIf="!canUpdate" class="col-sm-8 read-lbl" >{{getDateInDisplayFormat(document.issue_date)}} </div>
            <input #issue_date  *ngIf="canUpdate" id="issue_date" name="issue_date" type="text" class="col-sm-6 form-control frm-fld mgn-vert" [(ngModel)]="document.issue_date" [value]="document.issue_date"  (blur)="checkExpiryDateValidity()" placeholder="DD/MM/YYYY" />
            <!-- <input #issue_date *ngIf="canUpdate" id="issue_date" name="issue_date" type="text" class="col-sm-8 form-control frm-fld mgn-vert" [(ngModel)]="document.issue_date" [value]="document.issue_date | date: 'yyyy-MM-dd'" placeholder="DD-MMM-YYYY" (blur)="checkExpDateValidity(issue_date, wefdate, expiry_date)"  />-->
            <span *ngIf="canUpdate" class="col-sm-1" style='cursor:pointer; font-size: 28px;' (click)="getDate('issue_date')" ><i class="icon fa fa-calendar"></i></span>
        </div>
        <div class="form-field clear">
            <label for="wef_date" class="col-sm-4 mgn-vert">W.e.f Date</label>
            <div *ngIf="!canUpdate" class="col-sm-8 read-lbl mgn-vert" >{{getDateInDisplayFormat(document.wef_date)}}</div>
            <input #wefdate *ngIf="canUpdate" id="wef_date" name="wef_date" type="text" class="col-sm-6 form-control frm-fld mgn-vert" [(ngModel)]="document.wef_date" [value]="document.wef_date "  (blur)="checkExpiryDateValidity()" placeholder="DD/MM/YYYY" />
            <!-- <input #wefdate *ngIf="canUpdate" id="wef_date" name="wef_date" type="text" class="col-sm-8 form-control frm-fld mgn-vert" [value]="document.wef_date |  date: 'yyyy-MM-dd'"  placeholder="DD-MMM-YYYY"   (blur)="checkExpDateValidity(issue_date, wefdate, expiry_date)"  />-->
            <span *ngIf="canUpdate" class="col-sm-1" style='cursor:pointer; font-size: 28px;' (click)="getDate('wef_date')" ><i class="icon fa fa-calendar"></i></span>
        </div>
        <div class="form-field clear">
            <label for="expiry_date" class="col-sm-4 mgn-vert">Expiry Date</label>
            <div *ngIf="!canUpdate" class="col-sm-8 read-lbl" >{{getDateInDisplayFormat(document.expiry_date)}}</div>
            <input #expiry_date *ngIf="canUpdate" id="expiry_date" name="expiry_date" type="text" class="col-sm-6 form-control frm-fld mgn-vert" [(ngModel)]="document.expiry_date" [value]="document.expiry_date" (blur)="checkExpiryDateValidity()" placeholder="DD/MM/YYYY" />
            <!--<input #expiry_date *ngIf="canUpdate" id="expiry_date" name="expiry_date" type="text" class="col-sm-8 form-control frm-fld mgn-vert" [value]="document.expiry_date| date: 'yyyy-MM-dd'" placeholder="DD-MMM-YYYY"  (blur)="checkExpDateValidity(issue_date, wefdate, expiry_date)" /> -->
            <!-- <span *ngIf="spnexpdt" style="color: red; margin-left: 10px;">Expiry Date cannot be less than Issue Date/Wef Date</span> -->
            <span *ngIf="canUpdate" class="col-sm-1" style='cursor:pointer; font-size: 28px;' (click)="getDate('expiry_date')" ><i class="icon fa fa-calendar"></i></span>
        </div>
        <div class="form-field clear">
            <label for="rto" class="col-sm-4 mgn-vert">RTO</label>
            <div *ngIf="!canUpdate" class="col-sm-8 read-lbl">{{document.rto}}</div>
            <input *ngIf="canUpdate" id="rto" name="rto" type="text" class="col-sm-8 form-control frm-fld mgn-vert" [(ngModel)]="document.rto"  [readonly]="!canUpdate" maxlength="20" />
        </div>
        <div class="form-field clear">
            <label for="agent" class="col-sm-4 mgn-vert">Agent</label>
            <div *ngIf="!canUpdate" class="col-sm-8 read-lbl">{{document.agent}}</div>
            <div class="col-sm-8 " *ngIf="canUpdate" >
              <select id="doc_agent" [(ngModel)]="document.agent_id" name="doc_agent" class="form-control frm-fld mdl-sel-agt" >
                  <option value="">--</option>
                  <option *ngFor="let agent of agents" [value]= agent.id >
                      {{agent.name}}
                  </option>
              </select>
              <a *ngIf="canUpdate" href="javascript: void(0);" (click)="addAgent()">Add Agent</a>
             </div>
        </div>
        <div class="form-field clear">
            <label for="amount" class="col-sm-4 mgn-vert">Amount</label>
            <div *ngIf="!canUpdate" class="col-sm-8 read-lbl">{{document.amount}}</div>
            <input *ngIf="canUpdate" id="amount" name="amount" type="text" class="col-sm-8 form-control frm-fld mgn-vert" [(ngModel)]="document.amount" [readonly]="!canUpdate" maxlength="10" />
        </div>        
        <div class="form-field clear">
            <label for="remarks" class="col-sm-4 mgn-vert">Remarks</label>
            <div class="col-sm-8 read-lbl">{{document.remarks}}</div>
            <textarea *ngIf="canUpdate" id="remarks" name="remarks" rows="1" class="col-sm-8 form-control frm-fld  mgn-vert" [(ngModel)]="document.remarks"  [readonly]="!canUpdate" ></textarea>
        </div>
      </div>
      <div class="col-sm-8">
          <!--<img src="{{document.img_url}}" alt="doc-img" class="doc-img" /> -->
          <div *ngIf="doc_not_img"><a target='_blank' href="{{document.img_url}}" title="View Document">View Document</a></div>
          <app-image-viewer *ngIf="document.img_url" [images]="[document.img_url]" [idContainer]="'idOnHTML'" [loadOnInit]="true"></app-image-viewer>
          <div *ngIf="!document.img_url">No Image Exists</div>
          
          <div id="imgzoom"></div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col">
      <button class="btn btn-danger" type="button" outline (click)="deleteImage(document.id)" id="cancel" style="cursor: pointer;">{{btn2}}</button>
    </div>
    <div class="col text-right" *ngIf="canUpdate == 1">
      <button class="btn btn-primary" form="document-form" type="submit" outline (click)="isFormSubmit = true" id="submit"
        style="cursor: pointer;">{{btn1}}</button>
    </div>
  </div>
</div>