.row{
    margin-top: 4px;
}
label{
    font-size: 14px;
    padding-top: 10px;
    font-weight: 600;
}
.dropdown{
    position: relative;

}
select{
    padding-top:1%;

}
.agent{
    width: 90%;
}
.suggestions ng-star-inserted{
    overflow: auto !important;
    max-height: 150px !important;
}
auto-suggestion{
    overflow: auto !important;
    max-height: 150px !important;
}
.documentType{
    overflow: auto !important;
    max-height: 150px !important;
}
.form-control.frm-fld { width: 60%; display: inline; margin-left: 6px; }
.mgn-vert { margin-top: 3px; margin-bottom: 3px;}
.doc-img { max-width: 300px; max-height: 700px;}
.clear { clear:both;}
.modal-lg { max-width: 1200px;}
@media(min-width: 992px) {
    .modal-lg { max-width: 1200px;}
}