.row{
    margin-top: 4px;
}
label{
    font-size: 14px;
    padding-top: 10px;
    font-weight: 600;
}
.dropdown{
    position: relative;

}
select{
    padding-top:1%;

}
.agent{
    width: 90%;
}
.suggestions ng-star-inserted{
    overflow: auto !important;
    max-height: 150px !important;
}
auto-suggestion{
    overflow: auto !important;
    max-height: 150px !important;
}
.documentType{
    overflow: auto !important;
    max-height: 150px !important;
}
.form-control.frm-fld { width: 45%; display: inline; }
.mgn-vert { margin-top: 10px; margin-bottom: 10px;}
.doc-img { max-width: 300px; max-height: 700px;}
