<!--Author by Hemant Singh Sisodia  -->

<nb-card>
  <nb-card-header>
    User Template
  </nb-card-header>
  <nb-card-body>
    <div class="container">
      <div class="row">
        <div class="col-6">
        </div>
        <div class="col-6 text-right">
          <button class="btn btn-primary mr-3" (click)="addAndEdit('Add',null)">Add</button>
          <button class="btn btn-primary ml-3" (click)="assign('add',null)">Assign</button>
        </div>
      </div>
    </div>
    <smart-table *ngIf="views.length" [data]="table.data" [settings]="table.settings"></smart-table>
  </nb-card-body>
</nb-card>