:host ::ng-deep .tableFixHead{
    table{
        tr{
            td:last-child{
                i{
                    width: 30px;
                    text-align: center;
                    &.fa-eye {
                        color: red;
                        font-size: 18px;
                        cursor: pointer;
                        span{
                            position: absolute;
                            display: none;
                            padding: 10px 34px;
                            font-weight: 400;
                            font-size: 11px;
                            left: -32px;
                            top: -28px;
                            -webkit-box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
                            box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
                            font-family: Roboto;
                            z-index:9999;
                        }
                        span::before{
                            content: 'Preview';
                            display: block;
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            background-color: red;
                            border-radius: 3px;
                            padding: 5px 10px;
                            color:#fff;
                            width: 100%;
                        }
                        span::after{
                            content: '';
                            width: 0;
                            height: 0;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-top: 5px solid red;
                            position: absolute;
                            bottom: -5px;
                            right: 16px;
                        }
                        &:hover span{
                            display: block;
                        }
                    }
                    &.fa-trash-alt {
                        color: #f53004;
                        font-size: 18px;
                        cursor: pointer;
                        
                        span{
                            position: absolute;
                            display: none;
                            padding: 10px 28px;
                            font-weight: normal;
                            font-size: 11px;
                            left: -12px;
                            top: -28px;
                            -webkit-box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
                            box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
                            font-family: Roboto;
                            z-index:9999;
                        }
                        span::before{
                            content: 'Delete';
                            display: block;
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            background-color: #f53004;
                            border-radius: 3px;
                            padding: 5px 10px;
                            color:#fff;
                            width: 100%;
                        }
                        span::after{
                            content: '';
                            width: 0;
                            height: 0;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-top: 5px solid #f53004;
                            position: absolute;
                            bottom: -5px;
                            right: 24px;
                        }
                        &:hover span{
                            display: block;
                        }
                    }
                    &.fa-print {
                        color: #773fff;
                        font-size: 18px;
                        cursor: pointer;
                        span{
                            position: absolute;
                            display: none;
                            padding: 10px 26px;
                            font-weight: normal;
                            font-size: 11px;
                            left: -14px;
                            top: -28px;
                            -webkit-box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
                            box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
                            font-family: Roboto;
                            z-index:9999;
                        }
                        span::before{
                            content: 'Print';
                            display: block;
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            background-color: #773fff;
                            border-radius: 3px;
                            padding: 5px 10px;
                            color:#fff;
                            width: 100%;
                        }
                        span::after{
                            content: '';
                            width: 0;
                            height: 0;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-top: 5px solid #773fff;
                            position: absolute;
                            bottom: -5px;
                            right: 18px;
                        }
                        &:hover span{
                            display: block;
                        }
                    }
                    &.fa-edit {
                        color: #773fff;
                        font-size: 18px;
                        cursor: pointer;
                        
                        span{
                            position: absolute;
                            display: none;
                            padding: 10px 22px;
                            font-weight: normal;
                            font-size: 11px;
                            left: -14px;
                            top: -28px;
                            -webkit-box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
                            box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
                            font-family: Roboto;
                            z-index:9999;
                        }
                        span::before{
                            content: 'Edit';
                            display: block;
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            background-color: #773fff;
                            border-radius: 3px;
                            padding: 5px 10px;
                            color:#fff;
                            width: 100%;
                        }
                        span::after{
                            content: '';
                            width: 0;
                            height: 0;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-top: 5px solid #773fff;
                            position: absolute;
                            bottom: -5px;
                            right: 14px;
                        }
                        &:hover span{
                            display: block;
                        } 
                    }

                    &.fa-user {
                        color: darkgreen;
                        font-size: 18px;
                        cursor: pointer;
                        
                        span{
                            position: absolute;
                            display: none;
                            padding: 10px 42px;
                            font-weight: normal;
                            font-size: 11px;
                            left: -40px;
                            top: -28px;
                            -webkit-box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
                            box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
                            font-family: Roboto;
                            z-index:9999;
                        }
                        span::before{
                            content: 'Assign';
                            display: block;
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            background-color: darkgreen;
                            border-radius: 3px;
                            padding: 5px 10px;
                            color:#fff;
                            width: 100%;
                        }
                        span::after{
                            content: '';
                            width: 0;
                            height: 0;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-top: 5px solid darkgreen;
                            position: absolute;
                            bottom: -5px;
                            right: 14px;
                        }
                        &:hover span{
                            display: block;
                        }
                    }
                }
            }
        }
    }    
}


// :host ::ng-deep .devtemp{background-color:blue;}



// nb-card-header button{
//     padding: 5px;
//     border-radius: 3px;
//     text-transform: capitalize;
//     width: 100%;
// }




