<!-- goutam -->
<div class="modal-header">
    <h5>Add New Gps Request</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" style="min-height:120px;">
    <div>
        <div class="row mt-2">
            <div class="col-2">
                <label>Gps Supplier</label>
            </div>
            <div class="col-3">
                <auto-suggestion [data]="gpsSupplierList" (onSelected)="selectSupplierData($event)" display="name"
                    placeholder="Enter Gps Supplier " inputId='gpsSupplier'
                    [preSelected]="gpsSupplierId ?{name:gpsSupplierName}:''" style="width:60%;">
                </auto-suggestion>
            </div>
            <div class="col-2">
                <button class="btn btn-danger" type="button" (click)="addNewGpsSupplier()"
                    style="height: 38px; margin-top: -4px;margin-left: -12px;"><i class="fa fa-plus"></i></button>
            </div>
        </div>

        <div class="row mt-2" *ngIf="isAuth==1">
            <div class="col-2">
                <label>Auth Token</label>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" placeholder="Auth Token" name="authToken" id="authToken"
                    [(ngModel)]="gpsAuthToken">
            </div>
        </div>

        <div class="row mt-2" *ngIf="isAuth!=1">
            <div class="col-2">
                <label>User Name</label>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" placeholder="User Name" name="userName" id="userName"
                    [(ngModel)]="gpsUsername">
            </div>
        </div>

        <div class="row mt-2" *ngIf="isAuth!=1">
            <div class="col-2">
                <label>Password</label>
            </div>
            <div class="col-3">
                <input type="password" class="form-control" placeholder="Password" name="password" id="password"
                    [(ngModel)]="gpsPassword">
            </div>
        </div>


        <!-- <div class="row mt-2">
            <div class="col-4">
                <label>Url</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" placeholder="Enter Url Name" name="url" id="url"
                    [(ngModel)]="gpsUrl">
            </div>
        </div> -->
    </div>
</div>

<div class="modal-footer mt-2">
        <button class="btn btn-primary" *ngIf="gpsRequestData && gpsRequestData.length" type="button" (click)="addGpsRequest()">Add Request</button>
        <button class="btn btn-primary" type="button" (click)="getGpsData()">Submit</button>
        <button class="btn btn-primary" *ngIf="!gpsRequestData" type="button" (click)="closeModal()">Close</button>

</div>

<div class="row mt-2">
    <smart-table *ngIf="gpsRequestData && gpsRequestData.length" [data]="table.data" [settings]="table.settings">
    </smart-table>
</div>