<nb-card>
    <nb-card-header>
        Ware House Receipt </nb-card-header>
    <nb-card-body>
        <div class="container">
            <div class="row" style="margin-bottom:10px">

                <div class="col-4">
                    <button class="btn btn-primary w-100" id="button" (click)="receiveItems()">Add Manual</button>
                    <button class="btn btn-primary mt-2" id="button" (click)="Manual()">Manual</button>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>