<nb-card>
  <nb-card-header>
    <h5>Driver Document</h5>
  </nb-card-header>
  <nb-card-body style="min-height: 360px;">
    <div class="document-dash-contnet">
      <div class="row col-sm-12">
        <table class="table table-bordered table-hover table-scroll" id="tbldocs">
          <thead class="thead">
            <tr>
              <th style='width: 40px;'>SN</th>
              <th *ngFor="let col of columns" class="text-center">{{formatTitle(col)}}</th>
            </tr>
          </thead>

          <tbody class="">
            <ng-container *ngIf="total_recs">
              <tr *ngFor="let row of data; let i=index;">

                <td style='width: 40px;'> <span>{{i + 1}}</span></td>

                <td *ngFor="let col of columns; " class="text-center">

                  <!-- *ngIf="row[col]!=null &&  && col !='driver_name'" -->
                  <span *ngIf="col !='driver_name' && getDocumentType(row[col])>0">
                    <i class="fa fa-check icon-green" (click)="fetchDocumentData(row, col, row[col])"
                      title="upload"></i>
                  </span>

                  <span *ngIf="row[col]!=null && col =='driver_name'">
                    {{formatTitle(row[col])}}
                  </span>

                  <span *ngIf="col !='driver_name' && col !='driver_name' && getDocumentType(row[col])==0">
                    <i class="fa fa-times-circle icon-red-cross" (click)="uploadDoc(row,col,row[col])"
                      title="No Record"></i>
                  </span>
                </td>
              </tr>
            </ng-container>

          </tbody>
        </table>
      </div>
    </div>
  </nb-card-body>
</nb-card>