<nb-card>
  <nb-card-header>
    Diagnostics
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-4">
        <label>Vehicle No</label>
        <auto-suggestion (onSelected)="selectVehicle($event)" url="Vehicles/getVehicleListForFoid" display="regno"
          placeholder="Enter Vehicle Number" style="width:60%;"></auto-suggestion>

      </div>
      <div class="col-4">
        <label>Table Type</label>
        <select name="list" class="form-control " [(ngModel)]="listtype">
          <option class="form-control" value="halts">Halts</option>
          <option class="form-control" value="vehicle_placements">Vehicle_Placement</option>
          <option class="form-control" value="lorry_receipts">lorry_Receipts</option>
          <option class="form-control" value="master_vehicle_temp1">Master_Vehicle_Temp</option>
        </select>

      </div>
      <div class="col-4">
        <button class="btn btn-primary mt-4 p-1" (click)="topRecord()">Top Latest Record</button>

      </div>
    </div>
    <form class="form-group">

      <div class="divActivities" style="border:2px solid  blue">
        <div class="row">
          <div class="col-3">
            <label>Distance Travelled In A Time Range</label>
          </div>
        </div>
        <div class="row">
          <div class="col-2">

            <auto-suggestion (onSelected)="selectVehicle($event)" url="Vehicles/getVehiclesFromRedis?" display="regno"
              placeholder="Enter Vehicle Number" style="width:60%;" [preSelected]="null">
            </auto-suggestion>
          </div>
          <div class="col-3">
            <!-- <input [(ngModel)]="diagnostics.startTime" [owlDateTime]="date1" [owlDateTimeTrigger]="date1"
              placeholder="Start Time" class="form-control" autocomplete="off" name="date1">
            <owl-date-time #date1></owl-date-time> -->
          </div>
          <div class="col-3">
            <!-- <input [(ngModel)]="diagnostics.endDate" [owlDateTime]="date" [owlDateTimeTrigger]="date"
              placeholder="End Time" class="form-control" autocomplete="off" name="date">
            <owl-date-time #date></owl-date-time> -->
          </div>
          <div class="col-2">
            <button class="btn btn-primary" (click)="calculateDistance()">Calculate</button>

          </div>
          <div class="col-2">
            <input type="text" placeholder="Distance" name="distance" class="form-control" [(ngModel)]="Distance"
              readonly>
          </div>
        </div>
      </div>
      <div class="divActivities" style="border:2px solid  blue">
        <div class="row">
          <div class="col-3">
            <label>Vechile Trails In A Time Range</label>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <auto-suggestion (onSelected)="getvehicleData($event,'trails')" url="Vehicles/getVehicleListForFoid"
              display="regno" placeholder="Enter Vehicle Number" style="width:60%;" [preSelected]="null">
            </auto-suggestion>

          </div>
          <div class="col-3">
            <!-- <input [(ngModel)]="Trails.startTime" [owlDateTime]="date2" [owlDateTimeTrigger]="date2"
              placeholder="Start time" class="form-control" autocomplete="off" name="date2">
            <owl-date-time #date2></owl-date-time> -->
          </div>
          <div class="col-3">
            <!-- <input [(ngModel)]="Trails.endDate" [owlDateTime]="date3" [owlDateTimeTrigger]="date3"
              placeholder="End Time" class="form-control" autocomplete="off" name="date3">
            <owl-date-time #date3></owl-date-time> -->
          </div>
          <div class="col-2">
            <button class="btn btn-primary" (click)="getVehicleTrails()">Calculate</button>
          </div>


        </div>
      </div>
      <div class="divActivities" style="border:2px solid  blue">
        <div class="row">
          <div class="col-3">
            <label>Change Vehicle Status</label>
          </div>
        </div>
        <div class="row">
          <div class="col-2">

            <auto-suggestion (onSelected)="getvehicleData($event,'Status')" url="Vehicles/getVehicleListForFoid"
              display="regno" placeholder="Enter Vehicle Number" style="width:60%;" [preSelected]="null">
            </auto-suggestion>
          </div>
          <div class="col-3">
            <!-- <input [(ngModel)]="VehicleStatusData.latch_time" [owlDateTime]="date4" [owlDateTimeTrigger]="date4"
              placeholder="Start Time" class="form-control" autocomplete="off" name="date4">
            <owl-date-time #date4></owl-date-time> -->
          </div>
          <div class="col-2">
            <button class="btn btn-primary" (click)="ChangeVehicleStatusChange()">Vehicle History</button>

          </div>

        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>