<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">Bidding</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-4"><label>Vehicle</label></div>
    <div class="col-8">
      <auto-suggestion (onSelected)="selectVehicle($event)" url="suggestion/getFoVehicleList" display="regno"
        placeholder="Search Vehicle" [preSelected]="null"></auto-suggestion>
    </div>
  </div>
  <div class="row">
    <div class="col-4"><label>Rate</label></div>
    <div class="col-8">
      <input type="number" class="form-control" [(ngModel)]="rate">
    </div>
  </div>
  <div class="row">
    <div class="col-4"><label>Remark</label></div>
    <div class="col-8">
      <textarea class="form-control" [(ngModel)]="remarks">

      </textarea>
    </div>
  </div>
  


  <div class="row">
    <button class="btn btn-primary" (click)='saveData()'>Save</button>
  </div>
</div>