<!-- Author:Goutam -->
<div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Party Ledger Mapping</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="party-mapping">
        <div class="row">
            <!-- <div class="col-2">
                <label>Party Name:</label>
            </div>
            <div class="col-3">
                <auto-suggestion [data]="party.list" display="name" (onSelected)="party.selected = $event" (unSelected)="party.selected = $event" inputId="partyName" [preSelected]="presetor"></auto-suggestion>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-primary" (click)="getPartyLedgers()">Submit</button>
            </div> -->
            <button type="button" class="btn btn-primary" style="margin-left: 654px" (click)="addLedger()">Add Ledger</button>
        </div>
        <div class="row mt-2">
            <smart-table *ngIf="party.names &&  party.names.length" [data]="tables.party.data" [settings]="tables.party.settings" id="partyNames">
            </smart-table>
        </div>
        <div class="row">
            <smart-table *ngIf="ledgers && ledgers.length" [data]="tables.ledger.data" [settings]="tables.ledger.settings" id="ledgerNames">
            </smart-table>
        </div>
    </div>
</div>