.modal-header{
    padding: 10px 15px !important;
}
.close{
    font-size: 36px;
    padding: 8px 16px;
    outline: none;
  }
  table{
    border: 1px solid #04a9f5;
    border-width: 2px;
  }
  table {
    thead {
      background-color: #263238;
      color: #fff;
      display: table;
      width: 100%;
    }
    tr {
      th {
        padding: 5px 10px;
        font-weight: normal;
        width: 150px !important;
      }
      td {
        padding: 5px 10px !important;
        font-size: 12px;
        width: 150px !important;
        word-break: break-all;
      }
      .go_btn{
        width: 50px !important;
      }
    }
    tbody {
      display: table;
      width: 100%;
    }
  }
