<nb-card style="margin-left: 10px;">
  <nb-card-header>
    Vehicle Documents Dashboard
  </nb-card-header>
  <nb-card-body style="min-height: 360px;">
    <div class="container">
      <div class="row col-sm-12 pdg-ltrt-none">
        <div class="col-sm-12">
          <table class="table table-bordered table-hover">
            <tr>
              <td *ngIf="total_normal"><i class="fa fa-check i-green"></i> Normal <span>({{total_normal}})</span></td>
              <td *ngIf="total_expired"><i class="fa fa-check i-red"></i> Expired <span>({{total_expired}})</span></td>
              <td *ngIf="total_normal"><i class="fa fa-check i-black"></i> Unverified <span>({{total_unverified}})</span></td>
              <td *ngIf="total_noimage"><i class="fa fa-times i-black"></i> No Image/Upload <span>({{total_noimage}})</span></td>
              <td *ngIf="total_norecord"><i class="fa fa-times-circle i-red-cross"></i> No Record <span>({{total_norecord}})</span></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row col-sm-12">
        <table class="table table-bordered table-hover table-scroll">
          <thead class="thead">
            <tr>
              <th>S.No.</th>
              <th *ngFor="let col of columns" class="text-center">{{formatTitle(col)}}</th>
            </tr>
          </thead>

          <tbody class="">
            <ng-container *ngIf="total_recs">
              <tr *ngFor="let row of data.result; let i=index;">
                <td>{{i+1}}</td>
                <td *ngFor="let col of columns; " class="text-center">
                  <span *ngIf="col.toUpperCase() == 'VEHICLE'">
                    {{row[col]}}
                  </span>
                  <span *ngIf="getDocumentType(row[col]) == 3 && col.toUpperCase() != 'VEHICLE'">             
                    <i class="fa fa-check icon-black" (click)="fetchDocumentData(row, col, row[col])"></i>
                  </span>
                  <span *ngIf="getDocumentType(row[col]) == 1 && col.toUpperCase() != 'VEHICLE'">
              
                    <i class="fa fa-times icon-black" (click)="fetchDocumentData(row, col, row[col])"></i>
                  </span>
                  <span *ngIf="getDocumentType(row[col]) == 2 && col.toUpperCase() != 'VEHICLE'">
                  
                    <i class="fa fa-check icon-red" (click)="fetchDocumentData(row, col, row[col])"></i>
                  </span>
                  <span *ngIf="getDocumentType(row[col]) == 4 && col.toUpperCase() != 'VEHICLE'">
                
                    <i class="fa fa-check icon-green" (click)="fetchDocumentData(row, col, row[col])"></i>
                  </span>
                  <span *ngIf="getDocumentType(row[col]) > 4 && col.toUpperCase() != 'VEHICLE'">
                      {{row[col]}}
                  </span>
                  <span *ngIf="row[col] == null && col.toUpperCase() != 'VEHICLE'">
                    <i class="fa fa-times-circle icon-red-cross" (click)="fetchDocumentData(row, col, row[col])"></i>
                  </span>                  
                </td>
              </tr>
            </ng-container>

          </tbody>
        </table>
      </div>
    </div>
  </nb-card-body>
</nb-card>