<nb-card style="margin-left: 10px;">
  <nb-card-header>
    <h2>Vehicle Documents Dashboard</h2>
    <hr>
  </nb-card-header>
  <nb-card-body style="min-height: 360px;">
    <div class="container">
      <div class="row col-sm-12">
          <div class="col-sm-6">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Symbol</th><th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><img class="icon-img" src="assets/images/doc-tick.png" alt="View" /></td><td>Normal</td>
                  </tr>
                  <tr>
                    <td><img class="icon-img" src="assets/images/doc-red-tick.png" alt="View" /></td><td>Expired</td>
                  </tr>
                  <tr>
                    <td><img class="icon-img" src="assets/images/doc-black-tick.png" alt="View" /></td><td>Unverified</td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div class="col-sm-6">
              <table class="table table-bordered table-hover">
                <thead>
                  <th>Symbol</th><th>Description</th>
                </thead>
                <tbody>
                    <tr>
                      <td><img class="icon-img" src="assets/images/doc-black-cross.png" alt="View" /></td><td>No Image/Upload</td>
                    </tr>
                    <tr>
                      <td><img class="icon-img" src="assets/images/doc-cross.png" alt="No" /></td><td>No Record</td>
                    </tr>
                  </tbody>
              </table>
          </div>
      </div>
      <div class="row col-sm-12">
        <table class="table table-bordered table-hover table-scroll">
          <thead class="thead">
            <tr>
              <th *ngFor="let col of data.columns; let i=index">{{col}}</th>
            </tr>
          </thead>
          <tbody class="">
            <ng-container *ngIf="data.vehicle_info.length">
              <tr *ngFor="let row of data.vehicle_info">
                <td *ngFor="let col of data.columns;" class="text-center">
                  <span *ngIf="col == 'Vehicle No.'">
                    {{row[col]}}
                  </span>
                  <span *ngIf="row[col] == 'BlackTick' && col != 'Vehicle No.'">
                    <img class="icon-img" src="assets/images/doc-black-tick.png" alt="View" style="cursor: pointer;"
                      (click)="fetchDocumentData(row,col)" />
                  </span>
                  <span *ngIf="row[col] == 'BlackCross' && col != 'Vehicle No.'">
                    <img class="icon-img" src="assets/images/doc-black-cross.png" alt="View" style="cursor: pointer;"
                      (click)="fetchDocumentData(row,col)" />
                  </span>
                  <span *ngIf="row[col] == 'RedTick' && col != 'Vehicle No.'">
                    <img class="icon-img" src="assets/images/doc-red-tick.png" alt="View" style="cursor: pointer;"
                      (click)="fetchDocumentData(row,col)" />
                  </span>
                  <span *ngIf="row[col] == 'GreenTick' && col != 'Vehicle No.'">
                    <img class="icon-img" src="assets/images/doc-tick.png" alt="View" style="cursor: pointer;"
                      (click)="fetchDocumentData(row,col)" />
                  </span>
                  <span *ngIf="row[col] == ''">
                    <img class="icon-img" src="assets/images/doc-cross.png" alt="No" />
                  </span>
                </td>
              </tr>
            </ng-container>

          </tbody>
        </table>
      </div>
    </div>
  </nb-card-body>
</nb-card>