<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">Get User Bank Info</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="model-body" style="padding: 15px;">
  <div class="row align-items-center mb-3">
    <div class="col-1 pr-0 text-left">
      <label>FoID</label>
    </div>
    <div class="col-2">
      <auto-suggestion (onSelected)="selectFoUser($event)" url="Suggestion/getFoUsersList" display="name"
        placeholder="Fo " [preSelected]="null"></auto-suggestion>
    </div>
    <div class="col-1">
      <button class="btn btn-primary w-100 pt-1 pb-1 rounded-sm text-capitalize" (click)="viewFoDetails()">View</button>
    </div>
  </div>
  <div class="row align-items-center mb-3">
    <div class="col-1 pr-0">
      <label class="mr-2">Bank</label>
      <input type="radio" name="bank" value="bank" [(ngModel)]="type" (click)="setRadio(0)">
    </div>
    <div class="col-1 pr-0">
      <label class="mr-2">Fuel</label>
      <input type="radio" name="fuel" value="fuel" [(ngModel)]="type" (click)="setRadio(1)">
    </div>
    <div class="col-2">
        <select *ngIf="selected==0" class="form-control" [(ngModel)]="bankId">
            <option value="-1">Select  Bank Type</option>
            <option *ngFor="let data of bankData" [value]="data.id">
              {{data.description}}
            </option>
          </select>
          <select *ngIf="selected==1" class="form-control" [(ngModel)]="fuelId">
            <option value="-1">Select Fuel Type</option>
            <option *ngFor="let data of fuelData" [value]="data.id">
              {{data.description}}
            </option>
          </select>
    </div>
   </div>
   
   
  <div class="row align-items-center">
    <div class="col-1 text-left">
      <label>User Name</label>
    </div>

    <div class="col-2">
      <input type="text" class="form-control" name="username" [(ngModel)]="userName" placeholder="User Name">
    </div>
    <div class="col-2 text-left">
      <label>Second User Name</label>
    </div>
    <div class="col-2">
      <input type="text" class="form-control" name="username" [(ngModel)]="userName2" placeholder=" Second User Name">
    </div>
    <div class="col-1 text-left">
      <label>Password</label>
    </div>
    <div class="col-2">
      <input class="form-control" [type]="showPass == 0 ? 'password' : 'text'" name="password" [(ngModel)]="password"
        placeholder="Password">
    </div>
    <div class="col-1 text-left">
      <i *ngIf="showPass == 0" class="fas fa-eye eye" (click)="showPassword(0)"></i>
      <i *ngIf="showPass == 1" class="fas fa-eye-slash eye" (click)="showPassword(1)"></i>
    </div>
    <div class="col-1 pl-0">
      <button class="btn btn-primary w-100 pt-1 pb-1 rounded-sm text-capitalize p-0" (click)="saveUserDetails()">Save
        Details</button>
    </div>
  </div>
  <div class="table">
    <smart-table *ngIf="data && data.length" [data]="table.data" [settings]="table.settings"></smart-table>
  </div>
</div>