<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">Get User Bank Info</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="model-body" style="text-align:center; margin-top:10px; margin-left: 5px; margin-right: 5px; padding-bottom: 10px;">         
  <div class="row align-items-center">
      <div class="col-1 pr-0">
          <label>FoID</label>
        </div>
        <div class="col-2"> 
            <auto-suggestion (onSelected)="selectFoUser($event)" url="Suggestion/getFoUsersList" display="name"
           placeholder="Fo " [preSelected]="null"></auto-suggestion>
          </div>
          <div class="col-2"> 
              <button class="btn btn-primary" (click)="viewFoDetails()">View</button>
            </div>
  </div>
  <div class="row align-items-center">
  <div class="col-1 pr-0">
    <label>Bank</label>
  </div>
  <div class="col-2">
      <select class="form-control" [(ngModel)]="bankId">
          <option value="-1">Select  Bank Type</option>
          <option *ngFor="let data of bankData" [value]="data.id">
            {{data.description}}
          </option>
        </select>
  </div>
</div>
<div class="row align-items-center">
  <div class="col-1">
    <label>User Name</label>
  </div>
  
  <div class="col-1">
      <input type="text" name="username" [(ngModel)]="userName" placeholder="User Name">
  </div>
  <div class="col-3">
      <label>Second User Name</label>
    </div>
    <div class="col-1">
        <input type="text" name="username" [(ngModel)]="userName2" placeholder=" Second User Name">
    </div>
  <div class="col-1 ml-5">
      <label>Password</label>
    </div>
  <div class="col-2">
      <input [type]="showPass == 0 ? 'password' : 'text'" name="password" [(ngModel)]="password" placeholder="Password">
  </div>
  <div class="col-1">
      <i  *ngIf="showPass == 0" class="fas fa-eye eye" (click)="showPassword(0)"></i>
      <i  *ngIf="showPass == 1" class="fas fa-eye-slash eye" (click)="showPassword(1)"></i>
    </div>
  <div class="col-1 p-0">
    <button class="btn btn-primary" (click)="saveUserDetails()">Save Details</button>
    </div>
</div>
<div>
    <smart-table *ngIf="data && data.length" [data]="table.data" [settings]="table.settings" ></smart-table>
</div>
</div>

