<div class="amnout_list">
  <div class="row">
    <div class="col-6">
      <div class="amount_box">
        <div class="row">
          <div class="col-6 text-left">
            <p class="rupee_icon m-0">
              <i class="fas fa-rupee-sign"></i>
            </p>
          </div>
          <div class="col-6 text-right">
            <h4>{{remainingBalance}}</h4>
            <p class="desc m-0">Remaning Balance</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="amount_box">
        <div class="row">
          <div class="col-6 text-left">
            <p class="rupee_icon m-0">
              <i class="fas fa-rupee-sign"></i>
            </p>
          </div>
          <div class="col-6 text-right">
            <h4>{{fuelDiscount}}</h4>
            <p class="desc m-0">Fuel Discount</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-6">
      <div class="amount_box">
        <div class="row">
          <div class="col-6 text-left">
            <p class="rupee_icon m-0">
              <i class="fas fa-rupee-sign"></i>
            </p>
          </div>
          <div class="col-6 text-right">
            <h4>{{Total}}</h4>
            <p class="desc m-0">Total </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="amount_box">
        <div class="row">
          <div class="col-6 text-left">
            <p class="rupee_icon m-0">
              <i class="fas fa-rupee-sign"></i>
            </p>
          </div>
          <div class="col-6 text-right">
            <h4>{{tollDiscount}}</h4>
            <p class="desc m-0">Toll Discount</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>