.btn-primary{
    width: 100%;
    font-size: 12px;
    padding: 6px 0px;
    border-radius: 3px;
    text-transform: capitalize;
}
.doc-icons{
    font-size: 28px;
    .pdf-icon{
        color: #e13017;
    }
    .exel-icon{
        color: #227849;
    }
}
:host::ng-deep{
    .abnormal{
        color: #0ff50f;
    }
}