<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">{{title}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <table class="table table-bordered table-hover" *ngIf="trailFlag">
    <thead>
      <tr>
        <th>#</th>
        <th>Employee Name</th>
        <th>Spent Time</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of trails;let i=index">
        <td>{{i+1}}</td>
        <td>{{data.employeename ? data.employeename : data[1]}}</td>
        <td>{{data.spent_time ? data.spent_time : data[2]}}</td>
        <td>{{data.status ? data.status : data[3]}}</td>
      </tr>
    </tbody>

  </table>

  <table class="table table-bordered table-hover" *ngIf="commentsFlag">
    <thead>
      <tr>
      <th>#</th>
      <th>Name</th>
      <th>Status</th>
      <th>Comment</th>
      <th>Time</th>
    </tr>
    </thead>
    <tbody *ngFor="let comment of comments; let i = index">
      <tr>
      <td>{{i+1}}</td>
      <td>{{comment.employeename}}</td>
      <td>{{comment.status}}</td>
      <td>{{comment.comment}}</td>
      <td>{{comment.addtime | date : 'dd MMM hh:mm a'}}</td>
    </tr>
    </tbody>
  </table>
</div>