<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ticket Trail Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-bordered table-hover">
  
      <tbody>
        <tr>
          <th>Vehicle</th>
          <td>hii</td>
        </tr>
        <tr>
          <th>Driver</th>
          <td>hii</td>
        </tr>
        <tr>
          <th>Mobile</th>
          <td>hii</td>
        </tr>
        <tr>
          <th>Status</th>
          <td> ytg </td>
        </tr>
        <tr>
          <th>Hrs Since</th>
          <td>ji</td>
        </tr>
        <tr>
          <th>Addtional Info</th>
          <td></td>
        </tr>
        <tr>
          <th>Trip</th>
          <td>
             <!-- Heading -->
             <div col-4 (click)="showDetails(kpi)" *ngIf="kpi.trip_status_type == 0">
                <i name="exit" class="fa fa-sign-out-alt"></i>
                <!-- <span class="circle">{{kpi.x_showtripstart}}</span> -->
                <i class="route-arrow" name="ios-arrow-round-forward"></i>
                <!-- <span>{{kpi.x_showtripend}}</span> -->
              </div>
  
              <!-- Loading -->
              <div col-4 (click)="showDetails(kpi)" *ngIf="kpi.trip_status_type == 1">
                <!-- <span class="circle">{{kpi.x_showtripstart}}</span> -->
                <i class="route-arrow" name="ios-arrow-round-forward"></i>
                <!-- <span>{{kpi.x_showtripend}}</span> -->
              </div>
  
              <!-- Onward -->
              <div col-4 (click)="showDetails(kpi)" style="font-size: 10px;" *ngIf="kpi.trip_status_type == 2">
                <!-- <span>{{kpi.x_showtripstart}}</span> -->
                <i class="route-arrow" name="ios-arrow-round-forward"></i>
                <!-- <span>{{kpi.x_showtripend}}</span> -->
              </div>
  
              <!-- Unloading -->
              <div col-4 (click)="showDetails(kpi)" *ngIf="kpi.trip_status_type == 3">
                <!-- <span>{{kpi.x_showtripstart}}</span> -->
                <i class="route-arrow" name="ios-arrow-round-forward"></i>
                <!-- <span class="circle">{{kpi.x_showtripend}}</span> -->
              </div>
  
              <!-- Complete -->
              <div col-4 (click)="showDetails(kpi)" *ngIf="kpi.trip_status_type == 4">
                <!-- <span>{{kpi.x_showtripstart}}</span> -->
                <i class="route-arrow" name="ios-arrow-round-forward"></i>
                <!-- <span>{{kpi.x_showtripend}}</span> -->
                <i class="complete" name="checkmark-circle-outline"></i>
              </div>
  
              <!-- Ambigous -->
              <div col-4 (click)="showDetails(kpi)" *ngIf="kpi.trip_status_type == 5">
                <!-- <span>{{kpi.x_showtripstart}}</span> -->
                <span class="route-arrow">-</span>
                <!-- <span>{{kpi.x_showtripend}}</span> -->
              </div>
          </td>
        </tr>
        <tr>
          <th>Trip Start Time</th>
          <td>hii</td>
        </tr>
        <tr>
          <th>Trip End Time</th>
          <td>hii</td>
        </tr>
      </tbody>
  
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>