<nb-card style="margin: 0px; border:0px;">
  <!-- <nb-card-header>
    <h4>Company Branches</h4>
  </nb-card-header> -->
  <nb-card-body>
    <button class="btn mb-4 add-button" (click)="openModal()"><i class="fa fa-plus"></i></button>
    <div class="main">
      <table class="table table-bordered ">
        <thead style="background-color: #263238; color:#fff; white-space: nowrap;">
          <tr>
            <th>#</th>
            <th>Name</th>
            <!-- <th>Code</th> -->
            <th>Email</th>
            <th>State</th>
            <!-- <th>Excise No</th>
            <th>Fax No</th> -->
            <th>GST NO</th>
            <!-- <th>Import/Export No</th> -->
            <th>Mobile No</th>
            <th>PAN No</th>
            <th>Phone No</th>
            <th>TAN No</th>
            <th>TAX Exemption No</th>
            <th>TIN No</th>
            <!-- <th>Tollfree Number</th>
            <th>Addressline</th>
            <th>Remarks</th> -->
            <th>Approve Mannual</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let branchdata of Branches; let i = index; " (click)="selectedRow = i"
            (dblclick)="openModal(branchdata)" (enter)="openModal(branchdata)"
            [ngClass]="{'highlight' : selectedRow == i}">
            <td>{{i + 1}}</td>
            <td>{{branchdata.name}}</td>
            <!-- <td>{{branchdata.code}}</td> -->
            <td>{{branchdata.email}}</td>
            <td *ngIf="branchdata.province_name">{{branchdata.province_name}} ( {{branchdata.gst_state_code}} )</td>
            <td *ngIf="!branchdata.province_name"></td>
             <!-- <td>{{branchdata.exciseno}}</td>
            <td>{{branchdata.faxnumber}}</td> -->
            <td>{{branchdata.gstno}}</td>
            <!-- <td>{{branchdata.importexportno}}</td> -->
            <td>{{branchdata.mobilenumber}}</td>
            <td>{{branchdata.panno}}</td>
            <td>{{branchdata.phonenumber}}</td>
            <td>{{branchdata.tanno}}</td>
            <td>{{branchdata.taxexemptionno}}</td>
            <td>{{branchdata.tinno}}</td>
            <!-- <td>{{branchdata.tollfreenumber}}</td>
            <td>{{branchdata.addressline}}</td>
            <td>{{branchdata.remarks}}</td> -->
            <td *ngIf="branchdata.is_inv_manualapprove">Yes</td>
            <td *ngIf="!branchdata.is_inv_manualapprove">No</td>
            <td class="del">
              <a href="javascript: void(0);" class="delete" title="Delete " (click)="delete(branchdata.id)"><i
                  class="fa fa-trash"></i></a>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </nb-card-body>
</nb-card>