<div class="">
    <div class="outer tripload-6" style="min-height: 145px;">
      <h6 style="text-align:center"><b class="charthead">Longest Unloading Drivers in Last 30 Days
        </b></h6>
      <p style="text-align: right; margin-top: -25px;" class="link"
        (click)="getDetials('Tmgreport/GetLongestUnLoadindDriver',{totalrecord: 3,stepno: -1},30,'days')"><i
          title="More Details" class="fa fa-list"></i>
      </p>
      <table class="table">
        <thead class="thead">
          <th>Driver Name</th>
          <th>Avg. Unloading Time (Hrs) </th>
        </thead>
        <tbody class="tbody">
          <tr *ngFor="let lud of longestUnLoadindDriver">
            <td class="link" (click)="getDetials('Tmgreport/GetLongestUnLoadindDriver',{totalrecord: 3,stepno: 1,isfo: lud['Driver Name'] },30,'days')">{{lud['Driver Name']}}</td>
            <td>{{lud['Avg Unloading Time(in Hr:Mi)']}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>