button { 
    background-color: #73a1ff;
    border-radius: 3px !important;
    text-transform: capitalize !important;
    padding: 5px !important;
}

nb-card-header{
    padding: 15px 20px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}

table{
    thead{
        display: table;
        width: 100%;
        table-layout: fixed;
       
    }
    tr{
        th:first-child,
        th:nth-child(2){
            width: 40px;
        }
        th{
            padding: 5px 10px;
            font-weight: normal;
            width: 220px;
        }
        th:last-child{
            width: auto;
        }
        td{
            padding: 5px 10px !important;
            font-size: 12px;
            width: 220px;
            button{
                padding: 0 !important;
                font-size: 11px;
                border-radius: 0px !important;
                margin: 0px;
                background-color: transparent;
                color: #263238;
                outline: none;
                box-shadow: none;
            }
        }
        td:first-child,
        td:nth-child(2){
            width: 40px;
        }
        td:last-child{
            width: auto;
        }
    }
    tbody{
        overflow-y: auto;
        display: block;
        width: 100%;
        table-layout: fixed;
        overflow: auto;
        max-height: calc(100vh - 312px);
        tr{
            display: table;
            table-layout: fixed;
            width: 100%;
          
        }
        tr:nth-child(odd){
            background-color: #fff;
        }
        tr:nth-child(even){
            background-color: #e4e4e4;
        }
    }
} 
.modal-header{
    background-color: #263238!important;
}

.auto-sugg{
    max-height: 128px;
    min-height: 128px;
}
.text_area_box{
    width: 35%;
    padding-right: 15px;
    margin-left: 324px;
}
.amount_box{
    width: 18%;
    padding-left: 10px;
    padding-right: 15px;
}
.submit_btn{
    width: 10%;
    padding-left: 65px;
}
.btn{
    background-color: #263238!important;
}
