<div class="modal-header">
    <h5>Strict Mapping</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()"> <span
            aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="strict-maping">
        <table frame="box" style="width:100%">
            <thead>
                <tr>
                    <th>Regno</th>
                    <th>Name Routes</th>
                    <th>Kms</th>
                    <th>Type</th>
                    <th>Start Loc</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let route of routes;let i=index;">
                    <td>{{route.regno}}</td>
                    <td>
                        <span>{{route.name}}</span>
                        <auto-suggestion *ngIf="!route.name" [data]="routesDetails" [display]="['name','id']" seperator="-" (onSelected)="changeRefernceType($event,route.vehicle_id)" inputId="routeId"></auto-suggestion>
                    </td>
                    <td>{{route.kms}}</td>
                    <td>{{route.type}}</td>
                    <td>{{route.startloc}}</td>
                    <td>{{route.endloc}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div class="mt-2">
            <button type="button" class="btn btn-primary" (click)="insertRoute()">save</button>
        </div> -->
</div>