.modal-header{
    padding: 10px 15px;
    background-color: #263238 !important;
}
.modal-header h5{
    color: #fff;
}
.close{
    background: transparent;
    color: #fff !important;
    opacity: 1;
    padding: 10px 20px;
    margin: -10px -1rem -1rem auto;
    outline: none;
}
// .modal-body input{
//     border: 1px solid #263238 !important;
//     border-radius: 0px 2px 2px 2px;
//     padding: 3px 5px !important;
//     height: auto;
//     font-size: 12px;
// }
.modal-footer{
    padding: 10px 15px;
    button{
      padding: 5px 12px;
      text-transform: capitalize;
      margin: 0px
    }
    .btn-danger{
      background-color: #d61414 !important;
    }
    .btn-primary{
      background-color: #263238 !important;
    }
  }