<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">{{title}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form [formGroup]="agentForm" name="agent-form" id="agent-form" (submit)="agentForm.valid && addNewAgent()">
    <div class="row" style="margin-top:5px">
      <div class="col-md-4">
        <label> Agent Name <span class="mandatory">*</span> </label>
      </div>
      <div class="col-md-8 form-group">
        <input id="agent-name" name="agent-name" type="text" placeholder="Enter Agent name" autocomplete="off"
          class="form-control" formControlName="name" [ngClass]="{ 'is-invalid': isFormSubmit && f.name.errors }">
        <div *ngIf="isFormSubmit && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Agent Name is required</div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top:5px">
      <div class="col-md-4">
        <label>Mobile Number <span class="mandatory">*</span> </label>
      </div>
      <div class="col-md-8 form-group">
        <input id="mobile-number" name="mobile-number" type="text" placeholder="Mobile Number" autocomplete="off"
          class="form-control" formControlName="mobileNo" minlength="10" maxlength="10"
          [ngClass]="{ 'is-invalid': isFormSubmit && f.mobileNo.errors }">
        <div *ngIf="isFormSubmit && f.mobileNo.errors" class="invalid-feedback">
          <div *ngIf="f.mobileNo.errors.required">mobileNumber Name is required</div>
          <div *ngIf="f.mobileNo.errors.minlength ">mobile Number minlength 10</div>
          <div *ngIf="f.mobileNo.errors.maxlength ">mobile Number maxlength 10</div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top:5px">
      <div class="col-md-4">
        <label>Location</label>
      </div>
      <div class="col-md-8 form-group">
        <input id="location" name="location" type="text" formControlName="location" placeholder="Location"
          autocomplete="off" class="form-control">
      </div>
    </div>

    <div class="row" style="margin-top:5px">
      <div class="col-md-4">
        <label>Email id</label>
      </div>
      <div class="col-md-8">
        <input id="emailid" name="emailid" type="email" formControlName="email" placeholder="abc@gmail.com"
          autocomplete="off" class="form-control">
      </div>
    </div>

  </form>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col">
      <button class="btn btn-danger" type="button" (click)="closeModal(false)" id="cancel"
        style="cursor: pointer;">{{btn2}}</button>
    </div>
    <div class="col text-right">
      <button class="btn btn-primary" type="submit" form="agent-form" (click)="isFormSubmit = true" id="submit"
        style="cursor: pointer;">{{btn1}}</button>
    </div>
  </div>
</div>