<!-- Author By Lalit Singh -->
<div class="modal-header">
    <h5>{{title}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" style="max-height: 500px;">

    <div class="row">
        <div class="col-12">
            <div class="radio-type">
                <input type="radio" value="0" name="radio" [(ngModel)]="selectModalTypeId"
                    (change)="changeModal(selectModalTypeId)">Fuel Indent
                <input type="radio" value="1" name="radio" [(ngModel)]="selectModalTypeId"
                    (change)="changeModal(selectModalTypeId)">Cash Indent
            </div>
        </div>
    </div>


    <div class="fuel-indent mt-2">
        <form [formGroup]="fuelIndent" name="fuelIndent-form" id="fuelIndent-form"
            (submit)="fuelIndent.valid && saveFuelIndent()">
            <div class="row" *ngIf="!edit">
                <div class="col-3">
                    <label>Vehicle Type:</label>
                </div>
                <div class="col-3">
                    <select class="form-control" name="vehicleType" formControlName="vehicleType" id="vehicleType"
                        [(ngModel)]="fuelIndentData.vehicleType" (change)="handleVehicleTypeChange()">
                        <option *ngFor="let vehicle of vehicleTypes;let i = index" [value]="vehicle.id">
                            {{vehicle.name}}
                        </option>
                    </select>
                </div>
                <div class="col-2">
                    <label>Regno:</label>
                </div>
                <div class="col-3" *ngIf="fuelIndentData.vehicleType==1">
                    <auto-suggestion (onSelected)="selectVehicle($event)" inputId="regno" controlName="regno"
                        [parentForm]="fuelIndent" [ngClass]="{ 'is-invalid': isFormSubmit && f.regno.errors }"
                        name="regno" url="Suggestion/getFoVehicleList" display="regno" placeholder="Vehicle Number"
                        [preSelected]="{regno:fuelIndentData.regno}"></auto-suggestion>
                    <div *ngIf="isFormSubmit && f.regno.errors" class="error">
                        <div *ngIf="f.regno.errors.required">Regno is Require</div>
                    </div>
                </div>
                <div *ngIf="fuelIndentData.vehicleType!=1" class="col-3">
                    <input type="text" class="form-control" formControlName="regno" id="customRegno"
                        [(ngModel)]="fuelIndentData.regno" [ngClass]="{ 'is-invalid': isFormSubmit && f.regno.errors }"
                        autocomplete="off">
                    <div *ngIf="isFormSubmit && f.regno.errors" class="error">
                        <div *ngIf="f.regno.errors.required">value is Require</div>
                    </div>
                </div>
            </div>

            <div class="row mt-2" *ngIf="!edit">
                <div class="col-3">
                    <label>Ref. Type:</label>
                </div>
                <div class="col-3">
                    <select class="form-control" name="refType" id="refType" formControlName="refType"
                        [(ngModel)]="fuelIndentData.refType" (change)="selectRefType($event);">
                        <option value="-1">select type</option>
                        <option *ngFor="let ref of dropDownRefTypes[fuelIndentData.vehicleType];let i = index"
                            [value]="ref.id">
                            {{ref.name}}
                        </option>
                    </select>
                </div>
                <div class="col-3 offset-2">
                    <select class="form-control" name="refTypeSource" id="refTypeSource" formControlName="refTypeSource"
                        (change)="selectRefTypeSource($event);">
                        <option *ngFor="let status of refTypeResults;let i = index" [value]="status.id">
                            {{status.source_dest}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="row" *ngIf="edit">
                <div class="col-3"><label>Regno</label></div>
                <div class="col-3">{{fuelIndentData.regno}}</div>
                <div class="col-4">{{fuelIndentData.refName}}</div>
            </div>

            <div class="row mt-2" *ngIf="selectModalTypeId=='0'; else cashIndent">
                <div class="col-3">
                    <form>
                        <input type="radio" name="radio" value='0' [(ngModel)]="indentType" class="radioType">
                        <b>Amount</b>
                        <input type="radio" name="radio" value='1' [(ngModel)]="indentType" class="radioType ml-2">
                        <b>liter</b>
                    </form>
                </div>
                <div class="col-3">
                    <input type="text" id="indentTypeValue" formControlName="indentTypeValue"
                        [ngClass]="{ 'is-invalid': isFormSubmit && f.indentTypeValue.errors }" name="indentTypeValue"
                        class="form-control" autocomplete="off" placeholder="Enter value"
                        [(ngModel)]="fuelIndentData.amount">
                    <div *ngIf="isFormSubmit && f.indentTypeValue.errors" class="invalid-feedback">
                        <div *ngIf="f.indentTypeValue.errors.required">Value is require</div>
                    </div>
                </div>
                <div class="col-2">
                    <label>Fuel Station:</label>
                </div>
                <div class="col-3">
                    <select class="form-control" name="fuelStation" id="fuelStation" formControlName="fuelStation"
                        [(ngModel)]="fuelIndentData.fuelId">
                        <option *ngFor="let fuel of fuelStations" [value]="fuel.id">
                            {{fuel.name}}
                        </option>
                    </select>
                    <div *ngIf="isFormSubmit && f.fuelStation.errors" class="error">
                        <div *ngIf="f.fuelStation.errors.required">FuelStation is require</div>
                    </div>
                </div>
            </div>
            <ng-template #cashIndent>
                <div class="row mt-2">
                    <div class="col-3">
                        <label>Amount</label>

                    </div>
                    <div class="col-3">
                        <input type="text" id="indentTypeValue" formControlName="indentTypeValue"
                            [ngClass]="{ 'is-invalid': isFormSubmit && f.indentTypeValue.errors }"
                            name="indentTypeValue" class="form-control" autocomplete="off" placeholder="Enter value"
                            [(ngModel)]="fuelIndentData.amount">
                        <div *ngIf="isFormSubmit && f.indentTypeValue.errors" class="invalid-feedback">
                            <div *ngIf="f.indentTypeValue.errors.required">Value is require</div>
                        </div>
                    </div>
                    <div class="col-2">
                        <label>Ledger:</label>
                    </div>
                    <div class="col-3">
                        <auto-suggestion (onSelected)="selectLedger($event)" inputId="ledger" controlName="ledger"
                            [parentForm]="fuelIndent" [ngClass]="{ 'is-invalid': isFormSubmit && f.ledger.errors }"
                            name="ledger" url="Suggestion/GetAllLedger" display="name" placeholder="Ledger "
                            [preSelected]="{name:fuelIndentData.ledgerName}"></auto-suggestion>
                    </div>
                </div>
            </ng-template>


        </form>

        <div class="row mt-2">
            <div class="col-3">
                <label>Issue Date</label>
            </div>
            <div class="col-3">
                <uj-date-time-picker (onChanged)="fuelIndentData.issueDate=$event" class=""
                    [dateTimeValue]="fuelIndentData.issueDate" [isTime]=false>
                </uj-date-time-picker>
            </div>
            <div class="col-2">
                <label>Expiry Date:</label>
            </div>
            <div class="col-3">
                <uj-date-time-picker (onChanged)="fuelIndentData.expiryDate=$event" class=""
                    [dateTimeValue]="fuelIndentData.expiryDate" [isTime]=false [isStart]="false">
                </uj-date-time-picker>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-3">
                <label>Branch ID</label>
            </div>
            <div class="col-3">
                <auto-suggestion (onSelected)="fuelIndentData.branchId=$event.id" inputId="branchId" name="branchId"
                    [data]="branchList" display="name" placeholder="branchId"
                    [preSelected]="{name:fuelIndentData.branchName}"></auto-suggestion>
            </div>
            <div class="col-2">
                <label>Remark:</label>
            </div>
            <div class="col-4">
                <textarea name="remark" id="remark" class="form-control" rows="5" cols="5"
                    [(ngModel)]="fuelIndentData.remark"></textarea>
            </div>
        </div>
    </div>

    <div class="row text-right mt-2">
        <div class="col text-right">
            <button type="submit" class="btn btn-primary" form="fuelIndent-form"
                (click)="isFormSubmit=true">{{button}}</button>
        </div>
    </div>
    <div class="modal-footer mt-2">
        <smart-table *ngIf="fuelData && fuelData.length" [data]="table.data" [settings]="table.settings"
            id="fuelIndent">
        </smart-table>
    </div>
</div>