<div class="modal-header">
    <h5>{{common.params.title}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="fuel-indent mt-2">
        <form [formGroup]="Form" name="foUser-form" id="foUser-form" (submit)="Form.valid && submit()">
            <div class="row" *ngIf="!refData.id">
                <div class="col-2">
                    <label>Vehicle Type:</label>
                </div>
                <div class="col-3">
                    <select class="form-control" name="dropDown" formControlName="dropDown" id="dropDown" [(ngModel)]="vehicle.type" (change)="handleVehicleTypeChange()">
                        <option *ngFor="let status of dropDown;let i = index" [value]="status.id">
                            {{status.name}}
                        </option>
                    </select>
                </div>
                <div class="col-2">
                    <label>Ref. Type:</label>
                </div>
                <div class="col-2">
                    <select class="form-control" name="dropDownsubtype" id="dropDownsubtype" formControlName="dropDownsubtype" [(ngModel)]="vehicle.subType" (change)="changeVehicleType($event);">
                        <option value="-1">select type</option>
                        <option *ngFor="let status of dropDownSubType[vehicle.type];let i = index" [value]="status.id">
                            {{status.name}}
                        </option>
                    </select>
                </div>
                <div class="col-3">
                    <!-- <input type="text" placeholder="Search" class="form-control" formControlName="source_dest" name="source" id="brand" [(ngModel)]="source_dest"> -->
                    <select class="form-control" name="dropDown" id="dropDown" formControlName="source_dest" [(ngModel)]="sourceId" (click)="getRefDetails($event)">
                        <option *ngFor="let status of brands;let i = index" [value]="status.id">
                            {{status.source_dest}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row" *ngIf="refData.id">
                <div class="col-2"><label>Regno</label></div>
                <div class="col-3">{{refData.regno}}</div>
                <div class="col-2"><label>{{refData.typeName}}</label></div>
                <div class="col-5">{{refData.name}}</div>
            </div>
            <div class="row mt-2" *ngIf="!refData.id">
                <div class="col-2">
                    <label class="mt-2">Vehicle:</label>
                </div>
                <div *ngIf="vehicle.type==1" class="col-10">
                    <auto-suggestion (onSelected)="getVehicleList($event)" id="autosuggestion" controlName="autosuggestion" [parentForm]="Form" [ngClass]="{ 'is-invalid': isFormSubmit && f.autosuggestion.errors }" name="autosuggestion" url="Suggestion/getFoVehicleList" display="regno"
                        placeholder="Vehicle Number" [preSelected]="{regno:regno}"></auto-suggestion>
                    <div *ngIf="isFormSubmit && f.autosuggestion.errors" class="error">
                        <div *ngIf="f.autosuggestion.errors.required">value is Require</div>
                    </div>
                </div>
                <div *ngIf="vehicle.type==3||vehicle.type==2" class="col-10">
                    <input type="text" class="form-control" formControlName="autosuggestion" [(ngModel)]="regno" [ngClass]="{ 'is-invalid': isFormSubmit && f.autosuggestion.errors }" autocomplete="off">
                    <div *ngIf="isFormSubmit && f.autosuggestion.errors" class="error">
                        <div *ngIf="f.autosuggestion.errors.required">value is Require</div>
                    </div>
                </div>
            </div>
            <div class="row mt-2" *ngIf="!refData.id">

            </div>
            <div class="row mt-2">
                <div class="col-2">
                    <label>Fuel Station:</label>
                </div>
                <div class="col-10">
                    <!-- <auto-suggestion (onSelected)="getFuelStation($event)" id="autosuggestion1" controlName="autosuggestion1" [parentForm]="Form" [ngClass]="{ 'is-invalid': isFormSubmit && f.autosuggestion1.errors }" url="Suggestion/getFuelStationName" display="name" placeholder="fuel Station"
                        [preSelected]="{name:name}"></auto-suggestion> -->
                    <select class="form-control" name="dropdown" id="dropdown" formControlName="autosuggestion1" [(ngModel)]="fuelId" (change)="getFuelStation($event)">
                        <option *ngFor="let status of fuelStations" [value]="status.id">
                            {{status.name}}
                        </option>
                    </select>
                    <div *ngIf="isFormSubmit && f.autosuggestion1.errors" class="error">
                        <div *ngIf="f.autosuggestion1.errors.required">value is Require</div>

                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-2">
                    <form>
                        <input type="radio" name="amount" [value]=0 [(ngModel)]="indentType"> <b>Amount</b>
                        <input type="radio" name="ltr" [value]=1 [(ngModel)]="indentType" class="ml-2" checked>
                        <b>liter</b>
                    </form>
                </div>
                <div class="col-10">
                    <input type="text" id="amount" formControlName="amount" [ngClass]="{ 'is-invalid': isFormSubmit && f.amount.errors }" name="amount" class="form-control" autocomplete="off" placeholder="enter value" [(ngModel)]="amount">
                    <div *ngIf="isFormSubmit && f.amount.errors" class="invalid-feedback">
                        <div *ngIf="f.amount.errors.required">value is Require</div>
                    </div>
                </div>
            </div>
        </form>

        <div class="row mt-2">
            <div class="col-2">
                <label>Issue Date</label>
            </div>
            <div class="col-10">
                <!-- <input type="date" class="form-control" placeholder="enter value" [(ngModel)]="issueDate"> -->
                <uj-date-time-picker (onChanged)="issueDate=$event" class="" [dateTimeValue]="issueDate" [isTime]=false>
                </uj-date-time-picker>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-2">
                <label>expiry Date:</label>
            </div>
            <div class="col-10">
                <!-- <input type="text" id="expiryTime" class="form-control" name="expiryTime" placeholder="expiry Time" [(ngModel)]="expiryTime" autocomplete="off" (click)="openReminderModal()"> -->
                <uj-date-time-picker (onChanged)="expiryTime=$event" class="" [dateTimeValue]="expiryTime" [isTime]=false [isStart]="false">
                </uj-date-time-picker>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-2">
                <label>Remark:</label>
            </div>
            <div class="col-10">
                <!-- <input type="text" id="expiryTime" class="form-control" name="expiryTime" placeholder="expiry Time" [(ngModel)]="expiryTime" autocomplete="off" (click)="openReminderModal()"> -->
                <textarea name="comment" form="usrform" class="form-control" [(ngModel)]="remark"></textarea>
            </div>
        </div>
        <div class="mt-2 offset-2">
            <button type="submit" class="btn btn-primary" form="foUser-form" (click)="isFormSubmit=true">{{common.params.flag}}</button>
        </div>
    </div>
    <div class="modal-footer mt-2">
        <smart-table *ngIf="data && data.length" [data]="table.data" [settings]="table.settings" id="fuelIndent">
        </smart-table>
    </div>