.veiw-table{
    overflow: auto;
}

table{
    thead{
        background-color: #263238;
        color: #fff;
    }
    tbody{
        tr:nth-child(odd){
            background-color: #fff;
        }
        tr:nth-child(even){
            background-color: #e4e4e4;
        }
    } 
}