<nb-card style="border: 0px;">
  <nb-card-header>
    <div class="row">
      <div class="col-sm-6 p-0">
        <h5>Placement Optimization</h5>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <label  style="float: right;" [ngClass]="isVisible ? 'red' : 'green'" [(ngModel)]="showHides" (click)="showHide(isVisible)">{{showHides}}</label>
    </div>
    
    <div *ngIf="isVisible">
    <div class="row">
      <div class="col-sm-12 p-0">
        <div class="col-sm-2 p-0">
          <label>Name</label>
          <input type="text" [(ngModel)]="name" class="form control" placeholder="Name">
        </div>

        <div class="col-sm-3">
          <label>Placement Date</label>
          <uj-date-time-picker (onChanged)="getDate($event);" [isTime]='false' [dateTimeValue]="placementDate">
          </uj-date-time-picker>
        </div>

        <div class="col-sm-3 mt-4">
          <label><input name="time" [(ngModel)]="select" type="radio" [value]="0">Include All</label>
          <label><input name="time" class="ml-3" type="radio" [(ngModel)]="select" [value]="1">Only Available</label>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-12 p-0">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th><label>Plant</label></th>
              <th><label>Waiting Time</label></th>
              <th><label>Min Quantity</label></th>
              <th><label>Max Quantity</label></th>
              <th><label>Min Penalty</label></th>
              <th><label>Max Penalty</label></th>
              <th><label>Action</label></th>
            </tr>
          </thead>
          <tbody>
            
            <tr *ngFor="let item of items; let j= index">
              <td>
                
                <auto-suggestion (onSelected)="selectplnt($event, j)" url="suggestion/getSites" display="name"
                  placeholder="Search Plant" [preSelected]="(item.siteId>0) ? {'name':item.siteName} : {'name':null}"></auto-suggestion>
              </td>
              <td>
                
                <input type="number" [(ngModel)]="item.waitingTime" min=0 oninput="validity.valid||(value='');"
                  class="form control" placeholder="Weight Time">
              </td>

              <td>
                
                <input type="number" [(ngModel)]="item.minQuantity" min=0 oninput="validity.valid||(value='');"
                  class="form control" placeholder="Min Qty">
              </td>

              <td>
                
                <input type="number" [(ngModel)]="item.maxQuantity" min=0 oninput="validity.valid||(value='');"
                  class="form control" placeholder="Max Qty">
              </td>

              <td>
                
                <input type="number"   [(ngModel)]="item.penaltyMin" min=0 oninput="validity.valid||(value='');"
                  class="form control" placeholder="Min Panalty">
              </td>

              <td>
                
                <input type="number" [(ngModel)]="item.penaltyMax" min=0 oninput="validity.valid||(value='');"
                  class="form control" placeholder="Max Panalty">
              </td>
              <td style="padding: 0px;">
                <span><i class="fa fa-plus add" (click)="addMoreItems(i)" *ngIf="j == items.length-1" style="padding: 1px;
                                color: green;"></i>
                  <i class="fa fa-minus minus" (click)="items.splice(j,1)" *ngIf="j !== 0" style="padding: 1px;
                              color: red;"></i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-2">
          <button class="btn btn-primary" (click)="savePlacementOptimization()">submit</button>
        </div>
      </div>
    </div>
  </div>
    <div class="row mt-3">
      <table *ngIf="placementOPT" class="table table-bordered">
        <tr style="background-color:#78cfea;">
          <th>#</th>
          <th>Site Id</th>
          <th>Name</th>
          <th>Min Quantity</th>
          <th>Max Quantity</th>
          <th>Allocated Vehicle</th>
        </tr>
        <tr *ngFor="let packet of placementOPT.siteAllocationDetails;let i=index">
          <td>{{i+1}}</td>
          <td>{{packet.siteId}}</td>
          <td>{{packet.name}}</td>
          <td>{{packet.minQuantity}}</td>
          <td>{{packet.maxQuantity}}</td>
          <td>{{packet.allocatedVehicles}}</td>
        </tr>
      </table>
    </div>
    
    <div *ngIf="placementOPT">
    <div class="row" style="height:60vh;overflow-y:auto;">
      <table class="table table-bordered"  *ngFor="let packet of placementOPT.siteVehicleCostPackets;">
          <tr>
            <td colspan='4' class="col-sm-12" style="text-align:center;font-size:16px;font-weight:bold;background-color:lightgrey;">{{packet.siteName}} 
            </td>
          </tr>
          <tr *ngIf="!(packet.vehicleCostPacket && packet.vehicleCostPacket.length)>0;then content" style="background-color:#78cfea;">
            <th style="width:10%;">#</th>
            <th style="width:30%;">Vehicle Id</th>
            <th style="width:30%;">Reg No</th>
            <th style="width:30%;">Cost</th>
          </tr>
          
          <tbody>
              <tr  *ngFor="let costPacket of packet.vehicleCostPacket;let i = index;">
                <td style="width:10%;">{{i+1}}</td>
                <td style="width:30%;">{{costPacket.vehicleId}}</td>
                <td style="width:30%;">{{costPacket.truckRegno}}</td>
                <td style="width:30%;">{{costPacket.cost}}</td>
              </tr>
            </tbody>
            <ng-template #content>
            <div style="color:red;font-size:20px;font-weight:bold;text-align:center;padding:15px;">No Record Found!</div>  
            </ng-template>
      </table>
    </div>
  </div>

    <!-- <div class="row">
      <div class="col-sm-12" >
        <div class="col-12" *ngFor="let data of placementOPT; index i">{{data['siteAllocationDetails'][i]['name']}}
      <div class="col-sm-12" *ngFor="let data1 of placementOPT; index j">
        <span class="col-4">data1['siteVehicleCostPackets'][j]['vehicleCostPacket'][j]['vehicleId']</span>
        <span class="col-4">data1['siteVehicleCostPackets'][j]['vehicleCostPacket'][j]['truckRegno']</span>
        <span class="col-4">data1['siteVehicleCostPackets'][j]['vehicleCostPacket'][j]['cost']</span>
      </div>
    </div>
      </div>
    </div> -->

  </nb-card-body>
</nb-card>