nb-card-header{
    padding: 10px 15px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}
.tabset{
    padding: 0px !important;
    margin-bottom: 20px!important;
}
nb-card-body{
    padding: 0px 15px;
}
.alert-danger{
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 12px !important;
    font-size: 18px !important;
}
:host ::ng-deep .tableFixHead{
    overflow: auto;
    max-height: calc(100vh - 235px);
    height: auto !important;
}
:host ::ng-deep td i.fa-pencil-square-o{
    background-color: #04A9F5;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    position: relative;
}
:host ::ng-deep td i.fa-pencil-square-o:hover span{
    display: block;
}
:host ::ng-deep td i.fa-pencil-square-o span{
    position: absolute;
    display: none;
    padding: 11px 21px;
    left: -9px;
    top: -28px;
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    z-index: 999;
}
:host ::ng-deep td i.fa-pencil-square-o span::before{
    content: 'Edit';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #04A9F5;
    border-radius: 3px;
    padding: 5px 10px;
}
:host ::ng-deep td i.fa-pencil-square-o span::after{
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #04A9F5;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}
:host ::ng-deep td i.fa-question-circle{
    background-color: #1DE9B6;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    margin-left: 4px;
    position: relative;
}
:host ::ng-deep td i.fa-question-circle:hover span{
    display: block;
}
:host ::ng-deep td i.fa-question-circle span{
    position: absolute;
    display: none;
    padding: 11px 28px;
    left: -16px;
    top: -28px;
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    z-index: 999;
}
:host ::ng-deep td i.fa-question-circle span::before{
    content: 'Report';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #1DE9B6;
    border-radius: 3px;
    padding: 5px 10px;
}
:host ::ng-deep td i.fa-question-circle span::after{
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #1DE9B6;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}
:host ::ng-deep td i.fa-trash{
    background-color: #F44236;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    margin-left: 4px;
    position: relative;
}
:host ::ng-deep td i.fa-trash:hover span{
    display: block;
}
:host ::ng-deep td i.fa-trash span{
    position: absolute;
    display: none;
    padding: 11px 24px;
    left: -14px;
    top: -28px;
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    z-index: 999;
}
:host ::ng-deep td i.fa-trash span::before{
    content: 'trash';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #F44236;
    border-radius: 3px;
    padding: 5px 10px;
}
:host ::ng-deep td i.fa-trash span::after{
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #F44236;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}
:host ::ng-deep td i.fa-route{
    background-color: #ff8091;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    margin-left: 4px;
}
:host ::ng-deep td i.fa-route:hover span{
    display: block;
}
:host ::ng-deep td i.fa-route span{
    position: absolute;
    display: none;
    padding: 11px 24px;
    left: -8px;
    top: -28px;
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    z-index: 999;
}
:host ::ng-deep td i.fa-route span::before{
    content: 'Route';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ff8091;
    border-radius: 3px;
    padding: 5px 10px;
}
:host ::ng-deep td i.fa-route span::after{
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ff8091;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}
:host ::ng-deep td i.fa-star{
    background-color: #8280ff;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    margin-left: 4px;
}
:host ::ng-deep td i.fa-star:hover span{
    display: block;
}
:host ::ng-deep td i.fa-star span{
    position: absolute;
    display: none;
    padding: 11px 28px;
    left: -10px;
    top: -28px;
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    z-index: 999;
}
:host ::ng-deep td i.fa-star span::before{
    content: 'Events';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #8280ff;
    border-radius: 3px;
    padding: 5px 10px;
}
:host ::ng-deep td i.fa-star span::after{
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #8280ff;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}
:host ::ng-deep td i.fa-chart-bar{
    background-color: #80f54f;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    margin-left: 4px;
}
:host ::ng-deep td i.fa-chart-bar:hover span{
    display: block;
}
:host ::ng-deep td i.fa-chart-bar span{
    position: absolute;
    display: none;
    padding: 11px 28px;
    left: -10px;
    top: -28px;
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    z-index: 999;
}
:host ::ng-deep td i.fa-chart-bar span::before{
    content: 'Status';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #80f54f;
    border-radius: 3px;
    padding: 5px 10px;
}
:host ::ng-deep td i.fa-chart-bar span::after{
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #80f54f;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}

:host ::ng-deep td i.fa-handshake-o{
    background-color: #15986E;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    margin-left: 4px;
}
:host ::ng-deep td i.fa-handshake-o:hover span{
    display: block;
}
:host ::ng-deep td i.fa-handshake-o span{
    position: absolute;
    display: none;
    padding: 11px 28px;
    left: -10px;
    top: -28px;
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    z-index: 999;
}


:host ::ng-deep td i.fa-handshake-o span::before{
    content: 'Settlement';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #15986E;
    border-radius: 3px;
    padding: 5px 10px;
}
:host ::ng-deep td i.fa-handshake-o span::after{
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #15986E;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}


:host ::ng-deep td i.fa-chart-pie{
    background-color: #4ff5e6;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    margin-left: 4px;
}
:host ::ng-deep td i.fa-chart-pie:hover span{
    display: block;
}
:host ::ng-deep td i.fa-chart-pie span{
    position: absolute;
    display: none;
    padding: 11px 28px;
    left: -10px;
    top: -28px;
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    z-index: 999;
}
:host ::ng-deep td i.fa-chart-pie span::before{
    content: 'Status';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #4ff5e6;
    border-radius: 3px;
    padding: 5px 10px;
}
:host ::ng-deep td i.fa-chart-pie span::after{
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #4ff5e6;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}

:host ::ng-deep td i.fa-road{
    background-color: yellow;
    color: black;
    padding: 5px;
    border-radius: 3px;
    margin-left: 4px;
}
:host ::ng-deep td i.fa-road:hover span{
    display: block;
}
:host ::ng-deep td i.fa-road span{
    position: absolute;
    display: none;
    padding: 11px 24px;
    left: -8px;
    top: -28px;
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    z-index: 999;
}
:host ::ng-deep td i.fa-road span::before{
    content: 'Hist. Fuel Consumption';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: yellow;
    border-radius: 3px;
    padding: 5px 10px;
}
:host ::ng-deep td i.fa-road span::after{
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid yellow;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}


:host ::ng-deep td i.fa-road{
    background-color: yellow;
    color:black;
    padding: 5px;
    border-radius: 3px;
    margin-left: 4px;
}
:host ::ng-deep td i.fa-road:hover span{
    display: block;
}

:host ::ng-deep .blue{
    text-decoration: underline;
    color:blue;
}
:host ::ng-deep td i.fa-road span{
    position: absolute;
    display: none;
    padding: 11px 24px;
    left: -8px;
    top: -28px;
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    z-index: 999;
}
:host ::ng-deep td i.fa-road span::before{
    content: 'Hist. Fuel Consumption';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: yellow;
    border-radius: 3px;
    padding: 5px 10px;
}
:host ::ng-deep td i.fa-road span::after{
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid yellow;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);

}

.pdf-icon{
    font-size: 30px;
    color: #9F0001;
}
.exel-icon{
    font-size: 30px;
    color: #217346;
}


:host ::ng-deep .green{
    background:green;
    color:white;
    font-size: 20px;
    border-radius: 5px;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:4px;
    padding-right:4px;
}

:host ::ng-deep .red{
    background:red;
    color:white;
    font-size:20px;
    border-radius:5px;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:4px;
    padding-right:4px;
}

#content{
    color:red;
}

.ttl{
    font-size:16px;
    font-weight:bold;
}
.grn{
    color:green;
}
.rd{
    color:red;
}
.hdStyle{
    font-size:16px;
    font-weight:bold;
    background-color:whitesmoke;
    box-shadow: 0px 2px 15px 6px white;
}
.noRecord{
    color:red;font-size:20px;font-weight:bold;text-align:center;padding:15px;
}

:host ::ng-deep .constraints 
{
    cursor: pointer;
    color: blue;
    background: black;
    color: white!important;
    padding-top: 3px;
    font-size: 13px;
    border-radius:35px;
   }

.submit-btn {
    margin-top: 10px !important;
    float: right;
}

.link{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.multi-action {
    display: inline-block;
    position: absolute;
    right: 80px;
    bottom: 90px;
    // width: 56px;
    // height: 56px;
    // margin: 300px 0 0 -28px;
    // left: 50%;
  }
  
  .action-button {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    outline: 0;
    background: #f44336;
    font-size: 24px;
    color: white;
    z-index: 2;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: all .3s;
  }


