<nb-card style=" margin:0px; padding-top: 0px; border: 0px; height: 100%;">
    <nb-card-body style="padding-bottom: 0px;">
        <div class="container">
            <div class="row">
                <form class="w-100">
                    <div class="row">
                        <div class="col-md-2 pr-0">
                            <auto-suggestion (onSelected)="getvehicleData($event)" (unSelected)="getvehicleData($event)"
                                url="Vehicles/getVehicleListForFoid" display="regno" placeholder="Enter Vehicle Number"
                                style="width:60%;">
                                <!-- (change)="resetData($event)" -->
                            </auto-suggestion>
                        </div>
                        <div class="col-md-2 pr-0">
                            <uj-date-time-picker [isTime]="false" (onChanged)="startTime = $event"
                                [dateTimeValue]="startTime">
                            </uj-date-time-picker>
                        </div>
                        <div class="col-md-2 pr-0">
                            <uj-date-time-picker [isTime]="false" [isStart]="false" (onChanged)="endTime = $event"
                                [isStart]="false" [dateTimeValue]="endTime">
                            </uj-date-time-picker>
                        </div>
                        <div class="col-md-1 offset-md-08">
                            <button type="submit" class="btn btn-primary m-0" (click)="vehicleMaintenanceData()">
                                View
                            </button>
                        </div>

                        <div class="col-md-2 offset-md-08">
                            <button type="submit" class="btn btn-primary m-0" *ngIf="user.permission.add"
                                (click)="addMaintenance()">
                                Add Maintenance
                            </button>
                        </div>
                        <div class="col-md-2 offset-md-08">
                            <!-- <button type="submit" class="btn btn-primary" *ngIf="user.permission.add"
                                (click)="addAdvanceMaintenance()">
                                Advance Maintenance
                            </button> -->

                            <div class="col-12 text-right" *ngIf='data.length>0'>
                                <span class="pdf-icon" title="PDF Export" (click)="printPDF()"
                                    style="cursor: pointer;"><i class="fa fa-file-pdf"></i></span>
                                <span class="exel-icon" title="CSV Export" (click)="printCSV()"
                                    style="cursor: pointer;margin-left: 10px;"><i class="fas fa-file-excel"></i></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <smart-table class="maintenance-details" *ngIf="data && data.length>0" [data]="table.data"
            [settings]="table.settings" id="maintenance"></smart-table>
    </nb-card-body>
</nb-card>