<nb-card>
  <nb-card-header>
    <h5>Fo Fuel Avg Model</h5>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-3">
        <label>Vehicle Model List</label>
      </div>
      <div class="col-3">
        <auto-suggestion (onSelected)="selectVehicle($event)" url="Vehicles/getVehicleListForFoid" display="regno"
          placeholder="Enter Vehicle Number" style="width:60%;"></auto-suggestion>
      </div>

    </div>
    <div class="row">
      <div class="col-3">
        <label>Load Avg</label>
      </div>
      < </div>