<div class="contentsection">
  <div class="row mb-3 mr-0 pt-2">
    <div class="col-4 pl-0">
      <div class="outer" style="min-height: 200px;">
        <h6 style="text-align:center"><b class="charthead">Onward KMPD Graph</b></h6>
        <p style="text-align: right; margin-top: -25px;" class="link"
          (click)="getDetials('Tmgreport/GetTripOnwardKmd',{totalrecord: 3,stepno: -1,groupdays: 7},30,'days')"><i title="More Details"
            class="fa fa-list"></i>
        </p>
        <chart [type]="chart.type" [data]="chart.data"
          style="margin-right:5px;margin-top:-20px;min-height: 250px;max-height: 250px;" [options]="chart.options" (clickElement)="chart2Clicked($event)">
        </chart>
      </div>
    </div>
    <div class="col-4 pl-0">
      <div class="outer" style="min-height: 200px;">
        <h6 style="text-align:center"><b class="charthead">Avg. Loading Time Graph</b></h6>
        <p style="text-align: right; margin-top: -25px;" class="link"
          (click)="getDetials('Tmgreport/GetTripLoadindTime',{totalrecord: 3,stepno: -1,groupdays: 7},30,'days')"><i title="More Details"
            class="fa fa-list"></i>
        </p>
        <chart [type]="chart1.type" [data]="chart1.data"
          style="margin-right:5px;margin-top:-20px;min-height: 250px;max-height: 250px;" [options]="chart1.options"  (clickElement)="chart1Clicked($event)">
        </chart>
      </div>
    </div>
    <div class="col-4 pl-0 pr-0">
      <div class="outer" style="min-height: 200px;">
        <h6 style="text-align:center"><b class="charthead">Avg. Unloading Time Graph</b></h6>
        <p style="text-align: right; margin-top: -25px;" class="link"
          (click)="getDetials('Tmgreport/GetTripUnLoadindTime',{totalrecord: 3,stepno: -1,groupdays: 7},30,'days')"><i title="More Details"
            class="fa fa-list"></i>
        </p>
        <chart [type]="chart2.type" [data]="chart2.data"
          style="margin-right:5px;margin-top:-20px;min-height: 250px;max-height: 250px;" [options]="chart2.options" (clickElement)="chart3Clicked($event)">
        </chart>
      </div>
    </div>
  </div>
  <div class="row mb-3 mr-0">
    <div class="col-4 pl-0">
      <div class="outer" style="min-height: 145px;">
        <h6 style="text-align:center"><b class="charthead">Worst 3 Vehicles in Last Week(Breakdown + Maintenance)</b>
        </h6>
        <p style="text-align: right; margin-top: -25px;" class="link"
          (click)="getDetials('Tmgreport/GetTripLoadindHalt',{totalrecord: 3,stepno: -1},7,'days')"><i title="More Details"
            class="fa fa-list"></i>
        </p>
        <table class="table">
          <thead class="thead">
            <th>Vehicle No.</th>
            <th>BreakDown+Maintenace (Hrs)</th>
          </thead>
          <tbody class="tbody">
            <tr *ngFor="let tlh of tripLongHalt">
              <td (click)="chart4Clicked(tlh)" class="link">{{tlh['Vehicle Name']}}</td>
              <td>{{tlh['Breakdown + Maintenance(in Hrs)']}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-4 pl-0">
      <div class="outer" style="min-height: 145px;">
        <h6 style="text-align:center"><b class="charthead">Longest Loading Sites in Last 7 Days</b></h6>
        <p style="text-align: right; margin-top: -25px;" class="link"
          (click)="getDetials('Tmgreport/GetLongestLoadindSites',{totalrecord: 3,stepno: -1},7,'days')"><i
            title="More Details" class="fa fa-list"></i>
        </p>
        <table class="table">
          <thead class="thead">
            <th>Site Name</th>
            <th>Avg. Loading Time (Hrs)</th>

          </thead>
          <tbody class="tbody">
            <tr *ngFor="let lls of longestLoadindSites">
              <td>{{lls['Site Name']}}</td>
              <td>{{lls['Avg Loading Time(in Hrs)']}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-4 pl-0 pr-0">
      <div class="outer" style="min-height: 145px;">
        <h6 style="text-align:center"><b class="charthead">Longest Unloading Drivers in Last 30 Days
          </b></h6>
        <p style="text-align: right; margin-top: -25px;" class="link"
          (click)="getDetials('Tmgreport/GetLongestUnLoadindDriver',{totalrecord: 3,stepno: -1},30,'days')"><i
            title="More Details" class="fa fa-list"></i>
        </p>
        <table class="table">
          <thead class="thead">
            <th>Driver Name</th>
            <th>Avg. Unloading Time (Hrs) </th>
          </thead>
          <tbody class="tbody">
            <tr *ngFor="let lud of longestUnLoadindDriver">
              <td>{{lud['Driver Name']}}</td>
              <td>{{lud['Avg Unloading Time(in Hr:Mi)']}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row mb-3 mr-0">
    <div class="col-4 pl-0">
      <div class="outer" style="min-height: 145px;">
        <h6 style="text-align:center"><b class="charthead">Slowest 3 Onward Drivers in Last 7 Days</b></h6>
        <p style="text-align: right; margin-top: -25px;" class="link"
          (click)="getDetials('Tmgreport/GetTripSlowestOnward',{totalrecord: 3,stepno: -1},7,'days')"><i title="More Details"
            class="fa fa-list"></i>
        </p>
        <table class="table">
          <thead class="thead">
            <th>Driver Name </th>
            <th>Vehicle No.</th>
            <th>Avg KMPD</th>
          </thead>
          <tbody class="tbody">
            <tr *ngFor="let tso of tripSlowestOnward">
              <td>{{tso['Driver Name']}}</td>
              <td>{{tso['Vehicle Name']}}</td>
              <td>{{tso['Avg Speed KM\/Hrs']}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-4 pl-0">
      <div class="outer" style="min-height: 145px;">
        <h6 style="text-align:center"><b class="charthead">Longest Unloading Sites in Last 7 Days</b></h6>
        <p style="text-align: right; margin-top: -25px;" class="link"
          (click)="getDetials('Tmgreport/GetLongestUnLoadindSites',{totalrecord: 3,stepno: -1},7,'days')"><i
            title="More Details" class="fa fa-list"></i>
        </p>
        <table class="table">
          <thead class="thead">
            <th>Site Name</th>
            <th>Avg. Unloading Time (Hrs)</th>
          </thead>
          <tbody class="tbody">
            <tr *ngFor="let lus of longestUnLoadindSites">
              <td>{{lus['Site Name']}}</td>
              <td>{{lus['Avg Unloading Time(in Hrs)']}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-4 pl-0 pr-0">
      <div class="outer" style="min-height: 145px;">
        <h6 style="text-align:center"><b class="charthead">GPS Performance</b></h6>
        <p style="text-align: right; margin-top: -25px;" class="link"
          (click)="getDetials('Tmgreport/GetTripGpsPerformance',{totalrecord: 3,stepno: -1},30,'days')"><i title="More Details"
            class="fa fa-list"></i>
        </p>
        <table class="table">
          <thead class="thead">
            <th>Vendor Name</th>
            <th>Total GPS</th>
            <th>% Offline GPS</th>
          </thead>
          <tbody class="tbody">
            <tr *ngFor="let tgp of tripGpsPerformance">
              <td>{{tgp['Vendor Name']}}</td>
              <td>{{tgp['Total GPS']}}</td>
              <td>{{tgp['% Offline GPS']}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>