<nb-card style="border:0px;">
    <nb-card-header>
        <div class="row">
            <div class="col-2">
                <h5>Freight Rate Inputs</h5>
            </div>
            <!-- <div class="col-5">
      <button class="btn btn-primary" (click)="openWithoutLocationModal()">ADD without Location
      </button>
      <button class="btn btn-primary" (click)="openWithLocationModal()">ADD with Location
      </button>
    </div> -->
            <div class="col-10">
                <div class="row">
                    <div class="col-sm-2">
                        <uj-date-time-picker (onChanged)="startDate = $event" [dateTimeValue]="startDate"
                            [isTime]="false">
                        </uj-date-time-picker>
                    </div>

                    <div class="col-sm-2">
                        <uj-date-time-picker (onChanged)="endDate = $event" [dateTimeValue]="endDate" [isTime]="false"
                            [isStart]="false">
                        </uj-date-time-picker>

                    </div>
                    <div class="col-sm-2">
                        <button (click)="getFrieghtRate()" class="btn btn-primary">Search</button>
                    </div>

                    <div class="col-sm-2">
                        <button (click)="OpenFoFreight()" *ngIf="user.permission.add"
                            class="btn btn-primary">Add</button>
                    </div>

                    <div class="col-sm-2">
                        <button (click)="freightRateCalculation()" class="btn btn-primary">Freight Rate
                            Calculation</button>
                    </div>
                </div>
            </div>
        </div>




    </nb-card-header>
    <nb-card-body>




        <smart-table *ngIf="data && data.length" [data]="table.data" [settings]="table.settings" id="frieghtRateInput">
        </smart-table>
    </nb-card-body>
</nb-card>
<!-- <router-outlet></router-outlet> -->