<nb-card style="margin: 0px; border:0px; padding-top: 0px;">
  <!-- <nb-card-header>
    <h4>Pending Vehicle Documents</h4>
  </nb-card-header> -->
  <nb-card-body>
    <div class="container">
      <div class="row" style="height: 50px;">
        <div class="col-1 pl-0 pt-2">{{data.length}} Records</div>
        <div class="col-sm-2 list">
          <select name="list" class="form-control" (change)="selectList($event.target.value)">
            <option class="form-control" [value]="0">Pending</option>
            <option class="form-control" [value]="1">Advance Review</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="list_table">
          <table class="table table-bordered table-hover table-scroll" id="tblpending">
            <thead class="thead">

              <tr>
                <th>SrNo</th>
                <th *ngFor="let col of columns" class="text-center">
                  {{formatTitle(col)}}
                </th>
                <th style="width:120px; text-align: center;" class="del">Action</th>
              </tr>
            </thead>

            <tbody>
              <ng-container *ngIf="data.length">
                <tr *ngFor="let row of data; let i = index" class="">

                  <td>{{i + 1}}</td>
                  <td *ngFor="let col of columns">
                    <span style="min-width: 200px;">{{row[col]}}</span>

                  </td>
                  <td class="del">
                    <a href="javascript: void(0);" class="edit" title="Edit Document" (click)="showDetails(row)"><i
                        class="icon ion-md-create"></i></a>&nbsp;
                    <a href="javascript: void(0);" class="delete" title="Delete Document"
                      (click)="deleteDocument(row)"><i class="fa fa-trash"></i></a>
                  </td>

                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>

      </div>

      <div class="row">
        <h6>Work List</h6>

        <div class="work-table">
          <table class="table table-bordered table-hover table-scroll">
            <thead class="thead">
              <tr>
                <th>SrNo</th>
                <th *ngFor="let col of columns2">{{formatTitle(col)}}</th>
              </tr>
            </thead>

            <tbody class="">
              <ng-container *ngIf="userdata.length">
                <tr *ngFor="let row of userdata; let i = index">
                  <td>{{i + 1}}</td>
                  <td *ngFor="let col of columns2">
                    <span class="col-sm-1" style="min-width: 100px;">{{row[col]}}</span>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>


<!-- Modal First-->
<div class="custom-modal-1" *ngIf="modal.first.show" [ngClass]="modal.first.class">
  <div class="custom-modal-body">
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title-first">{{modal.first.data.title}} (First)</h5>
      <button type="button" class="close" aria-label="Close" (click)="closeModal(false, 'first')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body vert-mdl-pdg">
      <form #documentFormFirst="ngForm" id="document-form-first" name="document-form-first">
        <div class="row">
          <div class="col-sm-4">

            <div class="row form-field clear">
              <label for="document_id-first" class="col-sm-4 mgn-vert">Document ID</label>

              <div class="col-sm-8 " *ngIf="!modal.first.data.canUpdate">
                <label style="font-size:16px;">{{modal.first.data.document.id}}</label>

              </div>
              <div class="col-sm-8 " *ngIf="modal.first.data.canUpdate">
                <label style="font-size:16px;">{{modal.first.data.document.id}}</label>
                <label style="font-size:16px; margin-left: 5%; "
                  *ngIf="modal.first.data.document.review >= 0 && modal.first.data.document.review <4; else checkHistory">Review
                  : {{modal.first.data.document.review}}</label>
                <ng-template #checkHistory>
                  <span style="font-size:16px; color: blue; margin-left: 5%;"
                    (click)="History(modal.first.data.document.id)">Review: {{modal.first.data.document.review}}</span>
                </ng-template>

                <span *ngIf="modal.first.data.document.rcImage" class="rc-image">
                  <a target='_blank' href="{{modal.first.data.document.rcImage}}" title="View Document">RC Image</a>
                </span>
              </div>


            </div>
            <div class="row form-field clear">
              <label for="veh_no-first" class="col-sm-4 mgn-vert">Vehicle No.<span class="mandatory">*</span></label>
              <div *ngIf="!modal.first.data.canUpdate" class="col-sm-8">
                <label style="font-size:16px;">{{modal.first.data.document.regno}}</label>
              </div>

              <div *ngIf="modal.first.data.canUpdate" class="col-sm-8 frm-fld mgn-vert sug-fld">
                <input *ngIf="modal.first.data.canUpdate" id="document_id-first" (focusout)="openNextModal('second')"
                  name="document_id-first" [value]="modal.first.data.document.newRegno | uppercase" type="text"
                  class="form-control " [(ngModel)]="modal.first.data.document.newRegno" />

              </div>
            </div>
            <div class="row form-field clear">
              <label for="doc_type-first" class="col-sm-4 mgn-vert">Document Type<span
                  class="mandatory">*</span></label>
              <div *ngIf="!modal.first.data.canUpdate" class="col-sm-8 ">
                <label style="font-size:16px;">{{modal.first.data.document.document_type}}</label>
              </div>
              <div *ngIf="modal.first.data.canUpdate" class="col-sm-8 frm-fld mgn-vert sug-fld">
                <auto-suggestion *ngIf="modal.first.data.docTypes.length" (onSelected)="selectDocType($event, 'first')"
                  url="" display="document_type" [data]="modal.first.data.docTypes" placeholder="Enter Document Type"
                  [preSelected]="null" class="documentType " style='width: 60% !important;'
                  (keyup)="isValidDocument($event, 'first')">
                </auto-suggestion>
              </div>
            </div>
            <!-- <div class="form-field clear">
              <label for="issue_date-first" class="col-sm-4 mgn-vert">Issue Date:</label>
              <div *ngIf="!modal.first.data.canUpdate" class="col-sm-8 ">
                <label style="font-size:16px;">
                  {{getDateInDisplayFormat(modal.first.data.document.issue_date)| date:'dd-MM-yyyy'}}</label>
              </div>
              <input #issue_date_first *ngIf="modal.first.data.canUpdate" id="issue_date-first" name="issue_date-first"
                type="text" class="col-sm-6 form-control frm-fld mgn-vert"
                [(ngModel)]="modal.first.data.document.issue_date" [value]="modal.first.data.document.issue_date"
                (focusout)="checkDateFormat('first', 'issue_date')" placeholder="DD/MM/YYYY" />
              <span *ngIf="modal.first.data.canUpdate" class="col-sm-1" style='cursor:pointer; font-size: 28px;'
                (click)="getDate('issue_date', 'first')"><i class="icon fa fa-calendar"></i></span>
            </div> -->
            <div class="row form-field clear">
              <label for="wef_date-first" class="col-sm-4 mgn-vert">W.e.f Date</label>
              <div *ngIf="!modal.first.data.canUpdate" class="col-sm-8">
                <label style="font-size:16px;">
                  {{getDateInDisplayFormat(modal.first.data.document.wef_date)| date:'dd-MM-yyyy'}}</label>

              </div>
              <div class="col-8" style="padding-left:7px;">
                <input #wefdate_first *ngIf="modal.first.data.canUpdate" id="wef_date-first" name="wef_date-first"
                  type="text" class="col-sm-9 form-control frm-fld mgn-vert"
                  [(ngModel)]="modal.first.data.document.wef_date" [value]="modal.first.data.document.wef_date "
                  (focusout)="checkDateFormat('first', 'wef_date')" placeholder="DD/MM/YYYY" />
                <span *ngIf="modal.first.data.canUpdate" class="col-sm-3"
                  style='cursor:pointer; font-size: 18px; padding: 5px 10px; color: #263238;'
                  (click)="getDate('wef_date', 'first')"><i class="icon fa fa-calendar"></i></span>
              </div>
            </div>
            <div class="row form-field clear">
              <label for="expiry_date-first" class="col-sm-4 mgn-vert">Expiry Date</label>
              <div *ngIf="!modal.first.data.canUpdate" class="col-sm-8">
                <label style="font-size:16px;">
                  {{getDateInDisplayFormat(modal.first.data.document.expiry_date)| date:'dd-MM-yyyy'}}</label>
              </div>
              <div class="col-8" style="padding-left:7px;">
                <input #expiry_date_first *ngIf="modal.first.data.canUpdate" id="expiry_date-first"
                  name="expiry_date-first" type="text" class="col-sm-9 form-control frm-fld mgn-vert"
                  [(ngModel)]="modal.first.data.document.expiry_date" [value]="modal.first.data.document.expiry_date"
                  (focusout)="checkDateFormat('first', 'expiry_date')" placeholder="DD/MM/YYYY" />
                <!--<input #expiry_date *ngIf="canUpdate" id="expiry_date" name="expiry_date" type="text" class="col-sm-8 form-control frm-fld mgn-vert" [value]="document.expiry_date| date: 'yyyy-MM-dd'" placeholder="DD-MMM-YYYY"  (blur)="checkExpDateValidity(issue_date, wefdate, expiry_date)" /> -->
                <!-- <span *ngIf="spnexpdt" style="color: red; margin-left: 10px;">Expiry Date cannot be less than Issue Date/Wef Date</span> -->
                <span *ngIf="modal.first.data.canUpdate" class="col-sm-3"
                  style='cursor:pointer; font-size: 18px; padding: 5px 10px; color: #263238;'
                  (click)="getDate('expiry_date', 'first')"><i class="icon fa fa-calendar"></i></span>
              </div>
            </div>

            <div class="row form-field clear" *ngIf="modal.first.data.canUpdate == 0">
              <label for="agent-first" class="col-sm-4 mgn">Agent</label>
              <div class="col-sm-8 ">
                <select id="doc_agent-first" [(ngModel)]="modal.first.data.document.agent_id" name="doc_agent-first"
                  class="form-control frm-fld mdl-sel-agt">
                  <option value="">--</option>
                  <option *ngFor="let agent of modal.first.data.agents" [value]="agent.id">
                    {{agent.name}}
                  </option>
                </select>
                <a href="javascript: void(0);" (click)="addAgent('first')">Add Agent</a>
              </div>
            </div>

            <div class="row form-field clear" *ngIf="modal.first.data.canUpdate == 0">
              <label for="doc_no" class="col-sm-4 mgn">Document No.</label>
              <div class="col-sm-8">
                <input id="doc_no-first" name="doc_no-first" type="text" class=" form-control " maxlength="25"
                  [(ngModel)]="modal.first.data.document.doc_no" />
              </div>
            </div>

            <div class="row form-field clear" *ngIf="modal.first.data.canUpdate == 0">
              <label for="amount-first" class="col-sm-4 mgn">Amount</label>
              <div class="col-sm-8 ">
                <input id="amount-first" name="amount-first" type="text" class="form-control frm-fld mgn-vert"
                  [(ngModel)]="modal.first.data.document.amount" maxlength="10" maxlength="10"
                  placeholder="Enter Amount" />
              </div>
            </div>

            <div class="row form-field clear" *ngIf="modal.first.data.canUpdate == 0">
              <label for="rto" class="col-sm-4 mgn">RTO</label>
              <div class="col-sm-8 ">
                <input type="text" id="rto-first" name="rto-first" type="text" class="form-control"
                  [(ngModel)]="modal.first.data.document.rto" maxlength="20" placeholder="Enter Rto">
              </div>
            </div>

            <div class="row form-field clear">
              <label for="remarks-first" class="col-sm-4">Remarks</label>
              <div class="col-sm-8" style="margin-left:-2%; margin-top: 1%">
                <textarea id="remarks-first" name="remarks-first" rows="3" class="form-control "
                  [(ngModel)]="modal.first.data.document.remarks"
                  [value]="modal.first.data.document.remarks"></textarea>
              </div>
            </div>

            <div class="row">
              <div class="col-6" *ngIf="modal.first.data.canUpdate === 1 && this.user._loggedInBy == 'admin'">
                <button class="btn btn-primary" form="document-form" type="button" outline
                  (click)="updateDocument('first')" id="submit-first"
                  style="cursor: pointer;">{{modal.first.data.btn1}}</button>
              </div>
              <div class="col-6" *ngIf="modal.first.data.canUpdate === 0 ">
                <button class="btn btn-primary" type="submit" (click)="customerByUpdate('first')" id="submit-first"
                  style="cursor: pointer;">{{modal.first.data.btn1}}</button>
              </div>

              <div class="col-6">
                <button class="btn btn-primary" type="button" (click)="updateDocument('first', 1)" id="advance"
                  style="cursor: pointer;">Advance Review</button>
              </div>

              <div class="col-12 text-center" *ngIf="this.user._loggedInBy == 'admin'" style="margin-top: 30px;">
                <button class="btn btn-danger" type="button" outline
                  (click)="deleteImage(modal.first.data.document.id, 'first')" id="cancel-first"
                  style="cursor: pointer;">{{modal.first.data.btn2}}</button>
              </div>
            </div>

          </div>


          <div class="col-sm-8">


            <!-- <app-image-viewer *ngIf="modal.first.data.document.img_url && !modal.first.data.doc_not_img"
              [images]="modal.first.data.images" [idContainer]="'first-' + modal.first.data.imageViewerId"
              [loadOnInit]="true">
            </app-image-viewer> -->
            <div *ngIf="!modal.first.data.document.img_url">No Image Exists</div>
            <div id="imgzoom-first"></div>
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">
    </div>
  </div>
</div>
<!-- Modal End -->


<!-- Modal 2 -->
<div class="custom-modal-2" *ngIf="modal.second.show" [ngClass]="modal.second.class">
  <div class="custom-modal-body">
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title-second">{{modal.second.data.title}} (Second)</h5>
      <button type="button" class="close" aria-label="Close" (click)="closeModal(false, 'second')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body vert-mdl-pdg">
      <form #documentFormSecond="ngForm" id="document-form-second" name="document-form-second">
        <div class="row">
          <div class="col-sm-4">

            <div class="row form-field clear">
              <label for="document_id-second" class="col-sm-4 mgn-vert">Document ID</label>

              <div class="col-sm-8 " *ngIf="!modal.second.data.canUpdate">
                <label style="font-size:16px;">{{modal.second.data.document.id}}</label>
              </div>

              <div class="col-sm-8 " *ngIf="modal.second.data.canUpdate">
                <label style="font-size:16px;">{{modal.second.data.document.id}}</label>
                <label style="font-size:16px;  margin-left: 5%;"
                  *ngIf="modal.second.data.document.review >= 0 && modal.second.data.document.review <4 ; else checkHistory">Review
                  : {{modal.second.data.document.review}}</label>

                <ng-template #checkHistory>
                  <span style="font-size:16px; color: blue;  margin-left: 5%;"
                    (click)="History(modal.second.data.document.id)">Review
                    : {{modal.second.data.document.review}}</span>
                </ng-template>


                <span *ngIf="modal.second.data.document.rcImage" class="rc-image">
                  <a target='_blank' href="{{modal.second.data.document.rcImage}}" title="View Document">RC Image</a>
                </span>
              </div>
              <!-- <input *ngIf="canUpdate" id="document_id" name="document_id" type="text"
                        class="col-sm-8 form-control frm-fld mgn-vert" style="width:60%; margin-left:2%;" [value]="document.id" readonly />-->
            </div>
            <div class="row form-field clear">
              <label for="veh_no-second" class="col-sm-4 mgn-vert">Vehicle No.<span class="mandatory">*</span></label>
              <div *ngIf="!modal.second.data.canUpdate" class="col-sm-8">
                <label style="font-size:16px;">{{modal.second.data.document.regno}}</label>
              </div>

              <div *ngIf="modal.second.data.canUpdate" class="col-sm-8 frm-fld mgn-vert sug-fld">
                <input *ngIf="modal.second.data.canUpdate" id="document_id-second" (focusout)="openNextModal('first')"
                  name="document_id-second" type="text" [value]="modal.second.data.document.newRegno | uppercase"
                  class="form-control " [(ngModel)]="modal.second.data.document.newRegno" />

                <!-- <auto-suggestion (onSelected)="getvehicleData($event)" url="Suggestion/getVehicleList" display="regno"
                          placeholder="Enter Vehicle Number" [preSelected]="null" style="width:60%;"
                          (keyup)="isValidVehicle($event)"></auto-suggestion> -->
              </div>
            </div>
            <div class="row form-field clear">
              <label for="doc_type-second" class="col-sm-4 mgn-vert">Document Type<span
                  class="mandatory">*</span></label>
              <div *ngIf="!modal.second.data.canUpdate" class="col-sm-8 ">
                <label style="font-size:16px;">{{modal.second.data.document.document_type}}</label>
              </div>
              <div *ngIf="modal.second.data.canUpdate" class="col-sm-8 frm-fld mgn-vert sug-fld">
                <auto-suggestion *ngIf="modal.second.data.docTypes.length"
                  (onSelected)="selectDocType($event, 'second')" url="" display="document_type"
                  [data]="modal.second.data.docTypes" placeholder="Enter Document Type" [preSelected]="null"
                  class="documentType " style='width: 60% !important;' (keyup)="isValidDocument($event, 'second')">
                </auto-suggestion>
              </div>
            </div>

            <!-- <div class="form-field clear">
              <label for="issue_date-second" class="col-sm-4 mgn-vert">Issue Date:</label>
              <div *ngIf="!modal.second.data.canUpdate" class="col-sm-8 ">
                <label style="font-size:16px;">
                  {{getDateInDisplayFormat(modal.second.data.document.issue_date)| date:'dd-MM-yyyy'}}</label>
              </div>
              <input #issue_date_second *ngIf="modal.second.data.canUpdate" id="issue_date-second"
                name="issue_date-second" type="text" class="col-sm-6 form-control frm-fld mgn-vert"
                [(ngModel)]="modal.second.data.document.issue_date" [value]="modal.second.data.document.issue_date"
                (focusout)="checkDateFormat('second', 'issue_date')" placeholder="DD/MM/YYYY" />
              <span *ngIf="modal.second.data.canUpdate" class="col-sm-1" style='cursor:pointer; font-size: 28px;'
                (click)="getDate('issue_date', 'second')"><i class="icon fa fa-calendar"></i></span>
            </div> -->
            <div class="row form-field clear">
              <label for="wef_date-second" class="col-sm-4 mgn-vert">W.e.f Date</label>
              <div *ngIf="!modal.second.data.canUpdate" class="col-sm-8" style="padding-left:7px;">
                <label style="font-size:16px;">
                  {{getDateInDisplayFormat(modal.second.data.document.wef_date)| date:'dd-MM-yyyy'}}</label>

              </div>
              <div class="col-8" style="padding-left:7px;">
                <input #wefdate_second *ngIf="modal.second.data.canUpdate" id="wef_date-second" name="wef_date-second"
                  type="text" class="col-sm-9 form-control frm-fld mgn-vert"
                  [(ngModel)]="modal.second.data.document.wef_date" [value]="modal.second.data.document.wef_date "
                  (focusout)="checkDateFormat('second', 'wef_date')" placeholder="DD/MM/YYYY" />
                <span *ngIf="modal.second.data.canUpdate" class="col-sm-3"
                  style='cursor:pointer; font-size: 18px; padding: 5px 10px; color: #263238;'
                  (click)="getDate('wef_date', 'second')"><i class="icon fa fa-calendar"></i></span>
              </div>
            </div>
            <div class="row form-field clear">
              <label for="expiry_date-second" class="col-sm-4 mgn-vert">Expiry Date</label>
              <div *ngIf="!modal.second.data.canUpdate" class="col-sm-8">
                <label style="font-size:16px;">
                  {{getDateInDisplayFormat(modal.second.data.document.expiry_date)| date:'dd-MM-yyyy'}}</label>
              </div>
              <div class="col-8" style="padding-left:7px;">
                <input #expiry_date_second *ngIf="modal.second.data.canUpdate" id="expiry_date-second"
                  name="expiry_date-second" type="text" class="col-sm-9 form-control frm-fld mgn-vert"
                  [(ngModel)]="modal.second.data.document.expiry_date" [value]="modal.second.data.document.expiry_date"
                  (focusout)="checkDateFormat('second', 'expiry_date')" placeholder="DD/MM/YYYY" />
                <!--<input #expiry_date *ngIf="canUpdate" id="expiry_date" name="expiry_date" type="text" class="col-sm-8 form-control frm-fld mgn-vert" [value]="document.expiry_date| date: 'yyyy-MM-dd'" placeholder="DD-MMM-YYYY"  (blur)="checkExpDateValidity(issue_date, wefdate, expiry_date)" /> -->
                <!-- <span *ngIf="spnexpdt" style="color: red; margin-left: 10px;">Expiry Date cannot be less than Issue Date/Wef Date</span> -->
                <span *ngIf="modal.second.data.canUpdate" class="col-sm-3"
                  style='cursor:pointer; font-size: 18px; padding: 5px 10px; color: #263238;'
                  (click)="getDate('expiry_date', 'second')"><i class="icon fa fa-calendar"></i></span>
              </div>
            </div>

            <div class="row form-field clear" *ngIf="modal.second.data.canUpdate == 0">
              <label for="agent-second" class="col-sm-4 mgn">Agent</label>
              <div class="col-sm-8 ">
                <select id="doc_agent-second" [(ngModel)]="modal.second.data.document.agent_id" name="doc_agent-second"
                  class="form-control frm-fld mdl-sel-agt">
                  <option value="">--</option>
                  <option *ngFor="let agent of modal.second.data.agents" [value]="agent.id">
                    {{agent.name}}
                  </option>
                </select>
                <a href="javascript: void(0);" (click)="addAgent('second')">Add Agent</a>
              </div>
            </div>

            <div class="row form-field clear" *ngIf="modal.second.data.canUpdate == 0">
              <label for="doc_no" class="col-sm-4 mgn">Document No.</label>
              <div class="col-sm-8">
                <input id="doc_no-second" name="doc_no-second" type="text" class=" form-control " maxlength="25"
                  [(ngModel)]="modal.second.data.document.doc_no" />
              </div>
            </div>

            <div class="row form-field clear" *ngIf="modal.second.data.canUpdate == 0">
              <label for="amount-second" class="col-sm-4 mgn">Amount</label>
              <div class="col-sm-8 ">
                <input id="amount-second" name="amount-second" type="text" class="form-control frm-fld mgn-vert"
                  [(ngModel)]="modal.second.data.document.amount" maxlength="10" maxlength="10"
                  placeholder="Enter Amount" />
              </div>
            </div>

            <div class="row form-field clear" *ngIf="modal.second.data.canUpdate == 0">
              <label for="rto" class="col-sm-4 mgn">RTO</label>
              <div class="col-sm-8 ">
                <input type="text" id="rto-second" name="rto-second" type="text" class="form-control"
                  [(ngModel)]="modal.second.data.document.rto" maxlength="20" placeholder="Enter Rto">
              </div>
            </div>

            <div class="row form-field clear">
              <label for="remarks-second" class="col-sm-4">Remarks</label>
              <div class="col-sm-8" style="margin-left:-2%; margin-top: 1%">
                <textarea id="remarks-second" name="remarks-second" rows="3" class="form-control "
                  [(ngModel)]="modal.second.data.document.remarks"
                  [value]="modal.second.data.document.remarks"></textarea>
              </div>
            </div>

            <div class="row">
              <div class="col-6 text-center"
                *ngIf="modal.second.data.canUpdate === 1 && this.user._loggedInBy == 'admin'">
                <button class="btn btn-primary" form="document-form" type="submit" outline
                  (click)="updateDocument('second')" id="submit-second"
                  style="cursor: pointer;">{{modal.second.data.btn1}}</button>
              </div>

              <div class="col-6 text-center" *ngIf="modal.second.data.canUpdate === 0 ">
                <button class="btn btn-primary" type="submit" (click)="customerByUpdate('second')" id="submit-second"
                  style="cursor: pointer;">{{modal.second.data.btn1}}</button>
              </div>

              <div class="col-6 text-center">
                <button class="btn btn-primary" type="button" (click)="updateDocument('second', 1)" id="advance"
                  style="cursor: pointer;">Advance Review</button>
              </div>

              <div class="col-12 text-center" *ngIf="this.user._loggedInBy == 'admin'" style="margin-top: 30px;">
                <button class="btn btn-danger" type="button" outline
                  (click)="deleteImage(modal.first.data.document.id, 'second')" id="cancel-second"
                  style="cursor: pointer;">{{modal.second.data.btn2}}</button>
              </div>

            </div>

          </div>


          <div class="col-sm-8">

            <!-- <app-image-viewer *ngIf="modal.second.data.document.img_url && !modal.second.data.doc_not_img"
              [images]="modal.second.data.images" [idContainer]="'second-' + modal.second.imageViewerId"
              [loadOnInit]="true">
            </app-image-viewer> -->
            <div *ngIf="!modal.second.data.document.img_url">No Image Exists</div>
            <div id="imgzoom-second"></div>
          </div>
        </div>
      </form>
    </div>



    <div class="modal-footer">
    </div>
  </div>
</div>
<!-- Modal 2 End -->