// nb-card{
//     padding-left: 4% !important;
// }
a {
    font-size: 20px;
    padding: 12%;
}

.row {
    margin-top: 4px;
}

label {
    font-size: 14px;
    padding-top: 10px;
    font-weight: 600;
}

.dropdown {
    position: relative;
}

select {
    padding-top: 1%;
}

.agent {
    width: 90%;
}

.suggestions ng-star-inserted {
    overflow: auto !important;
    max-height: 150px !important;
}

auto-suggestion {
    overflow: auto !important;
    max-height: 150px !important;
}

.documentType {
    overflow: auto !important;
    max-height: 150px !important;
}

//.form-control.frm-fld { width: 60%; display: block; margin-left: 6px; }
//.form-control { width: 60%;}
.suggestion-container .form-control {
    width: 60% !important;
}

.custom-input-1 {
    width: 60% !important;
}

.mgn-vert {
    margin-top: 3px;
    margin-bottom: 3px;
}

.doc-img {
    max-width: 760px;
    max-height: 800px;
}

.clear {
    clear: both;
}

.sug-fld {
    padding-left: 6px;
    padding-right: 19px;
}

.vert-mdl-pdg {
    padding-top: 3px;
    padding-bottom: 3px;
}

.mdl-sel-agt {
    width: 100% !important;
    margin: 0px !important;
    height: auto !important;
}

.mgn {
    padding-left: 8%;
}

// Modal
.custom-modal-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: transparent;
    overflow: auto;
    height: 100%;
}

.custom-modal-body {
    background: #fff;
}

.custom-active-modal {
    z-index: 1050;
    background: rgba(0, 0, 0, 0.5);

}

.custom-passive-modal {
    z-index: 1049;
}

// Modal END