<nb-card style="margin-left: 30px;">
  <nb-card-header>
    Pending Vehicle Documents

  </nb-card-header>
  <nb-card-body style="min-height: 360px;">
    <div class="container">
      <div class="row">
        <div>{{data.length}} Records</div>
        <div class="col-sm-3 list" >

          <select name="list" class="form-control " (change)="getPendingDetailsDocuments($event.target.value)">
            <option class="form-control" [value]="0">Pending</option>
            <option class="form-control" [value]="1">Advance Review</option>
          </select>

        </div>

        <table class="table table-bordered table-hover table-scroll">
          <thead class="thead">
            <tr class="">
              <th class="col-sm-2" style="width:5%;">Sr No</th>
              <th style="width:5%;">Document ID</th>
              <th class="col-sm-2" style="width: 15%;">Vehicle ID</th>
              <th class="col-sm-2" style="width: 15%;">Fo name</th>
              <th class="col-sm-2" style="width: 15%;">Created On</th>
              <th class="col-sm-2" style="width: 15%;">Last UpdateUser</th>
              <th class="col-sm-4" style="width: 17%; padding-left: 4%">Action</th>
            </tr>
          </thead>
          <tbody class="">
            <ng-container *ngIf="data != 'undefined'">
              <tr *ngFor="let row of data; let i = index" class="">
                <td style="width:5%;">{{i + 1}}</td>
                <td class="col-sm-2" style="width: 15%;">{{row.document_id}}</td>
                <td class="col-sm-2" style="width: 15%;">{{row.vehicle_id}}</td>
                <td class="col-sm-2" style="width: 15%;">{{row.foname}}</td>
                <td class="col-sm-2" style="width: 15%;">{{row.lastupdatetime | date: 'dd-MMM-yyyy hh:mm:ss a'}}</td>
                <td class="col-sm-2" style="width: 15%;">{{row.lastupdateuser}}</td>
                <td class="col-sm-4" style="width: 17%;">
                  <a href="javascript: void(0);" title="Edit Document" (click)="showDetails(row, i)"><i
                      class="icon ion-md-create"></i></a>&nbsp;
                  <a href="javascript: void(0);" title="Delete Document" (click)="deleteDocument(row)"><i
                      class="fa fa-trash"></i></a>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </nb-card-body>
</nb-card>