<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">{{title}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row" style="margin-bottom:10px">
    <div class="form-group" class="col-sm-3">
      <uj-date-time-picker (onChanged)="startDate=$event" [dateTimeValue]="startDate" [isTime]="false">
      </uj-date-time-picker>
      
    </div>
    <div class="form-group" class="col-sm-3">
      <uj-date-time-picker (onChanged)="endDate=$event" [dateTimeValue]="endDate"[isStart]="false" [isTime]="false">
      </uj-date-time-picker>
         </div>
    <div class="form-group" class="col-sm-3">
      <select [(ngModel)]="analyticsType" class="form-control">
        <option value="Employee Wise">Employee Wise</option>
        <option value="Halt Wise">Halt Wise</option>
        <option value="Date Wise">Date Wise</option>
        <option value="Shift Wise">Shift Wise</option>
        <option value="Fo Wise">FO Wise</option>
        <option value="Fo Wise L/UL">FO Wise L/UL</option>
        <option value="User FO Wise">User FO Wise</option>
        <option value="VSC Working Hours">VSC Working Hours</option>
        <option value="Site And Poly Count">Site And Poly Count</option>
        <option value="Captha Report">Captha Report</option>
      </select>
    </div>
    <div class="col-sm-3">
      <button (click)="getDetails()" class="btn btn-primary">Get Details</button>
    </div>
  </div>
  <smart-table id="emp_dashboard" *ngIf="headings.length" [data]="table.data" [settings]="table.settings"></smart-table>
  <br>
</div>