<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
      <div class="row" style="margin-bottom:5px">
        <div class="form-group" class="col-sm-3">
          <input type="text" style="cursor: pointer;" class="form-control" autocomplete="off" (click)="getDate('stdate')"
            placeholder="Select Date" [value]="startDay | date: 'dd MMM yyyy'" name="stdate" readonly>    
        </div>
        <div class="form-group" class="col-sm-3">
            <input type="text" style="cursor: pointer;" class="form-control" autocomplete="off" (click)="getDate('curdate')"
              placeholder="Select Date" [value]="currentDay | date: 'dd MMM yyyy'" name="curdate" readonly>      
          </div>
      
        <div class="col-sm-3">
          <button (click)="getDetails()" class="btn btn-primary">Get Details</button>
        </div>
      </div>
    <smart-table id="emp_dashboard" *ngIf="headings.length" [data]="table.data" [settings]="table.settings"></smart-table>
    <br>
  </div>