<nb-card style="margin: 0px; border:0px;">
  <!-- <nb-card-header>
    <h4>Account</h4>
  </nb-card-header> -->
  <nb-card-body>
      <div class="modal-header" *ngIf="pageName">
          <h5>Account Group</h5>
            <button type="button" class="close" aria- label="Close" (click)="modelCondition()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    <button class="btn mb-4 add-button" (click)="openAccountModal()"><i class="fa fa-plus"></i></button>
    <div class="main">
      <table class="table table-bordered">
        <thead style="background-color: #263238; color: #fff; white-space: nowrap;">
          <tr>
            <th>#</th>
            <th>Parent Name</th>
            <th>Name</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Account of Accounts; let i = index;" (click)="selectedRow = i"
            (dblclick)="openAccountModal(Account)" (enter)="openAccountModal(Account)"
            [ngClass]="{'highlight' : selectedRow == i}">
            <td>{{i + 1}}</td>
            <td>{{ Account.parent_name}}</td>
            <td>{{Account.name}}</td>
            <td>{{Account.entry_dt | date : 'dd-MMM-yy'}}</td>
            <td class="del">
              <a href="javascript: void(0);" class="delete" title="Delete " (click)="delete(Account.id)"><i
                  class="fa fa-trash"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="modal-footer" *ngIf="pageName">
        <div class="row">
            <div class="col">
                <button class="btn btn-danger" type="button" outline (click)="modelCondition()" id="cancel"
                  style="cursor: pointer;">Cancel</button>
              </div>
            </div>
          </div>
  </nb-card-body>
</nb-card>