td {
    background-color:  #ffffff;
}
table tr td button{
    padding: 0px;
    width: 40px;
    height: 35px;
    line-height: 35px;
    margin: 0px;
}
nb-card-header{
    padding: 15px 20px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}
.tabset{
    padding: 0px !important;
    margin-bottom: 20px!important;
}
.alert-danger{
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 12px !important;
    font-size: 18px !important;
}