button { 
    background-color: #73a1ff;
    border-radius: 5px !important;
    text-transform: capitalize !important;
    padding: 10px !important;
}

nb-card-header{
    padding: 15px 20px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}
table{
    thead{
        color: #fff;
    }
    tbody{
        background-color: #eeeeee;
    }
    .heading_second{
            background-color:#d7d7d7;
            color: #447586;
            font-weight: bold;
        }
}


.tjr-label {
    background: #263238;
    color: #fff;
    padding: 3px 8px;
    margin: 0;
    border-radius: 3px 3px 0px 0px;
    font-size: 10px;
}

.tjr-input {
    border: 1px solid #263238;
    border-radius: 0px 2px 2px 2px;
    padding: 3px 5px;
    height: auto;
    font-size: 12px;
}

.tjr-input:focus {
    border: 1px solid #263238;
}

.tjr-button {
    cursor: pointer;
    margin-top: 18px;
    background: #263238 !important;
    height: auto;
    border-radius: 3px !important;
    padding: 3px 8px !important;
}

:host ::ng-deep.TJR-auto-suggestion-container {
    border: 1px solid #263238 !important;
    border-radius: 3px !important;
    height: 105px !important;
    overflow: hidden !important;
    max-height: 105px !important;
}

:host ::ng-deep.active-suggestion {
    background: #263238 !important;
    color: #fff !important;
}