button { 
    background-color: #73a1ff;
    border-radius: 5px !important;
    text-transform: capitalize !important;
    padding: 10px !important;
}

nb-card-header{
    padding: 15px 20px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}
.auto-sugg{
    max-height: 128px;
    min-height: 128px;
}
table{
    thead{
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    tr{
        th{
            padding: 5px 10px;
            font-weight: normal;
            width: 15%;
        }
        th:first-child{
            width: 5%;
             min-width: 51px;
        }
        th:last-child{
            width: auto;
        }
        td{
            padding: 5px 10px !important;
            font-size: 12px;
            width: 15%;
            button{
                padding: 0 !important;
                font-size: 11px;
                border-radius: 0px !important;
                margin: 0px;
                background-color: transparent;
                color: #263238;
                outline: none;
                box-shadow: none;
            }
        }
    }
    tbody{
        overflow-y: auto;
        display: block;
        width: 100%;
        table-layout: fixed;
        overflow: auto;
        max-height: calc(100vh - 312px);
        tr{
            display: table;
            table-layout: fixed;
            width: 100%;
            td:first-child{
                width: 5%;
                min-width: 51px;
            }
            td:last-child{
                width: auto;
            }
        }
        tr:nth-child(odd){
            background-color: #fff;
        }
        tr:nth-child(even){
            background-color: #e4e4e4;
        }
    }
}


// .tjr-label {
//     background: #263238;
//     color: #fff;
//     padding: 3px 8px;
//     margin: 0;
//     border-radius: 3px 3px 0px 0px;
//     font-size: 10px;
// }

// .tjr-input {
//     border: 1px solid #263238;
//     border-radius: 0px 2px 2px 2px;
//     padding: 3px 5px;
//     height: auto;
//     font-size: 12px;
// }

// .tjr-input:focus {
//     border: 1px solid #263238;
// }

.tjr-button {
    cursor: pointer;
    margin-top: 18px;
    background: #263238 !important;
    height: auto;
    border-radius: 3px !important;
    padding: 3px 8px !important;
}

// :host ::ng-deep.TJR-auto-suggestion-container {
//     border: 1px solid #263238 !important;
//     border-radius: 3px !important;
//     height: 105px !important;
//     overflow: hidden !important;
//     max-height: 105px !important;
// }
.selected {
    background-color: #576c77
}
table tr.highlight {
    background-color: #FFEE75 !important;
    color: #000 !important;
    cursor: pointer;
   
}
i{
    font-size: 30px;
    align-content: center;
}


.date-modal{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999999;
    top: 0;
    left: 0;
}
.date-modal-body{
    background: #fff;
    width: 152px;
    margin: 15% auto auto auto;
}
.pdf-icon{
   // font-size: 30px;
    color: #9F0001;
}
.exel-icon{
   // font-size: 30px;
    color: #217346;
}
.highlightcolor{
    background-color: gray;
}