<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-6">
        <h5>Trip Issues</h5>
      </div>
      <div class="col-6" style="text-align: right;">
        <span>Autoplay
          <button class="btn btn-primary" [ngClass]="{active: autoPlay == 'forward'}" (click)="autoPlay='forward'" style="margin-left: 15px;">Forward</button>
          <button class="btn btn-primary" [ngClass]="{active: autoPlay == 'backward'}" (click)="autoPlay='backward'" style="margin-left: 15px;">Backward</button>
        </span>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body style="padding:10px 15px;">

    <smart-table *ngIf="VehicleStatusAlerts && VehicleStatusAlerts.length" id="VehicleStatusAlerts" [data]="table.data"
      [settings]="table.settings" [returnFilteredData]="true" (filtered)="jrxFiltered($event)">
    </smart-table>
    <div class="no-data" *ngIf="!VehicleStatusAlerts.length">
      No Data available !
    </div>
    <div style="margin-top:10px">
      <b>Number Of Alerts : {{ VehicleStatusAlerts.length }}</b>
    </div>
  </nb-card-body>
</nb-card>