<div class="">
    <div class="outer liveload-4" style="min-height: 200px;">
      <h6 style="text-align:center"><b class="charthead">Longest Onward Halt</b></h6>
      <p style="text-align: right; margin-top: -25px;" class="link"
      (click)="getDetials('Tmgreport/GetConsignmentLongestOnwardHalt',{totalrecord: 3,stepno: -1},15,'days')"><i title="More Details" class="fa fa-list"></i>
    </p>
      <table class="table table-bordered">
        <thead class="thead">
          <th>Vehicle No.</th>
          <th>Transporter</th>
          <th>Location</th>
          <th>Hours</th>
        </thead>
        <tbody class="tbody">
          <tr *ngFor="let cloh of consignmentLongestOnwardHalt">
            <td class="link" (click)="getDetials('Tmgreport/GetConsignmentLongestOnwardHalt',{totalrecord: 3,stepno: 1,vid: cloh['_vid'] },15,'days')">{{cloh['Vehicle Name']}}</td>
            <td>{{cloh['Transporter']}}</td>
            <td>{{cloh['Location']}}</td>
            <td>{{cloh['Duration (HH:MM)']}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>