
<div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Toll Payment Management</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="min-height:320px;">
    <div class="row">
          <div class="col-2">
              <label>Vehicle</label>
              <auto-suggestion (onSelected)="searchVehicle($event)" url="suggestion/getFoVehicleList" display="regno"
                placeholder="Search Vehicle" [preSelected]="null">
              </auto-suggestion>
          </div>
          <div class="col-3">
            <label>Vehicle Class</label>
            <select [(ngModel)]='vClass'>
              <option *ngFor="let vc of vehicleClass" [value]='vc.id'>{{vc.description}}</option>
            </select>
        </div>
          <div class="col-2">
              <label>Start Date</label>
              <uj-date-time-picker (onChanged)="startDate = $event" [dateTimeValue]="startDate" [isTime]="false">
              </uj-date-time-picker>
          </div>

          <div class="col-2">
              <label>End Date</label>
              <uj-date-time-picker (onChanged)="endDate = $event" [dateTimeValue]="endDate" [isTime]="false" [isStart]="false">
              </uj-date-time-picker>
          </div>

          <div class="col-2 mt-4">
            <button (click)="tollPayManagement()" class="btn btn-primary form-control" style="margin:0px;border:0px;">Submit</button>
          </div>

          
      </div>
      <div class="row mt-5">
        <div class="col-4">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Arrival Time</th>
                <th>Toll Name</th>
                <th>Tariff</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of tpManagement_tolls; let i = index;">
                <td>{{i+1}}</td>
                <td [ngStyle]="{'color':data.arrivalTimeColor}">{{common.changeDateformat2(data.arrivalTime)}}</td>
                <td>{{data.name}}</td>
                <!-- <td *ngIf="data.tariff!=null"></td>
                *ngIf="data.tariff==null" -->
                <td  (click)="updateTeriff(data)">{{data.tariff}}<i class="fas fa-external-link-square-alt ml-1"  aria-hidden="true" ></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-8">
          <div id="map" style="width: 100%; height: calc(100vh - 196px);"></div>
        </div>
      </div>
  </div>