<nb-card>
  <nb-card-header>
    <h2>Vehicle KPIs</h2>
  </nb-card-header>

  <nb-card-body>
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th># </th>
          <th>Vehicle </th>
          <th>Status </th>
          <th>Hrs </th>
          <th>Trip </th>
          <th>Kmp </th>
        </tr>

      </thead>
      <tbody>
        <tr *ngFor="let kpi of kpis; let i = index;" >
          <th scope="row">{{i + 1}}</th>
          <td (click)="showDetails(kpi)">{{kpi.x_showveh}}</td>
          <td (click)="showDetails(kpi)">{{kpi.showprim_status }} {{ kpi.showsec_status ? ',' +
            kpi.showsec_status : ''}}</td>
          <td (click)="showDetails(kpi)" [ngClass]="(kpi.x_hrssince >= 24) ? 'red' : ''">{{kpi.x_hrssince}}</td>
          <td (click)="showDetails(kpi)">
              <i name="exit" class="fas fa-sign-out-alt"></i>

            <!-- Heading -->
            <div col-4 (click)="showDetails(kpi)" *ngIf="kpi.trip_status_type == 0">
              <i name="exit" class="fa fa-sign-out-alt"></i>
              <span class="circle">{{kpi.x_showtripstart}}</span>
              <i class="route-arrow" name="ios-arrow-round-forward"></i>
              <span>{{kpi.x_showtripend}}</span>
            </div>

            <!-- Loading -->
            <div col-4 (click)="showDetails(kpi)" *ngIf="kpi.trip_status_type == 1">
              <span class="circle">{{kpi.x_showtripstart}}</span>
              <i class="route-arrow" name="ios-arrow-round-forward"></i>
              <span>{{kpi.x_showtripend}}</span>
            </div>

            <!-- Onward -->
            <div col-4 (click)="showDetails(kpi)" style="font-size: 10px;" *ngIf="kpi.trip_status_type == 2">
              <span>{{kpi.x_showtripstart}}</span>
              <i class="route-arrow" name="ios-arrow-round-forward"></i>
              <span>{{kpi.x_showtripend}}</span>
            </div>

            <!-- Unloading -->
            <div col-4 (click)="showDetails(kpi)" *ngIf="kpi.trip_status_type == 3">
              <span>{{kpi.x_showtripstart}}</span>
              <i class="route-arrow" name="ios-arrow-round-forward"></i>
              <span class="circle">{{kpi.x_showtripend}}</span>
            </div>

            <!-- Complete -->
            <div col-4 (click)="showDetails(kpi)" *ngIf="kpi.trip_status_type == 4">
              <span>{{kpi.x_showtripstart}}</span>
              <i class="route-arrow" name="ios-arrow-round-forward"></i>
              <span>{{kpi.x_showtripend}}</span>
              <i class="complete" name="checkmark-circle-outline"></i>
            </div>

            <!-- Ambigous -->
            <div col-4 (click)="showDetails(kpi)" *ngIf="kpi.trip_status_type == 5">
              <span>{{kpi.x_showtripstart}}</span>
              <span class="route-arrow">-</span>
              <span>{{kpi.x_showtripend}}</span>
            </div>


          </td>
          <td (click)="showDetails(kpi)" [ngClass]="kpi.x_kmph < 20 ? 'pink' : ''">{{kpi.x_kmph}}</td>
        </tr>
      </tbody>

    </table>
  </nb-card-body>
</nb-card>