.TJR-auto-suggestion-container{
    border-radius: 0;
    padding: 8px;
    background-color: #e4e4e4;
    max-height: 230px;
    overflow: auto;
    min-height: 230px;
  }

.suggestion-option{
    border: 1px solid #263238;
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: normal;
    background-color: #263238;
    margin-bottom: 3px;
    color: #fff;
}
.active-suggestion{
    background-color: teal;
    font-weight: normal;
}