.suggestion-option{
    border: 1px solid #263238;
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 10px;
    font-weight: normal;
    background-color: #263238;
    margin-bottom: 3px;
    color: #fff;
}
.active-suggestion{
    background-color: teal;
    font-weight: normal;
}
.TJR-auto-suggestion-container{
    height: 110px;
    overflow: auto;
    background-color:#ccc;
    padding:5px;
}