<div class="">
    <div class="outer transportar-4" style="min-height: 145px;">
      <h6 style="text-align:center"><b class="charthead">Longest Unloading (Last 7 days)</b></h6>
      <p style="text-align: right; margin-top: -25px;" class="link"
          (click)="getDetials('Tmgreport/GetTransportarSlowestUnload',{totalrecord: 3,stepno: -1,groupdays:7},7,'days')"><i title="More Details" class="fa fa-list"></i>
        </p>
      <table class="table table-bordered">
        <thead class="thead">
          <th>Transporter</th>
          <th>Trips Count</th>
          <th>Duration(Hrs)</th>
        </thead>
        <tbody class="tbody">
          <tr *ngFor="let tsu of transportarSlowestUnload7days">
            <td  class="link" (click)="getDetials('Tmgreport/GetTransportarSlowestUnload',{totalrecord: 3,stepno: 1,xid: tsl['_id'] ,groupdays:7},7,'days')">{{tsu['transporter']}}</td>
            <td>{{tsu['tripcount']}}</td>
            <td>{{tsu['duration_Hrs']}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>