<nb-card>
  <nb-card-body style="padding:0px;" (keydown)="keyHandler($event)">
    <div class="modal-header">
      <h5>Add Trip Expense</h5>
      <button type="button" class="close" aria-label="Close" (click)=dismiss(false)>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- <div class="row">
        <div class="col-4">
          <auto-suggestion (onSelected)="setDriverName($event)" url="Suggestion/getElogistDriverList" display="empname"
            placeholder="Driver Name" [preSelected]="null"></auto-suggestion>
        </div>
        <div class="col-1 pl-0">
          <button class="btn btn-dark add_driver_name">
            <i class="fa fa-plus add" (click)="addDriver()"></i>
          </button>
        </div>
      </div> -->
      <div class="row">
        <!-- <div class="col-6">
          <select name="credit-ledger" class="form-control" [(ngModel)]="creditLedger">
            <option *ngFor="let ledger of ledgers" [value]="ledger.id">{{ledger.name}}</option>
          </select>
        </div> -->
        <div class="col-8">
          <div class="row">
            <div class="form-group col-6 mt-6">
              <label class="tjr-label">Ref</label>
              <input autocomplete="off" type="text" id="custcode" class="form-control" name="custcode"
                [(ngModel)]="custcode">
            </div>
            <div class="form-group col-6 mt-6">
              <label class="tjr-label">Date</label>
              <input autocomplete="off" type="text" id="date" class="form-control" name="date" [(ngModel)]="date">
              <!-- <uj-date-time-picker (onChanged)="date = $event" [dateTimeValue]="date">
                </uj-date-time-picker> -->
            </div>
          </div>
          <div class="row">
            <div class="form-group col-6 mt-6">
              <label class="tjr-label">Ledger</label>
              <input autocomplete="off" type="text" id="creditLedger" class="form-control" name="creditLedger"
                [(ngModel)]="creditLedger.name">
            </div>
            <!-- <div class="form-group col-6 mt-6">
              <label class="tjr-label">Fuel Ledger</label>
              <input autocomplete="off" type="text" id="debitLedger" class="form-control" name="debitLedger"
                [(ngModel)]="debitLedger">
            </div> -->

            <!-- <div class="form-group col-6 mt-6">
              <label class="tjr-label">Party Ledger</label>
              <input autocomplete="off" type="text" id="creditLedger" class="form-control" name="creditLedger"
                [(ngModel)]="creditLedger.name">
            </div>
            <div class="form-group col-6 mt-6">
              <label class="tjr-label">Fuel Ledger</label>
              <input autocomplete="off" type="text" id="debitLedger" class="form-control" name="debitLedger"
                [(ngModel)]="debitLedger.name">
            </div> -->

            <div class="col-3 pl-0 mt-6 ">
              <button class="btn btn-dark" (click)="addTrip()">Add New Trip </button>
            </div>
          </div>
        </div>
        <div class="auto-sugg col-4">
          <!-- <div class="form-group">
            <auto-suggetion-in-side [data]="ledgers" targetId="creditLedger" display="name"
              (select)="onSelected($event, 'creditLedger', 'name')"></auto-suggetion-in-side>
          </div> -->

          <div class="form-group" *ngIf="this.activeId.includes('creditLedger')">
            <auto-suggetion-in-side [data]="ledgers" targetId="creditLedger" name="creditLedger" display="y_ledger_name"
              (select)="onSelected($event, 'creditLedger', 'y_ledger_name')"></auto-suggetion-in-side>
          </div>
          <div class="form-group" *ngIf="this.activeId.includes('debitLedger')">
            <auto-suggetion-in-side [data]="debitLedgerdata" targetId="debitLedger" name="debitLedger"
              display="y_ledger_name" (select)="onDebitSelected($event, 'debitLedger', 'y_ledger_name')">
            </auto-suggetion-in-side>
          </div>
        </div>
      </div>
      <div class="table_box_Four mt-3">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>SN</th>
              <th><input type="checkbox" name="checkall" id="checkall" value="1" [(ngModel)]="checkall"
                  (ngModelChange)="checkedAll()"></th>
              <th>Start Location</th>
              <th>End Location</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Trip Empty</th>
              <th>LR No.</th>
              <th>Add Transfer</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let trip of trips; let i = index;" (click)="selectedRow = i"
              [ngClass]="{'highlight' : selectedRow == i}">
              <td>{{i+1}}</td>
              <td>
                <input type="checkbox" [name]="'trip-' + i" [id]="'trip-' + i" [(ngModel)]="trip.isChecked"
                  (ngModelChange)="checkedAllSelected()"
                  [disabled]="(trip.voucher_id && (VoucherId !=trip.voucher_id))">
              </td>
              <td>{{trip.start_name}}</td>
              <td>{{trip.end_name || '--'}}</td>
              <td>{{trip.start_time | date : 'dd MMM yyyy HH:MM'}}</td>
              <td>{{trip.end_time | date : 'dd MMM yyyy HH:MM' || '--'}}</td>
              <td *ngIf="trip.is_empty==true">{{'Yes'}}</td>
              <td *ngIf="trip.is_empty==false">{{'No'}}</td>
              <td>{{trip.lr_no}}</td>
              <td> <button class="btn btn-primary" (click)="addTransfer(trip.id)">Add Transfer</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-left">
        <button class="btn btn-dark mr-1" (click)="addFuelFilling()">Add New Fuel </button>
        <button class="btn btn-dark" (click)="getFuelFillings()">Show Fuel Entries</button>
      </div>
      <div class="table_box mt-3">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>SN</th>
              <th> </th>
              <th>Station name</th>
              <th>Quantity</th>
              <th>Rate</th>
              <th>Amount</th>
              <th>Date</th>
              <th>Ledger Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fuelFiling of fuelFilings;let l=index;" (click)="selectedRow = l"
              [ngClass]="{'highlight' : selectedRow == l}">
              <td>{{l+1}}</td>
              <td *ngIf="tripexpencevoucherid==0">
                <input type="checkbox" [name]="'fuelFiling-' + l" [(ngModel)]="fuelFiling.isChecked"
                  [disabled]="(fuelFiling.tripexp_voucherid)" (ngModelChange)="changeFuelFilling()">
              </td>
              <td *ngIf="tripexpencevoucherid != 0">
                <input type="checkbox" [name]="'fuelFiling-' + l" [(ngModel)]="fuelFiling.isChecked"
                  (ngModelChange)="changeFuelFilling()"
                  [disabled]="(fuelFiling.tripexp_voucherid && (fuelFiling.tripexp_voucherid != tripexpencevoucherid))">
              </td>
              <td>{{fuelFiling.name}}</td>
              <td>{{fuelFiling.litres}}</td>
              <td>{{fuelFiling.rate}}</td>
              <td>{{fuelFiling.amount}}</td>
              <td>{{fuelFiling.entry_time | date : 'dd MMM'}}</td>
              <td>{{ fuelFiling.ledger_name}}</td>
            </tr>
           

          </tbody>
        </table>
      </div>
      <div class="table_box_two mt-3">

        <table>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>
              <div class="form-group"><label class="tjr-label">Total Fuel.</label><input type="text" class="tjr-input"
                  name="totalqty" [(ngModel)]="totalqty" (input)="changeFuelCalculate()" ></div>
            </td>
            <td>
              <div class="form-group"><label class="tjr-label">Last odometer</label><input type="number" class="tjr-input"
                  name="lastOdoMeter" [(ngModel)]="lastOdoMeter"  (input)="changeFuelCalculate()"  ></div>
            </td>
            <td>
              <div class="form-group"><label class="tjr-label">Current odometer</label><input type="number"
                  class="tjr-input" name="currentOdoMeter" [(ngModel)]="currentOdoMeter" (input)="changeFuelCalculate()"  ></div>
            </td>
            <td>
              <div class="form-group" style="width: 50%"><label class="tjr-label">Fuel Milege</label> <input type="number" class="tjr-input"
                  name="fuelMilege" [(ngModel)]="fuelMilege"  disabled></div>
            </td>
          </tr>
        </table>

        <!--  <div class="form-group col-2 mt-4"><label class="tjr-label">Total Qty.</label><input type="text" class="tjr-input" name="totalqty" [(ngModel)]="totalqty"></div>
          <div class="form-group col-2 mt-4"><label class="tjr-label">Last odometer</label><input type="text" class="tjr-input" name="lastOdoMeter"  [(ngModel)]="lastOdoMeter"></div>
          <div class="form-group col-2 mt-4"><label class="tjr-label">Current odometer</label><input type="text" class="tjr-input" name="currentOdoMeter" [(ngModel)]="currentOdoMeter"></div>
          <div class="form-group col-2 mt-4"><label class="tjr-label">Fuel Milege</label> <input type="text" class="tjr-input" name="fuelMilege"  [(ngModel)]="fuelMilege" disabled></div> -->
<div>
    <button class="btn btn-dark" (click)="getHeads()">Show Head</button>
</div>
      </div>

      <div class="table_box_three mt-3">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>SN</th>
              <th>Head</th>
              <th>Total</th>
              <th *ngFor="let trip of checkedTrips;">{{trip.start_name}} - {{trip.end_name}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tripHead of tripHeads;let i = index;">
              <td>{{i+1}}</td>
              <td>{{tripHead.name}}</td>
              <td>
                <input type="number" [name]="tripHead.name" [disabled]="isItReadOnly(tripHead, headname+'-'+i)"
                  [id]="headname+'-'+i" [(ngModel)]="tripHead.total" (input)="calculateTripAllTotal(i)">
              </td>
              <td *ngFor="let trip of tripHead.trips; let j = index;">
                <input type="number" [name]="'trip-amount-' + tripHead.name + j" [(ngModel)]="trip.amount"
                  (input)="calculateTripHeadTotal(i)">
              </td>
            </tr>
          </tbody>
        </table>
        <div class="clearfix row">
          <!-- <div class="total_box">
            Total
          </div>
          <div class="total_input">
            <input type="number" [name]="alltotal" [id]="alltotal" [(ngModel)]="alltotal" disabled>
          </div> -->
          <div class="form-group col-2 mt-4">
            <label class="tjr-label">Total</label>
            <input type="number" class="form-control" [name]="alltotal" [id]="alltotal" [(ngModel)]="alltotal" disabled
              readonly>
          </div>

          <div class="form-group col-3 mt-4">
            <label class="tjr-label">Remarks</label>
            <textarea class="form-control ref-input total_textarea" id="narration" name="narration"
              [(ngModel)]="narration">
            </textarea>
          </div>
        </div>
        <div class="row">

          <div class="form-group col-2 mt-4">
            <button class="btn btn-dark pr-3 pl-3 pt-2 pb-2" (click)="showTransfer()">Show Transfers</button>
          </div>
        </div>

        <!-- <div class="row">
        <div class="col-8 pl-0">
            <table class="table table-bordered invoice_tabel table-four">
              <thead style="background: #263238; color:#fff;">
                <tr>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Remarks</th>
                  <th>Ledger</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let Details of accDetails; let i = index;">
                  
                  <td>
                    <input type="text" class="form-control" autocomplete="off" [name]="'date-' + i"
                      placeholder="Please Enter Date" [(ngModel)]="Details.detaildate" [id]="'detaildate-' + i"
                     >
                  </td>
                  <td>
                    <input type="number" class="form-control" autocomplete="off" [name]="'detailamount-' + i"
                      [id]="'mobileno-' + i" [(ngModel)]="Details.detailamount" placeholder="Please Enter Amount" (input)="driverSum()">
                  </td>
                  <td>
                    <input type="email" class="form-control" autocomplete="off" [name]="'detailramarks-' + i" [id]="'detailramarks-' + i"
                      [(ngModel)]="Details.detailramarks" placeholder="Please Enter Remarks">
                  </td>
                  <td>
                    <input type="text" class="form-control" autocomplete="off" placeholder="Please Select Ledger"
                      [name]="'detailLedger-' + i" [id]="'detailLedger-' + i" ng-maxlength="10" [(ngModel)]="Details.detailLedger.name" 
                      (input)="targetId = 'detailLedger-' + i" (keydown)="targetId = 'detailLedger-' + i" >
                  </td>
                  
                  <td *ngIf="i == 0">
                    <button (click)="addDetails()" class="plustransparent btn btn-plus btn-dark"><i class="fa fa-plus"></i></button>
                  </td>
                  <td *ngIf="i !== 0">
                    <button (click)="accDetails.splice(i,1)" class="btn btn-danger">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td><input type="number" class="form-control" name="driverTotal" [(ngModel)]="driverTotal" disabled></td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-4 pl-0">
              <auto-suggetion-in-side [data]="diverledgers" [targetId]="targetId" name="detailLedger"
              display="y_ledger_name" (select)="onDebitSelectednew($event, 'detailLedger', 'y_ledger_name',targetId)">
            </auto-suggetion-in-side>
          </div>
          </div> -->
        <div class="row" *ngIf="transferData">
          <table class="table_box table-bordered ml-3 mr-3" id="table">

            <thead style="background-color:#263238; color:#fff;">
              <tr>
                <th>Advise Type</th>
                <th>Amount</th>
                <th>Credit To</th>
                <th>Debit To</th>
                <th>Remarks</th>
                <th>Time</th>
                <th>Entry By</th>
                <th>Add Fuel</th>

              </tr>
            </thead>
            <tr *ngFor="let item of transferData; let i = index;">

              <td *ngFor="let itemheading of transferHeading">
              <span *ngIf="itemheading=='lr_id' && (item[itemheading])">
        <button class="btn btn-dark btncolor" (click)="addFuelFilling(item[itemheading],11)">Add New Fuel </button>

              </span>  
               <span *ngIf="itemheading=='lr_id' && (!item[itemheading])"> &nbsp;
              </span>
              
              <span *ngIf="itemheading != 'lr_id'">{{item[itemheading]}}</span>
              </td>
             

            </tr>
          </table>
        </div>
        <div class="row">
          <div class="form-group col-6 mt-4">
           <span> &nbsp; &nbsp; &nbsp; &nbsp; Trip Advance :</span> 
           <span>{{ tripAdvanceTotal }} </span> 
          </div>
         
        </div>
        <div class="row">

          <div class="form-group col-2 mt-4">
            <button class="btn btn-dark pr-3 pl-3 pt-2 pb-2" (click)="getTripFreght()">Show Revenues</button>
          </div>
        </div>
       
        <div class="row" *ngIf="tripFreghtDetails">
          <table class="table table-bordered" id="table">

            <thead style="background-color:#263238; color:#fff;">
              <tr>
                <th>Receipt No</th>
                <th>Revenue</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tr *ngFor="let item of tripFreghtDetails; let i = index;">
              <td>{{item.receipt_no}}</td>
              <td>{{item.auto_amount}}</td>
              <td>{{item.remarks}}</td>
            </tr>
          </table>
        </div>

      </div>
    </div>


    <div class="modal-footer">

      <button *ngIf="VoucherId !=0" class="btn btn-dark pr-3 pl-3 pt-2 pb-2" (click)="printTripDetail()">Print</button>
      <button *ngIf="typeFlag==1 && permanentDeleteId==0" class="btn btn-danger pr-3 pl-3 pt-2 pb-2"
        (click)="deleteConsignment()">Delete</button>
      <button *ngIf="approve==1 && permanentDeleteId==0" class="btn btn-dark pr-3 pl-3 pt-2 pb-2"
        (click)="approveVoucher()">Approve</button>
      <button *ngIf="approve==1 && permanentDeleteId==0" class="btn btn-danger pr-3 pl-3 pt-2 pb-2"
        (click)="deleteConsignment()">Delete</button>
      <button *ngIf="permanentDeleteId !=0" class="btn btn-danger pr-3 pl-3 pt-2 pb-2"
        (click)="permanentDeleteConfirm()"> PermanentDelete</button>
      <button *ngIf="permanentDeleteId !=0" class="btn btn-dark pr-3 pl-3 pt-2 pb-2" (click)="restore()">
        Restore</button>
      <button *ngIf="permanentDeleteId==0" class="btn btn-dark pr-3 pl-3 pt-2 pb-2"
        (click)="callSaveVoucher()">Submit</button>
      <button class="btn btn-dark pr-3 pl-3 pt-2 pb-2" (click)="dismiss(false)">Close</button>
    </div>
    <!-- <div>
      <table class="table table-bordered">
        <thead>
          <th>SN</th>
          <th>Start Location</th>
          <th>End Location</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Name</th>
          <th>Amount</th>
        </thead>
        <tbody>
          <tr *ngFor="let voucherDetail of voucherDetails;let i=index;">
            <td>{{i+1}}</td>
            <td>{{voucherDetail.start_name}}</td>
            <td>{{voucherDetail.end_name || '--'}}</td>
            <td>{{voucherDetail.start_time | date : 'dd MMM'}}</td>
            <td>{{voucherDetail.end_time | date : 'dd MMM'}}</td>
            <td>{{voucherDetail.name}}</td>
            <td>{{voucherDetail.amount}}</td>
          </tr>
        </tbody>
      </table>
    </div> -->
  </nb-card-body>
</nb-card>