.modal-header{
    background-color: #343a40;
}

:host ::ng-deep .btn{padding:4px!important;color:white!important;border-radius:4px!important;}
:host ::ng-deep .btn-primary{background-color:black!important;}
.btn{
    padding: 5px 10px;
    border-radius: 3px;
    text-transform: capitalize;
}
.table_box{
    table{
        tbody{
            max-height: 340px;
        }
        tr{
            th:nth-child(1){
                width: 40px;
            }
            th:nth-child(2){
                width: 40px;
            }
            td:nth-child(1){
                width: 49px;
            }
            td:nth-child(2){
                width: 49px;
            }
            th{
                width: 140px;
            }
            td{
                width: 148px; 
            }
        }
    }
}
.table_box_Four{
    table{
        tbody{
            max-height: 340px;
        }
        tr{
            th:nth-child(1){
                width: 38px;
            }
            th:nth-child(2){
                width: 38px;
            }
            td:nth-child(1){
                width: 40px;
            }
            td:nth-child(2){
                width: 40px;
            }
            th{
                width: 140px;
            }
            td{
                width: 148px; 
            }
        }
    }
}
.table_box_two{
    table{
        tbody{
            max-height: 340px;
        }
        tr{
            th:nth-child(1){
                width: 40px;
            }
            th:nth-child(2){
                width: 40px;
            }
            td:nth-child(1){
                width: 40px;
            }
            td:nth-child(2){
                width: 40px;
            }
            th{
                width: 180px;
            }
            td{
                width: 180px;
            }
        }
    }
}
table{
    thead{
        display: table;
        width: 100%;
        table-layout: fixed;
        background-color: #263238;
        color: #fff;
    }
    tr{
        th{
            padding: 5px 10px;
            font-weight: normal;
            width: 120px;
        }
        th:nth-child(1){
            width: 40px;
        }
        th:last-child{
            width: auto;
        }
        td{
            padding: 5px 10px !important;
            font-size: 12px;
            button{
                padding: 4px !important;
                font-size: 11px;
                border-radius: 4px !important;
                margin: 0px;
                background-color: transparent;
                color: #263238;
                outline: none;
                box-shadow: none;
            }
            span{
                button{
                    padding: 4px !important;
                    font-size: 11px;
                    border-radius: 4px !important;
                    margin: 0px;
                    background-color: transparent;
                    color: #263238;
                    outline: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }
            }
            input[type=number]{
                width: 100px;
            }
        }
    }
    tbody{
        overflow-y: auto;
        display: block;
        width: 100%;
        table-layout: fixed;
        overflow: auto;
        max-height: 416px;
        tr{
            display: table;
            table-layout: fixed;
            width: 100%;
            td:nth-child(1){
                width: 40px;
            }
            td{
                width: 120px;
            }
            td:last-child{
                width: auto;
            }
        }
        tr:nth-child(odd){
            background-color: #fff;
        }
        tr:nth-child(even){
            background-color: #e4e4e4;
        }
    }
} 
.table-four{
    tbody{
        tr:last-child{
            background-color: #263238;
            td{
                input{
                    background-color: #ebebe4;
                }
            }
        }
    }
}
.table_box_three{
    table{
        width: 100%;
        thead{
            display: table-row-group;
            tr{
                display: table-row;
                th{
                    display: table-cell;
                    width: 200px;
                }
            }
        }
        tbody{
            display: table-row-group;
            tr{
                display: table-row;
                td{
                    display: table-cell;
                    width: 200px;
                }
            }
        }
    }
}
.auto-sugg{
    max-height: 128px;
    min-height: 128px;
}
.total_box{
    display: inline-block;
    width: 160px;
    padding-left: 15px;
    vertical-align: middle;
}
.total_input{
    width: 126px;
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    vertical-align: middle;
}
.total_input input{
    width: 100%;
}
.total_textarea{
    width: 360px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
    padding-left: 15px;
}
input:read-only {
    background-color: #ccc;
}
.selected {
    background-color: #576c77
}
table tr.highlight {
    background-color: #FFEE75 !important;
    color: #000 !important;
}
table tr td button.plustransparent.btn.btn-plus.btn-dark {
    
    background-color: black !important;
    border-color: black !important;
    width: 45px;
    padding: 7px 8px !important;
    border-radius: 3px !important;
    color: white;
    
}

.btncolor{background-color:black!important}