<div class="">
    <div class="outer tripload-1" style="min-height: 200px;">
      <h6 style="text-align:center"><b class="charthead">Avg. Loading Time Graph</b></h6>
      <p style="text-align: right; margin-top: -25px;" class="link"
        (click)="getDetials('Tmgreport/GetTripLoadindTime',{totalrecord: 3,stepno: -1,groupdays: 7},30,'days')"><i title="More Details"
          class="fa fa-list"></i>
      </p>
      <chart [type]="chart1.type" [data]="chart1.data"
        style="margin-right:5px;margin-top:-20px;min-height: 250px;max-height: 250px;" [options]="chart1.options"  (clickElement)="chart1Clicked($event)">
      </chart>
    </div>
  </div>