<div class="modal-header">
  <h5>Route Advance</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">


  <div class="table-conan filter-coff">
    <table>
      <tbody *ngFor="let route of routeAdvance; let i= index">
        <tr>
          <td>Model</td>
          <td>
            <auto-suggestion (onSelected)="route.modelId = $event.id;" display="name" [data]="models" placeholder=" "
              [preSelected]="null" (change)="resetData($event,i)"></auto-suggestion>
          </td>
          <td>ExpensesType </td>
          <td>
            <select [(ngModel)]="route.expenseType">
              <option *ngFor="let exp of expensesType;" [value]="exp.id">{{exp.description}}</option>
            </select>
            <!-- <auto-suggestion (onSelected)="route.expenseType = $event.id;" display="description"
              [data]="expensesType" [preSelected]="null"></auto-suggestion> -->
          </td>

          <td>Amount </td>
          <td><input type="number" class="form-control" [(ngModel)]=route.amount></td>
          <td *ngIf="i == routeAdvance.length-1"><button class="btn btn-primary" (click)="addMore()"><i
                class="fa fa-plus add">
              </i></button></td>
          <td *ngIf="i != 0"> <button class="btn btn-danger" (click)="routeAdvance.splice(i,1)"><i
                class="fa fa-trash remove"></i></button></td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="text-right mt-3 mb-3">
    <button class="btn btn-primary submit" (click)="saveAdvance()">Submit</button>
  </div>
  <smart-table *ngIf="data && data.length" [data]="table.data" [settings]="table.settings" id="routeAdvance">
  </smart-table>
</div>