<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">Upload File</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
  <div class="container">
    <input type="file" class="file-control" id="upload-file" 
    (change)="handleFileSelection($event)">
  </div>
  <div class="row" *ngIf="sampleURL">
    <div class="col-md-12 offset-md-08">
      <label style="text-decoration: underline;color: blue; cursor: pointer;" (click)="sampleCsv()">Sample Csv
        Download </label>
      <i class="icon ion-md-cloud-download" style="cursor:pointer" (click)="sampleCsv()"></i>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="row">
      <div class="col">
          <button class="btn btn-danger" type="button" outline (click)="closeModal(false)" id="cancel" style="cursor: pointer;">Cancel</button>
      </div>
      <div class="col text-right">
          <button class="btn btn-primary" type="button" outline (click)="closeModal(true)" id="submit" style="cursor: pointer;">OK</button>
      </div>
  </div>
</div>