<nb-card>
  <nb-card-header>
    <h4>Pending Licences</h4>
  </nb-card-header>
  <nb-card-body style="min-height: 360px;">
    <div class="container">
        <div class="row">
          <div class="col-1 pl-0 pt-2">{{data.length}} Records</div>
          <div class="col-sm-3 list">
            <select name="list" class="form-control " (change)="selectList($event.target.value)">
              <option class="form-control" [value]="0">Pending Licence</option>
              <option class="form-control" [value]="1">Advance Review Licence</option>
            </select>
          </div>

        <table class="table table-bordered table-hover table-scroll mt-3" id="tbllicences">
          <thead class="thead">
            <tr>
              <th>SrNo</th>
              <th *ngFor="let col of columns" class="text-center">
                {{common.formatTitle(col)}}
              </th>
              <th style="width:120px; text-align: center;" class="del">Action</th>
            </tr>
          </thead>

          <tbody class="">
            <ng-container *ngIf="data.length">
              <tr *ngFor="let row of data; let i = index" class="">
              
                  <td style="width:5%;">{{i + 1}}</td>
                  <td *ngFor="let col of columns">
                  <span  style="min-width: 200px;">{{row[col]}}</span>
          
                </td>
                  <td class="del" style="width: 120px;">
                    <a href="javascript: void(0);" title="Edit Licence" (click)="showDetails(row)"><i
                        class="icon ion-md-create"></i></a>&nbsp;
                    <!--<a href="javascript: void(0);" title="Delete Record" (click)="deleteRecord(row)"><i
                        class="fa fa-trash"></i></a>-->
                    </td>
                
              </tr>
            </ng-container>
            <tr *ngIf="!data.length">
              <td colspan="2" style="text-align: center;">No Records found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<!-- Modal First-->
<div class="custom-modal-1" *ngIf="modal.first.show" [ngClass]="modal.first.class">
  <div class="custom-modal-body">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title-first">{{modal.first.data.title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal(false, 'first')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body vert-mdl-pdg">
      <form #documentFormFirst="ngForm" id="document-form-first" name="document-form-first">
        <div class="row">
          <div class="col-sm-4">

            <div class="row form-field clear">
              <label for="document_id-first" class="col-sm-4 mgn-vert">Driver ID</label>

              <div class="col-sm-8 " *ngIf="!modal.first.data.canUpdate">
                <label style="font-size:16px;">{{modal.first.data.driver.id}}</label>
                <span *ngIf="modal.first.data.driver.is_verified == true" style="margin-left:20%;">
                  <label style="font-size:16px; "> Verified </label>
                 </span>
              </div>
              <div class="col-sm-8 " *ngIf="modal.first.data.canUpdate">
                <label style="font-size:16px;">{{modal.first.data.driver.id}}</label>
                <label style="font-size:16px; margin-left: 5%; " *ngIf="modal.first.data.driver.review > 0">Review :{{modal.first.data.driver.review}}</label>
                
              </div>
            </div>

            <div class="row form-field clear mgn-vert">
              <label for="empname" class="col-sm-4 mgn-vert">Name</label>

              <div *ngIf="!modal.first.data.canUpdate" class="col-sm-8" style="padding-left: 0px;">
                <label style="font-size:16px;">{{modal.first.data.driver.empname}}</label>               
              </div>
              <div *ngIf="modal.first.data.canUpdate" class="col-sm-8 frm-fld mgn-vert sug-fld" style="padding-left: 0px;">
                <input *ngIf="modal.first.data.canUpdate" id="newempname-first" name="newempname-first" type="text" class="form-control "
                  [(ngModel)]="modal.first.data.driver.newempname" />
              </div>
            </div>

            <div class="row form-field clear mgn-vert">
              <label for="licence_no" class="col-sm-4 mgn-vert">Licence No.<span class="mandatory">*</span></label>
              <div *ngIf="!modal.first.data.canUpdate" class="col-sm-8" style="padding-left: 0px;">
                <label style="font-size:16px;">{{modal.first.data.driver.licence_no}}</label>                
              </div>

              <div *ngIf="modal.first.data.canUpdate" class="col-sm-8 frm-fld mgn-vert sug-fld" style="padding-left: 0px;">
                <input *ngIf="modal.first.data.canUpdate" id="newlicence_no-first" name="newlicence_no-first" type="text" class="form-control "
                  [(ngModel)]="modal.first.data.driver.newlicenceno" (keyup)="this.validateLicenceno($event)"  (focusout)="openNextModal('second')" />
              </div>
            </div>

            <div class="row form-field clear">
              <label for="effective_date-first" class="col-sm-4 mgn-vert">Effective Date:</label>
              <div *ngIf="!modal.first.data.canUpdate" class="col-sm-8">
                <label style="font-size:16px;">
                  {{getDateInDisplayFormat(modal.first.data.driver.effective_date)| date:'dd-MM-yyyy'}}</label>

              </div>
              <div class="col-8" style="padding-left:7px;">
                <input #effective_date_first *ngIf="modal.first.data.canUpdate" id="effective_date-first" name="effective_date-first"
                  type="text" class="col-sm-9 form-control frm-fld mgn-vert"
                  [(ngModel)]="modal.first.data.driver.effective_date" [value]="modal.first.data.driver.effective_date "
                  (focusout)="checkDateFormat('first', 'effective_date')" placeholder="DD/MM/YYYY" />
                <span *ngIf="modal.first.data.canUpdate" class="col-sm-3" style='cursor:pointer; font-size: 28px;'
                  (click)="getDate('effective_date', 'first')"><i class="icon fa fa-calendar"></i></span>
              </div>
            </div>
            <div class="row form-field clear">
              <label for="expiry_date-first" class="col-sm-4 mgn-vert">Expiry Date</label>
              <div *ngIf="!modal.first.data.canUpdate" class="col-sm-8">
                <label style="font-size:16px;">
                  {{getDateInDisplayFormat(modal.first.data.driver.expiry_date)| date:'dd-MM-yyyy'}}</label>
              </div>
              <div class="col-8" style="padding-left:7px;">
                <input #expiry_date_first *ngIf="modal.first.data.canUpdate" id="expiry_date-first"
                  name="expiry_date-first" type="text" class="col-sm-9 form-control frm-fld mgn-vert"
                  [(ngModel)]="modal.first.data.driver.expiry_date" [value]="modal.first.data.driver.expiry_date"
                  (focusout)="checkDateFormat('first', 'expiry_date')" placeholder="DD/MM/YYYY" />
                <span *ngIf="modal.first.data.canUpdate" class="col-sm-3" style='cursor:pointer; font-size: 28px;'
                  (click)="getDate('expiry_date', 'first')"><i class="icon fa fa-calendar"></i></span>
              </div>
            </div>

            <div class="row form-field clear">
              <label for="ntexpiry_date-first" class="col-sm-4 mgn-vert">NT Expiry Date</label>
              <div *ngIf="!modal.first.data.canUpdate" class="col-sm-8">
                <label style="font-size:16px;">
                  {{getDateInDisplayFormat(modal.first.data.driver.ntexpiry_date)| date:'dd-MM-yyyy'}}</label>
              </div>
              <div class="col-8" style="padding-left:7px;">
                <input #ntexpiry_date_first *ngIf="modal.first.data.canUpdate" id="ntexpiry_date-first"
                  name="ntexpiry_date-first" type="text" class="col-sm-9 form-control frm-fld mgn-vert"
                  [(ngModel)]="modal.first.data.driver.ntexpiry_date" [value]="modal.first.data.driver.ntexpiry_date"
                  (focusout)="checkDateFormat('first', 'ntexpiry_date')" placeholder="DD/MM/YYYY" />
                <span *ngIf="modal.first.data.canUpdate" class="col-sm-3" style='cursor:pointer; font-size: 28px;'
                  (click)="getDate('ntexpiry_date', 'first')"><i class="icon fa fa-calendar"></i></span>
              </div>
            </div>

            
            <div class="row form-field clear">
              <label for="dob-first" class="col-sm-4 mgn-vert">DOB</label>
              <div *ngIf="!modal.first.data.canUpdate" class="col-sm-8">
                <label style="font-size:16px;">
                  {{getDateInDisplayFormat(modal.first.data.driver.dob)| date:'dd-MM-yyyy'}}</label>
              </div>
              <div class="col-8" style="padding-left:7px;">
                <input #dob_first *ngIf="modal.first.data.canUpdate" id="dob-first"
                  name="dob-first" type="text" class="col-sm-9 form-control frm-fld mgn-vert"
                  [(ngModel)]="modal.first.data.driver.dob" [value]="modal.first.data.driver.dob"
                  (focusout)="checkDateFormat('first', 'dob')" placeholder="DD/MM/YYYY" />
                <span *ngIf="modal.first.data.canUpdate" class="col-sm-3" style='cursor:pointer; font-size: 28px;'
                  (click)="getDate('dob', 'first')"><i class="icon fa fa-calendar"></i></span>
              </div>
            </div>

            <div class="row form-field clear mgn-vert">
              <label for="licence_type-first" class="col-sm-4 mgn-vert">DL Type</label>
              <div *ngIf="!modal.first.data.canUpdate" class="col-sm-8">
                <label style="font-size:16px;">
                  {{modal.first.data.driver.licence_type}}</label>
              </div>
              <div class="col-sm-8">
                <div class="col-sm-4"><input #lcvtype_first *ngIf="modal.first.data.canUpdate" id="lcvtype-first" name="lcvtype-first" type="text"
                class="form-control chk-dl" type="checkbox" [(ngModel)]="modal.first.data.driver.lcv"
                [value]="modal.first.data.driver.lcv" />LCV</div>
                <div class="col-sm-4"><input #mcvtype_first *ngIf="modal.first.data.canUpdate" id="mcvtype-first" name="mcvtype-first" type="text"
                class=" form-control chk-dl" type="checkbox" [(ngModel)]="modal.first.data.driver.mcv"
                [value]="modal.first.data.driver.mcv" />MCV</div>
                <div class="col-sm-4"><input #hcvtype_first *ngIf="modal.first.data.canUpdate" id="hcvtype-first" name="hcvtype-first" type="text"
                class="form-control chk-dl" type="checkbox" [(ngModel)]="modal.first.data.driver.hcv"
                [value]="modal.first.data.driver.hcv" />HCV</div>
              </div>              
            </div>

            <div class="row form-field clear">
              <label for="address-first" class="col-sm-4">Address</label>
              <div class="col-sm-8" style="margin-left:-2%; margin-top: 1%">
                <textarea id="address-first" name="address-first" rows="2" class="form-control "
                  [(ngModel)]="modal.first.data.driver.address"
                  [value]="modal.first.data.driver.address"></textarea>
                <!--<input #address_first *ngIf="modal.first.data.canUpdate" id="address-first"
                  name="address-first" style="max-width: 100%" type="text" class="col-sm-9 form-control frm-fld mgn-vert"
                  [(ngModel)]="modal.first.data.driver.address" [value]="modal.first.data.driver.address"
                  placeholder="Address" />-->
              </div>
            </div>

            <div class="row form-field clear">
              <label for="remarks-first" class="col-sm-4">Remarks</label>
              <div class="col-sm-8" style="margin-left:-2%; margin-top: 1%">
                <textarea id="remarks-first" name="remarks-first" rows="3" class="form-control "
                  [(ngModel)]="modal.first.data.driver.remarks"
                  [value]="modal.first.data.driver.remarks"></textarea>
              </div>
            </div>

            <div class="row">
              <div class="col-6" *ngIf="modal.first.data.canUpdate === 1 && this.user._loggedInBy == 'admin'">
                <button class="btn btn-primary" form="document-form" type="button" outline
                  (click)="updateDocument('first')" id="submit-first"
                  style="cursor: pointer;">{{modal.first.data.btn1}}</button>
              </div>
              <div class="col-6" *ngIf="modal.first.data.canUpdate === 0 ">
                <button class="btn btn-primary" type="submit" (click)="customerByUpdate('first')" id="submit-first"
                  style="cursor: pointer;">{{modal.first.data.btn1}}</button>
              </div>

              <div class="col-6">
                <button class="btn btn-primary" type="button" (click)="updateDocument('first', 1)" id="advance-first"
                  style="cursor: pointer;">Advance Review</button>
              </div>

              <div class="col-12 text-center" *ngIf="this.user._loggedInBy == 'admin'" style="margin-top: 30px;">
                <button class="btn btn-danger" type="button" outline
                  (click)="deleteImage(modal.first.data.driver.id, 'first')" id="cancel-first"
                  style="cursor: pointer;">{{modal.first.data.btn2}}</button>
              </div>
            </div>

          </div>


          <div class="col-sm-8">


            <app-image-viewer *ngIf="modal.first.data.driver.licence_photo && !modal.first.data.doc_not_img"
              [images]="modal.first.data.images" [idContainer]="'first-' + modal.first.data.imageViewerId"
              [loadOnInit]="true">
            </app-image-viewer>
            <div *ngIf="!modal.first.data.driver.licence_photo">No Image Exists</div>
            <div id="imgzoom-first"></div>
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">
    </div>
  </div>
</div>
<!-- Modal End -->


<!-- Modal Second-->
<div class="custom-modal-1" *ngIf="modal.second.show" [ngClass]="modal.second.class">
  <div class="custom-modal-body">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title-second">{{modal.second.data.title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal(false, 'second')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body vert-mdl-pdg">
      <form #documentFormSecond="ngForm" id="document-form-second" name="document-form-second">
        <div class="row">
          <div class="col-sm-4">

            <div class="row form-field clear">
              <label for="document_id-second" class="col-sm-4 mgn-vert">Driver ID</label>

              <div class="col-sm-8 " *ngIf="!modal.second.data.canUpdate">
                <label style="font-size:16px;">{{modal.second.data.driver.id}}</label>
                <span *ngIf="modal.second.data.driver.is_verified == true" style="margin-left:20%;">
                  <label style="font-size:16px; "> Verified </label>
                 </span>
              </div>
              <div class="col-sm-8 " *ngIf="modal.second.data.canUpdate">
                <label style="font-size:16px;">{{modal.second.data.driver.id}}</label>
                <label style="font-size:16px; margin-left: 5%; " *ngIf="modal.second.data.driver.review > 0">Review :{{modal.second.data.driver.review}}</label>
                
              </div>
            </div>

            <div class="row form-field clear mgn-vert">
              <label for="empname" class="col-sm-4 mgn-vert">Name</label>

              <div *ngIf="!modal.second.data.canUpdate" class="col-sm-8" style="padding-left: 0px;">
                <label style="font-size:16px;">{{modal.second.data.driver.empname}}</label>               
              </div>
              <div *ngIf="modal.second.data.canUpdate" class="col-sm-8 frm-fld mgn-vert sug-fld" style="padding-left: 0px;">
                <input *ngIf="modal.second.data.canUpdate" id="newempname-second" name="newempname-second" type="text" class="form-control "
                  [(ngModel)]="modal.second.data.driver.newempname" />
              </div>
            </div>

            <div class="row form-field clear mgn-vert">
              <label for="licence_no" class="col-sm-4 mgn-vert">Licence No.<span class="mandatory">*</span></label>
              <div *ngIf="!modal.second.data.canUpdate" class="col-sm-8" style="padding-left: 0px;">
                <label style="font-size:16px;">{{modal.second.data.driver.licence_no}}</label>                
              </div>

              <div *ngIf="modal.second.data.canUpdate" class="col-sm-8 frm-fld mgn-vert sug-fld" style="padding-left: 0px;">
                <input *ngIf="modal.second.data.canUpdate" id="newlicence_no-second" name="newlicence_no-second" type="text" class="form-control "
                  [(ngModel)]="modal.second.data.driver.newlicenceno" (keyup)="this.validateLicenceno($event)"   (focusout)="openNextModal('first')"  />
              </div>
            </div>

            <div class="row form-field clear">
              <label for="effective_date-second" class="col-sm-4 mgn-vert">Effective Date:</label>
              <div *ngIf="!modal.second.data.canUpdate" class="col-sm-8">
                <label style="font-size:16px;">
                  {{getDateInDisplayFormat(modal.second.data.driver.effective_date)| date:'dd-MM-yyyy'}}</label>

              </div>
              <div class="col-8" style="padding-left:7px;">
                <input #effective_date_second *ngIf="modal.second.data.canUpdate" id="effective_date-second" name="effective_date-second"
                  type="text" class="col-sm-9 form-control frm-fld mgn-vert"
                  [(ngModel)]="modal.second.data.driver.effective_date" [value]="modal.second.data.driver.effective_date "
                  (focusout)="checkDateFormat('second', 'effective_date')" placeholder="DD/MM/YYYY" />
                <span *ngIf="modal.second.data.canUpdate" class="col-sm-3" style='cursor:pointer; font-size: 28px;'
                  (click)="getDate('effective_date', 'second')"><i class="icon fa fa-calendar"></i></span>
              </div>
            </div>
            <div class="row form-field clear">
              <label for="expiry_date-second" class="col-sm-4 mgn-vert">Expiry Date</label>
              <div *ngIf="!modal.second.data.canUpdate" class="col-sm-8">
                <label style="font-size:16px;">
                  {{getDateInDisplayFormat(modal.second.data.driver.expiry_date)| date:'dd-MM-yyyy'}}</label>
              </div>
              <div class="col-8" style="padding-left:7px;">
                <input #expiry_date_second *ngIf="modal.second.data.canUpdate" id="expiry_date-second"
                  name="expiry_date-second" type="text" class="col-sm-9 form-control frm-fld mgn-vert"
                  [(ngModel)]="modal.second.data.driver.expiry_date" [value]="modal.second.data.driver.expiry_date"
                  (focusout)="checkDateFormat('second', 'expiry_date')" placeholder="DD/MM/YYYY" />
                <span *ngIf="modal.second.data.canUpdate" class="col-sm-3" style='cursor:pointer; font-size: 28px;'
                  (click)="getDate('expiry_date', 'second')"><i class="icon fa fa-calendar"></i></span>
              </div>
            </div>

            <div class="row form-field clear">
              <label for="ntexpiry_date-second" class="col-sm-4 mgn-vert">NT Expiry Date</label>
              <div *ngIf="!modal.second.data.canUpdate" class="col-sm-8">
                <label style="font-size:16px;">
                  {{getDateInDisplayFormat(modal.second.data.driver.ntexpiry_date)| date:'dd-MM-yyyy'}}</label>
              </div>
              <div class="col-8" style="padding-left:7px;">
                <input #ntexpiry_date_second *ngIf="modal.second.data.canUpdate" id="ntexpiry_date-second"
                  name="ntexpiry_date-second" type="text" class="col-sm-9 form-control frm-fld mgn-vert"
                  [(ngModel)]="modal.second.data.driver.ntexpiry_date" [value]="modal.second.data.driver.ntexpiry_date"
                  (focusout)="checkDateFormat('second', 'ntexpiry_date')" placeholder="DD/MM/YYYY" />
                <span *ngIf="modal.second.data.canUpdate" class="col-sm-3" style='cursor:pointer; font-size: 28px;'
                  (click)="getDate('ntexpiry_date', 'second')"><i class="icon fa fa-calendar"></i></span>
              </div>
            </div>

            
            <div class="row form-field clear">
              <label for="dob-second" class="col-sm-4 mgn-vert">DOB</label>
              <div *ngIf="!modal.second.data.canUpdate" class="col-sm-8">
                <label style="font-size:16px;">
                  {{getDateInDisplayFormat(modal.second.data.driver.dob)| date:'dd-MM-yyyy'}}</label>
              </div>
              <div class="col-8" style="padding-left:7px;">
                <input #dob_second *ngIf="modal.second.data.canUpdate" id="dob-second"
                  name="dob-second" type="text" class="col-sm-9 form-control frm-fld mgn-vert"
                  [(ngModel)]="modal.second.data.driver.dob" [value]="modal.second.data.driver.dob"
                  (focusout)="checkDateFormat('second', 'dob')" placeholder="DD/MM/YYYY" />
                <span *ngIf="modal.second.data.canUpdate" class="col-sm-3" style='cursor:pointer; font-size: 28px;'
                  (click)="getDate('dob', 'second')"><i class="icon fa fa-calendar"></i></span>
              </div>
            </div>

            <div class="row form-field clear mgn-vert">
              <label for="licence_type-second" class="col-sm-4 mgn-vert">DL Type</label>
              <div *ngIf="!modal.second.data.canUpdate" class="col-sm-8">
                <label style="font-size:16px;">
                  {{modal.second.data.driver.licence_type}}</label>
              </div>
              <div class="col-sm-8">
                <div class="col-sm-4"><input #lcvtype_second *ngIf="modal.second.data.canUpdate" id="lcvtype-second" name="lcvtype-second" type="text"
                class="form-control chk-dl" type="checkbox" [(ngModel)]="modal.second.data.driver.lcv"
                [value]="modal.second.data.driver.lcv" />LCV</div>
                <div class="col-sm-4"><input #mcvtype_second *ngIf="modal.second.data.canUpdate" id="mcvtype-second" name="mcvtype-second" type="text"
                class=" form-control chk-dl" type="checkbox" [(ngModel)]="modal.second.data.driver.mcv"
                [value]="modal.second.data.driver.mcv" />MCV</div>
                <div class="col-sm-4"><input #hcvtype_second *ngIf="modal.second.data.canUpdate" id="hcvtype-second" name="hcvtype-second" type="text"
                class="form-control chk-dl" type="checkbox" [(ngModel)]="modal.second.data.driver.hcv"
                [value]="modal.second.data.driver.hcv" />HCV</div>
              </div>              
            </div>

            <div class="row form-field clear">
              <label for="address-second" class="col-sm-4">Address</label>
              <div class="col-sm-8" style="margin-left:-2%; margin-top: 1%">
                <textarea id="address-second" name="address-second" rows="2" class="form-control "
                  [(ngModel)]="modal.second.data.driver.address"
                  [value]="modal.second.data.driver.address"></textarea>
                <!--<input #address_second *ngIf="modal.second.data.canUpdate" id="address-second"
                  name="address-second" style="max-width: 100%" type="text" class="col-sm-9 form-control frm-fld mgn-vert"
                  [(ngModel)]="modal.second.data.driver.address" [value]="modal.second.data.driver.address"
                  placeholder="Address" />-->
              </div>
            </div>

            <div class="row form-field clear">
              <label for="remarks-second" class="col-sm-4">Remarks</label>
              <div class="col-sm-8" style="margin-left:-2%; margin-top: 1%">
                <textarea id="remarks-second" name="remarks-second" rows="3" class="form-control "
                  [(ngModel)]="modal.second.data.driver.remarks"
                  [value]="modal.second.data.driver.remarks"></textarea>
              </div>
            </div>

            <div class="row">
              <div class="col-6" *ngIf="modal.second.data.canUpdate === 1 && this.user._loggedInBy == 'admin'">
                <button class="btn btn-primary" form="document-form" type="button" outline
                  (click)="updateDocument('second')" id="submit-second"
                  style="cursor: pointer;">{{modal.second.data.btn1}}</button>
              </div>
              <div class="col-6" *ngIf="modal.second.data.canUpdate === 0 ">
                <button class="btn btn-primary" type="submit" (click)="customerByUpdate('second')" id="submit-second"
                  style="cursor: pointer;">{{modal.second.data.btn1}}</button>
              </div>

              <div class="col-6">
                <button class="btn btn-primary" type="button" (click)="updateDocument('second', 1)" id="advance-second"
                  style="cursor: pointer;">Advance Review</button>
              </div>

              <div class="col-12 text-center" *ngIf="this.user._loggedInBy == 'admin'" style="margin-top: 30px;">
                <button class="btn btn-danger" type="button" outline
                  (click)="deleteImage(modal.second.data.driver.id, 'second')" id="cancel-second"
                  style="cursor: pointer;">{{modal.second.data.btn2}}</button>
              </div>
            </div>

          </div>


          <div class="col-sm-8">


            <app-image-viewer *ngIf="modal.second.data.driver.licence_photo && !modal.second.data.doc_not_img"
              [images]="modal.second.data.images" [idContainer]="'second-' + modal.second.data.imageViewerId"
              [loadOnInit]="true">
            </app-image-viewer>
            <div *ngIf="!modal.second.data.driver.licence_photo">No Image Exists</div>
            <div id="imgzoom-second"></div>
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">
    </div>
  </div>
</div>
<!-- Modal End -->
