<nb-card>
  <nb-card-header>
    <h4>Document Change History</h4>
  </nb-card-header>
  <nb-card-body style="min-height: 370px;">
    <div class="container">
      <form>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Vehicle Number:</label>
              <auto-suggestion (onSelected)="getvehicleData($event)" url="Vehicles/getVehicleListForFoid"
                display="regno" placeholder="Enter Vehicle Number" [preSelected]="null" style="width:60%;">
              </auto-suggestion>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>DocumentType</label>
              <auto-suggestion (onSelected)="selectDocType($event)" url="" display="document_type"
                placeholder="Enter Document Type" [data]="docTypes" [preSelected]="null" class="documentType" required>
              </auto-suggestion>
              <div class="suggestions ng-star-inserted">
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <label style="display: block;">&nbsp;</label>
            <button type="submit" class="btn btn-primary" (click)="searchHistory()">Search</button>
          </div>
        </div>
      </form>
    </div>
    <smart-table *ngIf="data.length" [data]="table.data" [settings]="table.settings"></smart-table>
    <br>
  </nb-card-body>
</nb-card>