<nb-card>
  <nb-card-header>
    Document Change History

  </nb-card-header>

  <nb-card-body style="min-height: 360px;">
    <div class="container">
      <form>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Vehicle Number:</label>
              <auto-suggestion (onSelected)="getvehicleData($event)" url="Vehicles/getVehicleListForFoid"
                display="regno" placeholder="Enter Vehicle Number" [preSelected]="null" style="width:60%;">
              </auto-suggestion>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>DocumentType</label>
              <!-- <div class="suggestion-list"> -->
              <auto-suggestion (onSelected)="selectDocType($event)" url="Vehicles/getAllDocumentTypesList"
                display="document_type" placeholder="Enter DocumentType" [preSelected]="null" class="documentType">
              </auto-suggestion>
              <div class="suggestions ng-star-inserted">
              </div>
            </div>
          </div>

          
          <div class="col-md-3">
            <button type="submit" class="btn btn-primary mt-4" (click)="searchHistory()">Search</button>
          </div>
        </div>
      </form>
    </div>

    <smart-table *ngIf="data.length" [data]="table.data" [settings]="table.settings"></smart-table>
    <br>
  </nb-card-body>
</nb-card>