<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">LR Assign</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-4">
          <uj-date-time-picker [isTime]="false" (onChanged)="startTime = $event" [dateTimeValue]="startTime">
          </uj-date-time-picker>
        </div>
        <div class="col-4">
          <uj-date-time-picker [isTime]="false" [isStart]="false" (onChanged)="endTime = $event"
            [dateTimeValue]="endTime">
          </uj-date-time-picker>
        </div>
        <div class="col-4">
          <button class="btn btn-primary m-0" (click)="getlrUnmapped()">Search</button>
        </div>
      </div>
    </div>

  </div>
  <div class="row mt-3 m-0 p-0 form-check-box" *ngIf="data1 && data1.length">
    <label><b>Select LR </b></label>
    <div class="w-100 form-check-main">

      <div class="row mt-1">
        <!-- <smart-table *ngIf="data1 && data1.length" [data]="table1.data1" [settings]="table1.settings1" id="unmappedlr">
        </smart-table> -->
        <table class="table table-bordered table-hover">
          <thead class="thead">
            <th>#</th>
            <th>Action</th>
            <th>LR No.</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>LR Date</th>
            <th>Consigner</th>
            <th>Consignee</th>
            <th>Freight</th>
          </thead>
          <tbody>
            <tr *ngFor="let data of data1;let i=index">
              <td>{{i}}</td>
              <td> <input class="form-check-input" (change)="onChange(data._lrid, $event.target.checked)"
                  name="{{ data.Name }}" type="checkbox" id="{{data.Name}}" *ngIf="data._lrid>0"></td>
              <td>{{data['LR Num']}}</td>
              <td>{{data['Origin']}}</td>
              <td>{{data['Destination']}}</td>
              <td>{{data['LR Date']}}</td>
              <td>{{data['Consignor']}}</td>
              <td>{{data['Consignee']}}</td>
              <td>{{data['Freight']}}</td>
            </tr>
          </tbody>
        </table>
        <div class="no-data alert alert-danger" role="alert" *ngIf="data1.length==0">
          No Data available !
        </div>
      </div>
    </div>
  </div>

  <div class="text-right mt-3">
    <button *ngIf="data1 && data1.length" class="btn btn-primary m-0" (click)="assignGroups()">Assign</button>

  </div>

  <div class="row mt-3">
    <smart-table *ngIf="data && data.length" [data]="table.data" [settings]="table.settings" id="lrview">
    </smart-table>

    <div class="no-data alert alert-danger" role="alert" *ngIf="data.length==0">
      No Data available !
    </div>
  </div>

</div>