<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">{{title}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #documentForm="ngForm" id="document-form" name="document-form"
    (submit)="documentForm.valid && updateDocument()">
    <div class="row">
      <div class="col-md-4 model_left_section">
        <div class="row">
          <div class="col-md-4">
            <label> Document id </label>
          </div>
          <div class="col-md-8">
            <label style="font-size:16px;">{{document.docId}}</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label> Vehicle Number </label>
          </div>
          <div class="col-md-8">
            <label style="font-size:16px;">{{document.regNumber}}</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label>Document Type</label>
          </div>
          <div class="col-md-8">
            <label style="font-size:16px;">{{document.documentType}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Issue Date</label>
          </div>
          <div class="col-md-7">
            <label style="font-size:16px;">{{document.issueDate}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Wef Date</label>
          </div>
          <div class="col-md-7">
            <label style="font-size:16px;">{{document.wefDate | date:'dd MMM yyyy'}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Expiry Date</label>
          </div>
          <div class="col-md-7">
            <label style="font-size:16px;">{{document.expiryDate  | date:'dd MMM yyyy'}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label>Agent</label>
          </div>
          <div class="col-md-8">
            <select [(ngModel)]="document.agentId" name="agent" class="form-control agent">
              <option *ngFor="let agent of agents;" [value]="agent.id" class="form-control">{{agent.name}}
              </option>
            </select>
            <a href="javascript: void(0);" class="add-agent" (click)="addAgent()">Add Agent</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 ">
            <label>Document Number</label>
          </div>
          <div class="col-md-8">
            <input id="document-id" name="document-id" type="text" placeholder="Document Number" autocomplete="off"
              class="form-control" [(ngModel)]="document.documentNumber" [value]="document.documentNumber"
              maxlength="25">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Amount </label>
          </div>
          <div class="col-md-8">
            <input type="text" name="amount" class="form-control" [(ngModel)]="document.amount" maxlength="10"
              placeholder="Enter Amount">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>RTO </label>
          </div>
          <div class="col-md-8">
            <input type="text" name="rto" class="form-control" [(ngModel)]="document.rto" maxlength="20"
              placeholder="Enter Rto">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Remark </label>
          </div>
          <div class="col-md-8">
            <textarea name="remark" class="form-control" [(ngModel)]="document.remark" placeholder="remark"></textarea>
          </div>
        </div>
        <div class="row mt-3 mb-3">
          <div class="col-sm-6">
            <button class="btn btn-danger" type="button" outline (click)="closeModal(false)" id="cancel"
              style="cursor: pointer;">{{btn2}}</button>
          </div>
          <div class="col-sm-6 text-right">
            <button class="btn btn-primary" form="document-form" type="submit" outline (click)="isFormSubmit = true"
              id="submit" style="cursor: pointer;">{{btn1}}</button>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <!-- <div *ngIf="doc_not_img"><a target='_blank' href="{{document.docUpload}}" title="View Document"
            style="font-size: 20px; color: blue; text-decoration: underline">View Document Pdf</a></div>
        <app-image-viewer *ngIf="document.docUpload && !doc_not_img" [images]="images" [idContainer]="'idOnHTML'"
          [loadOnInit]="true"></app-image-viewer> -->
          <div class="container" *ngIf="images && images.length>0">
            <app-image-viewer
              [images]="images"
              [idContainer]="'idOnHTML'" [loadOnInit]="true"
             >
            </app-image-viewer>
          </div>
        <div *ngIf="!document.docUpload">No Image Exists</div>

      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
</div>