label{
    font-size: 14px;
    padding-top: 10px;
    font-weight: normal;
}
.dropdown{
    position: relative;

}

.modal-body{
    padding: 0px 15px;
}
.agent{
    width: 100%;
    margin-left: 28%;
}
a{
    margin-left: 34%;
}
textarea{
    height: 80px;
}
.suggestions ng-star-inserted{
    overflow: auto !important;
    max-height: 150px !important;
}
auto-suggestion{
    overflow: auto !important;
    max-height: 150px !important;
}
.documentType{
    overflow: auto !important;
    max-height: 150px !important;
}
.calender{
    font-size: 25px !important;
    margin-left: -3% !important;
}
.model_left_section{
    border-right: 1px solid #ccc;
}
.modal-header{
    padding: 10px 15px;
    background-color: #263238 !important;
  }
  .modal-header h5{
    color: #fff;
  }
  .close{
    background: transparent;
    color: #fff !important;
    opacity: 1;
    padding: 10px 20px !important;
    margin: -10px -1rem -1rem auto !important;
    outline: none;
  }
//   .modal-body input,
//   .modal-body textarea,
//   .modal-body select{
//     border: 1px solid #263238 !important;
//     border-radius: 0px 2px 2px 2px;
//     padding: 3px 5px !important;
//     height: auto;
//     font-size: 12px;
//   }
  .modal-body textarea{
      height: 100px;;
  }
  .modal-body input[type=file]{
      border: 0px !important;
  }
.modal-footer{
  padding: 0px;
}
button{
    padding: 5px 12px !important;
    text-transform: capitalize !important;
    margin: 0px !important;
}
.btn-danger{
    background-color: #d61414 !important;
}
.btn-primary{
    background-color: #263238 !important;
}
.add-agent{
    margin-top: 5px;
    display: block;
    margin-bottom: 5px;
    margin-left: 29%;
}