.exel-icon{
    font-size: 30px;
    color: #217346;
}
.pdf-icon{
    font-size: 30px;
    color: #9F0001;
}
:host ::ng-deep.green {
    background-color: #0EEC0E;
}
:host ::ng-deep.red {
    background-color: #9F0001;
}
:host ::ng-deep.blue {
    color: rgb(24, 1, 233);
}