<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-sm-8">
        <h4>Trip FeedBack Logs</h4>
      </div>
      <!-- <div class="col-sm-4" style="text-align:right">
          <span class="pdf-icon" title="PDF Export" (click)="common.getPDFFromTableId('tbldocs');" style="cursor: pointer;"><i class="fa fa-file-pdf"></i></span>
          <span class="exel-icon" title="CSV Export" (click)="common.getCSVFromTableId('tbldocs')"
            style="cursor: pointer;margin-left: 10px;"><i class="fas fa-file-excel"></i></span>
        </div> -->
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
    <div class="col-sm-3">
      <input type="text" class="form-control" [value]="startDate | date : 'dd MMM yyyy'" name="date"
        placeholder="Start Date" (click)="getDate('start')">
    </div>
    <!-- <div class="col-sm-3">
      <input type="text" class="form-control" [value]="endDate | date : 'dd MMM yyyy'" name="date1"
        placeholder="End Date" (click)="getDate('end')">
    </div> -->
    <div class="col-sm-3">
      <select [(ngModel)]="status" class="form-control" [name]="status">
        <option value="-1">All</option>
        <option value="1">Verify</option>
        <option value="2">Change</option>
      </select>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary" (click)="getTripLogs()">Get Details</button>
    </div>
    </div>
    <!-- <div>
        <table class="table table-bordered table-hover" id="tbldocs">
          <thead class="thead">
            <tr style="text-align:center">
              <th>#</th>
              <th>Vehicle No</th>
              <th>Driver</th>
              <th>Origin</th>
              <th>Destination</th>
              <th>Trip Status</th>
              <th>Trip Start Date</th>
              <th>Verification</th>
            </tr>
          </thead>
  
          <tbody *ngIf="tripLogs.length!=0">
            <tr *ngFor="let tripLog of tripLogs; let i = index">
              <td>{{i + 1}}</td>
              <td>{{tripLog.r_regno}}</td>
              <td>{{tripLog.r_driver}}</td>
              <td>{{tripLog.r_origin}}</td>
              <td>{{tripLog.r_destination}}</td>
              <td>{{tripLog.r_tripstatus}}</td>
              <td>{{tripLog.r_tripstartdate}}</td>
                  <td></td>
            </tr>
          </tbody>
        </table>
        <div class="no-data alert alert-danger" role="alert" *ngIf="tripLogs.length==0">
          No Data available !
      </div>
      </div> -->
    <div>

      <smart-table *ngIf = "tripLogs.length" [data]="table.data" [settings]="table.settings"></smart-table>
      <br>
    </div>
  </nb-card-body>
</nb-card>