<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title"> {{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container" *ngIf="type=='HaltType'">
    <label class="halt-label">
      <input type="radio" name="HaltType" value="11" [(ngModel)]="HaltType" (click)="getlastHalt(11)">
      Loading
    </label>
    <label class="halt-label">
      <input type="radio" name="HaltType" value="21" [(ngModel)]="HaltType" (click)="getlastHalt(21)">
      UnLoading
    </label>
    <!-- <label class="halt-label">
      <input type="radio" name="HaltType" value="0" [(ngModel)]="HaltType" (click)="setHalt(0)">
      Others
    </label> -->
    <label class="halt-label">
      <input type="radio" name="HaltType" value="41" [(ngModel)]="HaltType" (click)="setHalt(41)">
      Food/Tea
    </label>
    <label class="halt-label">
      <input type="radio" name="HaltType" value="42" [(ngModel)]="HaltType" (click)="setHalt(42)">
      Rest
    </label>
    <label class="halt-label">
      <input type="radio" name="HaltType" value="43" [(ngModel)]="HaltType" (click)="setHalt(43)">
      Food+Rest
    </label>
    <label class="halt-label">
      <input type="radio" name="HaltType" value="51" [(ngModel)]="HaltType" (click)="setHalt(51)">
      Fuel Filling
    </label>
    <label class="halt-label">
      <input type="radio" name="HaltType" value="61" [(ngModel)]="HaltType" (click)="setHalt(61)">
      Nearby Toll
    </label>
    <label class="halt-label">
      <input type="radio" name="HaltType" value="101" [(ngModel)]="HaltType" (click)="setHalt(101)">
      Nearby Origin
    </label>
    <label class="halt-label">
      <input type="radio" name="HaltType" value="201" [(ngModel)]="HaltType" (click)="setHalt(201)">
      Nearby Destination
    </label>
    <label class="halt-label">
      <input type="radio" name="HaltType" value="301" [(ngModel)]="HaltType" (click)="setHalt(301)">
      RTO
    </label>
    <label class="halt-label">
      <input type="radio" name="HaltType" value="311" [(ngModel)]="HaltType" (click)="setHalt(311)">
      Break Down
    </label>
    <label class="halt-label">
      <input type="radio" name="HaltType" value="321" [(ngModel)]="HaltType" (click)="setHalt(321)">
      Puncture
    </label>
    <label class="halt-label">
      <input type="radio" name="HaltType" value="331" [(ngModel)]="HaltType" (click)="setHalt(331)">
      Maintenance
    </label>
    <label class="halt-label">
      <input type="radio" name="HaltType" value="401" [(ngModel)]="HaltType" (click)="setHalt(401)">
      Hisaab
    </label>
    <label class="halt-label">
      <input type="radio" name="HaltType" value="411" [(ngModel)]="HaltType" (click)="setHalt(411)">
      Documents
    </label>
    <label class="halt-label">
      <input type="radio" name="HaltType" value="501" [(ngModel)]="HaltType" (click)="setHalt(501)">
      No Entry Ahead
    </label>
    <label class="halt-label">
      <input type="radio" name="HaltType" value="601" [(ngModel)]="HaltType" (click)="setHalt(601)">
      Driver Unavailable
    </label>
    <label class="halt-label">
      <input type="radio" name="HaltType" value="701" [(ngModel)]="HaltType" (click)="setHalt(701)">
      Other Reason
    </label>
    <label class="halt-label">
      <input type="radio" name="HaltType" value="901" [(ngModel)]="HaltType" (click)="setHalt(901)">
      Unknown
    </label>
    <label class="halt-label">
      <input type="radio" name="HaltType" value="12" [(ngModel)]="HaltType" (click)="setHalt(12)">
      Reject Loading
    </label>
    <label class="halt-label">
      <input type="radio" name="HaltType" value="22" [(ngModel)]="HaltType" (click)="setHalt(22)">
      Reject UnLoading
    </label>
  </div>

  <div class="container" *ngIf="type=='SiteType'">
    <label class="halt-label">
      <input type="radio" name="SiteType" value="1" [(ngModel)]="SiteType" (click)="setSite(1)">
      Industry
    </label>
    <label class="halt-label">
      <input type="radio" name="SiteType" value="101" [(ngModel)]="SiteType" (click)="setSite(101)">
      Pump
    </label>
    <label class="halt-label">
      <input type="radio" name="SiteType" value="111" [(ngModel)]="SiteType" (click)="setSite(111)">
      Dhaba
    </label>
    <label class="halt-label">
      <input type="radio" name="SiteType" value="121" [(ngModel)]="SiteType" (click)="setSite(121)">
      FO Office Site
    </label>
    <label class="halt-label">
      <input type="radio" name="SiteType" value="131" [(ngModel)]="SiteType" (click)="setSite(131)">
      FO Workshop
    </label>
    <label class="halt-label">
      <input type="radio" name="SiteType" value="141" [(ngModel)]="SiteType" (click)="setSite(141)">
      Border
    </label>
    <label class="halt-label">
      <input type="radio" name="SiteType" value="301" [(ngModel)]="SiteType" (click)="setSite(301)">
      Toll Area
    </label>
    <label class="halt-label">
      <input type="radio" name="SiteType" value="302" [(ngModel)]="SiteType" (click)="setSite(302)">
      General Parking
    </label>
    <label class="halt-label">
      <input type="radio" name="SiteType" value="303" [(ngModel)]="SiteType" (click)="setSite(303)">
      Transport Complex
    </label>
    <label class="halt-label">
      <input type="radio" name="SiteType" value="201" [(ngModel)]="SiteType" (click)="setSite(201)">
      Other Site
    </label>
    <label class="halt-label">
      <input type="radio" name="SiteType" value="901" [(ngModel)]="SiteType" (click)="setSite(901)">
      Unknown
    </label>

  </div>

  <div class="container" *ngIf="type=='StateType'">
    <label class="halt-label">
      <input type="radio" name="StateType" value="1" [(ngModel)]="StateType" (click)="setState(1)">
      Loading
    </label>
    <label class="halt-label">
      <input type="radio" name="StateType" value="2" [(ngModel)]="StateType" (click)="setState(2)">
      Onward
    </label>
    <label class="halt-label">
      <input type="radio" name="StateType" value="3" [(ngModel)]="StateType" (click)="setState(3)">
      Unloading
    </label>
    <label class="halt-label">
      <input type="radio" name="StateType" value="4" [(ngModel)]="StateType" (click)="setState(4)">
      Available
    </label>
    <label class="halt-label">
      <input type="radio" name="StateType" value="301" [(ngModel)]="StateType" (click)="setState(301)">
      Accident
    </label>
    <label class="halt-label">
      <input type="radio" name="StateType" value="311" [(ngModel)]="StateType" (click)="setState(311)">
      Break Down
    </label>
    <label class="halt-label">
      <input type="radio" name="StateType" value="321" [(ngModel)]="StateType" (click)="setState(321)">
      Maintenance
    </label>
    <label class="halt-label">
      <input type="radio" name="StateType" value="331" [(ngModel)]="StateType" (click)="setState(331)">
      Waiting for Load
    </label>
    <label class="halt-label">
      <input type="radio" name="StateType" value="341" [(ngModel)]="StateType" (click)="setState(341)">
      Driver Unavailable
    </label>
    <label class="halt-label">
      <input type="radio" name="StateType" value="401" [(ngModel)]="StateType" (click)="setState(401)">
      RTO Issue
    </label>
    <label class="halt-label">
      <input type="radio" name="StateType" value="411" [(ngModel)]="StateType" (click)="setState(411)">
      Driver Related Issue
    </label>
    <label class="halt-label">
      <input type="radio" name="StateType" value="421" [(ngModel)]="StateType" (click)="setState(421)">
      Traffic Issue
    </label>
    <label class="halt-label">
      <input type="radio" name="StateType" value="431" [(ngModel)]="StateType" (click)="setState(431)">
      Documents Issue
    </label>
    <label class="halt-label">
      <input type="radio" name="StateType" value="0" [(ngModel)]="StateType" (click)="setState(0)">
      Others
    </label>

  </div>


</div>
<div class="modal-footer">
  <div class="row">
    <div class="col">
      <button class="btn btn-danger" type="button" outline (click)="closeModal()" id="cancel"
        style="cursor: pointer;">Cancel</button>
    </div>
    <div class="col text-right">
      <button class="btn btn-primary" type="button" outline (click)="submitModal()" id="submit"
        style="cursor: pointer;">OK</button>
    </div>
  </div>
</div>