.holdContainer {
    height: calc(100vh - 180px);
    border: groove;
    padding: 20px;
    overflow: auto;
}
.placeContainer {
    height: calc(100vh - 180px);
    border: groove;
    padding: 20px;
}

.dataelements {
    background: lightgray;
    padding: 15px;
    text-align: center;
    margin-top: 2px;
}

.reports-container {
    position: relative;
    overflow: hidden;
    // border: 2px solid black;
    height: 80vh;
    .report {
        // resize: both;
        position: absolute;
        overflow: hidden;
        // border: 2px solid black;
        background: #fefefe;
        width: 300px;
        height: 300px;
        .report-container{
            position: relative;
            .report-close{
                position: absolute;
                right: -1px;
                top: -2px;
                background: #fff;
                z-index: 99999;
                font-size: 20px;
                cursor: pointer;
            }
        }
    }
}

.add-button {
    position: fixed;
    bottom: 10px;
    right: 150px;
    border-radius: 100% !important;
    padding: 0 0 2px 0 !important;
    //font-size: 20px;
    -webkit-box-shadow: 3px 2px 10px #989898;
    box-shadow: 3px 2px 10px #989898;
    cursor: pointer !important;
    width: 40px;
    height: 40px;
    color: #fff;
  }