<nb-card style="border:0px;">
    <nb-card-header class="p-2">
        <div class="row">
            <div class="col-3">
                <h5>Business Dashboard</h5>
            </div>
            <div class="col-2">
                <uj-date-time-picker (onChanged)="startDate = $event" [dateTimeValue]="startDate" [isTime]="false">
                </uj-date-time-picker>
            </div>
            <div class="col-2">
                <uj-date-time-picker (onChanged)="endDate = $event" [dateTimeValue]="endDate" [isTime]="false">
                </uj-date-time-picker>
            </div>
            <div class="col-2">
                <button class="btn btn-primary" (click)="getReport()">Get Report</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary" (click)="editReport()"><i class="fa fa-plus"></i></button>
            </div>
            <div class="col-2">
                <button class="btn btn-primary" (click)="editReport(true)">Edit Report</button>
            </div>
        </div>
        <div class="toptab" *ngIf="tabsdata">
            <!-- <div class="col-2" >
                <span>General</span>
            </div> -->
            <div *ngFor="let dynareport of tabsdata;let i = index " class="hiddenby">
                <div class=" hiddenby" *ngIf="dynareport.rpt_tabname != 'General'">
                    <p class="default" (click)="callreport(dynareport)">{{dynareport[0].rpt_tabname}}</p>
                </div>
            </div>

        </div>

    </nb-card-header>

    <nb-card-body>
        <div class="jrx-container">
            <div class="reports-container" id="reports" [style.height]="containerHeight + 'px' "
                [style.width]="containerWidth + 'px'">
                <!-- <div class="report" *ngFor="let report of reports;let i = index" [id]="'xreport-' + report._id"
                [style.width]="report.style.width" [style.height]="report.style.height" [style.top]="report.style.y"
                [style.left]="report.style.x">
                <div class="report-container">
                    <dynamic-report [savedReportSelect]="report" [startDate]="assign.startDate" [endDate]="assign.endDate"></dynamic-report>
                </div>
            </div> -->

                <div class="report" *ngFor="let dynamicreportcallreport of dynamicreportcall;let i = index"
                    [id]="'xreport-' + dynamicreportcallreport._id" [style.width]="dynamicreportcallreport.style.width"
                    [style.height]="dynamicreportcallreport.style.height" [style.top]="dynamicreportcallreport.style.y"
                    [style.left]="dynamicreportcallreport.style.x">
                    <div class="report-container">
                        <dynamic-report [savedReportSelect]="dynamicreportcallreport" [startDate]="assign.startDate"
                            [endDate]="assign.endDate"></dynamic-report>
                    </div>
                </div>

                <div class="report" *ngFor="let challanWidget of usedChallanWidgtets"
                    [style.width]="challanWidget.rpt_width + 'px'" [style.height]="challanWidget.rpt_height + 'px'"
                    [style.top]="challanWidget.y_pos + 'px'" [style.left]="challanWidget.x_pos + 'px'">
                    <div class="report-container">
                        <challan-trends *ngIf="challanWidget.type == 'challan-trend'"></challan-trends>
                        <state-wise *ngIf="challanWidget.type == 'state-wise'"></state-wise>
                        <worst-drivers *ngIf="challanWidget.type == 'worst-drivers'"></worst-drivers>
                        <most-aged *ngIf="challanWidget.type == 'most-aged'"></most-aged>
                        <latest *ngIf="challanWidget.type == 'latest'"></latest>
                        <worst-drivers-years *ngIf="challanWidget.type == 'worst-drivers-years'"></worst-drivers-years>
                        <trip-onward-kmpd *ngIf="challanWidget.type == 'trip-onward-kmpd'"></trip-onward-kmpd>
                        <avg-loading *ngIf="challanWidget.type == 'avg-loading'"></avg-loading>
                        <avg-unloading *ngIf="challanWidget.type == 'avg-unloading'"></avg-unloading>
                        <worst-vehicles *ngIf="challanWidget.type == 'worst-vehicles'"></worst-vehicles>
                        <longest-loading *ngIf="challanWidget.type == 'longest-loading'"></longest-loading>
                        <longest-unloading *ngIf="challanWidget.type == 'longest-unloading'"></longest-unloading>
                        <slowest-onward *ngIf="challanWidget.type == 'slowest-onward'"></slowest-onward>
                        <longest-unloading-sites *ngIf="challanWidget.type == 'longest-unloading-sites'"></longest-unloading-sites>
                        <gps-performance *ngIf="challanWidget.type == 'gps-performance'"></gps-performance>
                        <live-traffic-status *ngIf="challanWidget.type == 'live-traffic-status'"></live-traffic-status>
                        <longest-driver-unavailable *ngIf="challanWidget.type == 'longest-driver-unavailable'"></longest-driver-unavailable>
                        <longest-gps-offline *ngIf="challanWidget.type == 'longest-gps-offline'"></longest-gps-offline>
                        <top-vehicle-rto *ngIf="challanWidget.type == 'top-vehicle-rto'"></top-vehicle-rto>
                        <longest-loading-sites *ngIf="challanWidget.type == 'longest-loading-sites'"></longest-loading-sites>
                        <longest-unloading-offline *ngIf="challanWidget.type == 'longest-unloading-offline'"></longest-unloading-offline>
                        <slowest-onward-veicles *ngIf="challanWidget.type == 'slowest-onward-veicles'"></slowest-onward-veicles>
                        <longest-empty-vehicle *ngIf="challanWidget.type == 'longest-empty-vehicle'"></longest-empty-vehicle>
                        <drivercontacted *ngIf="challanWidget.type == 'drivercontacted'"></drivercontacted>
                        <supervisor-wise-unrespond *ngIf="challanWidget.type == 'supervisor-wise-unrespond'"></supervisor-wise-unrespond>
                        <unrespond-driver-calls *ngIf="challanWidget.type == 'unrespond-driver-calls'"></unrespond-driver-calls>
                        <worst-driver *ngIf="challanWidget.type == 'worst-driver'"></worst-driver>
                        <avg-loading-tat *ngIf="challanWidget.type == 'avg-loading-tat'"></avg-loading-tat>
                        <calls-onward-kmpd *ngIf="challanWidget.type == 'calls-onward-kmpd'"></calls-onward-kmpd>
                        <avg-unloading-tat *ngIf="challanWidget.type == 'avg-unloading-tat'"></avg-unloading-tat>
                        

                    </div>
                   
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>