<nb-card style="border:0px;">
    <nb-card-header>
        <h5>Dynamic Report Dashboard</h5>
    </nb-card-header>

    <nb-card-body>

        <div class="row" style="margin-top: 5px;">
            <div class="col-2">
                <div class="holdContainer">
                    <div class="dataelements" *ngFor="let report of reports;let i = index" [hidden]="report.isUsed">
                        <span>{{report.name}}</span>
                        <i class="fa fa-plus" (click)="report.isUsed = true"></i>
                    </div>
                </div>
            </div>

            <div class="col-10 reports-container">
                <div class="report draggable" *ngFor="let report of reports;let i = index" [hidden]="!report.isUsed"
                    [id]="'report-' + report._id">
                    <div class="report-container">
                        <dynamic-report [savedReportSelect]="report"></dynamic-report>
                        <i class="fa fa-window-close report-close" (click)="report.isUsed = false"></i>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>