:host ::ng-deep .i-red-cross {
    color: red;
    margin-left: 10px;
  }
  :host ::ng-deep .i-gray{
      color:grey;
  }
  :host ::ng-deep .i-green {
      margin-left: 10px;
    color: green;
  }

  :host ::ng-deep .icon {
    padding: 5px;
    font-size: 18px !important;   
    border: 1px solid gray;
    border-radius: 50%;

  }
  button { 
    padding: 7px 10px !important;
    background-color: #263238;
    border-radius: 5px !important;
    text-transform: capitalize !important;
    cursor: pointer;
    outline: none;
    box-shadow: none;
}
.tjr-button {
  cursor: pointer;
  margin-top: 18px;
  background: #263238 !important;
  height: auto;
  border-radius: 3px !important;
  padding: 3px 8px !important;
}