<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Change Vehicle Status</h4>
    <div style="margin-left:15%">
        <span><b>VehicleNo : </b> {{VehicleStatusData.regno}}</span> &nbsp;&nbsp;
        <span><b>VehicleId : </b> {{VehicleStatusData.vehicle_id}}</span> &nbsp;&nbsp;
       <span><b>Last Ind Type : </b> {{lastIndType}} &nbsp;&nbsp; {{distDiff}}&nbsp;&nbsp; {{timeDiff}}</span> 
        
    </div>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
   
  </div>
  <div class="modal-body">
    <div class="col-sm-2"></div>
    <div style="margin-bottom:20px">
      <button (click)="showHalt()" style="margin-left:20px">Show Halt</button>
      <button (click)="showTrail()" style="margin-left:20px">Show Trail</button>
      <button (click)="showHide()" style="margin-left:20px">{{showHideSite}}</button>
      <button (click)="beforeLatchTime()" style="margin-left:20px">Before ltime</button>
      <span style="margin-left:150px">
          <span class="zoom-btn" (click)="setZoom(6)">1</span>
          <span class="zoom-btn" (click)="setZoom(9)">2</span>
          <span class="zoom-btn" (click)="setZoom(12)">3</span>
          <span class="zoom-btn" (click)="setZoom(15)">4</span>
          <span class="zoom-btn" (click)="setZoom(18)">5</span>
      </span>
        </div>
     
      
      <div class="col-sm-3">
          <div style="height: 480px; overflow: auto; width: 100%;">
          <table class="table table-bordered table-hover">
              <tbody>
               <tr>
                 <th>Dt</th>
                 <th>Loc</th>
                 <th>Dist</th>
                 <th>Days</th>
                 <th>HT</th>
               </tr>
               <tr  *ngFor="let lUL of loadingUnLoading;let i = index; ">
                  <td>{{lUL.date}}</td>
                  <td>{{lUL.loc}}</td>
                  <td>{{lUL.distance}}</td>
                  <td>{{lUL.days}}</td>
                  <td>{{lUL.y_halt_desc}}</td>

                </tr>
              </tbody>
            </table>
            </div>
      </div>
          <div class="col-sm-3">
        <div style="height: 480px; overflow: auto; width: 100%;" >
              <table class="table table-bordered table-hover" style = "border:1px gray solid">
                  <tbody>
                   <tr>
                     <th>#</th>
                     <th>Date</th>
                     <th>Time</th>
                     <th>Dist</th>
                     <th>KM/h</th>
                     <th>CS</th>
                     <th>CHT</th>
                   </tr>
                   <tr *ngFor="let vehicleEvent of vehicleEvents;let i = index; " [ngStyle]="vehicleEvent.desc!='Trails'?{'background-color':'#'+vehicleEvent.color}:{'background-color':'#'+ffffff}" (mouseover)="toggleBounceMF(i)" (mouseout)="toggleBounceMF(i,2)">
                      <td (click)="zoomFunctionality(i,vehicleEvent)" >{{i+1}}</td>
                      <td (click)="zoomFunctionality(i,vehicleEvent)">{{vehicleEvent.date}}</td>
                      <td (click)="zoomFunctionality(i,vehicleEvent)">{{vehicleEvent.timeShort}}</td>
                      <td (click)="zoomFunctionality(i,vehicleEvent)">{{vehicleEvent.distance}}</td>
                      <td (click)="zoomFunctionality(i,vehicleEvent)">{{vehicleEvent.kmph}}</td>
                      <td><button (click)="openChangeHaltModal(vehicleEvent,'SiteType')" *ngIf="vehicleEvent.desc!='Trails'&& !vehicleEvent.y_site_id" ><i class="fa fa-plus"></i></button></td>
                      <td><button (click)="openChangeHaltModal(vehicleEvent,'HaltType')"  *ngIf="vehicleEvent.desc!='Trails'">{{vehicleEvent.y_halt_desc}}</button></td>
                    </tr>
                  </tbody>
                </table>
                </div>
    <div style="margin-top:30px;margin-bottom:50px;text-align: center" >
      <button (click)="reviewComplete(1)" style="padding:5px">Review Done</button>
      <button (click)="reviewComplete(-1)" style="padding:5px ; margin-left:20px" >Advanced Review</button></div>

          </div>
    <div class="map-container col-sm-6">
       
      <div #map id="map" style="margin-left:10px"> </div>
      
    </div>
  </div>