.map-container {
    width: 100%;
    height: 470px;
    position: relative;
}

#map1 {
    height: 100%;
    width: 100%;
    z-index: 1;
}

.zoom-container {
    position: absolute;
    z-index: 999;
    right: 15px;
    bottom: 100px;
    width: 30px;
}

.time-line-event{
    position: absolute;
    width: 100%;
}
.time-line-event .time-line-scale{
    position: relative;
    width: 98%;
    border-bottom: 1px solid black;
    top: 4px;
}
.time-line-event .time-line-circle{
    position: absolute;
    height: 10px;
    top:50%;
    background-color: aqua;
}

.zoom-btn {
    display: inline-block;
    background: black;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    margin: auto;
    line-height: 30px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgb(143, 136, 155);
    margin-bottom: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.zoom-btn:active {
    background: #fff;
    color: orange;
}

.nb-theme-corporate .modal-content {
    min-height: 500px;
}

.example-list {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
}

.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tableFixHead {
    overflow-y: auto;
    height: 70vh;
}

.tableFixHead th {
    position: sticky;
    top: 0;
    background: #fff;
}
.halts-show{
    thead{
        th{
            padding: 2px 5px;
            font-size: 12px;
            font-weight: bold;
        }
    }
    tbody{
        tr{
            td{
                font-size: 12px;
                padding: 2px 5px;
            }
        }
    }
}