nb-card-header{
    padding: 10px 15px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}
nb-card-body{
    padding:10px 15px;
}
:host ::ng-deep.tableFixHead {
    height: auto !important;
    max-height: calc(100vh - 156px);
}
:host ::ng-deep.tableFixHead.paginaion_conditon {
    max-height: calc(100vh - 192px) !important;
}

.btn-primary{
    border-radius: 3px;
    border: 0px;
    text-transform: capitalize;
    float: left;
    padding: 8px 15px;
    width: 100%;
}

.pdf-icon{
    font-size: 30px;
    color: #9F0001;
}
.exel-icon{
    font-size: 30px;
    color: #217346;
}

:host ::ng-deep.rotate {
    transform: rotate(-90.0deg);
    -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
      -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
 -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
            filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
}
:host ::ng-deep.black{
    height: 130px;
    text-align: center;
}
:host ::ng-deep {
    th {
        width: 135px !important;
    }
}
:host ::ng-deep {
    th:nth-child(1) {
        width: 30px !important;
    }

    th:nth-child(2) {
        width: 100px;
    }

}
:host ::ng-deep {
    td {
        width: 135px !important;
    }
}
:host ::ng-deep {
    td:nth-child(1) {
        width: 30px !important;
    }

    td:nth-child(2) {
        width: 100px;
    }
.green{
    color: green;
    font-weight: 600;
}
.red{
    color: red;
    font-weight: 600;
}
.purple{
    color: #ff00f7;
    font-weight: 600;
}
.blue{
    color: blue;
    font-weight: 600;
}
}