<nb-card style="border:0px;">
  <nb-card-header>
    <div class="row">
      <div class="col-2">
        <h5>Trip Feedback Logs</h5>
      </div>

      <div class="col-3">
        <div *ngIf="activitySummary.length>0">
          <span>
            <span class="pdf-icon" title="PDF Export" (click)="printPDF('feedbackLogs')" style="cursor: pointer;"><i
                class="fa fa-file-pdf"></i></span>
            <span class="exel-icon" title="CSV Export" (click)="printCsv('feedbackLogs')"
              style="cursor: pointer;margin-left: 10px;"><i class="fas fa-file-excel"></i></span>
          </span>
        </div>
      </div>
      <div class="col-7">
        <div class="row">
          <div class="col-sm-3">
            <uj-date-time-picker (onChanged)="startDate = $event" [dateTimeValue]="startDate"  [isTime]=false>
            </uj-date-time-picker>
            <!-- <input type="text" class="form-control" [value]="startDate | date: 'dd MMM yyyy'" name="date"
              placeholder="Start Date" (click)="getDate('start')" /> -->
          </div>
          <div class="col-sm-3">
            <uj-date-time-picker (onChanged)="endDate = $event" [dateTimeValue]="endDate"  [isTime]=false  [isStart]=false>
            </uj-date-time-picker>
            <!-- <input type="text" class="form-control" [value]="endDate | date: 'dd MMM yyyy'" name="date1"
              placeholder="End Date" (click)="getDate('end')" /> -->
          </div>
          <div class="col-sm-3">
            <div class="search_vehicle_input">
              <auto-suggestion (onSelected)="getvehicleData($event)" url="Vehicles/getVehicleListForFoid"
                display="regno" placeholder="Enter Vehicle Number" style="width:60%;"></auto-suggestion>
            </div>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-primary m-0" (click)="getFeedbackLogs()">submit</button>
          </div>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <!-- <div class="no-data alert alert-danger" role="alert" *ngIf="activitySummary.length==0">
      No Data Available On That Time Period !
    </div> -->

    <div>
      <smart-table *ngIf="activitySummary && activitySummary.length" [data]="table.data" [settings]="table.settings"
        id="feedbackLogs">
      </smart-table>
    </div>

  </nb-card-body>
</nb-card>