<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-6 table">
        <table>
          <tbody>
            <tr>
              <td>
                <input type="text" (keydown.enter)="loadLatLong()" placeholder="Move to.." id="moveLoc"
                  [(ngModel)]="moveLoc" class="form-control">
              </td>
              <td>
                <input placeholder="Old Site Id" [(ngModel)]="mergeSiteId" class="form-control">
              </td>
              <td>
                <button style="display: inline-block; margin-right: 5px;" (click)="mergeSite()"
                  class="btn btn-primary">Merge</button>
                <i class="fa fa-pencil-ruler fa-2x construct" (click)="toggleConstruction()"
                  [ngClass]="{'grey' : !isContruct, 'active' : isContruct}"></i>
              </td>

            </tr>
            <tr>
              <td>
                <select class="form-control" [(ngModel)]="typeId" (change)="getRemainingTable()">
                  <option *ngFor="let typeIdx of typeIds;" [value]="typeIdx.id">{{typeIdx.description}}</option>
                </select>
              </td>
              <td>
                <input (keydown.enter)="gotoSingle()" placeholder="Site Id" [(ngModel)]="selectedSite"
                  class="form-control">
              </td>
              <td>
                <button (click)="ignoreSite()" class="btn btn-primary">Ignore</button>
                <button routerLink="/admin/halt-density" class="btn btn-primary ml-1">Buff</button>                
              </td>

            </tr>
            <tr>
              <td>
                <button (click)="clearAll()" class="btn btn-primary mr-1">Clear</button>
                <button (click)="showHeat();" class="btn btn-primary">{{isHeatAble?'HH':'SH'}}</button>
              </td>
              <td>
                <button (click)="loadMarkers()" class="btn btn-primary"
                  style="display: inline-block; margin-right: 5px;  ">Load Marker</button>
                <button (click)="updateSiteName();" class="btn btn-primary">U.S</button>

              </td>
              <td>
                <button (click)="enterTicket();"
                  class="btn btn-primary">{{mapService.isDrawAllow ? 'Finish Fencing' :'Create Fencing'}}</button>
              </td>
            </tr>
            <tr>
              <td>
                <input placeholder="Site Name.." [(ngModel)]="siteName" class="form-control">
              </td>
              <td>
                <input placeholder="Site LocName.." id="siteLoc" [(ngModel)]="siteLoc" class="form-control">
              </td>
              <td>
                <button (click)="updateLocName(); " class="btn btn-primary">Update Loction</button>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <div style="text-align:center">
                  <span>
                    <span class="zoom-btn" (click)="mapService.zoomMap(6)">1</span>
                    <span class="zoom-btn" (click)="mapService.zoomMap(9)">2</span>
                    <span class="zoom-btn" (click)="mapService.zoomMap(12)">3</span>
                    <span class="zoom-btn" (click)="mapService.zoomMap(15)">4</span>
                    <span class="zoom-btn" (click)="mapService.zoomMap(18)">5</span>
                  </span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="tbl table table-bordered table-hover">
          <thead class="thead">
            <tr>
              <th style="width:40px;">S.No</th>
              <th style="width:40px;">Id</th>
              <th>Name</th>
              <th>Hot Count</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let remainingElement of remainingList;let i = index;">
              <td style="width:40px;">{{i+1}}</td>
              <td style="width:40px;">{{remainingElement.id}}</td>
              <td>{{remainingElement.name}}</td>
              <td>{{remainingElement.hotcnt || '0'}}</td>
              <td (click)="selectedSite = remainingElement.id;gotoSingle();">Action</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="site-fencing-map" class="map col-6">
      </div>
    </div>

  </nb-card-body>
</nb-card>