.thead{
    background-color: #363232;
    color: #ffffff;
    font-size: 12px;
}
:host::ng-deep.table{
    font-size : 11px;
    font-weight: 600;
}
:host::ng-deep.table tr td{
    padding : 2px !important
}
:host::ng-deep.table thead th{
    padding : 2px !important;
    font-size : 11px !important;
}