<nb-card style="border: 0px;">
  <!-- <nb-card-header>
    <div class="row">
      <div class="col-sm-6">
        <h6>TMG-Challan</h6>
      </div>
    </div>
  </nb-card-header> -->
  <nb-card-body>
    <div class="row mb-2">
      <div class="col-7">
        <div>
          <h6 style="text-align:center"><b>Last 6 Months Trend</b></h6>
          <!-- <chart [type]="chart.type" [data]="chart.data" style="margin-right:5px;min-height: 350px;max-height: 350px;"
          [options]="chart.options"></chart> -->
          <chart *ngIf="chart.type" [type]="chart.type" [data]="chart.dataSet" style="margin-right:5px;min-height: 300px;max-height: 300px;"
          [options]="chart.options">
      </chart>
        </div>
      </div>
      <div class="col-5">
        <div>
          <h6 style="text-align:center"><b>State Wise Challans in Last 30 Days</b></h6>
          <table class="table table-bordered">
            <thead class="thead">
              <th>State</th>
              <th colspan="2">Paid</th>
              <th colspan="2">Pending</th>
            </thead>
            <tbody class="tbody">
              <tr *ngFor="let csw of challanStateWise">
                <td>{{csw['state']}}</td>
                <td>{{csw['Paid Challan Count']}}</td>
                <td>{{csw['Paid Amount']}}</td>
                <td>{{csw['Pending Challan Count']}}</td>
                <td>{{csw['Pending']}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <h6 style="text-align:center"><b>Worst 3 Drivers(Count Wise) </b></h6>
          <table class="table table-bordered">
            <thead class="thead">
              <th>Driver Name</th>
              <th>Challan Count</th>
            </thead>
            <tbody class="tbody">
              <tr *ngFor="let cdc of challansdrivarcount">
                <td>{{cdc['Driver']}}</td>
                <td>{{cdc['Challan Count']}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-3">
        <div>
          <h6 style="text-align:center"><b>Most Aged Challans (Pending)</b></h6>
          <table class="table table-bordered">
            <thead class="thead">
              <th>Vehicle No.</th>
              <th>Amount</th>
              <th>Due Days</th>
            </thead>
            <tbody class="tbody">
              <tr *ngFor="let cma of challansMostAged">
                <td>{{cma['Vehicle No']}}</td>
                <td>{{cma['Amount']}}</td>
                <td>{{cma['Due Days']}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-4">
        <div>
          <h6 style="text-align:center"><b>Latest Challans</b></h6>
          <table class="table table-bordered">
            <thead class="thead">
              <th>Challan Date</th>
              <th>Vehicle No.</th>
              <th>Amount</th>
             <th>Status</th>
            </thead>
            <tbody class="tbody">
              <tr *ngFor="let cl of challansLatest">
                <td>{{cl['Challan Date']}}</td>
                <td>{{cl['Vehicle No']}}</td>
                <td>{{cl['Amount']}}</td>
                <td>{{cl['Status']}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-5">
        <div>
          <h6 style="text-align:center"><b>Worst 3 Drivers(Amount Wise) </b></h6>
          <table class="table table-bordered">
            <thead class="thead">
              <th>Driver Name</th>
              <th>Challan Amount</th>
            </thead>
            <tbody class="tbody">
              <tr *ngFor="let cda of challansdrivaramount">
                <td>{{cda['Driver']}}</td>
                <td>{{cda['Challan Amount']}}</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>