<nb-card>
    <nb-card-header>
      <h2>Vehicle Tyre Position Master</h2>
    </nb-card-header>
  
    <nb-card-body>
      <div class="row">
        <div class="col-sm-1"> </div>
        <div class="col-sm-2"><label class="label1"><b>Vehicle Type </b> </label> </div>
        
        <div class="col-sm-2">
          <select [(ngModel)] = "vehicleType" class="form-control" required (change)="resetVehDetails()">
          <option value="truck">Truck</option>
          <option value="trolly">Trolly</option>
        </select>
        </div>
        <div class="col-sm-1"><label><b>Vehicle No.</b></label></div>
        <div class="col-sm-2 ">
          <input id="vehicleNo" name="vehicleNo" type="text" placeholder=" Enter Vehicle No" (input)="searchVehicles()"
            autocomplete="off" class="form-control" [(ngModel)]="searchVehicleString">
          <div>
            <ul *ngIf=" (vehicleSuggestion)&&(vehicles.length >  0)">
              <li *ngFor="let vehicle of vehicles;" (click)="selectVehicle(vehicle)">
                {{ vehicle.regno}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div style="margin-top:20px">
          <table class="table table-bordered table-hover" *ngIf="vehicleDetails">
            <thead class="thead">
              <tr>
                <th># </th>
                <th>Axel No </th>
                <th>Left</th>
                <th></th>
                <th>Right</th>
                
              </tr>
    
            </thead>
            <tbody>
              <tr *ngFor="let vehicleDetail of vehicleDetails; let i = index;">
                <td>{{i+1}}</td>
                <td>{{vehicleDetail.axel}}</td>
                <td>
                  <div><input id="left_1" name="left_1" type="checkbox" autocomplete="off" class="tyre" 
                  [(ngModel)]="vehicleDetail.left_1" >
                  <input id="left_2" name="left_2" type="checkbox" autocomplete="off" class="tyre"
                  [(ngModel)]="vehicleDetail.left_2"></div></td>
                  <td>
                    
                  </td>
                  <td><input id="right_1" name="right_1" type="checkbox" autocomplete="off" class="tyre"
                    [(ngModel)]="vehicleDetail.right_1" >
                    <input id="right_2" name="right_2" type="checkbox" autocomplete="off" class="tyre"
                    [(ngModel)]="vehicleDetail.right_2"></td>
              </tr>
            </tbody>
          </table>
        </div>
    </nb-card-body>
  </nb-card>