nb-card-header{
  padding: 10px 15px;
  border: 1px solid #efefef;
  margin-bottom: 10px;
}
.pdf-icon{
    font-size: 30px;
    color: #9F0001;
  }
  .exel-icon{
    font-size: 30px;
    color: #217346;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
 
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
 
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  table{
    thead{
        display: table;
        width: 100%;
        table-layout: fixed;
        background-color: #263238;
        color: #fff;
    }
    tr{
      th:nth-child(1){
        width: 50px;
      }
      th{
        width: 250px;
      }
      td:nth-child(1){
        width: 50px;
      }
      td{
          width: 250px;
      }
      th:last-child{
        width: auto;
      }
      td:last-child{
          width: auto;
          word-break:break-all;
      }
    }
    tbody{
        overflow-y: auto;
        display: block;
        width: 100%;
        table-layout: fixed;
        overflow: auto;
        max-height: calc(100vh - 210px);
        tr{
            display: table;
            table-layout: fixed;
            width: 100%;
        }
        tr:nth-child(odd){
            background-color: #fff;
        }
        tr:nth-child(even){
            background-color: #e4e4e4;
        }
    }
 }
 
 :host ::ng-deep.blue {
    color: blue;
    font-weight: 700;
    cursor: pointer;
 }
 :host ::ng-deep.black {
    color: black;
 
 }
 .tbody-two tr{
  color: #fff;
  background-color: #616161 !important;
 }
 .tbody-three tr{
  color: #fff;
  background-color: #000 !important;
 }