nb-card-header{
  padding: 10px 15px;
  border: 1px solid #efefef;
  margin-bottom: 10px;
}
.pdf-icon{
    font-size: 20px;
    color: #9F0001;
  }
  .exel-icon{
    font-size: 20px;
    color: #217346;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
 
  td, th {
    // border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
  }
 
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  table{
    thead{
        display: table;
        width: 100%;
        table-layout: fixed;
        background-color: #263238;
        color: #fff;
    }
    tr{
      th:nth-child(1){
        width: 50px;
      }
      th{
        width: 250px;
      }
      td:nth-child(1){
        width: 50px;
      }
      td{
          width: 250px;
      }
      th:last-child{
        width: auto;
      }
      td:last-child{
          width: auto;
          word-break:break-all;
      }
    }
    tbody{
        overflow-y: auto;
        display: block;
        width: 100%;
        table-layout: fixed;
        overflow: auto;
        max-height: calc(100vh - 210px);
        tr{
            display: table;
            table-layout: fixed;
            width: 100%;
        }
        tr:nth-child(odd){
            background-color: #fff;
        }
        tr:nth-child(even){
            background-color: #e4e4e4;
        }
    }
 }
 
 :host ::ng-deep.blue {
    color: blue;
    font-weight: 700;
    cursor: pointer;
 }
 :host ::ng-deep.black {
    color: black;
 
 }
 .tbody-two tr{
  color: #000;
  background-color:lightgrey!important;
 }
 .tbody-three tr{
  color: #000;
  background-color: darkgrey !important;
 }



 .float{
  float:right;
}

 :host ::ng-deep .tableFixHead th{
  background:#E5F3F9!important;
}

:host ::ng-deep .tableFixHead{
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 // overflow:hidden!important;
}

:host ::ng-deep tbody tr:nth-child(even){
  background:#EDF1F7!important;
}

:host ::ng-deep tbody tr:nth-child(odd){
 background:#f5f5f538 !important;
}

:host ::ng-deep .table-bordered {
  border:none!important;
  border-width:0!important;
}

:host ::ng-deep tbody tr td{
  border:none!important
}

:host ::ng-deep thead tr th{
  border:none!important;
}

:host ::ng-deep .filter-container{
  border-radius:23px!important;
}
:host ::ng-deep table thead{
  background:#E5F3F9!important;
  color:#000!important;
  border-top-left-radius:5px!important;
  border-top-right-radius:5px!important;
}
// :host ::ng-deep .tbody-two tr td .one{
//   width:363px;
// }

// :host ::ng-deep .tbody-two tr td .two{
//   width:250px;
// }

// :host ::ng-deep .tbody-two tr td .three{
//   width:250px;
// }