<nb-card>
  <nb-card-header>
    <div style="border-bottom-left-radius:5px;border-bottom-right-radius:5px; box-shadow: 5px 10px 54px 0px whitesmoke;" class="ml-4 mr-4 pb-4">
    <div class="row m-0" style="width:100%;background-color: #E5F3F9;border-top-right-radius: 5px; border-top-left-radius:5px;display:inline-block">
      <h5 class="p-2" style="font-weight:bold; display: inline-block;">Card Balance</h5>

      <div style="display:inline-block;" class="p-2 float">
        <span style="display: block;">
          <span class="pdf-icon" title="PDF Export" (click)="printPDF();" style="cursor: pointer;"><i
              class="fa fa-file-pdf"></i></span>
          <span class="exel-icon" title="CSV Export" (click)="printCSV();"
            style="cursor: pointer;margin-left: 5px;"><i class="fas fa-file-excel"></i></span>
        </span>
      </div>
    </div>
    </div>
  </nb-card-header>

  <nb-card-body style="width:96%;margin-left:2%;">
    <div>
      <table class="table table-bordered table-hover" id="cardBalance">
        <thead class="thead">
          <tr>
            <th>#</th>
            <th>Vehicle</th>
            <th style="text-align: center;">BPCL</th>
            <th style="text-align: center;">HPCL</th>
            <th style="text-align: center;">ATM</th>
            <th style="text-align: center;">Tolls</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cardBalance of data;let i = index">
            <td scope="row">{{i+1}}</td>
            <td>{{cardBalance.vehicle}}</td>
            <td style="text-align: center;">{{cardBalance.bpcl}}</td>
            <td style="text-align: center;">{{cardBalance.hpcl}}</td>
            <td style="text-align: center;">{{cardBalance.atm}}</td>
            <td style="text-align: center;">{{cardBalance.tolls}}</td>
          </tr>
        </tbody>

        <tbody class="tbody-two" *ngIf="data.length">
          <tr>
            <td></td>
            <td> Subtotal</td>
            <td style="text-align: center;padding-right:12px;">{{sum.bpcl}}</td>
            <td style="text-align: center; padding-right:10px;" >{{sum.hpcl}}</td>
            <td style="padding-right:185px;padding-left:97px;">{{sum.atm}}</td>
            <td style="padding-right:64px;">{{tollTotal}}</td>
          </tr>
        </tbody>
        <!-- </table>
        <table id="cardUsage"> -->
        <tbody class="tbody-three" *ngIf="data.length">
          <tr>
            <td></td>
            <td style="width:285px;">Total</td>
            <td style="padding-left:80px!important; width:431px;">{{total}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>












<!-- <nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-6">
        <h4>Card Balance</h4>
      </div>
      <div class="col-6 text-right">
        <span class="pdf-icon" title="PDF Export" (click)="printPDF('cardBalance');" style="cursor: pointer;"><i
            class="fa fa-file-pdf"></i></span>
        <span class="exel-icon" title="CSV Export" (click)="printCSV('cardBalance')"
          style="cursor: pointer;margin-left: 5px;"><i class="fas fa-file-excel"></i></span>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div>
      <table class="table table-bordered table-hover" id="cardBalance">
        <thead class="thead">
          <tr>
            <th>#</th>
            <th>Vehicle</th>
            <th style="text-align: center;">BPCL</th>
            <th style="text-align: center;">HPCL</th>
            <th style="text-align: center;">ATM</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cardBalance of data;let i = index">
            <td scope="row">{{i+1}}</td>
            <td>{{cardBalance.vehicle}}</td>
            <td style="text-align: center;">{{cardBalance.bpcl}}</td>
            <td style="text-align: center;">{{cardBalance.hpcl}}</td>
            <td style="text-align: center;">{{cardBalance.atm}}</td>
          </tr>
        </tbody>

        <tbody class="tbody-two" *ngIf="data.length">
          <tr>
            <td></td>
            <td> Subtotal</td>
            <td>{{sum.bpcl}}</td>
            <td>{{sum.hpcl}}</td>
            <td>{{sum.atm}}</td>
          </tr>
        </tbody>
        <tbody class="tbody-three" *ngIf="data.length">
          <tr>
            <td></td>
            <td>Total</td>
            <td>{{total}}</td>
          </tr>
        </tbody>

      </table>
    </div>
  </nb-card-body>
</nb-card> -->