<nb-card style="margin:0px; border:0px;">
  <nb-card-body style="padding:0px;">
    <div class="modal-header">
      <button type="button" class="close" aria- label="Close" (click)="modelCondition()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="table table-bordered" id="table">

        <thead style="background-color:#263238; color:#fff;">
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Particular</th>
            <th>Vch Type</th>
            <th>Vch No.</th>
            <th>Amount(DR)</th>
            <th>Amount(CR)</th>
            <th *ngIf="accountService.selected.branch.id ==0">Branch</th>
          </tr>
        </thead>
      <tbody>
        <!-- <tr *ngFor=" let dataItem of DayData; let i = index;" (click)="selectedRow = i"
            (dblclick)="getBookDetail(dataItem.y_voucherid)" (enter)="getBookDetail(dataItem.y_voucherid) "
            [ngClass]="{'highlight' : selectedRow == i}"> -->


            <!-- (dblclick)="(dataItem.y_type.toLowerCase().includes('invoice') || dataItem.y_type.toLowerCase().includes('order'))  ? openinvoicemodel(dataItem.y_voucherid,dataItem.y_vouchertype_id) : (dataItem.y_type.toLowerCase().includes('consignment')) ? openConsignmentVoucherEdit(dataItem):openVoucherEdit(dataItem.y_voucherid)" -->

        <tr *ngFor=" let dataItem of DayData; let i = index;" (click)="selectedRow = i"
           (dblclick)="(dataItem.y_type.toLowerCase().includes('voucher'))  ? 
           (dataItem.y_type.toLowerCase().includes('trip')) ? openConsignmentVoucherEdit(dataItem) : (dataItem.y_type.toLowerCase().includes('fuel')) ? openFuelEdit(dataItem) :  (dataItem.y_type.toLowerCase().includes('lr')) ? editTransfer(dataItem['y_transferid']) :openVoucherEdit(dataItem.y_voucherid,0,dataItem.y_vouchertype_id) :(dataItem.y_type.toLowerCase().includes('freight')) ?(dataItem.y_type.toLowerCase().includes('expense'))?openfreight(dataItem['y_transferid']):openRevenue(dataItem['y_transferid']): openinvoicemodel(dataItem.y_voucherid,dataItem.y_vouchertype_id)" (enter)="openVoucherEdit(dataItem.y_voucherid) " [ngClass]="{'highlight' : selectedRow == i, 'highlightcolor' : DayData.length-1 == i}">
          <td>{{ i+1}}</td>
          <td>{{dataItem.y_date | date:'dd-MMM-yy'}}</td>
          <td>{{dataItem.y_particulars}}</td>
          <td>{{dataItem.y_type}}</td>
          <td>{{dataItem.y_code +'/'+ dataItem.y_cust_code}}</td>
          <td>{{dataItem.y_dramunt}}</td>
          <td>{{dataItem.y_cramunt}}</td>
          <td *ngIf="accountService.selected.branch.id ==0"> {{dataItem.y_company_branch}}</td>
        </tr>
      </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>

<div class="date-modal" *ngIf="showDateModal" (keydown)="keyHandler($event)">
  <div class="date-modal-body">
    <div>
      <input type="text" class="form-control" name="voucher-date-f2" id="voucher-date-f2" [(ngModel)]="DayBook[f2Date]"
        maxlength="10">
    </div>
  </div>
</div>