<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-sm-10">
        <h5>Vehicle GPS Details</h5>

      </div>
      <div class="col-sm-02">
        <span>
          <span class="pdf-icon" title="PDF Export" (click)="printPDF()" style="cursor: pointer;"><i
              class="fa fa-file-pdf"></i></span>
          <span class="exel-icon" title="CSV Export" (click)="printCsv()"
            style="cursor: pointer;margin-left: 10px;"><i class="fas fa-file-excel"></i></span>
        </span>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="model-body">
      <smart-table *ngIf="gpsDtails && gpsDtails.length" [data]="table.data" [settings]="table.settings"
        id="gpsDetails">
      </smart-table>

    </div>
  </nb-card-body>
</nb-card>