<nb-card>
  <nb-card-header>
    <h2>Toll Transaction Summary</h2>
    <div class="row m-0 p-0">
      <div class="col-3">
        <auto-suggestion (onSelected)="selectVehicle($event)" url="Vehicles/getVehicleListForFoid" display="regno"
          placeholder="Enter Vehicle Number" style="width:60%;"></auto-suggestion>
      </div>
      <div class="col-3">
        <input type="text" style="cursor: pointer;" class="form-control" autocomplete="off" (click)="getDate('start')"
          placeholder="Start Date" [value]="dates.start | date: 'dd MMM yyyy'" readonly>
      </div>
      <div class="col-3">
        <input type="text" style="cursor: pointer;" class="form-control" autocomplete="off" (click)="getDate('end')"
          placeholder="Start Date" [value]="dates.end | date: 'dd MMM yyyy'" readonly>
      </div>
      <div class="col-3">
        <button class="btn btn-primary submit-btn" type="button" (click)="gettollTransactionSummary()">Submit</button>
      </div>
    </div>
    <div class="row m-0 p-0">

      <div class="col-md-12 text-right margin-top-15 margin-left-220">

        <span style="margin-bottom: 10px; display: block;">
          <span class="pdf-icon" title="PDF Export" (click)="printPDF('toll-summary');" style="cursor: pointer;"><i
              class="fa fa-file-pdf"></i></span>
          <span class="exel-icon" title="CSV Export" (click)="printCSV('toll-summary')"
            style="cursor: pointer;margin-left: 5px;"><i class="fas fa-file-excel"></i></span>
        </span>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <smart-table *ngIf="data && data.length" [data]="table.data" [settings]="table.settings"></smart-table>
  </nb-card-body>
</nb-card>