.pdf-icon{
    font-size: 30px;
    color: #9F0001;
  }
  .exel-icon{
    font-size: 30px;
    color: #217346;
  }
  .submit-btn{
    border-radius: 3px;
    border: 0px;
    padding: 8px 15px;
    text-transform: capitalize;
  }