button { 
    padding: 7px 10px !important;
    background-color: #263238;
    border-radius: 5px !important;
    text-transform: capitalize !important;
    cursor: pointer;
    outline: none;
    box-shadow: none;
}

nb-card-header{
    padding: 15px 20px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}
.selected {
    background-color: #576c77
}
table tr.highlight {
    background-color: #FFEE75 !important;
    color: #000 !important;
}
// .tjr-label {
//     background: #263238;
//     color: #fff;
//     padding: 3px 8px;
//     margin: 0;
//     border-radius: 3px 3px 0px 0px;
//     font-size: 10px;
// }

// .tjr-input {
//     border: 1px solid #263238;
//     border-radius: 0px 2px 2px 2px;
//     padding: 3px 5px;
//     height: auto;
//     font-size: 12px;
// }

// .tjr-input:focus {
//     border: 1px solid #263238;
// }

.tjr-button {
    cursor: pointer;
    margin-top: 18px;
    background: #263238 !important;
    height: auto;
    border-radius: 3px !important;
    padding: 3px 8px !important;
}
.auto-sugg{
    max-height: 128px;
    min-height: 128px;
}
table{
    thead{
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    tr{
        th{
            padding: 5px 10px;
            font-weight: normal;
        }
        th:nth-child(1){
            width: 4%;
        }
        th:nth-child(2){
            width: 12%;
        }
        th:nth-child(3){
            width: 12%;
        }
        th:nth-child(4){
            width: 12%;
        }
        th:nth-child(5){
            width: 12%;
        }
        th:nth-child(6){
            width: 12%;
        }
        th:nth-child(7){
            width: 12%;
        }
        th:nth-child(8){
            width: 12%;
        }
        th:nth-child(9){
            width: 12%;
        }
        td{
            padding: 5px 10px !important;
            font-size: 12px;
            button{
                padding: 0 !important;
                font-size: 11px;
                border-radius: 0px !important;
                margin: 0px;
                background-color: transparent;
                color: #263238;
                outline: none;
                box-shadow: none;
            }
        }
    }
    tbody{
        overflow-y: auto;
        display: block;
        width: 100%;
        table-layout: fixed;
        overflow: auto;
        max-height: calc(100vh - 312px);
        tr{
            display: table;
            table-layout: fixed;
            width: 100%;
            td:nth-child(1){
                width: 4%;
            }
            td:nth-child(2){
                width: 12%
            }
            td:nth-child(3){
                width: 12%
            }
            td:nth-child(4){
                width: 12%
            }
            td:nth-child(5){
                width: 12%
            }
            td:nth-child(6){
                width: 12%
            }
            td:nth-child(7){
                width: 12%
            }
            td:nth-child(8){
                width: 12%
            }
            td:nth-child(9){
                width: 12%
            }
        }
        tr:nth-child(odd){
            background-color: #fff;
        }
        tr:nth-child(even){
            background-color: #e4e4e4;
        }
    }
} 
.modal-header{
    background-color: #263238;
}
.date-modal{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999999;
    top: 0;
    left: 0;
}
.date-modal-body{
    background: #fff;
    width: 152px;
    margin: 15% auto auto auto;
}
.radclass{
    background-color: #808080 !important;
color: white;

    }