<div class="model-header" style="margin-left:10px">
  <h4 class="model-title" id="model-basic-title">Group Managements</h4>
</div>
<div class="model-body-1"
  style="border:1px Solid darkcyan; margin-top: 10px; margin-left:10px; margin-right:10px; text-align: left">
  <div class="body-1-tile" style="margin-left:50px; margin-top: 10px">Groups</div>
  <div class="row" style="margin-top:20px; margin-bottom:20px">
    <div class="col-2"></div>
    <!-- <div class="col-3" style="text-align: center">
      <auto-suggestion (onSelected)="searchUserId($event)" url="suggestion/getFoUsersList" display="name"
        placeholder="Fo Id" [preSelected]="null"></auto-suggestion>
    </div> -->
    <div class="col-3">
      <input type="text" class="form-control" placeholder="group name" name="groupName"
        [(ngModel)]="addGroupDetails.groupName">
    </div>
    <div class="col-2"></div>
    <button class="btn btn-primary" type="button" outline (click)="addGroup()" id="add">Add</button>
  </div>
</div>
<div class="model-body-2"
  style="border:1px Solid darkcyan; margin-top: 10px; margin-left:10px; margin-right:10px; text-align:left">
  <div class="body-2-tile" style="margin-left:50px; margin-top: 10px">Group Users</div>
  <div class="row" style="margin-top:20px; margin-bottom:20px">
    <div class="col-1"></div>
    <div class="col-3" style="text-align: center">
      <auto-suggestion (onSelected)="searchGroupId($event)" seperator='-' url="Suggestion/getAllFoAdminListwithCustomer?isFo=true" [display]="['foaname','foname']"
        placeholder="user ID" [preSelected]="null"></auto-suggestion>
    </div>
    <div class="col-2"></div>
    <div class="col-3">
      <auto-suggestion (onSelected)="searchGroup($event)" url="suggestion/getGroups" display="description"
        placeholder="Group ID" [preSelected]="null"></auto-suggestion>
    </div>
    <div class="col-1"></div>
    <button class="btn btn-primary" type="button" outline (click)="addUserGroup()" id="add">Add</button>
  </div>
  <div class="row" style="margin-bottom:10px">
    <div class="col-2"></div>
    <button class="btn-group" type="button" outline (click)="showGroups()"
      style="cursor: pointer; background-color: darkcyan; color: white; border: 2px solid darkgray; border-radius: 2px; font-size: 10px">See
      Groups</button>
    <div class="col-4"></div>
    <button class="btn-group" type="button" outline (click)="showUsers()"
      style="cursor: pointer;  background-color: darkcyan; color: white; border: 2px solid darkgray; border-radius: 2px; font-size: 10px">See
      Users</button>
  </div>
  <div class="row">
    <div class="col-6" >
      <table class="table show-group" *ngIf="groupFlag">
        <tr>
          <th>S.No.</th>
          <th>gId</th>
          <th>gName</th>
          <th>action</th>
          <th><i class="fa fa-hand-o-left" style="cursor:pointer" (click)="groupFlag=false"></i></th>

        </tr>
        <tr *ngFor="let groupList of getUserGroups; let i=index;">
          <td>{{i+1}}</td>
          <td>{{groupList.gid}}</td>
          <td>{{groupList.gname}}</td>
          <td><i class="fa fa-trash" aria-label="Delete" (click)="removeField('groupFlag',groupList.gid,'gid')">
          </i></td>

        </tr>
      </table>
    </div>
    <div class="col-6">
      <table class="table show-users" *ngIf="userFlag">
        <tr>
          <th>S.No.</th>
          <th>fId</th>
          <th>fName</th>
          <th>action</th>
          <th><i class="fa fa-hand-o-left" style="cursor:pointer" (click)="userFlag=false"></i></th>

        </tr>
        <tr *ngFor="let userList of getGroupUsers; let i=index;">
          <td>{{i+1}}</td>
          <td>{{userList.fid}}</td>
          <td>{{userList.fname}}</td>
          <td><i class="fa fa-trash" aria-label="Delete" (click)="removeField('groupFlag',userList.fid,'fid')">
          </i></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="model-body-3"
  style="border:1px Solid darkcyan; margin-top: 10px; margin-left:10px; margin-right:10px; text-align: left ">
  <div class="body-3-tile" style="margin-left:50px; margin-top: 10px">Group Vehicle</div>
  <div class="row" style="margin-top:20px; margin-bottom:20px">
    <div class="col-1"></div>
    <div class="col-3" style="text-align: center">
      <auto-suggestion (onSelected)="searchVGroup($event)" url="suggestion/getGroups" display="description"
        placeholder="Group ID" [preSelected]="null"></auto-suggestion>
    </div>
    <div class="col-2">
      <input type="radio" value="single" name="radio"  [(ngModel)]="selectOption" (input)="addVehicleGroupAss.csv=null" >single
      <input type="radio" value="csv" name="radio" [(ngModel)]="selectOption" (input)="addVehicleGroupAss.vid=null" >csv

    </div>
    <div class="col-3" *ngIf="selectOption=='single';else csv">
      <auto-suggestion (onSelected)="searchVehicle($event)" url="suggestion/getVehicleList" display="regno"
        placeholder="Vehicle ID" [preSelected]="null"></auto-suggestion>
    </div>
    <ng-template #csv><input type="file" name="csv" [(ngModel)]="addVehicleGroupAss.csv" (change)="handleFileSelection($event)"></ng-template>


    <div class="col-1"></div>
    <button class="btn btn-primary" type="button" outline (click)="addVehicleGroup()" id="add">Add</button>
  </div>
  <div class="row" style="margin-bottom:10px">
    <div class="col-2"></div>
    <button class="btn-group" type="button" outline (click)="showVehicles()"
      style="cursor: pointer; background-color: darkcyan; color: white; border: 2px solid darkgray; border-radius: 2px; font-size: 10px">See
      Vehicles</button>
    <div class="col-4"></div>
    <button class="btn-group" type="button" outline (click)="showvehicleGroups()"
      style="cursor: pointer; background-color: darkcyan; color: white; border: 2px solid darkgray; border-radius: 2px; font-size: 10px">See
      Groups</button>
  </div>
  <div class="row">
    <div class="col-6" >
      <table class="table show-group" *ngIf="vehicleFlag">
        <tr>
          <th>S.No.</th>
          <th>vId</th>
          <th>vRegNo.</th>
          <th>action</th>
          <th><i class="fa fa-hand-o-left" style="cursor:pointer" (click)="vehicleFlag=false"></i></th>
        </tr>
        <tr *ngFor="let vehicleList of getVehicles; let i=index;">
          <td>{{i+1}}</td>
          <td>{{vehicleList.vid}}</td>
          <td>{{vehicleList.vregno}}</td>
          <td><i class="fa fa-trash" aria-label="Delete"  (click)="removeField('vehicleFlag',vehicleList.vid,'vid')">
           
          </i></td>
        </tr>
      </table>
    </div>
    <div class="col-6">
      <table class="table show-users" *ngIf="vehicleGroupFlag">
        <tr>
          <th>S.No.</th>
          <th>gId</th>
          <th>gName</th>
          <th>action</th>
          <th><i class="fa fa-hand-o-left" style="cursor:pointer" (click)="vehicleGroupFlag=false"></i></th>

        </tr>
        <tr *ngFor="let vGroupList of getVehicleGroups; let i=index;">
          <td>{{i+1}}</td>
          <td>{{vGroupList.gid}}</td>
          <td>{{vGroupList.gname}}</td>
          <td><i class="fa fa-trash" aria-label="Delete" (click)="removeField('vehicleFlag',vGroupList.gid,'gid')">
              
          </i></td>
        </tr>
      </table>
    </div>
  </div>
</div>