<nb-card style="margin: 0px; border:0px;">
    <!-- <nb-card-header>
        <h4>Stock Item</h4>
      </nb-card-header> -->
  <nb-card-body>
<button class="btn mb-4 add-button" (click)="openStoreRequisitions()"><i class="fa fa-plus"></i></button>
<div class="main">
<table class="table table-bordered ">
  <thead style="background-color: #263238; color:#fff;">
    <tr>
        <th>#</th>
        <th>Code</th>
        <th>Cust Code</th>
        <th>Request Date</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let StockQuestion of StockQuestions; let i = index;" (click)="selectedRow = i"
    (dblclick)="openStoreRequisitions(StockQuestion.id,StockQuestion.to_fobranch_id)" (enter)="openStoreRequisitions(StockQuestion.id,StockQuestion.to_fobranch_id)"
    [ngClass]="{'highlight' : selectedRow == i}">
        <td>{{i + 1}}</td>
        <td>{{StockQuestion.code}}</td>
        <td>{{StockQuestion.cust_code}}</td>
        <td>{{StockQuestion.req_date | date : 'dd-MMM-yy'}}</td>
        <!-- <td class="del">
          <a href="javascript: void(0);" class="delete" title="Delete " (click)="delete(stockItem.id)"><i
              class="fa fa-trash"></i></a>
        </td> -->
      </tr>
  </tbody>
  
</table>
</div>
</nb-card-body>
</nb-card>