<nb-card style="margin:0px; border:0px;">
  <nb-card-body (keydown)="keyHandler($event)" style="padding:0px;">
<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">Add Secondary Account</h5>
  <button type="button" class="close" aria- label="Close" (click)="modalCondition(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="row">
  
    <div class="col-4">
      <div class="form-group">
        <label>Parent Account Name</label>
        <!-- <auto-suggestion (onSelected)="onParent($event, 'account', 'name')" url="Suggestion/GetAccount" display="name"
        inputId="account" name="account" placeholder="Search Parent Account" [preSelected]="{name:Accounts.account.name}"></auto-suggestion> -->
        <input autocomplete="off" type="text" id="account" class="form-control tjr-input" name="account"
        [(ngModel)]="Accounts.account.name">
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label>Name</label>
        <input autocomplete="off" type="text" class="form-control" name="account-name" id="name" [(ngModel)]="Accounts.name">
      </div>
    </div>
    <div class="col-4">
        <auto-suggetion-in-side *ngIf="autoSuggestion.data.length" [data]="autoSuggestion.data" [targetId]="autoSuggestion.targetId"
        [display]="autoSuggestion.display" (select)="onSelect($event, autoSuggestion.targetId)"></auto-suggetion-in-side>
      </div>
  </div>

</div>

<div class="modal-footer">
  <div class="row">
    <div class="col">
      <button class="btn btn-danger" type="button" outline (click)="modalCondition(false)" id="cancel" style="cursor: pointer;">Cancel</button>
    </div>
    <div class="col text-right">
      <button class="btn btn-primary" type="button" outline (click)="dismiss(true)" id="submit" style="cursor: pointer;">Submit
      </button>
    </div>
  </div>
</div>


</nb-card-body>
</nb-card>

<div class="date-modal" *ngIf="showConfirm" (keydown)="keyHandler($event)">
  <div class="date-modal-body data_model_save">
    <div>
      <p>Are you want to save ?</p>
      <button (click)="dismiss(true)">Yes</button> <span>&nbsp;&nbsp;&nbsp;</span> <button (click)="dismiss(false)">No</button>
    </div>
  </div>
</div>