<div class="">
    <div class="outer" style="min-height: 100px;">
      <h6 style="text-align:center"><b class="charthead">Worst VSC TAT in Last 7 Days </b></h6>
      <p style="text-align: right; margin-top: -25px;" class="link"
      (click)="getDetials('Tmgreport/GetAlertVscWorst',{totalrecord: 3,stepno: -1},7,'days')"><i title="More Details" class="fa fa-list"></i>
    </p>
      <table class="table">
        <thead class="thead">
          <th>Executive</th>
          <th>TAT (Hrs)</th>
        </thead>
        <tbody class="tbody">
          <tr *ngFor="let avw of alertVscWorst">
            <td>{{avw['Executive']}}</td>
            <td>{{avw['TAT(Hrs)']}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>