
.row-border {
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.content {
    background: transparent;
}


.forward-btn {
    background: orange;
}

.green {
    color: green;
}

.red {
    color: red;
}

.input-group {
    padding: 5px 10px;
}

.input-group label {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .5px;
    padding: 3px;
}

.input-group input,
.input-group textarea {
    display: block;
    width: 100%;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    font-size: 12px;
    padding: 5px 5px;
    max-width: 100%;
    min-height: 27px;
}

.btn-container {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.btn-custom,
.btn-hour {
    background: #f2f2f2;
    /* padding: 5px 6px; */
    font-weight: bold;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 8px;
    display: inline-block;
    width: 45%;
    font-size: 12px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    font-family: monospace;
    max-width: 100%;
    display: inline-block;
    padding: 0px 10px;
    color: #000;
}

.btn-hour {
    width: 30px;
}

.active-btn,
.active-hr {
    background: orange;
    color: #fff;
    font-size: 14px;
}

.row-style {
    font-size: 14px; // font-weight: bold;
    text-align: center;
    width: calc(100% + 20px);
    margin-left: -10px;
    background: #f2f2f2;
    border-top: 2px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

.active-col {
    background: #fff;
    color: orange;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
}

.hour-row-1 {
    width: 20px;
    padding: 0px;
    font-size: 10px;
    height: 20px;
    line-height: 20px;
}

.hour-row-2 {
    width: 35px;
    padding: 0px;
    font-size: 10px;
}

.hour-row-3 {
    width: 35px;
    padding: 0px;
    font-size: 10px;
}

.hour-row-4 {
    width: 20px;
    padding: 0px;
    font-size: 10px;
    height: 20px;
    line-height: 20px;
}

.back-btn {
    position: absolute;
    left: 10px;
    font-size: 13px;
    margin-top: 3px;
}

.back-btn * {
    vertical-align: middle;
}
.modal-footer{
    justify-content:center;
}
.modal-footer button{
    font-size: 10px;
    margin: 0px;
}