.row{
    margin-top:10px
}
:host ::ng-deep.red {
    color: red;
    font-weight: 700;
}
:host ::ng-deep.gray {
    color: gray;
    font-weight: 700;
}
:host ::ng-deep.green {
    color: green;
    font-weight: 700;
}