.chk-dl { width: 20px; margin-left: 2px; }
.mgn-vert { margin-top: 5px; margin-bottom: 5px;}
.modal-header {
    text-align: center;
    background-color: #e0e0e0;
}
.nb-theme-corporate .modal-header {
    padding: 1.25rem;
    border-bottom: 1px solid #d5dbe0;
    border-top-left-radius: 0.17rem;
    border-top-right-radius: 0.17rem;
    color: #181818;
    font-family: Exo;
    font-weight: 500;
    font-size: 1.125rem;
}
label {
    font-family: Roboto;
    font-size: 1rem;
    line-height: 1.25;
    color: #a4abb3;
}
/**/

// Modal
.custom-modal-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: transparent;
    overflow: auto;
    height: 100%;
}

.custom-modal-body {
    background: #fff;
}

.custom-active-modal {
    z-index: 1050;
    background: rgba(0, 0, 0, 0.5);

}

.custom-passive-modal {
    z-index: 1049;
}

table tbody tr td a{
    color: #677078;
}
// Modal END