<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<nb-card>
  <nb-card-body style="overflow:inherit;padding-top: 0px;">
    <div class="modal-body vert-mdl-pdg">
      <form #driverForm="ngForm" id="driver-form" name="driver-form"
        (submit)="driverForm.valid && updateDocument(0)">
        <div class="row">
          <div class="col-sm-4">

            <div class="row form-field clear mgn-vert">
              <label for="driver_id" class="col-sm-4 mgn-vert">Driver ID</label>

              <div class="col-sm-8 " *ngIf="!canUpdate">
                <label style="font-size:16px;">{{driver.id}}</label>
                <span *ngIf="driver.is_verified == true" style="margin-left:20%;">
                 <label style="font-size:16px; "> Verified </label>
                </span>               
              </div>
              <div class="col-sm-8 " *ngIf="canUpdate">
                <label style="font-size:16px;">{{driver.id}}</label>
              </div>
            </div>

            <div class="row form-field clear mgn-vert">
              <label for="empname" class="col-sm-4 mgn-vert">Name</label>

              <div class="col-sm-8 ">
                <label style="font-size:16px;">{{driver.empname}}</label>               
              </div>
            </div>

            <div class="row form-field clear mgn-vert">
              <label for="licence_no" class="col-sm-4 mgn-vert">Licence No.<span class="mandatory">*</span></label>
              <div *ngIf="!canUpdate" class="col-sm-8" style="padding-left: 0px;">
                <label style="font-size:16px;">{{driver.licence_no}}</label>
                
              </div>

              <div *ngIf="canUpdate" class="col-sm-8 frm-fld mgn-vert sug-fld" style="padding-left: 0px;">
                <input *ngIf="canUpdate" id="newlicence_no" name="newlicence_no" type="text" class="form-control "
                  [(ngModel)]="driver.newlicenceno" (keyup)="this.validateLicenceno($event)" />
              </div>
            </div>
            
            <div class="row form-field clear mgn-vert">
              <label for="effective_date" class="col-sm-4 mgn-vert">Effective Date:</label>
              <div *ngIf="!canUpdate" class="col-sm-8 ">
                <label style="font-size:16px;">
                  {{getDateInDisplayFormat(driver.effective_date)| date:'dd-MM-yyyy'}}</label>
              </div>
              <input #effective_date *ngIf="canUpdate" id="effective_date" name="effective_date" type="text"
                class="col-sm-6 form-control frm-fld mgn-vert" [(ngModel)]="driver.effective_date"
                [value]="driver.effective_date" (blur)="checkExpiryDateValidity()" placeholder="DD/MM/YYYY" />
              <span *ngIf="canUpdate" class="col-sm-1" style='cursor:pointer; font-size: 28px;'
                (click)="getDate('effective_date')"><i class="icon fa fa-calendar"></i></span>
            </div>
            <div class="row form-field clear mgn-vert">
              <label for="expiry_date" class="col-sm-4 mgn-vert">Expiry Date</label>
              <div *ngIf="!canUpdate" class="col-sm-8">
                <label style="font-size:16px;"> {{getDateInDisplayFormat(document.expiry_date)| date:'dd-MM-yyyy'}}</label>

              </div>
              <input #expirydate *ngIf="canUpdate" id="expiry_date" name="expiry_date" type="text"
                class="col-sm-6 form-control frm-fld mgn-vert" [(ngModel)]="driver.expiry_date"
                [value]="driver.expiry_date " (blur)="checkExpiryDateValidity()" placeholder="DD/MM/YYYY" />
              <span *ngIf="canUpdate" class="col-sm-1" style='cursor:pointer; font-size: 28px;'
                (click)="getDate('expiry_date')"><i class="icon fa fa-calendar"></i></span>
            </div>
            <div class="row form-field clear mgn-vert">
              <label for="ntexpiry_date" class="col-sm-4 mgn-vert">NT Expiry Date</label>
              <div *ngIf="!canUpdate" class="col-sm-8">
                <label style="font-size:16px;">
                  {{getDateInDisplayFormat(driver.ntexpiry_date)| date:'dd-MM-yyyy'}}</label>
              </div>
              <input #ntexpiry_date *ngIf="canUpdate" id="ntexpiry_date" name="ntexpiry_date" type="text"
                class="col-sm-6 form-control frm-fld mgn-vert" [(ngModel)]="driver.ntexpiry_date"
                [value]="driver.ntexpiry_date" (blur)="checkExpiryDateValidity()" placeholder="DD/MM/YYYY" />
              
              <span *ngIf="canUpdate" class="col-sm-1" style='cursor:pointer; font-size: 28px;'
                (click)="getDate('ntexpiry_date')"><i class="icon fa fa-calendar"></i></span>
            </div>

            <div class="row form-field clear mgn-vert">
              <label for="dob" class="col-sm-4 mgn-vert">DOB</label>
              <div *ngIf="!canUpdate" class="col-sm-8">
                <label style="font-size:16px;">
                  {{getDateInDisplayFormat(driver.dob)| date:'dd-MM-yyyy'}}</label>
              </div>
              <input #dob *ngIf="canUpdate" id="dob" name="dob" type="text"
                class="col-sm-6 form-control frm-fld mgn-vert" [(ngModel)]="driver.dob"
                [value]="driver.dob" (blur)="checkExpiryDateValidity()" placeholder="DD/MM/YYYY" />
              
              <span *ngIf="canUpdate" class="col-sm-1" style='cursor:pointer; font-size: 28px;'
                (click)="getDate('dob')"><i class="icon fa fa-calendar"></i></span>
            </div>

            <div class="row form-field clear mgn-vert">
              <label for="licence_type" class="col-sm-4 mgn-vert">DL Type</label>
              <div *ngIf="!canUpdate" class="col-sm-8">
                <label style="font-size:16px;">
                  {{driver.licence_type}}</label>
              </div>
              <div class="col-sm-8">
                <div class="col-sm-4"><input #lcvtype *ngIf="canUpdate" id="lcvtype" name="lcvtype" type="text"
                class="form-control chk-dl" type="checkbox" [(ngModel)]="driver.lcv"
                [value]="driver.lcv" />LCV</div>
                <div class="col-sm-4"><input #mcvtype *ngIf="canUpdate" id="mcvtype" name="mcvtype" type="text"
                class=" form-control chk-dl" type="checkbox" [(ngModel)]="driver.mcv"
                [value]="driver.mcv" />MCV</div>
                <div class="col-sm-4"><input #hcvtype *ngIf="canUpdate" id="hcvtype" name="hcvtype" type="text"
                class="form-control chk-dl" type="checkbox" [(ngModel)]="driver.hcv"
                [value]="driver.hcv" />HCV</div>
              </div>              
            </div>

            <div class="row form-field clear mgn-vert">
              <label for="remarks" class="col-sm-4 ">Remarks</label>
              <div class="col-sm-8" style="padding-left: 0px;">
                <textarea id="remarks" name="remarks" rows="2" class="form-control "
                  [(ngModel)]="driver.remarks"></textarea>
              </div>
            </div>


            <div class="row" style="margin-top:20px">
              <div class="col-sm-3" *ngIf="canUpdate" style="margin-left: 60%;">
                <button class="btn btn-primary" type="submit" (click)="updateDLDetails()" id="submit"
                  style="cursor: pointer;">{{btn1}}</button>
              </div>
            </div>
          </div>

          <div class="col-sm-8 imageView">
            <div *ngIf="doc_not_img"><a target='_blank' href="{{driver.licence_photo}}" title="View Licence">View
                Licence</a>
            </div>
            <jrx-image-viewer *ngIf="driver.licence_photo && !doc_not_img" [images]="images" [idContainer]="'idOnHTML'"
              [loadOnInit]="true" [snapView]="false"></jrx-image-viewer>
            <div *ngIf="!driver.licence_photo">No Image Exists</div>
            <div id="imgzoom"></div>
          </div>
        </div>
      </form>
    </div>
  </nb-card-body>
</nb-card>