@media print{
//   .modal-body {
//     position: relative;
//     left: 0;
//     top: 0;
//     margin: 0;
//     padding: 0;
//     overflow:scroll;
// }
    .doNotPrint{display:none !important;}
  }
  
  print-section{
    z-index: 999;
  }
.btn.doNotPrint{
  padding: 5px 10px;
  text-transform: capitalize;
  border-radius: 5px;
  border: none;
  cursor: pointer !important;
}
.pdf-icon{
  font-size: 30px;
  color: #9F0001;
}
.print-icon{
  font-size: 30px;
  color: rgb(136, 160, 196);
}

// table { page-break-inside:auto }
// tr    { page-break-inside:avoid; page-break-after:auto }
// thead { display:table-header-group }
// tfoot { display:table-footer-group }


// body, html {
  // width: 100%;
  // height: 100%;
  // position: fixed;
  //  overflow: auto;
//    width: 100%;
//    height: 100%;
//    //z-index: 100000;
// }

// .print {
//    position: fixed;
//    overflow: auto;
//    width: 100%;
//    height: 100%;
//    z-index: 100000; /* CSS doesn't support infinity */

//    /* Any other Print Properties */
// }

@media screen {
  #printSection {
      display: visible;
  }
}

@media print {
  body * {
    visibility:visible;
  }
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }
}