<div class="modal-header">
  <h5 class="modal-title">Add FoAdmin Users</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="foAdminUser" name="addFoAdmin-form" id="addFoAdmin-form"
    (submit)="foAdminUser.valid && addFoAdmin()">
    <div class="row" style="margin-bottom:10px">
      <div class="col">
        <auto-suggestion (onSelected)="selectFoUser($event)" url="Suggestion/getAllFoAdminListwithCustomer"
          [display]="['foaname','foname','fomobileno','foaid']" seperator="-"
          placeholder="Search By Mobile No. And Name">
        </auto-suggestion>

      </div>
    </div>
    <div class="row" style="margin-bottom:10px">
      <div class="col-4">
        <label>Fo User</label>
        <!-- <div class="col-3"> -->
        <auto-suggestion (onSelected)="selectFoUserList($event)" url="Suggestion/getFoUsersList" display="name"
          placeholder="Fo User" [preSelected]="{name:Fouser.foAdminName}"></auto-suggestion>
      </div>
      <!-- </div> -->
      <!-- <div class="row" style="margin-bottom:10px"> -->
      <div class="col-4">
        <label>Mobile Number</label>
        <!-- </div> -->
        <!-- <div class="col-4"> -->
        <div class="form-group">

          <input type="text" class="form-control" id="mobile-number" autocomplete="off" [(ngModel)]="Fouser.mobileNo"
            placeholder="Mobile NO." formControlName="mobileno" minlength="10" required maxlength="10"
            [ngClass]="{ 'is-invalid': submitted && f.mobileno.errors }" required>
          <div *ngIf="submitted && f.mobileno.errors" class="invalid-feedback">
            <div *ngIf="f.mobileno.errors.required">mobileNumber is required</div>
            <div *ngIf="f.mobileno.errors.minlength ">mobile Number minlength 10</div>
            <div *ngIf="f.mobileno.errors.maxlength ">mobile Number maxlength 10</div>
          </div>
        </div>
      </div>
      <!-- <div class="row" style="margin-bottom:10px"> -->
      <div class="col-4">
        <div class="form-group">

          <label>Name</label>
          <!-- </div> -->
          <!-- <div class="col-3"> -->
          <input type="text" class="form-control" formControlName="name" [(ngModel)]="Fouser.name" autocomplete="off"
            id="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required>
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
        <label>Auth Type</label>
        <select [(ngModel)]="authType" formControlName="authType" (change)="displayLoginType()">
          <option value='1'>Mobile</option>
          <option value='2'>User</option>
        </select>
      </div>
      </div>

      <div class="col-4" *ngIf="authType=='1'">
        <div class="form-group">
        <label>Login Type</label>
        <select [(ngModel)]='loginType' formControlName="loginType" >
          <option *ngFor='let loginData of data' [value]="loginData.id">
            {{loginData.name}}
          </option>
        </select>
      </div>
      </div>
      <div class="col-4 text-center">
        <button class="btn btn-primary" id="submit" form="addFoAdmin-form" (click)="submitted=true">{{btn}}</button>
      </div>
      <!-- </form> -->
    </div>