<nb-card style="padding-top: 0px; border: 0px;">
  <nb-card-body (keydown)="keyHandler($event)">
    <span class="pdf-icon" title="PDF Export" (click)="pdfService.htmlToPdf('balance-sheet')"
      style="cursor: pointer;"><i class="fa fa-file-pdf"></i></span>
    <span class="exel-icon" title="CSV Export" (click)="csvFunction()" style="cursor: pointer;margin-left: 10px;"><i
        class="fas fa-file-excel"></i></span>
    <div class="" style="float:right; margin-right: 20px">
      <span><input type="radio" name="view-type" value="main" [(ngModel)]="isExpand"> Expand
        Main Group</span>
      <span><input type="radio" name="view-type" value="sub" [(ngModel)]="isExpand"> Expand
        All</span>
    </div>
    <div class="row">
      <div class="col-9">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="tjr-label">Ledger</label>
              <input autocomplete="off" type="text" id="ledger" class="form-control tjr-input" name="ledger"
                [(ngModel)]="outStanding.ledger.name">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="tjr-label">Starting Date</label>
              <input type="text" style="cursor: pointer;" class="form-control tjr-input" id="startDate"
                autocomplete="off" maxlength="10" name="account-startDate" [(ngModel)]="outStanding.startDate">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="tjr-label">End Date</label>
              <input type="text" style="cursor: pointer;" class="form-control tjr-input" id="endDate" autocomplete="off"
                maxlength="10" name="account-endDate" [(ngModel)]="outStanding.endDate">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label class="tjr-label">Goup Id</label>
              <input autocomplete="off" type="text" id="groupid" class="form-control tjr-input" name="groupid"
                [(ngModel)]="outStanding.groupid.name">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="tjr-label">Outstanding Balance</label>
              <div class="debit_box">
                <div class="debit">
                  <span>Debit</span>
                  <input autocomplete="off" type="radio" class="form-control" name="trantype" id="trantype"
                    [(ngModel)]="outStanding.trantype" [value]=0>
                </div>
                <div class="credit">
                  <span>Credit</span>
                  <input autocomplete="off" type="radio" class="form-control" name="trantype" id="trantype1"
                    [(ngModel)]="outStanding.trantype" [value]=1>
                </div>
                <div class="credit">
                  <span>All</span>
                  <input autocomplete="off" type="radio" class="form-control" name="trantype" id="trantype2"
                    [(ngModel)]="outStanding.trantype" [value]=-1>
                </div>

              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <button class="btn btn-primary btn-block tjr-button" type="button" outline (click)="getLedgerView()"
                id="submit" style="cursor: pointer;margin-top: 5px; padding: 7px !important;">Submit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="auto-sugg">
          <div class="form-group" *ngIf="this.activeId.includes('ledger')">
            <auto-suggetion-in-side [data]="ledgerList" targetId="ledger" display="name"
              (select)="onSelected($event, 'ledger', 'name')"></auto-suggetion-in-side>
          </div>
          <div class="form-group" *ngIf="this.activeId.includes('groupid')">
            <auto-suggetion-in-side [data]="secondarygroup" targetId="groupid" display="name"
              (select)="onSelected($event, 'groupid', 'name')"></auto-suggetion-in-side>
          </div>
        </div>
      </div>
    </div>
    <div id="balance-sheet" style="margin:0px;">
      <div class="row" style="margin: 45px 0px 0px 0px;width: 100%;">
        <div class="row x-heading">
          <div class="col x-col">Particular</div>
          <!-- <div class="col x-col">Ledger Name</div> -->
          <div class="col x-col">Voucher Code</div>
          <div class="col x-col">Voucher Cust Code</div>
          <div class="col x-col">Voucher Date</div>
          <div class="col x-col">Voucher Type</div>
          <div class="col x-col">Dr Amount</div>
          <div class="col x-col">Cr Amount</div>
        </div>
        <div class="jrx-dtbody">
        <div *ngFor="let stockType of voucherEntries let i = index" class="x-data">
            <div class="row x-stocktype" style="cursor:pointer" (click)="activeTree = activeTree !== i ? i : -1">
              <div class="col x-col">{{stockType.name}}</div>
              <!-- <div class="col x-col">&nbsp;</div> -->
              <div class="col x-col">&nbsp;</div>
              <div class="col x-col">&nbsp;</div>
              <div class="col x-col">&nbsp;</div>
              <div class="col x-col">&nbsp;</div>
              <div class="col x-col" style="text-align:right;">{{stockType.debit | number : '1.2-2'}}</div>
              <div class="col x-col" style="text-align:right;">{{stockType.credit | number : '1.2-2'}}</div>
            </div>
            <out-standing-tree [data]="stockType.data" [action]="openinvoicemodel.bind(this)"
              [isExpandAll]="isExpand == 'sub'" [active]="activeTree == i || isExpand  ? true : false" labels="">
            </out-standing-tree>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="main">
      <table class="table table-bordered" style="width:100%" id="table">
        <thead style="background-color:#263238; color:#fff;">
          <tr>
            <th>Date</th>
            <th>Code</th>
            <th>Ref. No.</th>
            <th>Voucher Type</th>
            <th>Particular</th>
            <th style="text-align:right;">Amount(Debit)</th>
            <th style="text-align:right;">Amount(Credit)</th>
          </tr>
        </thead>
        <div class="tbody-section">
          <tbody *ngFor="let voucherEntry of voucherEntries; let i = index">
            <tr class="heading_second" (click)="handleGroupView(i)" style="cursor: pointer;">

              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><b>{{ voucherEntry.name }}</b></td>
              <td style="text-align:right;"><b>{{ voucherEntry.amount.debit  | number : '1.2-2'}}</b></td>
              <td style="text-align:right;"><b>{{ voucherEntry.amount.credit | number : '1.2-2' }}</b></td>
            </tr>
            <tr *ngFor="let voucher of voucherEntry.vouchers let j = index" (click)="selectedRow =  '' + i + j"
              (dblclick)="(voucher.y_type.toLowerCase().includes('voucher'))  ? (voucher.y_type.toLowerCase().includes('trip')) ? openConsignmentVoucherEdit(voucher) :openVoucherDetail(voucher.y_voucherid,voucher.y_code) : openinvoicemodel(voucher.y_voucherid)"
              [hidden]="activeGroup.indexOf(i) === -1" [ngClass]="{'highlight' : selectedRow == '' + i + j }">
              <td>{{ voucher.y_date | date : 'dd-MMM-yy' }}</td>
              <td>{{ voucher.y_code }}</td>
              <td>{{ voucher.y_cust_code }}</td>
              <td>{{ voucher.y_type }}</td>
              <td></td>
              <td *ngIf=" voucher.y_dramunt !=0" style="text-align:right;"><span>{{ voucher.y_dramunt }}</span></td>
              <td *ngIf="voucher.y_dramunt == 0"></td>
              <td *ngIf="voucher.y_cramunt != 0" style="text-align:right;"><span>{{ voucher.y_cramunt }}</span></td>
              <td *ngIf="voucher.y_cramunt == 0"></td>
            </tr>
          </tbody>
        </div>

      </table>
    </div> -->
  </nb-card-body>
</nb-card>

<div class="date-modal" *ngIf="showDateModal" (keydown)="keyHandler($event)">
  <div class="date-modal-body">
    <div>
      <input type="text" class="form-control" name="voucher-date-f2" id="voucher-date-f2"
        [(ngModel)]="outStanding[f2Date]" maxlength="10">
    </div>
  </div>
</div>