<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <form enctype="multipart/form-data" #myForm="ngForm" name="uploadcsvForm" id="document-form" name="document-form">
      <div class="row">
        <div class="col-md-6">
          <label>Type</label>
        </div>
        <div class="col-md-6">
          <!-- <input type="text" class="form-control document_type" [(ngModel)]="document.type.id" list="document_type_id"
          id="docid" name="docid">
        <datalist id="document_type_id">       
          <option *ngFor="let docType of docTypes;" id="id" name="id" [hidden]="docType.id" class="form-control" >{{docType.document_type}}
            <input type="hidden" [value]="docType.id" id="id" name="id">
          </option>
        </datalist> -->
          <auto-suggestion *ngIf="docTypes.length" (onSelected)="selectDocType($event)"
            url="Vehicles/getAllDocumentTypes" display="document_type" placeholder="Enter doctype" [data]="docTypes"
            [preSelected]="null" class="documentType"></auto-suggestion>
          <div class="suggestions ng-star-inserted">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label>Vehicle Document Csv</label>
        </div>
        <div class="col-md-6">
          <div class="upload-btn-wrapper">
            <input type="file" name="vehicleDocCsv" [(ngModel)]="upload.csv" (change)="handleFileSelection($event)"
              style="margin:4%;">

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 offset-md-08">
          <label style="text-decoration: underline;color: blue; cursor: pointer;" (click)="sampleCsv()">Sample Csv
            Download </label>
          <i class="icon ion-md-cloud-download" style="cursor:pointer" (click)="sampleCsv()"></i>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col">
      <button class="btn btn-danger" type="button" outline (click)="closeModal(false)" id="cancel"
        style="cursor: pointer;">{{btn2}}</button>
    </div>
    <div class="col text-right">
      <button class="btn btn-primary" form="document-form" type="submit" outline (click)="checkCsv('validate')"
        id="submit" style="cursor: pointer;">{{btn3}}</button>
    </div>
    <div class="col text-right">
      <button class="btn btn-primary" form="document-form" type="submit" outline (click)="uploadCsv()" id="submit"
        style="cursor: pointer;">{{btn1}}</button>
    </div>
  </div>
</div>