.margin {
    margin-left: 82px;
}
.view-table{
    overflow: auto;
}
:host ::ng-deep .tableFixHead{
    height: auto !important;
    table{
        tr{
            th{
                width: 120px;
            }
        }
    }
}