<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-sm-8">
        <h5>Trip Status FeedBack</h5>
      </div>
      <div class="col-sm-4" style="text-align:right">
        <span class="pdf-icon" title="PDF Export" (click)="printPDF('trip-feedback');" style="cursor: pointer;"><i
            class="fa fa-file-pdf"></i></span>
        <span class="exel-icon" title="CSV Export" (click)="printCsv('trip-feedback')"
          style="cursor: pointer;margin-left: 10px;"><i class="fas fa-file-excel"></i></span>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div>
      <table class="table table-bordered table-hover m-0" id="trip-feedback">
        <thead class="thead">
          <tr style="text-align:center">
            <th>#</th>
            <th>Vehicle No</th>
            <th>Driver</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Location</th>
            <th>Trip Status</th>
            <th>Trip_Start Date</th>
            <th>Verification</th>
          </tr>
        </thead>

        <tbody *ngIf="trips.length!=0">
          <tr *ngFor="let trip of trips; let i = index">
            <td>{{i + 1}}</td>
            <td>{{trip.r_regno}}</td>
            <td>{{trip.r_driver}}</td>
            <td>{{trip.r_origin}}</td>
            <td>{{trip.r_destination}}</td>
            <td style="color:blue; cursor: pointer;" (click)="showLocation(trip)">{{trip.r_location}}</td>
            <td>{{trip.r_tripstatus}}
              <button class="btn btn-success" (click)="tripVerified(trip,'true',i)">Verified</button>
            </td>
            <td>{{trip.r_tripstartdate}}</td>
            <td><span style="display:inline-flex">
                <input type="text" [(ngModel)]="trip.origin" class="form-control" placeholder="Origin">
                <input type="text" [(ngModel)]="trip.destination" class="form-control" placeholder="Destination">

                <select [(ngModel)]="trip.status" class="form-control" [name]="'trip-status-' + i">
                  <option value="" selected>Select Status</option>
                  <option value="11">Loading</option>
                  <option value="12">Unloading</option>
                  <option value="51">Onward</option>
                  <option value="21">Available</option>
                </select>
              </span>
              <span style="display:inline-flex">
                <input type="remark" [(ngModel)]="trip.remark" class="form-control" placeholder="Remark">
                <button class="btn btn-primary" (click)="tripVerified(trip,'false',i)">Change</button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="no-data alert alert-danger" role="alert" *ngIf="trips.length==0">
        No Data available !
      </div>
    </div>

  </nb-card-body>
</nb-card>