<nb-card>
    <nb-card-header>
        <h5>Ware House Inventory</h5>
    </nb-card-header>

    <nb-card-body>
        <div class="row mt-3 align-items-center">
            <div class="col-2">
                <select placeholder="Name" class="name form-control" [(ngModel)]="wareHouseId">
                    <option *ngFor="let element of dataInventory" [value]="element.id">{{element.name}}

                    </option>
                </select>
            </div>
            <div class="col-2">
                <uj-date-time-picker (onChanged)="startDate = $event" [dateTimeValue]="startDate" [isTime]=false>
                </uj-date-time-picker>
            </div>
            <div class="col-2">
                <uj-date-time-picker [isStart]="false" (onChanged)="endDate = $event" [dateTimeValue]="endDate" [isTime]=false [isStart]="false">
                </uj-date-time-picker>
            </div>
            <div class="col-2">
                <select [(ngModel)]="request" class="form-control">
                    <option value="0">Pending</option>
                    <option value="1">Completed</option>
                </select>
            </div>

            <div class="col-2">
                <button class="btn btn-primary w-100 pt-2 pb-2 rounded-sm text-capitalize" id="button" (click)="getdata()">Submit</button>
            </div>

        </div>
        <div>
            <smart-table *ngIf="data && data.length" [data]="table.data" [settings]="table.settings" id="wareHouseInventory">
            </smart-table>
        </div>
    </nb-card-body>
</nb-card>