<nb-card style="border:0px;">
  <!-- <nb-card-header>
    <h4>Invoice</h4>
  </nb-card-header> -->
  <nb-card-body>  
    <div class="row" *ngIf="isModal" style="height:25px;background-color:#263238;margin:0!important">
      <h4 style="color:white;padding:6px">{{currentPage}}</h4>
      <i class="fa fa-times close"  (click)="activeModal.dismiss()"></i>
    </div>
    <div class="row" >
      <div class="expand-div">
      <input type="radio" autocomplete="off" id="radiotype1" name="radiotype" value="0" [(ngModel)]="withtype"><label>With Stock </label>
      <input type="radio" autocomplete="off" id="radiotype2" name="radiotype" value="1" [(ngModel)]="withtype"><label> With Ledger </label>
      <input type="radio" autocomplete="off" id="radiotype3" name="radiotype" value="2" [(ngModel)]="withtype"><label>With Both</label> 
    </div>
  </div>
    <div class="row mt-4">
      <div class="col-9 p-0">
        
        
        <div
          *ngIf="order.ordertype.name.toLowerCase().includes('purchase') || order.ordertype.name.toLowerCase().includes('debit note') || order.ordertype.name.toLowerCase().includes('wastage') ">
          <div class="row">
            <div class="col-6 pl-0">
              <div class="form-group p1-0">
                <label class="ref-label" *ngIf="order.ordertype.name.toLowerCase().includes('purchase')">PI
                  No.</label>
                <label class="ref-label" *ngIf="order.ordertype.name.toLowerCase().includes('debit note')">Debit Note
                  No.</label>
                <input type="text" autocomplete="off" class="form-control ref-input" name="account-custcode"
                  id="custcode" [(ngModel)]="order.custcode" placeholder="Please Enter Invoice No.">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                  <label class="ref-label" *ngIf="order.ordertype.name.toLowerCase().includes('purchase')">PI Date</label>
                  <label class="ref-label"*ngIf="order.ordertype.name.toLowerCase().includes('debit')">Debit Date</label>
                  <label class="ref-label"*ngIf="order.ordertype.name.toLowerCase().includes('wastage')">wastage Date</label>

                <input type="text" style="cursor: pointer;" class="form-control ref-input" autocomplete="off" id="date"
                  name="account-date" [(ngModel)]="order.date" maxlength="10"
                  (click)="lastActiveId = 'account-date'; allowBackspace = false;" (input)="allowBackspace = false;">

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 pl-0">
              <div class="form-group">
                <label class="ref-label">Purchase Ledger</label>
                <input type="text" autocomplete="off" class="form-control ref-input" id="salesledger"
                  name="purchaseledger" [(ngModel)]="order.purchaseledger.name"
                  placeholder="Please Select Purchase Ledger"
                  (click)="lastActiveId = 'ledger-' + i; allowBackspace = false;" (input)="allowBackspace = false;">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="ref-label">Supplier Ledger</label>
                <input type="text" autocomplete="off" class="form-control ref-input" id="ledger" name="ledger"
                  [(ngModel)]="order.ledger.name" placeholder="Please Enter Party Name" require>
                <span *ngIf="(ledgerbalance)" class="curbal"><i>Cur Bal: </i>{{ ledgerbalance }}</span>
              &nbsp;&nbsp;
              <a *ngIf="otherinfoflag==0" class="curbal" href="javascript:void(0)" outline (click)="OtherInfo()" id="OtherInfo" style="cursor: pointer;float: right;">Other
                Info </a>
                <a *ngIf="otherinfoflag==1" class="curbal" href="javascript:void(0)" class="advncolor" outline (click)="OtherInfo()" id="OtherInfo" style="cursor: pointer;float: right;">Other Info </a>
              </div>
            </div>
          </div>

          <!-- <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="ref-label" *ngIf="order.ordertype.name.toLowerCase().includes('purchase')">PI No.</label>
                <label class="ref-label" *ngIf="order.ordertype.name.toLowerCase().includes('debit')"> Debit Note
                  No.</label>
                <input autocomplete="off" autocomplete="off" type="text" class="form-control ref-input" id="custcode"
                  name="account-custcode" [(ngModel)]="order.custcode" placeholder="Please Enter Invoice Number">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="ref-label" *ngIf="order.ordertype.name.toLowerCase().includes('purchase')">PI Date</label>
                <label class="ref-label" *ngIf="order.ordertype.name.toLowerCase().includes('debit')">Debit Date</label>
                <label class="ref-label" *ngIf="order.ordertype.name.toLowerCase().includes('wastage')">wastage
                  Date</label>
                <input type="text" autocomplete="off" style="cursor: pointer;" class="form-control ref-input"
                  autocomplete="off" id="date" name="account-date" [(ngModel)]="order.date" maxlength="10"
                  (click)="lastActiveId = 'account-date'; allowBackspace = false;" (input)="allowBackspace = false;">

              </div>
            </div>
            <div class="col"
              *ngIf="order.ordertype.name.toLowerCase().includes('purchase') || order.ordertype.name.toLowerCase().includes('debit')">
              <div class="form-group">
                <label class="ref-label" *ngIf="order.ordertype.name.toLowerCase().includes('purchase')">Po Date</label>
                <label class="ref-label" *ngIf="order.ordertype.name.toLowerCase().includes('debit')">Ref Date</label>
                <input type="text" autocomplete="off" style="cursor: pointer;" class="form-control ref-input"
                  autocomplete="off" id="podate" name="po-date" [(ngModel)]="order.podate" maxlength="10"
                  (click)="lastActiveId = 'po-date'; allowBackspace = false;" (input)="allowBackspace = false;">

              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Ref.No.</label>
                <input autocomplete="off" type="text" class="form-control ref-input" name="account-qutationrefrence"
                  id="qutationrefrence" [(ngModel)]="order.qutationrefrence" placeholder="Ref.No.">
              </div>
            </div>

          </div>
          <div class="row" *ngIf="(order.ordertype.id != -108)">
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Purchase Ledger</label>
                <input type="text" autocomplete="off" class="form-control  ref-input" id="purchaseledger"
                  name="purchaseledger" [(ngModel)]="order.purchaseledger.name"
                  placeholder="Please Select Purchase Ledger"
                  (click)="lastActiveId = 'ledger-' + i; allowBackspace = false;" (input)="allowBackspace = false;">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Supplier Ledger</label>
                <input autocomplete="off" type="text" class="form-control ref-input" id="ledger" name="ledger"
                  [(ngModel)]="order.ledger.name" placeholder="Please Select Supplier Ledger" require>
                <auto-suggestion (onSelected)="onSelectedaddress($event, 'ledger', 'name')"
                  url="Suggestion/GetPurchaseLedger" display="name" placeholder="Enter Ledger" inputId="ledger"
                  [data]="supplier" [preSelected]="null"></auto-suggestion>
                <span *ngIf="(ledgerbalance)"><i>Cur Bal: </i>{{ ledgerbalance }}</span>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Supplier Ref.No</label>
                <input autocomplete="off" type="text" class="form-control ref-input" name="account-vendorbidref"
                  id="vendorbidref" [(ngModel)]="order.vendorbidref" placeholder="Supplier Reference No.">
              </div>
            </div>



            <div class="col">
              <div class="form-group">
                <label class="ref-label">Shipment Location</label>
                <input autocomplete="off" type="text" class="form-control ref-input" name="account-shipmentlocation"
                  id="shipmentlocation" [(ngModel)]="order.shipmentlocation" placeholder="Shipment Location">
              </div>
            </div>
          </div>

          <div class="row" *ngIf="(order.ordertype.id != -108)">
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Payment Terms</label>
                <input autocomplete="off" type="text" class="form-control ref-input" name="account-paymentterms"
                  id="paymentterms" [(ngModel)]="order.paymentterms" placeholder="Payment Terms">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Bilty Number</label>
                <input autocomplete="off" type="text" class="form-control ref-input" name="account-biltynumber"
                  id="biltynumber" [(ngModel)]="order.biltynumber" placeholder="Bilty Number">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Bilty Date</label>

                <input type="text" style="cursor: pointer;" class="form-control ref-input" autocomplete="off"
                  id="biltydate" name="account-biltydate" [(ngModel)]="order.biltydate" maxlength="10"
                  (click)="lastActiveId = 'account-biltydate'; allowBackspace = false;"
                  (input)="allowBackspace = false;">

              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Dilivery Terms</label>
                <input autocomplete="off" type="text" class="form-control ref-input" name="account-deliveryterms"
                  id="deliveryterms" [(ngModel)]="order.deliveryterms" placeholder="Delivery Terms">
              </div>
            </div>
          </div>
          <div class="row" *ngIf="(order.ordertype.id != -108)">
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Vender Billing Address</label>
                <textarea class="form-control ref-input" name="account-billingaddress" id="billingaddress"
                  [(ngModel)]="order.billingaddress" placeholder="Vender Billing Address"></textarea>
              </div>
            </div>



            <div class="col">
              <div class="form-group">
                <label class="ref-label">Remarks</label>
                <textarea class="form-control ref-input" name="account-orderremarks" id="orderremarks"
                  [(ngModel)]="order.orderremarks" placeholder="Invoice Remarks"></textarea>
              </div>
            </div>
          </div> -->
        </div>
        <!-- Purchase End -->

        <!--sales-->
        <div
          *ngIf="order.ordertype.name.toLowerCase().includes('sales') || order.ordertype.name.toLowerCase().includes('credit note') ">
          <div class="row">
            <div class="col-6 pl-0">
              <div class="form-group p1-0">
                <label class="ref-label" *ngIf="order.ordertype.name.toLowerCase().includes('sales')">Invoice
                  No.</label>
                <label class="ref-label" *ngIf="order.ordertype.name.toLowerCase().includes('credit')">Credit Note
                  No.</label>
                <input type="text" autocomplete="off" class="form-control ref-input" name="account-custcode"
                  id="custcode" [(ngModel)]="order.custcode" placeholder="Please Enter Invoice No.">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="ref-label" *ngIf="order.ordertype.name.toLowerCase().includes('credit')">Credit
                  Date</label>
                <label class="ref-label" *ngIf="(!order.ordertype.name.toLowerCase().includes('credit'))">Invoice
                  Date</label>
                <input type="text" style="cursor: pointer;" class="form-control ref-input" autocomplete="off" id="date"
                  name="account-date" [(ngModel)]="order.date" maxlength="10"
                  (click)="lastActiveId = 'account-date'; allowBackspace = false;" (input)="allowBackspace = false;">

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 pl-0">
              <div class="form-group">
                <label class="ref-label">Sales Ledger</label>
                <input type="text" autocomplete="off" class="form-control ref-input" id="salesledger"
                  name="purchaseledger" [(ngModel)]="order.purchaseledger.name"
                  placeholder="Please Select Purchase Ledger"
                  (click)="lastActiveId = 'ledger-' + i; allowBackspace = false;" (input)="allowBackspace = false;">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="ref-label">Party Ledger</label>
                <input type="text" autocomplete="off" class="form-control ref-input" id="ledger" name="ledger"
                  [(ngModel)]="order.ledger.name" placeholder="Please Enter Party Name" require>
                <span *ngIf="(ledgerbalance)" class="curbal"><i>Cur Bal: </i>{{ ledgerbalance }}</span>
              &nbsp;&nbsp;
              <a *ngIf="otherinfoflag==0" class="curbal" href="javascript:void(0)" outline (click)="OtherInfo()" id="OtherInfo" style="cursor: pointer;float: right;">Other
                Info </a>
                <a *ngIf="otherinfoflag==1" class="curbal" href="javascript:void(0)" class="advncolor" outline (click)="OtherInfo()" id="OtherInfo" style="cursor: pointer;float: right;">Other Info </a>
              </div>
            </div>
            <!-- <div class="col" *ngIf="otherinfoflag==0" style="margin-top: 18px;">
              <a href="javascript:void(0)" outline (click)="OtherInfo()" id="OtherInfo" style="cursor: pointer;">Other
                Info </a>
            </div>
            <div class="col" *ngIf="otherinfoflag==1" style="margin-top: 18px;">
              <a href="javascript:void(0)" class="advncolor" outline (click)="OtherInfo()" id="OtherInfo"
                style="cursor: pointer;">Other Info </a>
            </div> -->
          </div>
        </div>
      </div>


      <div class="col-3" id="ledger-container">
        <div class="auto-sugg">
          <auto-suggetion-in-side [data]="autoSuggestion.data" [targetId]="autoSuggestion.targetId"
            [display]="autoSuggestion.display" (select)="onSelect($event, autoSuggestion.targetId)">
          </auto-suggetion-in-side>
        </div>
        <!-- <div class="auto-sugg" *ngIf="activeId == 'ledger'">
          <auto-suggetion-in-side [data]="ledgersuggestiondata" [targetId]="ledger"
            [display]="name" (select)="onSelect($event, ledger)">
          </auto-suggetion-in-side>
        </div> -->
        <!-- <div class="ledger-container">
          
          <div *ngFor="let suggestion of getSuggestions(); let i = index;" class="ledger-option"
            [ngClass]="suggestionIndex == i ? 'active-ledger' : ''" (click)='selectSuggestion(suggestion)'>
            <span>{{suggestion.name}}</span>
          </div>
        </div> -->
      </div>
    </div>
    <!--sales end-->

    <div class="middlearea">
    <div class="row"  *ngIf="withtype !=1" style="margin-top: -1px;">
    <table class="invoice_tabel table mb-0">
      <thead style="background-color: #263238; color:#fff;">

        <th>Warehouse</th>
        <th>Stock Item</th>
        <!-- <th>Unit</th> -->
        <th>Qty</th>
        <th *ngIf="(order.ordertype.id != -108)">Rate</th>
        <th *ngIf="(order.ordertype.id != -108)">Amount</th>
        <!-- <th>Dis Ledger</th>
          <th>Dis Amount</th> -->
        <th *ngIf="(order.ordertype.id != -108)">Line Amount</th>

        <th *ngIf="(order.ordertype.id != -108)">Remarks</th>

        <th></th>
        <th></th>
      </thead>

      <tbody>
        <tr *ngFor="let amountDetail of order.amountDetails; let i = index;">
          <td>
            <input type="text" [id]="'warehouse-' + i" autocomplete="off" class="form-control ref-input"
              [name]="'warehouse-' + i" [(ngModel)]="amountDetail.warehouse.name" placeholder="Please Select Warehouse">
            <!-- <auto-suggestion (onSelected)="amountDetail.warehouse = $event.id" url="Suggestion/GetWareHouse"
                      display="name" placeholder="Enter Warehouse" [preSelected]="null" [inputId]="'warehouse-' + i">
                    </auto-suggestion> -->
          </td>
          <td>
            <input type="text" [id]="'stockitem-' + i" autocomplete="off" class="form-control ref-input"
              name="'stockitem-' + i" [(ngModel)]="amountDetail.stockitem.name" placeholder="Please Select Stock Item"
              required>
            <span
              *ngIf="((order.ordertype.name.toLowerCase().includes('sales')) && (order.amountDetails[i].warehouse.id)) "><i>Available
                Qty is </i>{{ totalitem[i] }}</span>
            <!-- <auto-suggestion
                  (onSelected)="amountDetail.stockitem = $event.id;amountDetail.stockunit.id = $event.stockunit_id; amountDetail.stockunit.name = $event.stockname"
                  url="Suggestion/GetStockItem" display="name" [inputId]="'stockitem-' + i" placeholder="Enter Stock Item"
                  [preSelected]="null">
                </auto-suggestion> -->
          </td>
          <!-- <td>

            <input type="text" class="form-control ref-input" autocomplete="off" name="account-stockunit"
              placeholder="Enter Stock Unit" [(ngModel)]="amountDetail.stockunit.name" readonly
              style="background-color: #eeeeee;">
          </td> -->
          <td>
            <input type="number" class="form-control ref-input" autocomplete="off" name="account-qty" [id]="'qty-' + i"
              (input)="amountDetail.lineamount = amountDetail.amount = (amountDetail.qty * amountDetail.rate).toFixed(2)"
              [(ngModel)]="amountDetail.qty" placeholder="Please Enter Quantity">

            <!-- {{findStockitem(order.amountDetails[i].stockitem.id)}} -->
          </td>
          <td *ngIf="(order.ordertype.id != -108)">
            <input type="number" class="form-control ref-input" autocomplete="off" name="account-rate"
              [id]="'amtrate-' + i" [(ngModel)]="amountDetail.rate" placeholder="Please Enter Rate"
              (input)="amountDetail.lineamount = amountDetail.amount = (amountDetail.qty * amountDetail.rate).toFixed(2)">
          </td>
          <td *ngIf="(order.ordertype.id != -108)">
            <input type="number" class="form-control ref-input select" autocomplete="off" [id]="'amount-' + i"
              name="account-amount" [(ngModel)]="amountDetail.amount"
              (input)="amountDetail.lineamount = amountDetail.amount">
          </td>
          <!-- <td *ngIf="(order.ordertype.id != -108) && (rateflag[i] == 0)">
            <input type="number" class="form-control ref-input" autocomplete="off" [id]="'amount-' + i" name="account-amount" [(ngModel)]="amountDetail.amount" readonly style="background-color: #eeeeee;">
          </td> -->
          <!-- <td>
            <input type="text" [id]="'discountledger-' + i" class="form-control" [name]="'discountledger-' + i"
              [(ngModel)]="amountDetail.discountledger.name">
            
          </td> -->

          <!-- <td> <input type="number" class="form-control" autocomplete="off" name="account-discountate"
              [(ngModel)]="amountDetail.discountate" [id]="'discountate-' + i"
              (input)="amountDetail.lineamount = amountDetail.amount - amountDetail.discountate;" [value]="0"></td> -->
          <td *ngIf="(order.ordertype.id != -108)">
            <input type="number" class="form-control ref-input" autocomplete="off" name="account-lineamount"
              [(ngModel)]="amountDetail.lineamount"  readonly style="background-color: #eeeeee;">
          </td>


          <td *ngIf="(order.ordertype.id != -108)">
            <input type="text" class="form-control ref-input" autocomplete="off" name="account-remarks"
              [id]="'remarks-' + i" [(ngModel)]="amountDetail.remarks" placeholder="Please Enter Remarks">
          </td>

          <td *ngIf="(order.ordertype.id != -108)">
            <button (click)="TaxDetails(i)" [id]="'taxDetail-'+i" class="btn btn-taxdet">Tax</button>
          </td>

          <td *ngIf="i == 0 && (order.ordertype.id != -108)">
            <button class="plustransparent btn btn-plus" id="plustransparent" (click)="addAmountDetails()"><i
                class="fa fa-plus"></i></button></td>
          <td *ngIf="i !== 0">
            <button (click)="order.amountDetails.splice(i,1);" class="btn btn-danger"><i
                class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="row" *ngIf="withtype !=1">
      <div class="col-7">
      </div>
      <div class="col-1 totalamount">
        <label >{{calculateTotal()}}</label>  

        <!-- <input type="number"  class="form-control ref-input" autocomplete="off" name="account-totalamount"
          [(ngModel)]="totalamount" [value]="calculateTotal()" readonly style="background-color: #eeeeee;"> -->
      
      </div>
      <div class="col-2 totalamount text-center">
        <label >{{calculateTotalLineAmount()}}</label>  
        <!-- <input type="number"  class="form-control ref-input" autocomplete="off" name="account-totalamount"
          [(ngModel)]="totalamount" [value]="calculateTotal()" readonly style="background-color: #eeeeee;"> -->
          <!-- <input type="text" class="form-control ref-input" autocomplete="off" name="account-totalamount"
          [(ngModel)]="order.totalamount" [value]="calculateTotalLineAmount()" readonly style="background-color: #eeeeee;"> -->
      </div>
      <div class="col-2 totalamount">
        <button (click)="callgstcode()" class="btn btn-primary btnservice">Show Gst Detail</button>
      </div>
    </div>
    <div class="row" *ngIf="withtype !=0">
    <table class="add_tax_tabel">
      <thead style="background-color: #263238; color:#fff;">
        <th>Ledger</th>
        <th>Rate</th>
        <th>Amount</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let taxwithdetail of taxdetailswith; let i = index;">
          <td>
            <input type="text" [id]="'taxlederwith-' + i" autocomplete="off" class="form-control ref-input"
              [name]="'taxledgerwith-' + i" [(ngModel)]="taxwithdetail.taxledgerother.name" placeholder="Please Enter Ledger" required>
          </td>
          <td>
            <input type="number" class="form-control ref-input" autocomplete="off" [name]="'taxratewith-' + i"
              [id]="'taxratewith-' + i" [(ngModel)]="taxwithdetail.taxrateother" placeholder="Please Enter Rate"
              (input)="taxwithdetail.taxamountother = ((taxwithdetail.taxrateother * order.totalamount)/100).toFixed(2)">
          </td>
          <td>
            <input type="number" class="form-control ref-input" autocomplete="off" [name]="'taxamountwith-' + i"
              [id]="'taxamountwith-' + i" [(ngModel)]="taxwithdetail.taxamountother" placeholder="Please Enter Amount">
          </td>
          <td *ngIf="i == 0">
            <button class="btn btn-plus plustransparent" [id]="'taxwithbutton-'+i" (click)="addWithAmountDetails()"><i
                class="fa fa-plus text-primary"></i></button>
          </td>
          <td *ngIf="i !== 0"> <button class="btn btn-danger" (click)="taxdetailswith.splice(i,1)"><i
                class="fa fa-trash text-primary"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row" *ngIf="withtype !=0" style="margin-right: 30px!important;">
    <div class="col-xl-10 col-lg-9"></div>
    <div class="col-xl-2 col-lg-3 text-right">
        <label class="add_tax_tabel_label mr-1">Ledger Amount : {{calculateLedgerTotal()}}</label>  
    </div>
  </div>
  <div class="row" >
    <table class="add_tax_tabel">
      <thead style="background-color: #263238; color:#fff;">
        <th>Tax Ledger</th> 
        <th>Tax Rate</th>
        <th>Tax Amount</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let taxdetail of taxdetailsother; let i = index;">
          <td>
            <input type="text" [id]="'taxlederother-' + i" autocomplete="off" class="form-control ref-input"
              [name]="'taxledgerother-' + i" [(ngModel)]="taxdetail.taxledgerother.name" placeholder="Please Enter Tax Ledger" required>
          </td>
          <td>
            <input type="number" class="form-control ref-input" autocomplete="off" [name]="'taxrateother-' + i"
              [id]="'taxrateother-' + i" [(ngModel)]="taxdetail.taxrateother" placeholder="Please Enter Tax Rate"
              (input)="taxdetail.taxamountother = calculatetotal(i,taxdetail.taxrateother)">
          </td>
          <td>
            <input type="number" class="form-control ref-input" autocomplete="off" [name]="'taxamountother-' + i"
              [id]="'taxamountother-' + i" [(ngModel)]="taxdetail.taxamountother" placeholder="Please Enter Tax Amount">
          </td>
          <td *ngIf="i == 0">
            <button class="btn btn-plus plustransparent" [id]="'taxdetailbutton-'+i" (click)="addTaxAmountDetails()"><i
                class="fa fa-plus text-primary"></i></button>
          </td>
          <td *ngIf="i !== 0"> <button class="btn btn-danger" (click)="taxdetailsother.splice(i,1)"><i
                class="fa fa-trash text-primary"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="row" style="margin-right: 30px!important;">
      <div class="col-xl-10 col-lg-9">
      </div>
      <!-- <div class="col-2">
        <label>Total Tax Amt:</label>
        <input type="number" class="form-control totalbeforetaxamount" name="totalamount" id="totalamountdiff"
          [value]="calculateTaxRateTotal()" readonly style="background-color: #eeeeee;">
      </div> -->
      <div class="col-xl-2 col-lg-3 text-right">
       
          <label class="add_tax_tabel_label mr-1">Tax Amount : {{calculateSeprateTaxTotal()}}</label>  
          <!-- <input type="number" class="form-control totaltaxamount" name="totalamount" id="totalamount"
            [value]="calculateTaxTotal()" [(ngModel)]="totaltaxamt" readonly style="background-color: #eeeeee;"> -->
     
        <!-- <span class="col-2">
      <input type="number" class="form-control totaltaxamountsecond" name="totalamount" id="totalamount"
              [value]="calculateTaxAmount()" readonly style="background-color: #eeeeee;">
      </span> -->

      </div>
    </div>
    <!-- <div class="row" style="margin-right: 30px!important;">
      <div class="col-xl-9 col-lg-8">
      </div>

      <div class="col-xl-3 col-lg-4 text-right">
          <label class="total_label">Total Bill Amount : {{(calculateTaxTotal() + calculateTotalLineAmount()) |number : '1.2-2'}}</label>  
      </div>
    </div> -->
  </div>
    <div class="modal-footer">
      <div class="row w-100">
        <div class="col-3 text-right">
          <label class="total_label">Total Bill Amount : {{(calculateTaxTotal() + calculateTotalLineAmount()) |number : '1.2-2'}}</label>  
      </div>
        <div class="col-7">
          <input type="checkbox" name="print" id="print" [(ngModel)]="order.print" style="vertical-align: text-top;"> Print After Save
          <span *ngIf="mannual">
            <input type="checkbox" name="mannual" id="mannual" [(ngModel)]="order.ismanual"> Is Mannual Approval
          </span>
        </div>
        <!-- <div class="col">
          <button class="btn btn-danger" type="button" outline (click)="dismiss(false)" id="cancel"
            style="cursor: pointer;">Cancel</button>
        </div> -->

        <!-- Edit by Hemant 27 june 2020 -->
        <div class="col-1 text-right">
          <!-- <button class="btn btn-primary" [ngStyle]="{'display':showHideButton ? 'block' : 'none'}" type="button" outline (click)="callconfirm()" id="submit"
            style="cursor: pointer;">Submit
          </button> -->
          <button class="btn btn-primary btnservice" type="button" outline (click)="callconfirm()" id="servicesubmit"
            style="cursor: pointer;">Submit
          </button>
        </div>
        <div class="col-1 text-right" *ngIf="isModal">
          <button class="btn btn-primary btnservice" type="button" outline (click)="activeModal.dismiss()" id="cancel"
            style="cursor: pointer;">Cancel
          </button>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<div class="date-modal" *ngIf="showConfirmaddmore">
  <div class="date-modal-body data_model_save">
    <div>
      <h5><b>Invoice detail</b></h5>
      <p>Please press A for New Line or enter for move to tax ledger ?</p>
      <button (click)="addAmountDetails()">Add</button> <span>&nbsp;&nbsp;&nbsp;</span> <button
        (click)="modelConditionaddmore()">Cancel</button>
    </div>
  </div>
</div>
<div class="date-modal" *ngIf="showConfirmtaxaddmore">
  <div class="date-modal-body data_model_save">
    <div>
      <h5><b>Tax detail</b></h5>
      <p>Please press A for New Line or press Enter ?</p>
      <button (click)="addTaxAmountDetails()">Add</button> <span>&nbsp;&nbsp;&nbsp;</span> <button
        (click)="modelConditionTaxaddmore()">Cancel</button>
    </div>
  </div>
</div>

<div class="date-modal" *ngIf="showConfirmtaxaddmorewith">
  <div class="date-modal-body data_model_save">
    <div>
      <h5><b>Ledger detail</b></h5>
      <p>Please press A for New Line or press Enter ?</p>
      <button (click)="addWithAmountDetails()">Add</button> <span>&nbsp;&nbsp;&nbsp;</span> <button
        (click)="modelConditionTaxaddmorewith()">Cancel</button>
    </div>
  </div>
</div>

<div class="date-modal" *ngIf="showConfirm">
  <div class="date-modal-body data_model_save">
    <div>
      <p>Are you want to save ?</p>
      <button (click)="dismiss(true)">Yes</button> <span>&nbsp;&nbsp;&nbsp;</span> <button
        (click)="modelCondition()">No</button>
    </div>
  </div>
</div>

<div class="date-modal" *ngIf="showDateModal">
  <div class="date-modal-body">
    <div>
      <input type="text" class="form-control ref-input" name="voucher-date-f2" id="voucher-date-f2" [(ngModel)]="order[f2Date]"
        maxlength="10">
    </div>
  </div>

  
</div>