nb-card-header{
    padding: 15px 20px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
  }
  nb-card-body{
  max-height: calc(100vh -70px)
  }
  button { 
    padding: 7px 10px !important;
    background-color: #263238;
    border-radius: 5px !important;
    text-transform: capitalize !important;
    cursor: pointer;
  }
  .ledger-container{
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 8px;
    min-height: 100px;
    max-height: 390px;
    overflow: auto;
  }
  .btn-taxdet{
  color:#26a69a !important;
  }
  
    .data_model_save{
      padding: 20px;
      text-align: center;
      width: auto;
      max-width: 250px;
    }
    .data_model_save button{
      border: none;
      padding: 10px 20px;
      color: #fff;
      border-radius: 3px;
    }
  
    .ledger-option{
      border: 1px solid #f2f2f2;
      padding: 2px 8px;
      border-radius: 5px;
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 3px;
  }
  .active-ledger{
      background: #e8f0f3;
      font-weight: bold;
  }
  .ref-label{
    background: #263238;
    color: #fff;
    padding: 3px 8px;
    margin: 0;
    border-radius: 3px 3px 0px 0px;
    font-size: 12px;
    min-width: 80px !important;
    font-weight: normal;
  }
 
  .invoice_tabel{
        thead{
          display: table;
          table-layout: fixed;
          background-color: #263238;
          color: #fff;
           width: 100%;
          th{
            padding: 5px 10px;
            font-weight: normal;
          }
          th:nth-child(1){
            width: 15%;
          }
          th:nth-child(2){
            width: 24%;
          }
          th:nth-child(3){
            width: 12%;
          }
          th:nth-child(4){
            width: 14%;
          }
          th:nth-child(5){
            width: 12%;
          }
          th:nth-child(6){
            width: 13%;
          }
          th:nth-child(7){
            width: 13%;
          }
          th:nth-child(8){
            width: 5%;
          }
          th:last-child{
            width: 2%;
          }
    }   
      tbody{
            overflow-y: auto;
            display: block;
            table-layout: fixed;
            overflow: auto;
            max-height: calc(100vh - 530px);
            border: 1px solid #cccccc;
            margin-top: -3px;
         tr{
          td {
              font-weight: normal;
              padding: 5px 10px !important;
              font-size: 12px;
          }
          td:nth-child(1){
            width: 15%;
          }
          td:nth-child(2){
            width: 24%;
          }
          td:nth-child(3){
            width: 12%;
          }
          td:nth-child(4){
            width: 14%;
          }
          td:nth-child(5){
            width: 12%;
          }
          td:nth-child(6){
            width: 13%;
          }
          td:nth-child(7){
            width: 13%;
          }
          td:nth-child(8){
            width: 5%;
          }
          td:last-child{
            width: 2%;
          }
          td{           
              button{
                  padding: 0 !important;
                  font-size: 14px;
                  border-radius: 0px !important;
                  margin: 0px;
                  background-color: transparent;
                  color: #263238;
                  outline: none;
                  box-shadow: none;
              }
              .btn-taxdet{
                background-color: #000;
                color: #fff !important;
                font-size: 12px;
                padding: 3px 7px !important;
                border-radius: 3px !important;
                cursor: pointer;
              }
          }
           }
          tr:nth-child(odd){
              background-color: #fff;
          }
          tr:nth-child(even){
              background-color: #e4e4e4;
          }
        
      }
  } 
  // .ref-input{
  //   border: 1px solid #263238 !important;
  //   border-radius: 0px 2px 2px 2px;
  //   height: auto;
  //   font-size: 12px;
  //   padding: 5px !important;
  // }
  #cancel{
    background-color: #d61414 !important;
  }
  .btn-primary {
    background-color: #263238 !important;
  }
  
  
  .date-modal{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999999;
    top: 0;
    left: 0;
  }
  .date-modal-body{
    background: #fff;
    width: 200px;
    margin: 15% auto auto auto;
  }
  input:read-only {
    background-color: #ccc;
  }
  .add_tax_tabel{
    width: 100%;
          thead{
          display: table;
          table-layout: fixed;
          background-color: #263238;
          color: #fff;
          width: 100%;
          th:nth-child(1){
            padding: 5px 10px;
            font-weight: normal;
            width: 60%;
            border: 1px solid #d8d8d8;

          }th:nth-child(2){
            padding: 5px 10px;
            font-weight: normal;
            width: 19%;
            border: 1px solid #d8d8d8;

          }th:nth-child(3){
            padding: 5px 10px;
            font-weight: normal;
            width: 18%;
            border: 1px solid #d8d8d8;

          }
          th:last-child {
                 width: 3%;
                padding: 3px 10px;
                border: 1px solid #d8d8d8;
              }
        
         
            }
      tbody{
        overflow-y: auto;
        display: block;
        table-layout: fixed;
        overflow: auto;
        max-height: calc(100vh - 540px);
        border: 1px solid #cccccc;
        margin-top: -2px;
        width: 100%;
          td:nth-child(1) {
            width: 60%;
            padding: 5px 10px;
          }
          td:nth-child(2) {
            width: 19%;
            padding: 5px 10px;
          }
          td:nth-child(3) {
            width: 18%;
            padding: 5px 10px;
          }
        td:last-child {
              width: 2%;
              padding: 5px 10px;
              border: 1px solid #d8d8d8;
            }
        tr:nth-child(odd){
          background-color:#fff;
        }
        tr:nth-child(even){
          background-color:#e4e4e4;
        }
     tr td button{
          padding: 0 !important;
          font-size: 14px;
          border-radius: 0px !important;
          margin: 0px;
          background-color: transparent;
          color: #263238;
          outline: none;
          box-shadow: none;
          i {
            color: black !important;
            }
      }
      tr td .btn-danger{
        padding: 0 !important;
          font-size: 14px;
          border-radius: 0px !important;
          margin: 0px;
          background-color: transparent;
          color: black !important;
          outline: none;
          box-shadow: none;
          i {
          color: black !important;
          }
      }
      }
    }
    // .totalamount{
    //    max-width: 147px;
    //   margin-top: -12px;
    //   margin-left: 12px
    // }
    // .totaltaxamount{
    //    margin-left: 142px;
    //   margin-top: -17px;
    //    max-width: 140px;
    // }
    .totaltaxamountsecond{
      max-width: 144px;
      margin-left: 100px;
      margin-top: -50px;
    }
    .totalbeforetaxamount{
      margin-left: 156px;
      max-width: 135px;
      margin-top: -24px;
    }

    .advncolor{
      color: blue;
      }

      .row{
        margin-left:0px!important;
        margin-right:0px!important;
      }

      .close{
        position: absolute;
        font-size: 14px;
        color: white;
        top: 6px;
        right:10px;
        opacity: 1;
      }
      .auto-sugg > auto-suggetion-in-side{
            .TJR-auto-suggestion-container{
              height: 165px !important;
              margin-top: -37px !important;
            }
      }
      .curbal{
        font-size: 9px;
      }
      //*[@id="ledger-container"]/div/auto-suggetion-in-side
    // height: 165px;
    // overflow: auto;
    // background-color: #ccc;
    // padding: 5px;
    // margin-top: -37px;

.expand-div {
      position: absolute;
      right: 20px;
      label {
          font-weight: 500;
          margin-right: 10px;
          margin-left: 5px;
          vertical-align: middle;
      }
  }

  // kavita singh


.ref-label {   
    background: #26323800!important;
    color: #000000!important;
    padding: 3px 8px 3px 0!important;
    margin: 0!important;
    border-radius: 3px 3px 0px 0px!important;
    font-size: 10px!important;
    font-weight: 600!important;
    letter-spacing: 1px;
  }
  
// .ref-input {
//     border: 1px solid #d4d4d4 !important;
//     border-radius: 0px!important;
//     padding: 5px 10px !important;
//     height: auto !important;
//     font-size: 10px !important;
//     border-left: 5px solid #26a69a!important;
//     width: 100%;
//   }
//  .ref-input:focus {
//     border: 1px solid #556080 !important;
//     border-left: 5px solid #556080!important;
//     outline: 0;
//   }
  .expand-div{
    font-size: 10px;
  }
  .expand-div label{
   vertical-align: text-top;
  }
  .form-group {
    margin-bottom: 0px!important;
}
  .totalamount label, .add_tax_tabel_label{
    background-color: #d8d8d8;
    padding: 5px 10px ;
    text-align: center;
    border-radius: 15px;
    font-size: 10px;
    font-weight: bold;
    color: #000;
    letter-spacing: 1px;
    min-width: 80px;
}
.total_label{
  background-color: #263238;
  padding: 5px 20px ;
  text-align: center;
  color: #fff; 
  font-size: 12px;
  font-weight: bold;
  border-radius: 15px;
  letter-spacing: 1px;
 margin-bottom: 0!important;
}
.btnservice{
  font-size: 12px!important;
  padding: 4px 10px!important;

}
.page-as-modal .modal-content {
  height: auto!important;
}
#OtherInfo{
  font-size: 10px !important;
}
.middlearea{
  height: calc(100vh - 268px);
  overflow: auto;
  border: 1px solid #cacecd;
  margin-left: 15px;
  margin-right: 15px;
}

.middlearea::-webkit-scrollbar {
  width: 8px !important;
  
 }
 .middlearea::-webkit-scrollbar-track {
  background: #ffffff;
}

.middlearea::-webkit-scrollbar-thumb{
background-color: #3e4e56 !important;
}
.modal-footer {
  border-top: 1px solid #26323800;
  padding: 0!important;
}
.add_tax_tabel tbody::-webkit-scrollbar-thumb, .invoice_tabel tbody::-webkit-scrollbar-thumb{
  background-color: #888c8e !important;
}
@media (max-width: 1024px) and (min-width: 768px){
table thead, table tbody {
    display: block!important;
}
}