<table *ngIf="headings" class="table table-bordered fixed">
  <thead *ngIf="!settings.hideHeader">
    <th style="width: 40px">#</th>
    <th *ngFor="let heading of objectKeys(headings);">{{headings[heading].title}}</th>
  </thead>
  <tbody>
    <tr style="background:#f2f2f2;">
      <td style="padding:5px" style="width: 40px">#</td>
      <td style="padding:5px;" *ngFor="let heading of objectKeys(headings);">
        <div class="filter-input-container">
          <input type="text" class="filter-input" [(ngModel)]="headings[heading].value" (input)="filterData(heading)"
            [placeholder]="headings[heading].placeholder">
        </div>
        <div class="sort-container">
          <i class="fa fa-sort sort-icon" (click)="sortColumn(heading)"></i>
        </div>
      </td>
    </tr>
    <tr *ngFor="let column of columns; let i = index;">
      <td style="width: 40px">{{i}}</td>
      <td *ngFor="let heading of objectKeys(headings);" [ngClass]="column[heading].class"
        (click)="column[heading].action && column[heading].action()"
        [ngStyle]="{cursor: column[heading].action ? 'pointer' : ''}">
        <div [ngClass]="column[heading].action ? 'zoom' : ''" *ngIf="column[heading].isHTML"
          [innerHTML]="column[heading].value"></div>
        <div [ngClass]="column[heading].action ? 'zoom' : ''" *ngIf="!column[heading].isHTML">{{column[heading].value}}
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="headings && !columns.length">
  <div class="no-record-found">No Record Found</div>
</div>