table.fixed {
    table-layout: fixed;
    font-size: 12px;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 4px 6px;
    overflow-wrap: break-word;
}

.filter-container {
    background: #fff; // border: 1.5px solid gray;
    border-radius: 4px;
}

.filter-input-container {
    width: calc(100% - 20px);
    display: inline-block;
    vertical-align: middle; // border: 2px solid #c2c2c2;
    border-right: none;
    height: 30px;
    border-radius: 5px 0px 0px 5px;
}

.filter-input {
    border: none;
    padding: 4px 6px;
    outline: none;
    width: 100%; // border: 1px solid #e2e2e2;
    margin: 0;
    font-size: 12px;
    height: 100%;
    font-weight: 500;
    background: transparent;
    color: #000;
}


.filter-input::placeholder {
    color: #000;
    font-weight: 700;
    letter-spacing: 0.25px;
}

.sort-container {
    display: inline-block;
    width: 20px;
    position: relative;
    vertical-align: middle;
    text-align: center; // border: 2px solid #c2c2c2;
    border-left: none;
    height: 30px;
    border-radius: 0px 5px 5px 0px;
}

.up-icon-container,
.down-icon-container {
    height: 13px;
}

.up-icon-container {
    margin-top: 3px;
}

.down-icon-container {
    margin-top: -6px;
}

.sort-icon-up {
    font-size: 16px;
    cursor: pointer;
}

.sort-icon-down {
    font-size: 16px;
    margin-top: -10px;
    cursor: pointer;
}

.no-record-found {
    width: 100%;
    margin: 10px auto;
    box-shadow: 1px 4px 6px #f2f2f2;
    height: 40px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    color: orange;
}

.sort-icon {
    font-size: 14px;
    vertical-align: -webkit-baseline-middle;
    cursor: pointer;
}

.no-search {
    height: 28px;
    text-align: center;
    line-height: 28px;
    font-weight: 600;
}

// Table Header
.tableFixHead {
    overflow-y: auto;
    height: 100vh;
}

.tableFixHead th {
    position: sticky;
    top: 0;
}

/* Just common table stuff. Really. */

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px 16px;
}

th {
    background: #eee;
}

.active-row {
    background: yellow !important;
}