table.fixed {
    table-layout: fixed;
    font-size: 12px;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 4px 6px;
}

.filter-input-container {
    width: calc(100% - 20px);
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #e2e2e2;
    border-right: none; 
    height: 30px;

}

.filter-input {
    border: none;
    padding: 4px 6px;
    outline: none;
    width: 100%;
    // border: 1px solid #e2e2e2;
    margin: 0;
    font-size: 12px;
    height: 100%;
}

.sort-container {
    display: inline-block;
    width: 20px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #e2e2e2;
    border-left: none; 
    height: 30px;
}

.up-icon-container,
.down-icon-container {
    height: 13px;
}
.up-icon-container{margin-top: 3px;}
.down-icon-container{margin-top: -6px;}


.sort-icon-up {
    font-size: 16px;
    cursor: pointer;
}

.sort-icon-down {
    font-size: 16px;
    margin-top: -10px;
    cursor: pointer;
}