<table *ngIf="headings" class="table table-bordered fixed">
  <thead>
    <th style="width: 40px">#</th>
    <th *ngFor="let heading of objectKeys(headings);">{{headings[heading].title}}</th>
  </thead>
  <tbody >
    <tr>
      <td style="padding:0"></td>
      <td style="padding:0;" *ngFor="let heading of objectKeys(headings);">
        <input type="text" class="form-control filter-input" [(ngModel)]="headings[heading].value"
          (input)="filterData(heading)">
      </td>
    </tr>
    <tr *ngFor="let column of columns; let i = index;">
      <td style="width: 40px">{{i}}</td>
      <td *ngFor="let heading of objectKeys(headings);" [ngClass]="column[heading].class"
        (click)="column[heading].action()">{{column[heading].value}}</td>
    </tr>
  </tbody>
</table>