nb-card-header{
    padding: 15px 20px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}
.tabset{
    padding: 0px !important;
    margin-bottom: 20px!important;
}
nb-card-body{
    padding: 0px 20px 15px;
}
.alert-danger{
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 12px !important;
    font-size: 18px !important;
}
.remove{
    font-size: 20px;
    color: #ef2c2c;
}
.report-btn{
    font-size: 20px;
    color: yellowgreen;
}
.edit-btn{
    font-size: 20px;
    color: rgb(81, 5, 131);
}