nb-card-header{
    padding: 10px 15px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}
.tabset{
    padding: 0px !important;
    margin-bottom: 20px!important;
}
nb-card-body{
    padding: 0px 15px;
}
.alert-danger{
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 12px !important;
    font-size: 18px !important;
}
:host ::ng-deep .tableFixHead{
    overflow: auto;
    max-height: calc(100vh - 162px);
}
:host ::ng-deep td i.fa-pencil-square-o{
    background-color: #04A9F5;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
}
:host ::ng-deep td i.fa-question-circle{
    background-color: #1DE9B6;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    margin-left: 5px;
}
:host ::ng-deep td i.fa-trash{
    background-color: #F44236;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    margin-left: 5px;
}
:host ::ng-deep td i.fa-route{
    background-color: #ff8091;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    margin-left: 5px;
}