<nb-card>
  <nb-card-body style="min-height: 450px;">
    <h1>Day Book</h1>
<div class="row" style="margin-left: 5px;">
  <div class="col">
    <div class="form-group">
      <label>Branch</label>
      <auto-suggestion (onSelected)="onSelected($event, 'branch', 'name')" url="Suggestion/GetBranchList" display="name"
        placeholder="Enter Branch" [preSelected]="null"></auto-suggestion>
    </div>
  </div>
  <div class="col">
      <div class="form-group">
        <label>Voucher Type</label>
        <auto-suggestion (onSelected)="onSelected($event, 'vouchertype', 'name')" url="Suggestion/GetVouchertypeList" display="name"
          placeholder="Enter Voucher Type" [preSelected]="null"></auto-suggestion>
      </div>
    </div>
    <div class="col">
        <div class="form-group">
          <label>Ledger</label>
          <auto-suggestion (onSelected)="onSelected($event, 'ledger', 'name')" url="Suggestion/GetReportLedger" display="name"
            placeholder="Enter Ledger" [preSelected]="null"></auto-suggestion>
        </div>
      </div>
      <div class="col">
          <div class="form-group">
              <label>Starting Date</label>
              <input type="text" style="cursor: pointer;" class="form-control" autocomplete="off" (click)="getDate('startdate')"
              placeholder="Select Date" name="account-date" [(ngModel)]="DayBook.startdate"
              readonly>
          </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>End Date</label>
                <input type="text" style="cursor: pointer;" class="form-control" autocomplete="off" (click)="getDate('enddate')"
                placeholder="Select Date" name="account-enddate" [(ngModel)]="DayBook.enddate"
                readonly>
            </div>
          </div>
  <div class="col">
    <div class="form-group">
      <button class="btn btn-primary" type="button" outline (click)="getDayBook()" id="submit"
        style="cursor: pointer;margin-top: 18px;">Submit</button>
    </div>
  </div>
</div>
<table class="table table-bordered">
  <tr>
    <th>#</th>
    <th>Code</th>
    <th>Customer Code</th>
    <th>Particular</th>
    <th>Amount(Debit)</th>
    <th>Amount(Credit)</th>
    <th>Date</th>
  </tr>
  <tr *ngFor="let dataItem of DayData; let i = index;">
    <td>{{i + 1}}</td>
    <td>{{dataItem.y_code}}</td>
    <td>{{dataItem.y_cust_code}}</td>
    <td>{{dataItem.y_particulars}}</td>
    <td>{{dataItem.y_dramunt}}</td>
    <td>{{dataItem.y_cramunt}}</td>
    <td>{{dataItem.y_date | date : 'dd MMM HH:mm'}}</td>
  </tr>
</table>
</nb-card-body>
</nb-card>
