<nb-card style="padding-top: 0px; border: 0px;">
  <nb-card-body>
    <div class="row">
      <div class="col-9">
        <span class="pdf-icon" title="PDF Export" (click)="pdfFunction()" style="cursor: pointer;"><i
            class="fa fa-file-pdf"></i></span>
        <span class="exel-icon" title="CSV Export" (click)="csvFunction()" style="cursor: pointer;margin-left: 10px;"><i
            class="fas fa-file-excel"></i></span>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label class="tjr-label">Voucher</label>
              <input autocomplete="off" type="text" id="vouchertype" class="form-control tjr-input" name="vouchertype"
                [(ngModel)]="DayBook.vouchertype.name">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label class="tjr-label">Ledger</label>
              <input autocomplete="off" type="text" id="ledgerdaybook" class="form-control tjr-input" name="ledger"
                [(ngModel)]="DayBook.ledger.name">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label class="tjr-label">Starting Date</label>
              <input type="text" style="cursor: pointer;" class="form-control tjr-input" autocomplete="off"
                id="startdate" placeholder="Select Date" name="account-date" [(ngModel)]="accountService.fromdate"
                maxlength="10">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="tjr-label">End Date</label>
              <input type="text" style="cursor: pointer;" class="form-control tjr-input" autocomplete="off" id="enddate"
                placeholder="Select Date" name="account-enddate" [(ngModel)]="accountService.todate" maxlength="10">
            </div>
          </div>
          <div class="col-2">
            <div *ngIf="flag==0" class="form-group addvance">
              <a href="javascript:void(0)" outline (click)="addvance()" id="submit"
                style="cursor: pointer;margin-top: 18px;">Advanced Search</a>
            </div>
            <div *ngIf="flag == 1" class="form-group addvance">
              <a href="javascript:void(0)" outline (click)="addvance()" id="submit" class="advncolor"
                style="cursor: pointer;margin-top: 18px;">Advanced Search</a>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <button class="btn btn-primary btn-block tjr-button" type="button" outline (click)="getDayBook()"
                id="submit" style="cursor: pointer;margin-top: 18px;">Submit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="auto-sugg">
          <div class="form-group" *ngIf="this.activeId.includes('vouchertype')">
            <auto-suggetion-in-side [data]="vouchertypedata" targetId="vouchertype" display="name"
              (select)="onSelected($event, 'vouchertype', 'name')"></auto-suggetion-in-side>
          </div>
          <div class="form-group" *ngIf="this.activeId.includes('ledgerdaybook')">
            <auto-suggetion-in-side [data]="ledgerData" targetId="ledgerdaybook" display="name"
              (select)="onSelected($event, 'ledger', 'name')"></auto-suggetion-in-side>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-bordered" id="table">
      <thead style="background-color:#263238; color:#fff;">
        <tr>
          <th>S.No</th>
          <th>Date</th>
          <th>Particular</th>
          <th>Vch Type</th>
          <th>Vch No.</th>
          <th>Amount(Debit)</th>
          <th>Amount(Credit)</th>
          <th *ngIf="accountService.selected.branch.id ==0">Branch</th>
        </tr>
      </thead>
      <tr *ngFor=" let dataItem of data; let i = index;" (click)="selectedRow = i"
        (dblclick)="(dataItem.y_type.toLowerCase().includes('voucher'))  ? (dataItem.y_type.toLowerCase().includes('trip')) ? openConsignmentVoucherEdit(dataItem) :(dataItem.y_type.toLowerCase().includes('fuel')) ? openFuelEdit(dataItem) : (dataItem.y_type.toLowerCase().includes('lr')) ? editTransfer(dataItem['y_transferid']) : openVoucherEdit(dataItem.y_voucherid,0,dataItem.y_vouchertype_id) : (dataItem.y_type.toLowerCase().includes('freight')) ?(dataItem.y_type.toLowerCase().includes('expense'))?openfreight(dataItem['y_transferid']):openRevenue(dataItem['y_transferid']): (dataItem.y_type.toLowerCase().includes('stock')) ? openStoreQuestionEdit(dataItem) :(dataItem.y_type.toLowerCase().includes('wastage'))? openinvoicemodel(dataItem,dataItem.y_voucherid,dataItem.y_vouchertype_id) : openServiceSalesInvoicemodel(dataItem,dataItem.y_voucherid,dataItem.y_vouchertype_id)"
        (enter)="openVoucherEdit(dataItem.y_voucherid) "
        [ngClass]="{'highlight' : selectedRow == i, 'highlightcolor' : data.length-1 == i}">
        <td>{{ (i + 1)  + ((pages.active - 1) * accountService.perPage) }}</td>
        <td>{{dataItem.y_date | date:'dd-MMM-yy'}}</td>
        <td>{{dataItem.y_particulars}}
          <span *ngIf="dataItem.y_docscount>0">
            <i class="far fa-image" (click)="imageOpen(dataItem);"></i>
          </span>
        </td>
        <td>{{dataItem.y_type}}</td>
        <td>{{(dataItem.y_date != null) ? dataItem.y_code +'/'+ dataItem.y_cust_code : ''}}</td>
        <td>{{dataItem.y_dramunt | number : '1.2-2'}}</td>
        <td>{{dataItem.y_cramunt | number : '1.2-2'}}</td>
        <td *ngIf="accountService.selected.branch.id ==0"> {{dataItem.y_company_branch}}</td>
      </tr>
    </table>
    <!-- Pagination -->
    <div class="pagination" *ngIf="pages.count >= 1">
      <!-- Page Count -->
      <div class="pagination_links">
        <button (click)="jrxPagination(pages.active - 1)" [disabled]="pages.active == 1">Pre</button>
        <button *ngFor="let page of common.generateArray(pages.count)" (click)="jrxPagination(page)"
          [ngClass]="page == pages.active ? 'active-page' : ''">{{page}}</button>
        <button (click)="jrxPagination(pages.active + 1)" [disabled]="pages.active == pages.count">Next</button>
      </div>
      <!-- Page Count END -->
      <!-- Records Per Page -->
      <div class="numer_list ml-3">
        <input type="text" class="customPage form-control" name="customPageNo" (ngModelChange)="jrxPageLimitReset()"
          [(ngModel)]="pages.limit">
      </div>
      <!-- Records Per Page END -->
    </div>
    <!-- Pagination END -->
  </nb-card-body>
</nb-card>