.placement-total {
    background-color: #fff;
    margin: 5px 0px;
}

.card-view {
    .card + .card {
        margin-top: 15px;
    }

    .card {
        padding: 10px;
        color: #000;

        p {
            margin: 0px;
            font-size: 12px;
        }

        small {
            color: #7e7e7e;
        }

        .card-heading {
            font-size: 16px;
            color: #000;
            margin-bottom: 10px;

            .status {
                font-size: 10px;
                background: #f2f2f2;
                padding: 3px 4px;
                font-weight: 500;
                letter-spacing: 0.8px;
                text-transform: uppercase;
                cursor: pointer;
            }

            .fa-square {
                color: #a4abb3;
                font-size: 14px;
            }

            .fa-check-square {
                color: #000;
                font-size: 14px;
            }
        }

        .card-content-one {
            .icons {
                i {
                    height: 25px;
                    background-color: rgb(226, 255, 227);
                    color: #787878;
                    border-radius: 100px;
                    width: 25px;
                    text-align: center;
                    line-height: 25px !important;
                    cursor: pointer;
                }

                i + i {
                    margin-left: 5px;
                }
            }
        }

        .card-content-four {
            border-top: 1px solid #ccc;
            padding-top: 10px;
            margin-top: 10px;

            span + span {
                margin-left: 10px;
            }

            span {
                i {
                    margin-right: 5px;
                }
            }
        }
    }

    .icons {
        display: none;
    }

    .card:hover .icons {
        display: block;
    }

    .card-content-four .col-2 {
        display: none;
    }

    .card:hover .card-content-four .col-2 {
        display: block;
    }
}

.list-view {
    .list-header {
        background-color: #dbd9d9;
        display: flex;
        flex-wrap: wrap;
        position: sticky;
        top: 0px;
        z-index: 2;
        padding: 5px 15px;

        .listHeader {
            color: rgb(58, 58, 58);
            font-size: 16px;
            max-width: 200px;
            margin: 10px 5px 5px;
            flex: 1 1 0%;
        }
    }

    .list-body {
        .list-row {
            background-color: rgb(255, 255, 255);
            display: flex;
            flex-wrap: wrap;
            margin: 0px;
            padding: 5px 15px;

            .listItem {
                display: flex;
                flex-direction: column;
                min-height: 40px;
                -webkit-box-align: baseline;
                align-items: baseline;
                word-break: break-word;
                color: rgb(58, 58, 58);
                max-width: 200px;
                margin: 10px 5px 5px;
                flex: 1 1 0%;

                samp {
                    color: rgba(58, 58, 58, 0.7);
                }
            }

            .listItem.tools-icon {
                display: block;
                white-space: nowrap;

                span + span {
                    margin-left: 10px;
                }

                span {
                    display: inline-block;
                    vertical-align: top;

                    i {
                        display: block;
                        color: #20a223;
                        margin-bottom: 5px;
                    }

                    i.fa-react {
                        color: #939393;
                    }

                    i.fa-key {
                        color: #ee7676;
                    }
                }
            }
        }
    }
}

.search-box {
    position: relative;

    i {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    input {
        padding-left: 30px !important;
        border: 1px solid #eeeeee;
        box-shadow: none;
        outline: none;
    }
}

.txt-yym {
    margin: 0px;
    padding: 0px;
    text-align: left;

    li {
        display: inline-block;
        color: #6cc3ee;
        cursor: pointer;
        background: white;
        border-radius: 8px;
        padding: 10px 0px !important;
        box-shadow: 0 1px 3px #ccc8c8;
        a {
            color: #6cc3ee;
            font-weight: 600;
            padding: 10px 10px !important;
        }

        div {
            padding: 5px 10px;
        }

        .dropdown {
            min-width: 152px;
            padding: 14px 0px !important;
            a {
                color: #2597ce;
                font-weight: 600;
                padding: 10px 10px !important;
            }

            .dropdown-menu {
                border-radius: 7px;

                div {
                    padding: 5px;
                    cursor: pointer;
                    text-transform: capitalize;
                }
            }
        }
    }

    li + li {
        margin-left: 15px;
    }
}

.placement-total {
    span {
        display: inline-block;
        padding-bottom: 3px;
        margin-left: 10px;
        color: #000;

        &.active-total {
            border-bottom: 2px solid #304ffe;
            color: #304ffe;
        }
    }
}

.stop-live {
    position: absolute;
    z-index: 999999;
    left: 218px;
    font-size: 30px;
    color: red;
    cursor: pointer;
    top: 10px;
    background: #ffffff;
    padding: 5px;
    width: 70px;
    text-align: center;
    border-left: 1px solid #e2e2e2;
}

.online {
    color: green !important;
}

.idle {
    color: #ffc107 !important;
}

.unreachable {
    color: red !important;
}

.live,
.stop,
.route-mapper {
    font-size: 10px;
    background: #f2f2f2;
    padding: 3px 4px;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    cursor: pointer;
}

.live,
.stop {
    margin-right: 8px;
}

.stop {
    color: red;
}

.live i,
.stop i,
.route-mapper i {
    margin-right: 5px;
}

.vehicle-on {
    color: #1ab61a;
    font-weight: bold;
}

.vehicle-off {
    color: red;
    font-weight: bold;
}

.fa-battery-empty {
    position: relative;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: -1px;
        left: 6px;
        height: 15px;
        width: 4px;
        background-color: #000;
        transform: rotate(36deg);
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
    }
}

.clsgreen {
    color: green;
}
.clsred {
    color: red;
}
.clsblack {
    color: black;
}

:host::ng-deep {
    .tableFixHead {
        table {
            th {
                width: 70px;
            }
            .ckbox {
                width: 30px;
               
            }

            .smt-vehicle {
                width: 80px;
            }
            .smt-status {
                width: 60px;
            }
            .smt-IGNITION {
                width: 70px;
            }
            .smt-GPS.Power {
                width: 80px;
            }
            .smt-info {
                width: 45px;
            }
            .smt-current.location {
                width: 200px;
            }
        }
    }
}
.tab1{
    width: 100%;
    height: calc(100vh - 73px) !important;
    border: 1px solid #d4d4d4;
}
.map2{
    width: 100%;
    height: calc(100vh - 73px) !important;
    border: 1px solid #d4d4d4;
}
.map-col {
    position: relative;
    padding: 0px 0px 0px 5px;
}
.table-col {
    padding: 0px;
}
.angle-container {
    position: absolute;
    bottom: 20px;
    left: 10px;
    z-index: 98;
}
.marker-options {
    position: absolute;
    top: 5px;
    right: 55px;
    z-index: 95;
    font-size: 11px;
    font-weight: bold;
    input,
    span {
        vertical-align: middle;
        color: #000;
    }
}

.heading-section {
    align-items: center;
    padding: 6px 0 4px 0;
}

// .x-status-container {
//     display: inline-block;
//     height: 28px;
//     border: 1px solid whitesmoke;
//     padding: 5px;
//     div {
//         display: inline-block;
//         margin-right: 10px;

//         label {
//             padding-left: 5px;
//             color: blue;
//         }
//         input,
//         label {
//             margin: 0;
//             vertical-align: middle;
//         }
//     }
//     div:nth-child(2) {
//         label {
//             color: green;
//         }
//     }
//     div:nth-child(3) {
//         label {
//             color: #ffc107;
//         }
//     }
//     div:nth-child(4) {
//         label {
//             color: red;
//         }
//     }
// }
#map-lat-lng {
    bottom: 0px;
    position: absolute;
    margin-left: 80px;
    padding: 2px;
    z-index: 499;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
}
.x-group {
    width: 200px;
    display: inline-block;
    margin-right: 10px;
    select {
        background-color: #fff !important;
        color: #0286c6 !important;
        border: 0px !important;
        box-shadow: 0 1px 3px #ccc8c8;
        border-radius: 7px !important;
        padding: 0px 22px 0px 7px !important;
        font-size: 12px !important;
        text-transform: uppercase;
        // -webkit-appearance: none;
        // -moz-appearance: none;
        // appearance: none;
        // position: relative;
        min-width: 120px;
        min-height: 35px;
    }
    // .selectarrow{
    //     position: relative;
    //   }
    // .selectarrow:after {
    //   content: "\f078";
    //   position: absolute;
    //   font-family: "Font Awesome 5 Free";
    //   top: 8px;
    //   right: 5px;
    //   font-size: 16px;
    // }
}

.status-img {
    display: flex;
    border-radius: 7px;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 2.6rem;
        width: 2.6rem;
        margin: 0.3rem;
        border-radius: 50px;
        background: #fff;
        box-shadow: 0 1px 3px #ccc8c8;
    }
    div:nth-child(1) {
        border: 3px solid #0fd108;
    }
    div:nth-child(2) {
        border: 3px solid #fce413;
    }
    div:nth-child(3) {
        border: 3px solid #fe1f2e;
    }
    div:nth-child(4) {
        width: 0.6rem;
        font-weight: 800;
        font-size: 1.5rem;
        background: transparent;
        box-shadow: none;
    }

    div:last-child {
        border: 3px solid #1036b3;
    }
    img {
        width: 15px;
        height: 15px;
        vertical-align: middle;
        margin-left: 2px;
        // display: none
    }
}
.alternate-dashboard {
    display: inline-block;
    margin-left: 2px;
    cursor: pointer;
    background: #fff;
    border-radius: 7px;
    padding: 5px 8px;
    box-shadow: 0 1px 3px #ccc8c8;
    min-height: 35px;
    img {
        width: 26px;
    }
}
.jrx-provider-container {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    padding-bottom: 3px;
    min-width: 400px;
}
:host::ng-deep {
    .x-provider {
        margin: 0;
        div {
            margin-bottom: 0px !important;
        }
        .col-6:nth-child(2) {
            padding-right: 0px;
        }
        .col-6:nth-child(4) {
            padding: 0px 10px 0px 8px;
        }
        .col-sm-6 {
    padding: 0 12px 0 0;
        }
    }
    .tagsinput{
        .form-control{
         background-color: #fff!important;
        color: #0286c6!important;
        border: 0!important;
        box-shadow: 0 1px 3px #ccc8c8!important;
        border-radius: 7px!important;
        padding: 0 22px 0 7px!important;
        font-size: 12px!important;
        text-transform: uppercase;
        min-width: 120px;
        min-height: 35px;
    }
    .form-control::placeholder{
        color: #0286c6!important;
        font-weight: 600!important;
        font-size: 12px!important;
   }
   .fas.fa-sort-down{
    color: #0286c6!important;
   }
}
}

//custom radio button
.radio-tile-group {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    position: fixed;
    top: 4px;
    z-index: 99999;
    right: 5px;
}
.radio-tile-group .input-container {
    position: relative;
    height: 3rem;
    width: 3rem;
    margin: 0.3rem;
    transition: 0.5s;
}

.radio-tile-group .input-container .radio-button {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100%;
    margin: 0;
    cursor: pointer;
}
.radio-tile-group .input-container .radio-tile {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 75px;
    box-shadow: 1px 3px 7px #cccccc;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;

    label {
        margin-bottom: 0;
        padding-right: 0!important;
    }
}
.radio-tile-group .input-container:hover .radio-tile {
    box-shadow: 0px 5px 6px #ccc8c8;
    transition: 0.5s;
   
}

.radio-tile-group .input-container:nth-child(1) .radio-tile {
    background-color: #6484f1;
    // background-image: linear-gradient(to right, #4481eb, #04befe);
    // box-shadow: 0 4px 15px 0 #4184ea91;
}
.radio-tile-group .input-container:nth-child(2) .radio-tile {
    background-color: #0fd108;
    // background-image: linear-gradient(to right, #2bb673, #30dd8a );
    // box-shadow: 0 4px 15px 0#17a86c99;
}

.radio-tile-group .input-container:nth-child(3) .radio-tile {
    background-color: #fce413;
    // background-image: linear-gradient(to right, #f1d805, #fbff9d);
    // box-shadow: 0 4px 15px 0#f1d8055c;
}
.radio-tile-group .input-container:nth-child(4) .radio-tile {
    background-color: #fe1f2e;
    // background-image: linear-gradient(to right, #fe1f2e, #f5797e);
    // box-shadow: 0 4px 15px rgba(242, 97, 103, 0.4);
}

.radio-tile-group .input-container .radio-tile-label {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile {
    color: white;
    // -webkit-transform: scale(1.1, 1.1);
    //         transform: scale(1.1, 1.1);
}

.radio-tile-group .input-container .radio-button:checked + .radio-tile .radio-tile-label {
    color: white;
}
.actionicon {
    display: flex;
    align-items: center;
    padding: 0 10px;
    position: absolute;
    right: 2px;
    top: 79px;
    z-index: 9999;
    .listicon {
        margin-right: 7px;
        box-shadow: 0 1px 3px #ccc8c8;
        padding: 5px;
        background: white;
        border-radius: 5px;
        min-width: 36px;
        text-align: center;
        min-height: 35px;
        cursor: pointer;
        .dropdown-menu.show {
            top: 12px !important;
            left: -10px !important;
        }
        img {
            width: 20px;
        }
        .dropdown-toggle::after {
            display: none;
        }
    }
    .innericon {
        box-shadow: 0 1px 3px #ccc8c8;
        padding: 5px;
        background: white;
        border-radius: 5px;
        margin-right: 7px;
        min-width: 36px;
        text-align: center;
        cursor: pointer;
        min-height: 35px;
        i {
            font-size: 24px;
            color: #1a60bb;
        }
    }
}
.actionicon .fa-sync:hover {
    -webkit-animation: spin 1s linear 1;
    -moz-animation: spin 1s linear 1;
    animation: spin 1s linear 1;
}

//   custom menu by kavita
.navbar {
    padding: 0.5rem 0;
}
.custmenu .nav-item {
    border: 0px !important;
    float: left;
    margin-right: 10px;
    box-shadow: 0 1px 3px #ccc8c8;
    border-radius: 7px !important;
    a {
        background-color: #ffffff !important;
        padding: 8px 10px !important;
        color: #0286c6 !important;
        border-radius: 7px !important;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        height: 100%;
        i {
            font-size: 1.2rem;
            color: #000;
            margin-right: 10px;
        }
    }
    a:hover {
        background-color: #6cc3ee !important;
        color: #fff !important;
        i {
            color: #fff;
        }
    }
    a:active {
        background-color: #6cc3ee !important;
        color: #fff !important;
        i {
            color: #fff;
        }
    }
    // .dropdown-toggle::after {
    //     display: inline-block;
    //     vertical-align: bottom;
    //     content: "\f107";
    //     font-family: "Font Awesome 5 Free";
    //     font-weight: 900;
    //     border: none;
    //     color: #000;
    //     font-size: 1.4rem;
    //     margin-left: 1rem;
    // }
    .dropdown-menu.show {
        animation: header-actions-enter 0.2s ease-in;
        padding: 0px 12px !important;
        border-radius: 7px;
        box-shadow: 0px 2px 5px #b3b0b0;
        a {
            border-bottom: 1px solid #d6d2d2;
            border-radius: 0 !important;
            padding: 2px 0px !important;
            background: #fff !important;
            color: #6cc3ee !important;
        }
        a:last-child {
            border-bottom: none;
        }
        a:hover {
            background: #fff !important;
            color: #545657 !important;
        }
    }
}

.card-body{
    background-color: #f3f7fa;
    padding: 15px 0 0 0;

    h4{
            font-size: 1.5rem;
            font-weight: 500;
            color: #fff;
            position: relative;
            display: inline-block;
            z-index: 1;
    }
    h4::before{
        content: "";
        position: absolute;
        width: 130%;
        height: 40px;
        left: -15px;
        top: -6px;
        -webkit-box-shadow: 2px 1px 5px #b9b3b3;
        box-shadow: 2px 1px 5px #b9b3b3;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        background: #5ebfef;
        z-index: -1;
}
}


:host ::ng-deep {
    smart-table{
        height: 100%;
        display: block; 
        table {
            border: none;
            tr{
                box-shadow: 0 0 6px #ccc9c9;
            }
            border-collapse: separate;
            border-spacing: 0 10px;
            transform: translatey(-10px);
            tbody tr:nth-child(even) {
                background-color: #efefef!important;
            }
            tbody tr:nth-child(odd) {
                background-color: #fff!important;
            }
        } 
      
        td{
            height: 100px;
            
        }
        .Online {
            background: #0fd108!important;
        }
        
        .Idle {
            background: #fce413!important;
        }
        .Offline{
            background: #fe1f2e!important;
            height: 70px;
        }
        td:first-child p{
            position: relative;
            margin-bottom: 0;
        }
        td:first-child p:before {
            content: "";
            position: absolute;
            width: 74px;
            height: 40px;
            left: -6px;
            top: -12px;
            -webkit-box-shadow: 2px 1px 5px #b9b3b3;
            box-shadow: 2px 1px 5px #b9b3b3;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
      }
  
    smart-table.tab2 {      
        .tableFixHead {
            height: calc(100vh - 73px) !important;
          
            th{
                padding: 10px 5px!important;
                border: 0;
                width: 200px;
                top: 11px;
                vertical-align: middle;
            //    .filter-container{
            //        background: #000000;
            //        border-radius: 10px;
            //        padding: 10px 0px;
            //        box-shadow: 0px 7px 9px #e4e4e4;
            //     }
            //     .filter-input{
            //         color: #f4f4f4;
            //    }
            //     .filter-input::placeholder {
            //        color: #f4f4f4;
            //     }
              
            //     .sort-icon {
            //         color: #f4f4f4;
            //     }
            }
           
            th:first-child {
                padding: 10px 5px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                text-align: center;
            }
            th:last-child {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
            th:nth-child(2){
                width: 50px;
            }
            th:nth-child(3){
                width: 130px;
            }
              
                .sort-icon {
                          position: absolute;
                          top: 5px;
                       }
            td{
                vertical-align: middle;
                border: none;
            }
            td:first-child {
                padding: 10px 5px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                text-align: center;
            }
            td:last-child {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
        .tableFixHead::-webkit-scrollbar-thumb {
            border-radius: 8px !important;
            background-color: #a8a8a8 !important;
        }
        .tableFixHead::-webkit-scrollbar-button:vertical:start:decrement {
            background: none;
            background-color: none;
            width: 0;
        }
        
        .tableFixHead::-webkit-scrollbar-button:vertical:end:increment {
            background: none;
            background-color: none;
            width: 0;
        }
        
        .tableFixHead::-webkit-scrollbar-button:horizontal:end:increment {
            background: none;
            background-color: none;
            width: 0;
        }
        
        .tableFixHead::-webkit-scrollbar-button:horizontal:start:decrement {
            background: none;
            background-color: none;
            width: 0;
        }
        
        .tableFixHead::-webkit-scrollbar-button:vertical:end:increment {
            background: none;
            background-color: none;
            width: 0;
        }
        
        .tableFixHead::-webkit-scrollbar-button:horizontal:end:increment {
            background: none;
            background-color: none;
            width: 0;
        }
        
        .tableFixHead::-webkit-scrollbar-button:horizontal:start:decrement {
            background: none;
            background-color: none;
            width: 0;
        }
    }
   
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(1turn);
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(1turn);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1turn);
    }
}

.nearby {
    position: absolute;
    top: 15px;
    left: 201px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 3px 4px;
    border-radius: 5px;
    label {
        margin-right: 6px;
    }
    select {
        display: inline-block;
        width: 84px;
        padding: 0px 5px !important;
        height: 18px !important;
    }
}

.map-filter-class{
    background: rgba(0, 0, 0, 0.2);
    padding: 1px;
    border-radius: 5px;
}

