:host ::ng-deep td i.fa-chart-pie{
    background-color: #4ff5e6;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    margin-left: 4px;
}
:host ::ng-deep td i.fa-chart-pie:hover span{
    display: block;
}
:host ::ng-deep td i.fa-chart-pie span{
    position: absolute;
    display: none;
    padding: 11px 28px;
    left: -10px;
    top: -28px;
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    z-index: 999;
}
:host ::ng-deep td i.fa-chart-pie span::before{
    content: 'Status';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #4ff5e6;
    border-radius: 3px;
    padding: 5px 10px;
}
:host ::ng-deep td i.fa-chart-pie span::after{
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #4ff5e6;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}
:host ::ng-deep .selected{
    background-color: yellow !important;
}
:host ::ng-deep.blue {
    color: blue;
    font-weight: 700;
}