nb-card-header{
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 15px;
}
:host ::ng-deep td .zoom{
    background: linear-gradient(-135deg,#1de9b6 0,#1dc4e9 100%);
    display: inline-block;
    padding: 3px 8px;
    border-radius: 3px;
    color: #fff;
}
nb-card-header button{
    padding: 5px;
    border-radius: 3px;
    text-transform: capitalize;
    width: 100%;
}

:host ::ng-deep td i.fa-print span {
    position: absolute;
    display: none;
    padding: 11px 57px;
    left: -44px;
    top: -28px;
    font-family: Roboto;
    z-index: 999;
  }
.fa-print:before {
    content: "\f02f";
    padding: 10px;
}

