nb-card-header{
    padding: 10px 15px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}
total-clr{
    color: blue;
}

:host ::ng-deep .blue{
    color: blue;
}

.btn-primary{
    text-transform: capitalize;
    padding: 12px 14px;
    margin: 0px;
    height: auto;
}
:host ::ng-deep .tableFixHead {
    overflow-y: auto;
    display: block;
    width: 100%;
    table-layout: fixed;
    overflow: auto;
    max-height: calc(100vh - 170px);
    height: auto !important;
}

.pdf-icon{
    font-size: 30px;
    color: #9F0001;
}
.exel-icon{
    font-size: 30px;
    color: #217346;
}