<!-- <div class = "row">
    <div class="col-4">
        <p>hello</p>
    </div>
    <div id="map" class="col-8 map">
    </div>
</div>
 -->

<div class="container" style="background-color: white; color:black">
    <div class="row">
        <div class="col-4">
            <div class="left-section">
               

              <span> Vehicile : </span>
              <div class="smartSuggestion">
              <auto-suggestion (onSelected)="getvehicleData($event)" url="Vehicles/getVehicleListForFoid"
              display="regno" placeholder="Enter Vehicle Number"></auto-suggestion>
            </div>
               <div class="slidecontainer" style="margin-top:5%">
                    <label for="Slider" > Run Time  </label>
                     <input type="range" min="1" max="100" [value]="slider" (ng-controller)="slidecontainer()" name="slider" class="slider" id="myRange">
             
            </div>
            <div class="styled-input-m" style="margin-top:5%">
                   <span> Start Date :&nbsp;<input name="txtFromDate" type="date" [(ngModel)]="data.startDate" id="txtFromDate"  size="11">
                   </span>
                   <br><br>
                    <span style="margin-top: 5%;">End Date :&nbsp;<input name="txtFromDate1" type="date" [(ngModel)]="data.endDate" value="" id="txtFromDate" size="11">
                    </span>
                   </div> 
                 <div class="stopage"     style="margin-top:5%;" >
                       Pause: &nbsp;<input name="txt" type="text" [(ngModel)]="data.pause" id="txt"  size="4" style="border-radius:5px">
                          <br>
                       Frequency: <input name="frequency" type="text" [(ngModel)]="data.frequency" id="frequency" size="4" style="margin-top:3%;border-radius:5px;">
                       </div> 
                                  <div class = "checkbox">
                                    <input type="checkbox" name="c1" [(ngModel)]="data.stoppage">Stoppage &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="b1" name="txt" type="text" [(ngModel)]="data.min" id="txt"  size="4" style="border-radius:5px;margin-left:104px;">(Min)
                                    <br>
                                    <input type="checkbox" name="c2" [(ngModel)]="data.time" >Time Travel  <input class="b1" name="txt" type="text" [(ngModel)]="data.hour" id="txt"  size="4" style="border-radius:5px;margin-left:123px;">(Hours)<br>
                                    <input type="checkbox" name="c3" [(ngModel)]="data.over"> Over Speed <input class="b2" name="txt" type="text" [(ngModel)]="data.kmph" id="txt"  size="4" style="border-radius:5px;margin-left:124px;">(KMPH)<br>
                                    <input type="checkbox" name="c4"[(ngModel)]="data.location" > Location  <input class="b5" name="txt" type="text"  id="txt" size="4"  [(ngModel)]="data.grade" style="border-radius:5px;margin-left:141px;">(Grade)<br>
                                    <input type="checkbox" name="c5" [(ngModel)]="data.site" > Site      <input type="checkbox" name="c7" value="Bike"[(ngModel)]="data.reach " style="margin-left:170px;"><label style="margin-left:165px"> Reachable</label><br>
                                    <input type="checkbox" name="c6"  [(ngModel)]="data.ignitio"> Ignitio  <input type="checkbox" name="c8" value="Bike" style="margin-left:155px;"[(ngModel)]="data.battery"><label style="margin-left:150px">Battery </label>
                                       <br>
                        <input type="submit" value="Submit" style ="margin-top:10px;margin-left:70px;font-size:15px" (click)="submitData()">
                                  </div>
                                </div>
                            </div>

                                           
    

        <div class="col-8">
            <span>
                <span class="zoom-btn" (click)="mapService.zoomMap(6)">1</span>
                <span class="zoom-btn" (click)="mapService.zoomMap(9)">2</span>
                <span class="zoom-btn" (click)="mapService.zoomMap(12)">3</span>
                <span class="zoom-btn" (click)="mapService.zoomMap(15)">4</span>
                <span class="zoom-btn" (click)="mapService.zoomMap(18)">5</span>
                &nbsp;&nbsp;<span><input type ="button" value= "Show Sites:"><input name="txt" type="text" [(ngModel)]="data.showsite" id="txt"  size="4" ></span>
                <span><input type ="button" value= "Show:" style="margin-left:20px;z-index:1"/> <input name="frequency" type="text" [(ngModel)]="data.show"  id="frequency" placeholder="Longitude,latitude" size="15" style="margin-top:3%;">
                 </span>

             </span>
            <div id="map" class="map">

                   
x 
            </div>
        </div>
    </div>
</div>
