nb-card-header{
    padding: 10px 15px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
  }
.btn-primary{
    padding: 6px 15px;
    border-radius: 3px; 
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
.pdf-icon{
  font-size: 20px;
  color: #9F0001;
}
.exel-icon{
  font-size: 20px;
  color: #217346;
}
table{
    thead{
        display: table;
        width: 100%;
        table-layout: fixed;
        background-color: #E5F3F9;
        color: #000;
        tr{
            th:nth-child(1){
                width: 50px;
            }
            th{
                width: 278px;
            }
            th:last-child{
                width: auto;
                word-break:break-all;
            }
        }
    }
    tbody{
        overflow-y: auto;
        display: block;
        width: 100%;
        table-layout: fixed;
        overflow: auto;
        max-height: calc(100vh - 210px);
        tr{
            display: table;
            table-layout: fixed;
            width: 100%;
            td:nth-child(1){
                width: 50px;
            }
            td{
                width: 278px;
            }
            td:last-child{
                width: auto;
                word-break:break-all;
            }
        }
        tr:nth-child(odd){
            background-color: #fff;
        }
        tr:nth-child(even){
            background-color: #e4e4e4;
        }
    }
} 

:host ::ng-deep.blue {
    color: blue;
    font-weight: 700;
    cursor: pointer;
}
:host ::ng-deep.black {
    color: black;

}

.float{
    float:right;
  }
  
   :host ::ng-deep .tableFixHead th{
    background:#E5F3F9!important;
  }
  
  :host ::ng-deep .tableFixHead{
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   // overflow:hidden!important;
  }
  
  :host ::ng-deep tbody tr:nth-child(even){
    background:#EDF1F7!important;
  }
  
  :host ::ng-deep tbody tr:nth-child(odd){
   background:#f5f5f538 !important;
  }
  
  :host ::ng-deep .table-bordered {
    border:none!important;
    border-width:0!important;
  }
  
  :host ::ng-deep tbody tr td{
    border:none!important
  }
  
  :host ::ng-deep thead tr th{
    border:none!important;
  }
  
  :host ::ng-deep .filter-container{
    border-radius:23px!important;
  }

  :host ::ng-deep thead{
      border-top-left-radius:5px;
      border-top-right-radius:5px;
  }