.modal-header {
  padding: 10px 15px !important;
}
// table {
//   margin: 0px;
// }
// .tbl {
//   overflow: auto;
//   height: 60vh;
//   display: block;
//   border: 0px;
//   margin: 0px;
// }
// .table table tbody tr {
//   height: 100%;
//   width: 100%;
//   max-width: 160px;
// }
.slide-bar {
  display: -moz-inline-stack;
  vertical-align: middle;
  display: inline-block;
  height: 68px;
  border: 2px solid #909090;
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.time-line-event {
  position: absolute;
  width: 100%;
}
.time-line-event .time-line-scale {
  position: relative;
  width: 98%;
  border-bottom: 1px solid black;
  top: 4px;
}
.time-line-event .time-line-circle {
  position: absolute;
  height: 10px;
  top: 50%;
  background-color: aqua;
}
.slide-bar .player_inner {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
  height: auto;
  margin: 0px;
  padding: 0px 15px;
}
.player_inner button {
  display: inline-block;
  background-color: #000;
  border: 0px;
  color: #fff;
  font-size: 12px;
  padding: 8px 10px;
  border-radius: 5px;
  outline: none !important;
}
.player_inner span {
  color: #868686;
}
.player_inner .road {
  float: right;
  margin-top: 5px;
}
.player_inner span.clock {
  display: block;
  text-align: right;
  margin-top: 0px;
}
.player_inner input {
  display: inline-block;
}
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  // visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  margin: 0 !important;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.5s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.btn-primary.form-control {
  border: 0px;
  color: #fff;
  padding: 5px 0px;
}
.close {
  font-size: 36px;
  padding: 8px 16px;
  outline: none;
}
// table {
//   thead {
//     background-color: #263238;
//     color: #fff;
//     display: table;
//     width: 100%;
//   }
//   tr {
//     th {
//       padding: 5px 10px;
//       font-weight: normal;
//       width: 150px !important;
//     }
//     td {
//       padding: 5px 10px !important;
//       font-size: 12px;
//       width: 150px !important;
//       word-break: break-all;
//     }
     .go_btn {
      width: 50px !important;
    }
//   }
//   tbody {
//     display: table;
//     width: 100%;
//   }
// }

.lite {
  margin-left: 50vh !important;
  font-weight: 1000;
  color: darkmagenta;
}
.star {
  font-size: 16px;
  color: black;
}
.bg-yellow {
  background: yellow;
}

.tableFixHead {
  overflow-y: auto;
  height: auto;
  max-height: calc(100vh - 215px);
}

.tableFixHead th {
  position: sticky;
  top: 0;
}
.halts-show{
  thead{
      th{
          padding: 2px 5px;
          font-size: 12px;
          font-weight: bold;
          background-color: #37474F;
          color: #fff;
      }
  }
  tbody{
      tr{
          td{
              font-size: 12px;
              padding: 2px 5px;
              button.btn-primary{
                  font-size: 10px;
                  text-transform: capitalize;
                  padding: 5px 8px;
                  border-radius: 3px;
                  border: 0px;
              }
              button.btn-success{
                  background-color: #06d79c;
                  border: 1px solid #06d79c;
                  -webkit-box-shadow: 0 2px 2px 0 rgba(40, 190, 189, 0.14), 0 3px 1px -2px rgba(40, 190, 189, 0.2), 0 1px 5px 0 rgba(40, 190, 189, 0.12);
                  box-shadow: 0 2px 2px 0 rgba(40, 190, 189, 0.14), 0 3px 1px -2px rgba(40, 190, 189, 0.2), 0 1px 5px 0 rgba(40, 190, 189, 0.12);
                  color: #fff;
                  border-radius: 5px;
                  padding: 5px 10px;
                  outline: none;
                  font-size: 10px;
                  text-transform: capitalize;
              }
          }
      }
  }
}