ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
    position: absolute;
    color: black;
    background: #ffff;
    list-style: none;
    line-height: 1.6em;
  }
  .form-group{
    margin: 0px !important;
  }
  .auto_listing{
    position: relative;
    margin: 0px;
    height: 250px;
    padding: 10px;
    overflow: auto;
  }
  .modal-header{
    padding: 8px 15px;
    background-color: #263238;
    h5{
      color: #fff;
    }
    button{
      font-size: 30px;
      color: #fff !important;
      margin-top: 0px;
      margin-bottom: 0px;
      padding: 0px 15px;
      opacity: 1;
      outline: none;
    }
}