<nb-card>
  <nb-card-header>
    <div class="col-sm-4">
      <h2>Company Details</h2>
    </div>



  </nb-card-header>
  <nb-card-body>

    <div class="tableFixHead">
      <table class="table table-bordered table-hover ">
        <thead class="thead">
          <tr>
            <th>SrNo</th>
            <th>Name</th>
            <th>Mobile No</th>
            <th style="width:120px; text-align: center;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of data;">
            <td>{{row.id}}</td>
            <td>{{row.name}}</td>
            <td>{{row.mobile}}</td>
            <td><span  (click)="updateDriverInfo(driver)" >
                <i class="fas fa-user-edit" style="font-size:24px;"></i>
            </span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>