<div class="update-site_mokup">
<div class="left-section">
    <h1>Update Site name</h1>
        <button type="button" class="close" aria- label="Close" (click)="dismiss()">x</button>
    <form >
     <div class="form-ng ">
        <div class="site_name">
            <p>Site Name</p>
            <textarea rows="1" cols="7"> {{this.s_name}}</textarea>
            <!-- <input type="text"  placeholder="{{this.s_name}}" > -->
         </div>
         <div class="site_name" >
       <p>Site Location </p>
         <input type="text"  placeholder="Site Location" >
     </div>
     <div class="dropdown site_name">
         <p>Select Options</p>
        <select id = "myList">
        <option value = "1">Yes</option>
        <option value = "2">No</option>
        <option value = "3">Cant Say</option>
        </select>
       </div>
       <button class="submit_button" type="submit" >Submit</button>
     </div>
    </form>
</div>
<div class="right-section"></div>
</div>