<div class="update-site_mokup">
    <h1>Update Site name</h1>
    <button type="button" class="close" aria- label="Close" (click)="dismiss()">x</button>
    <div class="row">
        <div class="col-3">
                <div class="form-ng ">
                    <div class="site_name">
                       <span> Site Name :  
                       <b>{{this.s_name}} </b></span>
                    </div>
                    <div class="site_name" style="margin-top:15px">
                         
                        <input placeholder="Site LocName.." id="siteLoc" [(ngModel)]="siteLoc" class="form-control">
                   <!-- <input  type="text"  placeholder="Site Location" > -->
                    </div>
                    <div class="dropdown site_name"  style="margin-top:15px">
                        <select id="myList" [(ngModel)]="isStrictLoading "> 
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                            <option value="null">Cant Say</option>
                        </select>
                        
                    </div>
                    <button class="submit_button" type="submit" (click)="updateSiteDetails()" >Submit</button>
                </div>
        </div>
        <div class="col-9">
            <div id="map" class="map"></div>
        </div>
    </div>
</div>