.update-site_mokup{
position: relative;
padding: 20px;
}
.update-site_mokup:after{
content: '';
display: block;
clear: both;
overflow: hidden;
}
.map{
    height: 400px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
.update-site_mokup h1{
padding: 20px 0px;
margin: 0px;
}
.update-site_mokup .close{
background-color: #000;
border: 0px;
position: absolute;
top: -10px;
right: -10px;
height: 30px;
width: 30px;
line-height: 20px;
font-size: 20px;
color: #fff;
border-radius: 100%;
}
.left-section{
width: 50%;
float: left;
}
.right-section{
width: 50%;
float: right;
}
.site_name textarea{
width: 50%;
height: 100px;
padding: 5px;
border: 0px;
border-radius: 5px;
}
.site_name input{
width: 100%;
padding: 5px;
border: 0px;
border-radius: 5px;
}
.site_name select{
width: 50%;
padding: 5px;
border: 0px;
border-radius: 5px;
}

.submit_button{
background-color: #5945ff;
border: 0px;
border-radius: 5px;
color: #fff;
font-size: 16px;
margin: 30px 0px;
padding: 8px 14px;
outline: none;
}