<div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">{{title}} 
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="min-height: 250px; ">
    <div class="row">
      <div class="col-sm-6">
        <div class="row form-field row-mgn-vert clear" style="margin-bottom: 15px;">
          <div class="col-sm-4">
           <label  class="fill-elt" >Fuel Station:</label>
          </div>
          <div class="col-sm-6">
              <auto-suggestion (onSelected)="getStnData($event)" url="Suggestion/GetFuelStation"
              display="name" placeholder="Enter Fuel Station" [preSelected]="{name: fuel_station}"  class="fstn-name" style="width:60%;" >
              </auto-suggestion>
          </div>        
        </div>
        <div class="row form-field row-mgn-vert clear" style="margin-bottom: 15px;">
            <div class="col-sm-4">
                <label  class="fill-elt" >FO Name:</label>
               </div>
               <div class="col-sm-6">
                   <auto-suggestion (onSelected)="getFoData($event)" url="Suggestion/getFoUsersList"
                   display="name" placeholder="Enter FO Name" [preSelected]="{name: foname}"  class="fstn-name" style="width:60%;" >
                   </auto-suggestion>
               </div>
        </div>
        
        <div class="row form-field clear">
          <button class="btn btn-primary" (click)="submitFillingData()" style="margin-left:15px; cursor: pointer;">Submit</button>
          
        </div>
      </div>
  
      <div class="col-sm-6">
        <div class="row form-field row-mgn-vert clear">
            <div class="col-sm-4">
              <label  class="fill-elt">CSV File:</label>
            </div>
            <div class="col-sm-6">
                <input type="file" name="fillingCsv" [(ngModel)]="fillingcsv" (change)="handleFileSelection($event)"
              >
            </div>
        </div>
        
        <div class="row form-field row-mgn-vert clear">
            <div class="col-sm-4">
              <label  class="fill-elt">Is Full?</label>
            </div>
          <div class="col-sm-6">
            <input class="fill-elt chkbx"  type="checkbox" name="isFull" id="isFull" [(ngModel)]="isfull" />
          </div>
        </div>

      </div>
    </div>
  </div>
