label{
    font-size: 16px;
    padding-top: 10px;
    font-weight: 600;
}
.form-control{
    margin-bottom: 10%;
    margin-left: 12%;
    max-width: 80%;
}

  i{
    font-size: 26px;
    margin-left: 2%;
  }
