<nb-card style="border:0px;">
    <nb-card-header>
        <div class="row">
            <div class="col-sm-6">
                <h5>Driver Preferences</h5>
            </div>
            <div class="col-sm-3 offset-2">
                <button class="btn btn-primary" *ngIf="user._loggedInBy=='admin'" (click)="importDriverCSV()">Import CSV</button>
                <button class="btn btn-primary ml-4" (click)="addDriver()">Add</button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <smart-table *ngIf="driverConsentList && driverConsentList.length" id="driverConsentList" [data]="table.data"
            [settings]="table.settings">
        </smart-table>
    </nb-card-body>
</nb-card>