.radio-type {
    padding-bottom: 10px;
    font-size: 18px;
    text-align: center;
    color: darkblue;
    input {
      margin: 0px;
      margin-right: 5px;
      vertical-align: middle;
      width: 20px;
      height: 20px !important;
      margin-left: 8px;
    }
  }
  
  