<nb-card style="margin:0px; border:0px;">
  <nb-card-body (keydown)="keyHandler($event)" style="padding:0px;">
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">Stock Item</h5>
      <button type="button" class="close" aria- label="Close" (click)="dismiss(false)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="row">
        <div class="col-9">
          <div class="row">
            <!-- <div class="col">
      <div class="form-group">
        <label>User</label>
        input type="text" class="form-control" (input)="searchUser()" name="user-name" [(ngModel)]="stockItem.user.name"-->
            <!--auto-suggestion (onSelected)="onSelected($event, 'user', 'name')" url="Suggestion/getFoUsersList" display="name"
        placeholder="Enter User" inputId="user" [preSelected]="null"></auto-suggestion>
      </div>

      div class="suggestions" *ngIf="showSuggestions.user && suggestions.users.length && stockItem.user.name">
        <ul>
          <li *ngFor="let user of suggestions.users" class="suggestion" (click)="selectUser(user)">
            {{user.name}}
          </li>
        </ul>
      </div>
    </div> -->
            <div class="col">
              <div class="form-group">
                <label>Stock Type</label>
                <!--input type="text" class="form-control" (input)="searchStock()" name="stocktype" [(ngModel)]="stockItem.stockType.name"-->

                <!-- <auto-suggestion *ngIf= "this.stockTypeName == null" (onSelected)="onSelected($event, 'stockType', 'name')" url="Suggestion/GetTypeOfStock" display="name"
      placeholder="Enter Stock Type" inputId="stockType" name="stockType" [data]="StockTypeItemsdata" [preSelected]="null"></auto-suggestion>
      -->
                <!-- <auto-suggestion  (onSelected)="onSubTypeSelected($event, 'stockType', 'name')" url="Suggestion/GetTypeOfStock" display="name"
      placeholder="Enter Stock Type" inputId="stockType" name="stockType" [data]="StockTypeItemsdata" [preSelected]="stockItem.stockType"></auto-suggestion> -->

                <input type="text" class="form-control" id="stockType" autocomplete="off" name="stockType"
                  [(ngModel)]="stockItem.stockType.name" (click)="allowBackspace = false;"
                  (input)="allowBackspace = false;">

              </div>
              <!--div class="suggestions" *ngIf="showSuggestions.stockType && suggestions.stockTypes.length && stockItem.stockType.name">
        <ul>
          <li *ngFor="let stocktype of suggestions.stockTypes" class="suggestion" (click)="selectStockType(stocktype)">
            {{stocktype.name}}
          </li>
        </ul>
      </div-->
            </div>
            <div class="col">
              <div class="form-group">
                <label>Stock Sub Type</label>
                <!--input type="text" class="form-control" (input)="searchStock()" name="stocktype" [(ngModel)]="stockItem.stockType.name"-->
                <!-- <auto-suggestion (onSelected)="onSelected($event, 'stockSubType', 'name')" [url]="'Suggestion/GetSearchStockType?stocktype=' + stockItem.stockType.id" display="name"
        placeholder="Enter Stock Sub Type" inputId="stockSubType" [data] ="stockSubType"  name="stockSubType" [preSelected]="{name:stockItem.stockSubType.name}"></auto-suggestion>
       -->
                <input type="text" class="form-control" id="stockSubType" autocomplete="off" name="stockSubType"
                  [(ngModel)]="stockItem.stockSubType.name" (click)="allowBackspace = false;"
                  (input)="allowBackspace = false;">

              </div>
              <!--div class="suggestions" *ngIf="showSuggestions.stockType && suggestions.stockTypes.length && stockItem.stockType.name">
        <ul>
          <li *ngFor="let stocktype of suggestions.stockTypes" class="suggestion" (click)="selectStockType(stocktype)">
            {{stocktype.name}}
          </li>
        </ul>
      </div-->
            </div>
            <div class="col">
              <div class="form-group">
                <label>Stock Unit</label>
                <!-- <auto-suggestion (onSelected)="onSelected($event, 'unit', 'name')" url="Suggestion/getUnit" display="name"
        placeholder="Enter Unit Name" inputId="unit" [preSelected]="{name:stockItem.unit.name}"></auto-suggestion> -->
                <!--input type="text" class="form-control" name="stockunit" [(ngModel)]="stockItem.stockunit"-->

                <input type="text" class="form-control" id="unit" autocomplete="off" name="unit"
                  [(ngModel)]="stockItem.unit.name" (click)="allowBackspace = false;"
                  (input)="allowBackspace = false;">

              </div>
            </div>
            <div class="col">
              <div class="form-grpou">
                <label>Name</label>
                <input type="text" class="form-control" id="name" autocomplete="off" name="stock-name"
                  [(ngModel)]="stockItem.name">
              </div>
            </div>
          </div>
          <div class="row">
<!--             
            <div class="col">
              <div class="form-group">
                <label>Code</label>
                <input type="text" class="form-control" autocomplete="off" name="stock-code" id="code"
                  [(ngModel)]="stockItem.code">
              </div>
            </div> -->
           
            <div class="col" *ngIf="!(common.params && common.params.stockType)">
              <div class="form-group">
                <label>Max Limit</label>
                <input type="text" class="form-control" name="maxlimit" autocomplete="off" id="maxlimit"
                  [(ngModel)]="stockItem.maxlimit">
              </div>
            </div>
            <div class="col" *ngIf="!(common.params && common.params.stockType)">
              <div class="form-group">
                <label>Min Limit</label>
                <input type="text" class="form-control" name="minlimit" id="minlimit" autocomplete="off"
                  [(ngModel)]="stockItem.minlimit" (keydown.enter)="stockItem.isactive = true;">
              </div>
            </div>
            <div class="col">
              <div class="form-grpou">
                <label>Opening Balance</label>
                <input type="text" class="form-control" id="openingbal" autocomplete="off" name="openingbal"
                  [(ngModel)]="stockItem.openingbal">
              </div>
            </div>
            <div class="col">
              <div class="form-grpou">
                <label>Opening Quantity</label>
                <input type="text" class="form-control" id="openingqty" autocomplete="off" name="openingqty"
                  [(ngModel)]="stockItem.openingqty">
              </div>
            </div>
          </div>

          <div class="row radiostockitem" *ngIf="!(common.params && common.params.stockType)">
            <div class="col-3">
              <label>Is Active</label>
              <div class="row iaactive">
                <div class="col-6 pr-0 pl-1">
                  <div class="form-group">
                    <input type="radio" class="form-control" name="isactive" id="isactive"
                      [(ngModel)]="stockItem.isactive" [value]="true" (keydown.enter)="stockItem.sales = true;"
                      [checked]="true">
                    <label>Yes</label>
                  </div>
                </div>
                <div class="col-6 pl-0">
                  <div class="form-group">
                    <input type="radio" class="form-control" name="isactive" [(ngModel)]="stockItem.isactive"
                      id="notisactive" [value]="false" (keydown.enter)="stockItem.sales = true;">
                    <label>No</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <label>Sales</label>
              <div class="row iaactive ">
                <div class="col-6 pr-0 pl-1">
                  <div class="form-group">
                    <input type="radio" class="form-control" name="sales" id="sales" [(ngModel)]="stockItem.sales"
                      [value]="true" (keydown.enter)="stockItem.purchase = true;">
                    <label>Yes</label>
                  </div>
                </div>
                <div class="col-6 pl-0">
                  <div class="form-group">
                    <input type="radio" class="form-control" name="sales" [(ngModel)]="stockItem.sales" id="notsales"
                      [value]="false" (keydown.enter)="stockItem.purchase = true;">
                    <label>No</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <label>Purchase</label>
              <div class="row iaactive">
                <div class="col-6 pr-0 pl-1">
                  <div class="form-group">
                    <input type="radio" class="form-control" name="purchase" id="purchase"
                      [(ngModel)]="stockItem.purchase" [value]="true" (keydown.enter)="stockItem.inventary = true;">
                    <label>Yes</label>
                  </div>
                </div>
                <div class="col-6 pl-0">
                  <div class="form-group">
                    <input type="radio" class="form-control" name="purchase" [(ngModel)]="stockItem.purchase"
                      id="notpurchase" [value]="false" (keydown.enter)="stockItem.inventary = true;">
                    <label>No</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <label>Inventary</label>
              <div class="row iaactive">
                <div class="col-6 pr-0 pl-1">
                  <div class="form-group">
                    <input type="radio" class="form-control" name="inventary" id="inventary"
                      [(ngModel)]="stockItem.inventary" [value]="true">
                    <label>Yes</label>
                  </div>
                </div>
                <div class="col-6 pl-0">
                  <div class="form-group">
                    <input type="radio" class="form-control" name="inventary" id="notinventary"
                      [(ngModel)]="stockItem.inventary" [value]="false">
                    <label>No</label>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="row radiostockitem">
            <div class="col-3">
              <label>GST</label>
            <div class="row iaactive">     
                <div class="col-6 pr-0 pl-1">
                  <div class="form-group">
                    <input type="radio" class="form-control" name="gst" id="gst"
                      [(ngModel)]="stockItem.gst" [value]="true" (keydown.enter)="stockItem.gst = true;"
                      [checked]="true">
                    <label>Yes</label>
                  </div>
                </div>
                <div class="col-6 pl-0">
                  <div class="form-group">
                    <input type="radio" class="form-control" name="gst" [(ngModel)]="stockItem.gst"
                      id="notgst" [value]="false" (keydown.enter)="stockItem.gst = true;">
                    <label>No</label>
                  </div>
                </div>
              </div>
            </div>
                        <div class="col" *ngIf="stockItem.gst">
                          <div class="form-grpou">
                            <label>HSN/SAC Details</label>
                            <input type="text" class="form-control" id="hsndetail" autocomplete="off" name="stock-hsndetail"
                              [(ngModel)]="stockItem.hsndetail">
                          </div>
                        </div>
                        <div class="col" *ngIf="stockItem.gst">
                          <div class="form-group">
                            <label>HSN/SAC No.</label>
                            <input type="text" class="form-control" name="hsnno" autocomplete="off" id="hsnno"
                              [(ngModel)]="stockItem.hsnno">
                          </div>
                        </div>
                        <div class="col-3" *ngIf="stockItem.gst">
                          <label>Is Non-Gst</label>
                          <div class="row iaactive">     
                            <div class="col-6 pr-0 pl-1">
                              <div class="form-group">
                                <input type="radio" class="form-control" name="isnon" id="isnon"
                                  [(ngModel)]="stockItem.isnon" [value]="true" (keydown.enter)="stockItem.isnon = true;"
                                  [checked]="true">
                                <label>Yes</label>
                              </div>
                            </div>
                            <div class="col-6 pl-0">
                              <div class="form-group">
                                <input type="radio" class="form-control" name="isnon" [(ngModel)]="stockItem.isnon"
                                  id="notisnon" [value]="false" (keydown.enter)="stockItem.isnon = true;">
                                <label>No</label>
                              </div>
                            </div>
                          </div>
                        </div>
        </div>
        <div class="row radiostockitem"  *ngIf="stockItem.gst">
         
                      <div class="col" *ngIf="!stockItem.isnon">
                        <div class="form-group">
                          <label>GST Calculation Type</label>
                          <input type="text" class="form-control" id="calculationtype" autocomplete="off" name="stock-calculationtype"
                            [(ngModel)]="stockItem.calculationtype">
                        </div>
                      </div>
                      <div class="col" *ngIf="!stockItem.isnon">
                        <div class="form-group">
                          <label>GST Taxability</label>
                          <input type="text" class="form-control" name="taxability" autocomplete="off" id="taxability"
                            [(ngModel)]="stockItem.taxability">
                        </div>
                      </div>
                      <div class="col" *ngIf="!stockItem.isnon">
                        <div class="form-grpou">
                          <label>IGST</label>
                          <input type="text" class="form-control" id="igst" autocomplete="off" name="stock-igst"
                            [(ngModel)]="stockItem.igst">
                        </div>
                      </div>
                      <div class="col" *ngIf="!stockItem.isnon">
                        <div class="form-group">
                          <label>CESS</label>
                          <input type="text" class="form-control" name="cesstype" autocomplete="off" id="cess"
                            [(ngModel)]="stockItem.cess">
                        </div>
                      </div>
                      
      </div>
      </div>
        <div class="col-3">
          <div class="auto-sugg">
            <auto-suggetion-in-side [data]="autoSuggestion.data" [targetId]="autoSuggestion.targetId"
              [display]="autoSuggestion.display" (select)="onSelect($event, autoSuggestion.targetId)">
            </auto-suggetion-in-side>
          </div>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <div class="row">
        <div class="col">
          <button class="btn btn-danger" type="button" outline (click)="dismiss(false)" id="cancel"
            style="cursor: pointer;">Cancel</button>
        </div>
        <div class="col text-right">
          <button class="btn btn-primary" type="button" outline (click)="dismiss(true)" id="submit"
            style="cursor: pointer;">Submit
          </button>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<div class="date-modal" *ngIf="showConfirm" (keydown)="keyHandler($event)">
  <div class="date-modal-body data_model_save">
    <div>
      <p>Are you want to save ?</p>
      <button (click)="dismiss(true)">Yes</button> <span>&nbsp;&nbsp;&nbsp;</span> <button
        (click)="modelCondition()">No</button>
    </div>
  </div>
</div>
<div class="date-modal" *ngIf="showExit" (keydown)="keyHandler($event)">
  <div class="date-modal-body data_model_save">
    <div>
      <p>Are you sure want to close ?</p>
      <button (click)="dismiss(true)">Yes</button> <span>&nbsp;&nbsp;&nbsp;</span> <button
        (click)="dismiss(false)">No</button>
    </div>
  </div>
</div>