<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Stock Item</h4>
  <button type="button" class="close" aria- label="Close" (click)="dismiss(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="row">
     <div class="col">
      <div class="form-group">
        <label>User</label>
        <!--input type="text" class="form-control" (input)="searchUser()" name="user-name" [(ngModel)]="stockItem.user.name"-->
        <auto-suggestion (onSelected)="onSelected($event, 'user', 'name')" url="Suggestion/getFoUsersList" display="name"
        placeholder="Enter User" [preSelected]="null"></auto-suggestion>
      </div>

      <!--div class="suggestions" *ngIf="showSuggestions.user && suggestions.users.length && stockItem.user.name">
        <ul>
          <li *ngFor="let user of suggestions.users" class="suggestion" (click)="selectUser(user)">
            {{user.name}}
          </li>
        </ul>
      </div-->
    </div>
    <div class="col">
      <div class="form-group">
        <label>Stock Sub Type</label>
        <!--input type="text" class="form-control" (input)="searchStock()" name="stocktype" [(ngModel)]="stockItem.stockType.name"-->
        <auto-suggestion (onSelected)="onSelected($event, 'stockSubType', 'name')" url="Suggestion/GetSearchStockType" display="name"
        placeholder="Enter Stock Sub Type" inputId="stockSubType" [preSelected]="null"></auto-suggestion>
      </div>
      <!--div class="suggestions" *ngIf="showSuggestions.stockType && suggestions.stockTypes.length && stockItem.stockType.name">
        <ul>
          <li *ngFor="let stocktype of suggestions.stockTypes" class="suggestion" (click)="selectStockType(stocktype)">
            {{stocktype.name}}
          </li>
        </ul>
      </div-->
    </div>
    <div class="col">
      <div class="form-grpou">
        <label>Stock Unit</label>
        <auto-suggestion (onSelected)="onSelected($event, 'unit', 'name')" url="Suggestion/getUnit" display="name"
        placeholder="Enter Unit Name" [preSelected]="null"></auto-suggestion>
        <!--input type="text" class="form-control" name="stockunit" [(ngModel)]="stockItem.stockunit"-->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-grpou">
        <label>Name</label>
        <input type="text" class="form-control" name="stock-name" [(ngModel)]="stockItem.name">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>Code</label>
        <input type="text" class="form-control" name="stock-code" [(ngModel)]="stockItem.code">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>Max Limit</label>
        <input type="text" class="form-control" name="maxlimit" [(ngModel)]="stockItem.maxlimit">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>Min Limit</label>
        <input type="text" class="form-control" name="minlimit" [(ngModel)]="stockItem.minlimit">
      </div>
    </div>
  </div>
  <div class="row radiostockitem">
    
    <div class="col">
      <div class="form-group">
        <span>Is Active</span>
        <input type="radio" class="form-control" name="isactive" [(ngModel)]="stockItem.isactive" [value]="true">
        <label>Yes</label>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
          <span>&nbsp;</span>
        <input type="radio" class="form-control" name="isactive" [(ngModel)]="stockItem.isactive" [value]="false">
        <label>No</label>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
          <span>Sales &nbsp;&nbsp;</span>
        <input type="radio" class="form-control" name="sales" [(ngModel)]="stockItem.sales" [value]="true">
        <label>Yes</label>
        </div>
    </div>
    <div class="col">
      <div class="form-group">
          <span>&nbsp;</span>
        <input type="radio" class="form-control" name="sales" [(ngModel)]="stockItem.sales" [value]="false">
        <label>No</label>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
          <span>Purchase</span>
        <input type="radio" class="form-control" name="purchase" [(ngModel)]="stockItem.purchase" [value]="true">
        <label>Yes</label>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
          <span>&nbsp;</span>
        <input type="radio" class="form-control" name="purchase" [(ngModel)]="stockItem.purchase" [value]="false">
        <label>No</label>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <span>Inventary</span>
        <input type="radio" class="form-control" name="inventary" [(ngModel)]="stockItem.inventary" [value]="true">
        <label>Yes</label>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
          <span>&nbsp;</span>
        <input type="radio" class="form-control" name="inventary" [(ngModel)]="stockItem.inventary" [value]="false">
        <label>No</label>
      </div>
    </div>
  </div>

</div>

<div class="modal-footer">
  <div class="row">
    <div class="col">
      <button class="btn btn-danger" type="button" outline (click)="dismiss(false)" id="cancel" style="cursor: pointer;">Cancel</button>
    </div>
    <div class="col text-right">
      <button class="btn btn-primary" type="button" outline (click)="dismiss(true)" id="submit" style="cursor: pointer;">Submit
      </button>
    </div>
  </div>
</div>