<nb-card>
  <nb-card-header>
    <h5>Vehicle Status Change Cleared Tickets</h5> 
    <div style="margin-left:98%;">
    <i class="fas fa-sync-alt" style="cursor:pointer" (click)="ShowData()" ></i>
  </div>
    </nb-card-header>
  <nb-card-body>
    <div class="model-body">
      <div class="row">
        <div class="col-sm-3">
          <auto-suggestion
            (onSelected)="searchVehicle($event)"
            url="suggestion/getVehicleList"
            display="regno"
            placeholder="Vehicle Number"
            [preSelected]="null"
          ></auto-suggestion>
        </div>
        <div class="col-sm-3">
          <input
            [(ngModel)]="startDate"
            [owlDateTime]="date"
            [owlDateTimeTrigger]="date"
            placeholder="Date Time"
            class="form-control"
            autocomplete="off"
            name="date"
          />
          <owl-date-time #date></owl-date-time>
        </div>
        <div class="col-sm-3">
          <input
            [(ngModel)]="endDate"
            [owlDateTime]="date1"
            [owlDateTimeTrigger]="date1"
            placeholder="Date Time"
            class="form-control"
            autocomplete="off"
            name="date1"
          />
          <owl-date-time #date1></owl-date-time>
        </div>
        <div class="col-sm-2">
          <Button class="btn btn-primary" type="button" (click)="goToTrail()"
            >Get Report</Button
          >
        </div>
      </div>
      <table
        class="table table-bordered"
        style="margin-left: 5px; margin-right: 5px; margin-top:20px"
        *ngIf="ticketAccordingTo == 'user'"
      >
        <thead class="thead" style="background-color:darkgrey">
          <tr *ngIf="reportUserWise.length">
            <th>Alert Id</th>
            <th>FO Name</th>
            <th>Vehicle RegNo</th>
            <th>Vehicle Id</th>
            <th>lTime</th>
            <th>tTime</th>
            <th>Add Time</th>
            <th>Clear Time</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of reportUserWise; let i = index">
            <td>{{ data.id }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.regno }}</td>
            <td>{{ data.vehicle_id }}</td>
            <td>{{ data.latch_time | date: "dd MMM HH:mm" }}</td>
            <td>{{ data.ttime | date: "dd MMM HH:mm" }}</td>
            <td>{{ data.alerttime }}</td>
            <td>{{ data.cleartime | date: "dd MMM HH:mm" }}</td>
            <td><button (click)="openVSCModel(data)">Check Detail</button></td>
          </tr>
        </tbody>
      </table>
      <!-- according to Vehicle -->
      <table
        class="table table-bordered"
        style="margin-left: 5px; margin-right: 5px; margin-top:20px"
        *ngIf="ticketAccordingTo == 'vehicle'"
      >
        <thead class="thead" style="background-color:darkgrey">
          <tr *ngIf="reportVehicleWise.length">
            <th>Alert Id</th>
            <th>FO Name</th>
            <th>lTime</th>
            <th>tTime</th>
            <th>Add Time</th>
            <th>Cleared By</th>
            <th>Clear Time</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of reportVehicleWise; let i = index">
            <td>{{ data.id }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.latch_time | date: "dd MMM HH:mm" }}</td>
            <td>{{ data.ttime | date: "dd MMM HH:mm" }}</td>
            <td>{{ data.alerttime }}</td>
            <td *ngIf="data.aduserid == -1">auto</td>
            <td *ngIf="data.aduserid != -1">{{ data.emp_name }}</td>
            <td>{{ data.cleartime | date: "dd MMM HH:mm" }}</td>
            <td><button (click)="openVSCModel(data)">Check Detail</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>
