<nb-card>
    <nb-card-header>
        <h2>Vehicle Status Change Cleared Tickets </h2>
    </nb-card-header>
    <nb-card-body>
      
  <div class="model-body">
      <div class="row">
          <div class="col-sm-4" >
          <label style="margin-left:30px"> 
            According To :
              <input type="radio" name="ticketAccordingTo" value="user" [(ngModel)]="ticketAccordingTo" style="margin-left:30px">
              Admin User
              <input type="radio" name="ticketAccordingTo" value="vehicle" [(ngModel)]="ticketAccordingTo" style="margin-left:30px">
              Vehicle
            </label>
          </div>
          <div class="col-sm-2" *ngIf = "ticketAccordingTo=='user'">
              <auto-suggestion (onSelected)="searchUser($event)" url="suggestion/getVehicleList" display="regno"
              placeholder="Admin Name" [preSelected]="null"></auto-suggestion>
          </div>
          <div class="col-sm-2" *ngIf = "ticketAccordingTo=='vehicle'">
              <auto-suggestion (onSelected)="searchVehicle($event)" url="suggestion/getVehicleList" display="regno"
              placeholder="Vehicle Number" [preSelected]="null"></auto-suggestion>
          </div>
          <div class="col-sm-2">
              <input [(ngModel)]="startDate" [owlDateTime]="date " [owlDateTimeTrigger]="date " placeholder="Date Time" class="form-control"
              autocomplete="off" name="date">
            <owl-date-time #date></owl-date-time>
          </div>
          <div class="col-sm-2">
              <input [(ngModel)]="endDate" [owlDateTime]="date1 " [owlDateTimeTrigger]="date1" placeholder="Date Time" class="form-control"
              autocomplete="off" name="date1">
            <owl-date-time #date1></owl-date-time>
          </div>
          <div class="col-sm-2">
              <Button class="btn btn-primary" type="button" (click)="getVehicleReport()">Get Report</Button>
          </div>
        </div>

   <!-- according to User -->
  <table class="table table-bordered" style="margin-left: 5px; margin-right: 5px; margin-top:20px">
    <thead class="thead" style="background-color:darkgrey">
      <tr *ngIf="report.length">
      <th>Id</th>
      <th>Vehicle RegNo</th>
      <th>Vehicle Id</th>
      <th>Clear Time </th>
      <th>Action</th> 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of report; let i=index;">
      <td>{{data.id}}</td>
      <td>{{data.addtime | date : 'dd MMM HH:mm'}}</td>
      <td>{{data.halt_reason}}</td>
      <td>{{data.site_name}}</td>
      <td>{{data.loc_name}}</td>
      <td>{{duration[i]}}</td>
    </tbody>
  </table> 

<!-- according to Vehicle -->
  <table class="table table-bordered" style="margin-left: 5px; margin-right: 5px; margin-top:20px">
      <thead class="thead" style="background-color:darkgrey">
        <tr *ngIf="report.length">
        <th>Id</th>
        <th>Cleared By</th>
        <th>Clear Time </th>
        <th>Action</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of report; let i=index;">
        <td>{{data.id}}</td>
        <td>{{data.addtime | date : 'dd MMM HH:mm'}}</td>
        <td>{{data.halt_reason}}</td>
        <td>{{data.site_name}}</td>
      </tbody>
    </table> 
  </div>
  </nb-card-body>
  </nb-card>