<nb-card>
  <nb-card-header>
    <h5>Vehicle Status Change Cleared Tickets</h5>

  </nb-card-header>
  <nb-card-body>
    <div class="model-body">
      <div class="row">
        <div class="col-sm-2">
          <auto-suggestion (onSelected)="searchVehicle($event)" url="suggestion/getVehicleList" display="regno"
            placeholder="Vehicle Number" [preSelected]="null"></auto-suggestion>
        </div>
        <div class="col-sm-1">
          <select name="aduserid" [(ngModel)]="aduserId" class="form-control">
            <option *ngFor="let aduserIdx of aduserIds;" [value]="aduserIdx.aduserid">{{aduserIdx.aduserid}}</option>
          </select>
        </div>
        <div class="col-sm-2">
          <uj-date-time-picker (onChanged)="startDate = $event" [dateTimeValue]="startDate" [isTime]="false">
          </uj-date-time-picker>
        </div>
        <div class="col-sm-2">
          <uj-date-time-picker (onChanged)="endDate = $event" [isStart]="false" [dateTimeValue]="endDate"
            [isTime]="false">
          </uj-date-time-picker>

        </div>
        <div class="col-sm-1">
          <Button class="btn btn-primary" type="button" (click)="goToTrail()">vsc</Button>
        </div>
        <div class="col-sm-2">
          <Button class="btn btn-primary" type="button" (click)="viewAll()">View All Vsc </Button>
        </div>
        <div class="col-sm-2">
          <Button class="btn btn-primary" type="button" (click)="getChallenged()">View Challenged</Button>
        </div>
      </div>
      <div style="margin-top: 10px">
        <div class="tableFixHead" *ngIf="VehicleStatusAlerts && VehicleStatusAlerts.length">
          <table class="table table-bordered table-hover ">
            <thead class="thead">
              <tr>
                <th>Fo Name</th>
                <th>Vehicle RegNo</th>
                <th>Vehicle Id</th>
                <th>Primary Status</th>
                <th>Secondry Status</th>
                <th>Suggestion</th>
                <th>Alert Time</th>
                <th>Hold User</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr [ngClass]="{'highlight':VehicleStatusAlert.isHighlight}"
                *ngFor="let VehicleStatusAlert of VehicleStatusAlerts">
                <td>{{ VehicleStatusAlert.fo_name }}</td>
                <td>{{ VehicleStatusAlert.regno }}</td>
                <td>{{ VehicleStatusAlert.vehicle_id }}</td>
                <td>{{ VehicleStatusAlert.prim_status }}</td>
                <td>{{ VehicleStatusAlert.sec_status }}</td>
                <td>{{ VehicleStatusAlert.suggest }}</td>
                <td>{{ VehicleStatusAlert.alert_time }}</td>
                <td>{{ VehicleStatusAlert.hold_by }}</td>
                <td>
                  <button (click)="openVSCModel(VehicleStatusAlert)">
                    Take Action
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="no-data" *ngIf="!VehicleStatusAlerts || !VehicleStatusAlerts.length">
          No Data available !
        </div>
        <div style="margin-top:10px">
          <b>{{VehicleStatusAlerts && 'Number Of Alerts : ' + VehicleStatusAlerts.length }}</b>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>