nb-card-header{
    padding: 10px 15px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}
.btn-primary{
    outline: none;
    padding: 8px 15px;
    margin: 0px;
    text-transform: capitalize;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
}