.title{
background-color: grey;
padding: 3px;
}   

:host ::ng-deep .table-bordered{
    border:4px solid #dee2e6;
}

:host ::ng-deep .table{
    width:90%;
    margin-left:5%;
}

td:first-child { background-color: lightgrey!important};