<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">{{title}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="row">
    <table class="table table-bordered" *ngIf="issueInfo">
      <tr>
        <td>Vehicle No</td><td>{{issueInfo.regno}}</td>
      </tr>
      <tr>
        <td>Driver</td><td>{{issueInfo.empname}}</td>
      </tr>
      <tr>
        <td>Message</td><td>{{ticketInfo.msg}}</td>
      </tr>
      <tr>
        <td>Time Since</td><td *ngIf="issueInfo.start_time">{{issueInfo.start_time | date : 'dd MMM hh:mm a'}}</td>
      </tr>
      <tr>
        <td>Duration</td><td>{{findRemainingTime(issueInfo.duration)}}</td>
      </tr>
      <tr>
        <td>Location</td><td>{{issueInfo.loc_name}}</td>
      </tr>
      <tr>
        <td>Map View</td><td (click)="showLocation(issueInfo.lat,issueInfo.long)" style="cursor:pointer;color:blue;">Click here</td>
      </tr>
      <tr>
        <td>Reason (Halt)</td><td>{{issueInfo.halt_type}} </td>
      </tr>
    </table>

    <div style="width:100%;background-color: lightgrey;padding: 8px;font-weight: bold;color: black;">
      Ticket Actions
    </div>
    
    <table class="table table-bordered tbl">
      <tr><td>Time Remaining</td><td style="float:right">{{ticketInfo && common.findRemainingTime(ticketInfo.exp_tkt_time)}}</td><td (click)="getExtraTime()"><i class="fa fa-plus" aria-hidden="true" title="Extra Time" style="cursor:pointer;"></i></td></tr>
      <tr><td>Reminder</td><td></td><td (click)="setReminder()"><i class="fa fa-bell" aria-hidden="true" title="Reminder" style="cursor:pointer;"></i></td></tr>
      <tr><td>Forward</td><td></td><td (click)="forwardTicket()"><i class="fa fa-share" aria-hidden="true" title="forward" style="cursor:pointer;"></i></td></tr>
      <tr><td>TrailList</td><td></td><td (click)="trailList()"><i class="fa fa-list-alt" aria-hidden="true" title="Trail List" style="cursor:pointer;"></i></td></tr>
      <tr><td>Comments</td><td (click)="getComment()"><i class="fa fa-eye" aria-hidden="true" title="get Comment" style="cursor:pointer;float:right"></i></td><td (click)="setComments()"><i class="fa fa-commenting" aria-hidden="true" title="Set Comment" style="cursor:pointer;"></i></td></tr>
    </table>

    <div class="col-sm-6 offset-6">
      <span (click)="setRemark(-5)" style="cursor: pointer;" class="col-sm-6"><span style="background: lightgrey;padding: 6px;border-radius: 5px;font-weight: bold;border: 2px solid whitesmoke">Can't Do</span></span>
      <span (click)="setRemark(5)" style="cursor:pointer;" class="col-sm-6"><span style="background: lightgrey;padding: 6px;border-radius: 5px;font-weight: bold;border: 2px solid whitesmoke">Mark as Default</span></span>
    </div>
    

  </div>

  

  <!-- <div class="row title">
    <h4>Issue Info</h4>
  </div>
  <div class="row">
    <div class="col-md-3 head">
      <label>Vehicle No : </label>
    </div>
    <div class="col-md-3 value">
      {{issueInfo.regno}}
    </div>
    <div class="col-md-3 head">
      <label>Employee</label>
    </div>
    <div class="col-md-3 value">
      {{issueInfo.empname}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 head">
      <label>Mobile No.</label>
    </div>
    <div class="col-md-3 value">
      {{issueInfo.mobileno}}
    </div>
    <div class="col-md-3 head">
      <label>Halt Type</label>
    </div>
    <div class="col-md-3 value">
      {{issueInfo.halt_type}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 head">
      <label>Site : </label>
    </div>
    <div class="col-md-3 value">
      {{issueInfo.site_name}}
    </div>
    <div class="col-md-3 head">
      <label>Location :</label>
    </div>
    <div class="col-md-3 value">
      <u style="color: blue; cursor: pointer;"
        (click)="showLocation(issueInfo.lat,issueInfo.long)">{{issueInfo.loc_name}}</u>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 head">
      <label>Start Time : </label>
    </div>
    <div class="col-md-3 value">
      {{issueInfo.start_time}}
    </div>
    <div class="col-md-3 head">
      <label>Duration :</label>
    </div>
    <div class="col-md-3 value">
      {{issueInfo.duration}}
    </div>
  </div>
  <div class="row title">
    <h4>Ticket Info</h4>
  </div>
  <div class="row" *ngFor="let number of numbers;" style="margin-bottom:15px;">
    <div class="col-md-3 head">
      <label>{{data[number*2]['head']+':'}}</label>
    </div>
    <div class="col-md-3 value">
      {{data[number*2]['value']}}
    </div>
    <div *ngIf="data[number*2+1]" class="col-md-3 head">
      <label>{{data[number*2+1]?data[number*2+1]['head']+':':''}}</label>
    </div>
    <div *ngIf="data[number*2+1]" class="col-md-3 value">
      {{data[number*2+1]?data[number*2+1]['value']:''}}
    </div>
  </div> -->
</div>
<div class="modal-footer" *ngIf="isBtn">
  <div class="row">
    <button class="btn btn-primary" (click)="closeModal(false)">Back</button>
    <button class="btn btn-primary" (click)="closeModal(true)">SAVE</button>
  </div>
</div>