<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">Fuel Avg Edit</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>

</div>
<div class="modal-body">
  <div class="row" style="margin-bottom:20px">
    <div class="col-3">
      <label>{{name}}</label>
    </div>
  </div>
  <div class="row" style="margin-bottom:20px">
    <div class="col-3">
      <label>Load Avg</label>
    </div>
    <div class="col-3">
      <input type="number" placeholder="Load-Avg" class="form-control" name="loadavg" id="loadavg"
        [(ngModel)]="loadAvg">
    </div>
    <div class="col-3">
      <label>Unload Avg</label>
    </div>
    <div class="col-3">
      <input type="number" placeholder="UNLoad-Avg" class="form-control" name="unloadavg" id="unloadavg"
        [(ngModel)]="unloadAvg">
    </div>
  </div>

  <div class="col-md-12 text-center margin-top-15">
    <button class="btn btn-primary" (click)="change()">Submit</button>
  </div>
</div>