:host ::ng-deep .no-data {
    font-size: 18px;
    color: #f73c3c;
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

:host ::ng-deep table thead tr th {
    vertical-align: middle !important;
    border: 1px solid #b2adad !important;
    text-align: center;
}

:host ::ng-deep table tbody tr td {
    vertical-align: middle !important;
    border: 1px solid #b2adad !important;
    // text-align: center;
}

:host::ng-deep {
    smart-table {
        th:not(:first-child) {
            width: 120px;
        }
        td.blue {
            color: blue !important;
        }
    }
    .tableFixHead{
        height: 100% !important;
    }
}
.download-excel{
    position: absolute;
    right: 30px;
    font-size: 25px;
    color: rgb(101, 167, 101);
    cursor: pointer;
}
.tripmasterreport{
    max-height: calc(100vh - 195px);
    overflow: auto;
    display: block;
}
