<div class="">
    <div class="outer">
      <h6 style="text-align:center"><b class="charthead">Alert Call TAT in Last 7 Days</b></h6>
      <p style="text-align: right; margin-top: -25px;" class="link"
      (click)="getDetials('Tmgreport/GetAlertCallTat',{totalrecord: 3,stepno: -1,groupdays: 1},7,'days')"><i title="More Details" class="fa fa-list"></i>
    </p>
      <chart [type]="chart1.type" [data]="chart1.data" style="margin-right:5px;margin-top:-20px;min-height: 250px;max-height: 250px;"
        [options]="chart1.options" (clickElement)="chart2Clicked($event)">
      </chart>
    </div>
  </div>