:host ::ng-deep.text-colour {
    background: grey;
    color: #fff;
}

:host ::ng-deep .tableFixHead {
    table {
        tr {
            td:nth-child(3),
            td:nth-child(4),
            td:nth-child(5) {
                text-align: center
            }
            th {
                .filter-input-container {
                    width: calc(100% - 20px) !important;
                }
            }
            th:nth-child(3),
            th:nth-child(4),
            th:nth-child(5) {
                .filter-input-container {
                    input {
                        text-align: center;
                    }
                }
            }
        }
    }
}