button { background-color: #73a1ff;
}
// .transaction{
//     height: auto !important;
//     padding: 5px;
//     width: 119px;
// }
// .transaction-detail-tabel td:nth-child(1){
//     width: 100px;
// }
// .transaction-detail-tabel td:nth-child(2){
//     width: 218px;
//     padding: 0px 15px;
// }
// .transaction-detail-tabel td:nth-child(3){
//     padding-left: 12px;
//     width: 300px;
// }
// .transaction-detail-tabel td:nth-child(4){
//     padding-left: 30px;
//     width: 300px;
// }
// .transaction-detail-label th:nth-child(2),
// .transaction-detail-label th:nth-child(3){
//     padding-left: 15px;
// }
// .transaction-detail-label th:nth-child(4){
//     padding-left: 30px;
// }
// .remark-box .col-4:nth-child(1){
//     flex: 34%;
//     max-width: 34%;
// }
// .remark-box .col-4:nth-child(2){
//     flex: 315px;
//     max-width: 315px;
// }
// .remark-box .col-4:nth-child(3){
//     flex: 300px;
//     max-width: 300px;
// }
// .plustransparent{
//     background-color: transparent;
//     border:0px;
//   }

.ledger-container{
    border-radius: 0;
    padding: 8px;
    background-color: #e4e4e4;
    margin-top: 20px;
    max-height: 230px;
    min-height: 230px;
    overflow: auto;
}

.date-modal{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999999;
    top: 0;
    left: 0;
}
.date-modal-body{
    background: #fff;
    width: 152px;
    margin: 15% auto auto auto;
}
.data_model_save{
    padding: 20px;
    text-align: center;
    width: auto;
    max-width: 250px;
}
.data_model_save button{
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 3px;
}
.ledger-option{
    border: 1px solid #263238;
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: normal;
    background-color: #263238;
    margin-bottom: 3px;
    color: #fff;
}
.active-ledger{
    background: #26a69a;
    font-weight: normal;
    border-color: #26a69a;
}
button { 
    background-color: #263238;
    border-radius: 5px !important;
    text-transform: capitalize !important;
    padding: 10px 20px !important;
    outline: none;
    box-shadow: none;
}

nb-card-header{
    padding: 15px 20px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}
// .ref-label{
//     background: #263238;
//     color: #fff;
//     padding: 3px 8px;
//     margin: 0;
//     border-radius: 3px 3px 0px 0px;
//     font-size: 12px;
//     min-width: 80px !important;
//     font-weight: normal;
// }
// .ref-input{
//     border: 1px solid #263238 !important;
//     border-radius: 0px 2px 2px 2px;
//     padding: 3px 5px;
//     height: auto;
//     font-size: 12px;
// }
.date-modal-body .ng-pristine{
    border: 0px !important;
    padding: 8px;
    height: auto;
    width: auto;
    border-radius: 0px;
    line-height: initial;
}
.form-control:focus{
    border-color: #263238 !important;
}
button.btn-primary{
    background-color: #263238 !important;
    padding: 8px 10px !important;
}
// table tr{
//     th:nth-child(1){
//         width: 20%;
//     }
//     th:nth-child(3){
//         padding: 5px 10px!important;
//         font-weight: normal;
//         width: 46%;
//     }
//     th:last-child{
//         width: auto;
//     }
    
//     td{
//         padding: 5px 10px!important;
//         input, select{
//             padding: 5px !important;
//             height: 30px !important;
//         }
//     }
//     td{
//         padding: 5px 10px !important;
//         font-size: 12px;
//         button{
//             padding: 0 !important;
//             font-size: 14px;
//             border-radius: 0px !important;
//             margin: 0px;
//             background-color: transparent;
//             color: #263238;
//             outline: none;
//             box-shadow: none;
//         }
//     }
// } 

table{
    thead{
        display: table;
        width: 100%;
        table-layout: fixed;
        background-color: #263238;
        color: #fff;
    }
    tr{
        
        th:nth-child(1){
            width: 7.5%;
            padding: 5px 10px;
            font-weight: normal;
        }th:nth-child(2){
            width: 40%;
            padding: 5px 10px;
            font-weight: normal;
        }
        th:nth-child(3){
            width: 14.5%;
            padding: 5px 10px;
            font-weight: normal;
        }
        th:last-child{
            width: 2%;
            padding: 5px 10px;
            font-weight: normal;
        }
        td{
            padding: 5px 10px !important;
            font-size: 12px;
            button{
                padding: 0 !important;
                font-size: 11px;
                border-radius: 0px !important;
                margin: 0px;
                background-color: transparent;
                color: #263238;
                outline: none;
                box-shadow: none;
            }
        }
       
    }
    tbody{
        overflow-y: auto;
        display: block;
        width: 100%;
        table-layout: fixed;
        overflow: auto;
        max-height: calc(100vh - 306px);
        tr{
            display: table;
            table-layout: fixed;
            width: 100%;
            td:nth-child(1){
                width: 7.5%;
            }
            td:nth-child(2){
                width: 40%;
            }
            td:nth-child(3){
                width: 14.5%
            }
            td:last-child{
                width: 2%;
            }
        }
        tr:nth-child(odd){
            background-color: #fff;
        }
        tr:nth-child(even){
            background-color: #e4e4e4;
        }
    }
} 
