<nb-card style="padding-top: 25px; border: 0px;">
  <!-- <nb-card-header>
  <h4 class="modal-title"> Add Voucher ({{this.voucherName}})</h4>
</nb-card-header> -->
  <nb-card-body >
    <div class="row">
      <div class="col-9">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label class="ref-label">Ref</label>
              <input type="text" id="ref-code" class="form-control ref-input" (click)="lastActiveId = 'ref-code'"
                name="account-name" [(ngModel)]="voucher.code" autofocus autocomplete="doNotAutoComplete">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label class="ref-label">Date</label>
              <input type="text" style="cursor: pointer;" class="form-control ref-input" autocomplete="off"
                id="voucher-date" name="account-date" [(ngModel)]="voucher.date" maxlength="10" autocomplete="off"
                (click)="lastActiveId = 'voucher-date'; allowBackspace = false;" (input)="allowBackspace = false;">
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <tr style="background: #263238; color: #fff;">
                <th>Transaction </th>
                <th>Ledger</th>
                <th>Amount</th>
                <!-- <th>&nbsp;</th> -->
              </tr>
              <tr *ngFor="let amountDetail of voucher.amountDetails; let i = index;" style="background: #e4e4e4;">
                <td>
                  <select class="form-control" [id]="'transaction-type-' + i" [name]="'transaction-type-' + i"
                    [(ngModel)]="amountDetail.transactionType" style="padding: 4px 8px;height:auto;"
                    (change)="calculateTotal()" (click)="lastActiveId = 'transaction-type-' + i">
                    <option value="debit">Debit</option>
                    <option value="credit">Credit</option>
                  </select>
                </td>
                <td>
                  <!-- <auto-suggestion (onSelected)="amountDetail.ledger = $event.y_ledger_id"
              [url]="'Suggestion/GetLedger?transactionType=' + amountDetail.transactionType +'&voucherId=' + voucherId"
              display="y_ledger_name" placeholder="Enter Ledger" [preSelected]="null"></auto-suggestion> -->
                  <input type="text" class="form-control" [id]="'ledger-' + i" [name]="'ledger-' + i"
                    [(ngModel)]="amountDetail.ledger.name" autocomplete="off"
                    (click)="lastActiveId = 'ledger-' + i; allowBackspace = false;" (input)="allowBackspace = false;">
                  <div>
                    <div *ngFor="let detail of amountDetail.details">
                      <span>{{detail.ledger.name}}: &nbsp; &nbsp;</span>
                      <span>{{detail.amount}}</span>
                    </div>
                  </div>
                </td>
                <td>
                  <input type="number" class="form-control" [id]="'amount-' + i" [name]="'amount-' + i"
                    (click)="lastActiveId = 'amount-' + i" (input)="calculateTotal(i); allowBackspace = false;"
                    autocomplete="off" [(ngModel)]="amountDetail.amount">
                  <span
                    *ngIf="((this.voucherId == '-1' ||  this.voucherId =='-3') && (this.voucher.amountDetails[i].transactionType == 'credit'))">(<i>Current
                      Available Balance is</i>
                    {{findBalance(i)}})</span>
                </td>
                <!-- <td *ngIf="i == 0">
            <button class="plustransparent" (click)="addAmountDetails()"> <i class="fa fa-plus text-primary"
                style="font-size: 40px;"></i></button>
          </td>
          <td *ngIf="i !== 0">
            <i class="fa fa-trash text-primary" (click)="voucher.amountDetails.splice(i,1)"></i>
          </td> -->
              </tr>
            </table>
          </div>
        </div>

        <!-- End Amount Details -->
        <div class="row">
          <div class="col-8">
            <div class="form-group">
              <label class="ref-label">Narration</label>
              <textarea class="form-control ref-input" id="narration" (click)="lastActiveId = 'narration'"
                name="narration" [(ngModel)]="voucher.remarks" (input)="allowBackspace = false;">
              </textarea>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label class="ref-label">Total Debit</label>
              <input type="text" class="form-control ref-input" name="account-name" readonly
                [(ngModel)]="voucher.total.debit" style="background: #e4e4e4">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label class="ref-label">Total Credit</label>
              <input type="text" class="form-control ref-input" name="account-name" readonly
                [(ngModel)]="voucher.total.credit" style="background: #e4e4e4">
            </div>
          </div>
        </div>
        <!-- Submit -->
        <div class="row">
          <div class="col text-right">
            <input type="checkbox" name="print" id="print" [(ngModel)]="voucher.print"> Print
            <span *ngIf="mannual"><input type="checkbox" name="mannual" id="mannual" [(ngModel)]="voucher.ismanual"> Is Mannual Approval</span>
            <button class="btn btn-primary" type="button" outline (click)="dismiss(true)" id="submit"
              style="cursor: pointer;">Submit
            </button>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="ledger-container" id="ledger-container">
          <div *ngFor="let ledger of getActiveLedgerType(ledgers); let i = index;" class="ledger-option"
            [ngClass]="activeLedgerIndex == i ? 'active-ledger' : ''" (click)='selectLedger(ledger)'>
            <span>{{ledger.y_ledger_name}}</span>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<div class="date-modal" *ngIf="showDateModal" (keydown)="keyHandler($event)">
  <div class="date-modal-body">
    <div>
      <input type="text" class="form-control" name="voucher-date-f2" id="voucher-date-f2" [(ngModel)]="voucher.date"
        maxlength="10">
    </div>
  </div>
</div>

<div class="date-modal" *ngIf="showConfirm" (keydown)="keyHandler($event)">
  <div class="date-modal-body data_model_save">
    <div>
      <p>Are you want to save ?</p>
      <button (click)="dismiss(true)">Yes</button> <span>&nbsp;&nbsp;&nbsp;</span> <button
        (click)="modelCondition()">No</button>
    </div>
  </div>
</div>

<div class="date-modal" *ngIf="showConfirmCostCenter">
  <div class="date-modal-body data_model_save">
    <div>
      <p>Are you sure want to cost center entry?</p>
      <button (click)="vouchercostcenter()">Yes</button>
      <span>&nbsp;&nbsp;&nbsp;</span> <button (click)="modelCondition()">No</button>
    </div>
  </div>
</div>