// .map-container {
//     width: 100%;
//     height: 100%;
//     position: relative;
// }

#map {
    // height: 100%;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

:host ::ng-deep.red {
    color: red;
}
:host ::ng-deep.green {
    color: green;
}

