<nb-card>
  <nb-card-body class="m-0 p-0">
    <div style=" background-color:#ffffff;width:100%">
      <div class="modal-header doNotPrint">
        <div class="row w-100">
          <div class="col-sm-6">
            <h5 class="modal-title" id="modal-basic-title">Freight Invoice Rate</h5>
          </div>

          <div class="col-sm-6 text-right">
            <!-- <span (click)="onPrint()" class="doNotPrint print-icon"><i class="fa fa-print"></i></span>
            <span (click)="common.downloadPdf('print-section')" class="pdf-icon" style="margin-left:20px"><i
                class="fa fa-file-pdf"></i></span> -->

          </div>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="print-section">
          <div class="row" *ngIf="invoiceType>1" style = "margin-bottom: 20px">
              <div class="col-1">
                <b>Invoice No</b>
              </div>
              <div class="col-2">
                <input type="text" id="invoiceno" placeholder="Invoice No." name="invoiceno" class="form-control"
                  [(ngModel)]="invoiceNo" >
              </div>
              <div class="col-1">
                  <span><b> Time</b></span>
                </div>
                <div class="col-2 pl-3 pr-2">
                  <uj-date-time-picker (onChanged)="invoiceDate = $event" [dateTimeValue]="invoiceDate"
                    [isTime]="false">
                  </uj-date-time-picker>
                </div>
            </div>
        <table class="table table-bordered table-hover" style="width: 100%" *ngIf="headings && headings.length>0" >
          <thead class="thead">
            <th *ngIf="invoiceType>1">#</th>
            <th *ngFor="let heading of headings"><span *ngIf="heading.split('_')[0] != 'head'">{{heading}}</span>
              <span *ngIf="heading.split('_')[0] == 'head'">{{heading.split('_')[1]}}</span></th>
          </thead>
          <tbody>
            <tr *ngFor="let invoiceRate of invoiceRates; let i= index">
              <td *ngIf="invoiceType>1">   <input type='checkbox'
                [(ngModel)]="invoiceRate._assigned"
              ></td>
              <td *ngFor="let heading of headings;let j = index"><span>
                <!-- *ngIf="invoiceRate[heading]=='#'" -->
               
                  <label *ngIf="heading.split('_')[0] != 'head'">{{invoiceRate[heading]}}</label>
                  <label *ngIf="heading.split('_')[0] == 'head' && invoiceRate[heading]"
                    style="width:35%; font-weight: 400; font-size: 10px;">{{invoiceRate[heading].autoAmount}}</label>
                  <input type='text'
                    [class]="invoiceRate[heading].autoAmount != invoiceRate[heading].manualAmount?'form-contol border-red':'form-contol'"
                    [(ngModel)]="invoiceRate[heading].manualAmount"
                    *ngIf="heading.split('_')[0]=='head' && invoiceRate[heading]" style="width:65%"
                    (change)="calculateTotalAmount()">
                </span></td>
            </tr>
          </tbody>
        </table>
        <div style="text-align: right">
          <!-- <label style="background: #e4d3d3; padding: 9px;">Total Manual Amount : {{totalManualAmount}}</label> -->
          <button (click)="saveRate(); " class="btn btn-primary">Change & Save</button>
        </div>
        <!-- <div *ngIf="invoiceType>1" style="margin-top: 20px">
            <smart-table *ngIf="invoices && invoices.length" [data]="table2.data" [settings]="table2.settings"
              id="tblsuggestions2">
            </smart-table>
          </div> -->
      </div>
    </div>
  </nb-card-body>
</nb-card>