
<div class="contentsection">

    <div class="row mb-3 mr-0 pt-2">
      <div class="col-4 pl-0">
        <div class="outer">
          <h6 style="text-align:center"><b class="charthead">Driver Calls % </b></h6>
          <p style="text-align: right; margin-top: -25px;" class="link"
          (click)="getDetials('Tmgreport/GetCallsDrivar',{totalrecord: 3,stepno: -1, isfo: true,isadmin: true,groupdays: 7},30,'days')"><i title="More Details" class="fa fa-list"></i>
        </p>
          <chart [type]="chart1.type" [data]="chart1.data" style="margin-right:5px;margin-top:-20px;min-height: 250px;max-height: 250px;"
            [options]="chart1.options">
          </chart>
        </div>
      </div>
      <div class="col-4 pl-0">
        <div class="outer" style="min-height:265px">
          <h6 style="text-align:center"><b class="charthead">Supervisor Wise % Not Responded Calls</b></h6>
          <p style="text-align: right; margin-top: -25px;" class="link"
          (click)="getDetials('Tmgreport/GetCallsSupervisorWiseNotRespod',{totalrecord: 3,stepno: -1, isfo: true,isadmin: true},30,'days')"><i title="More Details" class="fa fa-list"></i>
        </p>
          <table class="table">
            <thead class="thead">
              <th>Executive Name</th>
              <th>Vehicle Count</th>
              <th>Yesterday %</th>
              <th>Last 30 Days %</th>
            </thead>
            <tbody class="tbody">
              <tr *ngFor="let csnr of callsSupervisorWiseNotRespod">
                <td>{{csnr['Executive Name']}}</td>
                <td>{{csnr['vehiclecount']}}</td>
                <td>{{csnr['yesterday_per']}}</td>
                <td>{{csnr['last30_days_per']}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-4 pl-0 pr-0">
        <div class="outer">
          <h6 style="text-align:center"><b class="charthead">% Not Responded Calls</b></h6>
          <p style="text-align: right; margin-top: -25px;" class="link"
          (click)="getDetials('Tmgreport/GetCallsNotRespod',{totalrecord: 3,stepno: -1, isfo: true,isadmin: true,groupdays: 7},30,'days')"><i title="More Details" class="fa fa-list"></i>
        </p>
          <chart [type]="chart2.type" [data]="chart2.data" style="margin-right:5px;margin-top:-20px;min-height: 250px;max-height: 250px;"
            [options]="chart2.options">
          </chart>
        </div>
      </div>
    </div>
    <div class="row mb-3 mr-0" >
      <div class="col-3">   
      </div>
      
      <div class="col-6">
        <div  class="outer" style="border:1px solid #7c94bf;min-height:120px">
          <h6 style="text-align: center;"><b class="charthead"> Worst 3 Driver Calls % </b></h6>
          <p style="text-align: right; margin-top: -25px;" class="link"
          (click)="getDetials('Tmgreport/GetCallsSupervisorWiseTopWorstDriverCalls',{totalrecord: 3,stepno: -1, isfo: true,isadmin: true},7,'days')"><i title="More Details" class="fa fa-list"></i>
        </p>
          <table class="table">
            <thead class="thead">
              <th>Executive Name</th>
              <th>Yesterday % </th>
              <th>Last 30 Days %</th>
            </thead>
            <tbody class="tbody">
              <tr *ngFor="let wdc of callsSupervisorWiseTopWorstDriverCalls">
                <td>{{wdc['foadmin_name']}}</td>
                <td>{{wdc['yesterday_per']}}</td>
                <td>{{wdc['last30_days_per']}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-3">
        
      </div>
    </div>
    <div class="row mb-3 mr-0">
      <div class="col-4 pl-0">
        <div class="outer">
          <h6 style="text-align:center"><b class="charthead">Longest Loading TAT</b></h6>
          <p style="text-align: right; margin-top: -25px;" class="link"
          (click)="getDetials('Tmgreport/GetCallsSupervisorLoadingTat',{totalrecord: 3,stepno: -1, isfo: true,isadmin: true,groupdays: 7},30,'days')"><i title="More Details" class="fa fa-list"></i>
        </p>
          <chart [type]="chart3.type" [data]="chart3.data" style="margin-right:5px;min-height: 350px;max-height: 350px;"
            [options]="chart3.options">
          </chart>
        </div>
      </div>
      <div class="col-4 pl-0">
        <div class="outer">
          <h6 style="text-align:center"><b class="charthead">Onward KMPD </b></h6>
          <p style="text-align: right; margin-top: -25px;" class="link"
          (click)="getDetials('Tmgreport/GetCallOnwardKmd',{totalrecord: 3,stepno: -1, isfo: true,isadmin: true,groupdays: 7},30,'days',true)"><i title="More Details" class="fa fa-list"></i>
        </p>
          <chart [type]="chart4.type" [data]="chart4.data" style="margin-right:5px;min-height: 350px;max-height: 350px;"
            [options]="chart4.options">
          </chart>
        </div>
      </div>
      <div class="col-4 pl-0 pr-0">
        <div class="outer">
          <h6 style="text-align:center"><b class="charthead">Worst Unloading TAT</b></h6>
          <p style="text-align: right; margin-top: -25px;" class="link"
          (click)="getDetials('Tmgreport/GetCallsSupervisorUnLoadingTat',{totalrecord: 3,stepno: -1, isfo: true,isadmin: true,groupdays: 7},30,'days')"><i title="More Details" class="fa fa-list"></i>
        </p>
          <chart [type]="chart5.type" [data]="chart5.data" style="margin-right:5px;min-height: 350px;max-height: 350px;"
            [options]="chart5.options">
          </chart>
        </div>
      </div>
    </div>
  </div>