.modal-header{
    padding: 10px 15px;
    h4{
        font-size: 20px;
    }
    .close{
        font-size: 30px;
        padding: 12px 15px;
    }
}
.modal-footer{
    button{
        margin: 0px;
        background-color: #000;
        color: #fff;
        padding: 15px 25px;
        display: block;
        height: auto;
        width: auto;
        outline: none;
    }
}