.accept{
    cursor: pointer;
}
.deny{
    margin-left: 8px;
    cursor: pointer;
}
nb-card-header{
    padding: 10px 15px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}
.tabset{
    padding: 0px !important;
    margin-bottom: 20px!important;
}
nb-card-body{
    padding: 0px 20px 15px;
}
.alert-danger{
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 12px !important;
    font-size: 18px !important;
}



.tabset{
    padding: 0px !important;
    margin-bottom: 20px!important;
}
nb-card-body{
    padding: 0px 20px 15px;
}
.alert-danger{
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 12px !important;
    font-size: 18px !important;
}

table{
    thead{
        display: table;
        width: 100%;
        table-layout: fixed;
        background-color: #263238;
        color: #fff;
    }
    tr{
        th{
            padding: 5px 10px;
            font-weight: normal;
            width: 180px;
        }
        th:nth-child(1){
            width: 30px;
        }
        th:last-child{
            width: auto;
        }
        td{
            padding: 5px 10px !important;
            font-size: 12px;
            button{
                padding: 0 !important;
                font-size: 11px;
                border-radius: 0px !important;
                margin: 0px;
                background-color: transparent;
                color: #263238;
                outline: none;
                box-shadow: none;
            }
        }
    }
    tbody{
        overflow-y: auto;
        display: block;
        width: 100%;
        table-layout: fixed;
        overflow: auto;
        max-height: calc(100vh - 250px);
        tr{
            display: table;
            table-layout: fixed;
            width: 100%;
            td:nth-child(1){
                width: 30px;
            }
            td{
                width: 180px;
            }
            td:last-child{
                width: auto;
            }
        }
        tr:nth-child(odd){
            background-color: #fff;
        }
        tr:nth-child(even){
            background-color: #e4e4e4;
        }
    }
} 
.tblclaim tr th:nth-child(1){width:5%!important}
.tblclaim tr th:nth-child(2){width:10%!important}
.tblclaim tr th:nth-child(3){width:40%!important} 
.tblclaim tr th:nth-child(4){width:15%!important}
.tblclaim tr th:nth-child(5){width:15%!important}
.tblclaim tr th:nth-child(6){width:15%!important}

.tblclaim tr td:nth-child(1){width:5%!important}
.tblclaim tr td:nth-child(2){width:10%!important}
.tblclaim tr td:nth-child(3){width:40%!important} 
.tblclaim tr td:nth-child(4){width:15%!important;padding-left:15px!important;}
.tblclaim tr td:nth-child(5){width:15%!important;padding-left:20px!important;}
.tblclaim tr td:nth-child(6){width:15%!important;padding-left:20px!important;}

.tblnew tr th:nth-child(1){width:5%!important}
.tblnew tr th:nth-child(2){width:15%!important}
.tblnew tr th:nth-child(3){width:50%!important}
.tblnew tr th:nth-child(4){width:15%!important}
.tblnew tr th:nth-child(5){width:15%!important}

.tblnew tr td:nth-child(1){width:5%!important}
.tblnew tr td:nth-child(2){width:15%!important}
.tblnew tr td:nth-child(3){width:50%!important}
.tblnew tr td:nth-child(4){width:15%!important;padding-left:20px!important;}
.tblnew tr td:nth-child(5){width:15%!important;padding-left:20px!important;}



