@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .left {
        display: flex;
        width: 100%;
        order: 0;
        flex-direction: row;
    }

    .right {
        order: 1;
        flex-direction: row-reverse;
    }

    .logo-containter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .control-item {
        display: block;
        padding-top: 8px!important;
        i{
            font-size: 18px;
        }
    }

    .refresh {
        background: content-box;
        color: #d1d1d2;
        background: transparent;
        border: 1px solid transparent;
        box-shadow: none;
        border-radius: 30px;
        height: 35px;
        width: 35px;
        padding: 0.175rem 0.75rem;
    }
    .header-container {
        display: flex;
        align-items: center;
        width: auto;
        
        nb-action{
            border: 0px !important;
            padding: 0 .25rem;
            margin-right: 8px;
        }

        .navigation {
            @include nb-ltr(padding-right, 1.25rem);
            @include nb-rtl(padding-left, 1.25rem);
            font-size: 2.5rem;
            text-decoration: none;

            svg{
                display: block;
            }
            svg:hover {
               color:#727cf5;
            }

        }

        .logo {
            padding: 0 1.25rem;
            font-size: 1.75rem;
            font-weight: 500;
            @include nb-ltr(border-left, 1px solid #cdd5dc);
            @include nb-rtl(border-right, 1px solid #cdd5dc);
            white-space: nowrap;

            span {
                font-weight: 400;
            }
        }
    }
    .logo:first-letter {
       color: #ffffff;
      }
    @include nb-for-theme(corporate) {
        $menu-action-separator-color: #3f4550;

        nb-action {
            @include nb-ltr(border-left-color, $menu-action-separator-color);
            @include nb-rtl(border-right-color, $menu-action-separator-color);
        }

        .header-container .logo {
            @include nb-ltr(border, none);
            @include nb-rtl(border, none);
        }

        .header-container /deep/ ngx-theme-switcher .dropdown-toggle {
            color: #ffffff;
            background: transparent;
        }
    }

    ngx-layout-direction-switcher {
        margin: 0 1.5rem;
    }

    ngx-theme-switcher {
        margin: nb-theme(layout-padding);
        margin-top: 0;
        margin-bottom: 0;
    }

    @include media-breakpoint-down(xl) {
        ngx-layout-direction-switcher {
            display: none;
        }
    }

    .toggle-layout /deep/ a {
        display: block;
        text-decoration: none;
        line-height: 1;

        svg {
            color: #40dc7e;
            font-size: 2.25rem;
            border-radius: 50%;
            position: relative;
            animation-name: pulse-light;

            &::after {
                content: ' ';
                // hack to be able to set border-radius
                background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
                border-radius: 50%;
                pointer-events: none;

                position: absolute;
                top: 52.3%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 13%;
                height: 13%;

                animation: 3s linear infinite pulse;

                @include nb-for-theme(default) {
                    animation-name: pulse-light;
                }
            }
        }
    }

    @include keyframes(pulse) {
        0% {
            box-shadow: 0 0 1px 0 #40dc7e;
        }

        20% {
            box-shadow: 0 0 3px 10px #40dc7e;
        }

        100% {
            box-shadow: 0 0 5px 20px #40dc7e;
        }
    }

    @include keyframes(pulse-light) {
        0% {
            box-shadow: 0 0 1px 0 rgba(115, 255, 208, 0);
        }

        20% {
            box-shadow: 0 0 3px 10px rgba(115, 255, 208, 0.4);
        }

        100% {
            box-shadow: 0 0 5px 20px rgba(115, 255, 208, 0);
        }
    }

    @include media-breakpoint-down(md) {

        nb-action:not(.toggle-layout) {
            border: none;
        }

        .control-item {
            display: none;
        }

        .toggle-layout {
            padding: 0;
        }

        ngx-layout-direction-switcher {
            display: none;
        }

        ngx-theme-switcher {
            margin: 0 0.5rem;
        }
    }
    nb-user{
        cursor: pointer;
    }
    @include media-breakpoint-down(sm) {
      
        nb-user /deep/ .user-name {
            display: none;
        }
    }

    @include media-breakpoint-down(is) {

        .header-container {
            .logo {
                font-size: 1.25rem;
            }
        }

        .toggle-layout {
            display: none;
        }

        ngx-theme-switcher {
            display: none;
        }

        nb-action:not(.toggle-layout) {
            padding: 0;
        }


    }

    @include media-breakpoint-down(xs) {
        .right /deep/ {
            display: none;
        }
    }
}

.user_back_name{
    //width: 950px;
    display: flex;
}

:host ::ng-deep .right.medium{
    .user_photo{
       // padding: 0px 20px 0px 0px !important;
    }
    .control-item{
       // padding: 0px 20px 0px 0px !important;
    }
}
.header_button{
    margin-right: 2px;
    padding-top: 3px;

 button {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 5px 9px;
    border-radius: 55px;
    height: 35px;
    width: 35px;
    .fa-angle-left{
        font-size: 24px;
        color: #d1d1d2;
        vertical-align: middle;
    }
}
button:hover {
    box-shadow: none;
    background-color: #0c1427;
    border: 1px solid #5e7cf5;
    color: #5e7cf5;
    padding: 5px 9px;
    border-radius: 55px;
    height: 35px;
    width: 35px;
    .fa-angle-left{
        font-size: 24px;
        color: #5e7cf5;
        vertical-align: middle;
    }
}
}
.bank_icon{
    margin-right: 2px;
    height: 30px;
}
.add_customer{
    margin-right: 2px;
    height: 30px;
 button {
   background-color: transparent;
   border: 1px solid transparent;
    color: #d1d1d2;
    box-shadow: none;
    border-radius: 30px;
    height: 35px;
    width: 35px;
    padding: 0.175rem 0.75rem;
}
}
.back_btn img {
    width: 15px;
}

.add_customer img {
    width: 15px;
}

.refresh_icon {
    margin-right: 2px;
    height: 30px;
    border: 1px solid transparent;
}

// .fa-bank {
//     button.refresh {
//         padding: 19px 20px 19px 0px;
//         height: auto;
//     }
// }

.current-page {
    position: absolute;
    bottom: -27px;
    left: 55%;
    height: auto;
    margin: auto;
    z-index: 999999;
    overflow: visible;
    color: #000;
    border-radius: 0.17rem;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    padding: 4px 20px;
    background-color: #c9c2de;
    border-bottom: 1px solid white;
    -webkit-box-shadow: 0 16px 26px -10px rgba(63, 106, 216, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(63, 106, 216, 0.2);
    box-shadow: 0 16px 26px -10px rgba(63, 106, 216, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(63, 106, 216, 0.2);
    transform: translate(-50%);
}
.select_branch{
    display: block;
    width: 50%;
    padding: 5px 0;
}
.select_branch label{
    margin-right: 0;
    font-size: 12px;
    margin-right: 5px;
    color: #d1d1d2;
    
}

.select_branch select{
    width: 60%;
    display: inline-block;
    background: transparent;
    border: 1px solid #d1d1d2 !important;
    color: #d1d1d2;
    opacity: 1;
    padding: 5px !important;
    border-radius: 0px;
    height: calc(1rem + 14px)!important;
    font-weight: normal;
}
.select_branch select:hover{
    border: 1px solid #727cf5 !important;
    color: #727cf5;
}
.select_branch select option{
    background: #363e4f;
    color: #d1d1d2;
}
:host ::ng-deep .user-picture{
    //background-image: url(assets/images/avtar.png) !important;
    background-size: cover !important;
    height: 2rem!important;
    width: 2rem!important;
}
.user_cust_name{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    h4{
        color: #d1d1d2;
        align-self: center;
        font-size: 14px;
        margin: 0px;
        font-weight: normal;
    }
   svg{
        margin-right: 5px;
        margin-left: 5px;
        align-self: center;
    }
}
.user-det_name h4{
    color: #d1d1d2;
    padding: 11px 0 0 0;
    font-size: 14px;
    margin: 0px;
}
.branch_option{
    display: flex;
}
.header_mini_menu{
    display: flex;
    justify-content: flex-end;
    padding-top: 2px;
}

.add_customer button:hover, .bank_icon button:hover, .refresh_icon button:hover {
    background-color: #0c1427;
    border: 1px solid #5e7cf5;
    color: #5e7cf5;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 30px;
    padding: 0.175rem 0.75rem;
    border-radius: 30px;
    height: 35px;
    width: 35px;
}



@media (min-width: 992px) and (max-width: 1199.98px) { 
    .select_branch{
        width: 350px;
    }
}