<div class="header-container col-2 pr-0 pl-2" [class.left]="position === 'normal'"
  [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <!-- <div class="logo" (click)="goToHome()"><b style="color: #ff421a;">eLogist</b></div> -->
    <div class="logo" (click)="goToHome()"><img src="assets\images\logos-08.png" style="object-fit: cover; height:40px;" /></div>
    <a (click)="toggleSidebar()" href="#" class="navigation" style="color: #9fa2ab;font-size:18px"><i class="fa fa-list"
        aria-hidden="true"></i></a>
  </div>
</div>
<div class="user_back_name  col-5 pr-0 pl-2">
  <div class="header_button back_btn">
    <button *ngIf="this.user._loggedInBy !== 'customer' && this.user._customer.name" class="form-control"
      (click)="backTOHome()">
      <i class="fas fa-angle-left" title="Back To Admin"></i>
    </button>
  </div>
  <div class="user_cust_name">
    <i class="fa fa-user"></i>
    <h4 *ngIf="this.user._loggedInBy !== 'customer' && this.user._customer.name">
      {{this.user._customer.name}}
    </h4>
  </div>

  <div class="user-det_name">
    <h4
      *ngIf="this.user._loggedInBy == 'customer' && this.user._customer.name && this.user._details.multipleAccounts>0 ">
      {{this.user._customer.name}} </h4>
  </div>

  <div class="user-det_name">
    <h4
      *ngIf="this.user._loggedInBy == 'customer' && this.router.url.indexOf('/admin/')== -1 && !this.user._customer.name">
      {{this.user._details.name}}</h4>
  </div>
</div>
<div class="branch_option  col-3 pr-0 pl-2">
  <div class="select_branch"
    *ngIf="router.url.includes('accounts') ||router.url.includes('admin/generate-lr') ||router.url.includes('pages/generate-lr')">
    <label>F/Y</label>
    <select class="form-control" [(ngModel)]="accountService.selected.financialYear" (change)="common.refresh()">
      <option *ngFor="let financialYear of accountService.financialYears" [ngValue]="financialYear">
        {{financialYear.name}}
      </option>
    </select>
  </div>

  <div class="select_branch"
    *ngIf="router.url.includes('accounts') ||router.url.includes('admin/generate-lr') ||router.url.includes('pages/generate-lr')">
    <label>Branch</label>
    <select class="form-control" [(ngModel)]="accountService.selected.branchId" (ngModelChange)="selectBranch()">

      <option *ngFor="let branch of accountService.branches" [value]="branch.id">
        {{branch.name}}</option>
    </select>
  </div>
</div>

<div class="header_mini_menu  col-2 pr-0 pl-2">

  <div class="customer_complain" *ngIf="user._loggedInBy==='customer'">
    <button class="form-control refresh" (click)="openCustomerComplaint()"><i class="fas fa-question-circle"
        title="Customer Complaint"></i></button>
  </div>

  <div class="bank_icon">
    <button class="form-control refresh" (click)="openBankModal()"><i class="fa fa-university icon"
        title="Bank Details"></i></button>
  </div>
  <div class="add_customer"
    *ngIf="this.user._loggedInBy == 'admin'||this.user._loggedInBy == 'partner' ||(this.user._loggedInBy === 'customer' && this.user._details.multipleAccounts>0)">
    <button class="form-control" (click)="openChangeModal()"><i class="fas fa-user-plus"
        title="Select FO Admin"></i></button>
  </div>


  <div class="refresh_icon">
    <button class="form-control refresh" (click)="refresh()"><i class="fas fa-sync-alt" title="Refresh"></i></button>
  </div>

  <div class="refresh_icon">
    <button class="form-control refresh" (click)="logout()"><i class="fas fa-sign-out-alt" title="user"></i></button>
  </div>

  <!-- <div class="header-container">
    <nb-actions size="medium" [class.right]="position === 'normal'" [class.left]="position === 'inverse'">
      <nb-action class="user_photo" *nbIsGranted="['view', 'user']">
        <nb-user [name]="user?.name" [picture]="user?.picture" (click)="logout()">
        </nb-user>
      </nb-action>
    </nb-actions>
  </div> -->
</div>
<div class="current-page" *ngIf="common.currentPage">
  <span>{{common.currentPage}}</span>
</div>