.alert-danger{
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 12px !important;
    font-size: 18px !important;
}
table{
    thead{
        display: table;
        width: 100%;
        table-layout: fixed;
        background-color: #263238;
        color: #fff;
        text-align: center;
    }
    tr{
        th{
            padding: 5px 10px;
            font-weight: normal;
            text-align: center;
        }
       
        
    }
    th:nth-child(1){
        width: 30px;
    }
    tbody{
        overflow-y: auto;
        display: block;
        width: 100%;
        table-layout: fixed;
        overflow: auto;
        max-height: calc(100vh - 218px);
        text-align: center;
        tr{
            display: table;
            table-layout: fixed;
            width: 100%;
            text-align: center;
        }
        td:nth-child(1){
            width: 30px;
        }
} 
}