.modal-header{
    padding: 10px 15px;
    background-color: #263238;
  }
  .modal-header h5{
    color: #fff;
  }
  .close{
    background: transparent;
    color: #fff !important;
    opacity: 1;
    padding: 10px 20px;
    margin: -10px -1rem -1rem auto;
    outline: none;
  }
 
table tr th{
    font-weight: normal;
}