.modal-header {
  padding: 10px 15px;
  background-color: #263238;
}
.modal-header h5 {
  color: #fff;
}
.close {
  background: transparent;
  color: #fff !important;
  opacity: 1;
  padding: 10px 20px;
  margin: -10px -1rem -1rem auto;
  outline: none;
}

table tr th {
  font-weight: normal;
}
tbody {
  tr:nth-child(odd) {
    background-color: #fff;
  }
  tr:nth-child(even) {
    background-color: #e4e4e4;
  }
}

:host .modal-dialog {
    margin: 0px !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important ;
  }
}
