nb-card{
    margin: 0px;
}
nb-card-body {
    padding: 0
}

.modal-header {
    background: #263238;
    color: #fff !important;
    padding: 3px 15px;

}

.modal-header h4 {
    color: #fff;
    line-height: 30px;
    font-size: 16px;
    font-family: Exo;
    letter-spacing: 1px;
}

.modal-header i {
    color: #fff;

    position: absolute;
    right: 7px;
    font-size: 20px;
    top: 6px;
}
.modal-body{
    padding: 0px;
}

.modal-header{
    padding: 10px 15px;
    background-color: #263238;
  }
  .modal-header h5{
    color: #fff;
  }
  .close{
    background: transparent;
    color: #fff !important;
    opacity: 1;
    padding: 10px 20px;
    margin: -10px -1rem -1rem auto;
    outline: none;
  }
  .modal-body label{
    background: #263238;
    color: #fff;
    padding: 3px 8px;
    margin: 0;
    border-radius: 3px 3px 0px 0px;
    font-size: 12px;
    min-width: 80px !important;
    font-weight: normal;
  }
  .modal-body input{
    border: 1px solid #263238 !important;
    border-radius: 0px 2px 2px 2px;
    padding: 3px 5px !important;
    height: auto;
    font-size: 12px;
  }
.modal-footer{
  padding: 10px 15px;
  button{
    padding: 5px 12px;
    text-transform: capitalize;
  }
  .btn-danger{
    background-color: #d61414;
  }
  .btn-primary{
    background-color: #263238;
  }
}