<nb-card>
  <nb-card-header>
    <h2>Latest Recharge</h2>


    <div class="row m-0 p-0">

      <div class="col-md-12 text-right margin-top-15 margin-left-220">

        <span style="margin-bottom: 10px; display: block;">
          <span class="pdf-icon" title="PDF Export" (click)="printPDF('latestrecharge');" style="cursor: pointer;"><i
              class="fa fa-file-pdf"></i></span>
          <span class="exel-icon" title="CSV Export" (click)="printCSV('latestrecharge')"
            style="cursor: pointer;margin-left: 5px;"><i class="fas fa-file-excel"></i></span>
        </span>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <!-- <div class="row" *ngIf="data.length=[]">
      <div class="col-3">
        <label>NO DATA FOUND</label>
      </div>
    </div> -->
    <smart-table *ngIf="data.length" [data]="table.data" [settings]="table.settings" id="latestrecharge"></smart-table>
    <table *ngIf="data.length" style="margin-top:-15px">
      <tbody>
        <tr>
          <th style="width: 40px"></th>
          <th style="width: 416px">
            Total:
          </th>
          <th>
            {{total}}
          </th>
        </tr>
      </tbody>
    </table>
    <br>
  </nb-card-body>
</nb-card>