<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-6">
        <h5>Add Trolly</h5>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-sm-2 pr-0"><label><b>Trolly No.</b></label></div>
          <div class="col-sm-7 ">
            <input id="trollyNo" name="trollyNo" type="text" placeholder=" Enter Trolly No" autocomplete="off"
              class="form-control" [(ngModel)]="trollyNo">
          </div>
          <div class="col-sm-3">
            <button class="btn btn-primary mt-0" type="button" outline (click)="saveTrollyDetails()" id="reminder"
              style="cursor: pointer;">Save</button>
          </div>
        </div>
      </div>
    </div>

  </nb-card-header>
  <nb-card-body>

    <div>
      <table class="table table-bordered table-hover mb-0" *ngIf="trollys">
        <thead class="thead">
          <tr>
            <th># </th>
            <th>Trolly No </th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trolly of trollys; let i = index;">
            <td>{{i+1}}</td>
            <td>{{trolly.regno}} </td>
            <td>{{trolly.entry_dt | date : 'dd-MMM-yyyy hh:mm a'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="no-data alert-danger mt-3" *ngIf="!trollys.length">
      No Data available !
    </div>
  </nb-card-body>
</nb-card>