<nb-card style="border: 0px;">
  <nb-card-header>
    <h5>Generate LR </h5>
  </nb-card-header>
  <nb-card-body>
    <table class="table table-bordered gerrate_tabel">
      <tbody>
        <tr>
          <td><label>Vehicle No</label></td>
          <td>
            <auto-suggestion (onSelected)="getvehicleData($event)" url="Vehicles/getVehicleListForFoid" display="regno"
              placeholder="Enter Vehicle Number" style="width:60%;" (change)="resetData($event)" inputId="vehicleno"
              [(ngModel)]="vehicleno">
            </auto-suggestion>
          </td>
          <td><label>LR No*</label></td>
          <td>
            <!-- {{lr.lrNumber}} -->
            <input type="text" [(ngModel)]=lr.lrNumber class="form-control" placeholder="Enter LR Number">
          </td>
        </tr>
        <tr>
          <td><label>Date</label></td>
          <td>

            <div class="row">
              <div class="col-sm-12">

                <uj-date-time-picker [isTime]="false" (onChanged)="lr.date = $event" [dateTimeValue]="lr.date">
                </uj-date-time-picker>
                <!-- <input type="text" class="form-control" autocomplete="off" [(ngModel)]="lr.date" name="date"
                  (focusout)="checkDateFormat()" placeholder="DD/MM/YYYY"> -->
              </div>
              <!-- <div class="col-sm-1 pl-0">
                <span style='cursor:pointer;' (click)="getDate()"><i class="icon fa fa-calendar add"></i></span>
              </div> -->
            </div>
          </td>
          <td><label>T.A. Name</label></td>

          <td>
            <auto-suggestion (onSelected)="searchTaName($event)" url="Suggestion/GetTransportAgent" display="name"
              placeholder="Transport Agent Name" [preSelected]="null"></auto-suggestion>
          </td>
        </tr>
        <tr>
          <td><label>Driver Mob NO</label></td>
          <td>
            <!-- <ng-template *ngIf="flag==true; then showText; else showSuggestion" ></ng-template>
                <ng-template #showText><input type="text" class="form-control" style="width:200px" [(ngModel)]="mobileno" placeholder="" autocomplete="off" readonly></ng-template>
                <ng-template #showSuggestion> -->
            <span>
              <auto-suggestion (onSelected)="getDriverData($event)" url="Booster/getDrivers" display="mobileno"
                placeholder="Select Driver" style="width:100%;" class="col-md-10 auto-suggest"
                [preSelected]="preSelectedDriver"></auto-suggestion>
              <div col-md-2><i class="fa fa-plus  add col-md-2" (click)="addDriver()"></i> </div>
            </span>
            <!-- </ng-template> -->

          </td>

          <td><label>Driver Name : </label>
            {{driver.name}}
            <!-- <input type="text" [(ngModel)]=lr.driverName class="form-control" readonly> -->
          </td>
          <td><label>License No : </label>
            {{driver.licenseNo}}
            <!-- <input type="text" [(ngModel)]=lr.licenseNo class="form-control" readonly>  -->
          </td>
        </tr>

        <tr>
          <td><label>Source City*</label></td>
          <td>
            <input placeholder="sourceCity" id="sourceCity" [(ngModel)]="lr.sourceCity" class="form-control">
          </td>
          <!-- <td> <input type="text" [(ngModel)]=lr.sourceCity class="form-control" autocomplete="off"></td> -->
          <td><label>Destination City* </label></td>
          <td>
            <input placeholder="destinationCity" id="destinationCity" [(ngModel)]="lr.destinationCity"
              class="form-control">

            <!-- <input class="form-control" id="destinationCity " name="destinationCity" [(ngModel)]="lr.destinationCity "></td> -->
            <!-- <td><input type="text" [(ngModel)]=lr.destinationCity class="form-control" autocomplete="off"> </td> -->
        </tr>
        <tr>
          <td><label>Consignor Name*</label></td>
          <td> <span>
              <auto-suggestion (onSelected)="getConsignorDetail($event)" url="Suggestion/GetCompanies2?type=ALL"
                display="name" placeholder="" style="width:100%;" class="col-md-10 auto-suggest"></auto-suggestion><i
                class="fa fa-plus  add col-md-2" (click)="addConsignee()"></i>
            </span></td>
          <td><label>Consignor Address</label></td>
          <td>
            <!-- {{lr.consignorAddress}} -->
            <input type="text" [(ngModel)]=lr.consignorAddress class="form-control" autocomplete="off">
          </td>

        </tr>
        <tr>
          <td><label>Consignee Name*</label></td>
          <td> <span>
              <auto-suggestion (onSelected)="getConsigneeDetail($event)" url="Suggestion/GetCompanies2?type=ALL"
                display="name" placeholder="" style="width:100%;" class="col-md-10 auto-suggest"></auto-suggestion>
              <div col-md-2><i class="fa fa-plus  add col-md-2" (click)="addConsignee()"></i>
              </div>
            </span></td>
          <td><label>Consignee Address</label></td>
          <td>
            <!-- {{lr.consigneeAddress}} -->
            <input type="text" [(ngModel)]=lr.consigneeAddress class="form-control">
          </td>

        </tr>
        <tr>

          <td><label>Delivery Address </label> </td>
          <td>
            <input type="checkbox" [(ngModel)]=lr.sameAsDelivery (change)="fillConsigneeAddress();">
            Same as Consignee Address <input type="text" [(ngModel)]=lr.deliveryAddress class="form-control"
              autocomplete="off">
          </td>
        </tr>
        <tr>
          <td><label>Amount</label></td>
          <td><input type="number" [(ngModel)]="lr.amount" class="form-control" (change)="calculateTotalAmount()"></td>
          <td><label>GST %</label></td>
          <td><input type="number" min="0" max="31" [(ngModel)]="lr.gstPer" class="form-control"
              (change)="calculateTotalAmount()"></td>
        <tr>
          <td><label>Total Amount</label></td>
          <td>
            {{lr.payableAmount}}
            <!-- <input type="text" [(ngModel)]="lr.payableAmount" class="form-control"> -->
          </td>
          <td><label>Payment Term</label></td>
          <td><select [(ngModel)]="lr.paymentTerm" class="form-conrol">
              <option value="1">ToPay</option>
              <option value="2">Paid</option>
              <option value="3">To Be Billed</option>
            </select></td>
        </tr>
        <tr>
          <td>
            <label>Tax Paid By : </label>
          </td>
          <td>
            <span>
              <label class="radio-btn">
                <input class="radio-btn" type="radio" name="taxPaidBy" id="taxPaidBy" [(ngModel)]="lr.taxPaidBy"
                  value="1">Consignor
              </label>
              <label class="radio-btn">
                <input class="radio-btn" type="radio" name="taxPaidBy" id="taxPaidBy" [(ngModel)]="lr.taxPaidBy"
                  value="2">Consignee
              </label>
              <label class="radio-btn">
                <input class="radio-btn" type="radio" name="taxPaidBy" id="taxPaidBy" [(ngModel)]="lr.taxPaidBy"
                  value="3">GTA
              </label>
              <label class="radio-btn">
                <input class="radio-btn" type="radio" name="taxPaidBy" id="taxPaidBy" [(ngModel)]="lr.taxPaidBy"
                  value="4">Exempt
              </label>
            </span>
          </td>
          <td>
            <label>Remark</label>
          </td>
          <td>
            <input type="text" class="form-control" placeholder="Any Other Remark" [(ngModel)]="lr.remark">
          </td>
        </tr>
      </tbody>
    </table>
    <div class="material_details">
      <h5>Material Details</h5>
      <table class="table table-bordered">
        <tbody *ngFor="let particular of particulars; let i = index;">
          <tr>
            <td>
              <label> Material </label>
            </td>
            <td>
              <auto-suggestion (onSelected)="searchMaterialType($event,i,material)" url="Suggestion/GetMaterialTypes"
                display="name" placeholder="Material Name" [preSelected]="null" [inputId]="'material-' + i">
              </auto-suggestion>
              <!-- <input type="text" class="form-control" [(ngModel)]="particular.otherDetail.material"> -->
              <!-- <input type="hidden" class="form-control" [(ngModel)]="particular.otherDetail.materialId"> -->
            </td>
            <td>
              <label>Number Of Articles </label>
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="particular.articles" (focus)="material(i)">
            </td>
            <td>
              <label>Weight</label>
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="particular.weight">
            </td>
            <td>
              <label>Material Value</label>
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="particular.material_value">
            </td>
            <td *ngIf="i == particulars.length-1"><button class="btn btn-primary"
                (click)="particular.customField = true; particular.customButton = false"
                *ngIf="particular.customButton">Add Fields</button></td>
            <td *ngIf="i == particulars.length-1"><button class="btn btn-primary" (click)="addMore()">Add
                Materials</button></td>
            <td *ngIf="i !== 0"><i class="fa fa-trash remove" (click)="particulars.splice(i,1)"></i></td>
          </tr>

          <!-- <tr *ngIf="particular.customField ">
            <td>
              <label> Invoice </label>
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="particular.invoice">
            </td>
            <td>
              <label>container No </label>
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="particular.customfields.containerno">
            </td>
            <td>
              <label>Seal No</label>
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="particular.customfields.sealno">
            </td>
            <td>
              <label>DCPI No</label>
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="particular.customfields.dcpino">
            </td>

          </tr> -->

          <tr *ngIf="particular.customField ">
            <td>
              <!-- <input type="text" placeholder="Name" class="form-control"
                [(ngModel)]="particular.customfields.customDetail[0]"> -->
              <auto-suggestion (onSelected)="particular.customfields.customDetail[0] = $event.id;" display="name"
                [data]="getFieldName" [preSelected]="null" placeholder="Name"></auto-suggestion>

            </td>
            <td>
              <i class="fa fa-plus add col-md-4" (click)="addField()"></i>
            </td>
            <td>
              <input type="text" class="form-control" placeholder="Value"
                [(ngModel)]="particular.customfields.customDetail[1]">
            </td>
            <td>
              <input type="text" class="form-control" placeholder="Name"
                [(ngModel)]="particular.customfields.customDetail[2]">
            </td>
            <td>
              <input type="text" class="form-control" placeholder="Value"
                [(ngModel)]="particular.customfields.customDetail[3]">
            </td>
            <td>
              <input type="text" class="form-control" placeholder="Name"
                [(ngModel)]="particular.customfields.customDetail[4]">
            </td>
            <td>
              <input type="text" class="form-control" placeholder="Value"
                [(ngModel)]="particular.customfields.customDetail[5]">
            </td>
            <td>
              <input type="text" class="form-control" placeholder="Name"
                [(ngModel)]="particular.customfields.customDetail[6]">
            </td>
            <td>
              <input type="text" class="form-control" placeholder="Value"
                [(ngModel)]="particular.customfields.customDetail[7]">
            </td>
          </tr>

        </tbody>

      </table>
      <!-- <input type="date"> -->
      <div><button class="btn btn-primary" (click)=saveDetails()>Save</button></div>
    </div>
  </nb-card-body>


</nb-card>