.container{
 width: 100%;
}
.modal-body{
    height:auto;
}
span{
    font-size: 36px;
    font-stretch: normal;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 14px;
 }
.input-group
{
    width: 100%;
}
.custom-modal-footer{
    padding-top: 25px;
}
.suggestions {
    position: absolute;
    z-index: 999;
    background: #fff;
    width: 100%;
    font-size: 12px;
    -webkit-box-shadow: 1px 1px 3px grey;
    box-shadow: 1px 1px 3px grey;
    max-height: 120px;
    overflow: auto;
    top: 35px;
    ul{
        padding: 0px;
        margin: 0px;
    }
}
.suggestion {
    list-style: none;
    padding: 8px 10px;
    cursor: pointer;
}
.suggestion + .suggestion{
    border-top: 1px solid #ccc;
}
.suggestion:hover{
    background-color:#26A69A;
    color:#fff;
}
.input-group label {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .5px;
    padding: 3px;
}
.input-group textarea {
    display: block;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    font-size: 12px;
    padding: 5px 5px;
    min-height: 35px;
    height: 65px;
}
.close {
    background: transparent;
    color: #263238 !important;
    opacity: 1;
    padding: 10px 20px;
    margin: -10px -1rem -1rem auto;
    outline: none;
    font-size: 30px;
  }
.modal-footer{
    padding: 10px 15px;
}