
.selected {
    background-color: #576c77
}
table tr.highlight {
    background-color: #FFEE75 !important;
    color: #000 !important;
    cursor: pointer;
}

.date-modal{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999999;
    top: 0;
    left: 0;
}
.date-modal-body{
    background: #fff;
    width: 152px;
    margin: 15% auto auto auto;
}

table{
    thead{
        display: table;
        width: 100%;
        table-layout: fixed;
        background-color: #263238;
        color: #fff;
    }
    tr{
        th{
            border-right-color: #263238;
            font-weight: normal;
            font-size: 11px;
            width: 9%;
           
        }
        th:nth-child(1){
            width: 5%;
            min-width: 50px;
           }
           th:nth-child(5){
            width: 5%;
            min-width: 50px;
           }

        td{
            width: 9%;
            font-size: 11px;
        }
       
    }
    tbody{
        overflow-y: auto;
        display: block;
        width: 100%;
        table-layout: fixed;
        overflow: auto;
        max-height: calc(100vh - 290px);
        tr{
            display: table;
            table-layout: fixed;
            width: 100%;
            td:nth-child(1){
                width: 5%;
              min-width: 50px;
             }
             td:nth-child(5){
                width: 5%;
                min-width: 50px;
               }
    
        }
        tr:nth-child(odd){
             background-color: #fff;
             }
        tr:nth-child(even){
               background-color: #e4e4e4;
                }
    }
} 


.tjr-button {
    cursor: pointer;
    margin-top: 18px;
    background: #263238 !important;
    height: auto;
    border-radius: 3px !important;
    padding: 3px 8px !important;
}

.pdf-icon{
    //font-size: 30px;
    color: #9F0001;
}
.exel-icon{
  //  font-size: 30px;
    color: #217346;
}
