
.selected {
    background-color: #576c77
}
table tr.highlight {
    background-color: #FFEE75 !important;
    color: #000 !important;
    cursor: pointer;
}

.date-modal{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999999;
    top: 0;
    left: 0;
}
.date-modal-body{
    background: #fff;
    width: 152px;
    margin: 15% auto auto auto;
}
table{
    thead{
        th{
            font-weight: normal;
        }
    }
    tbody{
        tr{
            td{
                font-size: 12px;
            }
        }
        tr:nth-child(odd){
                    background-color: #fff;
                }
                tr:nth-child(even){
                    background-color: #e4e4e4;
                }
        }
}


.tjr-button {
    cursor: pointer;
    margin-top: 18px;
    background: #263238 !important;
    height: auto;
    border-radius: 3px !important;
    padding: 3px 8px !important;
}

.pdf-icon{
    font-size: 30px;
    color: #9F0001;
}
.exel-icon{
    font-size: 30px;
    color: #217346;
}