<nb-card>
  <!-- <nb-card-header>
      <h2>Tyre Inputs</h2>
    </nb-card-header> -->

  <nb-card-body>
    <form role="form">
      <div class="row">
        <div class="col-3">
          <label>Name</label>
        </div>
        <div class="col-3">
          <input type="text" class="form-control" id="Name">
        </div>


        <div class="col-3">
          <label>Contact Number</label>
        </div>
        <div class="col-3">
          <!-- <input type="text" class="form-control" id="Name"> -->
          <input type="number" class="form-control" id="contact number" required>
        </div>

      </div>
      <div class="row">
        <div class="col-3">
          <label>Upload photo</label>
        </div>
        <div class="col-3">
          <input type="file" class="file-control" id="upload photo">
        </div>



        <div class="col-3">


          <label>Lisence Number</label>
        </div>
        <div class="col-3">
          <input type="number" class="form-control" id="lisence number">
        </div>
      </div>


      <div class="row">
        <div class="col-3">
          <label>Lisence photo</label>
        </div>
        <div class="col-3">
          <input type="file" class="file-control" id="lisence photo">
        </div>

        <div class="col-3">


          <label>Adhar Number</label>
        </div>
        <div class="col-3">
          <input type="number" class="form-control" id="Adhar number">
        </div>
      </div>


      <div class="row">
        <div class="col-3">
          
        
              <label>Adhar photo</label>
            </div>
            <div class="col-3">
              <input type="file" class="file-control" id="adhar photo">
            </div>
          

        <div class="col-3">
          
            
              <label>Date of Birth</label>
            </div>
            <div class="col-3">
              <input type="date" class="file-control" id="DOB">
            </div>
          </div>
        
        <div class="col-4">
          <div class="row">
            <div class="col-4 text-right">
              <label>Salary</label>
            </div>
            <div class="col-8">
              <input type="number" class="file-control" id="Salary">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="row">
            <div class="col-4 text-right">
              <label>Gauranter</label>
            </div>
            <div class="col-8">
              <input type="text" class="file-control" id="Gauranter">
            </div>
          </div>
        </div>
      </div>

      <button class="button">ADD</button>
    </form>
  </nb-card-body>
</nb-card>