ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
    position: absolute;
    color: black;
    background: #ffff;
    list-style: none;
    line-height: 1.6em;
  }
  .form-group{
    margin: 0px !important;
  }
  .auto_listing{
    position: relative;
    margin: 0px;
    height: 250px;
    padding: 10px;
    overflow: auto;
  }