<div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Vehicle Location</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div style="text-align:center">
          <span>
            <span class="zoom-btn" (click)="mapService.zoomMap(6)">1</span>
            <span class="zoom-btn" (click)="mapService.zoomMap(9)">2</span>
            <span class="zoom-btn" (click)="mapService.zoomMap(12)">3</span>
            <span class="zoom-btn" (click)="mapService.zoomMap(15)">4</span>
            <span class="zoom-btn" (click)="mapService.zoomMap(18)">5</span>
          </span>
        </div>
<div id="vehicleTrails">

  
</div>

