<nb-card>
    <nb-card-header>
      <div class="row">
          <h5>Trip Stoppage Report</h5>
      </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-sm-2">
                <span>
                    <span class="pdf-icon" title="PDF Export" (click)="printPDF('Tripstaoppage')" style="cursor: pointer;"><i
                            class="fa fa-file-pdf"></i></span>
                    <span class="exel-icon" title="CSV Export" (click)="printCsv('Tripstaoppage')"
                        style="cursor: pointer;margin-left: 10px;"><i class="fas fa-file-excel"></i></span>
                </span>
            </div>
            <div class="col-sm-2">
                <label>Vehicle</label>
                <auto-suggestion style="min-height:300px;" (onSelected)="getVehicle($event)" url="Suggestion/getFoVehicleList"
                 display="regno" placeholder="Search by vehicle number and regno " [preSelected]="null">
                </auto-suggestion>
            </div>

            <div class="col-sm-2">
                <label>Start Date</label>
                <uj-date-time-picker [isTime]="false" (onChanged)="startdate = $event" [dateTimeValue]="startdate">
                </uj-date-time-picker>
            </div>

            <div class="col-sm-2">
                <label>End Date</label>
                <uj-date-time-picker [isTime]="false" [isStart]="false" (onChanged)="enddate = $event"
                [dateTimeValue]="enddate">
                </uj-date-time-picker>
            </div>
            <div class="col-sm-2">
                <label>Stoppage Minutes</label>
                <input type="text"  [(ngModel)]="min" 
                placeholder="Stoppage" (input)="customize()">
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary mt-3" (click)="getTripMasterReport()">submit</button>
            </div>
        </div>
        <div  class="row" style="margin-top:15px;scrollbar-width:thin;" *ngIf="tripData && tripData.length>0">
            <div class="col-sm-12" style="height: 66vh;width: 100%;overflow: auto;">
                <smart-table *ngIf="tripData && tripData.length" id="vehicleTrip" [data]="table.data"
                [settings]="table.settings">
            </smart-table>
            
            </div>
        </div>
    </nb-card-body>
  </nb-card>