<nb-card style="border: 0px;">
  <nb-card-header>
    <div class="row">
      <div class="col-6">
        <h5>Routes </h5>
      </div>
      <div class="col-6 text-right">
        <button type="submit" class="btn btn-primary m-0" name="add" (click)="addViaRoutes()">Add Routes</button>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body style="padding-bottom: 0px; min-height: 450px;">


    <smart-table *ngIf="viaRoutes && viaRoutes.length" [data]="table.data" [settings]="table.settings"></smart-table>

  </nb-card-body>
</nb-card>