<nb-card style="border: 0px;">
  <nb-card-header>
    <div class="row">
      <div class="col-6">
        <h5>Routes </h5>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-6">
            <!-- <auto-suggestion (onSelected)="selectFoUser($event)" url="Suggestion/getFoUsersList" display="name"
              placeholder="Fo User " [preSelected]="null"></auto-suggestion>
            <div class="suggestions ng-star-inserted">
            </div> -->

          </div>
          <div class="col-6">
            <button type="submit" class="btn btn-primary m-0" name="add" (click)="addViaRoutes()">Add Routes</button>

          </div>
        </div>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body style="padding-bottom: 0px; min-height: 450px;">


    <smart-table *ngIf="viaRoutes && viaRoutes.length" [data]="table.data" [settings]="table.settings"></smart-table>

  </nb-card-body>
</nb-card>