<nb-card style="margin:0px; border:0px;">
  <nb-card-body (keydown)="keyHandler($event)" style="padding:0px;">
<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">Stock Type</h5>
  <button type="button" class="close" aria- label="Close" (click)="dismiss(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="row">
    <!-- <div class="col">
      <div class="form-group">
        <label>User</label>
        input type="text" class="form-control" (input)="searchUser()" name="user-name"
        <auto-suggestion (onSelected)="onSelected($event, 'user', 'name')" url="Suggestion/getFoUsersList" display="name"
        placeholder="Enter User" inputId="user" [preSelected]="null"></auto-suggestion>
      </div>

      <div class="suggestions" *ngIf="showSuggestions && suggestions.length && stockType.user.name">
        <ul>
          <li *ngFor="let user of suggestions" class="suggestion" (click)="selectUser(user)">
            {{user.name}}
          </li>
        </ul>
      </div>

    </div> -->
    <div class="col">
      <div class="form-group">
        <label>Name</label>
        <input autocomplete="off" type="text" class="form-control" name="stock-name" id="name" placeholder="Name" [(ngModel)]="stockType.name">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>Code</label>
        <input autocomplete="off" type="text" class="form-control" name="stock-code" id="code" placeholder="Code" [(ngModel)]="stockType.code">
      </div>
    </div>
    <div class="col">
      <label>Is Service</label>
      <div class="row iaactive radiostockitem">
        <div class="col-6 pr-0 pl-1">
          <div class="form-group">
            <input type="radio" class="form-control" name="isservice" id="isservice" [(ngModel)]="stockType.isservice" [value]="true" (keydown.enter)="stockType.isservice = true;" [checked]="true">
            <label>Yes</label>
          </div>
        </div>
        <div class="col-6 pl-0">
          <div class="form-group">
            <input type="radio" class="form-control" name="isservice" [(ngModel)]="stockType.isservice" id="notisactive" [value]="false" (keydown.enter)="stockType.isservice = true;">
            <label>No</label>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="modal-footer">
  <div class="row">
    <div class="col">
      <button class="btn btn-danger" type="button" outline (click)="dismiss(false)" id="cancel" style="cursor: pointer;">Cancel</button>
    </div>
    <div class="col text-right">
      <button class="btn btn-primary" type="button" outline (click)="dismiss(true)" id="submit" style="cursor: pointer;">Submit
      </button>
    </div>
  </div>
</div>
</nb-card-body>
</nb-card>


<div class="date-modal" *ngIf="showConfirm" (keydown)="keyHandler($event)">
  <div class="date-modal-body data_model_save">
    <div>
      <p>Are you want to save ?</p>
      <button (click)="dismiss(true)">Yes</button> <span>&nbsp;&nbsp;&nbsp;</span> <button (click)="modelCondition()">No</button>
    </div>
  </div>
</div>

<div class="date-modal" *ngIf="showExit" (keydown)="keyHandler($event)">
  <div class="date-modal-body data_model_save">
    <div>
      <p>Are you sure want to close ?</p>
      <button (click)="dismiss(true)">Yes</button> <span>&nbsp;&nbsp;&nbsp;</span> <button (click)="modelCondition()">No</button>
    </div>
  </div>
</div>