<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">Vechile gps trail</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
         
            <div class="row">
              <div class="col-md-2 pr-0">
                <auto-suggestion (onSelected)="searchVehicle($event)" url="suggestion/getVehicleList" display="regno"
                placeholder="Vehicle Number" [preSelected]="null"></auto-suggestion>
              </div>
              <div class="col-md-2 pr-0">
                <input [(ngModel)]="startDate" [owlDateTime]="date " [owlDateTimeTrigger]="date " placeholder="Start Time" class="form-control"
                autocomplete="off" name="date">
              <owl-date-time #date></owl-date-time>
              </div>
              <div class="col-md-2 pr-0">
                <input [(ngModel)]="endDate" [owlDateTime]="date1 " [owlDateTimeTrigger]="date1" placeholder="End Time" class="form-control"
                autocomplete="off" name="date1">
              <owl-date-time #date1></owl-date-time>
              </div>
              <div class="col-md-2 offset-md-08">
                <button type="submit" class="btn btn-primary" (click)="result(1)">VehicleGpsTrail</button>
              </div>
              <div class="col-md-2 offset-md-08">
                <button type="submit" class="btn btn-primary" (click)="result(2)">VehicleTrail</button>
              </div>
              <div class="col-md-2 offset-md-08">
                <button type="submit" class="btn btn-primary" (click)="result(3)">VehicleHalts</button>
              </div>
            </div>
        
        </div>
      </div> 
      <smart-table  *ngIf="gpsTrail.length" [data]="table.data" [settings]="table.settings" ></smart-table>
      
  
</div>
<div class="modal-footer">
  <div class="row">
    <div class="col">
      <button class="btn btn-danger" (click)="closeModal(false)" style="cursor:pointer;">Cancel</button>
    </div>
   
  </div>
</div>