<nb-card style=" border: 0px;">
  <!-- <nb-card-header>
    <h4>Ledger Mapping</h4>
  </nb-card-header> -->
  <nb-card-body (keydown)="keyHandler($event)">
    <span class="pdf-icon" title="PDF Export"(click)="pdfFunction()"
      style="cursor: pointer;"><i class="fa fa-file-pdf"></i></span>
    <span class="exel-icon" title="CSV Export" (click)="csvFunction()"
      style="cursor: pointer;margin-left: 10px;"><i class="fas fa-file-excel"></i></span>
    <div class="row">
      <div class="col-3 pl-0">
        <div class="form-group">
          <label class="tjr-label">Secondary Goup</label>
          <!-- <auto-suggestion (onSelected)="onSelected($event, 'group', 'name')" display="name"
            placeholder="Enter Secondary Group" [data]="secondaryData" inputId="secondaryname" [preSelected]="{name:'All'}"></auto-suggestion> -->
          <input autocomplete="off" type="text" id="secondaryname" class="form-control tjr-input" name="secondaryname"
            [(ngModel)]="ledgerMapping.group.name">
        </div>
      </div>
      <div class="col-3 pl-0">
        <div class="form-group">
          <label class="tjr-label">Ledger</label>
          <!-- <auto-suggestion (onSelected)="onSelected($event, 'ledger', 'name')" url="Suggestion/GetReportLedger"
            display="name" placeholder="Enter Ledger" inputId="ledger" [preSelected]="null"></auto-suggestion> -->
          <input autocomplete="off" type="text" id="ledger" class="form-control tjr-input" name="ledger"
            [(ngModel)]="ledgerMapping.ledger.name">
        </div>
      </div>

      <div class="col-3 pl-0">
        <div class="form-group">
          <button class="btn btn-primary btn-block tjr-button" type="button" outline (click)="getLedgerView()"
            id="submit" style="cursor: pointer;margin-top: 18px;">Submit</button>
        </div>
      </div>

      <div class="col-3 pl-0 pr-0">
        <div class="auto-sugg">
          <div class="form-group" *ngIf="this.activeId.includes('secondaryname')">
            <auto-suggetion-in-side [data]="secondaryData" targetId="secondaryname" display="name"
              (select)="onSelected($event, 'group', 'name')"></auto-suggetion-in-side>
          </div>
          <div class="form-group" *ngIf="this.activeId.includes('ledger')">
            <auto-suggetion-in-side [data]="ledgerList" targetId="ledger" display="name"
              (select)="onSelected($event, 'ledger', 'name')"></auto-suggetion-in-side>
          </div>
        </div>
      </div>
    </div>

    <table class="table table-bordered m-0" id="table">
      <thead style="background-color:#263238; color:#fff;">
        <tr>
          <th>S.No</th>
          <th>Group Name</th>
          <th>Ledger Name</th>
        </tr>
      </thead>
    <tbody>
      <tr *ngFor="let dataItem of ledgerMappingData; let i = index;" (click)="selectedRow = i"
        [ngClass]="{'highlight' : selectedRow == i}" (dblclick)="openLedgerModal(dataItem.y_ledgerid)">
        <td>{{i + 1}}</td>
        <td>{{dataItem.y_group_name}}</td>
        <td>{{dataItem.y_ledger_name}}</td>
      </tr>
    </tbody>
    </table>
  </nb-card-body>
</nb-card>