:host ::ng-deep .fa-map-marker{
    color:blue;
    font-size: 20px;
    margin-left: 15px!important;
}

:host ::ng-deep .fa-image{
    font-size: 20px;
    margin-left:15px!important;
}

:host ::ng-deep .disbale{
    pointer-events: none;
    opacity: 0.6;
}

:host ::ng-deep .fa-map-marker:hover{
    cursor: pointer;
}

:host ::ng-deep .fa-image:hover{
    cursor: pointer;
}