<!-- Author : Prashant Sharma -->
<div class="modal-header">
  <h5>Generate LR</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<nb-card>
  <nb-card-body class="m-0 p-0" (keydown)="common.enterHandler($event)">
    <div class="modal-body clearfix">
      <div [class]="img_flag?'col-md-7':'col-md-12'">
        <table class="table table-bordered gerrate_tabel">
          <tr>
            <td><label>
                LR Type
                <select [(ngModel)]="lr.lrType" (change)="changeLrTypeData()">
                  <option value="1">Own</option>
                  <option value="3">Market</option>
                </select>
              </label></td>
            <td>
              <label>
                Vehicle Type
                <select [(ngModel)]="lr.vehicleType" (change)="resetData()">
                  <option value="1">Own</option>
                  <option value="2">Group</option>
                  <option value="3">Market</option>
                </select>
              </label>
            </td>
            <td>
              <label>
                LR Category
                <select [(ngModel)]="lr.lrCategory">
                  <option value="1">LTL</option>
                  <option value="0">FTL</option>
                </select>
              </label>
            </td>
            <td *ngIf="!lr.id || !accountService.selected.branch.id">
              <label>Branch
                <select class="form-control" [(ngModel)]="accountService.selected.branch" (change)="getLrFields();">
                  <option *ngFor="let branch of accountService.branches" [ngValue]="branch">{{branch.name}}</option>
                </select>
              </label>
            </td>
          </tr>
        </table>
        <table class="table table-bordered gerrate_tabel gr-lr-form" style="width:100%">
          <tr *ngFor="let dd of oddArray ; let i = index; ">
            <td *ngIf="oddArray[i] && oddArray[i].r_coltitle">
              <label>{{oddArray[i].r_coltitle}}<span style="color: red" *ngIf="oddArray[i].r_required">*</span></label>
              <span>
                <auto-suggestion *ngIf="oddArray[i].r_name == 'vehicle_no'"
                  (onSelected)="oddArray[i].r_value = $event.name;oddArray[i].r_detailsid = $event.id"
                  url="Vehicles/getVehicleListForFoid" display="regno" placeholder="Enter Vehicle Number"
                  (change)="resetData($event)" inputId="vehicleno" [preSelected]="{regno : oddArray[i].r_value }">
                </auto-suggestion>

                <auto-suggestion *ngIf="oddArray[i].r_name == 'company'"
                  (onSelected)="oddArray[i].r_value = $event.name;oddArray[i].r_detailsid = $event.id"
                  url="Suggestion/GetCompanies" display="name" placeholder=" Search Name"
                  [preSelected]="{name:oddArray[i].r_value}" class="auto-suggest">
                </auto-suggestion>
                <i *ngIf="oddArray[i].r_name == 'company'" class="fa fa-plus add" (click)="addCompany()"></i>

                <auto-suggestion *ngIf="oddArray[i].r_name == 'driver_name'"
                  (onSelected)="oddArray[i].r_value = $event.name;oddArray[i].r_detailsid = $event.id"
                  url="Booster/getDrivers" display="mobileno" placeholder="Select Driver" class="auto-suggest d-block"
                  [preSelected]="{mobileno:oddArray[i].r_value}" placeholder="Search Driver">
                </auto-suggestion>
                <i class="fa fa-plus add " *ngIf="oddArray[i].r_name == 'driver_name'" (click)="addDriver()"></i>

                <auto-suggestion *ngIf="oddArray[i].r_name == 'location'" (onChange)="oddArray[i].r_value = $event.name"
                  (onSelected)="oddArray[i].r_name = $event.location;oddArray[i].r_detailsid = $event.id"
                  (noDataFound)="takeActionSource('oddArray',$event,i)" [isNoDataFoundEmit]="true"
                  url="Location/getPlaceFromRedis" display="location" inputId="startname" placeholder="Search Location"
                  [value]="oddArray[i].r_value" class="auto-suggest" [preSelected]='{location : oddArray[i].r_value }'>
                </auto-suggestion>
                <i class="fa fa-plus add " *ngIf="oddArray[i].r_name == 'location'"
                  (click)="sourceString='----'; takeActionSource('oddArray',null,i);"></i>

                <uj-date-time-picker (onChanged)="oddArray[i].r_value = $event" [dateTimeValue]="oddArray[i].r_value"
                  *ngIf="oddArray[i].r_name == 'date'" [isTime]="false" class="col-6">
                </uj-date-time-picker>

                <input type="text" class="form-control" [(ngModel)]=oddArray[i].r_value
                  *ngIf="oddArray[i].r_name != 'driver_name' && oddArray[i].r_name != 'company' && oddArray[i].r_name != 'location' &&  oddArray[i].r_name != 'vehicle_no' &&  oddArray[i].r_name != 'date' && oddArray[i].r_name!='tax_paid_by'">
                <span *ngIf="oddArray[i].r_name=='tax_paid_by'">
                  <label class="radio-btn">
                    <input class="radio-btn" type="radio" name="taxPaidBy" id="taxPaidBy"
                      [(ngModel)]="oddArray[i].r_value" value="1">Consignor
                  </label>
                  <label class="radio-btn">
                    <input class="radio-btn" type="radio" name="taxPaidBy" id="taxPaidBy"
                      [(ngModel)]="oddArray[i].r_value" value="2">Consignee
                  </label>
                  <label class="radio-btn">
                    <input class="radio-btn" type="radio" name="taxPaidBy" id="taxPaidBy"
                      [(ngModel)]="oddArray[i].r_value" value="3">GTA
                  </label>
                  <label class="radio-btn">
                    <input class="radio-btn" type="radio" name="taxPaidBy" id="taxPaidBy"
                      [(ngModel)]="oddArray[i].r_value" value="4">Exempt

                  </label>
                  <label class="radio-btn">
                    <input class="radio-btn" type="radio" name="taxPaidBy" id="taxPaidBy"
                      [(ngModel)]="oddArray[i].r_value" value="-1">N.A.
                  </label>
                </span>
              </span>
            </td>
            <td *ngIf="evenArray[i] && evenArray[i].r_coltitle">
              <label>{{evenArray[i].r_coltitle}}<span style="color: red"
                  *ngIf="evenArray[i].r_required">*</span></label>
              <span>
                <auto-suggestion *ngIf="evenArray[i].r_name == 'vehicle_no'"
                  (onSelected)="evenArray[i].r_value = $event.name;evenArray[i].r_detailsid = $event.id"
                  url="Vehicles/getVehicleListForFoid" display="regno" placeholder="Enter Vehicle Number"
                  (change)="resetData($event)" inputId="vehicleno" [preSelected]="{regno : evenArray[i].r_value }">
                </auto-suggestion>

                <auto-suggestion *ngIf="evenArray[i].r_name == 'company'"
                  (onSelected)="evenArray[i].r_value = $event.name;evenArray[i].r_detailsid = $event.id"
                  url="Suggestion/GetCompanies" display="name" placeholder=" Search Name"
                  [preSelected]="{name : evenArray[i].r_value}" class="auto-suggest">
                </auto-suggestion>
                <i *ngIf="evenArray[i].r_name == 'company'" class="fa fa-plus add" (click)="addCompany()"></i>

                <auto-suggestion *ngIf="evenArray[i].r_name == 'driver_name'"
                  (onSelected)="evenArray[i].r_value = $event.name;evenArray[i].r_detailsid = $event.id"
                  url="Booster/getDrivers" display="mobileno" placeholder="Select Driver" class="auto-suggest"
                  [preSelected]="{mobileno : evenArray[i].r_value}" placeholder="Search Driver">
                </auto-suggestion>
                <i class="fa fa-plus add " *ngIf="evenArray[i].r_name == 'driver_name'" (click)="addDriver()"></i>

                <auto-suggestion *ngIf="evenArray[i].r_name == 'location'"
                  (onChange)="evenArray[i].r_value = $event.name"
                  (onSelected)="evenArray[i].r_name = $event.location;evenArray[i].r_detailsid = $event.id"
                  (noDataFound)="takeActionSource('evenArray',$event,i)" [isNoDataFoundEmit]="true"
                  url="Location/getPlaceFromRedis" display="location" inputId="startname" placeholder="Search Location"
                  [value]="evenArray[i].r_value" class="auto-suggest"
                  [preSelected]='{location : evenArray[i].r_value }'>
                </auto-suggestion>
                <i class="fa fa-plus add " *ngIf="evenArray[i].r_name == 'location'"
                  (click)="sourceString='----'; takeActionSource('evenArray',null,i);"></i>

                <uj-date-time-picker (onChanged)="evenArray[i].r_value = $event" [dateTimeValue]="evenArray[i].r_value"
                  *ngIf="evenArray[i].r_name == 'date'" [isTime]="false">
                </uj-date-time-picker>

                <input type="text" class="form-control" [(ngModel)]=evenArray[i].r_value
                  *ngIf="evenArray[i].r_name != 'driver_name' && evenArray[i].r_name != 'company' &&
                   evenArray[i].r_name != 'location' &&  evenArray[i].r_name != 'vehicle_no' &&  evenArray[i].r_name != 'date'&& evenArray[i].r_name!='tax_paid_by'">

                <span *ngIf="evenArray[i].r_name=='tax_paid_by'">
                  <label class="radio-btn">
                    <input class="radio-btn" type="radio" name="taxPaidBy" id="taxPaidBy"
                      [(ngModel)]="evenArray[i].r_value" value="1">Consignor
                  </label>
                  <label class="radio-btn">
                    <input class="radio-btn" type="radio" name="taxPaidBy" id="taxPaidBy"
                      [(ngModel)]="evenArray[i].r_value" value="2">Consignee
                  </label>
                  <label class="radio-btn">
                    <input class="radio-btn" type="radio" name="taxPaidBy" id="taxPaidBy"
                      [(ngModel)]="evenArray[i].r_value" value="3">GTA
                  </label>
                  <label class="radio-btn">
                    <input class="radio-btn" type="radio" name="taxPaidBy" id="taxPaidBy"
                      [(ngModel)]="evenArray[i].r_value" value="4">Exempt

                  </label>
                  <label class="radio-btn">
                    <input class="radio-btn" type="radio" name="taxPaidBy" id="taxPaidBy"
                      [(ngModel)]="evenArray[i].r_value" value="-1">N.A.
                  </label>
                </span>
              </span>
            </td>
          </tr>

        </table>
        <div class="material_details">
          <h5>Material Details <i class="fa fa-list add" (click)="addFoField()"></i> &nbsp;&nbsp; <i
              class="fa fa-plus add" (click)="addMaterial()"></i></h5>
          <table class="table table-bordered">
            <tbody>
              <tr>

              </tr>
            </tbody>

          </table>
          <div><button class="btn btn-primary" (click)=saveDetails()>{{btnTxt}}</button></div>
        </div>

      </div>
      <div class="col-md-5" *ngIf="img_flag">
        <div>
          <app-image-viewer *ngIf="images.length" [images]="images" [idContainer]="'idOnHTML'" [loadOnInit]="true">
          </app-image-viewer>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>