<div class="modal-header">
  <h5>Generate LR</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<nb-card>
  <nb-card-body class="m-0 p-0" (keydown)="common.enterHandler($event)">
    <div class="modal-body">
      <div [class]="img_flag?'col-md-6':'col-md-12'">
        <table class="table table-bordered gerrate_tabel">
          <tr>
            <td><label>
                LR Type
                <select [(ngModel)]="lr.lrType" (change)="changeLrTypeData()">
                  <option value="1">Own</option>
                  <option value="3">Market</option>
                </select>
              </label></td>
            <td>
              <label>
                Vehicle Type
                <select [(ngModel)]="lr.vehicleType" (change)="resetData()">
                  <option value="1">Own</option>
                  <option value="2">Group</option>
                  <option value="3">Market</option>
                </select>
              </label>
            </td>
            <td>
              <label>
                LR Category
                <select [(ngModel)]="lr.lrCategory">
                  <option value="1">LTL</option>
                  <option value="0">FTL</option>
                </select>
              </label>
            </td>
            <td *ngIf="!lr.id || !accountService.selected.branch.id">
              <label>Branch
                <select class="form-control" [(ngModel)]="accountService.selected.branch"
                  (change)="getBranchDetails();">
                  <option *ngFor="let branch of accountService.branches" [ngValue]="branch">{{branch.name}}</option>
                </select>
              </label>
            </td>
          </tr>
        </table>
        <table class="table table-bordered gerrate_tabel">
          <tbody>
            <tr>
              <td><label>Vehicle No <span *ngIf="lr.vehicleType==1" class="red-star">*</span></label></td>
              <td *ngIf="lr.vehicleType==1">
                <auto-suggestion (onSelected)="getvehicleData($event)" url="Vehicles/getVehicleListForFoid"
                  display="regno" placeholder="Enter Vehicle Number" style="width:60%;" (change)="resetData($event)"
                  inputId="vehicleno" [preSelected]="{regno:vehicleRegNo}">
                </auto-suggestion>
              </td>
              <td *ngIf="lr.vehicleType!=1">
                <input type="text" [(ngModel)]="vehicleRegNo" class="form-control" placeholder="Enter Vehicle Number"
                  id="vehicleno">
              </td>
              <td><label>LR No<span class="red-star">*</span></label></td>
              <td>
                <div class="col-sm-4" style="padding: 0px">
                  <input type="text" [(ngModel)]=lr.lrNumberText class="form-control" placeholder="Prefix">
                </div>
                <div class="col-sm-8">
                  <input type="text" [(ngModel)]=lr.lrNumber class="form-control" placeholder="Number">
                </div>
              </td>
            </tr>
            <tr>
              <td><label>Date<span class="red-star">*</span></label></td>
              <td>

                <div class="row">
                  <div class="col-sm-12">

                    <uj-date-time-picker (onChanged)="lr.date = $event" [dateTimeValue]="lr.date">
                    </uj-date-time-picker>
                    <!-- <input type="text" class="form-control" autocomplete="off" [(ngModel)]="lr.date" name="date"
                  (focusout)="checkDateFormat()" placeholder="DD/MM/YYYY"> -->
                  </div>

                </div>
              </td>
              <td><label *ngIf="lr.lrType!=1">T.A. Name</label></td>

              <td>
                <span *ngIf="lr.lrType!=1">
                  <auto-suggestion (onSelected)="searchTaName($event)" url="Suggestion/GetTransportAgent" display="name"
                    placeholder=" Search Transport Agent Name" [preSelected]="{name:taName,id:taId}" style="width:100%;"
                    class="col-md-9 auto-suggest">
                  </auto-suggestion>
                  <i class="fa fa-plus add col-md-3" (click)="addTransportAgent()"></i>
                </span>
              </td>
            </tr>
            <tr>
              <td><label>Driver Mob No. </label></td>
              <td>
                <!-- <ng-template *ngIf="flag==true; then showText; else showSuggestion" ></ng-template>
                <ng-template #showText><input type="text" class="form-control" style="width:200px" [(ngModel)]="mobileno" placeholder="" autocomplete="off" readonly></ng-template>
                <ng-template #showSuggestion> -->
                <span>
                  <auto-suggestion (onSelected)="getDriverData($event)" url="Booster/getDrivers" display="mobileno"
                    placeholder="Select Driver" style="width:100%;" class="col-md-9 auto-suggest d-block"
                    [preSelected]="{mobileno:mobileno,id:driver.id}" placeholder="Search Driver"></auto-suggestion>
                  <i class="fa fa-plus add col-md-3" (click)="addDriver()"></i>
                  <!-- </ng-template> -->
                </span>
              </td>

              <td><label> Driver: </label> {{driver.name}} </td>
              <!-- <input type="text" [(ngModel)]=lr.driverName class="form-control" readonly> -->
              <td><label>License: </label> {{driver.licenseNo}} </td>
              <!-- <input type="text" [(ngModel)]=lr.licenseNo class="form-control" readonly>  -->

            </tr>

            <tr>
              <td><label>Source City<span class="red-star">*</span></label></td>
              <td>
                <span>
                  <auto-suggestion (onChange)="onChangeAuto($event,'source')"
                    (onSelected)="selectLocation($event,'source')" (noDataFound)="takeAction($event)"
                    [isNoDataFoundEmit]="true" url="Location/getPlaceFromRedis" display="location" inputId="startname"
                    placeholder="Source Location" [value]="lr.sourceCity" class="col-md-9 auto-suggest"
                    [preSelected]='{location:lr.sourceCity}'>
                  </auto-suggestion>
                  <i class="fa fa-plus add col-md-3" (click)="searchString='----'; takeAction(null);"></i>
                </span>

                <!-- <input placeholder="Search Source City" id="sourceCity" [(ngModel)]="lr.sourceCity" class="form-control"
                  autocomplete="off"> -->
              </td>
              <!-- <td> <input type="text" [(ngModel)]=lr.sourceCity class="form-control" autocomplete="off"></td> -->
              <td><label>Destination City<span class="red-star">*</span> </label></td>
              <td>
                <span>
                  <auto-suggestion (onChange)="onChangeAuto($event,'end')" (onSelected)="selectLocation($event,'end')"
                    (noDataFound)="takeAction($event)" [isNoDataFoundEmit]="true" url="Location/getPlaceFromRedis"
                    display="location" inputId="endname" class="col-md-9 auto-suggest" placeholder="Source Location"
                    [value]="lr.destinationCity" [preSelected]='{location:lr.destinationCity}'>
                  </auto-suggestion>
                  <i class="fa fa-plus add col-md-3" (click)="searchString='----'; takeAction(null);"></i>
                </span>
                <!-- <input placeholder="Search Destination City" id="destinationCity" [(ngModel)]="lr.destinationCity"
                  class="form-control"> -->

                <!-- <input class="form-control" id="destinationCity " name="destinationCity" [(ngModel)]="lr.destinationCity "></td> -->
                <!-- <td><input type="text" [(ngModel)]=lr.destinationCity class="form-control" autocomplete="off"> </td> -->
            </tr>
            <tr>
              <td><label>Consignor Name<span class="red-star" *ngIf="lr.lrType==1">*</span> </label></td>
              <td> <span>
                  <auto-suggestion (onSelected)="getConsignorDetail($event)" url="Suggestion/GetCompanies"
                    display="name" placeholder="Search Consignor Name" style="width:100%;" class="col-md-9 auto-suggest"
                    [preSelected]="{name:lr.consignorName}">
                  </auto-suggestion><i class="fa fa-plus  add col-md-3" (click)="addConsignee()"></i>
                </span></td>
              <td><label>Consignor Address</label></td>
              <td>
                <!-- {{lr.consignorAddress}} -->
                <input type="text" [(ngModel)]=lr.consignorAddress class="form-control" autocomplete="off">
              </td>

            </tr>
            <tr>
              <td><label>Consignee Name<span class="red-star" *ngIf="lr.lrType==1">*</span></label></td>
              <td> <span>
                  <auto-suggestion (onSelected)="getConsigneeDetail($event)" url="Suggestion/GetCompanies"
                    display="name" placeholder="Search Consignee Name" style="width:100%;" class="col-md-9 auto-suggest"
                    [preSelected]="{name:lr.consigneeName}">
                  </auto-suggestion>
                  <div col-md-2><i class="fa fa-plus  add col-md-3" (click)="addConsignee()"></i>
                  </div>
                </span></td>
              <td><label>Consignee Address</label></td>
              <td>
                <!-- {{lr.consigneeAddress}} -->
                <input type="text" [(ngModel)]=lr.consigneeAddress class="form-control">
              </td>

            </tr>
            <tr>

              <td><label>Delivery Address </label> </td>
              <td>
                <input type="checkbox" [(ngModel)]=lr.sameAsDelivery (change)="fillConsigneeAddress();">
                Same as Consignee Address <input type="text" [(ngModel)]=lr.deliveryAddress class="form-control"
                  autocomplete="off">
              </td>

            </tr>

            <tr>
              <td><label>Amount</label></td>
              <td><input type="number" [(ngModel)]="lr.amount" class="form-control" (change)="calculateTotalAmount()">
              </td>
              <td><label>GST %</label></td>
              <td>
                <div class="col-sm-4" style="padding: 0px">
                  <input type="number" min="0" max="31" [(ngModel)]="lr.gstPer" class="form-control"
                    (change)="calculateTotalAmount()"></div>
                <div class="col-sm-8">
                  <label>Total Amount :</label>&nbsp;&nbsp;
                  {{lr.payableAmount}}
                </div>
                <!-- <input type="text" [(ngModel)]="lr.payableAmount" class="form-control"> -->
              </td>
            <tr>
              <td><label>Payment Term</label></td>
              <td><select [(ngModel)]="lr.paymentTerm" class="form-conrol">
                  <option value="1">ToPay</option>
                  <option value="2">Paid</option>
                  <option value="3">To Be Billed</option>
                  <option value="-1">None</option>
                </select></td>
              <td><label *ngIf="lr.paymentTerm!=2">Advance Amount</label></td>
              <td>
                <div class="col-sm-4" style="padding: 0px"><input type="number" [(ngModel)]="lr.advanceAmount"
                    class="form-control" *ngIf="lr.paymentTerm!=2" (change)="calculateReminingAmount()"></div>
                <div class="col-sm-8"><label *ngIf="lr.paymentTerm!=2">Remaining Amount : </label>&nbsp;&nbsp;<label
                    *ngIf="lr.paymentTerm!=2">{{lr.remainingAmount}}</label></div>
              </td>
            </tr>
            <tr>

              <td><label *ngIf="lr.lrType==1">Invoice To</label></td>
              <td><select [(ngModel)]="lr.invoiceTo" class="form-conrol" *ngIf="lr.lrType==1">
                  <option value="1">Consignee</option>
                  <option value="2">Consignor</option>
                  <option value="9">Others</option>
                  <option value="-1">N.A.</option>

                </select></td>
              <td><label *ngIf="lr.invoiceTo==9">Payee name</label></td>
              <td>
                <span *ngIf="lr.invoiceTo==9">
                  <auto-suggestion (onSelected)="getInvoicePayerDetail($event)" url="Suggestion/GetCompanies"
                    display="name" placeholder="Search Invoice Payer Name" style="width:100%;"
                    class="col-md-9 auto-suggest" [preSelected]="{name:lr.invoicePayer}">
                  </auto-suggestion>
                  <div col-md-2><i class="fa fa-plus  add col-md-3" (click)="addConsignee()"></i>
                  </div>
                </span>
              </td>
            </tr>

            <tr>
              <td><label>Net Weight</label></td>
              <td><input type="number" [(ngModel)]="lr.netWeight" class="form-control" (change)="calculateTareWeight()">
              </td>
              <td><label>Gross Weight</label></td>
              <td>
                <div class="col-sm-4" style="padding: 0px">
                  <input type="number" min="0" max="31" [(ngModel)]="lr.grossWeight" class="form-control"
                    (change)="calculateTareWeight()"></div>
                <div class="col-sm-8"><label *ngIf="lr.grossWeight && lr.netWeight ">Tare Weight : </label>&nbsp;&nbsp;
                  <label *ngIf="lr.grossWeight && lr.netWeight">{{lr.tareWeight}}</label></div>
              </td>
            </tr>
            <tr>
              <td>
                <label>Tax Paid By : </label>
              </td>
              <td>
                <span>
                  <label class="radio-btn">
                    <input class="radio-btn" type="radio" name="taxPaidBy" id="taxPaidBy" [(ngModel)]="lr.taxPaidBy"
                      value="1">Consignor
                  </label>
                  <label class="radio-btn">
                    <input class="radio-btn" type="radio" name="taxPaidBy" id="taxPaidBy" [(ngModel)]="lr.taxPaidBy"
                      value="2">Consignee
                  </label>
                  <label class="radio-btn">
                    <input class="radio-btn" type="radio" name="taxPaidBy" id="taxPaidBy" [(ngModel)]="lr.taxPaidBy"
                      value="3">GTA
                  </label>
                  <label class="radio-btn">
                    <input class="radio-btn" type="radio" name="taxPaidBy" id="taxPaidBy" [(ngModel)]="lr.taxPaidBy"
                      value="4">Exempt
                  </label>
                  <label class="radio-btn">
                    <input class="radio-btn" type="radio" name="taxPaidBy" id="taxPaidBy" [(ngModel)]="lr.taxPaidBy"
                      value="-1">N.A.
                  </label>
                </span>
              </td>
              <td>
                <label>Remark</label>
              </td>
              <td>
                <input type="text" class="form-control" placeholder="Any Other Remark" [(ngModel)]="lr.remark">
              </td>
            </tr>
          </tbody>
        </table>
        <div class="material_details">
          <h5>Material Details <i class="fa fa-list add" (click)="addFoField()"></i> &nbsp;&nbsp; <i
              class="fa fa-plus add" (click)="addMaterial()"></i></h5>
          <table class="table table-bordered">
            <tbody *ngFor="let particular of particulars; let i = index;">
              <tr>
                <td>
                  <label> Material </label>
                </td>
                <td>
                  <auto-suggestion (onSelected)="setMaterialDetail($event,i)" url="Suggestion/GetMaterialTypes"
                    display="name" placeholder="Material Name" [preSelected]="{name:particular.material}"
                    [inputId]="'material-' + i">
                  </auto-suggestion>
                  <!-- <input type="text" class="form-control" [(ngModel)]="particular.otherDetail.material"> -->
                  <!-- <input type="hidden" class="form-control" [(ngModel)]="particular.otherDetail.materialId"> -->
                </td>
                <td>
                  <label>No. of Articles </label>
                </td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="particular.articles">
                </td>
                <td>
                  <label style="width:50%">
                    Weight</label>
                </td>
                <td>
                  <div class="col-sm-5" style="padding:0px">
                    <input class="form-control" type="text" list="unitTitles" name="companies-type"
                      [(ngModel)]="particular.weight_unit_name" placeholder="Unit"
                      (change)="getWeightUnitId(particular.weight_unit_name , i)">
                    <datalist id="unitTitles">
                      <option *ngFor="let unitField of unitFields ;" [value]="unitField.name"></option>
                    </datalist>
                  </div>
                  <div class="col-sm-7" style="padding:0px">
                    <input type="text" class="form-control" [(ngModel)]="particular.weight">
                  </div>
                </td>
                <td>
                  <label>Material Value</label>
                </td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="particular.material_value">
                </td>
                <td>
                  <i class="fa fa-trash remove" (click)="particulars.splice(i,1)" *ngIf="i !== 0"></i>
                  <i class="fa fa-plus add" (click)="addMore()" *ngIf="i == particulars.length-1"></i></td>
              </tr>

              <tr *ngFor=" let customjsonfield of particular.customjsonfields; let j = index; ">
                <td>
                  <input class="form-control" type="text" list="otherTitles" name="companies-type"
                    [(ngModel)]="customjsonfield.field1" placeholder="Select Field">
                  <datalist id="otherTitles">
                    <option *ngFor="let fofield of fofields ;" [value]="fofield.name"></option>
                  </datalist>
                  <!-- <auto-suggestion (onSelected)="customjsonfield.field1 = $event.name;" display="name" [data]="fofields"
                    [preSelected]="{name:customjsonfield.field1}" placeholder="Name"></auto-suggestion> -->
                  <!-- <select [(ngModel)]="customjsonfield.field1">
                    <option value="">Select</option>
                    <option *ngFor="let fofield of fofields ;" [value]="fofield.name">{{fofield.name}}</option>
                  </select> -->
                </td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="customjsonfield.value1">
                </td>
                <td>
                  <input class="form-control" type="text" list="otherTitles" name="companies-type"
                    [(ngModel)]="customjsonfield.field2" placeholder="Select Field">
                  <datalist id="otherTitles">
                    <option *ngFor="let fofield of fofields ;" [value]="fofield.name"></option>
                  </datalist>
                  <!-- <auto-suggestion (onSelected)="customjsonfield.field2 = $event.name;" display="name" [data]="fofields"
                    [preSelected]="{name:customjsonfield.field2}" placeholder="Name"></auto-suggestion> -->
                  <!-- <select [(ngModel)]="customjsonfield.field2">
                    <option value="">Select</option>
                    <option *ngFor="let fofield of fofields ;" [value]="fofield.name">{{fofield.name}}</option>
                  </select> -->
                </td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="customjsonfield.value2">
                </td>
                <td>
                  <input class="form-control" type="text" list="otherTitles" name="companies-type"
                    [(ngModel)]="customjsonfield.field3" placeholder="Select Field">
                  <datalist id="otherTitles">
                    <option *ngFor="let fofield of fofields ;" [value]="fofield.name"></option>
                  </datalist>
                  <!-- <auto-suggestion (onSelected)="customjsonfield.field3 = $event.name;" display="name" [data]="fofields"
                    [preSelected]="{name:customjsonfield.field3}" placeholder="Name"></auto-suggestion> -->
                  <!-- <select [(ngModel)]="customjsonfield.field3">
                    <option value="">Select</option>
                    <option *ngFor="let fofield of fofields ; " [value]="fofield.name">{{fofield.name}}</option>
                  </select> -->
                </td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="customjsonfield.value3">
                </td>
                <td>
                  <input class="form-control" type="text" list="otherTitles" name="companies-type"
                    [(ngModel)]="customjsonfield.field4" placeholder="Select Field">
                  <datalist id="otherTitles">
                    <option *ngFor="let fofield of fofields ;" [value]="fofield.name"></option>
                  </datalist>
                  <!-- <auto-suggestion (onSelected)="customjsonfield.field4 = $event.name;" display="name" [data]="fofields"
                    [preSelected]="{name:customjsonfield.field4}" placeholder="Name"></auto-suggestion> -->
                  <!-- <select [(ngModel)]="customjsonfield.field4">
                    <option value="">Select</option>
                    <option *ngFor="let fofield of fofields ; " [value]=fofield.name>{{fofield.name}}</option>
                  </select> -->
                </td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="customjsonfield.value4">
                </td>

                <td>

                  <i class="fa fa-plus " (click)="addField(i)" *ngIf="j == particular.customjsonfields.length-1"></i>
                  <i class="fa fa-trash " (click)="particular.customjsonfields.splice(i,1)" *ngIf="j !== 0"></i>

                </td>
              </tr>



            </tbody>

          </table>
          <!-- <input type="date"> -->
          <div><button class="btn btn-primary" (click)=saveDetails()>{{btntxt}}</button></div>
        </div>



      </div>
      <div class="col-md-6" *ngIf="img_flag">
        <div class="clearfix mb-3">
          <div class="col-sm-4">
            <button class="btn btn-primary btn-loadLr" type="button" (click)="loadImage('LR')">Lorry Receipt</button>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-primary btn-loadInvoice" type="button"
              (click)="loadImage('Invoice')">Invoice</button>
          </div>
          <div class="col-sm-3" style="margin-bottom: 15px">
            <button class="btn btn-primary btn-loadOther" type="button" (click)="loadImage('Other')">Others</button>
          </div>
          <!-- <div class="col-sm-3 fa fa-trash remove" style="width:50px; height:40px; color: red; margin-left: 30px"
        (click)="removeLrDetails()">
      </div> -->
        </div>
        <div>
          <app-image-viewer *ngIf="images.length" [images]="images" [idContainer]="'idOnHTML'" [loadOnInit]="true">
          </app-image-viewer>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>