.data_model_save{
    padding: 20px;
    text-align: center;
    width: auto;
    max-width: 250px;
  }
  .data_model_save button{
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 3px;
  }

.date-modal{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999999;
    top: 0;
    left: 0;
  }
  .date-modal-body{
    background: #fff;
    width: 200px;
    margin: 15% auto auto auto;
  }