<div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Stock Exchange</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

    <div class="row in-out-radio">
        <div class="col-6 text-center">
            <label class="checkpointer">
              <i>In</i>
              <input type="radio" name="In" value="In" [(ngModel)]="selectOption" (change)="onSet(selectOption)" checked>
              <span></span>
          </label>
        </div>
        <div class="col-6 text-center">
            <label class="checkpointer">
              <i>Out</i>
              <input type="radio" name="Out" value="Out" (change)="onSet(selectOption)" [(ngModel)]="selectOption">
              <span></span>
          </label>
        </div>
    </div>

    <hr>


    <!-- <div class="row" style="margin-bottom:10px">
    <div class="col-3">
      <label>Item List</label>
    </div>
    <div classs="col-3">
        <select placeholder="Name" class='form-control' [(ngModel)]="itemsId" >
          <option *ngFor="let element of dataItems" [value]="element.id">{{element.item_name}}

          </option>
        </select>
</div>
  </div> -->
    <div class="row mb-3">
        <div class="col-3">
            <label>State*:</label>
        </div>
        <div class="col-9" *ngIf="selectOption=='Out'; else state2 ">
            <select class="form-control" [(ngModel)]="StateId">
        <option *ngFor="let state of stateType" [value]="state.id">
          {{state.name}}

        </option>
      </select>

        </div>
        <ng-template #state2>
            <div class="col-9">
                <select class="form-control" [(ngModel)]="StateId">
          <option *ngFor="let state of stateType1" [value]="state.id">
            {{state.name}}
          </option>
        </select>

            </div>
        </ng-template>
    </div>
    <!-- <div class="row" style="margin-bottom:10px">
    <div class="col-3">
      <label>Unit Type*</label>
    </div>
    <div class="col-3" width="200px">
      <select class="form-control" [(ngModel)]="unitTypeId" style="width:215px" >
        <option *ngFor="let unit of unitList" [value]="unit.id" >
          {{unit.name}}

        </option>
      </select>
    </div>
  </div> -->
    <div class="row mb-3">
        <div class="col-3">
            <label>Quantity*:</label>
        </div>
        <div class="col-9">
            <input type="number" class="form-control" [(ngModel)]="quantityId">

        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3">
            <label>Date Time*:</label>
        </div>
        <div class="col-9">
            <uj-date-time-picker (onChanged)="Date=$event" [dateTimeValue]="Date">
            </uj-date-time-picker>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3">
            <label>Remark:</label>
        </div>
        <div class="col-9">
            <textarea rows="2" cols="55" class="form-control" [(ngModel)]="remark"></textarea>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3">
            <label>User Details*:</label>
        </div>
        <div class="col-9">
            <textarea rows="4" cols="55" class="form-control" [(ngModel)]="userInput"></textarea>

        </div>
    </div>
    <div class="row">
        <div class="col-12 text-right">
            <button class="btn btn-danger mr-3 pt-2 pb-2 rounded-sm text-capitalize" id="button" (click)="cancelRequest()">Cancel</button>
            <button class="btn btn-primary pt-2 pb-2 rounded-sm text-capitalize" id="button" (click)="getAdvice()">Submit</button>
        </div>
    </div>
</div>
<div class="modal-footer">
    <smart-table *ngIf="stateData && stateData.length" [data]="table.data" [settings]="table.settings" id="wareHouseInventory">
    </smart-table>
</div>