<div class="">
    <div class="outer" style="min-height:265px">
      <h6 style="text-align:center"><b class="charthead">Supervisor Wise Unresponded Driver Calls %</b></h6>
      <p style="text-align: right; margin-top: -25px;" class="link"
      (click)="getDetials('Tmgreport/GetCallsSupervisorWiseNotRespod',{totalrecord: 3,stepno: -1, isfo: false,isadmin: true},30,'days')"><i title="More Details" class="fa fa-list"></i>
    </p>
      <table class="table">
        <thead class="thead">
          <th>Executive Name</th>
          <th>Vehicle Count</th>
          <th>Yesterday %</th>
          <th>Last 30 Days %</th>
        </thead>
        <tbody class="tbody">
          <tr *ngFor="let csnr of callsSupervisorWiseNotRespod" >
            <td class="link" (click)="getDetials('Tmgreport/GetCallsSupervisorWiseNotRespod',{totalrecord: 3,stepno: 1, isfo: csnr['_foadmin_id'],isadmin: true},30,'days')">{{csnr['Executive Name']}}</td>
            <td>{{csnr['vehiclecount']}}</td>
            <td>{{csnr['yesterday_per']}}</td>
            <td>{{csnr['last30_days_per']}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>