:host ::ng-deep .blue{
    color: blue;
}
nb-card-header{
    padding: 10px 15px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}
.btn-primary{
    text-transform: capitalize;
    padding: 8px 15px;
    margin: 0px;
    height: auto;
    border-radius: 5px;
    border: 0px;
    width: 100%;
}
:host ::ng-deep .tableFixHead {
    overflow-y: auto;
    display: block;
    width: 100%;
    table-layout: fixed;
    overflow: auto;
    max-height: calc(100vh - 170px);
    height: auto !important;
}

.pdf-icon{
    font-size: 20px;
    color: #9F0001;
  }
  .exel-icon{
    font-size: 20px;
    color: #217346;
  }

  .float{
    float:right;
  }

 :host ::ng-deep table tr:last-child  span{ 
   color: black!important;
   pointer-events: none!important;
  }