<div>
    <div class="outer maintainance-1" style="min-height: 300px;">
    <h6 style="text-align:center"><b class="charthead"> Maintainance Work Trends (Last 6 Months) </b></h6>
    <p style="text-align: right; margin-top: -25px;" class="link"
      (click)="getDetials('Tmgreport/GetMaintainanceworktrend',{totalrecord: 3,stepno: 2},180,'days')"><i
        title="More Details" class="fa fa-list"></i>
    </p>
    <!-- <chart [type]="chart.type" [data]="chart.data" style="margin-right:5px;min-height: 350px;max-height: 350px;"
      [options]="chart.options"></chart> -->
    <!-- <chart *ngIf="chart.type" [type]="chart.type" [data]="chart.dataSet"
      style="margin-right:5px;min-height: 300px;max-height: 300px;" [options]="chart.options">
    </chart> -->
    <chart [type]="chart5.type" [data]="chart5.data" style="margin-right:5px;min-height: 350px;max-height: 350px;"
    [options]="chart5.options" (clickElement)="chart5Clicked($event)"></chart>
  </div>
</div>