<!-- Author By Lalit

<nb-card style="border:0px;">
  <nb-card-header>
    <h5>Route Deviations</h5>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-2 pr-0">
        <uj-date-time-picker [isTime]="false" (onChanged)="startTime = $event" [dateTimeValue]="startTime">
        </uj-date-time-picker>
      </div>
      <div class="col-md-2 pr-0">
        <uj-date-time-picker [isTime]="false" [isStart]="false" (onChanged)="endTime = $event"
          [dateTimeValue]="endTime">
        </uj-date-time-picker>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-primary" (click)="getrouteDeviations()">submit</button>
      </div>
    </div>

    <div class="row">
      <smart-table [data]="table.data" [settings]="table.settings" id="routedeviations" style="width:100%">
      </smart-table>
    </div>

  </nb-card-body>
</nb-card> -->