.cardStyle{
    margin: .5rem;
    padding: 0;
    border-radius: 7px;
    box-shadow: 3px 4px 5px rgba(198, 191, 191, 0.25);
    overflow: hidden;
    min-height: 140px;
    border: 1px solid #ededed;
}

.heading{
    justify-content: center;
    display: flex;
    align-items: center;
    span{
        font-weight: 600;
    }
}

.count{
    display: flex;
    align-items: center;
    justify-content: center;
}