<nb-card>
  <nb-card-header>
    <h5>Tyre Inputs</h5>
  </nb-card-header>
  <nb-card-body>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label class="label1"><b>Vehicle Type</b></label>
            <select [(ngModel)]="vehicleType" class="form-control" required (change)="resetVehDetails()">
              <option value="truck">Truck</option>
              <option value="trolly">Trolly</option>
              <option value="warehouse">Warehouse</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label class="label1"><b>Vehicle No. </b></label>
            <input id="vehicleNo" name="vehicleNo" type="text" placeholder=" Enter Vehicle No"
              (input)="searchVehicles()" autocomplete="off" class="form-control" [(ngModel)]="searchVehicleString">
            <ul *ngIf=" (vehicleSuggestion)&&(vehicles.length >  0)">
              <li *ngFor="let vehicle of vehicles;" (click)="selectVehicle(vehicle)">
                {{ vehicle.regno}}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label><b>Tyre No.</b></label>
            <input id="tyres" name="tyresName" type="text" placeholder=" Enter Tyre Name" (input)="searchTyres()"
              autocomplete="off" class="form-control" [(ngModel)]="searchTyreString">
            <ul *ngIf=" (tyreSuggestion)&&(tyres.length >  0)">
              <li *ngFor="let tyre of tyres;" (click)="selectTyres(tyre)">
                {{ tyre.tyrenum}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label class="label1"><b>Details</b></label>
            <input type="text" class="form-control" placeholder="Details" name="details" [(ngModel)]="details">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label> <b>Date</b></label>
            <input [(ngModel)]="date1" [owlDateTime]="date" [owlDateTimeTrigger]="date " placeholder="Date Time"
              class="form-control" autocomplete="off" name="date">
            <owl-date-time #date></owl-date-time>
          </div>
        </div>
        <!-- <div class="col-4">
            <button class="btn btn-primary" type="button" outline (click)="getTyreCurrentStatus()" id="saveDetails"
            style="cursor: pointer;margin-top:38px;">Save</button>
        </div> -->
      </div>
    </div>
    <div class="col-sm-4" style="text-align:center"
      *ngIf="(vehicleType!='warehouse') && (vehicleTyreDetails.length>=1)">
      <h5>Vehicle Front</h5>
      <table class="table table-bordered table-hover tbl-background"
        *ngFor="let vehicleTyreDetail of vehicleTyreDetails; let i = index">
        <thead class="thead">
          <tr>
            <th>AxleNo </th>
            <th>Left</th>
            <th>Right</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let axel of vehicleTyreDetail.vdata">
            <td *ngIf="(axel.axle != '99' )"><b>Axle - {{axel.axle}}</b></td>
            <td *ngIf="(axel.axle != '99' )">
              <div class="vehicle-container">
                <span *ngFor="let axelData of axel.data">
                  <div class="hover_label" *ngIf="axelData.tyrenum">{{axelData.tyrenum}}</div>
                  <label class="tyres" *ngIf="axelData.pos=='L1'">
                    <input type="radio" [name]="i + '-' + axelData.posid"
                      [value]="vehicleTyreDetail.vtype+'-'+axelData.posid" [(ngModel)]="tyrePosition"
                      (change)="getTyrePosition(tyrePosition,vehicleTyreDetail)">
                    <img [class]="axelData.mapped!='1'?'seclected':''" src="../../../assets/images/tyre1.jpg">
                  </label>
                  <label class="tyres" *ngIf="axelData.pos=='L2'">
                    <input type="radio" [name]="i + '-' +axelData.posid"
                      [value]="vehicleTyreDetail.vtype+'-'+axelData.posid" [(ngModel)]="tyrePosition"
                      (change)="getTyrePosition(tyrePosition,vehicleTyreDetail)">
                    <img [class]="axelData.mapped!='1'?'seclected':''" src="../../../assets/images/tyre1.jpg">
                  </label>
                </span>
              </div>
            </td>
            <td *ngIf="(axel.axle != '99' ) ">
              <div class="vehicle-container">
                <span *ngFor="let axelData of axel.data">
                  <div class="hover_label" *ngIf="axelData.tyrenum">{{axelData.tyrenum}}</div>
                  <label class="tyres" *ngIf="axelData.pos=='R1'">
                    <input type="radio" [name]="i + '-' + axelData.posid"
                      [value]="vehicleTyreDetail.vtype+'-'+axelData.posid" [(ngModel)]="tyrePosition"
                      (change)="getTyrePosition(tyrePosition,vehicleTyreDetail)">
                    <img [class]="axelData.mapped!='1'?'seclected':''" src="../../../assets/images/tyre1.jpg">
                  </label>
                  <label class="tyres" *ngIf="axelData.pos=='R2'">
                    <input type="radio" [name]="i + '-' + axelData.posid"
                      [value]="vehicleTyreDetail.vtype+'-'+axelData.posid" [(ngModel)]="tyrePosition"
                      (change)="getTyrePosition(tyrePosition,vehicleTyreDetail)">
                    <img [class]="axelData.mapped!='1'?'seclected':''" src="../../../assets/images/tyre1.jpg">
                  </label>
                </span>
              </div>
            </td>
            <td *ngIf="(axel.axle == '99' ) "><b>Stephenie</b></td>
            <td colspan="2" *ngIf="(axel.axle == '99') ">
              <div class="vehicle-container">
                <span *ngFor="let axelData of axel.data">
                  <div class="hover_label" *ngIf="axelData.tyrenum">{{axelData.tyrenum}}</div>
                  <label class="tyres">
                    <input type="radio" [name]="i + '-' + axelData.posid"
                      [value]="vehicleTyreDetail.vtype+'-'+axelData.posid" [(ngModel)]="tyrePosition"
                      (change)="getTyrePosition(tyrePosition,vehicleTyreDetail)">
                    <img [class]="axelData.mapped!='1'?'seclected':''" src="../../../assets/images/step.jpg"
                      style="width:30px">
                  </label>
                </span>
              </div>
            </td>
          </tr>

        </tbody>
      </table>
    </div>


  </nb-card-body>
</nb-card>