<nb-card style="border:0px;">
    <nb-card-header>
        <h5>All Tickets</h5>
    </nb-card-header>

    <nb-card-body>
        <nb-tabset>
            <nb-tab tabTitle="All open Tickets">
                <div *ngIf="status == 0">
                    <table class="table table-bordered table-hover">
                        <thead class="thead">
                            <tr>
                                <th>#</th>
                                <th>Vehicle No</th>
                                <!-- <th>Ticket Id</th> -->
                                <th>Message</th>
                                <th>Remaining Time</th>
                                <th>Trails</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let ticket of allOpenTickets; let i = index">
                                <th scope="row">{{i + 1}}</th>
                                <td>{{ticket.regno}}</td>
                                <!-- <td>{{ticket.ticket_id}}</td> -->
                                <td>{{ticket.msg}}</td>
                                <td>{{common.findRemainingTime(ticket.remaining_time)}}</td>
                                <td (click)="showTrailList(ticket)"><span class="btn btn-success">show</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="no-data alert alert-danger" role="alert" *ngIf="status == 0 && !allOpenTickets.length && showMsg ">
                        No Data available !
                    </div>

                </div>
            </nb-tab>

            <nb-tab tabTitle="Parked Tickets">
                <div *ngIf="status == 0">
                    <table class="table table-bordered table-hover">
                        <thead class="thead">
                            <tr>
                                <th>#</th>
                                <th>Vehicle No</th>
                                <!-- <th>Ticket Id</th> -->
                                <th>Message</th>
                                <th>Add Time</th>
                                <th>Trails</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let ticket of allClaimTickets; let i = index;">
                                <th scope="row">{{i + 1}}</th>
                                <td>{{ticket.regno}}</td>
                                <!-- <td>{{ticket.ticket_id}}</td> -->
                                <td>{{ticket.msg}}</td>
                                <td>{{ticket.addtime}}</td>
                                <td (click)="showTrailList(ticket)"><span class="btn btn-success">show</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="no-data alert alert-danger" role="alert" *ngIf="status == 0 && !allClaimDrivers.length && showMsg">
                        No Data available !
                    </div>
                </div>
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
</nb-card>