<nb-card>
    <nb-card-header>
        <h2>All Tickets</h2>
    </nb-card-header>

    <nb-card-body>
        <nb-tabset>
            <nb-tab tabTitle="All open Tickets">
                <div class="msg-container" *ngIf="status == 0 && !allOpenTickets.length && showMsg ">
                    <div class="msg">No open ticket found!
                    </div>
                </div>
                <div *ngIf="status == 0">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Vehicle No</th>
                                <!-- <th>Ticket Id</th> -->
                                <th>Message</th>
                                <th>Remaining Time</th>
                                <th>Trails</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ticket of allOpenTickets; let i = index">
                                <th scope="row">{{i + 1}}</th>
                                <td>{{ticket.regno}}</td>
                                <!-- <td>{{ticket.ticket_id}}</td> -->
                                <td>{{ticket.msg}}</td>
                                <td>{{common.findRemainingTime(ticket.remaining_time)}}</td>
                                <td (click)="showTrailList(ticket)" style="text-decoration:underline; color: blue;cursor: pointer;">show</td>
                            </tr>
                    </table>

                </div>
            </nb-tab>

            <nb-tab tabTitle="Parked Tickets">
                <div class="msg-container" *ngIf="status == 0 && !allClaimDrivers.length && showMsg ">
                    <div class="msg">No claim ticket found!
                    </div>
                </div>
                <div *ngIf="status == 0">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Vehicle No</th>
                                <!-- <th>Ticket Id</th> -->
                                <th>Message</th>
                                <th>Add Time</th>
                                <th>Trails</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ticket of allClaimTickets; let i = index;">
                                <th scope="row">{{i + 1}}</th>
                                <td>{{ticket.regno}}</td>
                                <!-- <td>{{ticket.ticket_id}}</td> -->
                                <td>{{ticket.msg}}</td>
                                <td>{{ticket.addtime}}</td>
                                <td (click)="showTrailList(ticket)" style="text-decoration:underline; color: blue;cursor: pointer;">show</td>
                            </tr>
                    </table>
                </div>
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
</nb-card>