<div class="">
<div class="mt-3 outer" style="min-height: 130px;">
    <h6 style="text-align:center"><b class="charthead">Worst 3 Drivers(Amount Wise) Last 1 Year</b></h6>
    <p style="text-align: right; margin-top: -25px;" class="link"
      (click)="getDetials('Tmgreport/GetChallansdrivaramount',{totalrecord: 3,stepno: -1},365,'dayss')"><i
        title="More Details" class="fa fa-list"></i>
    </p>
    <table class="table">
      <thead class="thead">
        <th>Driver Name</th>
        <th>Challan Count</th>
        <th>Challan Amount</th>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let cda of challansdrivaramount">
          <td>{{cda['Driver']}}</td>
          <td>{{cda['Challan Count']}}</td>
          <td>{{cda['Challan Amount']}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>