                                       :host ::ng-deep .tableFixHead {
                                          table {
                                              tr {
                                                  td:nth-child(2),
                                                  td:nth-child(5) {
                                                      &.blue {
                                                          color: blue;
                                                          font-weight: 700;
                                                      }
                                                  }
                                                  td:nth-child(2),
                                                  td:nth-child(5),
                                                  td:nth-child(3),
                                                  td:nth-child(4),
                                                  td:nth-child(6) {
                                                      &.black {
                                                          color: white;
                                                          background-color: black;
                                                      }
                                                      &.red {
                                                          color: white;
                                                          background-color: red;
                                                      }
                                                  }
                                                  td {
                                                      &.fa-check {
                                                          font-family: "FontAwesome";
                                                      }
                                                  }
                                                  .fa-bell {
                                                      .zoom {
                                                          display: inline-block;
                                                          margin-left: 10px;
                                                          font-weight: bold;
                                                          padding: 5px 0px;
                                                          font-size: 14px;
                                                          font-family: 'Poppins', sans-serif !important;
                                                      }
                                                  }
                                              }
                                          }
                                      }