// For Smart Table
.modal-header{
    padding: 10px 15px;
}
.headings {
    background: #e2e2e2;
    font-size: 11px;
    font-weight: 500;
}
.data {
    font-size: 10px;
    border-bottom: 1px solid #e2e2e2;
    min-height: 20%;   
}

.data ion-col,
.headings ion-col {
    padding: 3px;
    border-left: 1px solid #f2f2f2;
}
:host ::ng-deep.blue {
    color: blue;
    font-weight: 700;
}
:host ::ng-deep.black {
    color: black;
    background: cornsilk;
    // display: none;
}
:host ::ng-deep.red {
    background: red;
    color: #fff;
}
:host ::ng-deep.pink {
    background: pink;
    color: black;
}
:host ::ng-deep.green{
    background: #0bff0b;
    color:black;
}

:host ::ng-deep.default
{
    background: transparent;
    border: transparent;
}
:host ::ng-deep.icon{
    color: #0e0e3a;
    font-size: 18px;
 
}
:host ::ng-deep.image{
    color: #0e0e3a;
    font-size: 18px;
 
}


:host ::ng-deep .circle {
    border: 1px solid gray;
    border-radius: 50%;
    padding: 3px 4px;
}
.route-arrow {
    font-size: 20px;
    vertical-align: middle;
    margin: 0px 5px;
}
:host ::ng-deep .complete {
    vertical-align: middle;
    color: green;
}

.exit {
    vertical-align: middle;
    margin-right: 3px;
}
.loaded{
    font-weight: bold;
}
.search-box {
    background: #fff;
    font-size: 13px;
    padding: 6px 8px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    vertical-align: middle;
    margin-left: 10px;
    width: 60%;
    letter-spacing: .3px;
    color: #000;
}
table{
    cursor:pointer;   
}
.modal-dialog{
    width: 100% !important;
}
.modal-lg {
    max-width: 1200px !important;
}
smart-table .tableFixHead{
    height: 74vh !important;
}
.close{
    font-size: 36px;
    padding: 8px 16px;
}
.model-body .btn-primary{
    border-radius: 3px;
    border: 0px;
    text-transform: capitalize;
    float: left;
    padding: 8px 15px;
}
:host ::ng-deep .fa-star{
    color: red !important ;
   }