label{
    font-weight: 500;
}
.row{
    margin-bottom: 15px;
}
.add-remove-btn{
    button{
        padding: 4px;
        display: inline-block;
        margin: 1px;
        font-size: 13px;
        margin-top: 10px;
    
    }
}