<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">Add Vehicle Model Sub Service</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-2">
      <input type="number" step="1000" placeholder="Kilometer" [(ngModel)]="kmCopy" name="km-copy" max="10000000000"
        style="width:150px">
    </div>
    <div class="col-md-2 pl-5 pt-2">
      <a outline (click)="copyAll(1)" style="cursor: pointer;">Copy Km</a>
    </div>
    <div class="col-md-2">
      <input type="number" step="1" placeholder="Months" [(ngModel)]="monthCopy" name="month-copy" min="1" max="999"
        style="width:150px">
    </div>
    <div class="col-md-2  pl-5 pt-2">
      <a (click)="copyAll(2)" style="cursor: pointer;">Copy Month</a>
    </div>
  </div>
  <table class="table table-bordered table-hover m-0" id="tbldocs">
    <thead class="thead">
      <tr style="text-align:center">
        <th>#</th>
        <th>Service Type</th>
        <th>Service After Km</th>
        <th>Service After Months</th>
      </tr>
    </thead>

    <tbody *ngIf="serviceDatas.length!=0">
      <tr *ngFor="let serviceData of serviceDatas; let i = index">
        <td>{{i + 1}}</td>
        <td>{{serviceData.servicename}}</td>
        <td><input type="number" name="kms" step="1000" [(ngModel)]="serviceData.kms" max="10000000000"
            style="width:150px"></td>
        <td><input type="number" name="months" [(ngModel)]="serviceData.months" max="99" style="width:100px"></td>
      </tr>
    </tbody>
  </table>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" outline (click)="saveData()" style="cursor: pointer;">Save</button>
</div>