<nb-card style="border:0px;">
  <nb-card-body (keydown)="keyHandler($event)">
   <!-- <button (click)="excelService.saveAsXMLFile()">XML</button> -->
   
    <div class="row mt-3">

      <div class="col-9 pl-0 pr-0">
        <!-- <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label class="tjr-label">Fo Name</label>
              <span>{{headingName}}</span>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group branchName">
              <label class="tjr-label">Branch Name</label>
              <input type="text" style="cursor: pointer;" class="form-control tjr-input" id="branchType"
              autocomplete="off" name="account-branchType" [(ngModel)]="branchType.name">
            </div>
          </div>
        </div> -->
        <div class="row">
          <div class="col-4 pl-0">
            <div class="form-group">
              <label class="tjr-label">Starting Date</label>
              <input type="text" style="cursor: pointer;" class="form-control tjr-input" id="startDate"
                autocomplete="off" maxlength="10" name="account-startDate" [(ngModel)]="accountService.fromdate">
            </div>
          </div>
          <div class="col-4 pl-0">
            <div class="form-group">
              <label class="tjr-label">End Date</label>
              <input type="text" style="cursor: pointer;" class="form-control tjr-input" id="endDate" autocomplete="off"
                maxlength="10" name="account-endDate" [(ngModel)]="accountService.todate">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4 pl-0">
            <div class="form-group">
             <button class="btn w-100" id="master" (click)="getTallyData('false','Master')">Master</button>
            </div>
          </div>
     
          <div class="col-4 pl-0">
            <div class="form-group">
             <button class="btn w-100" id="voucher" (click)="getTallyData('true','DayBook')">Vouchers</button>
            </div>
          </div>
        </div>

        
      </div>
      <!-- <div class="col-3">
    
        <div class="auto-sugg">
          <div class="form-group">
            <auto-suggetion-in-side [data]="branchData" targetId="branchType" display="name"
              (select)="onSelected($event, 'branchType', 'name')"></auto-suggetion-in-side>
          </div>
          
        </div>
      </div> -->
     
    </div>
    
  </nb-card-body>
</nb-card>

<div class="date-modal" *ngIf="showDateModal" (keydown)="keyHandler($event)">
  <div class="date-modal-body">
    <div>
      <input type="text" class="form-control" name="voucher-date-f2" id="voucher-date-f2"
        [(ngModel)]="f2Date" maxlength="10">
    </div>
  </div>
</div>
