.red {
    background: red;
    color: #fff;
}

.pink {
    background: pink;
}

.green {
    background: #46f946;
    color: black;
}
i{
    color: blue;
    font-size: 16px;
}
i{
    color: blue;
    font-size: 16px;
}
.table-scroll thead {
    display: table;
    width: 100%;
    // table-layout: fixed;
 }
 
 .table-scroll tbody {
    max-height: 350px;
    overflow-y: auto;
    display: block;
    width: 100%;
    table-layout: fixed;
 }
 
 .table-scroll tr {
    display: table;
    table-layout: fixed;
    width: 100%;
 }
 
 .table-scroll td {
    height: 47px; // needed in order to keep rows from collapsing
    table-layout: fixed;
    word-wrap:break-word;
 }