.fa-edit {
    color: blue;
  }
  
  :host ::ng-deep td i.fa-file-alt {
    background-color: #04a9f5;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    position: relative;
    padding-top: 11px;
    height: 29px;
    // margin-right: 5px;
  }
  
  :host ::ng-deep td i.fa-file-alt:hover span {
    display: block;
  }
  
  :host ::ng-deep td i.fa-file-alt span {
    position: absolute;
    display: none;
    padding: 11px 57px;
    left: -44px;
    top: -28px;
    font-family: Roboto;
    z-index: 999;
  }
  
  :host ::ng-deep td i.fa-file-alt span::before {
    content: "Challan";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #04a9f5;
    border-radius: 3px;
    padding: 5px 10px;
  }
  
  :host ::ng-deep td i.fa-file-alt span::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #04a9f5;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
  }
  
  :host ::ng-deep .fa-file-alt:hover span {
    display: block;
  }
  
  :host ::ng-deep td i.fa-file-pdf {
    background-color: red;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    position: relative;
  }
  
  :host ::ng-deep td i.fa-file-pdf span {
    position: absolute;
    display: none;
    padding: 11px 70px;
    left: -59px;
    top: -28px;
    font-family: Roboto;
    z-index: 999;
  }
  
  :host ::ng-deep td i.fa-file-pdf span::before {
    content: "Payment Receipt";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: red;
    border-radius: 3px;
    padding: 5px 10px;
  }
  
  :host ::ng-deep td i.fa-file-pdf span::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid red;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
  }
  
  :host ::ng-deep .fa-file-pdf {
    color: red;
    font-size: 18px;
    margin-left: 6px;
    span {
      position: absolute;
      display: none;
      padding: 10px 33px;
      font-weight: normal;
      font-size: 11px;
      left: -22px;
      top: -28px;
      -webkit-box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
      box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
      font-family: Roboto;
      z-index: 9999;
    }
    span::before {
      content: "Delete";
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: red;
      border-radius: 3px;
      padding: 5px 10px;
      color: #fff;
      width: 100%;
    }
    span::after {
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid red;
      position: absolute;
      bottom: -5px;
      right: 24px;
    }
  }
  
  :host ::ng-deep .fa-file-pdf:hover span {
    display: block;
  }
  
  :host ::ng-deep td i.fa-money-bill-alt {
    background-color: #04a9f5;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    position: relative;
    padding-top: 11px;
    height: 29px;
    // margin-right: 5px;
  }
  
  :host ::ng-deep td i.fa-money-bill-alt:hover span {
    display: block;
  }
  
  :host ::ng-deep td i.fa-money-bill-alt span {
    position: absolute;
    display: none;
    padding: 11px 57px;
    left: -44px;
    top: -28px;
    font-family: Roboto;
    z-index: 999;
  }
  
  :host ::ng-deep td i.fa-money-bill-alt span::before {
    content: "challan Payment";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #04a9f5;
    border-radius: 3px;
    padding: 5px 10px;
  }
  
  :host ::ng-deep td i.fa-money-bill-alt span::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #04a9f5;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
  }
  
  :host ::ng-deep .fa-money-bill-alt:hover span {
    display: block;
  }
  
  :host ::ng-deep.fa-file-alt.text-color {
    // background: lightblue !important;
    // color: #fff !important;
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  :host ::ng-deep.fa-file-pdf.text-color {
    // background: lightcoral !important;
    // color: #fff !important;
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  :host ::ng-deep.fa-money-bill-alt.text-color {
    // background: lightcoral !important;
    // color: #fff !important;
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    //background-color: black;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    color: #fff;
  }
  
  td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    color: #000;
  }
  
  // .solid {
  //   border: 2px solid black;
  //   text-align: center;
  // }
  // .solid > span {
  //   font-size: 20px;
  // }

  .boxStyle{
    height: 120px;
    box-shadow: 0px 0px 4px 2px lightgrey;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .heading{
    // padding:7px;
    // text-align:center;
    padding-left:10px;
    font-size:22px;
    font-weight:500;
  }

  .data1{
    text-align:center;
    font-size:46px;
    color:red;
    padding-top: 14px;
    font-family: sans-serif;
  }

  .data{
    text-align:center;
    font-size:46px;
    color:blue;
    padding-top: 14px;
    font-family: sans-serif;
  }

  .data2{
    text-align:center;
    font-size:46px;
    color:green;
    padding-top: 14px;
    font-family: sans-serif;
  }
  