<nb-card style="border: 0px; height: 100%;">
    <nb-card-header class="toll-soft-recovery">
        <h5>Pending Challan</h5>

    </nb-card-header>
    <nb-card-body>
        <div class="Pending_challan">
            <div class="row">
                <div class="col-12">
                    <div class="row mb-3">
                        <div class="col-3 ml-3">
                            <div class="row row align-items-center">
                                <div class="col-4 pl-0 pr-0">
                                    <label>From Date :</label>
                                </div>
                                <div class="col-8 pl-0">
                                    <uj-date-time-picker (onChanged)="startDate=$event" [dateTimeValue]="startDate"
                                        [isTime]="false">
                                    </uj-date-time-picker>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row align-items-center">
                                <div class="col-3 pr-0 pl-0">
                                    <label>To Date :</label>
                                </div>
                                <div class="col-9">
                                    <uj-date-time-picker (onChanged)="endDate=$event" [dateTimeValue]="endDate"
                                        [isTime]="false" [isStart]="false">
                                    </uj-date-time-picker>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <select [(ngModel)]="challanStatus" class="form-control"
                                style=" border: 2px solid darkcyan; font-size: 13px; ">
                                <option value="-1">All</option>
                                <option value="0">Pending</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-primary" (click)="getPendingChallans()">submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="this.challan && this.challan.length">

            <div class="col-4">
                <div class="solid boxStyle">
                    <div class="heading" style="color:blue;"> Total Amount</div>
                    <div class="data"><span class="data" style="padding-right:5px;color:blue">₹</span>{{totalAmount}}</div>
                    </div>
            </div>

            <div class="col-4">
                <div class="solid boxStyle">
                    <div class="heading" style="color:red"> Pending Amount</div>
                        <div class="data1"><span class="data1" style="padding-right:5px;color:red">₹</span>{{pendingAmount }}</div> 
                     </div>
            </div>
            <div class="col-4">
                <div class="solid boxStyle">
                    <div class="heading" style="color:green;"> Paid Amount</div>
                     <div class="data2"><span class="data2" style="padding-right:5px;color:green;">₹</span>{{paidAmount}}</div>
                </div>
            </div>

            <!-- <div *ngIf="this.challan && this.challan.length" style="margin-left: 340px;">
                <table frame="box" style="width:100%">
                    <thead>
                        <tr>
                            <th><b>Total Challan</b></th>
                            <th><b>Pending challan </b></th>
                            <th><b>paid challan</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{pendingChallan+paidChallan}}</td>
                            <td>{{pendingChallan }}</td>
                            <td>{{paidChallan}}</td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
        </div>
        <div class='mt-1'>
            <smart-table *ngIf="challan && challan.length" [data]="table.data" [settings]="table.settings"
                id="pendingChallan">
            </smart-table>
        </div>
    </nb-card-body>
</nb-card>