label{
    font-weight: 500;
}
.row{
    margin-bottom: 15px;
}
.add-remove-btn{
    button{
        padding: 4px;
        display: inline-block;
        margin: 1px;
        font-size: 13px;
        margin-top: 10px;
    
    }
}
.checkbox-flex{
    display: inline-flex;
    flex-wrap: wrap;
}
.inside-checkbox{   
    width: 33%;
    margin: 0px;
    text-align: left;
    line-height: normal;
}
.value{
    padding: 0;
    padding-left: 3px;
    font-size: initial;
}
.head label{
    font-weight: bold;
}