<div>
<div class="mt-3 outer maintainance-4" style="min-height: 130px;">
    <h6 style="text-align:center"><b class="charthead">Vehicle With Highest Maintainance Count (Last 90 Days)</b></h6>
    <p style="text-align: right; margin-top: -25px;" class="link"
      (click)="getDetials('Tmgreport/GetVehicleMaintainancereportcount',{totalrecord: 3,stepno: 2},90,'days')"><i
        title="More Details" class="fa fa-list"></i>
    </p>
    <table class="table">
      <thead class="thead">
        <th>Reg No</th>
        <th> Count</th>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let cdc of challansdrivarcount">
          <td>{{cdc['Reg No']}}</td>
          <td>{{cdc['count']}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>