button { 
    background-color: #73a1ff;
    border-radius: 5px !important;
    text-transform: capitalize !important;
    padding: 10px !important;
}

nb-card-header{
    padding: 15px 20px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}
// @media(max-width: 480px) {
//     td {
//         display:block;
//     }
//   }
// .mapped_table thead,
// .mapped_table tbody{
//     display: table;
//     width: 100%;
// }
// .mapped_table{
//     thead{
//         tr{
//             th{
//                 width: 368px;
//             }
//             th:last-child{
//                 width: auto;
//             }
//         }
//     }
//     tbody{
//         tr{
//             td{
//                 width: 368px;
//             }
//             td:nth-child{
//                 width: auto;
//             }
//         }
//     }
// }