<nb-card>
   <!--  <nb-card-header>
  <div class="row">
      <div class="col-sm-4">
        Mapped Fuel Voucher
      </div>
    </div> 
  </nb-card-header>-->
  <nb-card-body>
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="tjr-label">Starting Date</label>
              <input type="text" style="cursor: pointer;" class="form-control tjr-input " autocomplete="off"
                placeholder="Select Date" name="account-date" [(ngModel)]="accountService.fromdate" id="startdate"
                maxlength="10" (click)="lastActiveId = 'account-date'; allowBackspace = false;" (input)="allowBackspace = false;">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="tjr-label">End Date</label>
              <input type="text" style="cursor: pointer;" class="form-control tjr-input" id="enddate" autocomplete="off"
                placeholder="Select Date" name="account-enddate" [(ngModel)]="accountService.todate" maxlength="10"
                (click)="lastActiveId = 'account-date'; allowBackspace = false;" (input)="allowBackspace = false;">
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="col-sm-3">
          <input style="margin-top:20px;" autocomplete="off" type="radio" name="mapping" id="mapping"
            [(ngModel)]="fuelVoucher.type"  (change)="changeModal(fuelVoucher.type)" [value]=0>&nbsp;UnMapping
        </div>
        <div class="col-sm-3">
          <input style="margin-top:20px;" autocomplete="off" type="radio" name="unmapping" id="unmapping"
            [(ngModel)]="fuelVoucher.type" (change)="changeModal(fuelVoucher.type)" [value]=1>&nbsp;Mappping
        </div>
        <div class="col-sm-3">
          <button class="btn btn-primary btn-block tjr-button" type="button" outline (click)="getFuelVoucher()" id="submit"
            style="cursor: pointer;">Submit</button>
        </div>
      </div>
    </div>
    <div>
      <table class="table table-bordered">
        <thead class="thead">
          <tr id="heading-row">
          <th>S.No</th>
            <th>Fuel Fill Date</th>
            <th>Vehicle Name</th>
            <th>Fuel Station</th>
            <th>Qty (Liter)</th>
            <th>Rate</th>
            <th>Amount</th>

            <!-- <th *ngIf="fuelVoucher.type==1">Voucher Amount</th> -->
          </tr>
        </thead>
        <tbody *ngIf="fuelVoucher.type==0">
          <tr *ngFor="let voucher of voucherDetails; let i = index;" (click)="selectedRow = i" [ngClass]="{'highlight' : selectedRow == i}">
            <td>{{ i+1 }}</td>
            <td>{{voucher.fuel_fill_date | date : 'dd MMM'}}</td>
            <td>{{voucher.vehicle_name}}</td>
            <td>{{voucher.fuel_station}}</td>
            <td>{{ voucher.qty}}</td>
            <td>{{ voucher.rate}}</td>
            <td>{{ voucher.amount}}</td>
          </tr>
        </tbody>

        <tbody *ngFor="let voucher of mappedDetails; let i=index;">
          <tr style="background: #184154; color: aliceblue;">
            <td>{{ i+1 }}</td>
            <td>{{voucher.date | date : 'dd MMM yyyy'}}</td>
            <td>{{voucher.voucherName}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{voucher.amount}}</td>
          </tr>
          <tr *ngFor="let detail of voucher.details; let j=index;">
           <td>{{j+1}}</td>
            <td>{{detail.fuel_fill_date | date : 'dd MMM yyyy'}}</td>
            <td>{{detail.vehicle_name}}</td>
            <td>{{detail.fuel_station}}</td>
            <td>{{detail.qty}}</td>
            <td>{{detail.rate}}</td>
            <td>{{detail.amount}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </nb-card-body>
</nb-card>

<div class="date-modal" *ngIf="showDateModal" (keydown)="keyHandler($event)">
  <div class="date-modal-body">
    <div>
      <input type="text" class="form-control" name="voucher-date-f2" id="voucher-date-f2"
        [(ngModel)]="f2Date" maxlength="10">
    </div>
  </div>
</div>