button { 
    background-color: #73a1ff;
    border-radius: 5px !important;
    text-transform: capitalize !important;
    padding: 10px !important;
}

nb-card-header{
    padding: 15px 20px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}
.balance-shit{
    .table{
        margin: 0px;
        thead{
            background-color: #263238;
            color: #fff;
            th:first-child{
                width: 350px;
            }
        }
        tbody{
            tr{
                background-color: #eeeeee;
                color: #4b4b4b;
                td{
                    padding-left: 20px;
                    
                }
            }
            tr:nth-child(1){
                background-color: #D6D6D6;
                color: #fff;
                font-weight: bold;
                td{
                    padding-left: 10px;
                }
            }
        }
        th,td{
            border: 1px solid #C7C7C7;
        }
    }
}
.tanding_total{
    background-color: #324148;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    .total_name{
        float: left;
    
    }
    .total_amount{
        float:right;
    }
}
.balance-shit{
    background-color:#dadfe6;
}

.date-modal{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999999;
    top: 0;
    left: 0;
}
.date-modal-body{
    background: #fff;
    width: 152px;
    margin: 15% auto auto auto;
}

.tjr-button {
    cursor: pointer;
    margin-top: 18px;
    background: #263238 !important;
    height: auto;
    border-radius: 3px !important;
    padding: 3px 8px !important;
}
.pdf-icon{
  //  font-size: 30px;
    color: #9F0001;
}
.exel-icon{
   // font-size: 30px;
    color: #217346;
}

.selected {
    background-color: #576c77
}
table tr.highlight {
    background-color: #FFEE75 !important;
    color: #000 !important;
}


.heading {
    background-color: #263238;
    color: #fff;
    padding: 10px 0px !important;
    border: 1px solid #c7c7c7
}

.th-mini {
    background: #184154;
    color: #fff;
    border-bottom: 1px solid #c7c7c7;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
}

.th-mini .col-8,
.th-mini .col-4 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.th-mini .col-8 {
    border-right: 1px solid #c7c7c7;
}

.tb-mini {
    border-bottom: 1px solid #c7c7c7;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
}

.tb-mini .col-8,
.tb-mini .col-4 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}

.td-mini .col-8 {
    border-right: 1px solid #c7c7c7;
    color: #fff;
}


.expand-div {
    position: absolute;
    right: 20px;

    label {
        font-weight: 500;
        margin-right: 10px;
        margin-left: 5px;
        vertical-align: middle;
    }
}
.lastrowcolor{
    background-color: #bfcfd9 !important;
    div{
        color:#000 !important;
    }
}
.highlight {
    background-color: #FFEE75 !important;
    color: #000 !important;
}
//kavita singh
.heading{
    padding: 6px 0px !important;
  }
  .th-mini .col-8, .th-mini .col-4 {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .tanding_total {
    padding: 6px 15px;
  }
  .jrx-dtbody{
    height: calc(100vh - 247px);
     overflow: auto;
    width: 100%;
  }