:host ::ng-deep td i.fa-edit {
    color: blue;
    padding: 5px;
    border-radius: 3px;
    position: relative;
    margin-right: 5px;
}

 :host ::ng-deep td i.fa-edit:hover span {
    display: block;
}

 :host ::ng-deep td i.fa-edit span {
    position: absolute;
    display: none;
    padding: 11px 57px;
    left: -44px;
    top: -28px;
    font-family: Roboto;
    z-index: 999;
}

 :host ::ng-deep td i.fa-edit span::before {
    content: 'Edit';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #04A9F5;
    border-radius: 3px;
    padding: 5px 10px;
}

 :host ::ng-deep td i.fa-edit span::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #04A9F5;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}

 :host ::ng-deep td i.fa-trash-alt {
    color: red;
    padding: 5px;
    border-radius: 3px;
    position: relative;
}

 :host ::ng-deep td i.fa-trash-alt:hover span {
    display: block;
}

 :host ::ng-deep td i.fa-trash-alt span {
    position: absolute;
    display: none;
    padding: 11px 70px;
    left: -59px;
    top: -28px;
    font-family: Roboto;
    z-index: 999;
}

 :host ::ng-deep td i.fa-trash-alt span::before {
    content: 'Delete';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #82c91e;
    border-radius: 3px;
    padding: 5px 10px;
}

 :host ::ng-deep td i.fa-trash-alt span::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #82c91e;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}

.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
}

.example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}