<!-- <nb-card>
  <nb-card-header> -->
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Driver Vehicle Remapping</h4>
  <!-- <h2>Driver Vehicle Remapping</h2> -->
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- </nb-card-header>
  <nb-card-body> -->
<!-- <form [formGroup]="driverRemapForm" name="driverRemap-form"  id="driverRemap-form"
      (submit)="driverRemapForm.valid && Remapdriver()"> -->
<!-- <form class="form-group"> -->
<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <label>{{maping.regno}}</label>
      </div>
    </div>
    <div class="row margin-top-15">
      <div class="col-2">
        <label>Primary Driver Name</label>
      </div>
      <div class="col-3">

        <auto-suggestion (onSelected)="getvehicleData($event, 'primary')"
          [preSelected]="{empname:maping.primary?maping.primary:'',mobileno:maping.pdriverMobile?maping.pdriverMobile:''}"
          [data]="driverList" [display]="['empname','mobileno']" seperator="-" placeholder="Enter Driver Name"
          inputId="firstDriver">
        </auto-suggestion>

      </div>
      <div class="col-2">
        <label>Mobile Number</label>
      </div>
      <div class="col-3">
        <input type="text" class="form-control" name="drivername" id="drivername" placeholder="Driver Mobile No"
          readonly [(ngModel)]="maping.pdriverMobile">

      </div>


      <div class="col-2" *ngIf="md">
        <select class="form-control" [(ngModel)]="maping.pdStatus">
          <option *ngFor="let status of driverStatus" [value]="status.id">
            {{status.description}}

          </option>
        </select>
        <!-- <div *ngIf="submitted  && f.pdStatus.errors" class="invalid-feedback">
            <div *ngIf="f.pdStatus.errors.required">Driver Status is required</div>
          </div> -->
      </div>
    </div>

    <div class="row margin-top-15">
      <div class="col-2">
        <label>Secondary Driver</label>
      </div>
      <div class="col-3">
        <auto-suggestion (onSelected)="getvehicleData($event, 'secondary')" [data]="driverList"
          [display]="['empname','mobileno']" placeholder="Enter Driver Name" inputId="secDriver" seperator="-"
          [preSelected]="{empname:maping.secondary?maping.secondary:'', mobileno:maping.SdriverMobile?maping.SdriverMobile:''}"
          style="width:60%;">
        </auto-suggestion>


      </div>
      <div class="col-2">
        <label>Mobile Number</label>
      </div>
      <div class="col-3">
        <!-- "{ 'is-inv <input type="text" class="form-control" id="mobile-number" autocomplete="off" placeholder="Mobile NO."
            formControlName="SdriverMobile" minlength="10" required maxlength="10"
            [ngClass]=alid': submitted && f.SdriverMobile.errors }" required>
          <div *ngIf="submitted && f.SdriverMobile.errors" class="invalid-feedback">
            <div *ngIf="f.SdriverMobile.errors.required">mobileNumber is required</div>
            <div *ngIf="f.SdriverMobile.errors.minlength ">mobile Number minlength 10</div>
            <div *ngIf="f.SdriverMobile.errors.maxlength ">mobile Number maxlength 10</div>
          </div> -->
        <!-- <auto-suggestion (onSelected)="getvehicleData($event, 'secondary')" [(ngModal)]="maping.SdriverMobile" url="Drivers/getFoDrivers"
               display="mobileno"  placeholder="Driver Mobile " style="width:60%;"></auto-suggestion> -->
        <input type="text" class="form-control" placeholder="Driver Mobile No" name="drivername1" id="drivername1"
          readonly [(ngModel)]="maping.SdriverMobile">
      </div>
      <div class="col-2" *ngIf="sd">
        <select class="form-control" [(ngModel)]="maping.sdStatus">
          <option *ngFor="let status of driverStatus" [value]="status.id">
            {{status.description}}

          </option>
        </select>
        <!-- <div *ngIf="submitted && f.sdStatus.errors" class="invalid-feedback">
            <div *ngIf="f.sdStatus.errors.required">Driver Status is required</div>
          </div> -->
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 text-center margin-top-15">
  <button class="btn btn-primary" id="submit" type="submit" (click)="Remapdriver()">submit</button>
</div>