<div class="">
    <div class="outer">
      <h6 style="text-align:center"><b class="charthead">Onward KMPD </b></h6>
      <p style="text-align: right; margin-top: -25px;" class="link"
      (click)="getDetials('Tmgreport/GetCallOnwardKmd',{totalrecord: 3,stepno: -1, isfo: false,isadmin: true,groupdays: 7},30,'days',true)"><i title="More Details" class="fa fa-list"></i>
    </p>
      <chart [type]="chart4.type" [data]="chart4.data" style="margin-right:5px;min-height: 350px;max-height: 350px;"
        [options]="chart4.options" (clickElement)="chart4Clicked($event)">
      </chart>
    </div>
  </div>