<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">{{title}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-3">
      <label> Vehicle Number </label>
    </div>
    <div class="col-md-3">
      <span>{{regno}}</span>
    </div>
    <div class="col-md-3">
      <label>Invoice No.</label>
    </div>
    <div class="col-md-3">
      <input type="text" placeholder="Invoice No" class="form-control" name="invoiceNo"
        [(ngModel)]="serviceDetails.invoiceNo" >
    </div>
  </div>


  <div class="row">
    <div class="col-md-3">
      <label>Service Date</label>
    </div>
    <div class="col-md-3">
      <uj-date-time-picker (onChanged)="serviceDetails.lastServiceDate = $event" [isTime]="false"
        [dateTimeValue]="serviceDetails.lastServiceDate">
      </uj-date-time-picker>
    </div>

    <div class="col-md-3">
      <label>Odometer</label>
    </div>
    <div class="col-md-3">
      <input type="number" placeholder="Km" class="form-control" name="lastServiceKm"
        [(ngModel)]="serviceDetails.lastServiceKm" maxlength="8">
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label>Service Center</label>
    </div>
    <div class="col-md-3">
      <!-- <input type="text" placeholder="Center" class="form-control" name="serviceCenter"
        [(ngModel)]="serviceDetails.serviceCenter"> -->
        <auto-suggestion (onSelected)="selectServiceCenter($event)" [data]="serviceCenters" display="service_center"
        placeholder="Service Center" (focusout)="setServiceCenter()" inputId="service_center" [preSelected]="{service_center:serviceDetails.serviceCenter}"></auto-suggestion>
    </div>
    <div class="col-md-3">
      <label>Service Location</label>
    </div>
    <div class="col-md-3">
      <input type="text" placeholder="Location" class="form-control" name="serviceLocation"
        [(ngModel)]="serviceDetails.serviceLocation">

      
    </div>

  </div>

  <div class="row">
    <div class="col-md-3">
      <label>Scheduled Service</label>
    </div>
    <div class="col-md-3">
      <select [(ngModel)]="serviceDetails.scheduleServices" class="form-control">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
    <div class="col-md-3" *ngIf="serviceDetails.scheduleServices=='true'">
      <label> Service Category</label>
    </div>
    <div class="col-md-3" *ngIf="serviceDetails.scheduleServices=='true'">
      <select [(ngModel)]="serviceDetails.serviceCategory" class="form-control">
        <option value="1">Company</option>
        <option value="2">Own</option>
      </select>
    </div>
  </div>
  <!-- <div class="row" *ngIf="serviceDetails.scheduleServices=='true'">
    <div class="col-md-3">
      <label>Next Service After Days</label>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-12 pr-1">
          <input type="number" placeholder="Days" class="form-control" name="nextServiceDate"
            [(ngModel)]="serviceDetails.nextServiceDate" maxlength="8">
        </div>
      </div>

    </div>
    <div class="col-md-3">
      <label>Next Service After Km</label>
    </div>
    <div class="col-md-3">
      <div class="row mb-0">
        <div class="col-12 pr-1">
          <input type="number" placeholder="Km" class="form-control" name="nextServiceKm"
            [(ngModel)]="serviceDetails.nextServiceKm" maxlength="8">
        </div>
      </div>
    </div>
  </div> -->

  <div class="row">
    <div class="col-md-3">
      <label>Amount</label>
    </div>
    <div class="col-md-3">
      <input type="number" placeholder="Amount" class="form-control" name="amount" [(ngModel)]="serviceDetails.amount" (change)="calculateAmount()">
    </div>
    <div class="col-md-3">
      <label>Tax</label>
    </div>
    <div class="col-md-3">
      <input type="number" placeholder="Tax" class="form-control" name="tax" [(ngModel)]="serviceDetails.tax" (change)="calculateAmount()">
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label>Total Amount</label>
    </div>
    <div class="col-md-3">
      <label>{{serviceDetails.totalAmount}}</label>
    </div>
    <div class="col-md-3">
      <label>Remark</label>
    </div>
    <div class="col-md-3">
      <input type="text" placeholder="Remark" class="form-control" name="amount" [(ngModel)]="serviceDetails.remark">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label>Service Details</label>
    </div>
    <div class="col-md-9 checkbox-flex">
      <label *ngFor="let st of serviceType; let j= index;" class="inside-checkbox">
        <input type="checkbox" [(ngModel)]="isChecks[j]" (change)=addType(st.id,isChecks[j])>{{st.name}}
      </label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label>Any Items</label>
    </div>
    <div class="col-md-3">
      <select [(ngModel)]="isItem" class="form-control">
        <option [value]="1">Yes</option>
        <option [value]="0">No</option>
      </select>
    </div>
    <div *ngIf="isItem==1" class="col-md-3">
      <label>Labour Cost</label>
    </div>
    <div *ngIf="isItem==1" class="col-md-3">
      <input type="number" placeholder="Labour Cost" class="form-control" name="labourCost"
        [(ngModel)]="serviceDetails.labourCost">
    </div>
  </div>
  <table *ngIf="isItem==1" class="table table-bordered">
    <thead>
      <tr>
        <th>
          <label> Item Details</label>
        </th>
        <th>
          <label> Actions</label>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items; let j= index">
        <span>
          <td>
            <input type="text" class="form-control" [(ngModel)]="item.name" placeholder=" Item Name">
          </td>
          <td>
            <input type="number" class="form-control" [(ngModel)]="item.quantity" placeholder="Quantity">
          </td>
          <td>
            <span><input type="number" class="form-control" [(ngModel)]="item.amount" placeholder="Amount"
                style="width: 70%; display: inline-block; margin-right: 5px;">
            </span>
          </td>
        </span>
        <td style="padding: 0px;">
          <span><i class="fa fa-plus add" (click)="addMoreItems(i)" *ngIf="j == items.length-1" style="padding: 1px;
                color: green;"></i>
            <i class="fa fa-minus minus" (click)="items.splice(j,1)" *ngIf="j !== 0" style="padding: 1px;
              color: red;"></i>
          </span>
        </td>
      </tr>
    </tbody>

  </table>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col text-right" *ngIf="edit==0; else update">
      <button class="btn btn-primary" form="service-form" type="submit" (click)="addService();" id="submit"
        style="cursor: pointer;">{{btn2}}</button>
    </div>
    <ng-template #update>
      <button class="btn btn-primary" form="service-form" type="submit" (click)="addService();" id="submit"
        style="cursor: pointer;">{{btn3}}</button>
    </ng-template>
    <div class="col">
      <button class="btn btn-danger" type="button" (click)="closeModal(false)" id="cancel"
        style="cursor: pointer;">{{btn1}}</button>
    </div>

  </div>
</div>