<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">{{title}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-3">
      <label> Vehicle Number </label>
    </div>
    <div class="col-md-3">
      <span>{{regno}}</span>
    </div>
    <div class="col-md-3">
      <label> Service Category</label>
    </div>
    <div class="col-md-3">
      <select [(ngModel)]="serviceDetails.serviceCategory">
        <option value="1">Company</option>
        <option value="2">Own</option>
      </select>
    </div>
  </div>


  <div class="row">
    <div class="col-md-3">
      <label>Service Date</label>
    </div>
    <div class="col-md-3">
      <uj-date-time-picker (onChanged)="serviceDetails.lastServiceDate = $event" [isTime]="false"
        [dateTimeValue]="serviceDetails.lastServiceDate">
      </uj-date-time-picker>
    </div>

    <div class="col-md-3">
      <label>Odometer</label>
    </div>
    <div class="col-md-3">
      <input type="number" placeholder="Km" class="form-control" name="lastServiceKm"
        [(ngModel)]="serviceDetails.lastServiceKm" maxlength="8">
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label>Service Center</label>
    </div>
    <div class="col-md-3">
      <input type="text" placeholder="Center" class="form-control" name="serviceCenter"
        [(ngModel)]="serviceDetails.serviceCenter">
    </div>
    <div class="col-md-3">
      <label>Service Location</label>
    </div>
    <div class="col-md-3">
      <input type="text" placeholder="Location" class="form-control" name="serviceLocation"
        [(ngModel)]="serviceDetails.serviceLocation">
    </div>

  </div>

  <div class="row">
    <div class="col-md-3">
      <label>Amount</label>
    </div>
    <div class="col-md-3">
      <input type="text" placeholder="Amount" class="form-control" name="amount" [(ngModel)]="serviceDetails.amount">
    </div>
    <div class="col-md-3">
      <label>Remark</label>
    </div>
    <div class="col-md-3">
      <input type="text" placeholder="Remark" class="form-control" name="amount" [(ngModel)]="serviceDetails.remark">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label>Next Service After Days</label>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-10 pr-1">
          <input type="number" placeholder="Days" class="form-control" name="nextServiceDate"
            [(ngModel)]="serviceDetails.nextServiceDate" maxlength="8">
          <!-- <uj-date-time-picker [isTime]="false" (onChanged)="serviceDetails.nextServiceDate = $event"
              [dateTimeValue]="serviceDetails.nextServiceDate">
            </uj-date-time-picker> -->
        </div>
        <div class="col-2 p-0">
          <i class="fa fa-copy mt-2" (click)="copiedDate();"></i>
        </div>
      </div>

    </div>
    <div class="col-md-3">
      <label>Next Service After Km</label>
    </div>
    <div class="col-md-3">
      <div class="row mb-0">
        <div class="col-10 pr-1">
          <input type="number" placeholder="Km" class="form-control" name="nextServiceKm"
            [(ngModel)]="serviceDetails.nextServiceKm" maxlength="8">
        </div>
        <div class="col-2 p-0">
          <i class="fa fa-copy mt-2" (click)="copiedKm();"></i>
        </div>
      </div>
    </div>
  </div>


  <div class="services">
    <h5>Service Details</h5>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>
            <label> Service Type </label>
          </th>
          <th>
            <label> Next_Service After_KM</label>
          </th>
          <th>
            <label> Next_Service After_Days</label>
          </th>
          <th>
            <label> Item Details</label>
          </th>
          <th>
            <label> Action</label>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let service of services; let i = index;">
          <td>
            <input class="form-control" type="text" list="serviceType" name="service-type"
              (change)="changeServiceType(service.serviceType , i);" [(ngModel)]="service.serviceType">
            <datalist id="serviceType">
              <option *ngFor="let st of serviceType;" [value]="st.name">{{st.name}}</option>
            </datalist>
          </td>
          <td>
            <input type="number" placeholder="Km" class="form-control" [(ngModel)]="service.nextServiceKm"
              maxlength="8">
          </td>
          <td>
            <input type="number" placeholder="Days" class="form-control" [(ngModel)]="service.nextServiceDate"
              maxlength="8">
            <!-- <uj-date-time-picker [isTime]="false" (onChanged)="service.nextServiceDate = $event"
              [dateTimeValue]="service.nextServiceDate">
            </uj-date-time-picker> -->
          </td>
          <span *ngFor="let item of service.itemDetails; let j= index">
            <td>
              <input type="text" class="form-control" [(ngModel)]="item.name" placeholder=" Item Name">
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="item.quantity" placeholder="Quantity">
            </td>
            <td>
              <span><input type="text" class="form-control" [(ngModel)]="item.amount" placeholder="Amount"
                  style="width: 70%; display: inline-block; margin-right: 5px;"><i class="fa fa-plus add"
                  (click)="addMoreItems(i)" *ngIf="j == service.itemDetails.length-1" style="padding: 1px;
                  color: green;"></i>
                <i class="fa fa-minus minus" (click)="service.itemDetails.splice(j,1)" *ngIf="j !== 0" style="padding: 1px;
                color: red;"></i>
              </span>
            </td>
          </span>
          <td style="padding: 0px;">
            <span class="add-remove-btn">
              <button class="btn btn-primary" (click)="addMore()" *ngIf="i == services.length-1">
                <i class="fa fa-plus add"></i>
              </button>
              <button *ngIf="i !== 0" class="btn btn-danger" (click)="services.splice(i,1)">
                <i class="fa fa-trash remove"></i>
              </button>
            </span>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col">
      <button class="btn btn-danger" type="button" (click)="closeModal(false)" id="cancel"
        style="cursor: pointer;">{{btn1}}</button>
    </div>
    <div class="col text-right" *ngIf="edit==0; else update">
      <button class="btn btn-primary" form="service-form" type="submit" (click)="addService();" id="submit"
        style="cursor: pointer;">{{btn2}}</button>
    </div>
    <ng-template #update>
      <button class="btn btn-primary" form="service-form" type="submit" (click)="addService();" id="submit"
        style="cursor: pointer;">{{btn3}}</button>
    </ng-template>
  </div>
</div>