button { 
    padding: 7px 10px !important;
    background-color: #263238;
    border-radius: 5px !important;
    text-transform: capitalize !important;
    cursor: pointer;
}

nb-card-header{
    padding: 15px 20px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}
.main{
    display: block;
    margin-top: 20px;
}
table{
    thead{
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    tr{
        th{
            padding: 5px 10px;
            font-weight: normal;
            width: 170px;
        }
        th:nth-child(1){
            width: 35px;
        }
        th:nth-child(2){
            width: 150px;
        }
        th:nth-child(3){
            width: 440px;
        }
        th:last-child{
            width: auto;
        }
        td{
            padding: 5px 10px !important;
            font-size: 12px;
            width: 170px;
            button{
                padding: 0 !important;
                font-size: 11px;
                border-radius: 0px !important;
                margin: 0px;
                background-color: transparent;
                color: #263238;
                outline: none;
                box-shadow: none;
            }
        }
    }
    tbody{
        overflow-y: auto;
        display: block;
        width: 100%;
        table-layout: fixed;
        overflow: auto;
        max-height: calc(100vh - 172px);
        tr{
            display: table;
            table-layout: fixed;
            width: 100%;
            td:nth-child(1){
                width: 35px;
            }
            td:nth-child(2){
                width: 150px;
            }
            td:nth-child(3){
                width: 440px;
                word-break: break-all;
            }
            td:nth-child(4){
                word-break: break-all;
            }
            td:last-child{
                width: auto;
            }
        }
        tr:nth-child(odd){
            background-color: #fff;
        }
        tr:nth-child(even){
            background-color: #e4e4e4;
        }
    }
}
.add-button{
    position: fixed;
    bottom: 10px;
    right: 50px;
    border-radius: 100% !important;
    padding: 15px 20px !important;
    font-size: 20px;
    box-shadow: 3px 2px 10px #989898;
    cursor: pointer !important;
}

.selected {
    background-color: #576c77
}
table tr.highlight {
    background-color: #FFEE75 !important;
    color: #000 !important;
}
.modal-header{
    padding: 10px 15px;
    background-color: #263238;
  }
  .modal-header h5{
    color: #fff;
  }
  nb-card-body{
    padding: 0;
}