label {
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-left: 14px;
    font-weight: 600;
    font-size: 18px;
}

// textarea{
//         margin-left: 12px;
//         height: 100px;
//         width: 80%;
//     }
