<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row">
      <label>{{label}}</label>
    </div>
    <div class="row">
      <textarea name="remark" class="form-control" [(ngModel)]="remark" [placeholder]="placeholder"></textarea>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="row">
    <div class="col">
      <button class="btn modal-footer-btn" type="button" outline (click)="closeModal(false)" id="cancel" style="background: #f2f2f2;">{{btn2}}</button>
    </div>
    <div class="col text-right">
      <button class="btn btn-primary modal-footer-btn forward-btn" type="button" outline (click)="closeModal(true)" style="color: #fff;">{{btn1}}</button>
    </div>
  </div>
</div>
