<!-- Author by Lalit -->

<nb-card>
  <nb-card-header>Captcha : <span>0{{count}}</span></nb-card-header>
  <nb-card-body style="min-height: 580px;">
    <div class="container">
      <div class="captcha-container" *ngFor="let captcha of captchas;let i = index;" [hidden]="i !== 0">
        <div>
          <img [src]="captcha.url" alt="Captcha">
        </div>
        <div>
          <input type="text" [name]="'captcha-'+ i" [id]="'captcha-' + i" placeholder="Enter Captcha"
            [(ngModel)]="captcha.txt" class="form-control" (keyup.enter)="captchaValidator(captcha,i)">
        </div>
        <div>
          <button type="submit" class="btn btn-primary m-0" name="submitCaptcha"
            (click)="captchaValidator(captcha,i)">Submit</button>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>