

<div class="modal-header">
    <h6 style="color:white" >Placement Constraints</h6>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <nb-card>
    <nb-card-body style="overflow:inherit;padding-top:0px;">
      
        <div class="row mt-3">
            <div class="col-sm-12">
                <ul class="tabs_style">
                    <li [ngClass]="activeTab == 'plant' ? 'active' : '' "   (click)=" activeTab = 'plant'; refreshPlant();">
                        Plant
                    </li>
                    <li [ngClass]="activeTab == 'vehicle' ? 'active' : '' " (click)=" activeTab = 'vehicle';refreshVehicle(); ">
                        Vehicle
                    </li>
                </ul>
            </div>
        </div>

        <div class="row" *ngIf="activeTab=='plant'">
            <div class="col-sm-12" >
                <div class="col-sm-3">
                <label>Select Plant</label>
                    <auto-suggestion (onSelected)="selectplnt($event);" url="suggestion/getSites" display="name"
                    placeholder="Plant">
                    </auto-suggestion>
            </div>
            <div class="col-sm-4 mt-4">
                <label><input name="time12" [(ngModel)]="select" type="radio" [value]="0">Inclusive</label>
                <label><input name="time12" class="ml-3" type="radio" [(ngModel)]="select" [value]="1">Exclusive</label>
            </div>
            </div>
            <div class="col-sm-12 mt-3" *ngIf="plantStatus">

                <table class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Vehicle</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of vehicleIdRegnoPairs;let j= index">
                            <td>{{j+1}}</td>
                            <td><auto-suggestion (onSelected)="getVehicleForPlant($event,j)"
                                url="Suggestion/getFoVehicleList"
                                display="regno" placeholder="Vehicle" [preSelected]="item['vehicleId']>0? {'regno':item.regno} : {'regno':null}"></auto-suggestion></td>
                                <td>
                                <span><i class="fa fa-plus add" (click)="addMoreItems(i)" *ngIf="j == vehicleIdRegnoPairs.length-1" style="padding: 1px; color: green;"></i>
                                <i class="fa fa-minus minus" (click)="vehicleIdRegnoPairs.splice(j,1)" *ngIf="j !== 0" style="padding: 1px; color: red;"></i></span>
                                </td>
                        </tr>
                        
                    </tbody>
                </table>
                <div class="col-sm-2 offset-10 mt-2">
                    <button class="btn btn-primary" (click)="savePlantData()">submit</button>
                </div>
                </div>
        </div>
                <!-- ------------------------------------------------------------------------------------  -->
                
                <!-- Vehicle Constraints -->
                <div class="row" *ngIf="activeTab=='vehicle'">
            <div class="col-sm-12">
                    <div class="col-sm-3">
                    <label>Select Vehicle</label>
                    <auto-suggestion (onSelected)="selectVehicle($event)"
                    url="Suggestion/getFoVehicleList"
                    display="regno" placeholder="Vehicle" [preSelected]="null"></auto-suggestion>
                </div>
                <div class="col-sm-4 mt-4">
                    <label><input name="time1" [(ngModel)]="sltVehicle" type="radio" [value]="0">Inclusive</label>
                    <label><input name="time1" class="ml-3" type="radio" [(ngModel)]="sltVehicle" [value]="1">Exclusive</label>
                </div>
                </div>
                <div class="col-sm-12 mt-3" *ngIf="vehicleStatus">
    
                    <table class="table table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Plant</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of siteIdNamePairs;let j= index">
                                <td>{{j+1}}</td>
                                <td><auto-suggestion (onSelected)="selectPlantForVehicle($event,j);" url="suggestion/getSites" display="name"
                                    placeholder="Plant" [preSelected]="item['siteId']>0? {'name':item.siteName} : {'name':null}">
                                    </auto-suggestion></td>
                                    <td>
                                    <span><i class="fa fa-plus add" (click)="addItemsForVehicle(i)" *ngIf="j == siteIdNamePairs.length-1" style="padding: 1px; color: green;"></i>
                                    <i class="fa fa-minus minus" (click)="siteIdNamePairs.splice(j,1)" *ngIf="j !== 0" style="padding: 1px; color: red;"></i></span>
                                    </td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <div class="col-sm-2 offset-10 mt-2">
                        <button class="btn btn-primary" (click)="saveVehicleData()">submit</button>
                    </div>
                    </div> 
            </div>
    </nb-card-body>
  </nb-card>