<nb-card style="border:0px;">
  <nb-card-header>
    <div class="row">
      <div class="col-7">
        <h5>Driver Performance (Lite)</h5>
      </div>
      <div class="col-5">
        <div class="row">
          <!-- <div class="col-sm-3">
            <auto-suggestion (onSelected)="getvehicleData($event)" url="Vehicles/getVehicleListForFoid" display="regno"
              placeholder="Enter Vehicle Number" style="width:60%;" [preSelected]="{regno:vehicleNo }">
            </auto-suggestion>
          </div> -->
          <div class="col-sm-4">
            <input type="text" class="form-control" [value]="startDate | date: 'dd MMM yyyy'" name="date"
              placeholder="Start Date" (click)="getDate('start')" />
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" [value]="endDate | date: 'dd MMM yyyy'" name="date1"
              placeholder="End Date" (click)="getDate('end')" />
          </div>

          <div class="col-sm-4">
            <button class="btn btn-primary w-100 m-0" (click)="getDriverPerformance()">submit</button>
          </div>

        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="no-data alert alert-danger" role="alert" *ngIf="!click">
      Select StartDate & EndDate And Click Submit !
    </div>
    <div class="no-data alert alert-danger" role="alert" *ngIf="!driverPerformance.length && click">
      No Data Available !

    </div>

    <div>
      <smart-table *ngIf="driverPerformance.length" [data]="table.data" [settings]="table.settings"></smart-table>
    </div>

  </nb-card-body>
</nb-card>