<div class="">
    <div class="outer tripload-5" style="min-height: 145px;">
      <h6 style="text-align:center"><b class="charthead">Longest Loading Sites in Last 7 Days</b></h6>
      <p style="text-align: right; margin-top: -25px;" class="link"
        (click)="getDetials('Tmgreport/GetLongestLoadindSites',{totalrecord: 3,stepno: -1},7,'days')"><i
          title="More Details" class="fa fa-list"></i>
      </p>
      <table class="table">
        <thead class="thead">
          <th>Site Name</th>
          <th>Avg. Loading Time (Hrs)</th>

        </thead>
        <tbody class="tbody">
          <tr *ngFor="let lls of longestLoadindSites">
            <td class="link"
            (click)="getDetials('Tmgreport/GetLongestLoadindSites',{totalrecord: 3,stepno: 1,isfo: lls['Site Name']},7,'days')">{{lls['Site Name']}}</td>
            <td>{{lls['Avg Loading Time(in Hrs)']}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>