<nb-card style="border: 0px;">
  <nb-card-header>
    <div class="row">
      <div class="col-2">
        <h5 class="mt-1">VSC Diagnosis</h5>
      </div>

      <div class="col-2">
        <button class="btn btn-primary " (click)="ShowData()">M1 M2</button>

      </div>
      <div class="col-3">
        <button class="btn btn-primary " (click)="autoReview()">Auto Review Scheduled </button>

      </div>
      <div class="col-3">
        <button class="btn btn-primary" (click)="removeSandwitchHalts()">Remove Sandwitch Halts</button>
      </div>

      <div class="col-2">
        <button class="btn btn-primary" (click)="getfoSiteDetails()">Fo Site Count</button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-3">
        <input type="text" class="form-control" [value]="startDate | date : 'dd MMM yyyy'" name="date"
          placeholder="Start Date" (click)="getDate('start')">
      </div>
      <div class="col-sm-3" style="margin-left:10px">
        <input type="text" class="form-control" [value]="endDate | date : 'dd MMM yyyy'" name="date1"
          placeholder="End Date" (click)="getDate('end')">
      </div>
      <div class="col-sm-3">
        <button class="btn btn-primary primay_btn" (click)="getSiteRule()">getSiteRule</button>
      </div>



      <!-- <i class="fas fa-sync-alt" style="cursor:pointer" (click)="ShowData()"></i> -->


    </div>
    <div style="margin-top:10px">
      <div>
        <smart-table *ngIf="siteRule && siteRule.length" [data]="table.data" [settings]="table.settings"></smart-table>
      </div>
      <div class="no-data alert alert-danger" role="alert" *ngIf="siteRule==null">
        No Data available !
      </div>

    </div>
  </nb-card-body>
</nb-card>