<nb-card>
  <nb-card-header>
    <h2> Vehicle Documents Summary</h2>
    <hr>
  </nb-card-header>
  <nb-card-body style="min-height: 360px;">
    <div class="container">

      <div class="table">
        <table class="table table-bordered table-hover ">
          <thead class="thead">
            <tr>
              <th>Sr No.</th>
              <th>Document Type</th>
              <th>Normal</th>
              <th>No Entry Till Date</th>
              <th>Image Missing</th>
              <th>Expiry In 30 days</th>
              <th>Already Expired</th>
              <!-- <th>Total</th> -->
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let doc of documentData;  let i = index;">
              <th scope="row">{{i + 1}}</th>
              <td>{{doc.name}}</td>
              <td (click)="openData(doc,'normal')" style="cursor: pointer;" [ngClass]=" doc.normal > 0 ? 'blue': 'black'">{{doc.normal}}</td>
              <td (click)="openData(doc,'noentrytilldate')" style="cursor: pointer;" [ngClass]=" doc.noentrytilldate > 0 ? 'blue': 'black'">{{doc.noentrytilldate}}</td>
              <td (click)="openData(doc,'imagemissing')" style="cursor: pointer;" [ngClass]=" doc.imagemissing > 0 ? 'blue': 'black'">{{doc.imagemissing}}</td>
              <td (click)="openData(doc,'expiringin30days')" style="cursor: pointer;" [ngClass]=" doc.expiringin30days > 0 ? 'blue': 'black'">{{doc.expiringin30days}}</td>
              <td (click)="openData(doc,'alreadyexpired')" style="cursor: pointer;" [ngClass]=" doc.alreadyexpired > 0 ? 'blue': 'black'">{{doc.alreadyexpired}}</td>
              <!-- <td>{{doc.total}}</td> -->
            </tr>
            <tr>
              <td *ngIf="documentData"></td>
              <td>Total</td>
              <td (click)="totalData('normal')" [ngClass]="'normal' > 0 ? 'blue': 'black'">{{getSum('normal')}}</td>
              <td>{{getSum('noentrytilldate')}}</td>
              <td>{{getSum('imagemissing')}}</td>
              <td>{{getSum('expiringin30days')}}</td>
              <td>{{getSum('alreadyexpired')}}</td>
              <!-- <td>{{getSum('total')}}</td> -->
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </nb-card-body>
</nb-card>