.row{
    margin-top: 4px;
}
label{
    font-size: 14px;
    padding-top: 10px;
    font-weight: 600;
}
.dropdown{
    position: relative;

}
select{
    height: 35px !important;

}
.modal-body{
    padding-top: 0px;
    
}
.agent{
    width: 90%;
}
.suggestions ng-star-inserted{
    overflow: auto !important;
    max-height: 150px !important;
}
auto-suggestion{
    overflow: auto !important;
    max-height: 150px !important;
}
.documentType{
    overflow: auto !important;
    max-height: 150px !important;
}
.calender{
    font-size: 25px !important;
    margin-left: -3% !important;
}
textarea{
    height: 40px;
}
.error{
    padding-left: 79%;
    font-size: 14px;
    margin-top: -6%;
}