<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #documentForm="ngForm" id="document-form" name="document-form" (submit)="documentForm.valid && addDocument()">

    <div class="row" *ngIf="vehicle">
      <div class="col-md-4">
        <label> Vehicle Number </label>
      </div>
      <div class="col-md-8">
        <label style="font-size:16px;">{{vehicle.regno}}</label>
        <!-- <input id="vehicle-regno" name="vehicle-regno" type="text" class="form-control" [(ngModel)]="vehicle.regno"
          readonly> -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label>Document Type <span class="mandatory">*</span></label>
      </div>
      <div class="col-md-8">
        <!-- <input type="text" class="form-control document_type"
        [(ngModel)]="document.type.id" list="document_type_id"
          id="docid" name="docid" #documentType="ngModel">
        <datalist id="document_type_id">       
          <option *ngFor="let docType of docTypes;" id="id" name="id" [hidden]="docType.id" class="form-control" >{{docType.document_type}}
            <input type="hidden" [value]="docType.id" id="id" name="id">
          </option>
        </datalist>
        <div *ngIf="isFormSubmit && documentType.errors" class="error">
          <span [hidden]="!documentType.errors.required">Document type is mandatory</span>
        </div>  -->
        <auto-suggestion *ngIf="docTypes.length" (onSelected)="selectDocType($event)" url="" display="document_type"
          placeholder="Enter doctype" [data]="docTypes"   [preSelected]="null" class="documentType" required></auto-suggestion>
        <div class="suggestions ng-star-inserted">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label>Issue Date</label>
      </div>
      <div class="col-md-8">
        <input id="issue-date" name="issue-date" type="date" placeholder="DD-MM-YYYY" autocomplete="off"
          class="form-control" [(ngModel)]="document.dates.issue" (onSelected)="setDate('issue')" />
      </div>
      <!-- <div class="col-md-1 calender">
        <i class="icon fa fa-calendar" (click)="getDate('issue')"></i>
      </div> -->
    </div>

    <div class="row">
      <div class="col-md-4">
        <label>Wef Date</label>
      </div>
      <div class="col-md-8">
        <input id="wef-date" name="wef-date" type="date" placeholder="DD-MM-YYYY" autocomplete="off"
          class="form-control" [(ngModel)]="document.dates.wef" (onSelected)="setDate('wef')">
      </div>
      <!-- <div class="col-md-1 calender">
        <i class="icon fa fa-calendar" (click)="getDate('wef')"></i>
      </div> -->
    </div>
    <div class="row">
      <div class="col-md-4">
        <label>Expiry Date</label>
      </div>
      <div class="col-md-8">
        <input id="expiry-date" name="expiry-date" type="date" placeholder="DD-MM-YYYY" autocomplete="off"
          class="form-control" [(ngModel)]="document.dates.expiry" (onSelected)="setDate('expiry')">
      </div>
      <!-- <div class="col-md-1 calender">
        <i class="icon fa fa-calendar" (click)="getDate('expiry')"></i>
      </div> -->
    </div>
    <div class="row" style="margin-top:4px">
      <div class="col-md-2">
        <label>Agent</label>
      </div>
      <div class="col-md-5 offset-md-2">
        <select [(ngModel)]="document.agent.id" name="agent" class="form-control agent">
          <option *ngFor="let agent of agents;" [value]="agent.id" class="form-control">{{agent.name}}
          </option>
        </select>
      </div>
      <div class="col-md-5 offset-md-8" style="margin-top: -8%;">
        <button class="btn btn-default" type="button" (click)="addAgent()">Add Agent</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ">
        <label>Document Number</label>
      </div>
      <div class="col-md-8">
        <input id="document-id" name="document-id" type="text" placeholder="Document Number" autocomplete="off"
          class="form-control" [(ngModel)]="document.number" maxlength="25">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label>Document Upload </label>
      </div>
      <div class="col-md-8 ">
        <input type="file" name="myfile" [(ngModel)]="document.image" #upload="ngModel" required id="filePicker"
          (change)="handleFileSelection($event)" />
      </div>
      <div *ngIf="isFormSubmit && upload.errors" class="error">
        <span [hidden]="!upload.errors.required">Select Image</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label>Amount </label>
      </div>
      <div class="col-md-8">
        <input type="text" name="amount" #amount="ngModel" class="form-control" [(ngModel)]="document.amount" maxlength="8" placeholder="Enter Amount">
          <!-- <h1 ng-if="!document-form.amount.$valid">The value is too long</h1> -->
    </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label>RTO </label>
  </div>
  <div class="col-md-8">
    <input type="text" name="rto" class="form-control" [(ngModel)]="document.rto" placeholder="Enter Rto">
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label>Remark </label>
  </div>
  <div class="col-md-8">
    <textarea name="remark" class="form-control" [(ngModel)]="document.remark" placeholder="remark"></textarea>
  </div>
</div>
</form>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col">
      <button class="btn btn-danger" type="button" (click)="closeModal(false)" id="cancel"
        style="cursor: pointer;">{{btn2}}</button>
    </div>
    <div class="col text-right">
      <button class="btn btn-primary" form="document-form" type="submit" (click)="isFormSubmit =true" id="submit"
        style="cursor: pointer;">{{btn1}}</button>
    </div>
  </div>
</div>