<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">{{title}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #documentForm="ngForm" id="document-form" name="document-form" (submit)="documentForm.valid && addDocument()">

    <div class="row" *ngIf="vehicle">
      <div class="col-md-4">
        <label> Vehicle Number </label>
      </div>
      <div class="col-md-8">
        <span>{{vehicle.regno}}</span>
      </div>
    </div>

    <div class="row" *ngIf="updateimage==1">
      <div class="col-md-4">
        <label> Vehicle Number </label>
      </div>
      <div class="col-md-8">
        <label style="font-size:16px;">{{regno}}</label>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label>Document Type </label>
      </div>
      <div class="col-md-8" *ngIf="updateimage==1">
        <label style="font-size:16px;">{{docType}}</label>
      </div>

      <div class="col-md-4" *ngIf="docTypes.length && ignore != 1">
        <auto-suggestion (onSelected)="selectDocType($event)" url="" display="document_type" placeholder="Enter doctype"
          [data]="docTypes" [preSelected]="null" class="documentType" required>
        </auto-suggestion>
        <div class="suggestions ng-star-inserted">
        </div>
      </div>

      <div class="col-md-4" *ngIf="ignore==1">
        <auto-suggestion (onSelected)="selectDocType($event)" url="" display="document_type" placeholder="Enter doctype"
          [data]="docTypes" [preSelected]="{document_type:docType}" class="documentType" required>
        </auto-suggestion>
        <div class="suggestions ng-star-inserted">
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-4">
        <label>Document Upload </label>
        <button type="button" class="btn btn-dark bg-dark text-white" *ngIf="this.docTypeid || this.document.type.id "
          name="ignore" id="ignore" (click)="ignoreDoc()" style="margin-top: 50px; text-transform: capitalize;">Ignore
          Document</button>
      </div>
      <div class="col-md-8 upload_img_btn ">
        <input type="file" name="myfile1" id="filePicker1" (change)="handleFileSelection($event,1)" />
        <input type="file" name="myfile2" id="filePicker2" (change)="handleFileSelection($event,2)" />
        <input type="file" name="myfile3" id="filePicker3" (change)="handleFileSelection($event,3)" />
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col">
      <button class="btn btn-danger" type="button" (click)="closeModal(false)" id="cancel"
        style="cursor: pointer;">{{btn2}}</button>
    </div>
    <div class="col text-right">
      <button class="btn btn-primary" form="document-form" type="submit" (click)="isFormSubmit =true" id="submit"
        style="cursor: pointer;">{{btn1}}</button>
    </div>
  </div>
</div>