<nb-card>
  <nb-card-header>
    <h4>Ledger View</h4>
  </nb-card-header>
    <nb-card-body style="min-height: 450px;" (keydown)="keyHandler($event)">
        <div class="row">
            <div class="col-9">
      <div class="row">
  <div class="col">
    <div class="form-group">
      <label>Branch</label>
      <auto-suggestion (onSelected)="onSelected($event, 'branch', 'name')" url="Suggestion/GetBranchList" display="name"
        placeholder="Enter Branch"  [data]="branchdata" inputId="branch" [preSelected]="{name:'All'}"></auto-suggestion>
    </div>
  </div>
  <div class="col">
      <div class="form-group">
        <label>Voucher Type</label>
        <auto-suggestion (onSelected)="onSelected($event, 'voucherType', 'name')" url="Suggestion/GetVouchertypeList" display="name"
          placeholder="Enter Voucher Type" [data]="vouchertypedata" inputId="vouchertype" [preSelected]="{name:'All'}"></auto-suggestion>
      </div>
    </div>
    <div class="col">
        <div class="form-group">
          <label>Ledger</label>
          <auto-suggestion (onSelected)="onSelected($event, 'ledger', 'name')" url="Suggestion/GetReportLedger" display="name"
            placeholder="Enter Ledger" inputId="ledger" [preSelected]="{name:'All'}"></auto-suggestion>
        </div>
      </div>
      </div>
      <div class="row">
      <div class="col">
          <div class="form-group">
              <label>Starting Date</label>
              <input type="text" style="cursor: pointer;" class="form-control" id="startdate" autocomplete="off" maxlength="10" name="account-startDate" [(ngModel)]="ledger.startDate">
          </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>End Date</label>
                <input type="text" style="cursor: pointer;" class="form-control" id="enddate" autocomplete="off" maxlength="10" name="account-endDate" [(ngModel)]="ledger.endDate">
            </div>
          </div>
  <div class="col">
    <div class="form-group">
      <button class="btn btn-primary" type="button" outline (click)="getLedgerView()" id="submit"
        style="cursor: pointer;margin-top: 18px;">Submit</button>
    </div>
  </div>
</div>
</div>
</div>
<div class="col-3">
    <div class="form-group">
        <!-- <div *ngFor="let suggestion of getSuggestions(); let i = index;" class="ledger-option"
        [ngClass]="suggestionIndex == i ? 'active-ledger' : ''" (click)='selectSuggestion(suggestion)'>
        <span>{{suggestion.name}}</span>
      </div> -->
        
    
    </div>
</div>
<table class="table table-bordered">
    <thead style="background-color:#09587a;">
  <tr>
    <th>#</th>
    <th>Date</th>
    <th>Code</th>
    <th>Customer Code</th>
    <th>Ledger</th>
    <th>Amount(Debit)</th>
    <th>Amount(Credit)</th>
  </tr>
  </thead>
  <tr *ngFor="let dataItem of ledgerData; let i = index;">
    <td>{{i + 1}}</td>
    <td>{{dataItem.y_date | date : 'dd MMM yyyy'}}</td>
    <td>{{dataItem.y_code}}</td>
    <td>{{dataItem.y_cust_code}}</td>
    <td>{{dataItem.y_ledger}}</td>
    <td *ngIf="dataItem.y_cramunt != 0" >{{dataItem.y_dramunt}}</td>
    <td *ngIf="dataItem.y_cramunt == 0" ></td>
    <td *ngIf="dataItem.y_cramunt != 0" >{{dataItem.y_cramunt}}</td>
    <td *ngIf="dataItem.y_cramunt ==0" ></td>
  </tr>
</table>
</nb-card-body>
</nb-card>