<nb-card style="margin: 0px; border:0px; padding-top: 0px;height: 72vh;">
  <!-- <nb-card-header>
    <h4>Invoice</h4>
  </nb-card-header> -->
  <nb-card-body (keydown)="keyHandler($event)" style="padding: 0px;">
    <div class="modal-header mb-3">
      <h5 class="modal-title" id="modal-basic-title">{{ storeRequestName}}</h5>
      <button type="button" class="close" aria- label="Close" (click)="modelCondition()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body row m-0 p-0 mb-4">
      <div class="col-9">
        <!-- <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label class="ref-label">Request Type</label>
              <input autocomplete="off" type="text" class="form-control ref-input" id="requesttype" name="requesttype" [(ngModel)]="storeQuestion.requesttype.name"
                required>
            </div>
          </div>
        </div> -->
        <div class="row">
          <!-- <div class="col">
              <div class="form-group">
                <label class="ref-label">From Branch</label>
                <input autocomplete="off" type="text" class="form-control ref-input" id="frombranch" name="frombranch" [(ngModel)]="storeQuestion.frombranch.name"
                  require>
              </div>
            </div> -->
          <!-- <div class="col">
            <div class="form-group">
              <label class="ref-label">Code</label>
              <input autocomplete="off" type="text" class="form-control ref-input" name="code" id="code"
                [(ngModel)]="storeQuestion.code" placeholder="Code" [readonly]="storeRequestStockId == -3">
            </div>
          </div> -->
          <div class="col-4" *ngIf="storeRequestStockId == -3">
            <div class="form-group">
              <label class="ref-label">Ref. No</label>
              <input autocomplete="off" type="text" class="form-control ref-input" name="custcode" id="custcode"
                [(ngModel)]="storeQuestion.custcode" placeholder="Cust Code" [readonly]="storeRequestStockId == -3">
            </div>
          </div>
          <div class="col-4" *ngIf="storeRequestStockId != -101">
            <div class="form-group">
              <label class="ref-label" *ngIf="storeRequestStockId != -3">To Branch</label>
              <label class="ref-label" *ngIf="storeRequestStockId == -3">From Branch</label>
              <input autocomplete="off" type="text" class="form-control  ref-input" id="tobranch" name="tobranch"
                placeholder="Please Select Branch" [(ngModel)]="storeQuestion.tobranch.name"
                [readonly]="storeRequestStockId == -3" (input)="allowBackspace = false;">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label class="ref-label" *ngIf="storeRequestStockId != -1">Request Date</label>
              <label class="ref-label" *ngIf="storeRequestStockId == -1">Transfer Date</label>
              <input autocomplete="off" type="text" style="cursor: pointer;" class="form-control ref-input"
                autocomplete="off" id="requestdate" name="requestdate" [(ngModel)]="storeQuestion.requestdate"
                maxlength="10" (click)="lastActiveId = 'requestdate'; allowBackspace = false;"
                [readonly]="storeRequestStockId == -3" (input)="allowBackspace = false;">
            </div>
          </div>
          <div class="col-4" *ngIf="storeRequestStockId == -3">
            <div class="form-group">
              <label class="ref-label">Issue Date</label>
              <input autocomplete="off" type="text" style="cursor: pointer;" class="form-control ref-input"
                autocomplete="off" id="issuedate" name="issuedate" [(ngModel)]="storeQuestion.issuedate" maxlength="10"
                (click)="lastActiveId = 'issuedate'; allowBackspace = false;" (input)="allowBackspace = false;">
            </div>
          </div>

        </div>
      </div>


      <div class="col-3" id="ledger-container">
        <auto-suggetion-in-side [data]="autoSuggestion.data" [targetId]="autoSuggestion.targetId"
          [display]="autoSuggestion.display" (select)="onSelect($event, autoSuggestion.targetId)">
        </auto-suggetion-in-side>
      </div>
    </div>
    <table class="invoice_tabel table table-bordered">
      <thead style="background-color: #263238; color:#fff;">
        <tr *ngIf="storeRequestStockId != -1">

          <th>Warehouse</th>
          <th>Stock Item</th>
          <th>Unit</th>
          <th>Qty</th>
          <th *ngIf="storeRequestStockId != -101" >remarks</th>
          <th *ngIf="storeRequestStockId == -101" >Amount</th>
          <th *ngIf="storeRequestStockId == -3">Issue Warehouse</th>
          <th *ngIf="storeRequestStockId == -3">Issue Qty</th>
          <th *ngIf="storeRequestStockId == -3">Issue Rate</th>
          <th *ngIf="storeRequestStockId == -3">Issue Amount</th>
          <th *ngIf="storeRequestStockId == -3">Issue remarks</th>
          <th *ngIf="i !== 0 && storeQuestion.id == 0"></th>
        </tr>
        <tr *ngIf="storeRequestStockId == -1">

          <th>From Warehouse</th>
          <th>Transfer Warehouse</th>
          <th>Stock Item</th>
          <th>Unit</th>
          <th>Qty</th>
          <th>Rate</th>
          <th>Amount</th>
          <th>remarks</th>
          <th *ngIf="i !== 0 && storeQuestion.id == 0"></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let detail of storeQuestion.details; let i = index;">
          <td>
            <input type="text" [id]="'warehouse-' + i" class="form-control ref-input" autocomplete="off"
              [name]="'warehouse-' + i" [(ngModel)]="detail.warehouse.name" placeholder="Please Select Warehouse"
              [readonly]="storeRequestStockId == -3">
          </td>
          <td *ngIf="storeRequestStockId == -1">
            <input type="text" [id]="'issuewarehouse-' + i" class="form-control ref-input"
              [name]="'issuewarehouse-' + i" autocomplete="off" [(ngModel)]="detail.issuewarehouse.name"
              placeholder="Please Select Issue Warehouse">
          </td>
          <td>
            <input type="text" [id]="'stockitem-' + i" class="form-control ref-input"
              placeholder="Please Select Stock Item" autocomplete="off" name="'stockitem-' + i"
              [(ngModel)]="detail.stockitem.name" required [readonly]="storeRequestStockId == -3">
          
          </td>
          <td>
            <input type="text" [id]="'stockunit-' + i" class="form-control ref-input"
              placeholder="Please Select Stock Unit" autocomplete="off" name="account-stockunit"
              placeholder="Enter Stock Unit" [(ngModel)]="detail.stockunit.name" readonly>
          </td>
          <td *ngIf="storeRequestStockId == -1">
            <input type="number" class="form-control ref-input" autocomplete="off" name="issueqty"
              (focus)="getStockAvailability()" [id]="'issueqty-' + i"
              (input)="detail.issueamount = detail.issueqty * detail.issuerate;" [(ngModel)]="detail.issueqty"
              placeholder="Please Enter Issue Quantity">
              <span *ngIf="(storeRequestStockId == -1 || storeRequestStockId == -3)">(<i>Available
                  Stock Qty is </i>{{ this.totalitem }})</span>
          </td>
          <td *ngIf="storeRequestStockId != -1">
            <input type="number" class="form-control ref-input" autocomplete="off" name="qty" [id]="'qty-' + i"
              [(ngModel)]="detail.qty" placeholder="Please Enter Quantity" [readonly]="storeRequestStockId == -3">
          </td>
          <!-- <td *ngIf="storeRequestStockId != -101">
            <input type="text" class="form-control ref-input" autocomplete="off" placeholder="Please Enter Remarks"
              name="remarks" [id]="'remarks-' + i" [(ngModel)]="detail.remarks" [readonly]="storeRequestStockId == -3">
          </td> -->
          

          <td *ngIf="storeRequestStockId == -3">
              <input type="text" [id]="'issuewarehouse-' + i" class="form-control ref-input"
                [name]="'issuewarehouse-' + i" autocomplete="off" [(ngModel)]="detail.issuewarehouse.name"
                placeholder="Please Select Issue Warehouse">
          </td>

          <td *ngIf="storeRequestStockId == -3">
            <input type="number" class="form-control ref-input" autocomplete="off" name="issueqty"
              (focus)="getStockAvailability()" [id]="'issueqty-' + i"
              (input)="detail.issueamount = detail.issueqty * detail.issuerate;" [(ngModel)]="detail.issueqty"
              placeholder="Please Enter Issue Quantity">
          </td>


         


          <td *ngIf="storeRequestStockId == -3 || storeRequestStockId == -1 ">
            <input type="number" class="form-control ref-input" autocomplete="off" placeholder="Please Enter Issue Rate"
              name="issuerate" [id]="'issuerate-' + i"
              (input)="detail.issueamount = detail.issueqty * detail.issuerate;" [(ngModel)]="detail.issuerate">
          </td>
          <td *ngIf="storeRequestStockId == -3 || storeRequestStockId == -1 || storeRequestStockId == -101">
            <input type="number" class="form-control ref-input" autocomplete="off" name="issueamount"
              placeholder="Please Enter Amount" [id]="'issueamount-' + i" [(ngModel)]="detail.issueamount" (readonly)="storeRequestStockId == -3 || storeRequestStockId == -1" >
          </td>
          <td *ngIf="storeRequestStockId == -1">
            <input type="text" class="form-control ref-input" autocomplete="off" placeholder="Please Enter Remarks"
              name="remarks" [id]="'remarks-' + i" [(ngModel)]="detail.remarks" [readonly]="storeRequestStockId == -3">
          </td>
          <td *ngIf="storeRequestStockId == -3">
            <input type="text" class="form-control ref-input" autocomplete="off" name="issueremarks"
              [id]="'issueremarks-' + i" [(ngModel)]="detail.issueremarks">
          </td>
          <td *ngIf="i == 0 && storeQuestion.id == 0">
            <button class="plustransparent btn btn-dark" id="plustransparent" (click)="addAmountDetails()"><i
                class="fa fa-plus"></i></button></td>
          <td *ngIf="i !== 0 && storeQuestion.id == 0">
            <button (click)="storeQuestion.details.splice(i,1)" class="btn btn-danger"><i
                class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>


    <div class="modal-footer">
      <div class="row">
          <div class="col" *ngIf="(approveId == 1)">
              <button class="btn btn-primary mr-2" type="button" outline (click)="approveDeleteFunction(0, 'true',storeQuestion.id)" id="permanentdelete"
                style="cursor: pointer;">Approve</button>
            </div>
          <span *ngIf="mannual && (approveId == 0)">
              <input type="checkbox" name="mannual" id="mannual"  [(ngModel)]="storeQuestion.approved"> Is Mannual Approval
            </span>
            
          <div class="col" *ngIf="(storeQuestion.id !=0)">
              <button class="btn btn-danger" type="button" outline (click)="approveDeleteFunction(1, 'true',storeQuestion.id)" id="cancel"
                style="cursor: pointer;">Delete</button>
            </div>
        <div class="col text-right"
          *ngIf="((storeRequestStockId == -3 && pendingid == 1)|| (storeRequestStockId == -1) || (storeRequestStockId == -2) || (storeRequestStockId == -101))">
          <button class="btn btn-primary" type="button" outline (click)="dismiss(true)" id="submit"
            style="cursor: pointer;">Submit
          </button>
        </div>
        <div class="col">
          <button class="btn btn-danger" type="button" outline (click)="modelCondition()" id="cancel"
            style="cursor: pointer;">Cancel</button>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>


<div class="date-modal" *ngIf="showConfirm" (keydown)="keyHandler($event)">
  <div class="date-modal-body data_model_save">
    <div>
      <p>Are you want to save then Press Enter otherwise Add More Store Requestion y </p>
      <button (click)="dismiss(true)">Yes</button> <span>&nbsp;&nbsp;&nbsp;</span> <button
        (click)="modelCondition()">No</button>
    </div>
  </div>
</div>