<nb-card>
  <nb-card-header>
    User Prefernces
  </nb-card-header>

  <nb-card-body style="min-height: 360px;">
    <div class="row">
      <div class="col-3">
        <label>Title</label>
        <input type="text" class="form-control" id="title" name="title" [(ngModel)]="newPage.title">

      </div>
      <div class="col-3">
        <label>Url</label>
        <input type="text" class="form-control" id="url" name="url" [(ngModel)]="newPage.url">

      </div>
      <div class="col-3">
        <label>Type</label>
        <select [(ngModel)]="newPage.type" class="form-control">
          <option value="Dashboard">Dashboard</option>
          <option value="App">App</option>

        </select>
      </div>
      <div class="col-3 mt-4">
        <button type="submit" class="btn btn-primary m-0" name="add" (click)="createNewPage()">Add New Page</button>
      </div>

    </div>

    <div class="search mt-2">
      <label> Select Employee Name</label>
      <auto-suggestion (onSelected)="getUserPages($event)" url="UserRoles/getActiveAdminUsers" display="employeename"
        placeholder="Employee" [preSelected]="null"></auto-suggestion>
    </div>
    <div class="container">
      <div *ngFor="let section of sections; let j = index;">
        <div><input type="checkbox" [name]="'section-' + j" [(ngModel)]="section.isSelected"
            (change)="checkOrUnCheckAll(j)"> {{section.title | uppercase}}</div>
        <div class="row">
          <div class="col-3" *ngFor="let page of pagesGroups[section.title]; let i = index;">
            <input type="checkbox" [name]="section + '-page-' + i" [id]="section + '-page-' + i"
              [(ngModel)]="page.isSelected"> {{page.title}}
          </div>
        </div>
      </div>
      <p *ngIf="selectedUser.details">
        <button class="btn btn-secondary" (click)="updatePreferences()">Save</button>
      </p>
    </div>

  </nb-card-body>
</nb-card>