<nb-card>
    <nb-card-header>
       <h2>Drivers Input</h2>
     </nb-card-header> 
 
   <nb-card-body>
     <form role="form">
       <div class="container">
         <div class="row">
           <div class="col-3">
             <label>Name</label>
           </div>
           <div class="col-3">
             <input type="text" class="form-control" id="name" name="name" placeholder="Driver Name" [(ngModel)]="driver.name">
           </div>
 
 
           <div class="col-3">
             <label>Contact Number</label>
           </div>
           <div class="col-3">
             <!-- <input type="text" class="form-control" id="Name"> -->
             <input type="text" class="form-control" id="contact-number" name="contact-number" placeholder="Contact NO." [(ngModel)]="driver.mobileno"required>
           </div>
 
         </div>
         <div class="row margin-top-15">
           <div class="col-3">
             <label>Upload photo</label>
           </div>
           <div class="col-3">
             <input type="file" class="file-control" id="upload-photo"  name="upload-photo" [(ngModel)]="driver.photo">
           </div>
 
 
 
           <div class="col-3">
 
 
             <label>License Number</label>
           </div>
           <div class="col-3">
             <input type="text" class="form-control" id="license-number" name="lisence-no." placeholder="Lisence No." [(ngModel)]="driver.lisenceno">
           </div>
         </div>
 
 
         <div class="row margin-top-15">
           <div class="col-3">
             <label>License photo</label>
           </div>
           <div class="col-3">
             <input type="file" class="file-control" id="license-photo" name="licence-Photo" [(ngModel)]="driver.lisencephoto">
           </div>
 
           <div class="col-3">
 
 
             <label>Aadhar Number</label>
           </div>
           <div class="col-3">
             <input type="text" class="form-control" id="Aadhar-number" name="Aadhar-no." placeholder="Adhar No." [(ngModel)]="driver.aadharno">
           </div>
         </div>
 
 
         <div class="row margin-top-15">
           <div class="col-3">
 
 
             <label>Aadhar photo</label>
           </div>
           <div class="col-3">
             <input type="file" class="file-control" id="adhar-photo" name="adhar-photo" [(ngModel)]="driver.aadharphoto">
           </div>
 
 
           <div class="col-3">
 
 
             <label>Date of Joining</label>
           </div>
           <div class="col-3">
               <input type="text" style="cursor: pointer;" class="form-control" autocomplete="off" (click)="getDate()" placeholder="Select Date"
               [value]="driver.doj | date: 'dd MMM yyyy'" name="date" readonly >
           </div>
         </div>
 
 
         <div class="row margin-top-15">
           <div class="col-3">
             <label>Salary</label>
           </div>
           <div class="col-3">
             <input type="text" class="form-control" id="Salary" name="salary" placeholder="Salary" [(ngModel)]="driver.salary">
           </div>
 
 
           <div class="col-3">
             <label>Gauranter</label>
           </div>
           <div class="col-3">
             <input type="text" class="form-control" id="Gauranter" name="guranter" placeholder="guarenter" [(ngModel)]="driver.guranter">
           </div>
         </div>
       
       <div class="row margin-top-15">
         <div class="col-3">
          <label>Guranter Mobile No.</label> 
         </div>
         <div class="col-3">
           <input type="text" class="form-control" id="guranter-no." placeholder="Guranter mobile No." [(ngModel)]="driver.gurantermobileno">
         </div>
       </div>
       </div>
       <div class="col-md-12 text-center margin-top-15">
       <button type="submit" class="btn btn-primary">ADD</button>
       </div>
     </form>
   </nb-card-body>
 </nb-card>