// .form-control
// {
//     margin-left: 40% !important;
//     margin-top: -18% !important;
//     position: relative;
// }
// auto-suggestion{
//     margin-left: 40% !important;
//     margin-top: -18% !important;
//     position: relative;   
// }
// label{
//     margin-left: 17%;
//     font-size: 16px;
// }
// .suggestion-containerbox{
//     padding-left: 30% !important;
//     margin-top: -13% !important;
// }
.add_leader_account .form-group{
    width: 100%;
}
.add_leader_account{
  width: 100%;
  height: 72vh;
  overflow: auto;
}
@media (min-width: 992px){
    .modal-lg {
        max-width: 1200px !important;
    }
  }
  .modal-lg {
    max-width: 1200px !important;
  }

  .plustransparent{
    background-color: transparent;
    border:0px;
}


.date-modal{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 999999;
  top: 0;
  left: 0;
}
.date-modal-body{
  background: #fff;
  width: 152px;
  margin: 15% auto auto auto;
}
.data_model_save{
  padding: 20px;
  text-align: center;
  width: auto;
  max-width: 250px;
}
.data_model_save button{
  border: none;
  padding: 10px 20px;
  color: #fff;
  border-radius: 3px;
}
button { background-color: #73a1ff;
}

.invoice_tabel{
  // thead{
  //   tr {
  //     th{
  //       padding: 5px 10px;
  //       border: 1px solid #d8d8d8;
  //       font-weight: normal;
  //     }
  //   }
  // }
  tbody{
    tr {
      td{
        padding: 5px 10px;
        border: 1px solid #d8d8d8;
        td:first-child{
          width: 50px;
         }
         
        .btn-taxdet{
          padding: 10px;
          border-radius: 5px;
          text-transform: capitalize;
          font-size: 12px;
        }
        .btn-plus{
          padding: 8px 10px;
          border-radius: 5px;
          font-size: 14px;
          background-color: transparent;
          outline: none;
          box-shadow: none;
          width: 100px;
          margin-top: 10px;
          i{
            font-size: inherit !important;
            color: #263238 !important;
          }
        }
        .btn-danger{
          padding: 6px 8px;
          border-radius: 5px;
          font-size: 14px;
          background-color: transparent;
          outline: none;
          box-shadow: none;
          width: 100px;
          margin-top: 10px;
          i{
            font-size: inherit !important;
            color: #d61414 !important;
          }
        }
      }
    }
      scroll-behavior: auto;
  }
}
.modal-footer{
  button{
    border-radius: 5px;
  }
}
.close{
  background-color: #ccc;
  font-size: 26px;
  padding: 10px 15px;
}
.modal-header{
  padding: 10px 15px;
  background-color: #263238;
}
.modal-header h5{
  color: #fff;
}
.close{
  background: transparent;
  color: #fff !important;
  opacity: 1;
  padding: 10px 20px;
  margin: -10px -1rem -1rem auto;
  outline: none;
}
.modal-body label{
  background: #263238;
  color: #fff;
  padding: 5px 8px;
  display: block;
  margin: 0;
  border-radius: 3px 3px 0px 0px;
  font-size: 12px;
  min-width: 80px !important;
  font-weight: normal;
}
.modal-body input{
  border: 1px solid #263238 !important;
  border-radius: 0px 2px 2px 2px;
  padding: 3px 5px !important;
  height: auto;
  font-size: 12px;
}
.modal-footer{
  padding: 10px 15px;
  button{
    padding: 5px 12px;
    text-transform: capitalize;
  }
  .btn-danger{
    background-color: #d61414;
  }
  .btn-primary{
    background-color: #263238;
  }
}
.checktype{
  margin: 0px;
  float: left;
  width: 24px;
  height: 24px !important;
}
input[type=radio]{
  width: auto;
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  margin-left: 5px;
  border: 0px !important;
}
.debit_box,
.true_false{
  border: 1px solid #000;
  padding: 3px;
  text-align: left;
}
.debit,
.true{
  display: inline-block;
}
.credit{
  display: inline-block;
  margin-left: 30px;
}
.false{
  display: inline-block;
  margin-left: 10px;
}