<nb-card style="margin:0px; border:0px;">
  <nb-card-body (keydown)="keyHandler($event)" style="padding:0px;">
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">{{this.currentPage}}</h5>
      <button type="button" class="close" aria- label="Close" (click)="dismiss(false)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body add_leader_account">
      <div class="row">
        <div class="col-9">

          <div class="row">
            <div class="form-group">
              <div class="col-md-2 ">
                <label class="tjr-label">Name</label>
              </div>
              <div class="col-md-4">
                <input autocomplete="off" type="text" class="form-control tjr-input" name="account-name"
                  [(ngModel)]="Accounts.name" id="name" (input)="Accounts.aliasname=Accounts.name"
                   (keyup)="capitalizeFirstLetter(Accounts.name)" placeholder="Please Enter Name">
              </div>
              <div class="col-md-2">
                <label class="tjr-label">Alias Name</label>
              </div>
              <div class="col-md-4">
                <input autocomplete="off" type="text" class="form-control tjr-input" name="account-aliasname" id="aliasname"
                  [(ngModel)]="Accounts.aliasname" placeholder="Please Enter Alias Name">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-md-2">
                <label class="tjr-label">Under Group</label>
              </div>
              <div class="col-md-4">
                 <input autocomplete="off" type="text" class="form-control tjr-input" id="undergroup" name="y_name"
                  [(ngModel)]="Accounts.undergroup.name" (click)="lastActiveId = 'ledger-'; allowBackspace = false;"
                  (input)="allowBackspace = false;" placeholder="Please Select Under Group">
              </div>
              <div class="col-md-2">
                <label class="tjr-label">Credit Days</label>
              </div>
              <div class="col-md-4">
                <input type="number" class="form-control tjr-input" name="creditdays" ng-maxlength="3"
                  placeholder="Please Enter Credit Days" [(ngModel)]="Accounts.creditdays" id="creditdays">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-md-2">
                <label class="tjr-label">Opening Balance</label>
              </div>
              <div class="col-md-4">
                <input autocomplete="off" type="text" class="form-control tjr-input" placeholder="Please Enter Opening Balance"
                  name="openingbalance" [(ngModel)]="Accounts.openingbalance" id="openingbalance">
              </div>
              <div class="col-md-2">
                <label class="tjr-label">Opening Balance</label>
              </div>
              <div class="col-md-4">
                <div class="debit_box">
                  <div class="debit">
                    <span>Debit</span>
                    <input autocomplete="off" type="radio" class="form-control tjr-input" name="openingisdr" id="openingisdr"
                      [(ngModel)]="Accounts.openingisdr" [value]=1>
                  </div>
                  <div class="credit">
                    <span>Credit</span>
                    <input autocomplete="off" type="radio" class="form-control tjr-input" name="openingisdr" id="openingiscr"
                      [(ngModel)]="Accounts.openingisdr" [value]=0>
                  </div>
                </div>


              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              
              <div class="col-md-2">
                <label class="tjr-label">Is Cost Center Applicable</label>
              </div>
              <div class="col-md-4">
                <input type="radio" class="form-control tjr-input" name="branchcode" id="costcenter"
                  [(ngModel)]="Accounts.costcenter" [value]=1> <span style="font-size: 10px;"> Yes</span>
                <input type="radio" class="form-control tjr-input" name="branchcode" id="costcenter1"
                  [(ngModel)]="Accounts.costcenter" [value]=0> <span style="font-size: 10px;"> No</span>
              </div>
              
              <div  *ngIf="superparentid === -8 || superparentid === -5 || superparentid === -6">
                <div class="col-md-2">
                <label class="tjr-label">GST</label>
                </div>
                <div class="col-md-4">
              <div class="row iaactive">     
                  <div class="col-6 pr-0 pl-1">
                    <div class="form-group">
                      <input type="radio" class="form-control tjr-input" name="gst" id="gst"
                        [(ngModel)]="Accounts.gst" [value]="true" (keydown.enter)="Accounts.gst = true;"
                        [checked]="true">
                        Yes
                    </div>
                  </div>
                  <div class="col-6 pl-0">
                    <div class="form-group">
                      <input type="radio" class="form-control tjr-input" name="gst" [(ngModel)]="Accounts.gst"
                        id="notgst" [value]="false" (keydown.enter)="Accounts.gst = true;">
                        No
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="superparentid === -46">
            <div class="form-group">
              <div class="col-md-2"  *ngIf="superparentid === -46">
                <label class="tjr-label">Tax Type</label>
              </div>
              <div class="col-md-2" *ngIf="superparentid === -46">
                 <input autocomplete="off" type="text" class="form-control tjr-input" id="taxtype" name="taxtype"
                  [(ngModel)]="Accounts.taxtype" (click)="lastActiveId = 'branch-'; allowBackspace = false;"
                  (input)="allowBackspace = false;" placeholder="Please Select Tax Type">
              </div>
              <div class="col-md-2">
                <label class="tjr-label">Tax Sub Type</label>
              </div>
              <div class="col-md-2">
                <input autocomplete="off" type="tax" class="form-control tjr-input" name="taxsubtype" id="taxsubtype"
                  [(ngModel)]="Accounts.taxsubtype" placeholder="Please Select Sub Type">
              </div>
              <div class="col-md-2">
                <label class="tjr-label">Tax Rate</label>
              </div>
              <div class="col-md-2">
                <input autocomplete="off" type="number" class="form-control tjr-input" name="account-perrate" id="perrate"
                  [(ngModel)]="Accounts.perrate" placeholder="Please Enter Per Rate">
              </div>
            </div>
          </div>
          <div *ngIf="superparentid === -8 || superparentid === -5 || superparentid === -6">
          <div class="row radiostockitem" >
            <div class="form-group">
                        <div  *ngIf="Accounts.gst">
                         
                            <div class="col-md-2">
                            <label class="tjr-label">HSN/SAC Details</label>
                            </div>
                            <div class="col-md-4">
                            <input type="text" class="form-control tjr-input" id="hsndetail" autocomplete="off" name="Accounts-hsndetail"
                              [(ngModel)]="Accounts.hsndetail">
                              </div>
                          </div>
                        <div *ngIf="Accounts.gst">
                            <div class="col-md-2">
                            <label class="tjr-label">HSN/SAC No.</label>
                            </div>
                            <div class="col-md-4">
                            <input type="text" class="form-control tjr-input" name="hsnno" autocomplete="off" id="hsnno"
                              [(ngModel)]="Accounts.hsnno">
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="row radiostockitem"  *ngIf="Accounts.gst">
                      <div class="form-group">
                        <!-- <div class="col-md-2 text-center">
                          <label>Tax Rate</label>
                        </div>
                        <div class="col-md-4">
                          <input autocomplete="off" type="number" class="form-control" name="account-perrate" id="perrate"
                            [(ngModel)]="Accounts.perrate" placeholder="Please Enter Per Rate">
                        </div> -->
                        <div *ngIf="Accounts.gst">
                          <div class="col-md-2">
                          <label class="tjr-label">Is Non-Gst</label>
                          </div>
                          <div class="col-md-4">
                          <div class="row iaactive">     
                            <div class="col-6 pr-0 pl-1">
                              <div class="form-group">
                                <input type="radio" class="form-control tjr-input" name="isnon" id="isnon"
                                  [(ngModel)]="Accounts.isnon" [value]="true" (keydown.enter)="Accounts.isnon = true;"
                                  [checked]="true">
                                Yes
                              </div>
                            </div>
                            <div class="col-6 pl-0">
                              <div class="form-group">
                                <input type="radio" class="form-control tjr-input" name="isnon" [(ngModel)]="Accounts.isnon"
                                  id="notisnon" [value]="false" (keydown.enter)="Accounts.isnon = false;">
                                  No
                              </div>
                            </div>
                          </div>
                          </div>
                        </div>
                      </div>

        </div>
        <div class="row radiostockitem"  *ngIf="Accounts.gst">
         
                      <div class="col" *ngIf="!Accounts.isnon">
                        <div class="form-group">
                          <div class="col-md-4">
                          <label class="tjr-label">GST Calculation Type</label>
                          </div>
                          <div class="col-md-8">
                          <input type="text" class="form-control tjr-input" id="calculationtype" autocomplete="off" name="stock-calculationtype"
                            [(ngModel)]="Accounts.calculationtype">
                            </div>
                        </div>
                      </div>
                      <div class="col" *ngIf="!Accounts.isnon">
                        <div class="form-group">
                          <div class="col-md-4">
                          <label class="tjr-label">GST Taxability</label>
                          </div>
                          <div class="col-md-8">
                          <input type="text" class="form-control tjr-input" name="taxability" autocomplete="off" id="taxability"
                            [(ngModel)]="Accounts.taxability">
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="row radiostockitem"  *ngIf="Accounts.gst">
                      <div class="col" *ngIf="!Accounts.isnon">
                        <div class="form-grpou">
                          <div class="col-md-4">
                          <label class="tjr-label">Tax Rate</label>
                          </div>
                          <div class="col-md-8">
                          <input type="text" class="form-control tjr-input" id="igst" autocomplete="off" name="stock-igst"
                            [(ngModel)]="Accounts.igst">
                            </div>
                        </div>
                      </div>
                      <div class="col" *ngIf="!Accounts.isnon">
                        <div class="form-group">
                          <div class="col-md-4">
                          <label class="tjr-label">CESS</label>
                          </div>
                          <div class="col-md-8">
                          <input type="text" class="form-control tjr-input" name="cesstype" autocomplete="off" id="cess"
                            [(ngModel)]="Accounts.cess">
                            </div>
                        </div>
                      </div>
                      
      </div>
        </div>
          <div class="row">
            <div class="form-group">

              <div class="col-md-2">
                <label class="tjr-label">Is Bank</label>
              </div>
              <div class="col-md-4 text-left">
                <input type="checkbox" class="form-control checktype " name="isbank" id="isbank"
                  [(ngModel)]="Accounts.isbank" [value]=0 (ngModelChange)="changeevent(Accounts.isbank)">
              </div>
              <div class="col-md-2" *ngIf="Accounts.isbank == 1">
                <label class="tjr-label">Bank Name</label>
              </div>
              <div class="col-md-4" *ngIf="Accounts.isbank == 1">
                <input type="text" class="form-control tjr-input" name="bankname" placeholder="Please Enter Bank Name"
                  id="bankname" [(ngModel)]="Accounts.bankname">
              </div>


            </div>
          </div>
          <div class="row" *ngIf="Accounts.isbank == 1">
            <div class="form-group">
              <div class="col-md-2">
                <label class="tjr-label">Bank Branch Name</label>
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control tjr-input" name="branchname" placeholder="Please Enter Bank Branch Name"
                  [(ngModel)]="Accounts.branchname" id="branchname">
              </div>
              <div class="col-md-2">
                <label class="tjr-label">Ifsc Code</label>
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control tjr-input" name="branchcode" placeholder="Please Enter Branch Code"
                  id="branchcode" [(ngModel)]="Accounts.branchcode">
              </div>
            </div>
          </div>
          <div class="row" *ngIf="Accounts.isbank == 1">
            <div class="form-group">
              <div class="col-md-2" *ngIf="Accounts.isbank == 1">
                <label class="tjr-label">A/c Number</label>
              </div>
              <div class="col-md-4" *ngIf="Accounts.isbank == 1">
                <input type="text" class="form-control tjr-input" name="accnumber" id="accnumber" [(ngModel)]="Accounts.accnumber"
                  placeholder="Please Enter A/c Number">
              </div>

            </div>
          </div>
          <div class="row" *ngIf="(this.common.params)">
            <div class="form-group">
              <!-- <div class="col-md-2 text-center">
                <label>For Approved</label>
              </div>
              <div class="col-md-2">
                <div class="true_false">
                  <div class="true">
                    <span>True</span>
                    <input type="radio" class="form-control" name="approved" [(ngModel)]="Accounts.approved"
                      id="approvedtrue" [value]=1>
                  </div>
                  <div class="false">
                    <span>False</span>
                    <input type="radio" class="form-control" name="approved" [(ngModel)]="Accounts.approved"
                      id="approvedfalse" [value]=0>
                  </div>
                </div>
              </div> -->
              <div class="col-md-2">
                <label class="tjr-label">For Review</label>
              </div>
              <div class="col-md-2">
                <div class="true_false">
                  <div class="true">
                    <span style="font-size:10px;">True</span>
                    <input type="radio" class="form-control tjr-input" name="deleteview" [(ngModel)]="Accounts.deleteview"
                      id="deleteviewtrue" [value]=1>
                  </div>
                  <div class="false">
                    <span style="font-size:10px;">False</span>
                    <input type="radio" class="form-control tjr-input" name="deleteview" [(ngModel)]="Accounts.deleteview"
                      id="deleteviewfalse" [value]=0>
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-2 text-center">
            <label>Delete</label>
          </div> -->
              <!-- <div class="col-md-2">
            <div class="true_false">
              <div class="true">
                <span>True</span>
                <input type="radio" class="form-control" name="delete" [(ngModel)]="Accounts.delete" id="deletetrue"
            [value]=1 >
              </div>
              <div class="false">
                <span>False</span>
                <input type="radio" class="form-control" name="delete" [(ngModel)]="Accounts.delete" id="deletefalse"
            [value]=0 >
              </div>
            </div>
          </div> -->

            </div>
          </div>
        </div>
        <div class="col-3">
          <!-- <div class="form-group" *ngIf="this.activeId.includes('user')">
        <auto-suggetion-in-side [data]="userdata" targetId="user" display="name" (select)="onSelected($event, 'user', 'name')"></auto-suggetion-in-side>
      </div> -->

          <!-- <auto-suggetion-in-side  [data]="autoSuggestion.data" [targetId]="undergroup"
            [display]="autoSuggestion.display" (select)="onSelect($event, autoSuggestion.targetId)">
          </auto-suggetion-in-side> -->
          <auto-suggetion-in-side  [data]="autoSuggestion.data" [targetId]="autoSuggestion.targetId"
          [display]="autoSuggestion.display" (select)="onSelect($event, autoSuggestion.targetId)">
        </auto-suggetion-in-side>

          <!-- <div class="form-group" *ngIf="this.activeId.includes('undergroup')">
        <auto-suggetion-in-side [data]="underGroupdata" targetId="undergroup" display="name" (select)="onParent($event, 'account', 'name')"></auto-suggetion-in-side>
      </div> -->



        </div>
        <!--div class="col-3" >
          <div class="form-group" *ngIf="this.activeId.includes('user')">
        <auto-suggetion-in-side [data]="userdata" targetId="user" display="name" (select)="onSelected($event, 'user', 'name')"></auto-suggetion-in-side>
      </div> 

          <auto-suggetion-in-side  [data]="autoSuggestion.data" [targetId]="autoSuggestion.targetId"
            [display]="autoSuggestion.display" (select)="onSelect($event, autoSuggestion.targetId)">
          </auto-suggetion-in-side>

          <!-- <div class="form-group" *ngIf="this.activeId.includes('undergroup')">
        <auto-suggetion-in-side [data]="underGroupdata" targetId="undergroup" display="name" (select)="onParent($event, 'account', 'name')"></auto-suggetion-in-side>
      </div> 



        </div-->
      </div>

      <table class="invoice_tabel">
        <thead style="background: #263238; color:#fff;">
          <tr>
            <!-- <th>Salutation</th>
            <th>Name</th>
            <th>Mobile No.</th>
            <th>Email</th>
            <th>Pan No.</th>
            <th>Tan No.</th>
            <th>Gst No.</th>
            <th>State</th>
            <th>City</th>
            <th>Address</th>
            <th>Remarks</th>
            <th>Default</th>
            <th>&nbsp;</th> -->
          </tr>
        </thead>
        <tbody>
          <span *ngFor="let Details of Accounts.accDetails; let i = index;">
            <tr>
            <td style="width: 70px !Important ;">
              <!-- <auto-suggestion (onSelected)="Details.salutationId = $event.id;" url="Suggestion/GetSalutation"
                  display="name" [inputId]="'salution-' + i" [data]="salutiondata" placeholder="Enter Salutation" [preSelected]="{name:' '}">
                </auto-suggestion> -->
               
                <label class="tjr-label">Salutation</label>
              <input type="text" class="form-control tjr-input" autocomplete="off" [id]="'salutation-'+i" name="'salutation-'+i"
                [(ngModel)]="Details.salutation.name"
                (click)="lastActiveId = 'salutation-' + i; allowBackspace = false;" placeholder="Please Select Salution"
                (input)="allowBackspace = false;">
            </td>
            <td>
              <label class="tjr-label">Name</label>
              <input type="text" class="form-control tjr-input" autocomplete="off" name="account-name"
                placeholder="Please Enter Name" [(ngModel)]="Details.name" [id]="'accountName-' + i"
                [value]="Accounts.name">
            
          </td>
            <td>
              <label class="tjr-label">Mobile No.</label>
              <input type="number" class="form-control tjr-input" autocomplete="off" name="account-mobileno"
                [id]="'mobileno-' + i" [(ngModel)]="Details.mobileNo" minlength="10"
                placeholder="Please Enter Mobile Number" maxlength="10">
            </td>
            <td colspan="3" style="width: 400px !Important ;"> <label class="tjr-label">Email</label>
              <input type="email" class="form-control tjr-input" autocomplete="off" name="account-email" [id]="'email-' + i"
                [(ngModel)]="Details.email" placeholder="Please Enter Email">
            </td>
            <td><label class="tjr-label">Pan No.</label>
             
              <input type="text" class="form-control tjr-input" autocomplete="off" placeholder="Please Enter Pan No."
                ame="account-name" [id]="'panNo-' + i" ng-maxlength="10" [(ngModel)]="Details.panNo">
            </td>
            <td> <label class="tjr-label">Tan No.</label>
              <input type="text" class="form-control tjr-input" autocomplete="off" name="account-name"
                placeholder="Please Enter Tan No." [id]="'tanNo-' + i" ng-maxlength="15" [(ngModel)]="Details.tanNo">
            </td>
            <td><label class="tjr-label">Gst Reg Type</label>
              <input type="text" class="form-control tjr-input" autocomplete="off" placeholder="Please Enter Gst Reg Type"
                name="account-gst_reg_type" [id]="'gst_reg_type-' + i" [(ngModel)]="Details.gst_reg_type.name"
                (click)="lastActiveId = 'gst_reg_type-' + i; allowBackspace = false;" (input)="allowBackspace = false;">
            </td>
            <td> <label class="tjr-label">Gst No.</label>
              <input type="text" class="form-control tjr-input" autocomplete="off" name="account-name"
                placeholder="Please Enter Gst No." [id]="'gstNo-' + i" ng-maxlength="15" [readonly]="Details.gst_reg_type.name === 'Unknown' || Details.gst_reg_type.name === 'Unregistered'" [(ngModel)]="Details.gstNo">
            </td>
            
          </tr>
            <tr >
              <td colspan="2"><label class="tjr-label">State</label>
                <input type="text" class="form-control tjr-input" autocomplete="off" [id]="'state-'+i" name="'state-'+i"
                  [(ngModel)]="Details.state.name" (click)="lastActiveId = 'state-' + i; allowBackspace = false;"
                  placeholder="Please Select State Name" (input)="allowBackspace = false;">
             <label class="tjr-label">City</label>
                <input type="text" class="form-control tjr-input" autocomplete="off" [id]="'city-'+i" name="'city-'+i"
                  [(ngModel)]="Details.city.name" (click)="lastActiveId = 'city-' + i; allowBackspace = false;"
                  placeholder="Please Select City" (input)="allowBackspace = false;">
  
                <!-- <auto-suggestion (onSelected)="Details.cityId = $event.id;" url="Suggestion/GetCity" display="name"
                    [inputId]="'city-' + i" [name]="'city-' + i"  placeholder="Enter City" [preSelected]="null">
                  </auto-suggestion> -->
              </td>
            <td colspan="5">
              <label class="tjr-label">Address</label>
              <textarea  class="form-control tjr-input" autocomplete="off" name="account-name" [id]="'address-' + i"
                [(ngModel)]="Details.address" cols="30" rows="4" placeholder="Please Enter Address"></textarea>
            </td>
            <td colspan="2"><label class="tjr-label">Remarks</label>
              <textarea  class="form-control tjr-input" autocomplete="off" placeholder="Please Enter Remarks"
                name="account-name" [id]="'remarks-' + i"  cols="30" rows="4" [(ngModel)]="Details.remarks"></textarea>
            </td>
           
            <td>
              <span><label class="tjr-label">Default</label>
              <input type="radio" class="form-control tjr-input" name="defaultcheck" [checked]="(Details.defaultcheck)" [id]="'default-' + i" (click)="changedefault(i)"/>
            </span>
            <span *ngIf="i == 0"> 
              &nbsp;
              <button (click)="addDetails()" class="plustransparent btn-plus "><i class="fa fa-plus"
                  style="font-size: 40px;"></i></button>
           </span>
            <span *ngIf="i != 0">
              &nbsp;
              <button (click)="Accounts.accDetails.splice(i,1)" class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>
              </span>
            </td>
          </tr>
          </span>
        </tbody>
      </table>

      <!--div class="row">
      <div class="form-group">
        <div class="col-md-4 text-center">
          <label>Salutation</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" name="account-name" [(ngModel)]="Accounts.salutationId">
        </div>
      </div>
  </div>
  <div class="row">
      <div class="form-group">
        <div class="col-md-4 text-center">
          <label>Mobile No.</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" name="account-mobileno" [(ngModel)]="Accounts.mobileNo">
        </div>
      </div>
  </div>
  
  <div class="row">
      <div class="form-group">
        <div class="col-md-4 text-center">
          <label>Email</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" name="account-email" [(ngModel)]="Accounts.email">
        </div>
      </div>
  </div>
  
  <div class="row">
      <div class="form-group">
        <div class="col-md-4 text-center">
          <label>Pan No.</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" name="account-name" [(ngModel)]="Accounts.panNo">
        </div>
      </div>
  </div>
  
  <div class="row">
      <div class="form-group">
        <div class="col-md-4 text-center">
          <label>Tan No</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" name="account-name" [(ngModel)]="Accounts.tanNo">
        </div>
      </div>
  </div>
  
  <div class="row">
      <div class="form-group">
        <div class="col-md-4 text-center">
          <label>Gst No.</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" name="account-name" [(ngModel)]="Accounts.gstNo">
        </div>
      </div>
  </div>
  
  
  <div class="row">
      <div class="form-group">
        <div class="col-md-4 text-center">
          <label>City</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" name="account-name" [(ngModel)]="Accounts.cityId">
        </div>
      </div>
  </div> 
  <div class="row">
      <div class="form-group">
        <div class="col-md-4 text-center">
          <label>Address</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" name="account-name" [(ngModel)]="Accounts.address">
        </div>
      </div>
  </div>
  <div class="row">
      <div class="form-group">
        <div class="col-md-4 text-center">
          <label>Remarks</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" name="account-name" [(ngModel)]="Accounts.remarks">
        </div>
      </div>
  </div-->
    </div>

    <div class="modal-footer">
      <div class="row">
          <span *ngIf="mannual">
              <input type="checkbox" name="mannual" id="mannual"  [(ngModel)]="Accounts.approved"> Is Mannual Approval
            </span>
        <div class="col" *ngIf="(this.common.params && (this.deletedid == 0))">
          <button class="btn btn-danger" type="button" outline (click)="delete(this.Accounts.id)" id="delete"
            style="cursor: pointer;">Delete</button>
        </div>
        <div class="col" *ngIf="(this.common.params && (this.deletedid == 1))">
          <button class="btn btn-danger" type="button" outline (click)="permantdelete(this.Accounts.id)" id="delete"
            style="cursor: pointer;">Permanent Delete</button>
        </div>

        <div class="col text-right" *ngIf="(this.deletedid == 0)">
          <button class="btn btn-primary" type="button" outline (click)="save(true)" id="submit"
            style="cursor: pointer;">Submit
          </button>
        </div>
        <div class="col text-right" *ngIf="(this.common.params && (this.deletedid == 1))">
          <button class="btn btn-primary" type="button" outline (click)="dismiss(true)" id="submit"
            style="cursor: pointer;">Restore
          </button>
        </div>
        <div class="col">
          <button class="btn btn-danger" type="button" outline (click)="dismiss(false)" id="cancel"
            style="cursor: pointer;">Cancel</button>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>


<div class="date-modal" *ngIf="showConfirm" (keydown)="keyHandler($event)">
  <div class="date-modal-body data_model_save">
    <div>
      <p>Are you want to save ?</p>
      <button (click)="dismiss(true)"> Yes</button> <span>&nbsp;&nbsp;&nbsp;</span> <button
        (click)="modelCondition(false)"> No</button>
    </div>
  </div>
</div>

<div class="date-modal" *ngIf="showExit" (keydown)="keyHandler($event)">
  <div class="date-modal-body data_model_save">
    <div>
      <p>Are you sure want to close ?</p>
      <button (click)="dismiss(false)"> Yes</button> <span>&nbsp;&nbsp;&nbsp;</span> <button (click)="showExit = false;">No</button>
    </div>
  </div>
</div>