<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Add Ledger Account</h4>
  <button type="button" class="close" aria- label="Close" (click)="dismiss(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="row">
      <div class="form-group">
        <label>User</label>
        <!--input type="text" class="form-control" (input)="searchUser()" name="user-name"-->
        <auto-suggestion (onSelected)="onSelected($event, 'user', 'name')" url="Suggestion/getFoUsersList" display="name"
        placeholder="Enter User" [preSelected]="null" class="suggestion-containerbox"></auto-suggestion>
      </div>
  </div>
    <div class="row">
      <div class="form-group">
        <label>Code</label>
        <input type="text" class="form-control" name="account-name" [(ngModel)]="Accounts.code">
      </div>
  </div>
    <div class="row">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="account-name" [(ngModel)]="Accounts.name" (input)="Accounts.aliasname=Accounts.name">
      </div>
  </div>
    <div class="row">
      <div class="form-group">
        <label>Alias Name</label>
        <input type="text" class="form-control" name="account-name" [(ngModel)]="Accounts.aliasname">
      </div>
  </div>
    <div class="row">
      <div class="form-group">
        <label>Under Group</label>
        <auto-suggestion (onSelected)="onParent($event, 'account', 'name')" url="Suggestion/GetAccount" display="name"
        placeholder="Search Parent Account" [preSelected]="null"></auto-suggestion>
      </div>
  </div>
    <div class="row">
      <div class="form-group">
        <label>Per Rate</label>
        <input type="text" class="form-control" name="account-name" [(ngModel)]="Accounts.perrate">
      </div>
    
  </div>

</div>

<div class="modal-footer">
  <div class="row">
    <div class="col">
      <button class="btn btn-danger" type="button" outline (click)="dismiss(false)" id="cancel" style="cursor: pointer;">Cancel</button>
    </div>
    <div class="col text-right">
      <button class="btn btn-primary" type="button" outline (click)="dismiss(true)" id="submit" style="cursor: pointer;">Submit
      </button>
    </div>
  </div>
</div>