:host ::ng-deep.black {
  color: black;
  background: cornsilk;
}
:host ::ng-deep.bgblue {
  background: rgb(26, 1, 247);
  color: rgb(38, 0, 255);
}
:host ::ng-deep.byellow {
  background: yellow;
  color: #fff;
}
:host ::ng-deep.bgreen{
  background-color: rgb(181, 243, 124);
}
:host ::ng-deep.green{
  background-color: rgb(181, 243, 124);
}
:host ::ng-deep.red {
  background-color:rgb(243, 124, 124);
}

:host ::ng-deep {
  .ball {
      margin-top: 3px;
      float: left;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-left: 4px;
      -webkit-animation: up-right 1s infinite;
      -moz-animation: up-right 1s infinite;
      -o-animation: up-right 1s infinite;
      animation: up-right 1s infinite;
  }
  @keyframes up-right {
      0% {
          transform: scale(1);
          opacity: 0.25;
      }
      50% {
          transform: scale (1, 5);
          opacity: 1;
      }
      100% {
          transform: scale(1);
          opacity: 0.25;
      }
  }
}
.right-status {
  padding-top: 6px;
  u {
      font-size: 14px;
      margin-left: 3px;
      cursor: pointer;
      vertical-align: top;
  }
}

:host ::ng-deep .fa-route {
  color: black;
  font-size: 14px;
  cursor: pointer;
  span {
    position: absolute;
    display: none;
    padding: 10px 50px;
font-size: 11px;
left: -36px;
  
    font-weight: normal;
    top: -28px;
    top: -28px;
    -webkit-box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    z-index: 9999;
  }
  span::before {
    content: "Route Mapper";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    border-radius: 3px;
    padding: 5px 10px;
    color: #fff;
    width: 100%;
  }
  span::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    position: absolute;
    bottom: -5px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
  }
}
  :host ::ng-deep .fa-route:hover span {
    display: block;
  }


  :host ::ng-deep .fa-truck-moving{
  color: #ff8091;
  font-size: 14px;
  cursor: pointer;
  span {
    position: absolute;
    display: none;
    padding: 10px 44px;
    font-size: 11px;
    left: -34px;
    font-weight: normal;
    top: -28px;
    top: -28px;
    -webkit-box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    z-index: 9999;
  }
  span::before {
    content: "Route Time";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ff8091;
    border-radius: 3px;
    padding: 5px 10px;
    color: #fff;
    width: 100%;
  }
  span::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ff8091;
    position: absolute;
    bottom: -5px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
  }
}

:host ::ng-deep .fa-truck-moving:hover span {
  display: block;
}
:host ::ng-deep .fa-pencil-square-o {
  color: #0bf714;
  font-size: 14px;
  cursor: pointer;
  span {
    position: absolute;
    display: none;
    padding: 10px 44px;
    font-size: 11px;
    left: -34px;
    font-weight: normal;
    top: -28px;
    top: -28px;
    -webkit-box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    z-index: 9999;
  }
  span::before {
    content: "Short Target";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #0bf714;
    border-radius: 3px;
    padding: 5px 10px;
    color: black;
    width: 100%;
  }
  span::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #0bf714;
    position: absolute;
    bottom: -5px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
  }
}
  :host ::ng-deep .fa-pencil-square-o:hover span {
    display: block;
  }

  
  :host ::ng-deep {
    td{text-align:center;}
  }

  :host ::ng-deep {
    th{text-align:center;}
  }


  :host ::ng-deep {
    th:nth-child(1) {
        width: 30px !important;
    }

    th:nth-child(2) {
        width: 90px;
    }

    th:nth-child(3) {
        width: 118px;
    }

    th:nth-child(4) {
        width:106px;
    }

    th:nth-child(5) {
      width: 95px;
  }

    th:nth-child(6) {
        width: 114px;
    }

    th:nth-child(7) {
        width:95px;
    }

    th:nth-child(8) {
        width:108px;
    }

    th:nth-child(9) {
        width: 110px;
    }

    th:nth-child(10) {
        width: 130px;
    }

    th:nth-child(11) {
        width:95px;
    }
    th:nth-child(12) {
      width:110px;
  }

  th:nth-child(13) {
      width:152px;
  }
  th:nth-child(14) {
    width:95px;
}

th:nth-child(15) {
    width:97px;
}
th:nth-child(16) {
  width: 98px;
}

th:nth-child(17) {
  width:101px;
}
th:nth-child(18) {
  width: 100px;
}
th:nth-child(19) {
  width: 100px;
}
  }
  .status-print-title h4{
    height: auto;
    margin: auto;
    z-index: 999999;
    overflow: visible;
    border-radius: 0.17rem;
    padding: 4px 20px;
    background-color: #c9c2de;
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: 0 16px 26px -10px rgba(63, 106, 216, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(63, 106, 216, 0.2);
    box-shadow: 0 16px 26px -10px rgba(63, 106, 216, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(63, 106, 216, 0.2);
    display: inline-block;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
  }
  .x-hide{ 
     i
   {
    cursor: pointer;
    font-size: 16px;
    margin-top: 8px;
    color: grey;
}
  }