nb-card-header{
    border-bottom: 1px solid #ccc;
}
.btn{
    font-size: 16px;
    text-transform: capitalize;
}
:host ::ng-deep .tableFixHead{
    height: auto !important;
    max-height: calc(100vh - 222px);
    table{
        thead{
            tr{
                th{
                    width: 33px;
                    font-size: 10px;
                    .no-search{
                        background-color: transparent;
                    }
                }
                th:first-child{
                    width: 30px;
                }
                th:nth-child(2){
                    width: 80px;
                }
            }
        }
        tbody{
            td{
                padding: 5px 3px !important;
                text-align: center;            }
            td input{
                border: 1px solid #e2e2e2;
                text-align: center;
            }
        }
    }
}
