<nb-card style="border:0px;">
  <nb-card-header>
    <h5>Driver Attendance</h5>
  </nb-card-header>
  <nb-card-body style="min-height: 400px;">
    <div class="row">
      <div class="col-3">
        <month-picker (select)="dates = $event"></month-picker>
      </div>
      <div class="col-sm-2">
        <button type="submit" id="submit" name="submit" class="btn btn-primary w-100 m-0" (click)="getAttendace()">GET
          ATTENDANCE</button>
      </div>
    </div>




    <smart-table *ngIf="table.data.columns.length" [data]="table.data" [settings]="table.settings"></smart-table>
    <br>

  </nb-card-body>
</nb-card>