@media (min-width: 992px){
    .modal-lg {
        max-width: 1200px !important;
    }
  }
  .modal-lg {
    max-width: 1200px !important;
  }
  
  .plustransparent{
    background-color: transparent;
    border:0px;
  }
  .modal-header{
    padding: 10px 15px;
    background-color: #263238;
  }
  .modal-header h5{
    color: #fff;
  }
  .close{
    background: transparent;
    color: #fff !important;
    opacity: 1;
    padding: 10px 20px;
    margin: -10px -1rem -1rem auto;
    outline: none;
  }
  .modal-body label{
    background: #263238;
    color: #fff;
    padding: 5px 8px;
    margin: 0;
    border-radius: 3px 3px 0px 0px;
    font-size: 12px;
    min-width: 80px !important;
    font-weight: normal;
  }
  .modal-body input{
    border: 1px solid #263238 !important;
    border-radius: 0px 2px 2px 2px;
    padding: 3px 5px !important;
    height: auto;
    font-size: 12px;
  }
  .modal-body textarea{
    border: 1px solid #263238 !important;
    border-radius: 0px 2px 2px 2px;
    padding: 3px 5px !important;
    height: 80px;;
    font-size: 12px;
  }
  .modal-footer{
    padding: 10px 15px;
    button{
      padding: 5px 12px;
      text-transform: capitalize;
    }
    .btn-danger{
      background-color: #d61414;
    }
    
  }
  .ref-label{
    background: #263238;
    color: #fff;
    padding: 3px 8px;
    margin: 0;
    border-radius: 3px 3px 0px 0px;
    font-size: 12px;
    min-width: 80px !important;
    font-weight: normal;
  }
  .ref-input{
    border: 1px solid #263238 !important;
    border-radius: 0px 2px 2px 2px;
    padding: 3px 5px;
    height: auto;
    font-size: 12px;
  }
  .invoice_tabel{
    tr{
        th{
            padding: 5px 10px;
            font-weight: normal;
            width: 150px;
        }
        th:last-child{
          width: 100px;
        }
        td:nth-child(3) input{
          width: 100%;
          padding: 5px;
        }
        td:nth-child(4) input{
          width: 100%;
          padding: 5px;
        }
        td{
            padding: 5px 10px !important;
            font-size: 12px;
            button{
                padding: 0 !important;
                font-size: 14px;
                border-radius: 0px !important;
                margin: 0px;
                background-color: transparent;
                color: #263238;
                outline: none;
                box-shadow: none;
            }
            .btn-taxdet{
              background-color: #000;
              color: #fff !important;
              font-size: 12px;
              padding: 3px 7px !important;
              border-radius: 3px !important;
              cursor: pointer;
              width: 100%;
            }
        }
    }
    tbody{
        tr:nth-child(odd){
            background-color: #fff;
        }
        tr:nth-child(even){
            background-color: #e4e4e4;
        }
    }
  } 
  input:read-only {
    background-color: #ccc;
  }
  .btn-primary {
    background-color: #263238 !important;
    margin-right: 100px;
  }
.modal-body .row{
  margin-left: 19px !important;
}