<nb-card style="border:0px;">
  <!-- <nb-card-header>
    <h4>Invoice</h4>
  </nb-card-header> -->
  <nb-card-body (keydown)="keyHandler($event)" style="padding: 0px;">
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">Other Detail</h5>
      <button type="button" class="close" aria- label="Close" (click)="modelCondition()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
   <div class="row">
    <div class="col" >
      <div class="form-group">
        <label class="ref-label" *ngIf="ordertypeid == -104" >Ref Date</label>
        <label class="ref-label" *ngIf="ordertypeid == -106" >Order Date</label>
        <input type="text" autocomplete="off" style="cursor: pointer;" class="form-control ref-input"
          autocomplete="off" id="podate" name="po-date" [(ngModel)]="service.podate" maxlength="10"
          (click)="lastActiveId = 'po-date'; allowBackspace = false;" (input)="allowBackspace = false;">

      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label class="ref-label" *ngIf="ordertypeid == -104">Ref.No.</label>
        <label class="ref-label" *ngIf="ordertypeid == -106">Order No</label>
        <input autocomplete="off" type="text" class="form-control ref-input" name="account-qutationrefrence"
          id="qutationrefrence" [(ngModel)]="service.qutationrefrence" placeholder="Ref.No.">
      </div>
    </div>
           <div class="col">
              <div class="form-group">
                <label class="ref-label">Payment Terms</label>
                <input type="text" autocomplete="off" class="form-control ref-input" id="paymentterms" name="account-paymentterms"
                  [(ngModel)]="service.paymentterms" placeholder="Payment Terms">
              </div>
            </div>
          </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="ref-label">Eway Bill No.</label>
            <input type="text" autocomplete="off" class="form-control ref-input" id="biltynumber" name="account-biltynumber"
              [(ngModel)]="service.biltynumber" placeholder="Eway Bill Number">
          </div>
        </div>
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Eway Bill Date</label>
                <input type="text" style="cursor: pointer;" class="form-control ref-input" autocomplete="off" id="biltydate"
                  name="account-biltydate" [(ngModel)]="service.biltydate" maxlength="10"
                  (click)="lastActiveId = 'account-biltydate'; allowBackspace = false;"
                  (input)="allowBackspace = false;">

              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="ref-label">Delivery Terms</label>
                <input type="text" autocomplete="off" class="form-control ref-input" id="deliveryterms" name="account-deliveryterms"
                  [(ngModel)]="service.deliveryterms" placeholder="Delivery Terms">
              </div>
            </div>
      </div>
      <div class="row">
            <div class="col">
              <div class="form-group">
                  <label class="ref-label">Party Billing Address</label>
                <textarea class="form-control ref-input" autocomplete="off" name="account-billingaddress" id="billingaddress"
                  [(ngModel)]="service.billingaddress" row="6" placeholder="Party Billing Address"></textarea>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="ref-label" *ngIf="ordertypeid == -104">Address Location</label>
                <label class="ref-label" *ngIf="ordertypeid == -106">Shipment Location</label>
                <textarea autocomplete="off" class="form-control ref-input" id="shipmentlocation"name="account-shipmentlocation"
                  [(ngModel)]="service.shipmentlocation" row="6"></textarea>
              </div>
            </div>
            <!-- <div class="col" *ngIf="ordertypeid == -106">
              <div class="form-group">
                <label class="ref-label">Remarks</label>
                <textarea class="form-control ref-input" name="account-orderremarks" id="orderremarks"
                  [(ngModel)]="service.orderremarks" placeholder="Invoice Remarks"></textarea>
              </div>
            </div> -->
      </div>
    </div>
           
       
    <div class="modal-footer">
      <div class="row w-100">
        <div class="col-9"></div>
        <div class="col-1 text-right">
          <button class="btn btn-danger" type="button" outline (click)="dismiss(true)" id="cancel"
            style="cursor: pointer;">Cancel</button>
        </div>
        <div class="col-2 text-right">
          <button class="btn btn-primary" type="button" outline (click)="dismiss(true)" id="submitother"
            style="cursor: pointer;">Submit
          </button>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>


<div class="date-modal" *ngIf="showConfirm">
  <div class="date-modal-body data_model_save">
    <div>
      <p>Are you want to save ?</p>
      <button (click)="dismiss(true)">Yes</button> <span>&nbsp;&nbsp;&nbsp;</span> <button
        (click)="modelCondition()">No</button>
    </div>
  </div>
</div>