.TJR-auto-suggestion-container{
    border: 1px solid #e2e2e2 !important;
    border-radius: 5px !important;
    padding: 8px !important;
    height: 100px !important;
    overflow: auto !important;
  }

.suggestion-option{
    border: 1px solid #f2f2f2;
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 3px;
}
.active-suggestion{
    background: yellow;
    font-weight: bold;
}