input {
    border: #000;
    padding: 10px;
    font-size: 1.2em;
    width: 100%;
  }
  input::placeholder {
    color: rgb(0, 0, 0);
  }
  table {
    border: 2px solid rgb(13, 37, 250);
  }
.thead{
    background-color: #262626;
    color: white;
}
.placehol{
  width: 10%;

}
.tbl{
    overflow: auto;
    display: block;
}
.infotable{
  padding: 8px;
  display: block;
}
.infotable tr td{
  padding: 8px;
}
table{
  tr{
      td{
          input, select{
              padding: 4px 5px;
              width: 100%;
              height: auto;
              margin: 0px;
              max-width: 100%;
              font-size: 12px;
          }
          button{
              padding: 0px 10px;
              margin: 0px;
              text-transform: capitalize;
              width: auto;
          }
      }
      td:nth-child(1){
          width: 200px !important;
          max-width: inherit !important;
      }
      td:nth-child(2){
          width: 200px !important;
          max-width: inherit !important;
      }
      td:nth-child(3){
          width: 150px !important;
          max-width: inherit !important;
      }
  }
}

.checkbox-points input{
  width: auto !important;
  margin-left: 5px !important;
  vertical-align: middle;
}
.add-route{
  border-radius: 3px;
}
.text-red{
  color: red !important;
}

.edit{
  padding-left: 5px
}