<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">Via Route Points</h5>
  <label style="padding-left: 28px; padding-top:4px">
    Route Name:
    <i class="fas fa-route"></i>
    {{routeName}}
  </label>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-6">
      <table frame="box" class="infotable">
        <tbody>
          <tr>
            <td class="checkbox-points p-0" style="width: 110px;">
              <span>Site</span> <input value="site" [(ngModel)]="locType" type="radio" id="typeSite"
                (click)="setRadio('site')" checked="checked" name="radio"> &nbsp;
              <span>Map</span> <input value="map" [(ngModel)]="locType" type="radio" id="fromMap"
                (click)="setRadio('map')" name="radio">
            </td>
            <td colspan="1">
              <label>Location</label> <br>
              <auto-suggestion *ngIf="locType == 'site' " (onSelected)="selectSite($event)"
                url="Suggestion/getSites?typeId=1&isFoid=true" seperator="-" [display]="['name','sd_loc_name']"
                placeholder="Search Site" inputId="site" [preSelected]="siteLoc">
              </auto-suggestion>
              <div class="row">
                <div class="col-8 pr-0">
                  <auto-suggestion *ngIf="locType == 'map' " (onChange)="onChangeAuto($event)"
                    (onSelected)="selectLocation($event)" (noDataFound)="takeAction($event)" [isNoDataFoundEmit]="true"
                    url="Location/getPlaceFromRedis" display="location" inputId="mapValue" placeholder="Location"
                    [value]="siteNamee" [preSelected]='{location:siteNamee}'>
                  </auto-suggestion>
                </div>
                <div class="col-4">
                  <button *ngIf="locType == 'map'"
                    class="btn btn-primary info_btn p-0 rounded-sm pt-2 pb-2 pr-2 pl-2 w-100"
                    (click)="searchString='----'; takeAction(null);"><i class="fa fa-plus"></i></button>
                </div>
              </div>
            </td>
            <!-- <td colspan="2">
              <label>Kilometres</label><br>
              <input type="number" class="form-control" name="number2" placeholder="KMS" [(ngModel)]="kms" min="1"
                max="10000" />
            </td> -->
            <td>
              <label>Type</label>
              <select [(ngModel)]="type" class="form-control" name="type">
                <option value="0">Regular</option>
                <option value="1">Loading/Unloading</option>
              </select>
            </td>
            <td colspan="2">
              <label>Radius</label><br>
              <input type="number" class="form-control" name="radius" placeholder="Radius" (change)="setRadius()"
                [(ngModel)]="radius" min="1" max="10000" />
            </td>
            <td>
              <span>Meter</span>
            </td>
          </tr>
        </tbody>

        <div class="row">
          <div class="col-4"></div>
          <div class="col-8 text-right">
            <button type="button" class="btn btn-primary add-route  mr-2" (click)="sendRoute()"
              style="margin-top:10px;">{{this.editId == -1?'EDIT':'ADD'}}</button>

            <button *ngIf="this.editId == -1" type="button" class="btn btn-primary add-route ml-2"
              (click)="cancelEdit()" style="margin-top:10px;">CANCEL</button>
          </div>
        </div>
      </table>

      <div class="container">
        <div class="row-head">
          <div class="row m-0">
            <div class="col-th col-1"></div>
            <div class="col-th col-1">S.No</div>
            <div class="col-th col-3">Name</div>
            <div class="col-th col-1">Kms</div>
            <div class="col-th col-1">Radius</div>
            <div class="col-th col-2">Type</div>
            <div class="col-th col-2">Action</div>
          </div>
        </div>
        <div clss="drag-container">
          <div cdkDropList [cdkDropListData]="tableData" (cdkDropListDropped)="drop($event)" class="drag-list">
            <div class="row drag-box m-0" *ngFor="let data of tableData; let i = index;" cdkDrag>
              <div class="col-td col-1" style="position: relative;">
                <div class="drag-handle" cdkDragHandle>
                  <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                    <path
                      d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                    </path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                  </svg>
                </div>
              </div>
              <div class="col-td col-1">{{data._no}}</div>
              <div class="col-td col-3">{{data.name}}</div>
              <div class="col-td col-1">{{data.kms}}</div>
              <div class="col-td col-1">{{data.radius}}</div>
              <div class="col-td col-2">{{data.Type}}</div>
              <div class="col-td col-2">
                <i class="fas fa-trash text-red mr-2" (click)="clickDelete(data.name , i)"></i>
                <i class="fas fa-edit edit" (click)="editRow(i)"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="text-right">
          <button *ngIf="tableData && tableData.length" class="btn btn-primary add-route  pt-1" (click)="updateOrder()"
            style="margin-top:3px;">Update Order</button>
        </div>
      </div>
    </div>

    <div class="col-6 pl-0">
      <div id="map" style="width: 100%; height:68vh">
      </div>
    </div>

  </div>
</div>