<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">Via Route Points</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-6">
      <table frame="box" class="infotable">
        <tbody>
          <tr>
            <td colspan="2" class="checkbox-points p-0">
              <span>Site</span> <input value="site" [(ngModel)]="locType" type="radio" id="typeSite"
                (click)="setRadio(0)" checked="checked" name="radio"> &nbsp;
              <span>Map</span> <input value="map" [(ngModel)]="locType" type="radio" id="fromMap" (click)="setRadio(1)"
                name="radio">
            </td>
            <td colspan="1">
              <label>Location</label> <br>
              <auto-suggestion *ngIf="this.selected == 0" (onSelected)="selectSite($event)"
                url="Suggestion/getSites?typeId=1" seperator="-" [display]="['name','sd_loc_name']"
                placeholder="Search Site" [preSelected]="null">
              </auto-suggestion>
              <input class="form-control" *ngIf="this.selected == 1" type="text" [(ngModel)]="mapName"
                placeholder="Enter Location" name="mapName" minlength="1" maxlength="100" />

            </td>
            <td colspan="2">
              <label>Kilometres</label><br>
              <input type="number" class="form-control" name="number2" placeholder="KMS" [(ngModel)]="kms" min="1"
                max="10000" />
            </td>
            <td colspan="2">
              <label>Order</label><br>
              <input type="number" class="form-control" name="order" placeholder="Order" [(ngModel)]="order" min="1"
                max="900" />
            </td>
          </tr>


        </tbody>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-5 pt-2">
            <label class="pt-1" *ngIf="this.selected == 1">{{latilong}}</label>
          </div>
          <div class="col-3 text-right">
            <button type="button" class="btn btn-primary add-route  pt-1" (click)="sendRoute()"
              style="margin-top:10px;">ADD</button>
          </div>

        </div>
      </table>

      <table class="tbl table table-bordered table-hover">
        <thead class="thead" *ngIf="tableData && tableData.length">
          <tr>
            <th style="width:40px;">S.No</th>
            <th>Name</th>
            <th>Order</th>
            <th>Kms</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of tableData; let i = index;">
            <td style="width:40px;">{{i+1}}</td>
            <td style="width:40px;">{{data.name}}</td>
            <td>{{data.duration}}</td>
            <td>{{data.kms}}</td>
            <td><i class="fas fa-times text-red" (click)="clickDelete(data.name , i)"></i></td>
          </tr>
        </tbody>

      </table>

    </div>
    <div class="col-6 pl-0">
      <input name="location" id="loc" [(ngModel)]="loc" [value]="loc" type="text" style="width: 25%;"
        placeholder="Enter Location" class="form-control">

      <div id="map" style="width: 100%; height:68vh">
      </div>
    </div>
  </div>
</div>