<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-6">
        <h5>Onward KMPD</h5>
      </div>
      <div class="col-1">
        <span>
          <span class="pdf-icon" title="PDF Export" (click)="printPDF('onwardKmpd')" style="cursor: pointer;"><i
              class="fa fa-file-pdf"></i></span>
          <span class="exel-icon" title="CSV Export" (click)="printCsv('onwardKmpd')"
            style="cursor: pointer;margin-left: 10px;"><i class="fas fa-file-excel"></i></span>
        </span>
      </div>
      <div class="col-5">
        <div class="row">
          <div class="col-sm-4">
            <input type="text" class="form-control" [value]="startDate | date : 'dd MMM yyyy'" name="date"
              placeholder="Start Date" (click)="getDate('start')">
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" [value]="endDate | date : 'dd MMM yyyy'" name="date1"
              placeholder="End Date" (click)="getDate('end')">
          </div>
          <div class="col-sm-4">
            <button class="btn btn-primary" (click)="getonwardKmpd()">submit</button>
          </div>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="model-body">
      <smart-table *ngIf="onwardKmpd && onwardKmpd.length" [data]="table.data" [settings]="table.settings"
        id="onwardKmpd">
      </smart-table>
    </div>
  </nb-card-body>
</nb-card>