<div class="modal-header">
  <h5>Escalation Matrix</h5>
  <button type="button" class="close" aria-label="Close" (click)=dismiss(false)>
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="row">
    <!-- <div class="col-4">
      <div class="from-group">
        <label>Id</label>
        <input type="text" class="form-control" name="issue-id" readonly [(ngModel)]="escalationType.id">
      </div>
    </div> -->
    <div class="col-4">
      <div class="from-group">
        <label>Issue Type</label>
        <span style="background-color: #e8edef;border-radius:3px;"
          class="form-control">{{escalationType.issueTypeValue}}</span>
      </div>
    </div>
    <div class="col-4">
      <div class="from-group">
        <label>Issue Properties</label>
        <auto-suggestion (onSelected)="getProperties($event)" display="name" [data]="issueProperties"
          placeholder="Search" [preSelected]="null" inputId="issueProperty"></auto-suggestion>
      </div>
    </div>

    <div class="col-4">
      <div class="from-group">
        <label>User Id</label>
        <auto-suggestion (onSelected)="addIssueField.userId = $event.id"
          url="Suggestion/getFoAdminList?foid={{escalationType.id}}" display="employeename" placeholder="Search Name"
          [preSelected]="null" inputId="userId"></auto-suggestion>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="from-group">
        <label>Senior Id</label>
        <auto-suggestion (onSelected)="this.addIssueField.SeniorId = $event.id"
          url="Suggestion/getFoAdminList?foid={{escalationType.id}}" display="employeename" placeholder="Search Name"
          [preSelected]="null" inputId="SeniorId"></auto-suggestion>
      </div>
    </div>
    <div class="col-4">
      <div class="from-group">
        <label>User Level</label>
        <select [(ngModel)]="userLevel" class="form-control">
          <option value="one">1</option>
          <option value="two">2</option>
          <option value="three">3</option>
          <option value="four">4</option>
        </select>
      </div>
    </div>
    <div class="col-4">
      <div class="from-group">
        <label>From Time</label>
        <uj-date-time-picker [isTime]="false" (onChanged)="startTime = $event" [dateTimeValue]="startTime">
        </uj-date-time-picker>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="from-group">
        <label>To Time</label>
        <uj-date-time-picker [isTime]="false" [isStart]="false" (onChanged)="endTime = $event"
          [dateTimeValue]="endTime">
        </uj-date-time-picker>
      </div>
    </div>
    <div class="col-4" style="margin-top:13px;">
      <button class="btn btn-primary" type="button" outline (click)="addIssue()" id="add"
        style="cursor: pointer;">Add</button>
    </div>
  </div>
</div>


<div class="modal-footer" style="margin-top:10px;">
  <div class="row">
    <div class="col text-right">
      <!-- <button class="btn btn-primary" type="button" outline (click)="addIssue()" id="add"
        style="cursor: pointer;">Add</button> -->
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12" style="padding-left:30px;padding-right:30px;">
    <smart-table *ngIf="issueDetails && issueDetails.length" [data]="table.data" [settings]="table.settings">
    </smart-table>
  </div>
</div>