nb-card-header{
    padding: 10px 15px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}
nb-card-body{
    padding:10px 15px;
}
:host ::ng-deep.tableFixHead {
    height: auto !important;
    max-height: calc(100vh - 80px);
}
.btn-primary{
    border-radius: 3px;
    border: 0px;
    text-transform: capitalize;
    float: left;
    padding: 8px 15px;
    width: 100%;
}


.pdf-icon{
    font-size: 30px;
    color: #9F0001;
}
.exel-icon{
    font-size: 30px;
    color: #217346;
}
.close{
    font-size: 32px;
    color: black;
}