@media print {
  .doNotPrint {
    display: none !important;
  }
}

print-section {
  z-index: 999;
}

.btn.doNotPrint {
  padding: 5px 10px;
  text-transform: capitalize;
  border-radius: 5px;
  border: none;
  cursor: pointer !important;
}

.pdf-icon {
  font-size: 30px;
  color: #9F0001;
}

.print-icon {
  font-size: 30px;
  color: rgb(136, 160, 196);
}
.lr-print-recipt{
  .recipt-header{
    padding: 15px;
    border-bottom: 1px solid #ccc;
    .site-logo{
      p{
        font-size: 25px;
        margin-bottom: 5px;
        font-weight: bold;
      }
      span{
        background-color: #ff3a3a;
        padding: 7px;
        border-radius: 15px;
        color: #fff;
        display: inline-block;
      }
    }
    .address{
      margin-bottom: 5px;
      label{
        float: left;
        margin-right: 10px;
        width: 94px;
        text-align: right;
      }
    }
  }
  .recipt-body{
    padding: 15px;
    .code-box{
      .code-numbox{
        width: 45%;
        float: left;
        text-align: center;
        p{
          background-color: #000;
          color: #fff;
          font-weight: bold;
          margin: 0px;
          padding: 8px 0px;
        }
        span{
          height: 40px;
          border: 1px solid #000;
          display: block;
          line-height: 40px;
          font-weight: bold;
          font-size: 16px;
        }
      }
      .bilty-chalan-no{
        float: right;
        width: 53%;
        text-align: center;
        margin-left: 5px;
        .chalan-no-box{
          border:1px solid #000;
          p{
            border-bottom: 1px solid #000;
            padding: 5px;
            margin: 0px;
          }
          span{
            display: block;
            padding: 4px 0px;
          }
        }
      }
    }
    .lr-customer-detail{
      border: 1px solid #000;
      overflow: hidden;
      border-radius: 20px;
      p{
        margin: 0px;
        padding: 8px 15px;
        label{
          margin: 0px;
          width: 90px;
        }
      }
      p + p{
        border-top: 1px solid #000;
      }
    }
    .lr-recipt-bil{
      margin-top: 20px;
      border-radius: 20px;
      border: 1px solid #000;
      overflow: auto;
      table{
        thead{
          border-bottom:1px solid #000;
          tr{
            th{
              padding:5px;
              text-align:center;
              border-right: 1px solid #000;
            }
            th:last-child{
              border-right: 0px;
            }
          }
        }
        tbody{
          tr{
            td{
              padding:5px; 
              text-align: center;
              border-right: 1px solid #000;
              p{
                margin: 0px;
                label{
                  margin: 0px;
                }
              }
            }
            td:first-child{
              text-align: left;
            }
            td:last-child{
              border-right: 0px;
            }
          }
        }
      }
    }
    .lr-description{
      margin: 15px 0px;
      text-align: justify;
    }
    .lr-other-info{
      p{
        margin: 5px 0px;
      }
      .advance{
        border: 1px solid #000;
        border-radius: 30px;
        padding: 5px 10px;
        span{
          width: 50%;
          display: inline-block;
        }
      }
      .ulp{
        font-size: 20px;
      }
    }
  }
  .invoice-detail{
    p{
      margin-bottom:10px;
      label{
        margin: 0px;
        width: 42%;
        font-weight: 500;
      }
      span{
        border-bottom: 1px solid #000;
        display: inline-block;
        width: 58%;
      }
    }
  }
  .transporter-name{
    border: 1px solid #000;
    border-radius: 20px;
    margin-top: 28px;
    .transporter-name-heading{
      border-bottom: 1px solid #000;
      text-align: center;
      p{
        padding: 10px;
        margin: 0px;
      }
    }
    .transporter-name-body{
      height: 94px;
      padding: 10px;
      p{
        margin: 0px;
      }
    }
  }
  .signature{
    border: 1px solid #000;
    padding: 15px;
    border-radius: 15px;
    margin-top: 28px;
    height: 90px;
    p{
      margin:0px;
    }
  }
  .signature_name{
    margin-top: 20px;
    text-align: right;
    p{
      margin: 0px;
      font-weight: bold;
    }
  }
}

.jr-layout {
  background: transparent;
  border: navajowhite;
  color: transparent;
  box-shadow: none;
}

.jr-layout option {
  background: teal;
  color: #fff;
}

.jr-layout .active {
  background: #000;
}
