<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">LR View</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <table class="table table-bordered table-hover">

      <tbody>
        <tr>
          <td colspan="3">
            <h2>Company Name</h2><br>
            <Address>address</Address>
          </td>
          <td>GR NO.</td>
          <td>Date</td>
        </tr>
        <tr>
          <td colspan="2">
            <h5>Consignor's Name & Address : </h5><br>
            <Address>address</Address>
          </td>
          <td colspan="2">
            <h5>Delivery Address : </h5><br>
            address
          </td>
          <td>
            <h5>Consignee's Name & Address : </h5><br>
            <Address>address</Address>
          </td>
        </tr>
        <tr>
          <td><h5>No. of Articles</h5></td>
          <td colspan="2"><h5>Particlars</h5></td>
          <td><h5>Weight (Tons)</h5></td>
          <td><h5>Payment:</h5></td>
        </tr>
        <tr>
          <td>loose</td>
          <td>test</td>
          <td>test</td>
          <td>test</td>
        </tr>
        <tr>
          <td colspan="4"></td>
          <td><h5>Payable Amount :</h5></td>
        </tr>
        <tr>
          <td colspan="4">
            Conditions
          </td>
          <td>Logistic Sign</td>
        </tr>
        <tr>
          <td colspan="4"><h5>website</h5></td>
        </tr>
      </tbody>
    </table>
 </div>