.accept{
    cursor: pointer;
}
.deny{
    margin-left: 8px;
    cursor: pointer;
}
nb-card-header{
    padding: 20px;  
    border: 1px solid #efefef;
}
nb-card-body{
    padding: 0px 20px 15px;
}
.tabset{
    padding: 0px;
    margin-bottom: 20px;
}
nb-card-body nb-tabset ul .tab a::before{
    background: #677078;
    background-image: none;
    border-radius: 0px;
}