.accept{
    cursor: pointer;
}
.deny{
    margin-left: 8px;
    cursor: pointer;
}
nb-card-header{
    padding: 20px;  
    border: 1px solid #efefef;
}
nb-card-body{
    padding: 0px 20px 15px;
}
[_nghost-c15] .tabset[_ngcontent-c15]{
    padding: 0px !important;
    margin-bottom: 20px!important;
}