.jrx-acc-th-inpt {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    background: transparent;
    border: none;
    font-size: 14px !important;
    outline: none;
}
.jrx-acc-th-inpt::placeholder {
    color: #fff !important;
    opacity: 1;
    font-size: 14px !important;
}