@media print {

    html {
        height: 100%;
    }

    @page {
        margin: 0;
    }

    body {
        margin: 0px;
        padding: 0px;
    }


    // used for body tag to hide other view
    .printing {
        ngx-app {
            display: none;
        }
    }

    // Set mozilla font size
    @-moz-document url-prefix() {
        .pp-container {
            font-size-adjust: 0.4;
        }
    }

    // print page warpper like as body
    .printing-page {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999999;
        background: #fff;
        padding: 50px 50px 0px 100px;
    }

    // print page container
    .pp-container {
        position: relative;
        background: #fff;
        height: 100%;


        .pp-v1-details {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .pp-v1-signature {
            position: fixed;
            bottom: 130px;
            left: 0;
            width: 100%;
            text-align: right;
            padding-right: 50px;

            div {
                display: inline-block;
                border-top: 2px solid #000;
                min-width: 150px;
                text-align: center;
                font-weight: 500;
                padding-top: 0px;
                margin-left: 25px;
                margin-right: 25px;
            }
        }

        .pp-v1-footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 0px 50px 20px 100px;
        }

    }

}