<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">Card Usage
    <i class="far fa-file-pdf" style="margin-left: 20px; margin-right: 10px; cursor: pointer;" (click)="downloadPDF()"></i>
    <i class="far fa-file-excel" style="cursor: pointer;" (click)="downloadCSV()"></i>
  </h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>

</div>
<div class="modal-body">

  <table *ngIf="cardUsage.length" class="table table-bordered" id="card-usage-details">
    <tr>
      <th>Category</th>
      <th>Vehicle</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Dealer</th>
      <th>Location</th>
    </tr>
    <tr *ngFor="let card of cardUsage">
      <td>{{ card.cardtype}}</td>
      <td (click)="openImageUploadModal(card)" style="color:blue">{{card.cardno}}</td>
      <td>{{card.datetime}}</td>
      <td>{{card.amount | number }}</td>
      <td>{{card.dealer}}</td>
      <td>{{card.location}}</td>
    </tr>
  </table>

  <!-- <smart-table *ngIf="cardUsage && cardUsage.length" id="cardUsage" [data]="table.data" [settings]="table.settings">
  </smart-table> -->
  <!-- <div class="mt-3">
    <smart-table *ngIf="cardUsage && cardUsage.length" id="cardUsage" [data]="table.data" [settings]="table.settings"></smart-table>
  </div>
  <div class="alert alert-danger text-center mt-3" *ngIf="!cardUsage || !datcardUsagea.length">
    <h4 class="no-record">No Record Found</h4>
  </div> -->
</div>