<nb-card style="border: 0px;margin-top: 15px !important;">
    <nb-card-body>
        <div class="row">
            <div class="col-2 pl-0">
                <div class="form-group">
                    <label class="tjr-label">Vehicle</label>
                    <auto-suggestion (onSelected)="getVehicle($event)" url="Suggestion/getFoVehicleList" display="regno" placeholder="Search by vehicle number and regno " [preSelected]="null"></auto-suggestion>
                </div>
            </div>
            <div class="col-2 pl-0">
                <div class="form-group">
                    <label class="tjr-label">Different Only</label>
                    <select [(ngModel)]="request" id="diffrenttype" class="form-control tjr-input">
              <option value="False">No</option>
              <option value="True">Yes</option>
            </select>
                </div>
            </div>
            <div class="col-3 pl-0">
                <!-- <div class="form-group">
                    <label>Start Date</label>
                    <uj-date-time-picker (onChanged)="startDate = $event" [dateTimeValue]="startDate" [isTime]=false>
                    </uj-date-time-picker>
                </div> -->
                <div class="form-group">
                    <label class="tjr-label">Start Date</label>
                    <input type="text" style="cursor: pointer;" class="form-control tjr-input" autocomplete="off"
                      id="startdate" placeholder="Select Date" name="account-date" [(ngModel)]="accountService.fromdate"
                      maxlength="10">
                  </div>
            </div>
            <div class="col-3 pl-0">
                <!-- <div class="form-group">
                    <label>End Date</label>
                    <uj-date-time-picker (onChanged)="endDate = $event" [dateTimeValue]="endDate" [isTime]=false [isStart]="false">
                    </uj-date-time-picker>
                </div> -->
                <div class="form-group">
                    <label class="tjr-label">End Date</label>
                    <input type="text" style="cursor: pointer;" class="form-control tjr-input" autocomplete="off" id="enddate"
                      placeholder="Select Date" name="account-enddate" [(ngModel)]="accountService.todate" maxlength="10">
                  </div>
            </div>
            <div class="col-2 pl-0 mt-4">
                <button class="btn btn-primary" id="button" (click)="getTripExpenseTally()" style="border-radius:2px;padding: 6px 17px;">Submit</button>
            </div>
        </div>
        <div class="modal-footer">
            <div class="no-data alert alert-danger" role="alert" *ngIf="tripExpense.length==0">
                No Data Available On That Time Period !
            </div>

            <div>
                <smart-table *ngIf="tripExpense.length>0" [data]="table.data" [settings]="table.settings"></smart-table>
            </div>
        </div>
    </nb-card-body>