<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Add Site Rule</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <form enctype="multipart/form-data" #myForm="ngForm" id="site-form" name="site-form">
      <div class="row">
        <div class="col-md-6">
          <label>Fo User</label>
        </div>
        <div class="col-md-6">
          <auto-suggestion (onSelected)="selectFoUser($event)" url="Suggestion/getFoUsersList" display="name"
            placeholder="Fo User" [preSelected]="null"></auto-suggestion>
          <div class="suggestions ng-star-inserted">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label>PreSit Name</label>
        </div>
        <div class="col-md-6">
            <auto-suggestion (onSelected)="addSite.preSiteId = $event.id" url="Suggestion/getSites?typeId=1" display="name"
            placeholder="Search Presite" [preSelected]="null"></auto-suggestion>
         
          <div class="suggestions ng-star-inserted">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label>CurrentSite Name</label>
        </div>
        <div class="col-md-6">
            <auto-suggestion (onSelected)="addSite.currSiteId = $event.id" url="Suggestion/getSites?typeId=1" display="name"
            placeholder="Search CurrentSite" [preSelected]="null"></auto-suggestion>
          <div class="suggestions ng-star-inserted">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label>Material Name</label>
        </div>
        <div class="col-md-6">
          <auto-suggestion (onSelected)="searchMaterialType($event)" url="Suggestion/GetMaterialTypes" display="name"
            placeholder="Material Name" [preSelected]="null"></auto-suggestion>
          <div class="suggestions ng-star-inserted">
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <label>Body Type</label>
        </div>
        <div class="col-md-6">
          <select name="body" class="form-control " [(ngModel)]="addSite.selectedBodyTypeId" (ngModel)="selectBody($event)">
            <option class="form-control" *ngFor="let body of bodyType" [value]="body.id">{{body.name}}</option>
          
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label>Rule Type</label>
        </div>
        <div class="col-md-6">
          <select name="rule" class="form-control " [(ngModel)]="addSite.ruleTypeId" (ngModel)="selectRule($event)">
            <option class="form-control" *ngFor="let rule of ruleType" [value]="rule.id">{{rule.name}}</option>
            
          </select>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col">
      <button class="btn btn-danger" type="button" outline (click)="closeModal(false)" id="cancel"
        style="cursor: pointer;">close</button>
    </div>

    <div class="col text-right">
      <button class="btn btn-primary" form="site-form" type="submit" outline (click)="addSiteRule()" id="submit"
        style="cursor: pointer;">Submit</button>
    </div>
  </div>
</div>