.btn-primary {
    padding: 6px 15px;
    border-radius: 5px;
    border: 0px;
    text-transform: capitalize;
    cursor: pointer !important;
    width: 100%;
}

.xScale {
    margin-left: 487px;
    font-size: 16px;
}