<nb-card style="border:0px;">
    <nb-card-body style="padding:15px 15px 0px;">
        <div class="model-body">
            <div class="row">
                <div class="col-sm-3">
                    <select [(ngModel)]="trendType" class="form-control" (change)="getCategoryDayMonthWeekWise()"
                        style=" border: 1px solid #324148; font-size: 10px">
                        <option value="11">Loading</option>
                        <option value="21">Unloading</option>
                        <option value="0">Onward</option>
                        <option value="31">Onward - KMPD</option>
                    </select>
                </div>
                <div class="col-sm-3" *ngIf="showPeriod">
                    <select [(ngModel)]="period" class="form-control" (change)="foTrendsData()"
                        style=" border: 1px solid #324148; font-size: 10px">
                        <option value="1">Day</option>
                        <option value="2">Week</option>
                        <option value="3">Month</option>
                    </select>
                </div>
                <div class="col-sm-3" *ngIf="(period=='2') && trendType!='31'">
                    <select [(ngModel)]="weekMonthNumber" class="form-control" (change)="getweeklyMothlyTrend()"
                        style=" border: 1px solid #324148; font-size: 10px">
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                    </select>
                </div>
                <div class="col-sm-3" *ngIf="(period=='3') && trendType!='31'">
                    <select [(ngModel)]="weekMonthNumber" class="form-control" (change)="getweeklyMothlyTrend()"
                        style=" border: 1px solid #324148; font-size: 10px">
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </div>
                <div class="col-sm-2" *ngIf="period == '1' || trendType=='31'">
                    <uj-date-time-picker (onChanged)="startDate=$event" [dateTimeValue]="startDate" [isTime]="false">
                    </uj-date-time-picker>
                </div>
                <div class="col-sm-2" *ngIf="period == '1' || trendType=='31'">
                    <uj-date-time-picker (onChanged)="endDate=$event" [dateTimeValue]="endDate" [isTime]="false"
                        [isStart]="false">
                    </uj-date-time-picker>
                </div>
                <div class="col-sm-2" *ngIf="period == '1' || trendType=='31'">
                    <button class="btn btn-primary" (click)="foTrendsData()">submit</button>
                </div>
            </div>
            <div class="border" style="height:2px; color:darkslategray;margin-top: 10px; margin-bottom: 10px"></div>
            <div class="row">
                <div class="col-sm-1 pr-0 text-right" style="padding-top:50px">
                    <label style="font-size:16px">{{yScale}}</label>
                </div>
                <div class="col-sm-11">
                    <chart [type]="chartObject.type" [data]="chartObject.data"
                        style="margin-right:5px;min-height: 200px;" [options]="chartObject.options"></chart>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label class="xScale">{{xScale}}</label>
                </div>
            </div>

        </div>
    </nb-card-body>
</nb-card>