<div class="contentsection">
    <div class="row mb-2 mr-0 mb-0">
      <div class="col-6 pl-0">
        <div class="outer" style="min-height: 300px;">
          <h6 style="text-align:center"><b class="charthead">Avg UnLoad Time Graph</b></h6>
          <p style="text-align: right; margin-top: -25px;" class="link"
          (click)="getDetials('Tmgreport/GetUnLoadingtat',{groupdays: 7,totalrecord: 3,stepno: -1},30)"><i title="More Details" title="More Details"
            class="fa fa-list"></i></p>
          <chart [type]="chart.type" [data]="chart.data" style="margin-right:5px;margin-top:-20px;min-height: 250px;max-height: 250px;"
          [options]="chart.options">
        </chart>
        </div>
      </div>
      <div class="col-6 pl-0">
        <div class="outer" style="min-height: 150px;">
          <h6 style="text-align:center"><b class="charthead">Worst 3 Consignee (1 Month)</b></h6>
          <p style="text-align: right; margin-top: -25px;" class="link"
          (click)="getDetials('Tmgreport/GetUnLoadingWorstConsignee',{groupdays: 7,totalrecord: 3,stepno: -1},30)"><i title="More Details" title="More Details"
            class="fa fa-list"></i></p>
          <table class="table table-bordered">
            <thead class="thead">
              <th>Consignee</th>
              <th>Trips Count</th>
              <th>Duration (Hrs)</th>
            </thead>
            <tbody class="tbody">
              <tr *ngFor="let uwc of unLoadingWorstConsignee1month">
                <td class="link" (click)="getDetials(uwc._url,{ts:'tst',fromdate:uwc._fromdate,todate:uwc._todate,stepno:'1',totalrecord:'3',jsonparam:uwc.consignee})">{{uwc['consignee']}}</td>
                <td>{{uwc['tripcount']}}</td>
                <td>{{uwc['duration_Hrs']}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="outer" style="min-height: 150px;">
          <h6 style="text-align:center"><b class="charthead">Worst 3 Consignee (6 Month)</b></h6>
          <p style="text-align: right; margin-top: -25px;" class="link"
          (click)="getDetials('Tmgreport/GetUnLoadingWorstConsignee',{groupdays: 7,totalrecord: 3,stepno: -1},180)"><i title="More Details" title="More Details"
            class="fa fa-list"></i></p>
          <table class="table table-bordered">
            <thead class="thead">
              <th>Consignee</th>
              <th>Trips Count</th>
              <th>Duration (Hrs)</th>
            </thead>
            <tbody class="tbody">
              <tr *ngFor="let uwc of unLoadingWorstConsignee">
                <td class="link" (click)="getDetials(uwc._url,{ts:'tst',fromdate:uwc._fromdate,todate:uwc._todate,stepno:'1',totalrecord:'3',jsonparam:uwc.consignee})">{{uwc['consignee']}}</td>
                <td>{{uwc['tripcount']}}</td>
                <td>{{uwc['duration_Hrs']}}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    </div>
     <div class="row mb-2 mr-0 mb-0">
      <div class="col-6 pl-0">
        <div class="outer" style="min-height: 300px;">
          <h6 style="text-align:center"><b class="charthead">Detention Trend</b></h6>
          <p style="text-align: right; margin-top: -25px;" class="link"
          (click)="getDetials('Tmgreport/GetUnLoadingWorstDestination',{groupdays: 7,totalrecord: 3,stepno: -1},30)"><i title="More Details" title="More Details"
            class="fa fa-list"></i></p>
          <chart *ngIf="chart1.type" [type]="chart1.type" [data]="chart1.dataSet" style="margin-right:5px;min-height: 300px;max-height: 300px;"
          [options]="chart1.options"></chart>
          <!-- <table class="table table-bordered">
            <thead class="thead">
              <th>Location</th>
              <th>Trips</th>
              <th>Duration (HH:MM)</th>
            </thead>
            <tbody class="tbody">
              <tr *ngFor="let uwd of unloadingWorstDestination">
                <td>{{uwd['destination']}}</td>
                <td>{{uwd['tripcount']}}</td>
                <td>{{uwd['duration_Hrs']}}</td>
              </tr>
            </tbody>
          </table> -->
        </div>
      </div>
      <div class="col-6 pl-0">
        <div class="outer" style="min-height: 150px;">
          <h6 style="text-align:center"><b class="charthead">Worst Transporter (1 Month)</b></h6>
          <p style="text-align: right; margin-top: -25px;" class="link"
          (click)="getDetials('Tmgreport/getUnLoadingWorstTransportar',{groupdays: 7,totalrecord: 3,stepno: -1},30)"><i title="More Details" title="More Details"
            class="fa fa-list"></i></p>
          <table class="table table-bordered">
            <thead class="thead">
              <th>Transporter</th>
              <th>Trips Count</th>
              <th>Duration (Hrs)</th>
            </thead>
            <tbody class="tbody">
              <tr *ngFor="let uwt of unLoadingWorstTransportar">
                <td (click)="getDetials(uwt._url,{ts:'tst',fromdate:uwt._fromdate,todate:uwt._todate,stepno:'1',totalrecord:'3',jsonparam:uwt.transporter})">{{uwt['transporter']}}</td>
                <td>{{uwt['tripcount']}}</td>
                <td>{{uwt['duration_Hrs']}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="outer" style="min-height: 150px;">
          <h6 style="text-align:center"><b class="charthead">Worst Transporter (6 Month)</b></h6>
          <p style="text-align: right; margin-top: -25px;" class="link"
          (click)="getDetials('Tmgreport/getUnLoadingWorstTransportar',{groupdays: 7,totalrecord: 3,stepno: -1},180)"><i title="More Details" title="More Details"
            class="fa fa-list"></i></p>
          <table class="table table-bordered">
            <thead class="thead">
              <th>Transporter</th>
              <th>Trips Count</th>
              <th>Duration (Hrs)</th>
            </thead>
            <tbody class="tbody">
              <tr *ngFor="let uwt of unLoadingWorstTransportar1month">
                <td (click)="getDetials(uwt._url,{ts:'tst',fromdate:uwt._fromdate,todate:uwt._todate,stepno:'1',totalrecord:'3',jsonparam:uwt.transporter})">{{uwt['transporter']}}</td>
                <td>{{uwt['tripcount']}}</td>
                <td>{{uwt['duration_Hrs']}}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
     
    </div>
    
  </div>