<div class="">
    <div class="outer liveload-1" style="min-height: 130px;">
      <h6 style="text-align:center"><b class="charthead">Live Traffic Status </b></h6>
      <p style="text-align: right; margin-top: -25px;" class="link"
      (click)="getDetials('Tmgreport/GetTrafficLiveStatus',{totalrecord: 3,stepno: -1},30)"><i title="More Details" class="fa fa-list"></i>
    </p>
      <chart [type]="chart.type" [data]="chart.data" style="margin-right:0px;margin-top:0px;min-height: 200px;max-height: 200px;"
      [options]="chart.options"  (clickElement)="chart2Clicked($event)"></chart>
    </div>
  </div>