<div class="modal-header">
  <h5>Bank Details</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
  <div class="hdfc-bank">
    <table class="table table-borderd">
      <thead>
        <tr>
          <th colspan="2">HDFC BANK - SPECIAL</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>PAYEE NAME</td>
        <td>ELOGIST SOLUTIONS PRIVATE LIMITED</td>
      </tr>
        <tr>
          <td>A/C No.</td>
          <td>ELOGIS{{foMobileNo}}</td>
        </tr>
        <tr>
        <td>IFSC CODE</td>
        <td>HDFC0004989</td>
      </tr>
      <tr>
        <td>BRANCH</td>
        <td>KANJURMARG,MUMBAI</td>
      </tr>
    </tbody>
    </table>
  </div>
  <div class="icici-bank">
    <table class="table table-borderd">
      <thead>
        <tr>
          <th colspan="2">ICICI BANK</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>PAYEE NAME</td>
        <td>ELOGIST SOLUTIONS PRIVATE LIMITED</td>
      </tr>
        <tr>
          <td>A/C No.</td>
          <td>167605000447</td>
        </tr>
        <tr>
        <td>IFSC CODE</td>
        <td> ICIC0001676</td>
      </tr>
      <tr>
        <td>BRANCH</td>
        <td>WEALTH BRANCH, SAROJINI MARG RAJASTHAN – 302001</td>
      </tr>
    </tbody>
    </table>
  </div>
  <div class="sbi-bank">
    <table class="table table-borderd">
      <thead>
        <tr>
          <th colspan="2">SBI BANK</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>PAYEE NAME</td>
        <td>ELOGIST SOLUTIONS PRIVATE LIMITED</td>
      </tr>
        <tr>
          <td>A/C No.</td>
          <td>0036195769248</td>
        </tr>
        <tr>
        <td>IFSC CODE</td>
        <td> SBIN0017635</td>
      </tr>
      <tr>
        <td>BRANCH</td>
        <td>Mahesh Nagar ,JAIPUR</td>
      </tr>
    </tbody>
    </table>
  </div>
  <div class="axis-bank">
    <table class="table table-borderd">
      <thead>
        <tr>
          <th colspan="2">AXIS BANK</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>PAYEE NAME</td>
        <td>ELOGIST SOLUTIONS PRIVATE LIMITED</td>
      </tr>
        <tr>
          <td>A/C No.</td>
          <td>916020083174894</td>
        </tr>
        <tr>
        <td>IFSC CODE</td>
        <td> UTIB0000433</td>
      </tr>
      <tr>
        <td>BRANCH</td>
        <td>SANGANER,JAIPUR-302030</td>
      </tr>
    </tbody>
    </table>
  </div>
  <div class="axis-bank">
    <table class="table table-borderd">
      <thead>
        <tr>
          <th colspan="2">PUNJAB NATIONAL BANK</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>PAYEE NAME</td>
        <td>ELOGIST SOLUTIONS PRIVATE LIMITED</td>
      </tr>
        <tr>
          <td>A/C No.</td>
          <td>7828002100001168</td>
        </tr>
        <tr>
        <td>IFSC CODE</td>
        <td> PUNB0782800</td>
      </tr>
      <tr>
        <td>BRANCH</td>
        <td>TRIVENI NAGAR,JAIPUR– 302030</td>
      </tr>
    </tbody>
    </table>
  </div>
</div>
 
<div class="modal-footer mt-2">
  <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
</div>