.in-out-radio {
    input {
        margin-top: 0px;
        margin-right: 5px;
        vertical-align: middle;
        width: 18px;
        height: 18px;
    }
    span {
        font-weight: normal;
        font-size: 16px;
    }
}