nb-card-header {
  padding: 10px 15px;
  border: 1px solid #efefef;
  margin-bottom: 10px;
}
.tabset {
  padding: 0px !important;
  margin-bottom: 20px !important;
}
nb-card-body {
  padding: 0px 20px 15px;
}
.alert-danger {
  color: #721c24 !important;
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 12px !important;
  font-size: 18px !important;
}
// For Smart Table
.modal-header {
  padding: 10px 15px;
}
.headings {
  background: #e2e2e2;
  font-size: 11px;
  font-weight: 500;
}
.data {
  font-size: 10px;
  border-bottom: 1px solid #e2e2e2;
  min-height: 20%;
}

.data ion-col,
.headings ion-col {
  padding: 3px;
  border-left: 1px solid #f2f2f2;
}
:host ::ng-deep.blue {
  color: blue;
  font-weight: 700;
}
:host ::ng-deep.black {
  color: black;
  background: cornsilk;
  // display: none;
}
:host ::ng-deep.red {
  background: red;
  color: #fff;
  margin-left: 5px;
}
:host ::ng-deep.pink {
  background: pink;
  color: black;
}
:host ::ng-deep.green {
  background: #0bff0b;
  color: black;
}

:host ::ng-deep.default {
  background: transparent;
  border: transparent;
}
:host ::ng-deep.icon {
  width: 20px;
  text-align: center;
  background-color: #ccc;
  border-radius: 3px;
  height: 20px;
  line-height: 22px;
  margin: 3px;
}

// :host ::ng-deep .fa-pencil-square-o{
//   background-color: #04a9f5;
//   color: #fff;
// }
// :host ::ng-deep .fa-trash{
//   background-color: #f00;
//   color: #fff;
// }
:host ::ng-deep .fa-handshake-o {
  background-color: #1dddc6;
  color: #fff;
}
:host ::ng-deep.image {
  color: #0e0e3a;
  font-size: 18px;
}

:host ::ng-deep .circle {
  border: 1px solid gray;
  border-radius: 50%;
  padding: 3px 4px;
}
.route-arrow {
  font-size: 20px;
  vertical-align: middle;
  margin: 0px 5px;
}
:host ::ng-deep .complete {
  vertical-align: middle;
  color: green;
}

.exit {
  vertical-align: middle;
  margin-right: 3px;
}
.loaded {
  font-weight: bold;
}
.search-box {
  background: #fff;
  font-size: 13px;
  padding: 6px 8px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  vertical-align: middle;
  margin-left: 10px;
  width: 60%;
  letter-spacing: 0.3px;
  color: #000;
}
table {
  cursor: pointer;
}
.modal-dialog {
  width: 100% !important;
}
.modal-lg {
  max-width: 1200px !important;
}
smart-table .tableFixHead {
  height: 74vh !important;
}
.close {
  font-size: 36px;
  padding: 8px 16px;
}
.model-body .btn-primary {
  border-radius: 3px;
  border: 0px;
  text-transform: capitalize;
  float: left;
  padding: 8px 15px;
}
input[type="text"] {
  width: 100%;
  height: 30px;
  padding-left: 5px;
  font-size: 13px;
  border: 1px solid #324148;
  border-radius: 3px;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}
:host ::ng-deep .tableFixHead {
  max-height: calc(100vh - 202px);
  height: auto !important;
}
:host ::ng-deep td .zoom {
  background: linear-gradient(-135deg, #1de9b6 0, #1dc4e9 100%);
  display: inline-block;
  padding: 3px 8px;
  border-radius: 3px;
  color: #fff;
}

:host ::ng-deep .i-red-cross {
  color: red;
  font-size: 18px;
}

:host ::ng-deep .i-green {
  color: green;
  font-size: 18px;
}

:host ::ng-deep .fa-image {
  span {
    position: absolute;
    display: none;
    padding: 10px 26px;
    font-weight: normal;
    font-size: 11px;
    left: -12px;
    top: -28px;
    -webkit-box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    z-index: 9999;
  }
  span::before {
    content: "Image";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #008000;
    border-radius: 3px;
    padding: 5px 10px;
    color: #fff;
    width: 100%;
  }
  span::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #008000;
    position: absolute;
    bottom: -5px;
    right: 24px;
  }
}
:host ::ng-deep .fa-image:hover span {
  display: block;
}
:host ::ng-deep .fa-check {
  span {
    position: absolute;
    display: none;
    font-weight: normal;
    top: -28px;
    padding: 10px 32px;
    font-weight: 400;
    font-size: 11px;
    left: -27px;
    -webkit-box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    z-index: 9999;
  }
  span::before {
    content: "Receipt";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #008000;
    border-radius: 3px;
    padding: 5px 10px;
    color: #fff;
    width: 100%;
  }
  span::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #008000;
    position: absolute;
    bottom: -5px;
    right: 24px;
  }
}
:host ::ng-deep .fa-check:hover span {
  display: block;
}

:host ::ng-deep .fa-list {
  span {
    position: absolute;
    display: none;
    padding: 10px 30px;
    font-weight: normal;
    font-size: 11px;
    left: -22px;
    top: -28px;
    -webkit-box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    z-index: 9999;
  }
  span::before {
    content: "Details";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #008000;
    border-radius: 3px;
    padding: 5px 10px;
    color: #fff;
    width: 100%;
  }
  span::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #008000;
    position: absolute;
    bottom: -5px;
    right: 24px;
  }
}
:host ::ng-deep .fa-list:hover span {
  display: block;
}
:host ::ng-deep .fa-image.i-red-cross,
:host ::ng-deep .fa-check.i-red-cross,
:host ::ng-deep .fa-list.i-red-cross {
  span::before {
    background-color: #ff0000;
  }
  span::after {
    border-top: 5px solid #ff0000;
  }
}

:host ::ng-deep .fa-image.i-green,
:host ::ng-deep .fa-check.i-green,
:host ::ng-deep .fa-list.i-green {
  span::before {
    background-color: #008000;
  }
  span::after {
    border-top: 5px solid #008000;
  }
}

:host ::ng-deep .fa-print {
  background-color: #008000;
  color: #fff;
  span {
    position: absolute;
    display: none;
    padding: 12px 30px;
    font-weight: normal;
    font-size: 11px;
    left: -18px;
    top: -33px;
    line-height: 14px;
    -webkit-box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    z-index: 9999;
  }
  span::before {
    content: "Print";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #008000;
    border-radius: 3px;
    padding: 5px 10px;
    color: #fff;
    width: 100%;
  }
  span::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #008000;
    position: absolute;
    bottom: -5px;
    right: 24px;
  }
}
:host ::ng-deep .fa-print:hover span {
  display: block;
}

:host ::ng-deep .fa-pencil-square-o {
  background-color: #04a9f5;
  color: #fff;
  span {
    position: absolute;
    display: none;
    padding: 12px 46px;
    font-weight: normal;
    font-size: 11px;
    left: -50px;
    top: -34px;
    line-height: 15px;
    -webkit-box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    z-index: 9999;
  }
  span::before {
    content: "Generate";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #04a9f5;
    border-radius: 3px;
    padding: 5px 10px;
    color: #fff;
    width: 100%;
  }
  span::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #04a9f5;
    position: absolute;
    bottom: -5px;
    right: 24px;
  }
}
:host ::ng-deep .fa-pencil-square-o:hover span {
  display: block;
}

:host ::ng-deep .fa-trash {
  background-color: #f00;
  color: #fff;
  span {
    position: absolute;
    display: none;
    padding: 12px 33px;
    font-weight: normal;
    font-size: 11px;
    left: -24px;
    top: -33px;
    line-height: 14px;
    -webkit-box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    z-index: 9999;
  }
  span::before {
    content: "Delete LR";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #f00;
    border-radius: 3px;
    padding: 5px 10px;
    color: #fff;
    width: 100%;
  }
  span::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #f00;
    position: absolute;
    bottom: -5px;
    right: 24px;
  }
}
:host ::ng-deep .fa-trash:hover span {
  display: block;
}

:host ::ng-deep .fa-handshake-o {
  background-color: #1dddc6;
  color: #fff;
  span {
    position: absolute;
    display: none;
    padding: 12px 50px;
    font-weight: normal;
    font-size: 11px;
    left: -59px;
    top: -35px;
    line-height: 14px;
    -webkit-box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    z-index: 9999;
  }
  span::before {
    content: "TripSettlement";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #1dddc6;
    border-radius: 3px;
    padding: 5px 10px;
    color: #fff;
    width: 100%;
  }
  span::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #1dddc6;
    position: absolute;
    bottom: -5px;
    right: 24px;
  }
}
:host ::ng-deep .fa-handshake-o:hover span {
  display: block;
}
