<nb-card style="border:0px;">
  <nb-card-header>
    <div class="row">
      <div class="col-sm-9">
        <h5>Lorry Receipts</h5>
      </div>
      <div class="col-sm-1">
        <i class="fa fa-file-pdf" (click)="common.getPDFFromTableId('tblLorryReceipt')"></i>
      </div>
      <div class="col-sm-2 text-right">
        <button (click)="openGenerateLr(false)" *ngIf="user.permission.add" class="btn btn-primary">LR Generate</button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <table style="width: 100%">
      <tr>
        <td>
          <label>Gen. By</label>
          <select class="form-control" name="viewType" [(ngModel)]="viewType">
            <option value="allLR">All</option>
            <option value="myLr">Self</option>
          </select>
        </td>
        <td>
          <label>Category</label>
          <select [(ngModel)]="lrCategory" class="form-control" style=" border: 2px solid darkcyan; font-size: 13px">
            <option value="0">FTL</option>
            <option value="1">LTL</option>
            <option value="-1">All</option>
          </select>
        </td>
        <td>
          <label>From :</label>
          <input type="text" class="form-control" [value]="startDate | date : 'dd MMM yyyy'" name="date"
            placeholder="Start Date" (click)="getDate('start')">
        </td>
        <td>
          <label>To :</label>
          <input type="text" class="form-control" [value]="endDate | date : 'dd MMM yyyy'" name="date1"
            placeholder="End Date" (click)="getDate('end')">
        </td>
        <td>
          <label>LR Status</label>
          <select [(ngModel)]="lrType" class="form-control" style=" border: 2px solid darkcyan; font-size: 13px">
            <option value="0">Pending</option>
            <option value="1">Complete</option>
            <option value="-1">Rejected</option>
            <option value="2">All</option>
          </select>
        </td>

        <td>
          <label>Vehicle Type</label>
          <select class="form-control" style=" border: 2px solid darkcyan; font-size: 13px" [(ngModel)]="vehicleType">
            <option value="-1">All</option>
            <option value="1">Own</option>
            <option value="2">Group</option>
            <option value="3">Market</option>
          </select>
        </td>
        <td>
          <label>Search String</label>
          <select class="form-control" style=" border: 2px solid darkcyan; font-size: 13px" [(ngModel)]="searchString">
            <option value="veh">Vehicle</option>
            <option value="lr">LR No</option>
            <option value="consigner">Consigner</option>
            <option value="consignee">Consignee</option>
            <option value="ta">TA</option>
            <option value="source">Source</option>
            <option value="dest">Destination</option>
            <option value="supplier">Supplier</option>
          </select>
        </td>
        <td>
          <label>Search Value</label>
          <input type="text" class="form-control" [(ngModel)]="searchValue" autocomplete="off" name="searchValue">
        </td>


        <td>
          <button class="btn btn-primary m-0 p-0 w-100 text-capitalize" (click)="getLorryReceipts()">submit</button>
        </td>
      </tr>
    </table>
    <div id = "lr-table">
      <smart-table *ngIf="receipts && receipts.length" [data]="table.receipts" [settings]="table.settings"
        id="tblLorryReceipt">
      </smart-table>
      <div class="no-data alert alert-danger" role="alert" *ngIf="receipts.length==0">
        No Data available !
      </div>
    </div>
    <div class="col-sm-4" style="text-align: right">
      <!-- <button (click)="printInvoice(false)" class="btn btn-primary">Print Invoice</button> -->
      <!-- <button (click)="addTransportAgent()" class="btn btn-primary">Add Transport Agent</button>
      <button (click)="RefData()" class="btn btn-primary">Reference Data</button> -->
    </div>


  </nb-card-body>
</nb-card>
<router-outlet></router-outlet>