<nb-card style="margin: 0px; border:0px;">
  <!-- <nb-card-header>
    <h4>Stock Types</h4>
  </nb-card-header> -->
  <nb-card-body>
<button class="btn mb-4 add-button" (click)="openStockTypeModal()"><i class="fa fa-plus"></i></button>
<table class="table table-bordered">
  <thead style="background-color: #263238; color:#fff;">
      <tr>
          <th>#</th>
          <th>Name</th>
          <th>Code</th>
          <th>Date</th>
          <!-- <th>Action</th> -->
        </tr>
  </thead>
  <tbody>
      <tr *ngFor="let stockType of stockTypes; let i = index;" (click)="selectedRow = i"
      (dblclick)="openStockTypeModal(stockType)" (enter)="openStockTypeModal(stockType)"
      [ngClass]="{'highlight' : selectedRow == i}">
          <td>{{i + 1}}</td>
          <td>{{stockType.name}}</td>
          <td>{{stockType.code}}</td>
          <td>{{stockType.entry_dt | date : 'dd MMM HH:mm'}}</td>
          <!-- <td><button class="btn" (click)="openStockTypeModal(stockType)"><i class="fa fa-edit"></i></button></td> -->
        </tr>
  </tbody>
  
</table>
</nb-card-body>
</nb-card>