<nb-card style="margin: 0px; border:0px;">
  <!-- <nb-card-header>
    <h4>Stock Types</h4>
  </nb-card-header> -->
  <nb-card-body>
    <div class="modal-header" *ngIf="pageName">
      <h5>Stock Types</h5>
      <button type="button" class="close" aria- label="Close" (click)="modelCondition()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <button class="btn mb-4 add-button" (click)="openStockTypeModal()"><i class="fa fa-plus"></i></button>
    <div class="main">
      <table class="table table-bordered stocktype_tabel">
        <thead style="background-color: #263238; color:#fff;">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Code</th>
            <th>Service</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stockType of stockTypes; let i = index;" (click)="selectedRow = i"
            (dblclick)="openStockTypeModal(stockType)" (enter)="openStockTypeModal(stockType)"
            [ngClass]="{'highlight' : selectedRow == i}">
            <td *ngIf="stockType.id !=0" >{{i}}</td>
            <td *ngIf="stockType.id !=0">{{stockType.name}}</td>
            <td *ngIf="stockType.id !=0">{{stockType.code}}</td>
            <td *ngIf="stockType.id !=0">{{(stockType.is_service == true) ? 'True' : False }}</td>
            <td *ngIf="stockType.id !=0">{{stockType.entry_dt | date : 'dd-MMM-yy'}}</td>
            <td class="del" *ngIf="stockType.id !=0">
              <a href="javascript: void(0);" class="delete" title="Delete " (click)="delete(stockType.id)"><i
                  class="fa fa-trash"></i></a>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
    <div class="modal-footer" *ngIf="pageName">
      <div class="row">
        <div class="col">
          <button class="btn btn-danger" type="button" outline (click)="modelCondition()" id="cancel"
            style="cursor: pointer;">Cancel</button>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>