.modal-header{
    padding: 10px 15px !important;
}
.close{
    font-size: 36px;
    padding: 8px 16px;
}
.modal-footer{
    align-items: inherit;
    justify-content: center;
    button{
        margin: 0px;
        background-color: #000;
        color: #fff;
        padding: 8px 20px;
        border-radius: 5px;
        display: block;
        height: auto;
        width: auto;
        outline: none;
    }
}