
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Placement Optimisation</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <nb-card>
    <nb-card-body style="overflow:inherit;padding-top: 0px;">
      <div class="row">
          <div class="col-sm-12">
              <div class="col-sm-4">
                  <table class="table table-bordered">
                      <tbody>
                          <tr>
                              <td></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <div class="col-sm-8"  style="height:500px;width:100%">
                  <div id="placement-map" style="height: 500px;"></div>
              </div>
          </div>
      </div>
    </nb-card-body>
  </nb-card>