<div class="modal-header">
  <h6 style="color:white">Placement Cost</h6>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<nb-card>
  <nb-card-body>
    <div class="row mt-3" style="width:100%;overflow-x:scroll;">
      <div class="col-sm-12 p-0">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th><label>Vehicle Id</label></th>
              <th><label>Cost/Km Load</label></th>
              <th><label>Cost/Km Unload</label></th>
              <th><label>Km/Day Load</label></th>
              <th><label>Km/Day Unload</label></th>
              <th><label>Cost/Hr</label></th>
              <th><label>Action</label></th>
            </tr>
          </thead>

          <tbody>

            <tr *ngFor="let item of items; let j= index">
              <td>
                <auto-suggestion (onSelected)="selectVehicle($event, j);" url="suggestion/getVehicleList" display="regno"
                  placeholder="Search Vehicle" [preSelected]="null">
                </auto-suggestion>
              </td>

              <td>
                <input type="number" [(ngModel)]="item.costPerLoadKm" min=0 oninput="validity.valid||(value='');"
                  class="form control" placeholder="Cost/Load Km">
              </td>

              <td>
                <input type="number"  [(ngModel)]="item.costPerUnloadKm" min=0 oninput="validity.valid||(value='');"
                  class="form control" placeholder="Cost/Km Unload">
              </td>

              <td>
                <input type="number"  [(ngModel)]="item.kmPerDayLoad" min=0 oninput="validity.valid||(value='');"
                  class="form control" placeholder="Km/Day Load">
              </td>

              <td>
                <input type="number"  [(ngModel)]="item.kmPerDayUnload" min=0 oninput="validity.valid||(value='');"
                  class="form control" placeholder="Km/Day Unload">
              </td>

              <td>
                <input type="number" [(ngModel)]="item.costPerHour" min=0 oninput="validity.valid||(value='');"
                  class="form control" placeholder="Cost/Hr">
              </td>

              <td style="padding: 0px;">
                <span><i class="fa fa-plus add" (click)="addMoreItems(j)" *ngIf="j == items.length-1" style="padding: 1px;
                              color: green;"></i>
                  <i class="fa fa-minus minus" (click)="items.splice(j,1)" *ngIf="j !== 0" style="padding: 1px;
                            color: red;"></i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>

        <div style="float: right;" >
          <button class="btn btn-primary" (click)="savePlacementCost()">Submit</button>
        </div>
      </div>

      <div class="row mt-2">
        <smart-table *ngIf="data && data.length && table" [data]="table.data" [settings]="table.settings"
          id="cardDetails">
        </smart-table>
      </div>
    </div>
  </nb-card-body>
</nb-card>
