<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">Kpis Details</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="previous-data col-sm-12"
  style=" font-size: 14px; margin-bottom: 15px; margin-top: 15px; color: darkblue;font-weight: 500;">
  <table class="table table-bordered">
    <thead class="thead" style="text-align:center">
      <th>Vehicle RegNo</th>
      <th>Status</th>
      <th>Hrs</th>
      <th>Trip</th>
      <th>KMPD</th>
      <th>Location</th>
    </thead>
    <tbody>
      <tr>
        <td>{{kpi.x_showveh}} </td>
        <td>{{kpi.showprim_status}}</td>
        <td>{{kpi.x_hrssince}}</td>
        <!-- <td><span>{{kpi.x_showtripstart}}</span> <span *ngIf="kpi.x_showtripend"> ->
            {{kpi.x_showtripend}} </span></td> -->
        <td [innerHTML]="common.getTripStatusHTML(kpi.trip_status_type, kpi.x_showtripstart, kpi.x_showtripend, kpi.x_p_placement_type, kpi.x_p_loc_name)"></td>
        <td>{{kpi.x_kmph}}</td>
        <td>{{kpi.Address}}</td>

      </tr>
    </tbody>
  </table>
</div>
<div class="modal-body clearfix">
  <div style="margin: 0px -15px;">
    <div class="col-sm-4">
      <table class="table table-bordered table-hover">
        <thead class="thead" style="text-align:center">
          <th colspan="2">Generic Info</th>
        </thead>
        <tbody *ngIf="vehicleInfo">
          <tr>
            <td>Driver Name </td>
            <td>{{vehicleInfo.d_name ? vehicleInfo.d_name : 'Null'}}</td>
          </tr>
          <tr>
            <td>Driver Contact No </td>
            <td>{{vehicleInfo.d_mobile}}</td>
          </tr>
          <tr>
            <td>GPS Status </td>
            <td>{{vehicleInfo.gps_stat}}</td>
          </tr>
          <tr>
            <td>GPS Provider </td>
            <td>{{vehicleInfo.gps_prov}}</td>
          </tr>
          <tr>
            <td>Current Location </td>
            <td>{{vehicleInfo.current_loc}}</td>
          </tr>
          <tr>
            <td>Current Location Time</td>
            <td>{{vehicleInfo.cur_loc_time | date : 'dd-MMM-yyyy hh:mm a'}}</td>
          </tr>
          <tr>
            <td>Last Fetch Time</td>
            <td>{{vehicleInfo.last_fetch_time | date : 'dd-MMM-yyyy hh:mm a'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <table class="table table-bordered table-hover">
        <thead class="thead" style="text-align:center">
          <th colspan="2">Trip Information</th>
        </thead>
        <tbody *ngIf="vehicleInfo">
          <tr>
            <td>Distance From Source </td>
            <td>{{vehicleInfo.srckm}}</td>
          </tr>
          <tr>
            <td>Distance To Destination</td>
            <td>{{vehicleInfo.dstkm}}</td>
          </tr>
          <tr>
            <td>Trip Start Time</td>
            <td>{{vehicleInfo.trp_srt_time | date : 'dd-MMM-yyyy hh:mm a'}}</td>
          </tr>
          <tr>
            <td>Trip End Time</td>
            <td>{{vehicleInfo.trp_end_time | date : 'dd-MMM-yyyy hh:mm a'}}</td>
          </tr>
          <tr *ngIf="vehicleInfo['Empty End Time']">
            <td>Empty End Time</td>
            <td>{{vehicleInfo['Empty End Time'] | date : 'dd-MMM-yyyy hh:mm a'}}</td>
          </tr>
          <tr *ngIf="vehicleInfo['Event Start Time']">
            <td>{{vehicleInfo.start_time_label}}</td>
            <td>{{vehicleInfo['Event Start Time'] | date : 'dd-MMM-yyyy hh:mm a'}}</td>
          </tr>
          <tr *ngIf="vehicleInfo['Event Start Time']">
            <td>{{vehicleInfo.end_time_label}}</td>
            <td>{{vehicleInfo['Event End Time'] | date : 'dd-MMM-yyyy hh:mm a'}}</td>
          </tr>
         
          <tr>
            <td>ETOA</td>
            <td>{{vehicleInfo.etahr | date : 'dd-MMM-yyyy hh:mm a'}}</td>
          </tr>
          <tr>
            <td>Total KM</td>
            <td>{{vehicleInfo.totalkm}}</td>
          </tr>
          <tr>
            <td>% Movement time (Trip) </td>
            <td>{{vehicleInfo.mvttime}}</td>
          </tr>
          <tr>
            <td>KMPD</td>
            <td>{{vehicleInfo.kmpd}}</td>
          </tr>
          <tr>
            <td>LR Image</td>
            <td><span *ngIf="vehicleInfo.lr_id" (click)="getLR(vehicleInfo.lr_id)">View</span>
              <span *ngIf="!vehicleInfo.lr_id">N.A.</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <table class="table table-bordered table-hover">
        <thead class="thead" style="text-align:center">
          <th colspan="2">Performance Indicator</th>
        </thead>
        <tbody *ngIf="vehicleInfo">
          <tr>
            <td>Today's KM </td>
            <td>{{vehicleInfo.kmtoday}}</td>
          </tr>
          <tr>
            <td>Yesterday's KM </td>
            <td>{{vehicleInfo.kmyesterday}}</td>
          </tr>
          <tr>
            <td>KM Travelled (Month) </td>
            <td>{{vehicleInfo.kmmonth}}</td>
          </tr>
          <tr>
            <td>Loaded % KM (Month) </td>
            <td>{{vehicleInfo.lkmmonth}}</td>
          </tr>
          <tr>
            <td>% Movement Time (Month)</td>
            <td>{{vehicleInfo.mvttimemonth}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>




</div>
<div class="col-sm-12" style="text-align:center;margin-bottom: 15px">
  <button (click)="getUpadte(kpi)" style="padding:8px;border-radius: 5px; border:0px;" class="btn-primary"><b>Add
      Placements</b></button>
</div>
<div class="modal-footer col-sm-12">
  <button type="button" class="btn btn-outline-dark" (click)="closeModal()" style="cursor:pointer">Close</button>
</div>