.modal-header{
    padding: 15px 20px;
    .close{
        font-size: 30px;
    }
}
.modal-footer{
    button{
        margin: 0px;
        background-color: #000;
        color: #fff;
        padding: 15px 25px;
        display: block;
        height: auto;
        width: auto;
        outline: none;
    }
.previous-data{
    font-size: 14px;
    margin-bottom: 35px;
    color: darkblue;
    font-weight: 500;
}
}