<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">{{title}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="row">
      <div class="col-md-3">
        <label>Select Models</label>
      </div>
      <div class="col-md-3">
        <auto-suggestion (onSelected)="modelId = $event.id" display="name" placeholder="Enter Model" [data]="brands"
          [preSelected]="null"></auto-suggestion>
      </div>
      <div class="col-md-3">
        <label>Select Emission</label>
      </div>
      <div class="col-md-3">
        <select class="form-control" name="emission-type" [(ngModel)]="selectedEuro">
          <option *ngFor="let euro of euros;" [value]="euro">{{euro}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label>Is in Warraty?</label>
      </div>
      <div class="col-md-3">
        <select name="warranty" [(ngModel)]="isWarranty" class="form-control">
          <option [value]="1">Yes</option>
          <option [value]="0" selected>No</option>
        </select>
      </div>
      <div *ngIf="isWarranty == 1" class="col-md-3">
        <label>Service No</label>
      </div>
      <div class="col-md-3">
        <div class="row mb-0">
          <div class="col-12 pr-1">
            <input minlength="1" class="form-control" *ngIf="isWarranty == 1" type="number" name="service-no"
              [(ngModel)]="serviceNo" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label>{{isWarranty==1?'Kms':'Incremental Kms'}}</label>
      </div>
      <div class="col-md-3">
        <div class="row mb-0">
          <div class="col-12 pr-1">
            <input class="form-control" minlength="1" type="number" name="km" [(ngModel)]="nextKm" />
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <label>{{isWarranty==1?'Months':'Incremental Months'}}</label>
      </div>
      <div class="col-md-3">
        <div class="row mb-0">
          <div class="col-12 pr-1">
            <input class="form-control" minlength="1" type="number" name="month" [(ngModel)]="nextMonth" />
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <div class="row">
    <div class="col text-right" *ngIf="edit==0; else update">
      <button class="btn btn-primary" form="service-form" type="submit" (click)="addVehicleModel();" id="submit"
        style="cursor: pointer;">{{'Submit'}}</button>
    </div>
    <ng-template #update>
      <button class="btn btn-primary" form="service-form" type="submit" (click)="addVehicleModel();" id="submit"
        style="cursor: pointer;">{{'Submit'}}</button>
    </ng-template>
    <div class="col">
      <button class="btn btn-danger" type="button" (click)="closeModal(true)" id="cancel"
        style="cursor: pointer;">{{'Cancel'}}</button>
    </div>
  </div>
</div>