td {
    background-color:  #ffffff;
}

:host ::ng-deep .fa-trash {
    color: red;
    font-size: 18px;
    span{
        position: absolute;
        display: none;
        padding: 10px 28px;
        font-weight: normal;
        font-size: 11px;
        left: -22px;
        top: -28px;
        -webkit-box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
        box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
        font-family: Roboto;
        z-index:9999;
    }
    span::before{
        content: 'Delete';
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: red;
        border-radius: 3px;
        padding: 5px 10px;
        color:#fff;
        width: 100%;
    }
    span::after{
        content: '';
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid red;
        position: absolute;
        bottom: -5px;
        right: 24px;
    }
}
:host ::ng-deep .fa-trash:hover span{
    display: block;
}

:host ::ng-deep .fa-edit {
    color: black;
    font-size: 18px;
    span{
        position: absolute;
        display: none;
        padding: 10px 28px;
        font-weight: normal;
        font-size: 11px;
        left: -22px;
        top: -28px;
        -webkit-box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
        box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.5);
        font-family: Roboto;
        z-index:9999;
    }
    span::before{
        content: 'Edit';
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: black;
        border-radius: 3px;
        padding: 5px 10px;
        color:#fff;
        width: 100%;
    }
    span::after{
        content: '';
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid black;
        position: absolute;
        bottom: -5px;
        right: 24px;
    }
}
:host ::ng-deep .fa-edit:hover span{
    display: block;
}