<nb-card>
  <nb-card-header>
    <div class="col-sm-4">
      <h2>Ticket Properties</h2>
    </div>
  </nb-card-header>
  <nb-card-body style="min-height: 580px;">
    <div class="row">
      <div class="search mt-2 ml-2">
        <auto-suggestion (onSelected)="getSuggestions($event)" url="suggestion/getFoUsersList" display="name"
          placeholder="Search" [preSelected]="null"></auto-suggestion>
      </div>
    </div>
    <div class="row mt-2">
      <smart-table *ngIf="ticketProperties && ticketProperties.length" [data]="table.data" [settings]="table.settings">
      </smart-table>
    </div>
  </nb-card-body>
</nb-card>