<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">Save Advices</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>

</div>
<div class="modal-body">
  <div class="row mb-3 align-items-baseline" *ngIf="edit==0; else preselectedValue">
    <div class="col-2">
      <label>Vehicle Type</label>
    </div>
    <div class="col-2">
      <select class="form-control" (change)="resetData()" [(ngModel)]="id">
        <option *ngFor="let status of option" [value]="status.id">
          {{status.name}}

        </option>
      </select>
    </div>
    <div class="col-2" *ngIf="id==1">
      <auto-suggestion (onSelected)="selectVechile($event)" url="Vehicles/getVehicleListForFoid" display="regno"
        inputId="regno" placeholder=" ">
      </auto-suggestion>
    </div>
    <div class="col-2" *ngIf="id!=1">
      <input type="text" class="form-control" inputId="driver" name="name" placeholder="Regno" [(ngModel)]="regno">
    </div>

    <div class="col-2">
      <label>Reference</label>
    </div>
    <div class="col-2">
      <select class="form-control" (change)="refernceTypes()" [(ngModel)]="referenceId">
        <option *ngFor="let reftype of referenceType" [value]="reftype.id">
          {{reftype.name}}

        </option>
      </select>
    </div>
    <div class="col-2">
      <select class="form-control" name="refernceDatas" id="refernceDatas" [(ngModel)]="advice.refId"
        (onChange)="advice.refId=$event.id ; advice.refTypeName=$event.source_dest">
        <option value="-1">select type</option>
        <option *ngFor="let refernce of refernceData; let i = index" [value]="refernce.id">
          {{refernce.source_dest}}
        </option>
      </select>

      <!-- <auto-suggestion (onSelected)="advice.refId=$event.id;advice.refTypeName=$event.source_dest"
        display="source_dest" placeholder=" " style=" width:60%;" [data]="refernceData" inputId="driver">
      </auto-suggestion> -->
    </div>
  </div>

  <ng-template #preselectedValue>
    <div class="row mb-3 align-items-baseline">
      <div class="col-2">
        <label>Regno Number</label>
      </div>
      <div class="col-2">
        <label>{{regno}}</label>
      </div>
      <div class="col-2">
        <label>Reference Type</label>
      </div>
      <div class="col-2">
        <label>
          {{referenceName}}
        </label>
      </div>
      <div class="col-4">
        <label>{{advice.refTypeName}}</label>

      </div>
    </div>
  </ng-template>



  <div class="row mb-3 align-items-baseline">
    <div class="col-2">
      <label>Advice type</label>
    </div>

    <div class="col-2">
      <select class="form-control" (change)="getTypeDetails($event)" [(ngModel)]="advice_type_id">
        <option *ngFor="let type of type" [value]="type.id">
          {{type.description}}

        </option>
      </select>

    </div>
    <div class="col-2">
      <span><b>Mode</b></span>
    </div>
    <div class="col-2">
      <select class="form-control" [(ngModel)]="modeId">
        <option *ngFor="let mode of ModeData" [value]="mode.id">
          {{mode.description}}
        </option>
      </select>
    </div>



    <div class="col-2">
      <label>User value</label>
    </div>
    <div class="col-2">
      <input type="number" class="form-control" name="value" id="value" [(ngModel)]="user_value">
    </div>
  </div>
  <div class="row mb-3 align-items-center">
    <div class="col-2">
      <label>Driver</label>
    </div>
    <div class="col-2">
      <auto-suggestion (onSelected)="getDriverName($event)" url="Booster/getDrivers" display="empname" inputId="driver"
        [preSelected]="{empname:driverName}" placeholder="Search Driver">
      </auto-suggestion>
    </div>
    <div class="col-2">
      <label>Date</label>
    </div>
    <div class="col-2">
      <uj-date-time-picker (onChanged)="startDate=$event" class="" [dateTimeValue]="startDate" [isTime]=false>
      </uj-date-time-picker>
    </div>
    <div class="col-1">
      <label>Remark</label>
    </div>
    <div class="col-3">
      <textarea name="remark" id="remark" rows="3" cols="8" [(ngModel)]="remark" class="form-control"></textarea>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="text-center">
    <button class="btn btn-primary" id="button" (click)="getAdvice()">Submit</button>
  </div>
</div>