.modal-header {
    padding: 10px 15px;
    background-color: #263238;
}
.modal-header h5{
    color: #fff;
}
.ledger-container{
    border-radius: 0;
    padding: 8px;
    background-color: #e4e4e4;
    margin-top: 20px;
    max-height: 230px;
    min-height: 230px;
    overflow: auto;
}
.close{
    background: transparent;
    color: #fff !important;
    opacity: 1;
    padding: 10px 20px;
    margin: -10px -1rem -1rem auto;
    outline: none !important;
}

.date-modal{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999999;
    top: 0;
    left: 0;
}
.date-modal-body{
    background: #fff;
    width: 152px;
    margin: 15% auto auto auto;
}
.data_model_save{
    padding: 20px;
    text-align: center;
    width: auto;
    max-width: 250px;
}
.data_model_save button{
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 3px;
    background-color: black;
}
.ledger-option{
    border: 1px solid #263238;
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: normal;
    background-color: #263238;
    margin-bottom: 3px;
    color: #fff;
}
.active-ledger{
    background: #26a69a;
    font-weight: normal;
    border-color: #26a69a;
}
button { 
    outline: none;
    box-shadow: none;
    font-size: 30px;
}

nb-card-header{
    padding: 15px 20px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}
// .ref-label{
//     background: #263238;
//     color: #fff;
//     padding: 3px 8px;
//     margin: 0;
//     border-radius: 3px 3px 0px 0px;
//     font-size: 12px;
//     min-width: 80px !important;
//     font-weight: normal;
// }
// .ref-input{
//     border: 1px solid #263238 !important;
//     border-radius: 0px 2px 2px 2px;
//     padding: 3px 5px;
//     height: auto;
//     font-size: 12px;
// }
.date-modal-body .ng-pristine{
    border: 0px !important;
    padding: 8px;
    height: auto;
    width: auto;
    border-radius: 0px;
    line-height: initial;
}
.form-control:focus{
    border-color: #263238 !important;
}
button.btn-primary{
    background-color: #263238 !important;
    padding: 8px 10px !important;
}
table tr{
    th{
        padding: 5px 10px!important;
        font-weight: normal;
    }
    td{
        padding: 5px 10px!important;
        input, select{
            padding: 5px !important;
            height: 30px !important;
        }
    }
} 
.modal-footer{
    padding: 10px 15px;
}
.modal-footer button{
    text-transform: capitalize !important;
    font-size: 14px !important;
    padding: 8px 15px !important;
    vertical-align: middle;
    height: auto;
    border-radius: 5px !important;    
}
table{
    thead{
        display: table;
        width: 100%;
        table-layout: fixed;
        background-color: #263238;
        color: #fff;
    }
    tr{
        th:nth-child(1){
            width: 7.5%;
            padding: 5px 10px;
            font-weight: normal;
        }th:nth-child(2){
            width: 40%;
            padding: 5px 10px;
            font-weight: normal;
        }
        th:nth-child(3){
            width: 14.5%;
            padding: 5px 10px;
            font-weight: normal;
        }
        th:last-child{
            width: 2%;
            padding: 5px 10px;
            font-weight: normal;
        }
        td{
            padding: 5px 10px !important;
            font-size: 12px;
            button{
                padding: 0 !important;
                font-size: 11px;
                border-radius: 0px !important;
                margin: 0px;
                background-color: transparent;
                color: #263238;
                outline: none;
                box-shadow: none;
            }
        }
       
    }
    tbody{
        overflow-y: auto;
        display: block;
        width: 100%;
        table-layout: fixed;
        overflow: auto;
        max-height: calc(100vh - 406px);
        tr{
            display: table;
            table-layout: fixed;
            width: 100%;
            td:nth-child(1){
                width: 7.5%;
            }
            td:nth-child(2){
                width: 40%;
            }
            td:nth-child(3){
                width: 14.5%
            }
            td:last-child{
                width: 2%;
            }
        }
        tr:nth-child(odd){
            background-color: #fff;
        }
        tr:nth-child(even){
            background-color: #e4e4e4;
        }
    }
} 
// kavita singh

.btn-delete{
background-color: #dc3545;
}