<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Add Voucher ({{voucherName}})</h4>
  <button type="button" class="close" aria- label="Close" (click)="dismiss(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="row" style="margin-bottom: 30px;">
    <!--div class="col">
      <div class="form-group">
        <label>User</label>
        <auto-suggestion (onSelected)="onSelected($event, 'user', 'name')" url="Suggestion/getFoUsersList" display="name"
          placeholder="Enter Fo User" [preSelected]="null"></auto-suggestion>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>Voucher Type</label>
        <auto-suggestion (onSelected)="onSelected($event, 'voucher', 'name')" url="Suggestion/GetVouchertypeList"
          display="name" placeholder="Enter Voucher Type" [preSelected]="null"></auto-suggestion>
      </div>
    </div -->
    <div class="col">
      <div class="form-group">
        <label>Ref</label>
        <input type="text" class="form-control" name="account-name" [(ngModel)]="voucher.code">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>Date</label>
        <!--input type="text" class="form-control" name="account-name" [(ngModel)]="Voucher.date"-->
        <input type="text" style="cursor: pointer;" class="form-control" autocomplete="off" (click)="getDate('date')"
          placeholder="Select Date" [value]="date | date: 'dd MMM yyyy'" name="account-date" [(ngModel)]="voucher.date" readonly>
      </div>
    </div>

  </div>
<div class="row"></div>
<div class="row">
<table style="width: 789px;">
  <tr style="background: #e8f0f3;">
    <th >Transaction </th>
    <th>Ledger</th>
    <th>Debit Amount</th>
    <th>Credit Amount</th>&nbsp;
    <th>&nbsp;</th>
  </tr>
  <tr *ngFor="let amountDetail of voucher.amountDetails; let i = index;" style="background: #e8f0f3;">
<td>
    <select class="form-control transaction" (change)="amountDetail.amount.debit = 0; amountDetail.amount.credit = 0;" [name]="'transaction-type-' + i" [(ngModel)]="amountDetail.transactionType">
        <option value="debit">Debit</option>
        <option value="credit">Credit</option>
      </select>
</td>
<td>
    <auto-suggestion (onSelected)="amountDetail.ledger = $event.y_ledger_id" [url]="'Suggestion/GetLedger?transactionType=' + amountDetail.transactionType +'&voucherId=' + voucherId"  display="y_ledger_name"
    placeholder="Enter Ledger" [preSelected]="null"></auto-suggestion>
</td>
<td>
    <input type="number" class="form-control" [name]="'debit-amount-' + i" [(ngModel)]="amountDetail.amount.debit" [readonly]="amountDetail.transactionType == 'credit'"  >
</td>
<td>
    <input type="number" class="form-control" [name]="'credit-amount-' + i" [(ngModel)]="amountDetail.amount.credit" [readonly]="amountDetail.transactionType == 'debit'" >
     
</td>
<td *ngIf="i == 0"  >
    <i class="fa fa-plus text-primary" (click)="addAmountDetails()" style="font-size: 40px;"></i>
</td>
  <td *ngIf="i !== 0"> 
    <i class="fa fa-trash text-primary" (click)="voucher.amountDetails.splice(i,1)"></i>
  </td>
</tr>
</table>
</div>
  <!-- Amount Details -->
  <!--div class="row" *ngFor="let amountDetail of voucher.amountDetails; let i = index;" style="background: #e8f0f3;">
    <div class="col-3">
      <div class="form-group">
        <label>Transaction Type</label>
        <select class="form-control transaction" (change)="amountDetail.amount.debit = 0; amountDetail.amount.credit = 0;" [name]="'transaction-type-' + i" [(ngModel)]="amountDetail.transactionType">
          <option value="debit">Debit</option>
          <option value="credit">Credit</option>
        </select>
      </div>
    </div>

    <div class="col-3">
      <div class="form-group">
        <label>Ledger</label>
        <auto-suggestion (onSelected)="amountDetail.ledger = $event.y_ledger_id" [url]="'Suggestion/GetLedger?transactionType=' + amountDetail.transactionType +'&voucherId=' + voucherId"  display="y_ledger_name"
          placeholder="Enter Ledger" [preSelected]="null"></auto-suggestion>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label>Debit Amount</label>
        <input type="number" class="form-control" [name]="'debit-amount-' + i" [(ngModel)]="amountDetail.amount.debit" [readonly]="amountDetail.transactionType == 'credit'"  >
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label>Credit Amount</label>
        <input type="number" class="form-control" [name]="'credit-amount-' + i" [(ngModel)]="amountDetail.amount.credit" [readonly]="amountDetail.transactionType == 'debit'" >
      </div>
    </div>
    <div class="col-1" *ngIf="i == 0">
      <i class="fa fa-plus text-primary" (click)="addAmountDetails()"></i>
    </div>
    <div class="col-1" *ngIf="i !== 0">
      <i class="fa fa-trash text-primary" (click)="voucher.amountDetails.splice(i,1)"></i>
    </div>
  </div-->
  <!-- End Amount Details -->
  <div class="row">
      <div class="col-6">
          <div class="form-group">
              <label>Remarks</label>
              <input type="textarea" class="form-control"  name="account-name" [(ngModel)]="voucher.remarks">
            </div>
      </div>
  <div class="col-2">
      <div class="form-group">
        <label>Total Debit</label>
        <input type="text" class="form-control" name="account-name" readonly [value]="calculateTotal('debit')" style="background: #e8f0f3">
      </div>
    </div>
    <div class="col-2">
        <div class="form-group">
          <label>Total Credit</label>
          <input type="text" class="form-control" name="account-name" readonly [value]="calculateTotal('credit')" style="background: #e8f0f3">
        </div>
      </div>
  </div>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col">
      <button class="btn btn-danger" type="button" outline (click)="dismiss(false)" id="cancel" style="cursor: pointer;">Cancel</button>
    </div>
    <div class="col text-right">
      <button class="btn btn-primary" type="button" outline (click)="dismiss(true)" id="submit" style="cursor: pointer;">Submit
      </button>
    </div>
  </div>
</div>