table tr td button {
    padding: 0px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin: 0px;
    cursor: pointer !important;
}

.btn-primary {
    text-transform: capitalize;
}

nb-card-header {
    padding: 10px 15px;
    border: 1px solid #efefef;
}

:host ::ng-deep .tableFixHead {
    height: auto !important;
    max-height: 60vh;
}

.tabset {
    padding: 0px !important;
    margin-bottom: 20px!important;
}

.alert-danger {
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 12px !important;
    font-size: 18px !important;
}

table {
    thead {
        display: table;
        width: 100%;
        table-layout: fixed;
        background-color: #263238;
        color: #fff;
    }
    tr {
        th {
            padding: 5px 8px;
            font-weight: normal;
            width: 203px;
        }
        th:nth-child(1) {
            width: 30px;
        }
        th:last-child {
            width: auto;
        }
        td {
            padding: 5px 8px !important;
            font-size: 12px;
            position: relative;
        }
    }
    tbody {
        overflow-y: auto;
        display: block;
        width: 100%;
        table-layout: fixed;
        overflow: auto;
        max-height: calc(100vh - 235px);
        tr {
            display: table;
            table-layout: fixed;
            td:nth-child(1) {
                width: 30px;
            }
            td {
                width: 250px;
            }
            td:last-child {
                width: auto;
                word-break: break-all;
            }
        }
        tr:nth-child(odd) {
            background-color: #fff;
        }
        tr:nth-child(even) {
            background-color: #e4e4e4;
        }
    }
}


:host ::ng-deep.text-blue {
    color: blue;
}