<nb-card>
  <nb-card-header>
    <h2>Tyre Inventory</h2>
  </nb-card-header>

  <nb-card-body>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
         <input type="text" class="form-control" placeholder="search customer" (input)="searchUser()" name="searchString" [(ngModel)]="searchString">
        <ul *ngIf = " (showSuggestions)&&(foUsers.length >  0)" >
            <li *ngFor="let foUser of foUsers;" (click) = "selectUser(foUser)" >
              {{ foUser.name}}
            </li>
          </ul>
        </div>
      <div class="col-sm-4">
        <input id="modelNo" name="modelNo" type="text" placeholder=" Enter Model No" (input)="searchModels()" autocomplete="off" class="form-control" [(ngModel)]="searchModelString">
        <ul *ngIf = " (modelSuggestion)&&(models.length >  0)" >
            <li *ngFor="let model of models;" (click) = "selectmodel(model)" >
              {{ model.name}}
            </li>
          </ul>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4"><input id="TyreNo" name="TyreNo" type="text" placeholder="Enter Tyre number" autocomplete="off"
          class="form-control"  [(ngModel)]="TyreNo"></div>
      <div class="col-sm-4">
          <input type="text" style="cursor: pointer;" class="form-control" autocomplete="off" (click)="getDate('date')" placeholder="Select Date"
          [value]="date | date: 'dd MMM yyyy'" name="date" readonly>
        <!-- <input id="otherDetails" name="date" type="text" placeholder="date" autocomplete="off" class="form-control"  [(ngModel)]="date"> -->
      </div>
      <div class="col-sm-2"></div>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>

      <div class="col-sm-4">
        <input id="otherDetails" name="otherDetails" type="text" placeholder="Other Details" autocomplete="off" class="form-control"  [(ngModel)]="OtherDetails">
      </div>
      <div class="col-sm-2"></div>
    </div>


  </nb-card-body>
</nb-card>