<div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Tyre Inventory</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>



<!-- <nb-card-header>
        <div class="row">
            <div class="col-sm-3">
                <h5></h5>
            </div>

            <div class="col-sm-2">
                <select class="form-control" name="typelist" [(ngModel)]="typeListId" (change)="typeList()">
                    <option value="-1">All</option>
                    <option value="1">Mapped</option>
                    <option value="0">UnMapped</option>
                </select>
            </div>
            <div class="col-sm-4 text-right">
                <div class="row" *ngIf="userType=='admin'">
                    <div class="col-6 pl-0">
                        <div class="upload-btn-wrapper">
                            <input type="file" name="csv" (change)="handleFileSelection($event)">
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            <button (click)="importCsv()" class="btn btn-primary m-0 w-100 pl-0 pr-0">Import CSV Inventory</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       

    </nb-card-header> -->
<div class="model-body">

    <div class="min-height:250px;">
        <table class="table table-bordered table-hover" *ngIf="inventories">
            <thead class="thead">
                <tr style="text-align:center">
                    <th># </th>
                    <th>Tyre Model</th>
                    <th>Size</th>
                    <th>Tyre No </th>
                    <th>Purchase_Date</th>
                    <th>Purchase_Amount</th>
                    <th>Remarks</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let inventory of inventories; let i = index;">
                    <td>{{i+1}}</td>
                    <td width="14%">
                        <auto-suggestion (onSelected)="selectModel($event,i)" url="Suggestion/getTyreNamesWithBrands"
                            display="modelname" placeholder="Model No" [inputId]="'modelNo_' + i"></auto-suggestion>

                    </td>
                    <td width="14%">
                        <auto-suggestion (onSelected)="getTyreSize($event,i)" url="Suggestion/getTyreSize"
                            display="size" placeholder="Size" [inputId]="'size-' + i"></auto-suggestion>


                    </td>
                    <td width="14%"><input id="TyreNo" name="TyreNo" type="text" placeholder="Enter Tyre number"
                            autocomplete="off" class="form-control" [(ngModel)]="inventory.tyreNo" (focus)="size(i)">
                    </td>
                    <td width="14%">
                        <input type="text" style="cursor: pointer;" class="form-control" autocomplete="off"
                            (click)="getDate(i)" placeholder="Select Date"
                            [value]="inventory.date1 | date: 'dd MMM yyyy'" name="date" readonly>

                    </td>
                    <td width="14%"><input id="Tyreamount" name="Tyreamount" type="number"
                            placeholder="Enter Tyre amount" autocomplete="off" class="form-control"
                            [(ngModel)]="inventory.cost" (focus)="size(i)">
                    </td>

                    <td width="14%"><input id="remark" name="remark" type="text"
                        placeholder="Remark" autocomplete="off" class="form-control"
                        [(ngModel)]="inventory.remarks">
                </td>
                    <!-- <td><input id="is_health" name="is_health" type="checkbox" autocomplete="off" class="form-control"
                [(ngModel)]="inventory.is_health" (change)="valueReset(i)">
            </td>
            <td><input id="nsd1" name="nsd1" type="text" placeholder="nsd1" autocomplete="off"
                class="form-control" [(ngModel)]="inventory.nsd1" [readOnly]="!inventory.is_health">
            </td>
            <td><input id="nsd2" name="nsd2" type="text" placeholder="nsd2" autocomplete="off"
                class="form-control" [(ngModel)]="inventory.nsd2" [readOnly]="!inventory.is_health">
            </td>
            <td><input id="nsd3" name="nsd3" type="text" placeholder="nsd3" autocomplete="off"
                class="form-control" [(ngModel)]="inventory.nsd3" [readOnly]="!inventory.is_health">
            </td>
            <td><input id="psi" name="psi" type="text" placeholder="psi" autocomplete="off" class="form-control"
                [(ngModel)]="inventory.psi" [readOnly]="!inventory.is_health">
            </td> -->
                    <td *ngIf="i == 0">
                        <button class="btn btn-primary add" (click)="addMore()"><i class="fa fa-plus"></i></button>
                    </td>
                    <td *ngIf="i !== 0">
                        <button class="btn btn-danger remove" (click)="inventories.splice(i,1)"><i
                                class="fa fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="row-width clearfix">
        <div class="text-right">
            <button class="btn btn-primary" type="button" outline (click)="testFilledData()" id="saveDetails"
                style="cursor: pointer;">Save</button>


        </div>
    </div>
    <!-- <div>
            <smart-table [data]="tables.tyrePendingCount.data" [settings]="tables.tyrePendingCount.settings" id="tyrependingcount">
            </smart-table>
        </div> -->
</div>