table tr td button{
    padding: 0px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin: 0px;
     cursor: pointer !important;
}
.btn-primary{
    text-transform: capitalize;
}
nb-card-header{
    padding: 10px 15px;
    border: 1px solid #efefef;
}
.tabset{
    padding: 0px !important;
    margin-bottom: 20px!important;
}
.alert-danger{
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 12px !important;
    font-size: 18px !important;
}
table{
    thead{
        background-color: #263238;
        color: #fff;
    }
    tr{
        th{
            padding: 5px 10px;
            font-weight: normal;
        }
        td{
            padding: 5px 10px !important;
            font-size: 12px;
            input{
                padding: 5px;
                height: 28px;
                font-weight: normal;
                outline: none;
                font-size: 12px;
            }
        }
    }
    tbody{
        tr:nth-child(odd){
            background-color: #fff;
        }
        tr:nth-child(even){
            background-color: #e4e4e4;
        }
    }
} 