<nb-card>
  <nb-card-header>
    <h2>Tyre Inventory</h2>
  </nb-card-header>

  <nb-card-body>

    <div style="margin-top:20px">
      <table class="table table-bordered table-hover" *ngIf="inventories">
        <thead class="thead">
          <tr>
            <th># </th>
            <th>Tyre Model</th>
            <th>Tyre No </th>
            <th>Purchase Date</th>
            <th>Is Health Details</th>
            <th>NSD-1</th>
            <th>NSD-2</th>
            <th>NSD-3</th>
            <th>PSI</th>

          </tr>

        </thead>
        <tbody>
          <tr *ngFor="let inventory of inventories; let i = index;">
            <td>{{i+1}}</td>
            <td>
              <input [id]="'modelNo_'+i" [name]="'modelNo_'+i" type="text" placeholder=" Enter Model No" (input)="searchModels(inventory.searchModelString, i)"
                autocomplete="off" class="form-control" [(ngModel)]="inventory.searchModelString" style="width : 175px">
              <div *ngIf="activeRow == i">
                <ul *ngIf="(modelSuggestion) && (models.length >  0)">
                  <li *ngFor="let model of models;" (click)="selectModel(model,i)">
                    {{ model.name}} : {{model.brand}}
                  </li>
                </ul>
              </div>
            </td>
            <td><input id="TyreNo" name="TyreNo" type="text" placeholder="Enter Tyre number" autocomplete="off" class="form-control"
                [(ngModel)]="inventory.tyreNo"  style="width : 175px">
            </td>
            <td>
                <input type="text" style="cursor: pointer;" class="form-control" autocomplete="off" (click)="getDate(i)" placeholder="Select Date"
                [value]="inventory.date1 | date: 'dd MMM yyyy'" name="date" readonly >
              <!-- <input [(ngModel)]="inventory.date1" [owlDateTime]="date " [owlDateTimeTrigger]="date " placeholder="Date Time"
                class="form-control" autocomplete="off" name="date" style="width : 175px" >
              <owl-date-time #date></owl-date-time> -->
            </td>
            <td><input id="is_health" name="is_health" type="checkbox" autocomplete="off" class="form-control"
                [(ngModel)]="inventory.is_health" style="height: 25px;margin-top: 10px;"  (change)="valueReset(i)">
            </td>
            <td><input id="nsd1" name="nsd1" type="text" placeholder="Enter nsd1" autocomplete="off" class="form-control"
                [(ngModel)]="inventory.nsd1" [readOnly] = "!inventory.is_health">
            </td>
            <td><input id="nsd2" name="nsd2" type="text" placeholder="Enter nsd2" autocomplete="off" class="form-control"
                [(ngModel)]="inventory.nsd2" [readOnly] = "!inventory.is_health">
            </td>
            <td><input id="nsd3" name="nsd3" type="text" placeholder="Enter nsd3" autocomplete="off" class="form-control"
                [(ngModel)]="inventory.nsd3" [readOnly] = "!inventory.is_health">
            </td>
            <td><input id="psi" name="psi" type="text" placeholder="Enter psi" autocomplete="off" class="form-control"
                [(ngModel)]="inventory.psi" [readOnly] = "!inventory.is_health">
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row row-width">
      <div class="col-sm-9"> </div>

      <div class="col-sm-3">
        <button class="btn " type="button" outline (click)="addMore()" id="addmore" style="cursor: pointer;">+</button>
        <button class="btn btn-danger" type="button" outline (click)="remove()" id="remove" style="cursor: pointer;">-</button>
      </div>
    </div>
    <div class="row row-width">
      <div class="col-sm-1"> </div>
      <div class="col-sm-2"> </div>

      <div class="col-sm-3">
        <button class="btn btn-primary" type="button" outline (click)="testFilledData()" id="saveDetails" style="cursor: pointer; margin-left:15px">Save</button>
      </div>
      <div class="col-sm-5"></div>

    </div>
  </nb-card-body>
</nb-card>

<!-- table to display search data -->
<nb-card>
  <nb-card-body>
    <table class="table table-bordered table-hover" *ngIf="searchedTyreDetails">
      <thead class="thead">
        <tr>
          <th># </th>
          <th>Model </th>
          <th>Tyre No </th>
          <th>Entry Date </th>
          <th>Enter By </th>
          <th>Date </th>
          <!-- <th>Details</th> -->

        </tr>

      </thead>
      <tbody>
        <tr *ngFor="let tyreDetail of searchedTyreDetails; let i = index;">
          <td>{{i+1}}</td>
          <td>{{tyreDetail.brand}} - {{tyreDetail.model}} </td>
          <td>{{tyreDetail.tyreno}}</td>
          <td>{{tyreDetail.entrydate | date : 'dd-MMM-yyyy hh:mm a'}}</td>
          <td>{{tyreDetail.entryby}}</td>
          <td>{{tyreDetail.date | date : 'dd-MMM-yyyy hh:mm a'}}</td>
          <!-- <td>{{tyreDetail.details}}</td> -->
        </tr>
      </tbody>
    </table>
    <div class="no-data" *ngIf="!searchedTyreDetails.length">
      No Data available !
    </div>
  </nb-card-body>
</nb-card>